<%= simple_form_for(@staff) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :S_INITIALS %>
    <%= f.input :S_NAME %>
    <%= f.input :S_ADDRESS1 %>
    <%= f.input :S_ADDRESS2 %>
    <%= f.input :S_ADDRESS3 %>
    <%= f.input :S_TASK %>
    <%= f.input :S_BILL_RATE %>
    <%= f.input :S_COST_RATE %>
    <%= f.input :S_SSN %>
    <%= f.input :S_PC_NUM %>
    <%= f.input :S_MTD %>
    <%= f.input :S_YTD %>
    <%= f.input :S_HOURS %>
    <%= f.input :S_1 %>
    <%= f.input :S_2 %>
    <%= f.input :S_3 %>
    <%= f.input :S_4 %>
    <%= f.input :S_5 %>
    <%= f.input :S_6 %>
    <%= f.input :S_7 %>
    <%= f.input :S_8 %>
    <%= f.input :S_9 %>
    <%= f.input :S_10 %>
    <%= f.input :S_11 %>
    <%= f.input :S_12 %>
    <%= f.input :S_B1 %>
    <%= f.input :S_B2 %>
    <%= f.input :S_B3 %>
    <%= f.input :S_B4 %>
    <%= f.input :S_B5 %>
    <%= f.input :S_B6 %>
    <%= f.input :S_B7 %>
    <%= f.input :S_B8 %>
    <%= f.input :S_B9 %>
    <%= f.input :S_B10 %>
    <%= f.input :S_B11 %>
    <%= f.input :S_B12 %>
    <%= f.input :S_LSTYR_1 %>
    <%= f.input :S_LSTYR_2 %>
    <%= f.input :S_LSTYR_3 %>
    <%= f.input :S_LSTYR_4 %>
    <%= f.input :S_LSTYR_5 %>
    <%= f.input :S_LSTYR_6 %>
    <%= f.input :S_LSTYR_7 %>
    <%= f.input :S_LSTYR_8 %>
    <%= f.input :S_LSTYR_9 %>
    <%= f.input :S_LSTYR_10 %>
    <%= f.input :S_LSTYR_11 %>
    <%= f.input :S_LSTYR_12 %>
    <%= f.input :S_OFFICE_PHONE %>
    <%= f.input :S_HOURS_WEEK %>
    <%= f.input :S_FACE %>
    <%= f.input :S_TYPE %>
    <%= f.input :S_NOTES %>
    <%= f.input :S_DEPT %>
    <%= f.input :S_HOURS_ACT %>
    <%= f.input :S_TEAM %>
    <%= f.input :S_PLAN_WEEK %>
    <%= f.input :S_PLAN_MONDAY %>
    <%= f.input :S_PLAN_TUESDAY %>
    <%= f.input :S_PLAN_WEDNESDAY %>
    <%= f.input :S_PLAN_THURSDAY %>
    <%= f.input :S_PLAN_FRIDAY %>
    <%= f.input :S_REQ_TIME %>
    <%= f.input :S_ACT_MONDAY %>
    <%= f.input :S_ACT_TUESDAY %>
    <%= f.input :S_ACT_WEDNESDAY %>
    <%= f.input :S_ACT_THURSDAY %>
    <%= f.input :S_ACT_FRIDAY %>
    <%= f.input :S_ACT_SATURDAY %>
    <%= f.input :S_ACT_SUNDAY %>
    <%= f.input :S_PLAN_SATURDAY %>
    <%= f.input :S_PLAN_SUNDAY %>
    <%= f.input :S_REQ_PLAN %>
    <%= f.input :S_HOME_PHONE %>
    <%= f.input :S_OT_COST_RATE %>
    <%= f.input :S_OT_BILL_RATE %>
    <%= f.input :S_TITLE %>
    <%= f.input :S_ACTIVE %>
    <%= f.input :S_EMAIL %>
    <%= f.input :S_BACKUP_PERSON %>
    <%= f.input :S_FREELANCE %>
    <%= f.input :S_PERIOD %>
    <%= f.input :S_TIME_COP %>
    <%= f.input :S_EMAIL_SIG %>
    <%= f.input :S_SUPERVISOR %>
    <%= f.input :S_FAX %>
    <%= f.input :S_WEB_ACCESS %>
    <%= f.input :S_SMTP_AUTH_ID %>
    <%= f.input :S_SMTP_AUTH_PW %>
    <%= f.input :S_VENDOR %>
    <%= f.input :S_ADDED_BY %>
    <%= f.input :S_ADDED_WHEN %>
    <%= f.input :S_EDITED_BY %>
    <%= f.input :S_EDITED_WHEN %>
    <%= f.input :S_DATE_HIRED %>
    <%= f.input :S_DATE_TERM %>
    <%= f.input :S_OA %>
    <%= f.input :S_APP_VERSION %>
    <%= f.input :S_APPR_EXEMPT %>
    <%= f.input :S_SW_UPDATE_NOW %>
    <%= f.input :S_HOMEBASE_EMAIL %>
    <%= f.input :S_JOBR %>
    <%= f.input :S_WEB_ACCESS1 %>
    <%= f.input :S_WEB_ACCESS2 %>
    <%= f.input :S_WEB_ACCESS3 %>
    <%= f.input :S_WEB_ACCESS4 %>
    <%= f.input :S_WEB_ACCESS5 %>
    <%= f.input :S_WEB_ACCESS6 %>
    <%= f.input :S_WEB_ACCESS7 %>
    <%= f.input :S_WEB_ACCESS8 %>
    <%= f.input :S_WEB_ACCESS9 %>
    <%= f.input :S_WEB_ACCESS10 %>
    <%= f.input :S_WEB_ACCESS11 %>
    <%= f.input :S_WEB_ACCESS12 %>
    <%= f.input :S_SCHEDULABLE %>
    <%= f.input :S_WINNERS_OPT_IN %>
    <%= f.input :S_TIME_POINT_OPT_IN %>
    <%= f.input :S_SEND_CHIRPS %>
    <%= f.input :S_SEND_CHIRPS_TO %>
    <%= f.input :S_CSIDE_STATUS_REPORT %>
    <%= f.input :S_CSIDE_TRAFFIC_REPORT %>
    <%= f.input :S_CSIDE_JOBS %>
    <%= f.input :S_CSIDE_JOB_REQUESTS %>
    <%= f.input :S_CSIDE_APPR_ESTS %>
    <%= f.input :S_CSIDE_APPR_SCHEDS %>
    <%= f.input :S_CSIDE_APPR_CHANGES %>
    <%= f.input :S_CSIDE_APPR_ART %>
    <%= f.input :S_CSIDE_PROPOSALS %>
    <%= f.input :S_GETS_HOMEBASE_EMAILS %>
    <%= f.input :S_CSIDE_RATE_JOBS %>
    <%= f.input :S_CLIENT_NUM %>
    <%= f.input :S_CSIDE_APPR_CREBRIEF %>
    <%= f.input :S_WEB_ACCESS_SUSPENDED %>
    <%= f.input :S_CSIDE_CLIENTS %>
    <%= f.input :S_WEB_ACCESS_EXPIRES %>
    <%= f.input :S_EMAIL_OVERDUES %>
    <%= f.input :S_CAL1_KEY %>
    <%= f.input :S_CAL2_KEY %>
    <%= f.input :S_CAL3_KEY %>
    <%= f.input :S_CAL4_KEY %>
    <%= f.input :S_CAL5_KEY %>
    <%= f.input :S_CSIDE_TYPE_CAT %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
