<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @staff.primaryKey %>
</p>

<p>
  <strong>S initials:</strong>
  <%= @staff.S_INITIALS %>
</p>

<p>
  <strong>S name:</strong>
  <%= @staff.S_NAME %>
</p>

<p>
  <strong>S address1:</strong>
  <%= @staff.S_ADDRESS1 %>
</p>

<p>
  <strong>S address2:</strong>
  <%= @staff.S_ADDRESS2 %>
</p>

<p>
  <strong>S address3:</strong>
  <%= @staff.S_ADDRESS3 %>
</p>

<p>
  <strong>S task:</strong>
  <%= @staff.S_TASK %>
</p>

<p>
  <strong>S bill rate:</strong>
  <%= @staff.S_BILL_RATE %>
</p>

<p>
  <strong>S cost rate:</strong>
  <%= @staff.S_COST_RATE %>
</p>

<p>
  <strong>S ssn:</strong>
  <%= @staff.S_SSN %>
</p>

<p>
  <strong>S pc num:</strong>
  <%= @staff.S_PC_NUM %>
</p>

<p>
  <strong>S mtd:</strong>
  <%= @staff.S_MTD %>
</p>

<p>
  <strong>S ytd:</strong>
  <%= @staff.S_YTD %>
</p>

<p>
  <strong>S hours:</strong>
  <%= @staff.S_HOURS %>
</p>

<p>
  <strong>S 1:</strong>
  <%= @staff.S_1 %>
</p>

<p>
  <strong>S 2:</strong>
  <%= @staff.S_2 %>
</p>

<p>
  <strong>S 3:</strong>
  <%= @staff.S_3 %>
</p>

<p>
  <strong>S 4:</strong>
  <%= @staff.S_4 %>
</p>

<p>
  <strong>S 5:</strong>
  <%= @staff.S_5 %>
</p>

<p>
  <strong>S 6:</strong>
  <%= @staff.S_6 %>
</p>

<p>
  <strong>S 7:</strong>
  <%= @staff.S_7 %>
</p>

<p>
  <strong>S 8:</strong>
  <%= @staff.S_8 %>
</p>

<p>
  <strong>S 9:</strong>
  <%= @staff.S_9 %>
</p>

<p>
  <strong>S 10:</strong>
  <%= @staff.S_10 %>
</p>

<p>
  <strong>S 11:</strong>
  <%= @staff.S_11 %>
</p>

<p>
  <strong>S 12:</strong>
  <%= @staff.S_12 %>
</p>

<p>
  <strong>S b1:</strong>
  <%= @staff.S_B1 %>
</p>

<p>
  <strong>S b2:</strong>
  <%= @staff.S_B2 %>
</p>

<p>
  <strong>S b3:</strong>
  <%= @staff.S_B3 %>
</p>

<p>
  <strong>S b4:</strong>
  <%= @staff.S_B4 %>
</p>

<p>
  <strong>S b5:</strong>
  <%= @staff.S_B5 %>
</p>

<p>
  <strong>S b6:</strong>
  <%= @staff.S_B6 %>
</p>

<p>
  <strong>S b7:</strong>
  <%= @staff.S_B7 %>
</p>

<p>
  <strong>S b8:</strong>
  <%= @staff.S_B8 %>
</p>

<p>
  <strong>S b9:</strong>
  <%= @staff.S_B9 %>
</p>

<p>
  <strong>S b10:</strong>
  <%= @staff.S_B10 %>
</p>

<p>
  <strong>S b11:</strong>
  <%= @staff.S_B11 %>
</p>

<p>
  <strong>S b12:</strong>
  <%= @staff.S_B12 %>
</p>

<p>
  <strong>S lstyr 1:</strong>
  <%= @staff.S_LSTYR_1 %>
</p>

<p>
  <strong>S lstyr 2:</strong>
  <%= @staff.S_LSTYR_2 %>
</p>

<p>
  <strong>S lstyr 3:</strong>
  <%= @staff.S_LSTYR_3 %>
</p>

<p>
  <strong>S lstyr 4:</strong>
  <%= @staff.S_LSTYR_4 %>
</p>

<p>
  <strong>S lstyr 5:</strong>
  <%= @staff.S_LSTYR_5 %>
</p>

<p>
  <strong>S lstyr 6:</strong>
  <%= @staff.S_LSTYR_6 %>
</p>

<p>
  <strong>S lstyr 7:</strong>
  <%= @staff.S_LSTYR_7 %>
</p>

<p>
  <strong>S lstyr 8:</strong>
  <%= @staff.S_LSTYR_8 %>
</p>

<p>
  <strong>S lstyr 9:</strong>
  <%= @staff.S_LSTYR_9 %>
</p>

<p>
  <strong>S lstyr 10:</strong>
  <%= @staff.S_LSTYR_10 %>
</p>

<p>
  <strong>S lstyr 11:</strong>
  <%= @staff.S_LSTYR_11 %>
</p>

<p>
  <strong>S lstyr 12:</strong>
  <%= @staff.S_LSTYR_12 %>
</p>

<p>
  <strong>S office phone:</strong>
  <%= @staff.S_OFFICE_PHONE %>
</p>

<p>
  <strong>S hours week:</strong>
  <%= @staff.S_HOURS_WEEK %>
</p>

<p>
  <strong>S face:</strong>
  <%= @staff.S_FACE %>
</p>

<p>
  <strong>S type:</strong>
  <%= @staff.S_TYPE %>
</p>

<p>
  <strong>S notes:</strong>
  <%= @staff.S_NOTES %>
</p>

<p>
  <strong>S dept:</strong>
  <%= @staff.S_DEPT %>
</p>

<p>
  <strong>S hours act:</strong>
  <%= @staff.S_HOURS_ACT %>
</p>

<p>
  <strong>S team:</strong>
  <%= @staff.S_TEAM %>
</p>

<p>
  <strong>S plan week:</strong>
  <%= @staff.S_PLAN_WEEK %>
</p>

<p>
  <strong>S plan monday:</strong>
  <%= @staff.S_PLAN_MONDAY %>
</p>

<p>
  <strong>S plan tuesday:</strong>
  <%= @staff.S_PLAN_TUESDAY %>
</p>

<p>
  <strong>S plan wednesday:</strong>
  <%= @staff.S_PLAN_WEDNESDAY %>
</p>

<p>
  <strong>S plan thursday:</strong>
  <%= @staff.S_PLAN_THURSDAY %>
</p>

<p>
  <strong>S plan friday:</strong>
  <%= @staff.S_PLAN_FRIDAY %>
</p>

<p>
  <strong>S req time:</strong>
  <%= @staff.S_REQ_TIME %>
</p>

<p>
  <strong>S act monday:</strong>
  <%= @staff.S_ACT_MONDAY %>
</p>

<p>
  <strong>S act tuesday:</strong>
  <%= @staff.S_ACT_TUESDAY %>
</p>

<p>
  <strong>S act wednesday:</strong>
  <%= @staff.S_ACT_WEDNESDAY %>
</p>

<p>
  <strong>S act thursday:</strong>
  <%= @staff.S_ACT_THURSDAY %>
</p>

<p>
  <strong>S act friday:</strong>
  <%= @staff.S_ACT_FRIDAY %>
</p>

<p>
  <strong>S act saturday:</strong>
  <%= @staff.S_ACT_SATURDAY %>
</p>

<p>
  <strong>S act sunday:</strong>
  <%= @staff.S_ACT_SUNDAY %>
</p>

<p>
  <strong>S plan saturday:</strong>
  <%= @staff.S_PLAN_SATURDAY %>
</p>

<p>
  <strong>S plan sunday:</strong>
  <%= @staff.S_PLAN_SUNDAY %>
</p>

<p>
  <strong>S req plan:</strong>
  <%= @staff.S_REQ_PLAN %>
</p>

<p>
  <strong>S home phone:</strong>
  <%= @staff.S_HOME_PHONE %>
</p>

<p>
  <strong>S ot cost rate:</strong>
  <%= @staff.S_OT_COST_RATE %>
</p>

<p>
  <strong>S ot bill rate:</strong>
  <%= @staff.S_OT_BILL_RATE %>
</p>

<p>
  <strong>S title:</strong>
  <%= @staff.S_TITLE %>
</p>

<p>
  <strong>S active:</strong>
  <%= @staff.S_ACTIVE %>
</p>

<p>
  <strong>S email:</strong>
  <%= @staff.S_EMAIL %>
</p>

<p>
  <strong>S backup person:</strong>
  <%= @staff.S_BACKUP_PERSON %>
</p>

<p>
  <strong>S freelance:</strong>
  <%= @staff.S_FREELANCE %>
</p>

<p>
  <strong>S period:</strong>
  <%= @staff.S_PERIOD %>
</p>

<p>
  <strong>S time cop:</strong>
  <%= @staff.S_TIME_COP %>
</p>

<p>
  <strong>S email sig:</strong>
  <%= @staff.S_EMAIL_SIG %>
</p>

<p>
  <strong>S supervisor:</strong>
  <%= @staff.S_SUPERVISOR %>
</p>

<p>
  <strong>S fax:</strong>
  <%= @staff.S_FAX %>
</p>

<p>
  <strong>S web access:</strong>
  <%= @staff.S_WEB_ACCESS %>
</p>

<p>
  <strong>S smtp auth id:</strong>
  <%= @staff.S_SMTP_AUTH_ID %>
</p>

<p>
  <strong>S smtp auth pw:</strong>
  <%= @staff.S_SMTP_AUTH_PW %>
</p>

<p>
  <strong>S vendor:</strong>
  <%= @staff.S_VENDOR %>
</p>

<p>
  <strong>S added by:</strong>
  <%= @staff.S_ADDED_BY %>
</p>

<p>
  <strong>S added when:</strong>
  <%= @staff.S_ADDED_WHEN %>
</p>

<p>
  <strong>S edited by:</strong>
  <%= @staff.S_EDITED_BY %>
</p>

<p>
  <strong>S edited when:</strong>
  <%= @staff.S_EDITED_WHEN %>
</p>

<p>
  <strong>S date hired:</strong>
  <%= @staff.S_DATE_HIRED %>
</p>

<p>
  <strong>S date term:</strong>
  <%= @staff.S_DATE_TERM %>
</p>

<p>
  <strong>S oa:</strong>
  <%= @staff.S_OA %>
</p>

<p>
  <strong>S app version:</strong>
  <%= @staff.S_APP_VERSION %>
</p>

<p>
  <strong>S appr exempt:</strong>
  <%= @staff.S_APPR_EXEMPT %>
</p>

<p>
  <strong>S sw update now:</strong>
  <%= @staff.S_SW_UPDATE_NOW %>
</p>

<p>
  <strong>S homebase email:</strong>
  <%= @staff.S_HOMEBASE_EMAIL %>
</p>

<p>
  <strong>S jobr:</strong>
  <%= @staff.S_JOBR %>
</p>

<p>
  <strong>S web access1:</strong>
  <%= @staff.S_WEB_ACCESS1 %>
</p>

<p>
  <strong>S web access2:</strong>
  <%= @staff.S_WEB_ACCESS2 %>
</p>

<p>
  <strong>S web access3:</strong>
  <%= @staff.S_WEB_ACCESS3 %>
</p>

<p>
  <strong>S web access4:</strong>
  <%= @staff.S_WEB_ACCESS4 %>
</p>

<p>
  <strong>S web access5:</strong>
  <%= @staff.S_WEB_ACCESS5 %>
</p>

<p>
  <strong>S web access6:</strong>
  <%= @staff.S_WEB_ACCESS6 %>
</p>

<p>
  <strong>S web access7:</strong>
  <%= @staff.S_WEB_ACCESS7 %>
</p>

<p>
  <strong>S web access8:</strong>
  <%= @staff.S_WEB_ACCESS8 %>
</p>

<p>
  <strong>S web access9:</strong>
  <%= @staff.S_WEB_ACCESS9 %>
</p>

<p>
  <strong>S web access10:</strong>
  <%= @staff.S_WEB_ACCESS10 %>
</p>

<p>
  <strong>S web access11:</strong>
  <%= @staff.S_WEB_ACCESS11 %>
</p>

<p>
  <strong>S web access12:</strong>
  <%= @staff.S_WEB_ACCESS12 %>
</p>

<p>
  <strong>S schedulable:</strong>
  <%= @staff.S_SCHEDULABLE %>
</p>

<p>
  <strong>S winners opt in:</strong>
  <%= @staff.S_WINNERS_OPT_IN %>
</p>

<p>
  <strong>S time point opt in:</strong>
  <%= @staff.S_TIME_POINT_OPT_IN %>
</p>

<p>
  <strong>S send chirps:</strong>
  <%= @staff.S_SEND_CHIRPS %>
</p>

<p>
  <strong>S send chirps to:</strong>
  <%= @staff.S_SEND_CHIRPS_TO %>
</p>

<p>
  <strong>S cside status report:</strong>
  <%= @staff.S_CSIDE_STATUS_REPORT %>
</p>

<p>
  <strong>S cside traffic report:</strong>
  <%= @staff.S_CSIDE_TRAFFIC_REPORT %>
</p>

<p>
  <strong>S cside jobs:</strong>
  <%= @staff.S_CSIDE_JOBS %>
</p>

<p>
  <strong>S cside job requests:</strong>
  <%= @staff.S_CSIDE_JOB_REQUESTS %>
</p>

<p>
  <strong>S cside appr ests:</strong>
  <%= @staff.S_CSIDE_APPR_ESTS %>
</p>

<p>
  <strong>S cside appr scheds:</strong>
  <%= @staff.S_CSIDE_APPR_SCHEDS %>
</p>

<p>
  <strong>S cside appr changes:</strong>
  <%= @staff.S_CSIDE_APPR_CHANGES %>
</p>

<p>
  <strong>S cside appr art:</strong>
  <%= @staff.S_CSIDE_APPR_ART %>
</p>

<p>
  <strong>S cside proposals:</strong>
  <%= @staff.S_CSIDE_PROPOSALS %>
</p>

<p>
  <strong>S gets homebase emails:</strong>
  <%= @staff.S_GETS_HOMEBASE_EMAILS %>
</p>

<p>
  <strong>S cside rate jobs:</strong>
  <%= @staff.S_CSIDE_RATE_JOBS %>
</p>

<p>
  <strong>S client num:</strong>
  <%= @staff.S_CLIENT_NUM %>
</p>

<p>
  <strong>S cside appr crebrief:</strong>
  <%= @staff.S_CSIDE_APPR_CREBRIEF %>
</p>

<p>
  <strong>S web access suspended:</strong>
  <%= @staff.S_WEB_ACCESS_SUSPENDED %>
</p>

<p>
  <strong>S cside clients:</strong>
  <%= @staff.S_CSIDE_CLIENTS %>
</p>

<p>
  <strong>S web access expires:</strong>
  <%= @staff.S_WEB_ACCESS_EXPIRES %>
</p>

<p>
  <strong>S email overdues:</strong>
  <%= @staff.S_EMAIL_OVERDUES %>
</p>

<p>
  <strong>S cal1 key:</strong>
  <%= @staff.S_CAL1_KEY %>
</p>

<p>
  <strong>S cal2 key:</strong>
  <%= @staff.S_CAL2_KEY %>
</p>

<p>
  <strong>S cal3 key:</strong>
  <%= @staff.S_CAL3_KEY %>
</p>

<p>
  <strong>S cal4 key:</strong>
  <%= @staff.S_CAL4_KEY %>
</p>

<p>
  <strong>S cal5 key:</strong>
  <%= @staff.S_CAL5_KEY %>
</p>

<p>
  <strong>S cside type cat:</strong>
  <%= @staff.S_CSIDE_TYPE_CAT %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
