<%= simple_form_for(@change_order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :CHANGE_JOB_NUM %>
    <%= f.input :CHANGE_TASK1 %>
    <%= f.input :CHANGE_NUM %>
    <%= f.input :CHANGE_WHO %>
    <%= f.input :CHANGE_DATE %>
    <%= f.input :CHANGE_DESC %>
    <%= f.input :CHANGE_OK %>
    <%= f.input :CHANGE_NOTE %>
    <%= f.input :CHANGE_AMT1 %>
    <%= f.input :CHANGE_TYPE %>
    <%= f.input :CHANGE_TASK2 %>
    <%= f.input :CHANGE_TASK3 %>
    <%= f.input :CHANGE_TASK4 %>
    <%= f.input :CHANGE_AMT2 %>
    <%= f.input :CHANGE_AMT3 %>
    <%= f.input :CHANGE_AMT4 %>
    <%= f.input :CHANGE_TOTAL %>
    <%= f.input :CHANGE_TASK5 %>
    <%= f.input :CHANGE_TASK6 %>
    <%= f.input :CHANGE_AMT5 %>
    <%= f.input :CHANGE_AMT6 %>
    <%= f.input :CHANGE_OTHER %>
    <%= f.input :CHANGE_NAME %>
    <%= f.input :CHANGE_BAMT1 %>
    <%= f.input :CHANGE_BAMT2 %>
    <%= f.input :CHANGE_BAMT3 %>
    <%= f.input :CHANGE_BAMT4 %>
    <%= f.input :CHANGE_BAMT5 %>
    <%= f.input :CHANGE_BAMT6 %>
    <%= f.input :CHANGE_SALES_TAX1 %>
    <%= f.input :CHANGE_SALES_TAX2 %>
    <%= f.input :CHANGE_ROLLUP1 %>
    <%= f.input :CHANGE_ROLLUP2 %>
    <%= f.input :CHANGE_ROLLUP3 %>
    <%= f.input :CHANGE_ROLLUP4 %>
    <%= f.input :CHANGE_ROLLUP5 %>
    <%= f.input :CHANGE_ROLLUP6 %>
    <%= f.input :CHANGE_HOURS1 %>
    <%= f.input :CHANGE_HOURS2 %>
    <%= f.input :CHANGE_HOURS3 %>
    <%= f.input :CHANGE_HOURS4 %>
    <%= f.input :CHANGE_HOURS5 %>
    <%= f.input :CHANGE_HOURS6 %>
    <%= f.input :CHANGE_ROLL_UP %>
    <%= f.input :CHANGE_STATUS %>
    <%= f.input :CHANGE_APPROVE %>
    <%= f.input :CHANGE_MAIL_TO %>
    <%= f.input :CHANGE_SEND_PDF %>
    <%= f.input :CHANGE_APPROVED_BY %>
    <%= f.input :CHANGE_APPROVED_DATE %>
    <%= f.input :CHANGE_APPROVED %>
    <%= f.input :CHANGE_EDITED_BY %>
    <%= f.input :CHANGE_EDITED_WHEN %>
    <%= f.input :CHANGE_ADDED_BY %>
    <%= f.input :CHANGE_ADDED_WHEN %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
