<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @change_order.primaryKey %>
</p>

<p>
  <strong>Change job num:</strong>
  <%= @change_order.CHANGE_JOB_NUM %>
</p>

<p>
  <strong>Change task1:</strong>
  <%= @change_order.CHANGE_TASK1 %>
</p>

<p>
  <strong>Change num:</strong>
  <%= @change_order.CHANGE_NUM %>
</p>

<p>
  <strong>Change who:</strong>
  <%= @change_order.CHANGE_WHO %>
</p>

<p>
  <strong>Change date:</strong>
  <%= @change_order.CHANGE_DATE %>
</p>

<p>
  <strong>Change desc:</strong>
  <%= @change_order.CHANGE_DESC %>
</p>

<p>
  <strong>Change ok:</strong>
  <%= @change_order.CHANGE_OK %>
</p>

<p>
  <strong>Change note:</strong>
  <%= @change_order.CHANGE_NOTE %>
</p>

<p>
  <strong>Change amt1:</strong>
  <%= @change_order.CHANGE_AMT1 %>
</p>

<p>
  <strong>Change type:</strong>
  <%= @change_order.CHANGE_TYPE %>
</p>

<p>
  <strong>Change task2:</strong>
  <%= @change_order.CHANGE_TASK2 %>
</p>

<p>
  <strong>Change task3:</strong>
  <%= @change_order.CHANGE_TASK3 %>
</p>

<p>
  <strong>Change task4:</strong>
  <%= @change_order.CHANGE_TASK4 %>
</p>

<p>
  <strong>Change amt2:</strong>
  <%= @change_order.CHANGE_AMT2 %>
</p>

<p>
  <strong>Change amt3:</strong>
  <%= @change_order.CHANGE_AMT3 %>
</p>

<p>
  <strong>Change amt4:</strong>
  <%= @change_order.CHANGE_AMT4 %>
</p>

<p>
  <strong>Change total:</strong>
  <%= @change_order.CHANGE_TOTAL %>
</p>

<p>
  <strong>Change task5:</strong>
  <%= @change_order.CHANGE_TASK5 %>
</p>

<p>
  <strong>Change task6:</strong>
  <%= @change_order.CHANGE_TASK6 %>
</p>

<p>
  <strong>Change amt5:</strong>
  <%= @change_order.CHANGE_AMT5 %>
</p>

<p>
  <strong>Change amt6:</strong>
  <%= @change_order.CHANGE_AMT6 %>
</p>

<p>
  <strong>Change other:</strong>
  <%= @change_order.CHANGE_OTHER %>
</p>

<p>
  <strong>Change name:</strong>
  <%= @change_order.CHANGE_NAME %>
</p>

<p>
  <strong>Change bamt1:</strong>
  <%= @change_order.CHANGE_BAMT1 %>
</p>

<p>
  <strong>Change bamt2:</strong>
  <%= @change_order.CHANGE_BAMT2 %>
</p>

<p>
  <strong>Change bamt3:</strong>
  <%= @change_order.CHANGE_BAMT3 %>
</p>

<p>
  <strong>Change bamt4:</strong>
  <%= @change_order.CHANGE_BAMT4 %>
</p>

<p>
  <strong>Change bamt5:</strong>
  <%= @change_order.CHANGE_BAMT5 %>
</p>

<p>
  <strong>Change bamt6:</strong>
  <%= @change_order.CHANGE_BAMT6 %>
</p>

<p>
  <strong>Change sales tax1:</strong>
  <%= @change_order.CHANGE_SALES_TAX1 %>
</p>

<p>
  <strong>Change sales tax2:</strong>
  <%= @change_order.CHANGE_SALES_TAX2 %>
</p>

<p>
  <strong>Change rollup1:</strong>
  <%= @change_order.CHANGE_ROLLUP1 %>
</p>

<p>
  <strong>Change rollup2:</strong>
  <%= @change_order.CHANGE_ROLLUP2 %>
</p>

<p>
  <strong>Change rollup3:</strong>
  <%= @change_order.CHANGE_ROLLUP3 %>
</p>

<p>
  <strong>Change rollup4:</strong>
  <%= @change_order.CHANGE_ROLLUP4 %>
</p>

<p>
  <strong>Change rollup5:</strong>
  <%= @change_order.CHANGE_ROLLUP5 %>
</p>

<p>
  <strong>Change rollup6:</strong>
  <%= @change_order.CHANGE_ROLLUP6 %>
</p>

<p>
  <strong>Change hours1:</strong>
  <%= @change_order.CHANGE_HOURS1 %>
</p>

<p>
  <strong>Change hours2:</strong>
  <%= @change_order.CHANGE_HOURS2 %>
</p>

<p>
  <strong>Change hours3:</strong>
  <%= @change_order.CHANGE_HOURS3 %>
</p>

<p>
  <strong>Change hours4:</strong>
  <%= @change_order.CHANGE_HOURS4 %>
</p>

<p>
  <strong>Change hours5:</strong>
  <%= @change_order.CHANGE_HOURS5 %>
</p>

<p>
  <strong>Change hours6:</strong>
  <%= @change_order.CHANGE_HOURS6 %>
</p>

<p>
  <strong>Change roll up:</strong>
  <%= @change_order.CHANGE_ROLL_UP %>
</p>

<p>
  <strong>Change status:</strong>
  <%= @change_order.CHANGE_STATUS %>
</p>

<p>
  <strong>Change approve:</strong>
  <%= @change_order.CHANGE_APPROVE %>
</p>

<p>
  <strong>Change mail to:</strong>
  <%= @change_order.CHANGE_MAIL_TO %>
</p>

<p>
  <strong>Change send pdf:</strong>
  <%= @change_order.CHANGE_SEND_PDF %>
</p>

<p>
  <strong>Change approved by:</strong>
  <%= @change_order.CHANGE_APPROVED_BY %>
</p>

<p>
  <strong>Change approved date:</strong>
  <%= @change_order.CHANGE_APPROVED_DATE %>
</p>

<p>
  <strong>Change approved:</strong>
  <%= @change_order.CHANGE_APPROVED %>
</p>

<p>
  <strong>Change edited by:</strong>
  <%= @change_order.CHANGE_EDITED_BY %>
</p>

<p>
  <strong>Change edited when:</strong>
  <%= @change_order.CHANGE_EDITED_WHEN %>
</p>

<p>
  <strong>Change added by:</strong>
  <%= @change_order.CHANGE_ADDED_BY %>
</p>

<p>
  <strong>Change added when:</strong>
  <%= @change_order.CHANGE_ADDED_WHEN %>
</p>

<%= link_to 'Edit', edit_change_order_path(@change_order) %> |
<%= link_to 'Back', change_orders_path %>
