<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @approval.primaryKey %>
</p>

<p>
  <strong>Appr added by:</strong>
  <%= @approval.APPR_ADDED_BY %>
</p>

<p>
  <strong>Appr date added:</strong>
  <%= @approval.APPR_DATE_ADDED %>
</p>

<p>
  <strong>Appr date expires:</strong>
  <%= @approval.APPR_DATE_EXPIRES %>
</p>

<p>
  <strong>Appr instructions:</strong>
  <%= @approval.APPR_INSTRUCTIONS %>
</p>

<p>
  <strong>Appr okd by:</strong>
  <%= @approval.APPR_OKD_BY %>
</p>

<p>
  <strong>Appr id:</strong>
  <%= @approval.APPR_ID %>
</p>

<p>
  <strong>Appr status:</strong>
  <%= @approval.APPR_STATUS %>
</p>

<p>
  <strong>Appr status note:</strong>
  <%= @approval.APPR_STATUS_NOTE %>
</p>

<p>
  <strong>Appr okd date:</strong>
  <%= @approval.APPR_OKD_DATE %>
</p>

<p>
  <strong>Appr rush:</strong>
  <%= @approval.APPR_RUSH %>
</p>

<p>
  <strong>Appr job num:</strong>
  <%= @approval.APPR_JOB_NUM %>
</p>

<p>
  <strong>Appr client num:</strong>
  <%= @approval.APPR_CLIENT_NUM %>
</p>

<p>
  <strong>Appr reply to:</strong>
  <%= @approval.APPR_REPLY_TO %>
</p>

<p>
  <strong>Appr needed when:</strong>
  <%= @approval.APPR_NEEDED_WHEN %>
</p>

<p>
  <strong>Appr needed by:</strong>
  <%= @approval.APPR_NEEDED_BY %>
</p>

<p>
  <strong>Appr sent date:</strong>
  <%= @approval.APPR_SENT_DATE %>
</p>

<p>
  <strong>Appr draft:</strong>
  <%= @approval.APPR_DRAFT %>
</p>

<p>
  <strong>Appr kind:</strong>
  <%= @approval.APPR_KIND %>
</p>

<p>
  <strong>Appr changes:</strong>
  <%= @approval.APPR_CHANGES %>
</p>

<p>
  <strong>Appr step desc:</strong>
  <%= @approval.APPR_STEP_DESC %>
</p>

<p>
  <strong>Appr ref num:</strong>
  <%= @approval.APPR_REF_NUM %>
</p>

<p>
  <strong>Appr needed by name:</strong>
  <%= @approval.APPR_NEEDED_BY_NAME %>
</p>

<p>
  <strong>Appr file path:</strong>
  <%= @approval.APPR_FILE_PATH %>
</p>

<p>
  <strong>Appr edited by:</strong>
  <%= @approval.APPR_EDITED_BY %>
</p>

<p>
  <strong>Appr edited when:</strong>
  <%= @approval.APPR_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_approval_path(@approval) %> |
<%= link_to 'Back', approvals_path %>
