<%= simple_form_for(@job_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :TYPE_CODE %>
    <%= f.input :TYPE_NAME %>
    <%= f.input :TYPE_DISCLAIMER %>
    <%= f.input :TYPE_TRAFFIC1 %>
    <%= f.input :TYPE_TRAFFIC2 %>
    <%= f.input :TYPE_TRAFFIC3 %>
    <%= f.input :TYPE_TRAFFIC4 %>
    <%= f.input :TYPE_TRAFFIC5 %>
    <%= f.input :TYPE_TRAFFIC6 %>
    <%= f.input :TYPE_TRAFFIC7 %>
    <%= f.input :TYPE_TRAFFIC8 %>
    <%= f.input :TYPE_TRAFFIC9 %>
    <%= f.input :TYPE_TRAFFIC10 %>
    <%= f.input :TYPE_MARKUP %>
    <%= f.input :TYPE_RATE %>
    <%= f.input :TYPE_TASK_LIST %>
    <%= f.input :TYPE_HEADING %>
    <%= f.input :TYPE_EST_COL1 %>
    <%= f.input :TYPE_EST_COL2 %>
    <%= f.input :TYPE_EST_COL3 %>
    <%= f.input :TYPE_TRAFFIC11 %>
    <%= f.input :TYPE_TRAFFIC12 %>
    <%= f.input :TYPE_FIELD1 %>
    <%= f.input :TYPE_FIELD2 %>
    <%= f.input :TYPE_FIELD3 %>
    <%= f.input :TYPE_FIELD4 %>
    <%= f.input :TYPE_FIELD5 %>
    <%= f.input :TYPE_FIELD6 %>
    <%= f.input :TYPE_CONTING %>
    <%= f.input :TYPE_CON_PC %>
    <%= f.input :TYPE_CON_AMT %>
    <%= f.input :TYPE_CON_NOTE %>
    <%= f.input :TYPE_SHOW_HRS %>
    <%= f.input :TYPE_AE_TITLE %>
    <%= f.input :TYPE_JOB_SPECS %>
    <%= f.input :TYPE_RATE_KIND %>
    <%= f.input :TYPE_TAX %>
    <%= f.input :TYPE_CB_1_LABEL %>
    <%= f.input :TYPE_CB_2_LABEL %>
    <%= f.input :TYPE_CB_3_LABEL %>
    <%= f.input :TYPE_CB_4_LABEL %>
    <%= f.input :TYPE_CB_5_LABEL %>
    <%= f.input :TYPE_CB_6_LABEL %>
    <%= f.input :TYPE_CB_7_LABEL %>
    <%= f.input :TYPE_CB_8_LABEL %>
    <%= f.input :TYPE_CB_9_LABEL %>
    <%= f.input :TYPE_CB_10_LABEL %>
    <%= f.input :TYPE_CB_11_LABEL %>
    <%= f.input :TYPE_CB_12_LABEL %>
    <%= f.input :TYPE_CB_13_LABEL %>
    <%= f.input :TYPE_CB_14_LABEL %>
    <%= f.input :TYPE_CB_15_LABEL %>
    <%= f.input :TYPE_COMMISSIONABLE %>
    <%= f.input :TYPE_COMM_RATE %>
    <%= f.input :TYPE_COMM_SPIFF %>
    <%= f.input :TYPE_COMM_TYPE_AE %>
    <%= f.input :TYPE_COMM_RATE_BIZ %>
    <%= f.input :TYPE_ACTIVE %>
    <%= f.input :TYPE_ADDED_BY %>
    <%= f.input :TYPE_ADDED_WHEN %>
    <%= f.input :TYPE_EDITED_BY %>
    <%= f.input :TYPE_EDITED_WHEN %>
    <%= f.input :TYPE_WO_1_LABEL %>
    <%= f.input :TYPE_WO_2_LABEL %>
    <%= f.input :TYPE_WO_3_LABEL %>
    <%= f.input :TYPE_WO_4_LABEL %>
    <%= f.input :TYPE_WO_5_LABEL %>
    <%= f.input :TYPE_WO_6_LABEL %>
    <%= f.input :TYPE_WO_7_LABEL %>
    <%= f.input :TYPE_WO_8_LABEL %>
    <%= f.input :TYPE_WO_9_LABEL %>
    <%= f.input :TYPE_WO_10_LABEL %>
    <%= f.input :TYPE_WO_11_LABEL %>
    <%= f.input :TYPE_WO_12_LABEL %>
    <%= f.input :TYPE_WO_13_LABEL %>
    <%= f.input :TYPE_WO_14_LABEL %>
    <%= f.input :TYPE_WO_15_LABEL %>
    <%= f.input :TYPE_PC %>
    <%= f.input :TYPE_CHECKLIST1 %>
    <%= f.input :TYPE_CHECKLIST2 %>
    <%= f.input :TYPE_CHECKLIST3 %>
    <%= f.input :TYPE_CHECKLIST4 %>
    <%= f.input :TYPE_CHECKLIST5 %>
    <%= f.input :TYPE_CHECKLIST6 %>
    <%= f.input :TYPE_CHECKLIST7 %>
    <%= f.input :TYPE_CHECKLIST8 %>
    <%= f.input :TYPE_CHECK1_NAME %>
    <%= f.input :TYPE_CHECK2_NAME %>
    <%= f.input :TYPE_CHECK3_NAME %>
    <%= f.input :TYPE_CHECK4_NAME %>
    <%= f.input :TYPE_CHECK5_NAME %>
    <%= f.input :TYPE_CHECK6_NAME %>
    <%= f.input :TYPE_CHECK7_NAME %>
    <%= f.input :TYPE_CHECK8_NAME %>
    <%= f.input :TYPE_FORECAST_COSTS %>
    <%= f.input :TYPE_FORECAST_LABOR %>
    <%= f.input :TYPE_USER_DATE1 %>
    <%= f.input :TYPE_USER_DATE2 %>
    <%= f.input :TYPE_REVIEWER %>
    <%= f.input :TYPE_REQUESTABLE %>
    <%= f.input :TYPE_J_FIELD1_LABEL %>
    <%= f.input :TYPE_J_FIELD2_LABEL %>
    <%= f.input :TYPE_J_FIELD3_LABEL %>
    <%= f.input :TYPE_J_FIELD4_LABEL %>
    <%= f.input :TYPE_J_FIELD5_LABEL %>
    <%= f.input :TYPE_J_FIELD6_LABEL %>
    <%= f.input :TYPE_REQ_J_FIELD1 %>
    <%= f.input :TYPE_REQ_J_FIELD2 %>
    <%= f.input :TYPE_REQ_J_FIELD3 %>
    <%= f.input :TYPE_REQ_J_FIELD4 %>
    <%= f.input :TYPE_REQ_J_FIELD5 %>
    <%= f.input :TYPE_REQ_J_FIELD6 %>
    <%= f.input :TYPE_CATEGORY %>
    <%= f.input :TYPE_JOB_OPTION1 %>
    <%= f.input :TYPE_JOB_OPTION2 %>
    <%= f.input :TYPE_JOB_OPTION3 %>
    <%= f.input :TYPE_JOB_OPTION4 %>
    <%= f.input :TYPE_JOB_OPTION5 %>
    <%= f.input :TYPE_JOB_OPTION6 %>
    <%= f.input :TYPE_JOB_OPTION7 %>
    <%= f.input :TYPE_JOB_OPTION8 %>
    <%= f.input :TYPE_HOME_CB1 %>
    <%= f.input :TYPE_HOME_CB2 %>
    <%= f.input :TYPE_HOME_CB3 %>
    <%= f.input :TYPE_HOME_CB4 %>
    <%= f.input :TYPE_HOME_CB5 %>
    <%= f.input :TYPE_HOME_CB6 %>
    <%= f.input :TYPE_HOME_CB7 %>
    <%= f.input :TYPE_HOME_CB8 %>
    <%= f.input :TYPE_HOME_CB9 %>
    <%= f.input :TYPE_HOME_CB10 %>
    <%= f.input :TYPE_HOME_CB11 %>
    <%= f.input :TYPE_HOME_CB12 %>
    <%= f.input :TYPE_HOME_CB13 %>
    <%= f.input :TYPE_HOME_CB14 %>
    <%= f.input :TYPE_HOME_CB15 %>
    <%= f.input :TYPE_HOME_WO1 %>
    <%= f.input :TYPE_HOME_WO2 %>
    <%= f.input :TYPE_HOME_WO3 %>
    <%= f.input :TYPE_HOME_WO4 %>
    <%= f.input :TYPE_HOME_WO5 %>
    <%= f.input :TYPE_HOME_WO6 %>
    <%= f.input :TYPE_HOME_WO7 %>
    <%= f.input :TYPE_HOME_WO8 %>
    <%= f.input :TYPE_HOME_WO9 %>
    <%= f.input :TYPE_HOME_WO10 %>
    <%= f.input :TYPE_HOME_WO11 %>
    <%= f.input :TYPE_HOME_WO12 %>
    <%= f.input :TYPE_HOME_WO13 %>
    <%= f.input :TYPE_HOME_WO14 %>
    <%= f.input :TYPE_HOME_WO15 %>
    <%= f.input :TYPE_CHECK_RULE1 %>
    <%= f.input :TYPE_CHECK_RULE2 %>
    <%= f.input :TYPE_CHECK_RULE3 %>
    <%= f.input :TYPE_CHECK_RULE4 %>
    <%= f.input :TYPE_JOB_REQUESTS %>
    <%= f.input :TYPE_REVIEWER2 %>
    <%= f.input :TYPE_REVIEWER3 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
