<h1>Listing job_types</h1>

<table>
  <thead>
    <tr>
      <th>Primarykey</th>
      <th>Type code</th>
      <th>Type name</th>
      <th>Type disclaimer</th>
      <th>Type traffic1</th>
      <th>Type traffic2</th>
      <th>Type traffic3</th>
      <th>Type traffic4</th>
      <th>Type traffic5</th>
      <th>Type traffic6</th>
      <th>Type traffic7</th>
      <th>Type traffic8</th>
      <th>Type traffic9</th>
      <th>Type traffic10</th>
      <th>Type markup</th>
      <th>Type rate</th>
      <th>Type task list</th>
      <th>Type heading</th>
      <th>Type est col1</th>
      <th>Type est col2</th>
      <th>Type est col3</th>
      <th>Type traffic11</th>
      <th>Type traffic12</th>
      <th>Type field1</th>
      <th>Type field2</th>
      <th>Type field3</th>
      <th>Type field4</th>
      <th>Type field5</th>
      <th>Type field6</th>
      <th>Type conting</th>
      <th>Type con pc</th>
      <th>Type con amt</th>
      <th>Type con note</th>
      <th>Type show hrs</th>
      <th>Type ae title</th>
      <th>Type job specs</th>
      <th>Type rate kind</th>
      <th>Type tax</th>
      <th>Type cb 1 label</th>
      <th>Type cb 2 label</th>
      <th>Type cb 3 label</th>
      <th>Type cb 4 label</th>
      <th>Type cb 5 label</th>
      <th>Type cb 6 label</th>
      <th>Type cb 7 label</th>
      <th>Type cb 8 label</th>
      <th>Type cb 9 label</th>
      <th>Type cb 10 label</th>
      <th>Type cb 11 label</th>
      <th>Type cb 12 label</th>
      <th>Type cb 13 label</th>
      <th>Type cb 14 label</th>
      <th>Type cb 15 label</th>
      <th>Type commissionable</th>
      <th>Type comm rate</th>
      <th>Type comm spiff</th>
      <th>Type comm type ae</th>
      <th>Type comm rate biz</th>
      <th>Type active</th>
      <th>Type added by</th>
      <th>Type added when</th>
      <th>Type edited by</th>
      <th>Type edited when</th>
      <th>Type wo 1 label</th>
      <th>Type wo 2 label</th>
      <th>Type wo 3 label</th>
      <th>Type wo 4 label</th>
      <th>Type wo 5 label</th>
      <th>Type wo 6 label</th>
      <th>Type wo 7 label</th>
      <th>Type wo 8 label</th>
      <th>Type wo 9 label</th>
      <th>Type wo 10 label</th>
      <th>Type wo 11 label</th>
      <th>Type wo 12 label</th>
      <th>Type wo 13 label</th>
      <th>Type wo 14 label</th>
      <th>Type wo 15 label</th>
      <th>Type pc</th>
      <th>Type checklist1</th>
      <th>Type checklist2</th>
      <th>Type checklist3</th>
      <th>Type checklist4</th>
      <th>Type checklist5</th>
      <th>Type checklist6</th>
      <th>Type checklist7</th>
      <th>Type checklist8</th>
      <th>Type check1 name</th>
      <th>Type check2 name</th>
      <th>Type check3 name</th>
      <th>Type check4 name</th>
      <th>Type check5 name</th>
      <th>Type check6 name</th>
      <th>Type check7 name</th>
      <th>Type check8 name</th>
      <th>Type forecast costs</th>
      <th>Type forecast labor</th>
      <th>Type user date1</th>
      <th>Type user date2</th>
      <th>Type reviewer</th>
      <th>Type requestable</th>
      <th>Type j field1 label</th>
      <th>Type j field2 label</th>
      <th>Type j field3 label</th>
      <th>Type j field4 label</th>
      <th>Type j field5 label</th>
      <th>Type j field6 label</th>
      <th>Type req j field1</th>
      <th>Type req j field2</th>
      <th>Type req j field3</th>
      <th>Type req j field4</th>
      <th>Type req j field5</th>
      <th>Type req j field6</th>
      <th>Type category</th>
      <th>Type job option1</th>
      <th>Type job option2</th>
      <th>Type job option3</th>
      <th>Type job option4</th>
      <th>Type job option5</th>
      <th>Type job option6</th>
      <th>Type job option7</th>
      <th>Type job option8</th>
      <th>Type home cb1</th>
      <th>Type home cb2</th>
      <th>Type home cb3</th>
      <th>Type home cb4</th>
      <th>Type home cb5</th>
      <th>Type home cb6</th>
      <th>Type home cb7</th>
      <th>Type home cb8</th>
      <th>Type home cb9</th>
      <th>Type home cb10</th>
      <th>Type home cb11</th>
      <th>Type home cb12</th>
      <th>Type home cb13</th>
      <th>Type home cb14</th>
      <th>Type home cb15</th>
      <th>Type home wo1</th>
      <th>Type home wo2</th>
      <th>Type home wo3</th>
      <th>Type home wo4</th>
      <th>Type home wo5</th>
      <th>Type home wo6</th>
      <th>Type home wo7</th>
      <th>Type home wo8</th>
      <th>Type home wo9</th>
      <th>Type home wo10</th>
      <th>Type home wo11</th>
      <th>Type home wo12</th>
      <th>Type home wo13</th>
      <th>Type home wo14</th>
      <th>Type home wo15</th>
      <th>Type check rule1</th>
      <th>Type check rule2</th>
      <th>Type check rule3</th>
      <th>Type check rule4</th>
      <th>Type job requests</th>
      <th>Type reviewer2</th>
      <th>Type reviewer3</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_types.each do |job_type| %>
      <tr>
        <td><%= job_type.primaryKey %></td>
        <td><%= job_type.TYPE_CODE %></td>
        <td><%= job_type.TYPE_NAME %></td>
        <td><%= job_type.TYPE_DISCLAIMER %></td>
        <td><%= job_type.TYPE_TRAFFIC1 %></td>
        <td><%= job_type.TYPE_TRAFFIC2 %></td>
        <td><%= job_type.TYPE_TRAFFIC3 %></td>
        <td><%= job_type.TYPE_TRAFFIC4 %></td>
        <td><%= job_type.TYPE_TRAFFIC5 %></td>
        <td><%= job_type.TYPE_TRAFFIC6 %></td>
        <td><%= job_type.TYPE_TRAFFIC7 %></td>
        <td><%= job_type.TYPE_TRAFFIC8 %></td>
        <td><%= job_type.TYPE_TRAFFIC9 %></td>
        <td><%= job_type.TYPE_TRAFFIC10 %></td>
        <td><%= job_type.TYPE_MARKUP %></td>
        <td><%= job_type.TYPE_RATE %></td>
        <td><%= job_type.TYPE_TASK_LIST %></td>
        <td><%= job_type.TYPE_HEADING %></td>
        <td><%= job_type.TYPE_EST_COL1 %></td>
        <td><%= job_type.TYPE_EST_COL2 %></td>
        <td><%= job_type.TYPE_EST_COL3 %></td>
        <td><%= job_type.TYPE_TRAFFIC11 %></td>
        <td><%= job_type.TYPE_TRAFFIC12 %></td>
        <td><%= job_type.TYPE_FIELD1 %></td>
        <td><%= job_type.TYPE_FIELD2 %></td>
        <td><%= job_type.TYPE_FIELD3 %></td>
        <td><%= job_type.TYPE_FIELD4 %></td>
        <td><%= job_type.TYPE_FIELD5 %></td>
        <td><%= job_type.TYPE_FIELD6 %></td>
        <td><%= job_type.TYPE_CONTING %></td>
        <td><%= job_type.TYPE_CON_PC %></td>
        <td><%= job_type.TYPE_CON_AMT %></td>
        <td><%= job_type.TYPE_CON_NOTE %></td>
        <td><%= job_type.TYPE_SHOW_HRS %></td>
        <td><%= job_type.TYPE_AE_TITLE %></td>
        <td><%= job_type.TYPE_JOB_SPECS %></td>
        <td><%= job_type.TYPE_RATE_KIND %></td>
        <td><%= job_type.TYPE_TAX %></td>
        <td><%= job_type.TYPE_CB_1_LABEL %></td>
        <td><%= job_type.TYPE_CB_2_LABEL %></td>
        <td><%= job_type.TYPE_CB_3_LABEL %></td>
        <td><%= job_type.TYPE_CB_4_LABEL %></td>
        <td><%= job_type.TYPE_CB_5_LABEL %></td>
        <td><%= job_type.TYPE_CB_6_LABEL %></td>
        <td><%= job_type.TYPE_CB_7_LABEL %></td>
        <td><%= job_type.TYPE_CB_8_LABEL %></td>
        <td><%= job_type.TYPE_CB_9_LABEL %></td>
        <td><%= job_type.TYPE_CB_10_LABEL %></td>
        <td><%= job_type.TYPE_CB_11_LABEL %></td>
        <td><%= job_type.TYPE_CB_12_LABEL %></td>
        <td><%= job_type.TYPE_CB_13_LABEL %></td>
        <td><%= job_type.TYPE_CB_14_LABEL %></td>
        <td><%= job_type.TYPE_CB_15_LABEL %></td>
        <td><%= job_type.TYPE_COMMISSIONABLE %></td>
        <td><%= job_type.TYPE_COMM_RATE %></td>
        <td><%= job_type.TYPE_COMM_SPIFF %></td>
        <td><%= job_type.TYPE_COMM_TYPE_AE %></td>
        <td><%= job_type.TYPE_COMM_RATE_BIZ %></td>
        <td><%= job_type.TYPE_ACTIVE %></td>
        <td><%= job_type.TYPE_ADDED_BY %></td>
        <td><%= job_type.TYPE_ADDED_WHEN %></td>
        <td><%= job_type.TYPE_EDITED_BY %></td>
        <td><%= job_type.TYPE_EDITED_WHEN %></td>
        <td><%= job_type.TYPE_WO_1_LABEL %></td>
        <td><%= job_type.TYPE_WO_2_LABEL %></td>
        <td><%= job_type.TYPE_WO_3_LABEL %></td>
        <td><%= job_type.TYPE_WO_4_LABEL %></td>
        <td><%= job_type.TYPE_WO_5_LABEL %></td>
        <td><%= job_type.TYPE_WO_6_LABEL %></td>
        <td><%= job_type.TYPE_WO_7_LABEL %></td>
        <td><%= job_type.TYPE_WO_8_LABEL %></td>
        <td><%= job_type.TYPE_WO_9_LABEL %></td>
        <td><%= job_type.TYPE_WO_10_LABEL %></td>
        <td><%= job_type.TYPE_WO_11_LABEL %></td>
        <td><%= job_type.TYPE_WO_12_LABEL %></td>
        <td><%= job_type.TYPE_WO_13_LABEL %></td>
        <td><%= job_type.TYPE_WO_14_LABEL %></td>
        <td><%= job_type.TYPE_WO_15_LABEL %></td>
        <td><%= job_type.TYPE_PC %></td>
        <td><%= job_type.TYPE_CHECKLIST1 %></td>
        <td><%= job_type.TYPE_CHECKLIST2 %></td>
        <td><%= job_type.TYPE_CHECKLIST3 %></td>
        <td><%= job_type.TYPE_CHECKLIST4 %></td>
        <td><%= job_type.TYPE_CHECKLIST5 %></td>
        <td><%= job_type.TYPE_CHECKLIST6 %></td>
        <td><%= job_type.TYPE_CHECKLIST7 %></td>
        <td><%= job_type.TYPE_CHECKLIST8 %></td>
        <td><%= job_type.TYPE_CHECK1_NAME %></td>
        <td><%= job_type.TYPE_CHECK2_NAME %></td>
        <td><%= job_type.TYPE_CHECK3_NAME %></td>
        <td><%= job_type.TYPE_CHECK4_NAME %></td>
        <td><%= job_type.TYPE_CHECK5_NAME %></td>
        <td><%= job_type.TYPE_CHECK6_NAME %></td>
        <td><%= job_type.TYPE_CHECK7_NAME %></td>
        <td><%= job_type.TYPE_CHECK8_NAME %></td>
        <td><%= job_type.TYPE_FORECAST_COSTS %></td>
        <td><%= job_type.TYPE_FORECAST_LABOR %></td>
        <td><%= job_type.TYPE_USER_DATE1 %></td>
        <td><%= job_type.TYPE_USER_DATE2 %></td>
        <td><%= job_type.TYPE_REVIEWER %></td>
        <td><%= job_type.TYPE_REQUESTABLE %></td>
        <td><%= job_type.TYPE_J_FIELD1_LABEL %></td>
        <td><%= job_type.TYPE_J_FIELD2_LABEL %></td>
        <td><%= job_type.TYPE_J_FIELD3_LABEL %></td>
        <td><%= job_type.TYPE_J_FIELD4_LABEL %></td>
        <td><%= job_type.TYPE_J_FIELD5_LABEL %></td>
        <td><%= job_type.TYPE_J_FIELD6_LABEL %></td>
        <td><%= job_type.TYPE_REQ_J_FIELD1 %></td>
        <td><%= job_type.TYPE_REQ_J_FIELD2 %></td>
        <td><%= job_type.TYPE_REQ_J_FIELD3 %></td>
        <td><%= job_type.TYPE_REQ_J_FIELD4 %></td>
        <td><%= job_type.TYPE_REQ_J_FIELD5 %></td>
        <td><%= job_type.TYPE_REQ_J_FIELD6 %></td>
        <td><%= job_type.TYPE_CATEGORY %></td>
        <td><%= job_type.TYPE_JOB_OPTION1 %></td>
        <td><%= job_type.TYPE_JOB_OPTION2 %></td>
        <td><%= job_type.TYPE_JOB_OPTION3 %></td>
        <td><%= job_type.TYPE_JOB_OPTION4 %></td>
        <td><%= job_type.TYPE_JOB_OPTION5 %></td>
        <td><%= job_type.TYPE_JOB_OPTION6 %></td>
        <td><%= job_type.TYPE_JOB_OPTION7 %></td>
        <td><%= job_type.TYPE_JOB_OPTION8 %></td>
        <td><%= job_type.TYPE_HOME_CB1 %></td>
        <td><%= job_type.TYPE_HOME_CB2 %></td>
        <td><%= job_type.TYPE_HOME_CB3 %></td>
        <td><%= job_type.TYPE_HOME_CB4 %></td>
        <td><%= job_type.TYPE_HOME_CB5 %></td>
        <td><%= job_type.TYPE_HOME_CB6 %></td>
        <td><%= job_type.TYPE_HOME_CB7 %></td>
        <td><%= job_type.TYPE_HOME_CB8 %></td>
        <td><%= job_type.TYPE_HOME_CB9 %></td>
        <td><%= job_type.TYPE_HOME_CB10 %></td>
        <td><%= job_type.TYPE_HOME_CB11 %></td>
        <td><%= job_type.TYPE_HOME_CB12 %></td>
        <td><%= job_type.TYPE_HOME_CB13 %></td>
        <td><%= job_type.TYPE_HOME_CB14 %></td>
        <td><%= job_type.TYPE_HOME_CB15 %></td>
        <td><%= job_type.TYPE_HOME_WO1 %></td>
        <td><%= job_type.TYPE_HOME_WO2 %></td>
        <td><%= job_type.TYPE_HOME_WO3 %></td>
        <td><%= job_type.TYPE_HOME_WO4 %></td>
        <td><%= job_type.TYPE_HOME_WO5 %></td>
        <td><%= job_type.TYPE_HOME_WO6 %></td>
        <td><%= job_type.TYPE_HOME_WO7 %></td>
        <td><%= job_type.TYPE_HOME_WO8 %></td>
        <td><%= job_type.TYPE_HOME_WO9 %></td>
        <td><%= job_type.TYPE_HOME_WO10 %></td>
        <td><%= job_type.TYPE_HOME_WO11 %></td>
        <td><%= job_type.TYPE_HOME_WO12 %></td>
        <td><%= job_type.TYPE_HOME_WO13 %></td>
        <td><%= job_type.TYPE_HOME_WO14 %></td>
        <td><%= job_type.TYPE_HOME_WO15 %></td>
        <td><%= job_type.TYPE_CHECK_RULE1 %></td>
        <td><%= job_type.TYPE_CHECK_RULE2 %></td>
        <td><%= job_type.TYPE_CHECK_RULE3 %></td>
        <td><%= job_type.TYPE_CHECK_RULE4 %></td>
        <td><%= job_type.TYPE_JOB_REQUESTS %></td>
        <td><%= job_type.TYPE_REVIEWER2 %></td>
        <td><%= job_type.TYPE_REVIEWER3 %></td>
        <td><%= link_to 'Show', job_type %></td>
        <td><%= link_to 'Edit', edit_job_type_path(job_type) %></td>
        <td><%= link_to 'Destroy', job_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job type', new_job_type_path %>
