<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @job_type.primaryKey %>
</p>

<p>
  <strong>Type code:</strong>
  <%= @job_type.TYPE_CODE %>
</p>

<p>
  <strong>Type name:</strong>
  <%= @job_type.TYPE_NAME %>
</p>

<p>
  <strong>Type disclaimer:</strong>
  <%= @job_type.TYPE_DISCLAIMER %>
</p>

<p>
  <strong>Type traffic1:</strong>
  <%= @job_type.TYPE_TRAFFIC1 %>
</p>

<p>
  <strong>Type traffic2:</strong>
  <%= @job_type.TYPE_TRAFFIC2 %>
</p>

<p>
  <strong>Type traffic3:</strong>
  <%= @job_type.TYPE_TRAFFIC3 %>
</p>

<p>
  <strong>Type traffic4:</strong>
  <%= @job_type.TYPE_TRAFFIC4 %>
</p>

<p>
  <strong>Type traffic5:</strong>
  <%= @job_type.TYPE_TRAFFIC5 %>
</p>

<p>
  <strong>Type traffic6:</strong>
  <%= @job_type.TYPE_TRAFFIC6 %>
</p>

<p>
  <strong>Type traffic7:</strong>
  <%= @job_type.TYPE_TRAFFIC7 %>
</p>

<p>
  <strong>Type traffic8:</strong>
  <%= @job_type.TYPE_TRAFFIC8 %>
</p>

<p>
  <strong>Type traffic9:</strong>
  <%= @job_type.TYPE_TRAFFIC9 %>
</p>

<p>
  <strong>Type traffic10:</strong>
  <%= @job_type.TYPE_TRAFFIC10 %>
</p>

<p>
  <strong>Type markup:</strong>
  <%= @job_type.TYPE_MARKUP %>
</p>

<p>
  <strong>Type rate:</strong>
  <%= @job_type.TYPE_RATE %>
</p>

<p>
  <strong>Type task list:</strong>
  <%= @job_type.TYPE_TASK_LIST %>
</p>

<p>
  <strong>Type heading:</strong>
  <%= @job_type.TYPE_HEADING %>
</p>

<p>
  <strong>Type est col1:</strong>
  <%= @job_type.TYPE_EST_COL1 %>
</p>

<p>
  <strong>Type est col2:</strong>
  <%= @job_type.TYPE_EST_COL2 %>
</p>

<p>
  <strong>Type est col3:</strong>
  <%= @job_type.TYPE_EST_COL3 %>
</p>

<p>
  <strong>Type traffic11:</strong>
  <%= @job_type.TYPE_TRAFFIC11 %>
</p>

<p>
  <strong>Type traffic12:</strong>
  <%= @job_type.TYPE_TRAFFIC12 %>
</p>

<p>
  <strong>Type field1:</strong>
  <%= @job_type.TYPE_FIELD1 %>
</p>

<p>
  <strong>Type field2:</strong>
  <%= @job_type.TYPE_FIELD2 %>
</p>

<p>
  <strong>Type field3:</strong>
  <%= @job_type.TYPE_FIELD3 %>
</p>

<p>
  <strong>Type field4:</strong>
  <%= @job_type.TYPE_FIELD4 %>
</p>

<p>
  <strong>Type field5:</strong>
  <%= @job_type.TYPE_FIELD5 %>
</p>

<p>
  <strong>Type field6:</strong>
  <%= @job_type.TYPE_FIELD6 %>
</p>

<p>
  <strong>Type conting:</strong>
  <%= @job_type.TYPE_CONTING %>
</p>

<p>
  <strong>Type con pc:</strong>
  <%= @job_type.TYPE_CON_PC %>
</p>

<p>
  <strong>Type con amt:</strong>
  <%= @job_type.TYPE_CON_AMT %>
</p>

<p>
  <strong>Type con note:</strong>
  <%= @job_type.TYPE_CON_NOTE %>
</p>

<p>
  <strong>Type show hrs:</strong>
  <%= @job_type.TYPE_SHOW_HRS %>
</p>

<p>
  <strong>Type ae title:</strong>
  <%= @job_type.TYPE_AE_TITLE %>
</p>

<p>
  <strong>Type job specs:</strong>
  <%= @job_type.TYPE_JOB_SPECS %>
</p>

<p>
  <strong>Type rate kind:</strong>
  <%= @job_type.TYPE_RATE_KIND %>
</p>

<p>
  <strong>Type tax:</strong>
  <%= @job_type.TYPE_TAX %>
</p>

<p>
  <strong>Type cb 1 label:</strong>
  <%= @job_type.TYPE_CB_1_LABEL %>
</p>

<p>
  <strong>Type cb 2 label:</strong>
  <%= @job_type.TYPE_CB_2_LABEL %>
</p>

<p>
  <strong>Type cb 3 label:</strong>
  <%= @job_type.TYPE_CB_3_LABEL %>
</p>

<p>
  <strong>Type cb 4 label:</strong>
  <%= @job_type.TYPE_CB_4_LABEL %>
</p>

<p>
  <strong>Type cb 5 label:</strong>
  <%= @job_type.TYPE_CB_5_LABEL %>
</p>

<p>
  <strong>Type cb 6 label:</strong>
  <%= @job_type.TYPE_CB_6_LABEL %>
</p>

<p>
  <strong>Type cb 7 label:</strong>
  <%= @job_type.TYPE_CB_7_LABEL %>
</p>

<p>
  <strong>Type cb 8 label:</strong>
  <%= @job_type.TYPE_CB_8_LABEL %>
</p>

<p>
  <strong>Type cb 9 label:</strong>
  <%= @job_type.TYPE_CB_9_LABEL %>
</p>

<p>
  <strong>Type cb 10 label:</strong>
  <%= @job_type.TYPE_CB_10_LABEL %>
</p>

<p>
  <strong>Type cb 11 label:</strong>
  <%= @job_type.TYPE_CB_11_LABEL %>
</p>

<p>
  <strong>Type cb 12 label:</strong>
  <%= @job_type.TYPE_CB_12_LABEL %>
</p>

<p>
  <strong>Type cb 13 label:</strong>
  <%= @job_type.TYPE_CB_13_LABEL %>
</p>

<p>
  <strong>Type cb 14 label:</strong>
  <%= @job_type.TYPE_CB_14_LABEL %>
</p>

<p>
  <strong>Type cb 15 label:</strong>
  <%= @job_type.TYPE_CB_15_LABEL %>
</p>

<p>
  <strong>Type commissionable:</strong>
  <%= @job_type.TYPE_COMMISSIONABLE %>
</p>

<p>
  <strong>Type comm rate:</strong>
  <%= @job_type.TYPE_COMM_RATE %>
</p>

<p>
  <strong>Type comm spiff:</strong>
  <%= @job_type.TYPE_COMM_SPIFF %>
</p>

<p>
  <strong>Type comm type ae:</strong>
  <%= @job_type.TYPE_COMM_TYPE_AE %>
</p>

<p>
  <strong>Type comm rate biz:</strong>
  <%= @job_type.TYPE_COMM_RATE_BIZ %>
</p>

<p>
  <strong>Type active:</strong>
  <%= @job_type.TYPE_ACTIVE %>
</p>

<p>
  <strong>Type added by:</strong>
  <%= @job_type.TYPE_ADDED_BY %>
</p>

<p>
  <strong>Type added when:</strong>
  <%= @job_type.TYPE_ADDED_WHEN %>
</p>

<p>
  <strong>Type edited by:</strong>
  <%= @job_type.TYPE_EDITED_BY %>
</p>

<p>
  <strong>Type edited when:</strong>
  <%= @job_type.TYPE_EDITED_WHEN %>
</p>

<p>
  <strong>Type wo 1 label:</strong>
  <%= @job_type.TYPE_WO_1_LABEL %>
</p>

<p>
  <strong>Type wo 2 label:</strong>
  <%= @job_type.TYPE_WO_2_LABEL %>
</p>

<p>
  <strong>Type wo 3 label:</strong>
  <%= @job_type.TYPE_WO_3_LABEL %>
</p>

<p>
  <strong>Type wo 4 label:</strong>
  <%= @job_type.TYPE_WO_4_LABEL %>
</p>

<p>
  <strong>Type wo 5 label:</strong>
  <%= @job_type.TYPE_WO_5_LABEL %>
</p>

<p>
  <strong>Type wo 6 label:</strong>
  <%= @job_type.TYPE_WO_6_LABEL %>
</p>

<p>
  <strong>Type wo 7 label:</strong>
  <%= @job_type.TYPE_WO_7_LABEL %>
</p>

<p>
  <strong>Type wo 8 label:</strong>
  <%= @job_type.TYPE_WO_8_LABEL %>
</p>

<p>
  <strong>Type wo 9 label:</strong>
  <%= @job_type.TYPE_WO_9_LABEL %>
</p>

<p>
  <strong>Type wo 10 label:</strong>
  <%= @job_type.TYPE_WO_10_LABEL %>
</p>

<p>
  <strong>Type wo 11 label:</strong>
  <%= @job_type.TYPE_WO_11_LABEL %>
</p>

<p>
  <strong>Type wo 12 label:</strong>
  <%= @job_type.TYPE_WO_12_LABEL %>
</p>

<p>
  <strong>Type wo 13 label:</strong>
  <%= @job_type.TYPE_WO_13_LABEL %>
</p>

<p>
  <strong>Type wo 14 label:</strong>
  <%= @job_type.TYPE_WO_14_LABEL %>
</p>

<p>
  <strong>Type wo 15 label:</strong>
  <%= @job_type.TYPE_WO_15_LABEL %>
</p>

<p>
  <strong>Type pc:</strong>
  <%= @job_type.TYPE_PC %>
</p>

<p>
  <strong>Type checklist1:</strong>
  <%= @job_type.TYPE_CHECKLIST1 %>
</p>

<p>
  <strong>Type checklist2:</strong>
  <%= @job_type.TYPE_CHECKLIST2 %>
</p>

<p>
  <strong>Type checklist3:</strong>
  <%= @job_type.TYPE_CHECKLIST3 %>
</p>

<p>
  <strong>Type checklist4:</strong>
  <%= @job_type.TYPE_CHECKLIST4 %>
</p>

<p>
  <strong>Type checklist5:</strong>
  <%= @job_type.TYPE_CHECKLIST5 %>
</p>

<p>
  <strong>Type checklist6:</strong>
  <%= @job_type.TYPE_CHECKLIST6 %>
</p>

<p>
  <strong>Type checklist7:</strong>
  <%= @job_type.TYPE_CHECKLIST7 %>
</p>

<p>
  <strong>Type checklist8:</strong>
  <%= @job_type.TYPE_CHECKLIST8 %>
</p>

<p>
  <strong>Type check1 name:</strong>
  <%= @job_type.TYPE_CHECK1_NAME %>
</p>

<p>
  <strong>Type check2 name:</strong>
  <%= @job_type.TYPE_CHECK2_NAME %>
</p>

<p>
  <strong>Type check3 name:</strong>
  <%= @job_type.TYPE_CHECK3_NAME %>
</p>

<p>
  <strong>Type check4 name:</strong>
  <%= @job_type.TYPE_CHECK4_NAME %>
</p>

<p>
  <strong>Type check5 name:</strong>
  <%= @job_type.TYPE_CHECK5_NAME %>
</p>

<p>
  <strong>Type check6 name:</strong>
  <%= @job_type.TYPE_CHECK6_NAME %>
</p>

<p>
  <strong>Type check7 name:</strong>
  <%= @job_type.TYPE_CHECK7_NAME %>
</p>

<p>
  <strong>Type check8 name:</strong>
  <%= @job_type.TYPE_CHECK8_NAME %>
</p>

<p>
  <strong>Type forecast costs:</strong>
  <%= @job_type.TYPE_FORECAST_COSTS %>
</p>

<p>
  <strong>Type forecast labor:</strong>
  <%= @job_type.TYPE_FORECAST_LABOR %>
</p>

<p>
  <strong>Type user date1:</strong>
  <%= @job_type.TYPE_USER_DATE1 %>
</p>

<p>
  <strong>Type user date2:</strong>
  <%= @job_type.TYPE_USER_DATE2 %>
</p>

<p>
  <strong>Type reviewer:</strong>
  <%= @job_type.TYPE_REVIEWER %>
</p>

<p>
  <strong>Type requestable:</strong>
  <%= @job_type.TYPE_REQUESTABLE %>
</p>

<p>
  <strong>Type j field1 label:</strong>
  <%= @job_type.TYPE_J_FIELD1_LABEL %>
</p>

<p>
  <strong>Type j field2 label:</strong>
  <%= @job_type.TYPE_J_FIELD2_LABEL %>
</p>

<p>
  <strong>Type j field3 label:</strong>
  <%= @job_type.TYPE_J_FIELD3_LABEL %>
</p>

<p>
  <strong>Type j field4 label:</strong>
  <%= @job_type.TYPE_J_FIELD4_LABEL %>
</p>

<p>
  <strong>Type j field5 label:</strong>
  <%= @job_type.TYPE_J_FIELD5_LABEL %>
</p>

<p>
  <strong>Type j field6 label:</strong>
  <%= @job_type.TYPE_J_FIELD6_LABEL %>
</p>

<p>
  <strong>Type req j field1:</strong>
  <%= @job_type.TYPE_REQ_J_FIELD1 %>
</p>

<p>
  <strong>Type req j field2:</strong>
  <%= @job_type.TYPE_REQ_J_FIELD2 %>
</p>

<p>
  <strong>Type req j field3:</strong>
  <%= @job_type.TYPE_REQ_J_FIELD3 %>
</p>

<p>
  <strong>Type req j field4:</strong>
  <%= @job_type.TYPE_REQ_J_FIELD4 %>
</p>

<p>
  <strong>Type req j field5:</strong>
  <%= @job_type.TYPE_REQ_J_FIELD5 %>
</p>

<p>
  <strong>Type req j field6:</strong>
  <%= @job_type.TYPE_REQ_J_FIELD6 %>
</p>

<p>
  <strong>Type category:</strong>
  <%= @job_type.TYPE_CATEGORY %>
</p>

<p>
  <strong>Type job option1:</strong>
  <%= @job_type.TYPE_JOB_OPTION1 %>
</p>

<p>
  <strong>Type job option2:</strong>
  <%= @job_type.TYPE_JOB_OPTION2 %>
</p>

<p>
  <strong>Type job option3:</strong>
  <%= @job_type.TYPE_JOB_OPTION3 %>
</p>

<p>
  <strong>Type job option4:</strong>
  <%= @job_type.TYPE_JOB_OPTION4 %>
</p>

<p>
  <strong>Type job option5:</strong>
  <%= @job_type.TYPE_JOB_OPTION5 %>
</p>

<p>
  <strong>Type job option6:</strong>
  <%= @job_type.TYPE_JOB_OPTION6 %>
</p>

<p>
  <strong>Type job option7:</strong>
  <%= @job_type.TYPE_JOB_OPTION7 %>
</p>

<p>
  <strong>Type job option8:</strong>
  <%= @job_type.TYPE_JOB_OPTION8 %>
</p>

<p>
  <strong>Type home cb1:</strong>
  <%= @job_type.TYPE_HOME_CB1 %>
</p>

<p>
  <strong>Type home cb2:</strong>
  <%= @job_type.TYPE_HOME_CB2 %>
</p>

<p>
  <strong>Type home cb3:</strong>
  <%= @job_type.TYPE_HOME_CB3 %>
</p>

<p>
  <strong>Type home cb4:</strong>
  <%= @job_type.TYPE_HOME_CB4 %>
</p>

<p>
  <strong>Type home cb5:</strong>
  <%= @job_type.TYPE_HOME_CB5 %>
</p>

<p>
  <strong>Type home cb6:</strong>
  <%= @job_type.TYPE_HOME_CB6 %>
</p>

<p>
  <strong>Type home cb7:</strong>
  <%= @job_type.TYPE_HOME_CB7 %>
</p>

<p>
  <strong>Type home cb8:</strong>
  <%= @job_type.TYPE_HOME_CB8 %>
</p>

<p>
  <strong>Type home cb9:</strong>
  <%= @job_type.TYPE_HOME_CB9 %>
</p>

<p>
  <strong>Type home cb10:</strong>
  <%= @job_type.TYPE_HOME_CB10 %>
</p>

<p>
  <strong>Type home cb11:</strong>
  <%= @job_type.TYPE_HOME_CB11 %>
</p>

<p>
  <strong>Type home cb12:</strong>
  <%= @job_type.TYPE_HOME_CB12 %>
</p>

<p>
  <strong>Type home cb13:</strong>
  <%= @job_type.TYPE_HOME_CB13 %>
</p>

<p>
  <strong>Type home cb14:</strong>
  <%= @job_type.TYPE_HOME_CB14 %>
</p>

<p>
  <strong>Type home cb15:</strong>
  <%= @job_type.TYPE_HOME_CB15 %>
</p>

<p>
  <strong>Type home wo1:</strong>
  <%= @job_type.TYPE_HOME_WO1 %>
</p>

<p>
  <strong>Type home wo2:</strong>
  <%= @job_type.TYPE_HOME_WO2 %>
</p>

<p>
  <strong>Type home wo3:</strong>
  <%= @job_type.TYPE_HOME_WO3 %>
</p>

<p>
  <strong>Type home wo4:</strong>
  <%= @job_type.TYPE_HOME_WO4 %>
</p>

<p>
  <strong>Type home wo5:</strong>
  <%= @job_type.TYPE_HOME_WO5 %>
</p>

<p>
  <strong>Type home wo6:</strong>
  <%= @job_type.TYPE_HOME_WO6 %>
</p>

<p>
  <strong>Type home wo7:</strong>
  <%= @job_type.TYPE_HOME_WO7 %>
</p>

<p>
  <strong>Type home wo8:</strong>
  <%= @job_type.TYPE_HOME_WO8 %>
</p>

<p>
  <strong>Type home wo9:</strong>
  <%= @job_type.TYPE_HOME_WO9 %>
</p>

<p>
  <strong>Type home wo10:</strong>
  <%= @job_type.TYPE_HOME_WO10 %>
</p>

<p>
  <strong>Type home wo11:</strong>
  <%= @job_type.TYPE_HOME_WO11 %>
</p>

<p>
  <strong>Type home wo12:</strong>
  <%= @job_type.TYPE_HOME_WO12 %>
</p>

<p>
  <strong>Type home wo13:</strong>
  <%= @job_type.TYPE_HOME_WO13 %>
</p>

<p>
  <strong>Type home wo14:</strong>
  <%= @job_type.TYPE_HOME_WO14 %>
</p>

<p>
  <strong>Type home wo15:</strong>
  <%= @job_type.TYPE_HOME_WO15 %>
</p>

<p>
  <strong>Type check rule1:</strong>
  <%= @job_type.TYPE_CHECK_RULE1 %>
</p>

<p>
  <strong>Type check rule2:</strong>
  <%= @job_type.TYPE_CHECK_RULE2 %>
</p>

<p>
  <strong>Type check rule3:</strong>
  <%= @job_type.TYPE_CHECK_RULE3 %>
</p>

<p>
  <strong>Type check rule4:</strong>
  <%= @job_type.TYPE_CHECK_RULE4 %>
</p>

<p>
  <strong>Type job requests:</strong>
  <%= @job_type.TYPE_JOB_REQUESTS %>
</p>

<p>
  <strong>Type reviewer2:</strong>
  <%= @job_type.TYPE_REVIEWER2 %>
</p>

<p>
  <strong>Type reviewer3:</strong>
  <%= @job_type.TYPE_REVIEWER3 %>
</p>

<%= link_to 'Edit', edit_job_type_path(@job_type) %> |
<%= link_to 'Back', job_types_path %>
