<p id="notice"><%= notice %></p>

<p>
  <strong>S num:</strong>
  <%= @claven_sale.S_NUM %>
</p>

<p>
  <strong>S pr job num:</strong>
  <%= @claven_sale.S_PR_JOB_NUM %>
</p>

<p>
  <strong>S pr task:</strong>
  <%= @claven_sale.S_PR_TASK %>
</p>

<p>
  <strong>S client:</strong>
  <%= @claven_sale.S_CLIENT %>
</p>

<p>
  <strong>S how paid:</strong>
  <%= @claven_sale.S_HOW_PAID %>
</p>

<p>
  <strong>S terms:</strong>
  <%= @claven_sale.S_TERMS %>
</p>

<p>
  <strong>S invoice date:</strong>
  <%= @claven_sale.S_INVOICE_DATE %>
</p>

<p>
  <strong>S ship org:</strong>
  <%= @claven_sale.S_SHIP_ORG %>
</p>

<p>
  <strong>S price:</strong>
  <%= @claven_sale.S_PRICE %>
</p>

<p>
  <strong>S product name:</strong>
  <%= @claven_sale.S_PRODUCT_NAME %>
</p>

<p>
  <strong>S ts credit amt:</strong>
  <%= @claven_sale.S_TS_CREDIT_AMT %>
</p>

<p>
  <strong>S disc desc:</strong>
  <%= @claven_sale.S_DISC_DESC %>
</p>

<p>
  <strong>S addl qty:</strong>
  <%= @claven_sale.S_ADDL_QTY %>
</p>

<p>
  <strong>S addl user amt:</strong>
  <%= @claven_sale.S_ADDL_USER_AMT %>
</p>

<p>
  <strong>S options desc:</strong>
  <%= @claven_sale.S_OPTIONS_DESC %>
</p>

<p>
  <strong>S amt options:</strong>
  <%= @claven_sale.S_AMT_OPTIONS %>
</p>

<p>
  <strong>S tax rate:</strong>
  <%= @claven_sale.S_TAX_RATE %>
</p>

<p>
  <strong>S support amt:</strong>
  <%= @claven_sale.S_SUPPORT_AMT %>
</p>

<p>
  <strong>S ship amt:</strong>
  <%= @claven_sale.S_SHIP_AMT %>
</p>

<p>
  <strong>S invoice total:</strong>
  <%= @claven_sale.S_INVOICE_TOTAL %>
</p>

<p>
  <strong>S discount:</strong>
  <%= @claven_sale.S_DISCOUNT %>
</p>

<p>
  <strong>S sales tax:</strong>
  <%= @claven_sale.S_SALES_TAX %>
</p>

<%= link_to 'Edit', edit_claven_sale_path(@claven_sale) %> |
<%= link_to 'Back', claven_sales_path %>
