<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @ar_item.primaryKey %>
</p>

<p>
  <strong>Ax job num:</strong>
  <%= @ar_item.AX_JOB_NUM %>
</p>

<p>
  <strong>Ax task:</strong>
  <%= @ar_item.AX_TASK %>
</p>

<p>
  <strong>Ax ar num:</strong>
  <%= @ar_item.AX_AR_NUM %>
</p>

<p>
  <strong>Ax amt:</strong>
  <%= @ar_item.AX_AMT %>
</p>

<p>
  <strong>Ax sort:</strong>
  <%= @ar_item.AX_SORT %>
</p>

<p>
  <strong>Ax group:</strong>
  <%= @ar_item.AX_GROUP %>
</p>

<p>
  <strong>Ax taxable1:</strong>
  <%= @ar_item.AX_TAXABLE1 %>
</p>

<p>
  <strong>Ax taxable2:</strong>
  <%= @ar_item.AX_TAXABLE2 %>
</p>

<p>
  <strong>Ax desc:</strong>
  <%= @ar_item.AX_DESC %>
</p>

<p>
  <strong>Ax date:</strong>
  <%= @ar_item.AX_DATE %>
</p>

<p>
  <strong>Ax cgl:</strong>
  <%= @ar_item.AX_CGL %>
</p>

<p>
  <strong>Ax posted:</strong>
  <%= @ar_item.AX_POSTED %>
</p>

<p>
  <strong>Ax period:</strong>
  <%= @ar_item.AX_PERIOD %>
</p>

<p>
  <strong>Ax name:</strong>
  <%= @ar_item.AX_NAME %>
</p>

<p>
  <strong>Ax hours billed:</strong>
  <%= @ar_item.AX_HOURS_BILLED %>
</p>

<p>
  <strong>Ax hide:</strong>
  <%= @ar_item.AX_HIDE %>
</p>

<p>
  <strong>Ax roll up:</strong>
  <%= @ar_item.AX_ROLL_UP %>
</p>

<p>
  <strong>Ax show desc:</strong>
  <%= @ar_item.AX_SHOW_DESC %>
</p>

<p>
  <strong>Ax qty:</strong>
  <%= @ar_item.AX_QTY %>
</p>

<p>
  <strong>Ax pox key:</strong>
  <%= @ar_item.AX_POX_KEY %>
</p>

<p>
  <strong>Ax pub:</strong>
  <%= @ar_item.AX_PUB %>
</p>

<p>
  <strong>Ax issue date:</strong>
  <%= @ar_item.AX_ISSUE_DATE %>
</p>

<p>
  <strong>Ax cost:</strong>
  <%= @ar_item.AX_COST %>
</p>

<p>
  <strong>Ax exported:</strong>
  <%= @ar_item.AX_EXPORTED %>
</p>

<p>
  <strong>Ax pc:</strong>
  <%= @ar_item.AX_PC %>
</p>

<p>
  <strong>Ax client num:</strong>
  <%= @ar_item.AX_CLIENT_NUM %>
</p>

<p>
  <strong>Ax commissionable:</strong>
  <%= @ar_item.AX_COMMISSIONABLE %>
</p>

<p>
  <strong>Ax added by:</strong>
  <%= @ar_item.AX_ADDED_BY %>
</p>

<p>
  <strong>Ax added when:</strong>
  <%= @ar_item.AX_ADDED_WHEN %>
</p>

<p>
  <strong>Ax edited by:</strong>
  <%= @ar_item.AX_EDITED_BY %>
</p>

<p>
  <strong>Ax edited when:</strong>
  <%= @ar_item.AX_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_ar_item_path(@ar_item) %> |
<%= link_to 'Back', ar_items_path %>
