<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @finance.primaryKey %>
</p>

<p>
  <strong>Fi ac num:</strong>
  <%= @finance.FI_AC_NUM %>
</p>

<p>
  <strong>Fi category:</strong>
  <%= @finance.FI_CATEGORY %>
</p>

<p>
  <strong>Fi class:</strong>
  <%= @finance.FI_CLASS %>
</p>

<p>
  <strong>Fi mtd:</strong>
  <%= @finance.FI_MTD %>
</p>

<p>
  <strong>Fi mtd percent:</strong>
  <%= @finance.FI_MTD_PERCENT %>
</p>

<p>
  <strong>Fi ytd:</strong>
  <%= @finance.FI_YTD %>
</p>

<p>
  <strong>Fi ytd percent:</strong>
  <%= @finance.FI_YTD_PERCENT %>
</p>

<p>
  <strong>Fi month:</strong>
  <%= @finance.FI_MONTH %>
</p>

<p>
  <strong>Fi year:</strong>
  <%= @finance.FI_YEAR %>
</p>

<p>
  <strong>Fi 1:</strong>
  <%= @finance.FI_1 %>
</p>

<p>
  <strong>Fi 2:</strong>
  <%= @finance.FI_2 %>
</p>

<p>
  <strong>Fi 3:</strong>
  <%= @finance.FI_3 %>
</p>

<p>
  <strong>Fi 4:</strong>
  <%= @finance.FI_4 %>
</p>

<p>
  <strong>Fi 5:</strong>
  <%= @finance.FI_5 %>
</p>

<p>
  <strong>Fi 6:</strong>
  <%= @finance.FI_6 %>
</p>

<p>
  <strong>Fi 7:</strong>
  <%= @finance.FI_7 %>
</p>

<p>
  <strong>Fi 8:</strong>
  <%= @finance.FI_8 %>
</p>

<p>
  <strong>Fi name:</strong>
  <%= @finance.FI_NAME %>
</p>

<p>
  <strong>Fi note:</strong>
  <%= @finance.FI_NOTE %>
</p>

<p>
  <strong>Fi sub class:</strong>
  <%= @finance.FI_SUB_CLASS %>
</p>

<p>
  <strong>Fi roll up:</strong>
  <%= @finance.FI_ROLL_UP %>
</p>

<p>
  <strong>Fi pct1:</strong>
  <%= @finance.FI_PCT1 %>
</p>

<p>
  <strong>Fi pct2:</strong>
  <%= @finance.FI_PCT2 %>
</p>

<p>
  <strong>Fi pct3:</strong>
  <%= @finance.FI_PCT3 %>
</p>

<p>
  <strong>Fi pct4:</strong>
  <%= @finance.FI_PCT4 %>
</p>

<p>
  <strong>Fi l month:</strong>
  <%= @finance.FI_L_MONTH %>
</p>

<p>
  <strong>Fi l mtd:</strong>
  <%= @finance.FI_L_MTD %>
</p>

<p>
  <strong>Fi l year:</strong>
  <%= @finance.FI_L_YEAR %>
</p>

<p>
  <strong>Fi l ytd:</strong>
  <%= @finance.FI_L_YTD %>
</p>

<p>
  <strong>Fi l mtd percent:</strong>
  <%= @finance.FI_L_MTD_PERCENT %>
</p>

<p>
  <strong>Fi l ytd percent:</strong>
  <%= @finance.FI_L_YTD_PERCENT %>
</p>

<p>
  <strong>Fi l pct1:</strong>
  <%= @finance.FI_L_PCT1 %>
</p>

<p>
  <strong>Fi l pct2:</strong>
  <%= @finance.FI_L_PCT2 %>
</p>

<p>
  <strong>Fi l pct3:</strong>
  <%= @finance.FI_L_PCT3 %>
</p>

<p>
  <strong>Fi l pct4:</strong>
  <%= @finance.FI_L_PCT4 %>
</p>

<p>
  <strong>Fi client num:</strong>
  <%= @finance.FI_CLIENT_NUM %>
</p>

<p>
  <strong>Fi group:</strong>
  <%= @finance.FI_GROUP %>
</p>

<p>
  <strong>Fi pct5:</strong>
  <%= @finance.FI_PCT5 %>
</p>

<p>
  <strong>Fi l pct5:</strong>
  <%= @finance.FI_L_PCT5 %>
</p>

<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
