<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @un_check.primaryKey %>
</p>

<p>
  <strong>Uncks debit:</strong>
  <%= @un_check.UNCKS_DEBIT %>
</p>

<p>
  <strong>Uncks credit:</strong>
  <%= @un_check.UNCKS_CREDIT %>
</p>

<p>
  <strong>Uncks desc:</strong>
  <%= @un_check.UNCKS_DESC %>
</p>

<p>
  <strong>Uncks ref:</strong>
  <%= @un_check.UNCKS_REF %>
</p>

<p>
  <strong>Uncks temp rec:</strong>
  <%= @un_check.UNCKS_TEMP_REC %>
</p>

<p>
  <strong>Uncks pay batch:</strong>
  <%= @un_check.UNCKS_PAY_BATCH %>
</p>

<p>
  <strong>Uncks source:</strong>
  <%= @un_check.UNCKS_SOURCE %>
</p>

<p>
  <strong>Uncks reconcile:</strong>
  <%= @un_check.UNCKS_RECONCILE %>
</p>

<p>
  <strong>Uncks date:</strong>
  <%= @un_check.UNCKS_DATE %>
</p>

<p>
  <strong>Uncks ac num:</strong>
  <%= @un_check.UNCKS_AC_NUM %>
</p>

<%= link_to 'Edit', edit_un_check_path(@un_check) %> |
<%= link_to 'Back', un_checks_path %>
