<%= simple_form_for(@print_spec) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :PSPEC_JOB_NUM %>
    <%= f.input :PSPEC_PROD_COORD %>
    <%= f.input :PSPEC_DATE %>
    <%= f.input :PSPEC_DATE_NEEDED %>
    <%= f.input :PSPEC_DESCRIPTION %>
    <%= f.input :PSPEC_ART_DUE %>
    <%= f.input :PSPEC_FINAL_DUE %>
    <%= f.input :PSPEC_QTY %>
    <%= f.input :PSPEC_OVERRUN %>
    <%= f.input :PSPEC_COV_FLATSIZE %>
    <%= f.input :PSPEC_COV_FOLDSIZE %>
    <%= f.input :PSPEC_COV_STOCK %>
    <%= f.input :PSPEC_COV_OUTSIDE %>
    <%= f.input :PSPEC_COV_INSIDE %>
    <%= f.input :PSPEC_COV_O_BLEEDS %>
    <%= f.input :PSPEC_COV_I_BLEEDS %>
    <%= f.input :PSPEC_COV_PANTONE %>
    <%= f.input :PSPEC_TX_FLATSIZE %>
    <%= f.input :PSPEC_TX_FOLDSIZE %>
    <%= f.input :PSPEC_TX_STOCK %>
    <%= f.input :PSPEC_TX_COLORS %>
    <%= f.input :PSPEC_TX_BLEEDS %>
    <%= f.input :PSPEC_TX_PANTONE %>
    <%= f.input :PSPEC_TX_PAGES %>
    <%= f.input :PSPEC_IN_FLATSIZE %>
    <%= f.input :PSPEC_IN_FOLDSIZE %>
    <%= f.input :PSPEC_IN_STOCK %>
    <%= f.input :PSPEC_IN_COLORS %>
    <%= f.input :PSPEC_IN_PAGES %>
    <%= f.input :PSPEC_IN_BLEEDS %>
    <%= f.input :PSPEC_IN_PANTONE %>
    <%= f.input :PSPEC_IN_COLLATE %>
    <%= f.input :PSPEC_MECH %>
    <%= f.input :PSPEC_ELEC %>
    <%= f.input :PSPEC_FILM %>
    <%= f.input :PSPEC_NO_IMAGES %>
    <%= f.input :PSPEC_T1 %>
    <%= f.input :PSPEC_T2 %>
    <%= f.input :PSPEC_T3 %>
    <%= f.input :PSPEC_T4 %>
    <%= f.input :PSPEC_TRANS_SPEC %>
    <%= f.input :PSPEC_R1 %>
    <%= f.input :PSPEC_R2 %>
    <%= f.input :PSPEC_R3 %>
    <%= f.input :PSPEC_R4 %>
    <%= f.input :PSPEC_REF_SPEC %>
    <%= f.input :PSPEC_STRIPPING %>
    <%= f.input :PSPEC_PROOFING %>
    <%= f.input :PSPEC_BINDERY %>
    <%= f.input :PSPEC_PACKAGE %>
    <%= f.input :PSPEC_ADDED_BY %>
    <%= f.input :PSPEC_STATUS %>
    <%= f.input :PSX_PROD_CONTACT %>
    <%= f.input :PSX_FORMAT %>
    <%= f.input :PSX_FORMAT_OTHER %>
    <%= f.input :PSX_QTY_EACH %>
    <%= f.input :PSX_QTY_TOTAL %>
    <%= f.input :PSX_PREPRESS %>
    <%= f.input :PSX_PREPRESS_OTHER %>
    <%= f.input :PSX_STATUS %>
    <%= f.input :PSX_TRIM %>
    <%= f.input :PSX_FOLDS_TO %>
    <%= f.input :PSX_FOLDS_OTHER %>
    <%= f.input :PSX_WEIGHT %>
    <%= f.input :PSX_FINISH %>
    <%= f.input :PSX_TYPE %>
    <%= f.input :PSX_SPECIAL_STOCK %>
    <%= f.input :PSX_AVAILABLE_FROM %>
    <%= f.input :PSX_CLIENT_SUPPLIED %>
    <%= f.input :PSX_DRILL %>
    <%= f.input :PSX_FOLD_GLUE %>
    <%= f.input :PSX_CUT %>
    <%= f.input :PSX_COLLATE %>
    <%= f.input :PSX_STITCHING %>
    <%= f.input :PSX_WRAPPING %>
    <%= f.input :PSX_TABS %>
    <%= f.input :PSX_SPECIAL_DIECUT %>
    <%= f.input :PSX_SPECIAL_FOIL %>
    <%= f.input :PSX_SPECIAL_LAM %>
    <%= f.input :PSX_SPECIAL_PRESSCHECK %>
    <%= f.input :PSX_SPECIAL_SPOTUV %>
    <%= f.input :PSX_SPECIAL_BIND %>
    <%= f.input :PSX_SPECIAL_GLUE %>
    <%= f.input :PSX_SPECIAL_OTHER %>
    <%= f.input :PSX_SPECIAL_NOTES %>
    <%= f.input :PSX_COLOR1_PROCESS %>
    <%= f.input :PSX_COLOR2_PROCESS %>
    <%= f.input :PSX_COVR1_PROCESS %>
    <%= f.input :PSX_COVR2_PROCESS %>
    <%= f.input :PSX_COLOR1_PMS %>
    <%= f.input :PSX_COLOR2_PMS %>
    <%= f.input :PSX_COVR1_PMS %>
    <%= f.input :PSX_COVR2_PMS %>
    <%= f.input :PSX_COLOR1_METAL %>
    <%= f.input :PSX_COLOR2_METAL %>
    <%= f.input :PSX_COVR1_METAL %>
    <%= f.input :PSX_COVR2_METAL %>
    <%= f.input :PSX_SIDE1_COATING %>
    <%= f.input :PSX_SIDE2_COATING %>
    <%= f.input :PSX_SPECIAL_OPTION %>
    <%= f.input :PSX_DEL_DATE %>
    <%= f.input :PSX_DELIVERY %>
    <%= f.input :PSX_DELIVER1_TO1 %>
    <%= f.input :PSX_DELIVER1_TO2 %>
    <%= f.input :PSX_DELIVER1_TO3 %>
    <%= f.input :PSX_DELIVER1_TO4 %>
    <%= f.input :PSX_DELIVER1_QTY %>
    <%= f.input :PSX_DELIVER2_TO1 %>
    <%= f.input :PSX_DELIVER2_TO2 %>
    <%= f.input :PSX_DELIVER2_TO3 %>
    <%= f.input :PSX_DELIVER2_TO4 %>
    <%= f.input :PSX_DELIVER2_QTY %>
    <%= f.input :PSX_DELIVER3_TO1 %>
    <%= f.input :PSX_DELIVER3_TO2 %>
    <%= f.input :PSX_DELIVER3_TO3 %>
    <%= f.input :PSX_DELIVER3_TO4 %>
    <%= f.input :PSX_DELIVER3_QTY %>
    <%= f.input :PSX_DEL_INSTRUCTIONS %>
    <%= f.input :PSX_SPEC_INSTRUCTIONS %>
    <%= f.input :PSX_INV_INSTRUCTIONS %>
    <%= f.input :PSX_VENDOR1 %>
    <%= f.input :PSX_VENDOR2 %>
    <%= f.input :PSX_VENDOR3 %>
    <%= f.input :PSX_BID1_1 %>
    <%= f.input :PSX_BID1_2 %>
    <%= f.input :PSX_BID1_3 %>
    <%= f.input :PSX_BID1_4 %>
    <%= f.input :PSX_BID2_1 %>
    <%= f.input :PSX_BID2_2 %>
    <%= f.input :PSX_BID2_3 %>
    <%= f.input :PSX_BID2_4 %>
    <%= f.input :PSX_BID3_1 %>
    <%= f.input :PSX_BID3_2 %>
    <%= f.input :PSX_BID3_3 %>
    <%= f.input :PSX_BID3_4 %>
    <%= f.input :PSX_BID1_AMT %>
    <%= f.input :PSX_BID2_AMT %>
    <%= f.input :PSX_BID3_AMT %>
    <%= f.input :PSX_BID4_AMT %>
    <%= f.input :PSX_BID1_NOTES %>
    <%= f.input :PSX_BID2_NOTES %>
    <%= f.input :PSX_BID3_NOTES %>
    <%= f.input :PSX_BID_WINNER %>
    <%= f.input :PSX_DATE_AWARDED %>
    <%= f.input :PSX_AWARDED_BY %>
    <%= f.input :PSX_TAXABLE %>
    <%= f.input :PSX_PROD_CONTACT_PH %>
    <%= f.input :PSX_PROD_CONTACT_EMAIL %>
    <%= f.input :PSX_TASK %>
    <%= f.input :PSX_NEED_QUOTE_BY %>
    <%= f.input :PSX_DRILL_OTHER %>
    <%= f.input :PSX_ADDED_BY %>
    <%= f.input :PSX_ADDED_WHEN %>
    <%= f.input :PSX_EDITED_BY %>
    <%= f.input :PSX_EDITED_WHEN %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
