<h1>Listing print_specs</h1>

<table>
  <thead>
    <tr>
      <th>Primarykey</th>
      <th>Pspec job num</th>
      <th>Pspec prod coord</th>
      <th>Pspec date</th>
      <th>Pspec date needed</th>
      <th>Pspec description</th>
      <th>Pspec art due</th>
      <th>Pspec final due</th>
      <th>Pspec qty</th>
      <th>Pspec overrun</th>
      <th>Pspec cov flatsize</th>
      <th>Pspec cov foldsize</th>
      <th>Pspec cov stock</th>
      <th>Pspec cov outside</th>
      <th>Pspec cov inside</th>
      <th>Pspec cov o bleeds</th>
      <th>Pspec cov i bleeds</th>
      <th>Pspec cov pantone</th>
      <th>Pspec tx flatsize</th>
      <th>Pspec tx foldsize</th>
      <th>Pspec tx stock</th>
      <th>Pspec tx colors</th>
      <th>Pspec tx bleeds</th>
      <th>Pspec tx pantone</th>
      <th>Pspec tx pages</th>
      <th>Pspec in flatsize</th>
      <th>Pspec in foldsize</th>
      <th>Pspec in stock</th>
      <th>Pspec in colors</th>
      <th>Pspec in pages</th>
      <th>Pspec in bleeds</th>
      <th>Pspec in pantone</th>
      <th>Pspec in collate</th>
      <th>Pspec mech</th>
      <th>Pspec elec</th>
      <th>Pspec film</th>
      <th>Pspec no images</th>
      <th>Pspec t1</th>
      <th>Pspec t2</th>
      <th>Pspec t3</th>
      <th>Pspec t4</th>
      <th>Pspec trans spec</th>
      <th>Pspec r1</th>
      <th>Pspec r2</th>
      <th>Pspec r3</th>
      <th>Pspec r4</th>
      <th>Pspec ref spec</th>
      <th>Pspec stripping</th>
      <th>Pspec proofing</th>
      <th>Pspec bindery</th>
      <th>Pspec package</th>
      <th>Pspec added by</th>
      <th>Pspec status</th>
      <th>Psx prod contact</th>
      <th>Psx format</th>
      <th>Psx format other</th>
      <th>Psx qty each</th>
      <th>Psx qty total</th>
      <th>Psx prepress</th>
      <th>Psx prepress other</th>
      <th>Psx status</th>
      <th>Psx trim</th>
      <th>Psx folds to</th>
      <th>Psx folds other</th>
      <th>Psx weight</th>
      <th>Psx finish</th>
      <th>Psx type</th>
      <th>Psx special stock</th>
      <th>Psx available from</th>
      <th>Psx client supplied</th>
      <th>Psx drill</th>
      <th>Psx fold glue</th>
      <th>Psx cut</th>
      <th>Psx collate</th>
      <th>Psx stitching</th>
      <th>Psx wrapping</th>
      <th>Psx tabs</th>
      <th>Psx special diecut</th>
      <th>Psx special foil</th>
      <th>Psx special lam</th>
      <th>Psx special presscheck</th>
      <th>Psx special spotuv</th>
      <th>Psx special bind</th>
      <th>Psx special glue</th>
      <th>Psx special other</th>
      <th>Psx special notes</th>
      <th>Psx color1 process</th>
      <th>Psx color2 process</th>
      <th>Psx covr1 process</th>
      <th>Psx covr2 process</th>
      <th>Psx color1 pms</th>
      <th>Psx color2 pms</th>
      <th>Psx covr1 pms</th>
      <th>Psx covr2 pms</th>
      <th>Psx color1 metal</th>
      <th>Psx color2 metal</th>
      <th>Psx covr1 metal</th>
      <th>Psx covr2 metal</th>
      <th>Psx side1 coating</th>
      <th>Psx side2 coating</th>
      <th>Psx special option</th>
      <th>Psx del date</th>
      <th>Psx delivery</th>
      <th>Psx deliver1 to1</th>
      <th>Psx deliver1 to2</th>
      <th>Psx deliver1 to3</th>
      <th>Psx deliver1 to4</th>
      <th>Psx deliver1 qty</th>
      <th>Psx deliver2 to1</th>
      <th>Psx deliver2 to2</th>
      <th>Psx deliver2 to3</th>
      <th>Psx deliver2 to4</th>
      <th>Psx deliver2 qty</th>
      <th>Psx deliver3 to1</th>
      <th>Psx deliver3 to2</th>
      <th>Psx deliver3 to3</th>
      <th>Psx deliver3 to4</th>
      <th>Psx deliver3 qty</th>
      <th>Psx del instructions</th>
      <th>Psx spec instructions</th>
      <th>Psx inv instructions</th>
      <th>Psx vendor1</th>
      <th>Psx vendor2</th>
      <th>Psx vendor3</th>
      <th>Psx bid1 1</th>
      <th>Psx bid1 2</th>
      <th>Psx bid1 3</th>
      <th>Psx bid1 4</th>
      <th>Psx bid2 1</th>
      <th>Psx bid2 2</th>
      <th>Psx bid2 3</th>
      <th>Psx bid2 4</th>
      <th>Psx bid3 1</th>
      <th>Psx bid3 2</th>
      <th>Psx bid3 3</th>
      <th>Psx bid3 4</th>
      <th>Psx bid1 amt</th>
      <th>Psx bid2 amt</th>
      <th>Psx bid3 amt</th>
      <th>Psx bid4 amt</th>
      <th>Psx bid1 notes</th>
      <th>Psx bid2 notes</th>
      <th>Psx bid3 notes</th>
      <th>Psx bid winner</th>
      <th>Psx date awarded</th>
      <th>Psx awarded by</th>
      <th>Psx taxable</th>
      <th>Psx prod contact ph</th>
      <th>Psx prod contact email</th>
      <th>Psx task</th>
      <th>Psx need quote by</th>
      <th>Psx drill other</th>
      <th>Psx added by</th>
      <th>Psx added when</th>
      <th>Psx edited by</th>
      <th>Psx edited when</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @print_specs.each do |print_spec| %>
      <tr>
        <td><%= print_spec.primaryKey %></td>
        <td><%= print_spec.PSPEC_JOB_NUM %></td>
        <td><%= print_spec.PSPEC_PROD_COORD %></td>
        <td><%= print_spec.PSPEC_DATE %></td>
        <td><%= print_spec.PSPEC_DATE_NEEDED %></td>
        <td><%= print_spec.PSPEC_DESCRIPTION %></td>
        <td><%= print_spec.PSPEC_ART_DUE %></td>
        <td><%= print_spec.PSPEC_FINAL_DUE %></td>
        <td><%= print_spec.PSPEC_QTY %></td>
        <td><%= print_spec.PSPEC_OVERRUN %></td>
        <td><%= print_spec.PSPEC_COV_FLATSIZE %></td>
        <td><%= print_spec.PSPEC_COV_FOLDSIZE %></td>
        <td><%= print_spec.PSPEC_COV_STOCK %></td>
        <td><%= print_spec.PSPEC_COV_OUTSIDE %></td>
        <td><%= print_spec.PSPEC_COV_INSIDE %></td>
        <td><%= print_spec.PSPEC_COV_O_BLEEDS %></td>
        <td><%= print_spec.PSPEC_COV_I_BLEEDS %></td>
        <td><%= print_spec.PSPEC_COV_PANTONE %></td>
        <td><%= print_spec.PSPEC_TX_FLATSIZE %></td>
        <td><%= print_spec.PSPEC_TX_FOLDSIZE %></td>
        <td><%= print_spec.PSPEC_TX_STOCK %></td>
        <td><%= print_spec.PSPEC_TX_COLORS %></td>
        <td><%= print_spec.PSPEC_TX_BLEEDS %></td>
        <td><%= print_spec.PSPEC_TX_PANTONE %></td>
        <td><%= print_spec.PSPEC_TX_PAGES %></td>
        <td><%= print_spec.PSPEC_IN_FLATSIZE %></td>
        <td><%= print_spec.PSPEC_IN_FOLDSIZE %></td>
        <td><%= print_spec.PSPEC_IN_STOCK %></td>
        <td><%= print_spec.PSPEC_IN_COLORS %></td>
        <td><%= print_spec.PSPEC_IN_PAGES %></td>
        <td><%= print_spec.PSPEC_IN_BLEEDS %></td>
        <td><%= print_spec.PSPEC_IN_PANTONE %></td>
        <td><%= print_spec.PSPEC_IN_COLLATE %></td>
        <td><%= print_spec.PSPEC_MECH %></td>
        <td><%= print_spec.PSPEC_ELEC %></td>
        <td><%= print_spec.PSPEC_FILM %></td>
        <td><%= print_spec.PSPEC_NO_IMAGES %></td>
        <td><%= print_spec.PSPEC_T1 %></td>
        <td><%= print_spec.PSPEC_T2 %></td>
        <td><%= print_spec.PSPEC_T3 %></td>
        <td><%= print_spec.PSPEC_T4 %></td>
        <td><%= print_spec.PSPEC_TRANS_SPEC %></td>
        <td><%= print_spec.PSPEC_R1 %></td>
        <td><%= print_spec.PSPEC_R2 %></td>
        <td><%= print_spec.PSPEC_R3 %></td>
        <td><%= print_spec.PSPEC_R4 %></td>
        <td><%= print_spec.PSPEC_REF_SPEC %></td>
        <td><%= print_spec.PSPEC_STRIPPING %></td>
        <td><%= print_spec.PSPEC_PROOFING %></td>
        <td><%= print_spec.PSPEC_BINDERY %></td>
        <td><%= print_spec.PSPEC_PACKAGE %></td>
        <td><%= print_spec.PSPEC_ADDED_BY %></td>
        <td><%= print_spec.PSPEC_STATUS %></td>
        <td><%= print_spec.PSX_PROD_CONTACT %></td>
        <td><%= print_spec.PSX_FORMAT %></td>
        <td><%= print_spec.PSX_FORMAT_OTHER %></td>
        <td><%= print_spec.PSX_QTY_EACH %></td>
        <td><%= print_spec.PSX_QTY_TOTAL %></td>
        <td><%= print_spec.PSX_PREPRESS %></td>
        <td><%= print_spec.PSX_PREPRESS_OTHER %></td>
        <td><%= print_spec.PSX_STATUS %></td>
        <td><%= print_spec.PSX_TRIM %></td>
        <td><%= print_spec.PSX_FOLDS_TO %></td>
        <td><%= print_spec.PSX_FOLDS_OTHER %></td>
        <td><%= print_spec.PSX_WEIGHT %></td>
        <td><%= print_spec.PSX_FINISH %></td>
        <td><%= print_spec.PSX_TYPE %></td>
        <td><%= print_spec.PSX_SPECIAL_STOCK %></td>
        <td><%= print_spec.PSX_AVAILABLE_FROM %></td>
        <td><%= print_spec.PSX_CLIENT_SUPPLIED %></td>
        <td><%= print_spec.PSX_DRILL %></td>
        <td><%= print_spec.PSX_FOLD_GLUE %></td>
        <td><%= print_spec.PSX_CUT %></td>
        <td><%= print_spec.PSX_COLLATE %></td>
        <td><%= print_spec.PSX_STITCHING %></td>
        <td><%= print_spec.PSX_WRAPPING %></td>
        <td><%= print_spec.PSX_TABS %></td>
        <td><%= print_spec.PSX_SPECIAL_DIECUT %></td>
        <td><%= print_spec.PSX_SPECIAL_FOIL %></td>
        <td><%= print_spec.PSX_SPECIAL_LAM %></td>
        <td><%= print_spec.PSX_SPECIAL_PRESSCHECK %></td>
        <td><%= print_spec.PSX_SPECIAL_SPOTUV %></td>
        <td><%= print_spec.PSX_SPECIAL_BIND %></td>
        <td><%= print_spec.PSX_SPECIAL_GLUE %></td>
        <td><%= print_spec.PSX_SPECIAL_OTHER %></td>
        <td><%= print_spec.PSX_SPECIAL_NOTES %></td>
        <td><%= print_spec.PSX_COLOR1_PROCESS %></td>
        <td><%= print_spec.PSX_COLOR2_PROCESS %></td>
        <td><%= print_spec.PSX_COVR1_PROCESS %></td>
        <td><%= print_spec.PSX_COVR2_PROCESS %></td>
        <td><%= print_spec.PSX_COLOR1_PMS %></td>
        <td><%= print_spec.PSX_COLOR2_PMS %></td>
        <td><%= print_spec.PSX_COVR1_PMS %></td>
        <td><%= print_spec.PSX_COVR2_PMS %></td>
        <td><%= print_spec.PSX_COLOR1_METAL %></td>
        <td><%= print_spec.PSX_COLOR2_METAL %></td>
        <td><%= print_spec.PSX_COVR1_METAL %></td>
        <td><%= print_spec.PSX_COVR2_METAL %></td>
        <td><%= print_spec.PSX_SIDE1_COATING %></td>
        <td><%= print_spec.PSX_SIDE2_COATING %></td>
        <td><%= print_spec.PSX_SPECIAL_OPTION %></td>
        <td><%= print_spec.PSX_DEL_DATE %></td>
        <td><%= print_spec.PSX_DELIVERY %></td>
        <td><%= print_spec.PSX_DELIVER1_TO1 %></td>
        <td><%= print_spec.PSX_DELIVER1_TO2 %></td>
        <td><%= print_spec.PSX_DELIVER1_TO3 %></td>
        <td><%= print_spec.PSX_DELIVER1_TO4 %></td>
        <td><%= print_spec.PSX_DELIVER1_QTY %></td>
        <td><%= print_spec.PSX_DELIVER2_TO1 %></td>
        <td><%= print_spec.PSX_DELIVER2_TO2 %></td>
        <td><%= print_spec.PSX_DELIVER2_TO3 %></td>
        <td><%= print_spec.PSX_DELIVER2_TO4 %></td>
        <td><%= print_spec.PSX_DELIVER2_QTY %></td>
        <td><%= print_spec.PSX_DELIVER3_TO1 %></td>
        <td><%= print_spec.PSX_DELIVER3_TO2 %></td>
        <td><%= print_spec.PSX_DELIVER3_TO3 %></td>
        <td><%= print_spec.PSX_DELIVER3_TO4 %></td>
        <td><%= print_spec.PSX_DELIVER3_QTY %></td>
        <td><%= print_spec.PSX_DEL_INSTRUCTIONS %></td>
        <td><%= print_spec.PSX_SPEC_INSTRUCTIONS %></td>
        <td><%= print_spec.PSX_INV_INSTRUCTIONS %></td>
        <td><%= print_spec.PSX_VENDOR1 %></td>
        <td><%= print_spec.PSX_VENDOR2 %></td>
        <td><%= print_spec.PSX_VENDOR3 %></td>
        <td><%= print_spec.PSX_BID1_1 %></td>
        <td><%= print_spec.PSX_BID1_2 %></td>
        <td><%= print_spec.PSX_BID1_3 %></td>
        <td><%= print_spec.PSX_BID1_4 %></td>
        <td><%= print_spec.PSX_BID2_1 %></td>
        <td><%= print_spec.PSX_BID2_2 %></td>
        <td><%= print_spec.PSX_BID2_3 %></td>
        <td><%= print_spec.PSX_BID2_4 %></td>
        <td><%= print_spec.PSX_BID3_1 %></td>
        <td><%= print_spec.PSX_BID3_2 %></td>
        <td><%= print_spec.PSX_BID3_3 %></td>
        <td><%= print_spec.PSX_BID3_4 %></td>
        <td><%= print_spec.PSX_BID1_AMT %></td>
        <td><%= print_spec.PSX_BID2_AMT %></td>
        <td><%= print_spec.PSX_BID3_AMT %></td>
        <td><%= print_spec.PSX_BID4_AMT %></td>
        <td><%= print_spec.PSX_BID1_NOTES %></td>
        <td><%= print_spec.PSX_BID2_NOTES %></td>
        <td><%= print_spec.PSX_BID3_NOTES %></td>
        <td><%= print_spec.PSX_BID_WINNER %></td>
        <td><%= print_spec.PSX_DATE_AWARDED %></td>
        <td><%= print_spec.PSX_AWARDED_BY %></td>
        <td><%= print_spec.PSX_TAXABLE %></td>
        <td><%= print_spec.PSX_PROD_CONTACT_PH %></td>
        <td><%= print_spec.PSX_PROD_CONTACT_EMAIL %></td>
        <td><%= print_spec.PSX_TASK %></td>
        <td><%= print_spec.PSX_NEED_QUOTE_BY %></td>
        <td><%= print_spec.PSX_DRILL_OTHER %></td>
        <td><%= print_spec.PSX_ADDED_BY %></td>
        <td><%= print_spec.PSX_ADDED_WHEN %></td>
        <td><%= print_spec.PSX_EDITED_BY %></td>
        <td><%= print_spec.PSX_EDITED_WHEN %></td>
        <td><%= link_to 'Show', print_spec %></td>
        <td><%= link_to 'Edit', edit_print_spec_path(print_spec) %></td>
        <td><%= link_to 'Destroy', print_spec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Print spec', new_print_spec_path %>
