<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @print_spec.primaryKey %>
</p>

<p>
  <strong>Pspec job num:</strong>
  <%= @print_spec.PSPEC_JOB_NUM %>
</p>

<p>
  <strong>Pspec prod coord:</strong>
  <%= @print_spec.PSPEC_PROD_COORD %>
</p>

<p>
  <strong>Pspec date:</strong>
  <%= @print_spec.PSPEC_DATE %>
</p>

<p>
  <strong>Pspec date needed:</strong>
  <%= @print_spec.PSPEC_DATE_NEEDED %>
</p>

<p>
  <strong>Pspec description:</strong>
  <%= @print_spec.PSPEC_DESCRIPTION %>
</p>

<p>
  <strong>Pspec art due:</strong>
  <%= @print_spec.PSPEC_ART_DUE %>
</p>

<p>
  <strong>Pspec final due:</strong>
  <%= @print_spec.PSPEC_FINAL_DUE %>
</p>

<p>
  <strong>Pspec qty:</strong>
  <%= @print_spec.PSPEC_QTY %>
</p>

<p>
  <strong>Pspec overrun:</strong>
  <%= @print_spec.PSPEC_OVERRUN %>
</p>

<p>
  <strong>Pspec cov flatsize:</strong>
  <%= @print_spec.PSPEC_COV_FLATSIZE %>
</p>

<p>
  <strong>Pspec cov foldsize:</strong>
  <%= @print_spec.PSPEC_COV_FOLDSIZE %>
</p>

<p>
  <strong>Pspec cov stock:</strong>
  <%= @print_spec.PSPEC_COV_STOCK %>
</p>

<p>
  <strong>Pspec cov outside:</strong>
  <%= @print_spec.PSPEC_COV_OUTSIDE %>
</p>

<p>
  <strong>Pspec cov inside:</strong>
  <%= @print_spec.PSPEC_COV_INSIDE %>
</p>

<p>
  <strong>Pspec cov o bleeds:</strong>
  <%= @print_spec.PSPEC_COV_O_BLEEDS %>
</p>

<p>
  <strong>Pspec cov i bleeds:</strong>
  <%= @print_spec.PSPEC_COV_I_BLEEDS %>
</p>

<p>
  <strong>Pspec cov pantone:</strong>
  <%= @print_spec.PSPEC_COV_PANTONE %>
</p>

<p>
  <strong>Pspec tx flatsize:</strong>
  <%= @print_spec.PSPEC_TX_FLATSIZE %>
</p>

<p>
  <strong>Pspec tx foldsize:</strong>
  <%= @print_spec.PSPEC_TX_FOLDSIZE %>
</p>

<p>
  <strong>Pspec tx stock:</strong>
  <%= @print_spec.PSPEC_TX_STOCK %>
</p>

<p>
  <strong>Pspec tx colors:</strong>
  <%= @print_spec.PSPEC_TX_COLORS %>
</p>

<p>
  <strong>Pspec tx bleeds:</strong>
  <%= @print_spec.PSPEC_TX_BLEEDS %>
</p>

<p>
  <strong>Pspec tx pantone:</strong>
  <%= @print_spec.PSPEC_TX_PANTONE %>
</p>

<p>
  <strong>Pspec tx pages:</strong>
  <%= @print_spec.PSPEC_TX_PAGES %>
</p>

<p>
  <strong>Pspec in flatsize:</strong>
  <%= @print_spec.PSPEC_IN_FLATSIZE %>
</p>

<p>
  <strong>Pspec in foldsize:</strong>
  <%= @print_spec.PSPEC_IN_FOLDSIZE %>
</p>

<p>
  <strong>Pspec in stock:</strong>
  <%= @print_spec.PSPEC_IN_STOCK %>
</p>

<p>
  <strong>Pspec in colors:</strong>
  <%= @print_spec.PSPEC_IN_COLORS %>
</p>

<p>
  <strong>Pspec in pages:</strong>
  <%= @print_spec.PSPEC_IN_PAGES %>
</p>

<p>
  <strong>Pspec in bleeds:</strong>
  <%= @print_spec.PSPEC_IN_BLEEDS %>
</p>

<p>
  <strong>Pspec in pantone:</strong>
  <%= @print_spec.PSPEC_IN_PANTONE %>
</p>

<p>
  <strong>Pspec in collate:</strong>
  <%= @print_spec.PSPEC_IN_COLLATE %>
</p>

<p>
  <strong>Pspec mech:</strong>
  <%= @print_spec.PSPEC_MECH %>
</p>

<p>
  <strong>Pspec elec:</strong>
  <%= @print_spec.PSPEC_ELEC %>
</p>

<p>
  <strong>Pspec film:</strong>
  <%= @print_spec.PSPEC_FILM %>
</p>

<p>
  <strong>Pspec no images:</strong>
  <%= @print_spec.PSPEC_NO_IMAGES %>
</p>

<p>
  <strong>Pspec t1:</strong>
  <%= @print_spec.PSPEC_T1 %>
</p>

<p>
  <strong>Pspec t2:</strong>
  <%= @print_spec.PSPEC_T2 %>
</p>

<p>
  <strong>Pspec t3:</strong>
  <%= @print_spec.PSPEC_T3 %>
</p>

<p>
  <strong>Pspec t4:</strong>
  <%= @print_spec.PSPEC_T4 %>
</p>

<p>
  <strong>Pspec trans spec:</strong>
  <%= @print_spec.PSPEC_TRANS_SPEC %>
</p>

<p>
  <strong>Pspec r1:</strong>
  <%= @print_spec.PSPEC_R1 %>
</p>

<p>
  <strong>Pspec r2:</strong>
  <%= @print_spec.PSPEC_R2 %>
</p>

<p>
  <strong>Pspec r3:</strong>
  <%= @print_spec.PSPEC_R3 %>
</p>

<p>
  <strong>Pspec r4:</strong>
  <%= @print_spec.PSPEC_R4 %>
</p>

<p>
  <strong>Pspec ref spec:</strong>
  <%= @print_spec.PSPEC_REF_SPEC %>
</p>

<p>
  <strong>Pspec stripping:</strong>
  <%= @print_spec.PSPEC_STRIPPING %>
</p>

<p>
  <strong>Pspec proofing:</strong>
  <%= @print_spec.PSPEC_PROOFING %>
</p>

<p>
  <strong>Pspec bindery:</strong>
  <%= @print_spec.PSPEC_BINDERY %>
</p>

<p>
  <strong>Pspec package:</strong>
  <%= @print_spec.PSPEC_PACKAGE %>
</p>

<p>
  <strong>Pspec added by:</strong>
  <%= @print_spec.PSPEC_ADDED_BY %>
</p>

<p>
  <strong>Pspec status:</strong>
  <%= @print_spec.PSPEC_STATUS %>
</p>

<p>
  <strong>Psx prod contact:</strong>
  <%= @print_spec.PSX_PROD_CONTACT %>
</p>

<p>
  <strong>Psx format:</strong>
  <%= @print_spec.PSX_FORMAT %>
</p>

<p>
  <strong>Psx format other:</strong>
  <%= @print_spec.PSX_FORMAT_OTHER %>
</p>

<p>
  <strong>Psx qty each:</strong>
  <%= @print_spec.PSX_QTY_EACH %>
</p>

<p>
  <strong>Psx qty total:</strong>
  <%= @print_spec.PSX_QTY_TOTAL %>
</p>

<p>
  <strong>Psx prepress:</strong>
  <%= @print_spec.PSX_PREPRESS %>
</p>

<p>
  <strong>Psx prepress other:</strong>
  <%= @print_spec.PSX_PREPRESS_OTHER %>
</p>

<p>
  <strong>Psx status:</strong>
  <%= @print_spec.PSX_STATUS %>
</p>

<p>
  <strong>Psx trim:</strong>
  <%= @print_spec.PSX_TRIM %>
</p>

<p>
  <strong>Psx folds to:</strong>
  <%= @print_spec.PSX_FOLDS_TO %>
</p>

<p>
  <strong>Psx folds other:</strong>
  <%= @print_spec.PSX_FOLDS_OTHER %>
</p>

<p>
  <strong>Psx weight:</strong>
  <%= @print_spec.PSX_WEIGHT %>
</p>

<p>
  <strong>Psx finish:</strong>
  <%= @print_spec.PSX_FINISH %>
</p>

<p>
  <strong>Psx type:</strong>
  <%= @print_spec.PSX_TYPE %>
</p>

<p>
  <strong>Psx special stock:</strong>
  <%= @print_spec.PSX_SPECIAL_STOCK %>
</p>

<p>
  <strong>Psx available from:</strong>
  <%= @print_spec.PSX_AVAILABLE_FROM %>
</p>

<p>
  <strong>Psx client supplied:</strong>
  <%= @print_spec.PSX_CLIENT_SUPPLIED %>
</p>

<p>
  <strong>Psx drill:</strong>
  <%= @print_spec.PSX_DRILL %>
</p>

<p>
  <strong>Psx fold glue:</strong>
  <%= @print_spec.PSX_FOLD_GLUE %>
</p>

<p>
  <strong>Psx cut:</strong>
  <%= @print_spec.PSX_CUT %>
</p>

<p>
  <strong>Psx collate:</strong>
  <%= @print_spec.PSX_COLLATE %>
</p>

<p>
  <strong>Psx stitching:</strong>
  <%= @print_spec.PSX_STITCHING %>
</p>

<p>
  <strong>Psx wrapping:</strong>
  <%= @print_spec.PSX_WRAPPING %>
</p>

<p>
  <strong>Psx tabs:</strong>
  <%= @print_spec.PSX_TABS %>
</p>

<p>
  <strong>Psx special diecut:</strong>
  <%= @print_spec.PSX_SPECIAL_DIECUT %>
</p>

<p>
  <strong>Psx special foil:</strong>
  <%= @print_spec.PSX_SPECIAL_FOIL %>
</p>

<p>
  <strong>Psx special lam:</strong>
  <%= @print_spec.PSX_SPECIAL_LAM %>
</p>

<p>
  <strong>Psx special presscheck:</strong>
  <%= @print_spec.PSX_SPECIAL_PRESSCHECK %>
</p>

<p>
  <strong>Psx special spotuv:</strong>
  <%= @print_spec.PSX_SPECIAL_SPOTUV %>
</p>

<p>
  <strong>Psx special bind:</strong>
  <%= @print_spec.PSX_SPECIAL_BIND %>
</p>

<p>
  <strong>Psx special glue:</strong>
  <%= @print_spec.PSX_SPECIAL_GLUE %>
</p>

<p>
  <strong>Psx special other:</strong>
  <%= @print_spec.PSX_SPECIAL_OTHER %>
</p>

<p>
  <strong>Psx special notes:</strong>
  <%= @print_spec.PSX_SPECIAL_NOTES %>
</p>

<p>
  <strong>Psx color1 process:</strong>
  <%= @print_spec.PSX_COLOR1_PROCESS %>
</p>

<p>
  <strong>Psx color2 process:</strong>
  <%= @print_spec.PSX_COLOR2_PROCESS %>
</p>

<p>
  <strong>Psx covr1 process:</strong>
  <%= @print_spec.PSX_COVR1_PROCESS %>
</p>

<p>
  <strong>Psx covr2 process:</strong>
  <%= @print_spec.PSX_COVR2_PROCESS %>
</p>

<p>
  <strong>Psx color1 pms:</strong>
  <%= @print_spec.PSX_COLOR1_PMS %>
</p>

<p>
  <strong>Psx color2 pms:</strong>
  <%= @print_spec.PSX_COLOR2_PMS %>
</p>

<p>
  <strong>Psx covr1 pms:</strong>
  <%= @print_spec.PSX_COVR1_PMS %>
</p>

<p>
  <strong>Psx covr2 pms:</strong>
  <%= @print_spec.PSX_COVR2_PMS %>
</p>

<p>
  <strong>Psx color1 metal:</strong>
  <%= @print_spec.PSX_COLOR1_METAL %>
</p>

<p>
  <strong>Psx color2 metal:</strong>
  <%= @print_spec.PSX_COLOR2_METAL %>
</p>

<p>
  <strong>Psx covr1 metal:</strong>
  <%= @print_spec.PSX_COVR1_METAL %>
</p>

<p>
  <strong>Psx covr2 metal:</strong>
  <%= @print_spec.PSX_COVR2_METAL %>
</p>

<p>
  <strong>Psx side1 coating:</strong>
  <%= @print_spec.PSX_SIDE1_COATING %>
</p>

<p>
  <strong>Psx side2 coating:</strong>
  <%= @print_spec.PSX_SIDE2_COATING %>
</p>

<p>
  <strong>Psx special option:</strong>
  <%= @print_spec.PSX_SPECIAL_OPTION %>
</p>

<p>
  <strong>Psx del date:</strong>
  <%= @print_spec.PSX_DEL_DATE %>
</p>

<p>
  <strong>Psx delivery:</strong>
  <%= @print_spec.PSX_DELIVERY %>
</p>

<p>
  <strong>Psx deliver1 to1:</strong>
  <%= @print_spec.PSX_DELIVER1_TO1 %>
</p>

<p>
  <strong>Psx deliver1 to2:</strong>
  <%= @print_spec.PSX_DELIVER1_TO2 %>
</p>

<p>
  <strong>Psx deliver1 to3:</strong>
  <%= @print_spec.PSX_DELIVER1_TO3 %>
</p>

<p>
  <strong>Psx deliver1 to4:</strong>
  <%= @print_spec.PSX_DELIVER1_TO4 %>
</p>

<p>
  <strong>Psx deliver1 qty:</strong>
  <%= @print_spec.PSX_DELIVER1_QTY %>
</p>

<p>
  <strong>Psx deliver2 to1:</strong>
  <%= @print_spec.PSX_DELIVER2_TO1 %>
</p>

<p>
  <strong>Psx deliver2 to2:</strong>
  <%= @print_spec.PSX_DELIVER2_TO2 %>
</p>

<p>
  <strong>Psx deliver2 to3:</strong>
  <%= @print_spec.PSX_DELIVER2_TO3 %>
</p>

<p>
  <strong>Psx deliver2 to4:</strong>
  <%= @print_spec.PSX_DELIVER2_TO4 %>
</p>

<p>
  <strong>Psx deliver2 qty:</strong>
  <%= @print_spec.PSX_DELIVER2_QTY %>
</p>

<p>
  <strong>Psx deliver3 to1:</strong>
  <%= @print_spec.PSX_DELIVER3_TO1 %>
</p>

<p>
  <strong>Psx deliver3 to2:</strong>
  <%= @print_spec.PSX_DELIVER3_TO2 %>
</p>

<p>
  <strong>Psx deliver3 to3:</strong>
  <%= @print_spec.PSX_DELIVER3_TO3 %>
</p>

<p>
  <strong>Psx deliver3 to4:</strong>
  <%= @print_spec.PSX_DELIVER3_TO4 %>
</p>

<p>
  <strong>Psx deliver3 qty:</strong>
  <%= @print_spec.PSX_DELIVER3_QTY %>
</p>

<p>
  <strong>Psx del instructions:</strong>
  <%= @print_spec.PSX_DEL_INSTRUCTIONS %>
</p>

<p>
  <strong>Psx spec instructions:</strong>
  <%= @print_spec.PSX_SPEC_INSTRUCTIONS %>
</p>

<p>
  <strong>Psx inv instructions:</strong>
  <%= @print_spec.PSX_INV_INSTRUCTIONS %>
</p>

<p>
  <strong>Psx vendor1:</strong>
  <%= @print_spec.PSX_VENDOR1 %>
</p>

<p>
  <strong>Psx vendor2:</strong>
  <%= @print_spec.PSX_VENDOR2 %>
</p>

<p>
  <strong>Psx vendor3:</strong>
  <%= @print_spec.PSX_VENDOR3 %>
</p>

<p>
  <strong>Psx bid1 1:</strong>
  <%= @print_spec.PSX_BID1_1 %>
</p>

<p>
  <strong>Psx bid1 2:</strong>
  <%= @print_spec.PSX_BID1_2 %>
</p>

<p>
  <strong>Psx bid1 3:</strong>
  <%= @print_spec.PSX_BID1_3 %>
</p>

<p>
  <strong>Psx bid1 4:</strong>
  <%= @print_spec.PSX_BID1_4 %>
</p>

<p>
  <strong>Psx bid2 1:</strong>
  <%= @print_spec.PSX_BID2_1 %>
</p>

<p>
  <strong>Psx bid2 2:</strong>
  <%= @print_spec.PSX_BID2_2 %>
</p>

<p>
  <strong>Psx bid2 3:</strong>
  <%= @print_spec.PSX_BID2_3 %>
</p>

<p>
  <strong>Psx bid2 4:</strong>
  <%= @print_spec.PSX_BID2_4 %>
</p>

<p>
  <strong>Psx bid3 1:</strong>
  <%= @print_spec.PSX_BID3_1 %>
</p>

<p>
  <strong>Psx bid3 2:</strong>
  <%= @print_spec.PSX_BID3_2 %>
</p>

<p>
  <strong>Psx bid3 3:</strong>
  <%= @print_spec.PSX_BID3_3 %>
</p>

<p>
  <strong>Psx bid3 4:</strong>
  <%= @print_spec.PSX_BID3_4 %>
</p>

<p>
  <strong>Psx bid1 amt:</strong>
  <%= @print_spec.PSX_BID1_AMT %>
</p>

<p>
  <strong>Psx bid2 amt:</strong>
  <%= @print_spec.PSX_BID2_AMT %>
</p>

<p>
  <strong>Psx bid3 amt:</strong>
  <%= @print_spec.PSX_BID3_AMT %>
</p>

<p>
  <strong>Psx bid4 amt:</strong>
  <%= @print_spec.PSX_BID4_AMT %>
</p>

<p>
  <strong>Psx bid1 notes:</strong>
  <%= @print_spec.PSX_BID1_NOTES %>
</p>

<p>
  <strong>Psx bid2 notes:</strong>
  <%= @print_spec.PSX_BID2_NOTES %>
</p>

<p>
  <strong>Psx bid3 notes:</strong>
  <%= @print_spec.PSX_BID3_NOTES %>
</p>

<p>
  <strong>Psx bid winner:</strong>
  <%= @print_spec.PSX_BID_WINNER %>
</p>

<p>
  <strong>Psx date awarded:</strong>
  <%= @print_spec.PSX_DATE_AWARDED %>
</p>

<p>
  <strong>Psx awarded by:</strong>
  <%= @print_spec.PSX_AWARDED_BY %>
</p>

<p>
  <strong>Psx taxable:</strong>
  <%= @print_spec.PSX_TAXABLE %>
</p>

<p>
  <strong>Psx prod contact ph:</strong>
  <%= @print_spec.PSX_PROD_CONTACT_PH %>
</p>

<p>
  <strong>Psx prod contact email:</strong>
  <%= @print_spec.PSX_PROD_CONTACT_EMAIL %>
</p>

<p>
  <strong>Psx task:</strong>
  <%= @print_spec.PSX_TASK %>
</p>

<p>
  <strong>Psx need quote by:</strong>
  <%= @print_spec.PSX_NEED_QUOTE_BY %>
</p>

<p>
  <strong>Psx drill other:</strong>
  <%= @print_spec.PSX_DRILL_OTHER %>
</p>

<p>
  <strong>Psx added by:</strong>
  <%= @print_spec.PSX_ADDED_BY %>
</p>

<p>
  <strong>Psx added when:</strong>
  <%= @print_spec.PSX_ADDED_WHEN %>
</p>

<p>
  <strong>Psx edited by:</strong>
  <%= @print_spec.PSX_EDITED_BY %>
</p>

<p>
  <strong>Psx edited when:</strong>
  <%= @print_spec.PSX_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_print_spec_path(@print_spec) %> |
<%= link_to 'Back', print_specs_path %>
