<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @assets_pref.primaryKey %>
</p>

<p>
  <strong>Asp code:</strong>
  <%= @assets_pref.ASP_CODE %>
</p>

<p>
  <strong>Asp auto folder:</strong>
  <%= @assets_pref.ASP_AUTO_FOLDER %>
</p>

<p>
  <strong>Asp art server:</strong>
  <%= @assets_pref.ASP_ART_SERVER %>
</p>

<p>
  <strong>Asp ip:</strong>
  <%= @assets_pref.ASP_IP %>
</p>

<p>
  <strong>Asp field1:</strong>
  <%= @assets_pref.ASP_FIELD1 %>
</p>

<p>
  <strong>Asp field2:</strong>
  <%= @assets_pref.ASP_FIELD2 %>
</p>

<p>
  <strong>Asp field3:</strong>
  <%= @assets_pref.ASP_FIELD3 %>
</p>

<p>
  <strong>Asp field4:</strong>
  <%= @assets_pref.ASP_FIELD4 %>
</p>

<p>
  <strong>Asp field5:</strong>
  <%= @assets_pref.ASP_FIELD5 %>
</p>

<p>
  <strong>Asp track usage:</strong>
  <%= @assets_pref.ASP_TRACK_USAGE %>
</p>

<p>
  <strong>Asp art server w:</strong>
  <%= @assets_pref.ASP_ART_SERVER_W %>
</p>

<p>
  <strong>Asp edited by:</strong>
  <%= @assets_pref.ASP_EDITED_BY %>
</p>

<p>
  <strong>Asp edited when:</strong>
  <%= @assets_pref.ASP_EDITED_WHEN %>
</p>

<p>
  <strong>Asp incl jname:</strong>
  <%= @assets_pref.ASP_INCL_JNAME %>
</p>

<p>
  <strong>Asp org by client:</strong>
  <%= @assets_pref.ASP_ORG_BY_CLIENT %>
</p>

<%= link_to 'Edit', edit_assets_pref_path(@assets_pref) %> |
<%= link_to 'Back', assets_prefs_path %>
