<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @data_count.primaryKey %>
</p>

<p>
  <strong>Data date:</strong>
  <%= @data_count.DATA_DATE %>
</p>

<p>
  <strong>Data ap:</strong>
  <%= @data_count.DATA_AP %>
</p>

<p>
  <strong>Data ar:</strong>
  <%= @data_count.DATA_AR %>
</p>

<p>
  <strong>Data jobs:</strong>
  <%= @data_count.DATA_JOBS %>
</p>

<p>
  <strong>Data checks:</strong>
  <%= @data_count.DATA_CHECKS %>
</p>

<p>
  <strong>Data clients:</strong>
  <%= @data_count.DATA_CLIENTS %>
</p>

<p>
  <strong>Data gl:</strong>
  <%= @data_count.DATA_GL %>
</p>

<p>
  <strong>Data payments:</strong>
  <%= @data_count.DATA_PAYMENTS %>
</p>

<p>
  <strong>Data po:</strong>
  <%= @data_count.DATA_PO %>
</p>

<p>
  <strong>Data vendors:</strong>
  <%= @data_count.DATA_VENDORS %>
</p>

<p>
  <strong>Data total:</strong>
  <%= @data_count.DATA_TOTAL %>
</p>

<%= link_to 'Edit', edit_data_count_path(@data_count) %> |
<%= link_to 'Back', data_counts_path %>
