<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @rfq.primaryKey %>
</p>

<p>
  <strong>Rfq num:</strong>
  <%= @rfq.RFQ_NUM %>
</p>

<p>
  <strong>Rfq job num:</strong>
  <%= @rfq.RFQ_JOB_NUM %>
</p>

<p>
  <strong>Rfq task:</strong>
  <%= @rfq.RFQ_TASK %>
</p>

<p>
  <strong>Rfq vendor num:</strong>
  <%= @rfq.RFQ_VENDOR_NUM %>
</p>

<p>
  <strong>Rfq date:</strong>
  <%= @rfq.RFQ_DATE %>
</p>

<p>
  <strong>Rfq prod contact:</strong>
  <%= @rfq.RFQ_PROD_CONTACT %>
</p>

<p>
  <strong>Rfq name:</strong>
  <%= @rfq.RFQ_NAME %>
</p>

<p>
  <strong>Rfq desc:</strong>
  <%= @rfq.RFQ_DESC %>
</p>

<p>
  <strong>Rfq qty:</strong>
  <%= @rfq.RFQ_QTY %>
</p>

<p>
  <strong>Rfq client num:</strong>
  <%= @rfq.RFQ_CLIENT_NUM %>
</p>

<p>
  <strong>Rfq client contact:</strong>
  <%= @rfq.RFQ_CLIENT_CONTACT %>
</p>

<p>
  <strong>Rfq client addr1:</strong>
  <%= @rfq.RFQ_CLIENT_ADDR1 %>
</p>

<p>
  <strong>Rfq client addr2:</strong>
  <%= @rfq.RFQ_CLIENT_ADDR2 %>
</p>

<p>
  <strong>Rfq client addr3:</strong>
  <%= @rfq.RFQ_CLIENT_ADDR3 %>
</p>

<p>
  <strong>Rfq client addr4:</strong>
  <%= @rfq.RFQ_CLIENT_ADDR4 %>
</p>

<p>
  <strong>Rfq client addr5:</strong>
  <%= @rfq.RFQ_CLIENT_ADDR5 %>
</p>

<p>
  <strong>Rfq client addr6:</strong>
  <%= @rfq.RFQ_CLIENT_ADDR6 %>
</p>

<p>
  <strong>Rfq prep:</strong>
  <%= @rfq.RFQ_PREP %>
</p>

<p>
  <strong>Rfq kitting:</strong>
  <%= @rfq.RFQ_KITTING %>
</p>

<p>
  <strong>Rfq shipping:</strong>
  <%= @rfq.RFQ_SHIPPING %>
</p>

<p>
  <strong>Rfq client notes:</strong>
  <%= @rfq.RFQ_CLIENT_NOTES %>
</p>

<p>
  <strong>Rfq terms:</strong>
  <%= @rfq.RFQ_TERMS %>
</p>

<p>
  <strong>Rfq approved:</strong>
  <%= @rfq.RFQ_APPROVED %>
</p>

<p>
  <strong>Rfq client ok:</strong>
  <%= @rfq.RFQ_CLIENT_OK %>
</p>

<p>
  <strong>Rfq client ok date:</strong>
  <%= @rfq.RFQ_CLIENT_OK_DATE %>
</p>

<p>
  <strong>Rfq client ok by:</strong>
  <%= @rfq.RFQ_CLIENT_OK_BY %>
</p>

<p>
  <strong>Rfq total cost:</strong>
  <%= @rfq.RFQ_TOTAL_COST %>
</p>

<p>
  <strong>Rfq total gross:</strong>
  <%= @rfq.RFQ_TOTAL_GROSS %>
</p>

<p>
  <strong>Rfq special instr:</strong>
  <%= @rfq.RFQ_SPECIAL_INSTR %>
</p>

<p>
  <strong>Rfq del instr:</strong>
  <%= @rfq.RFQ_DEL_INSTR %>
</p>

<p>
  <strong>Rfq auth:</strong>
  <%= @rfq.RFQ_AUTH %>
</p>

<p>
  <strong>Rfq status:</strong>
  <%= @rfq.RFQ_STATUS %>
</p>

<p>
  <strong>Rfq added by:</strong>
  <%= @rfq.RFQ_ADDED_BY %>
</p>

<p>
  <strong>Rfq quote needed:</strong>
  <%= @rfq.RFQ_QUOTE_NEEDED %>
</p>

<p>
  <strong>Rfq del date:</strong>
  <%= @rfq.RFQ_DEL_DATE %>
</p>

<p>
  <strong>Rfq prod contact email:</strong>
  <%= @rfq.RFQ_PROD_CONTACT_EMAIL %>
</p>

<p>
  <strong>Rfq taxable1:</strong>
  <%= @rfq.RFQ_TAXABLE1 %>
</p>

<p>
  <strong>Rfq taxable2:</strong>
  <%= @rfq.RFQ_TAXABLE2 %>
</p>

<p>
  <strong>Rfq prod contact ph:</strong>
  <%= @rfq.RFQ_PROD_CONTACT_PH %>
</p>

<%= link_to 'Edit', edit_rfq_path(@rfq) %> |
<%= link_to 'Back', rfqs_path %>
