<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @meeting.primaryKey %>
</p>

<p>
  <strong>Meet date:</strong>
  <%= @meeting.MEET_DATE %>
</p>

<p>
  <strong>Meet time:</strong>
  <%= @meeting.MEET_TIME %>
</p>

<p>
  <strong>Meet added by:</strong>
  <%= @meeting.MEET_ADDED_BY %>
</p>

<p>
  <strong>Meet duration:</strong>
  <%= @meeting.MEET_DURATION %>
</p>

<p>
  <strong>Meet topic:</strong>
  <%= @meeting.MEET_TOPIC %>
</p>

<p>
  <strong>Meet objective:</strong>
  <%= @meeting.MEET_OBJECTIVE %>
</p>

<p>
  <strong>Meet discussion:</strong>
  <%= @meeting.MEET_DISCUSSION %>
</p>

<p>
  <strong>Meet location:</strong>
  <%= @meeting.MEET_LOCATION %>
</p>

<p>
  <strong>Meet directions:</strong>
  <%= @meeting.MEET_DIRECTIONS %>
</p>

<p>
  <strong>Meet attendees:</strong>
  <%= @meeting.MEET_ATTENDEES %>
</p>

<p>
  <strong>Meet job num:</strong>
  <%= @meeting.MEET_JOB_NUM %>
</p>

<p>
  <strong>Meet action items:</strong>
  <%= @meeting.MEET_ACTION_ITEMS %>
</p>

<p>
  <strong>Meet fwd sum:</strong>
  <%= @meeting.MEET_FWD_SUM %>
</p>

<p>
  <strong>Meet cc:</strong>
  <%= @meeting.MEET_CC %>
</p>

<p>
  <strong>Meet coord:</strong>
  <%= @meeting.MEET_COORD %>
</p>

<p>
  <strong>Meet client num:</strong>
  <%= @meeting.MEET_CLIENT_NUM %>
</p>

<p>
  <strong>Meet email to:</strong>
  <%= @meeting.MEET_EMAIL_TO %>
</p>

<p>
  <strong>Meet notify:</strong>
  <%= @meeting.MEET_NOTIFY %>
</p>

<p>
  <strong>Meet status:</strong>
  <%= @meeting.MEET_STATUS %>
</p>

<p>
  <strong>Meet next date:</strong>
  <%= @meeting.MEET_NEXT_DATE %>
</p>

<p>
  <strong>Meet edited by:</strong>
  <%= @meeting.MEET_EDITED_BY %>
</p>

<p>
  <strong>Meet edited when:</strong>
  <%= @meeting.MEET_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
