<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @mlink_pref.primaryKey %>
</p>

<p>
  <strong>Mlink enable log:</strong>
  <%= @mlink_pref.MLINK_ENABLE_LOG %>
</p>

<p>
  <strong>Mlink path:</strong>
  <%= @mlink_pref.MLINK_PATH %>
</p>

<p>
  <strong>Mlink auto import:</strong>
  <%= @mlink_pref.MLINK_AUTO_IMPORT %>
</p>

<p>
  <strong>Mlink import every:</strong>
  <%= @mlink_pref.MLINK_IMPORT_EVERY %>
</p>

<p>
  <strong>Mlink import time:</strong>
  <%= @mlink_pref.MLINK_IMPORT_TIME %>
</p>

<p>
  <strong>Mlink import minutes:</strong>
  <%= @mlink_pref.MLINK_IMPORT_MINUTES %>
</p>

<p>
  <strong>Mlink clients pref:</strong>
  <%= @mlink_pref.MLINK_CLIENTS_PREF %>
</p>

<p>
  <strong>Mlink after pref:</strong>
  <%= @mlink_pref.MLINK_AFTER_PREF %>
</p>

<p>
  <strong>Mlink move path:</strong>
  <%= @mlink_pref.MLINK_MOVE_PATH %>
</p>

<p>
  <strong>Mlink system:</strong>
  <%= @mlink_pref.MLINK_SYSTEM %>
</p>

<p>
  <strong>Mlink status:</strong>
  <%= @mlink_pref.MLINK_STATUS %>
</p>

<p>
  <strong>Mlink last import:</strong>
  <%= @mlink_pref.MLINK_LAST_IMPORT %>
</p>

<p>
  <strong>Mlink count today:</strong>
  <%= @mlink_pref.MLINK_COUNT_TODAY %>
</p>

<p>
  <strong>Mlink count total:</strong>
  <%= @mlink_pref.MLINK_COUNT_TOTAL %>
</p>

<p>
  <strong>Mlink amt:</strong>
  <%= @mlink_pref.MLINK_AMT %>
</p>

<p>
  <strong>Mlink import interval:</strong>
  <%= @mlink_pref.MLINK_IMPORT_INTERVAL %>
</p>

<p>
  <strong>Mlink date:</strong>
  <%= @mlink_pref.MLINK_DATE %>
</p>

<p>
  <strong>Mlink vendors pref:</strong>
  <%= @mlink_pref.MLINK_VENDORS_PREF %>
</p>

<p>
  <strong>Mlink bell:</strong>
  <%= @mlink_pref.MLINK_BELL %>
</p>

<p>
  <strong>Mlink notify:</strong>
  <%= @mlink_pref.MLINK_NOTIFY %>
</p>

<p>
  <strong>Mlink email name:</strong>
  <%= @mlink_pref.MLINK_EMAIL_NAME %>
</p>

<p>
  <strong>Mlink email address:</strong>
  <%= @mlink_pref.MLINK_EMAIL_ADDRESS %>
</p>

<p>
  <strong>Mlink tv bill net:</strong>
  <%= @mlink_pref.MLINK_TV_BILL_NET %>
</p>

<p>
  <strong>Mlink print bill net:</strong>
  <%= @mlink_pref.MLINK_PRINT_BILL_NET %>
</p>

<p>
  <strong>Mlink broad comm:</strong>
  <%= @mlink_pref.MLINK_BROAD_COMM %>
</p>

<p>
  <strong>Mlink print comm:</strong>
  <%= @mlink_pref.MLINK_PRINT_COMM %>
</p>

<p>
  <strong>Mlink edited by:</strong>
  <%= @mlink_pref.MLINK_EDITED_BY %>
</p>

<p>
  <strong>Mlink edited when:</strong>
  <%= @mlink_pref.MLINK_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_mlink_pref_path(@mlink_pref) %> |
<%= link_to 'Back', mlink_prefs_path %>
