<%= simple_form_for(@web_user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :WU_WORK %>
    <%= f.input :WU_NAME %>
    <%= f.input :WU_ORG %>
    <%= f.input :WU_EXPIRES %>
    <%= f.input :WU_PHONE %>
    <%= f.input :WU_EMAIL %>
    <%= f.input :WU_PHONE_CELL %>
    <%= f.input :WU_PAGER %>
    <%= f.input :WU_STAFF %>
    <%= f.input :WU_P %>
    <%= f.input :WU_P_EXPIRES %>
    <%= f.input :WU_DEPT %>
    <%= f.input :WU_WEB_ADMIN %>
    <%= f.input :WU_LAST_ACCESS %>
    <%= f.input :WU_KIND %>
    <%= f.input :WU_A_TIME %>
    <%= f.input :WU_ACCESS_EXP %>
    <%= f.input :WU_ADMIN %>
    <%= f.input :WU_A_JOB_TICKETS %>
    <%= f.input :WU_A_EST %>
    <%= f.input :WU_A_SCHED %>
    <%= f.input :WU_A_TRAFFIC %>
    <%= f.input :WU_A_JOB_STATUS %>
    <%= f.input :WU_A_PO %>
    <%= f.input :WU_A_PO_OK %>
    <%= f.input :WU_A_TASK_PLAN %>
    <%= f.input :WU_A_CHG_ORD %>
    <%= f.input :WU_A_CLIENT_DIARY %>
    <%= f.input :WU_A_EST_REVS %>
    <%= f.input :WU_A_COSTS %>
    <%= f.input :WU_A_CLIENT_STATUS %>
    <%= f.input :WU_A_UNBILLED %>
    <%= f.input :WU_A_BILL_PRVW %>
    <%= f.input :WU_A_WIP %>
    <%= f.input :WU_A_BILLINGS %>
    <%= f.input :WU_A_SNAPSHOT %>
    <%= f.input :WU_A_CASH_FLASH %>
    <%= f.input :WU_A_STMT %>
    <%= f.input :WU_A_AP %>
    <%= f.input :WU_A_V_NUM %>
    <%= f.input :WU_A_C_NUM %>
    <%= f.input :WU_A_WORK_TO_DO %>
    <%= f.input :WU_A_JOB_DIARY %>
    <%= f.input :WU_A_AR %>
    <%= f.input :WU_IP %>
    <%= f.input :WU_SUSPEND %>
    <%= f.input :WU_LAST_JOB %>
    <%= f.input :WU_LAST_DATE %>
    <%= f.input :WU_A_WEEKLY_TRAF %>
    <%= f.input :WU_A_JOB_PO %>
    <%= f.input :WU_A_JOB_PROG %>
    <%= f.input :WU_WELCOME_MSG %>
    <%= f.input :WU_LAST_PO %>
    <%= f.input :WU_A_CLIENTS %>
    <%= f.input :WU_A_VENDORS %>
    <%= f.input :WU_A_EXP %>
    <%= f.input :WU_A_ADD_JOBS %>
    <%= f.input :WU_A_JOB_SPECS %>
    <%= f.input :WU_ADDED_BY %>
    <%= f.input :WU_ADDED_WHEN %>
    <%= f.input :WU_HOME_PAGE %>
    <%= f.input :WU_BAD_LOGINS %>
    <%= f.input :WU_COOKIE %>
    <%= f.input :WU_A_PROPOSALS %>
    <%= f.input :WU_A_INT_CHARGES %>
    <%= f.input :WU_A_TIME_SHEETS %>
    <%= f.input :WU_A_PREBILL %>
    <%= f.input :WU_A_SNAPS_PROD %>
    <%= f.input :WU_A_SNAPS_WIP %>
    <%= f.input :WU_ID %>
    <%= f.input :WU_EDITED_BY %>
    <%= f.input :WU_EDITED_WHEN %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
