<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @web_user.primaryKey %>
</p>

<p>
  <strong>Wu work:</strong>
  <%= @web_user.WU_WORK %>
</p>

<p>
  <strong>Wu name:</strong>
  <%= @web_user.WU_NAME %>
</p>

<p>
  <strong>Wu org:</strong>
  <%= @web_user.WU_ORG %>
</p>

<p>
  <strong>Wu expires:</strong>
  <%= @web_user.WU_EXPIRES %>
</p>

<p>
  <strong>Wu phone:</strong>
  <%= @web_user.WU_PHONE %>
</p>

<p>
  <strong>Wu email:</strong>
  <%= @web_user.WU_EMAIL %>
</p>

<p>
  <strong>Wu phone cell:</strong>
  <%= @web_user.WU_PHONE_CELL %>
</p>

<p>
  <strong>Wu pager:</strong>
  <%= @web_user.WU_PAGER %>
</p>

<p>
  <strong>Wu staff:</strong>
  <%= @web_user.WU_STAFF %>
</p>

<p>
  <strong>Wu p:</strong>
  <%= @web_user.WU_P %>
</p>

<p>
  <strong>Wu p expires:</strong>
  <%= @web_user.WU_P_EXPIRES %>
</p>

<p>
  <strong>Wu dept:</strong>
  <%= @web_user.WU_DEPT %>
</p>

<p>
  <strong>Wu web admin:</strong>
  <%= @web_user.WU_WEB_ADMIN %>
</p>

<p>
  <strong>Wu last access:</strong>
  <%= @web_user.WU_LAST_ACCESS %>
</p>

<p>
  <strong>Wu kind:</strong>
  <%= @web_user.WU_KIND %>
</p>

<p>
  <strong>Wu a time:</strong>
  <%= @web_user.WU_A_TIME %>
</p>

<p>
  <strong>Wu access exp:</strong>
  <%= @web_user.WU_ACCESS_EXP %>
</p>

<p>
  <strong>Wu admin:</strong>
  <%= @web_user.WU_ADMIN %>
</p>

<p>
  <strong>Wu a job tickets:</strong>
  <%= @web_user.WU_A_JOB_TICKETS %>
</p>

<p>
  <strong>Wu a est:</strong>
  <%= @web_user.WU_A_EST %>
</p>

<p>
  <strong>Wu a sched:</strong>
  <%= @web_user.WU_A_SCHED %>
</p>

<p>
  <strong>Wu a traffic:</strong>
  <%= @web_user.WU_A_TRAFFIC %>
</p>

<p>
  <strong>Wu a job status:</strong>
  <%= @web_user.WU_A_JOB_STATUS %>
</p>

<p>
  <strong>Wu a po:</strong>
  <%= @web_user.WU_A_PO %>
</p>

<p>
  <strong>Wu a po ok:</strong>
  <%= @web_user.WU_A_PO_OK %>
</p>

<p>
  <strong>Wu a task plan:</strong>
  <%= @web_user.WU_A_TASK_PLAN %>
</p>

<p>
  <strong>Wu a chg ord:</strong>
  <%= @web_user.WU_A_CHG_ORD %>
</p>

<p>
  <strong>Wu a client diary:</strong>
  <%= @web_user.WU_A_CLIENT_DIARY %>
</p>

<p>
  <strong>Wu a est revs:</strong>
  <%= @web_user.WU_A_EST_REVS %>
</p>

<p>
  <strong>Wu a costs:</strong>
  <%= @web_user.WU_A_COSTS %>
</p>

<p>
  <strong>Wu a client status:</strong>
  <%= @web_user.WU_A_CLIENT_STATUS %>
</p>

<p>
  <strong>Wu a unbilled:</strong>
  <%= @web_user.WU_A_UNBILLED %>
</p>

<p>
  <strong>Wu a bill prvw:</strong>
  <%= @web_user.WU_A_BILL_PRVW %>
</p>

<p>
  <strong>Wu a wip:</strong>
  <%= @web_user.WU_A_WIP %>
</p>

<p>
  <strong>Wu a billings:</strong>
  <%= @web_user.WU_A_BILLINGS %>
</p>

<p>
  <strong>Wu a snapshot:</strong>
  <%= @web_user.WU_A_SNAPSHOT %>
</p>

<p>
  <strong>Wu a cash flash:</strong>
  <%= @web_user.WU_A_CASH_FLASH %>
</p>

<p>
  <strong>Wu a stmt:</strong>
  <%= @web_user.WU_A_STMT %>
</p>

<p>
  <strong>Wu a ap:</strong>
  <%= @web_user.WU_A_AP %>
</p>

<p>
  <strong>Wu a v num:</strong>
  <%= @web_user.WU_A_V_NUM %>
</p>

<p>
  <strong>Wu a c num:</strong>
  <%= @web_user.WU_A_C_NUM %>
</p>

<p>
  <strong>Wu a work to do:</strong>
  <%= @web_user.WU_A_WORK_TO_DO %>
</p>

<p>
  <strong>Wu a job diary:</strong>
  <%= @web_user.WU_A_JOB_DIARY %>
</p>

<p>
  <strong>Wu a ar:</strong>
  <%= @web_user.WU_A_AR %>
</p>

<p>
  <strong>Wu ip:</strong>
  <%= @web_user.WU_IP %>
</p>

<p>
  <strong>Wu suspend:</strong>
  <%= @web_user.WU_SUSPEND %>
</p>

<p>
  <strong>Wu last job:</strong>
  <%= @web_user.WU_LAST_JOB %>
</p>

<p>
  <strong>Wu last date:</strong>
  <%= @web_user.WU_LAST_DATE %>
</p>

<p>
  <strong>Wu a weekly traf:</strong>
  <%= @web_user.WU_A_WEEKLY_TRAF %>
</p>

<p>
  <strong>Wu a job po:</strong>
  <%= @web_user.WU_A_JOB_PO %>
</p>

<p>
  <strong>Wu a job prog:</strong>
  <%= @web_user.WU_A_JOB_PROG %>
</p>

<p>
  <strong>Wu welcome msg:</strong>
  <%= @web_user.WU_WELCOME_MSG %>
</p>

<p>
  <strong>Wu last po:</strong>
  <%= @web_user.WU_LAST_PO %>
</p>

<p>
  <strong>Wu a clients:</strong>
  <%= @web_user.WU_A_CLIENTS %>
</p>

<p>
  <strong>Wu a vendors:</strong>
  <%= @web_user.WU_A_VENDORS %>
</p>

<p>
  <strong>Wu a exp:</strong>
  <%= @web_user.WU_A_EXP %>
</p>

<p>
  <strong>Wu a add jobs:</strong>
  <%= @web_user.WU_A_ADD_JOBS %>
</p>

<p>
  <strong>Wu a job specs:</strong>
  <%= @web_user.WU_A_JOB_SPECS %>
</p>

<p>
  <strong>Wu added by:</strong>
  <%= @web_user.WU_ADDED_BY %>
</p>

<p>
  <strong>Wu added when:</strong>
  <%= @web_user.WU_ADDED_WHEN %>
</p>

<p>
  <strong>Wu home page:</strong>
  <%= @web_user.WU_HOME_PAGE %>
</p>

<p>
  <strong>Wu bad logins:</strong>
  <%= @web_user.WU_BAD_LOGINS %>
</p>

<p>
  <strong>Wu cookie:</strong>
  <%= @web_user.WU_COOKIE %>
</p>

<p>
  <strong>Wu a proposals:</strong>
  <%= @web_user.WU_A_PROPOSALS %>
</p>

<p>
  <strong>Wu a int charges:</strong>
  <%= @web_user.WU_A_INT_CHARGES %>
</p>

<p>
  <strong>Wu a time sheets:</strong>
  <%= @web_user.WU_A_TIME_SHEETS %>
</p>

<p>
  <strong>Wu a prebill:</strong>
  <%= @web_user.WU_A_PREBILL %>
</p>

<p>
  <strong>Wu a snaps prod:</strong>
  <%= @web_user.WU_A_SNAPS_PROD %>
</p>

<p>
  <strong>Wu a snaps wip:</strong>
  <%= @web_user.WU_A_SNAPS_WIP %>
</p>

<p>
  <strong>Wu id:</strong>
  <%= @web_user.WU_ID %>
</p>

<p>
  <strong>Wu edited by:</strong>
  <%= @web_user.WU_EDITED_BY %>
</p>

<p>
  <strong>Wu edited when:</strong>
  <%= @web_user.WU_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_web_user_path(@web_user) %> |
<%= link_to 'Back', web_users_path %>
