<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @status_code.primaryKey %>
</p>

<p>
  <strong>Status num:</strong>
  <%= @status_code.STATUS_NUM %>
</p>

<p>
  <strong>Status desc:</strong>
  <%= @status_code.STATUS_DESC %>
</p>

<p>
  <strong>Status alert:</strong>
  <%= @status_code.STATUS_ALERT %>
</p>

<p>
  <strong>Status stop:</strong>
  <%= @status_code.STATUS_STOP %>
</p>

<p>
  <strong>Status prod alert:</strong>
  <%= @status_code.STATUS_PROD_ALERT %>
</p>

<p>
  <strong>Status bill alert:</strong>
  <%= @status_code.STATUS_BILL_ALERT %>
</p>

<p>
  <strong>Status alert button:</strong>
  <%= @status_code.STATUS_ALERT_BUTTON %>
</p>

<p>
  <strong>Status cat:</strong>
  <%= @status_code.STATUS_CAT %>
</p>

<p>
  <strong>Status mail to:</strong>
  <%= @status_code.STATUS_MAIL_TO %>
</p>

<p>
  <strong>Status mail msg:</strong>
  <%= @status_code.STATUS_MAIL_MSG %>
</p>

<p>
  <strong>Status mail cc:</strong>
  <%= @status_code.STATUS_MAIL_CC %>
</p>

<p>
  <strong>Status mail bcc:</strong>
  <%= @status_code.STATUS_MAIL_BCC %>
</p>

<p>
  <strong>Status added by:</strong>
  <%= @status_code.STATUS_ADDED_BY %>
</p>

<p>
  <strong>Status added when:</strong>
  <%= @status_code.STATUS_ADDED_WHEN %>
</p>

<p>
  <strong>Status edited by:</strong>
  <%= @status_code.STATUS_EDITED_BY %>
</p>

<p>
  <strong>Status edited when:</strong>
  <%= @status_code.STATUS_EDITED_WHEN %>
</p>

<p>
  <strong>Status color:</strong>
  <%= @status_code.STATUS_COLOR %>
</p>

<p>
  <strong>Status prod:</strong>
  <%= @status_code.STATUS_PROD %>
</p>

<p>
  <strong>Status acct:</strong>
  <%= @status_code.STATUS_ACCT %>
</p>

<p>
  <strong>Status active:</strong>
  <%= @status_code.STATUS_ACTIVE %>
</p>

<%= link_to 'Edit', edit_status_code_path(@status_code) %> |
<%= link_to 'Back', status_codes_path %>
