<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @schedule_header.primaryKey %>
</p>

<p>
  <strong>Sh date1:</strong>
  <%= @schedule_header.SH_DATE1 %>
</p>

<p>
  <strong>Sh date2:</strong>
  <%= @schedule_header.SH_DATE2 %>
</p>

<p>
  <strong>Sh client num:</strong>
  <%= @schedule_header.SH_CLIENT_NUM %>
</p>

<p>
  <strong>Sh job num:</strong>
  <%= @schedule_header.SH_JOB_NUM %>
</p>

<p>
  <strong>Sh 1:</strong>
  <%= @schedule_header.SH_1 %>
</p>

<p>
  <strong>Sh 2:</strong>
  <%= @schedule_header.SH_2 %>
</p>

<p>
  <strong>Sh 3:</strong>
  <%= @schedule_header.SH_3 %>
</p>

<p>
  <strong>Sh 4:</strong>
  <%= @schedule_header.SH_4 %>
</p>

<p>
  <strong>Sh 5:</strong>
  <%= @schedule_header.SH_5 %>
</p>

<p>
  <strong>Sh 6:</strong>
  <%= @schedule_header.SH_6 %>
</p>

<p>
  <strong>Sh 7:</strong>
  <%= @schedule_header.SH_7 %>
</p>

<p>
  <strong>Sh 8:</strong>
  <%= @schedule_header.SH_8 %>
</p>

<p>
  <strong>Sh 9:</strong>
  <%= @schedule_header.SH_9 %>
</p>

<p>
  <strong>Sh 10:</strong>
  <%= @schedule_header.SH_10 %>
</p>

<p>
  <strong>Sh 11:</strong>
  <%= @schedule_header.SH_11 %>
</p>

<p>
  <strong>Sh 12:</strong>
  <%= @schedule_header.SH_12 %>
</p>

<%= link_to 'Edit', edit_schedule_header_path(@schedule_header) %> |
<%= link_to 'Back', schedule_headers_path %>
