<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @station.primaryKey %>
</p>

<p>
  <strong>Pub code:</strong>
  <%= @station.PUB_CODE %>
</p>

<p>
  <strong>Pub name:</strong>
  <%= @station.PUB_NAME %>
</p>

<p>
  <strong>Pub rep:</strong>
  <%= @station.PUB_REP %>
</p>

<p>
  <strong>Pub phone:</strong>
  <%= @station.PUB_PHONE %>
</p>

<p>
  <strong>Pub address1:</strong>
  <%= @station.PUB_ADDRESS1 %>
</p>

<p>
  <strong>Pub address2:</strong>
  <%= @station.PUB_ADDRESS2 %>
</p>

<p>
  <strong>Pub address3:</strong>
  <%= @station.PUB_ADDRESS3 %>
</p>

<p>
  <strong>Pub address4:</strong>
  <%= @station.PUB_ADDRESS4 %>
</p>

<p>
  <strong>Pub note:</strong>
  <%= @station.PUB_NOTE %>
</p>

<p>
  <strong>Pub fax:</strong>
  <%= @station.PUB_FAX %>
</p>

<p>
  <strong>Pub vendor num:</strong>
  <%= @station.PUB_VENDOR_NUM %>
</p>

<p>
  <strong>Pub comm pc:</strong>
  <%= @station.PUB_COMM_PC %>
</p>

<p>
  <strong>Pub type:</strong>
  <%= @station.PUB_TYPE %>
</p>

<p>
  <strong>Pub rep address1:</strong>
  <%= @station.PUB_REP_ADDRESS1 %>
</p>

<p>
  <strong>Pub rep address2:</strong>
  <%= @station.PUB_REP_ADDRESS2 %>
</p>

<p>
  <strong>Pub rep address3:</strong>
  <%= @station.PUB_REP_ADDRESS3 %>
</p>

<p>
  <strong>Pub rep address4:</strong>
  <%= @station.PUB_REP_ADDRESS4 %>
</p>

<p>
  <strong>Pub rep address5:</strong>
  <%= @station.PUB_REP_ADDRESS5 %>
</p>

<p>
  <strong>Pub issue date:</strong>
  <%= @station.PUB_ISSUE_DATE %>
</p>

<p>
  <strong>Pub close date:</strong>
  <%= @station.PUB_CLOSE_DATE %>
</p>

<p>
  <strong>Pub circ:</strong>
  <%= @station.PUB_CIRC %>
</p>

<p>
  <strong>Pub market:</strong>
  <%= @station.PUB_MARKET %>
</p>

<p>
  <strong>Pub added by:</strong>
  <%= @station.PUB_ADDED_BY %>
</p>

<p>
  <strong>Pub added when:</strong>
  <%= @station.PUB_ADDED_WHEN %>
</p>

<p>
  <strong>Pub edited by:</strong>
  <%= @station.PUB_EDITED_BY %>
</p>

<p>
  <strong>Pub edited when:</strong>
  <%= @station.PUB_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
