<%= simple_form_for(@purchase_order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :PO_NUM %>
    <%= f.input :PO_JOB_NUM %>
    <%= f.input :PO_TASK %>
    <%= f.input :PO_DESC_LABEL %>
    <%= f.input :PO_DESC %>
    <%= f.input :PO_VENDOR_NUM %>
    <%= f.input :PO_COST %>
    <%= f.input :PO_MARKUP %>
    <%= f.input :PO_COMM %>
    <%= f.input :PO_TAX %>
    <%= f.input :PO_GROSS %>
    <%= f.input :PO_AMT_PAID %>
    <%= f.input :PO_TYPE %>
    <%= f.input :PO_CLIENT_NUM %>
    <%= f.input :PO_SHIP_NOTE %>
    <%= f.input :PO_SHIP1 %>
    <%= f.input :PO_SHIP2 %>
    <%= f.input :PO_SHIP3 %>
    <%= f.input :PO_SHIP4 %>
    <%= f.input :PO_QTY_LABEL %>
    <%= f.input :PO_QTY %>
    <%= f.input :PO_APPROVAL1 %>
    <%= f.input :PO_APPROVAL2 %>
    <%= f.input :PO_APPROVAL3 %>
    <%= f.input :PO_ORDERED_BY %>
    <%= f.input :PO_STATUS %>
    <%= f.input :PO_DUE_DATE %>
    <%= f.input :PO_TERMS1 %>
    <%= f.input :PO_TERMS2 %>
    <%= f.input :PO_TERMS3 %>
    <%= f.input :PO_DATE %>
    <%= f.input :PO_PC %>
    <%= f.input :PO_TO1 %>
    <%= f.input :PO_TO2 %>
    <%= f.input :PO_TO3 %>
    <%= f.input :PO_TO4 %>
    <%= f.input :PO_TO5 %>
    <%= f.input :PO_VENDOR1 %>
    <%= f.input :PO_VENDOR2 %>
    <%= f.input :PO_VENDOR3 %>
    <%= f.input :PO_VENDOR4 %>
    <%= f.input :PO_VENDOR5 %>
    <%= f.input :PO_FIELD_LABEL1 %>
    <%= f.input :PO_FIELD_LABEL2 %>
    <%= f.input :PO_FIELD_LABEL3 %>
    <%= f.input :PO_FIELD_LABEL4 %>
    <%= f.input :PO_FIELD_LABEL5 %>
    <%= f.input :PO_FIELD1 %>
    <%= f.input :PO_FIELD2 %>
    <%= f.input :PO_FIELD3 %>
    <%= f.input :PO_FIELD4 %>
    <%= f.input :PO_FIELD5 %>
    <%= f.input :PO_HOLD %>
    <%= f.input :PO_APPROVED %>
    <%= f.input :PO_APPROVED_DAT %>
    <%= f.input :PO_APPROVED_BY %>
    <%= f.input :PO_AP_ALERT %>
    <%= f.input :PO_TAX_EXEMPT %>
    <%= f.input :PO_PERIOD %>
    <%= f.input :PO_AR_BILLED %>
    <%= f.input :PO_TO_BE_BILLED %>
    <%= f.input :PO_AR_NUM %>
    <%= f.input :PO_LINES %>
    <%= f.input :PO_DISCLAIMER %>
    <%= f.input :PO_CLOSED %>
    <%= f.input :PO_FORM %>
    <%= f.input :PO_TOTAL_TITLE %>
    <%= f.input :PO_MAT_DUE_LABEL %>
    <%= f.input :PO_IMPORT_FROM %>
    <%= f.input :PO_TRAFFIC_INSTR %>
    <%= f.input :PO_REP_INSTR %>
    <%= f.input :PO_ADDED_BY %>
    <%= f.input :PO_REV %>
    <%= f.input :PO_FIELD6 %>
    <%= f.input :PO_FIELD_LABEL6 %>
    <%= f.input :PO_REP_NAME %>
    <%= f.input :PO_REP_PHONE %>
    <%= f.input :PO_REP_FAX %>
    <%= f.input :PO_CAMPAIGN %>
    <%= f.input :PO_BRAND %>
    <%= f.input :PO_BLANKET %>
    <%= f.input :PO_EDITED_BY %>
    <%= f.input :PO_EDITED_WHEN %>
    <%= f.input :PO_ADDED_WHEN %>
    <%= f.input :PO_OWNERSHIP %>
    <%= f.input :PO_PT_TEMPLATE %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
