<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @purchase_order.primaryKey %>
</p>

<p>
  <strong>Po num:</strong>
  <%= @purchase_order.PO_NUM %>
</p>

<p>
  <strong>Po job num:</strong>
  <%= @purchase_order.PO_JOB_NUM %>
</p>

<p>
  <strong>Po task:</strong>
  <%= @purchase_order.PO_TASK %>
</p>

<p>
  <strong>Po desc label:</strong>
  <%= @purchase_order.PO_DESC_LABEL %>
</p>

<p>
  <strong>Po desc:</strong>
  <%= @purchase_order.PO_DESC %>
</p>

<p>
  <strong>Po vendor num:</strong>
  <%= @purchase_order.PO_VENDOR_NUM %>
</p>

<p>
  <strong>Po cost:</strong>
  <%= @purchase_order.PO_COST %>
</p>

<p>
  <strong>Po markup:</strong>
  <%= @purchase_order.PO_MARKUP %>
</p>

<p>
  <strong>Po comm:</strong>
  <%= @purchase_order.PO_COMM %>
</p>

<p>
  <strong>Po tax:</strong>
  <%= @purchase_order.PO_TAX %>
</p>

<p>
  <strong>Po gross:</strong>
  <%= @purchase_order.PO_GROSS %>
</p>

<p>
  <strong>Po amt paid:</strong>
  <%= @purchase_order.PO_AMT_PAID %>
</p>

<p>
  <strong>Po type:</strong>
  <%= @purchase_order.PO_TYPE %>
</p>

<p>
  <strong>Po client num:</strong>
  <%= @purchase_order.PO_CLIENT_NUM %>
</p>

<p>
  <strong>Po ship note:</strong>
  <%= @purchase_order.PO_SHIP_NOTE %>
</p>

<p>
  <strong>Po ship1:</strong>
  <%= @purchase_order.PO_SHIP1 %>
</p>

<p>
  <strong>Po ship2:</strong>
  <%= @purchase_order.PO_SHIP2 %>
</p>

<p>
  <strong>Po ship3:</strong>
  <%= @purchase_order.PO_SHIP3 %>
</p>

<p>
  <strong>Po ship4:</strong>
  <%= @purchase_order.PO_SHIP4 %>
</p>

<p>
  <strong>Po qty label:</strong>
  <%= @purchase_order.PO_QTY_LABEL %>
</p>

<p>
  <strong>Po qty:</strong>
  <%= @purchase_order.PO_QTY %>
</p>

<p>
  <strong>Po approval1:</strong>
  <%= @purchase_order.PO_APPROVAL1 %>
</p>

<p>
  <strong>Po approval2:</strong>
  <%= @purchase_order.PO_APPROVAL2 %>
</p>

<p>
  <strong>Po approval3:</strong>
  <%= @purchase_order.PO_APPROVAL3 %>
</p>

<p>
  <strong>Po ordered by:</strong>
  <%= @purchase_order.PO_ORDERED_BY %>
</p>

<p>
  <strong>Po status:</strong>
  <%= @purchase_order.PO_STATUS %>
</p>

<p>
  <strong>Po due date:</strong>
  <%= @purchase_order.PO_DUE_DATE %>
</p>

<p>
  <strong>Po terms1:</strong>
  <%= @purchase_order.PO_TERMS1 %>
</p>

<p>
  <strong>Po terms2:</strong>
  <%= @purchase_order.PO_TERMS2 %>
</p>

<p>
  <strong>Po terms3:</strong>
  <%= @purchase_order.PO_TERMS3 %>
</p>

<p>
  <strong>Po date:</strong>
  <%= @purchase_order.PO_DATE %>
</p>

<p>
  <strong>Po pc:</strong>
  <%= @purchase_order.PO_PC %>
</p>

<p>
  <strong>Po to1:</strong>
  <%= @purchase_order.PO_TO1 %>
</p>

<p>
  <strong>Po to2:</strong>
  <%= @purchase_order.PO_TO2 %>
</p>

<p>
  <strong>Po to3:</strong>
  <%= @purchase_order.PO_TO3 %>
</p>

<p>
  <strong>Po to4:</strong>
  <%= @purchase_order.PO_TO4 %>
</p>

<p>
  <strong>Po to5:</strong>
  <%= @purchase_order.PO_TO5 %>
</p>

<p>
  <strong>Po vendor1:</strong>
  <%= @purchase_order.PO_VENDOR1 %>
</p>

<p>
  <strong>Po vendor2:</strong>
  <%= @purchase_order.PO_VENDOR2 %>
</p>

<p>
  <strong>Po vendor3:</strong>
  <%= @purchase_order.PO_VENDOR3 %>
</p>

<p>
  <strong>Po vendor4:</strong>
  <%= @purchase_order.PO_VENDOR4 %>
</p>

<p>
  <strong>Po vendor5:</strong>
  <%= @purchase_order.PO_VENDOR5 %>
</p>

<p>
  <strong>Po field label1:</strong>
  <%= @purchase_order.PO_FIELD_LABEL1 %>
</p>

<p>
  <strong>Po field label2:</strong>
  <%= @purchase_order.PO_FIELD_LABEL2 %>
</p>

<p>
  <strong>Po field label3:</strong>
  <%= @purchase_order.PO_FIELD_LABEL3 %>
</p>

<p>
  <strong>Po field label4:</strong>
  <%= @purchase_order.PO_FIELD_LABEL4 %>
</p>

<p>
  <strong>Po field label5:</strong>
  <%= @purchase_order.PO_FIELD_LABEL5 %>
</p>

<p>
  <strong>Po field1:</strong>
  <%= @purchase_order.PO_FIELD1 %>
</p>

<p>
  <strong>Po field2:</strong>
  <%= @purchase_order.PO_FIELD2 %>
</p>

<p>
  <strong>Po field3:</strong>
  <%= @purchase_order.PO_FIELD3 %>
</p>

<p>
  <strong>Po field4:</strong>
  <%= @purchase_order.PO_FIELD4 %>
</p>

<p>
  <strong>Po field5:</strong>
  <%= @purchase_order.PO_FIELD5 %>
</p>

<p>
  <strong>Po hold:</strong>
  <%= @purchase_order.PO_HOLD %>
</p>

<p>
  <strong>Po approved:</strong>
  <%= @purchase_order.PO_APPROVED %>
</p>

<p>
  <strong>Po approved dat:</strong>
  <%= @purchase_order.PO_APPROVED_DAT %>
</p>

<p>
  <strong>Po approved by:</strong>
  <%= @purchase_order.PO_APPROVED_BY %>
</p>

<p>
  <strong>Po ap alert:</strong>
  <%= @purchase_order.PO_AP_ALERT %>
</p>

<p>
  <strong>Po tax exempt:</strong>
  <%= @purchase_order.PO_TAX_EXEMPT %>
</p>

<p>
  <strong>Po period:</strong>
  <%= @purchase_order.PO_PERIOD %>
</p>

<p>
  <strong>Po ar billed:</strong>
  <%= @purchase_order.PO_AR_BILLED %>
</p>

<p>
  <strong>Po to be billed:</strong>
  <%= @purchase_order.PO_TO_BE_BILLED %>
</p>

<p>
  <strong>Po ar num:</strong>
  <%= @purchase_order.PO_AR_NUM %>
</p>

<p>
  <strong>Po lines:</strong>
  <%= @purchase_order.PO_LINES %>
</p>

<p>
  <strong>Po disclaimer:</strong>
  <%= @purchase_order.PO_DISCLAIMER %>
</p>

<p>
  <strong>Po closed:</strong>
  <%= @purchase_order.PO_CLOSED %>
</p>

<p>
  <strong>Po form:</strong>
  <%= @purchase_order.PO_FORM %>
</p>

<p>
  <strong>Po total title:</strong>
  <%= @purchase_order.PO_TOTAL_TITLE %>
</p>

<p>
  <strong>Po mat due label:</strong>
  <%= @purchase_order.PO_MAT_DUE_LABEL %>
</p>

<p>
  <strong>Po import from:</strong>
  <%= @purchase_order.PO_IMPORT_FROM %>
</p>

<p>
  <strong>Po traffic instr:</strong>
  <%= @purchase_order.PO_TRAFFIC_INSTR %>
</p>

<p>
  <strong>Po rep instr:</strong>
  <%= @purchase_order.PO_REP_INSTR %>
</p>

<p>
  <strong>Po added by:</strong>
  <%= @purchase_order.PO_ADDED_BY %>
</p>

<p>
  <strong>Po rev:</strong>
  <%= @purchase_order.PO_REV %>
</p>

<p>
  <strong>Po field6:</strong>
  <%= @purchase_order.PO_FIELD6 %>
</p>

<p>
  <strong>Po field label6:</strong>
  <%= @purchase_order.PO_FIELD_LABEL6 %>
</p>

<p>
  <strong>Po rep name:</strong>
  <%= @purchase_order.PO_REP_NAME %>
</p>

<p>
  <strong>Po rep phone:</strong>
  <%= @purchase_order.PO_REP_PHONE %>
</p>

<p>
  <strong>Po rep fax:</strong>
  <%= @purchase_order.PO_REP_FAX %>
</p>

<p>
  <strong>Po campaign:</strong>
  <%= @purchase_order.PO_CAMPAIGN %>
</p>

<p>
  <strong>Po brand:</strong>
  <%= @purchase_order.PO_BRAND %>
</p>

<p>
  <strong>Po blanket:</strong>
  <%= @purchase_order.PO_BLANKET %>
</p>

<p>
  <strong>Po edited by:</strong>
  <%= @purchase_order.PO_EDITED_BY %>
</p>

<p>
  <strong>Po edited when:</strong>
  <%= @purchase_order.PO_EDITED_WHEN %>
</p>

<p>
  <strong>Po added when:</strong>
  <%= @purchase_order.PO_ADDED_WHEN %>
</p>

<p>
  <strong>Po ownership:</strong>
  <%= @purchase_order.PO_OWNERSHIP %>
</p>

<p>
  <strong>Po pt template:</strong>
  <%= @purchase_order.PO_PT_TEMPLATE %>
</p>

<%= link_to 'Edit', edit_purchase_order_path(@purchase_order) %> |
<%= link_to 'Back', purchase_orders_path %>
