<%= simple_form_for(@working) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :W_WORK %>
    <%= f.input :W_ORG %>
    <%= f.input :W_DATABASE %>
    <%= f.input :W_PHONE %>
    <%= f.input :W_EXPIRES %>
    <%= f.input :W_WHERE %>
    <%= f.input :W_IN_OUT %>
    <%= f.input :W_BILL_RATE %>
    <%= f.input :W_FINANCE_CHG %>
    <%= f.input :W_DEPT %>
    <%= f.input :W_A_ADD_TASKS %>
    <%= f.input :W_PO_NUMBERING %>
    <%= f.input :W_YEAR %>
    <%= f.input :W_CK_STOCK %>
    <%= f.input :W_DEMO %>
    <%= f.input :W_A_EDIT_JOBS %>
    <%= f.input :W_GROUP_LIMIT %>
    <%= f.input :W_A_AR_EDIT %>
    <%= f.input :W_A_PRODUCTION %>
    <%= f.input :W_NOTE_STATUS_CHANGE %>
    <%= f.input :W_A_REOPEN_JOBS %>
    <%= f.input :W_A_TIME_CLOSED_JOBS %>
    <%= f.input :W_A_UTILITIES %>
    <%= f.input :W_A_JOB_WIP %>
    <%= f.input :W_A_UNPOST %>
    <%= f.input :W_PASSWORD_EXP %>
    <%= f.input :W_TERMS %>
    <%= f.input :W_STATUS_NEW %>
    <%= f.input :W_STATUS_REOPEN %>
    <%= f.input :W_STATUS_CLOSED %>
    <%= f.input :W_AE_TEAM %>
    <%= f.input :W_AKA_CLIENT %>
    <%= f.input :W_AKA_CLIENTS %>
    <%= f.input :W_AKA_JOB %>
    <%= f.input :W_AKA_JOBS %>
    <%= f.input :W_AKA_TASK %>
    <%= f.input :W_AKA_TASKS %>
    <%= f.input :W_AKA_VENDOR %>
    <%= f.input :W_AKA_VENDORS %>
    <%= f.input :W_AKA_AR %>
    <%= f.input :W_AKA_ARS %>
    <%= f.input :W_A_OPEN_JOBS %>
    <%= f.input :W_A_DELETE_JOBS %>
    <%= f.input :W_A_REMOVE_TASKS %>
    <%= f.input :W_A_EDIT_EST %>
    <%= f.input :W_A_CHG_ORDERS %>
    <%= f.input :W_A_UP_PROD_STATUS %>
    <%= f.input :W_A_UP_BILL_STATUS %>
    <%= f.input :W_PO_DISCLAIMER %>
    <%= f.input :W_TAX_DESC1 %>
    <%= f.input :W_TAX_DESC2 %>
    <%= f.input :W_TAX_RATE1 %>
    <%= f.input :W_TAX_RATE2 %>
    <%= f.input :W_TAX_GL1 %>
    <%= f.input :W_TAX_GL2 %>
    <%= f.input :W_DATE_FORMAT %>
    <%= f.input :W_ALERT_PO %>
    <%= f.input :W_ALERT_PO_PC %>
    <%= f.input :W_ALERT_COST %>
    <%= f.input :W_ALERT_COST_PC %>
    <%= f.input :W_ALERT_TIME %>
    <%= f.input :W_ALERT_TIME_PC %>
    <%= f.input :W_A_STATUS_TABLE %>
    <%= f.input :W_A_UP_TRAFFIC %>
    <%= f.input :W_A_UP_SCHEDULES %>
    <%= f.input :W_A_CANT_CHG_PO %>
    <%= f.input :W_A_HIDE_RATES %>
    <%= f.input :W_INFO_CTR %>
    <%= f.input :W_A_COST_CHECKS %>
    <%= f.input :W_A_HIDE_TIME %>
    <%= f.input :W_PO_TO1 %>
    <%= f.input :W_PO_TO2 %>
    <%= f.input :W_PO_TO3 %>
    <%= f.input :W_PO_TO4 %>
    <%= f.input :W_PO_TO5 %>
    <%= f.input :W_JOB_NUMBERING %>
    <%= f.input :W_A_STATUS_CAT %>
    <%= f.input :W_LOGO_ESTIMATE %>
    <%= f.input :W_LOGO_AR %>
    <%= f.input :W_LOGO_PO %>
    <%= f.input :W_EST_DISCLAIMR %>
    <%= f.input :W_STMT_NOTE %>
    <%= f.input :W_AR_NOTE %>
    <%= f.input :W_PO_NOTE %>
    <%= f.input :W_GL_CASH %>
    <%= f.input :W_GL_AR %>
    <%= f.input :W_GL_AP %>
    <%= f.input :W_GL_RETAINER %>
    <%= f.input :W_GL_SALES %>
    <%= f.input :W_GL_OVERHEAD %>
    <%= f.input :W_GL_COST %>
    <%= f.input :W_GL_RE %>
    <%= f.input :W_PERIOD %>
    <%= f.input :W_DATE1 %>
    <%= f.input :W_GL_EMPL_ADV %>
    <%= f.input :W_PRINT_TO %>
    <%= f.input :W_A_EST_OK %>
    <%= f.input :W_A_LOOK_CLIENTS %>
    <%= f.input :W_A_LOOK_JOBS %>
    <%= f.input :W_A_LOOK_STAFF %>
    <%= f.input :W_A_LOOK_COA %>
    <%= f.input :W_A_LOOK_PC %>
    <%= f.input :W_A_LOOK_DEPT %>
    <%= f.input :W_A_LOOK_PO %>
    <%= f.input :W_A_LOOK_PROJ %>
    <%= f.input :W_A_LOOK_TYPES %>
    <%= f.input :W_A_LOOK_VENDORS %>
    <%= f.input :W_EST_HEADING %>
    <%= f.input :W_INV_HEADING %>
    <%= f.input :W_APPROVAL1 %>
    <%= f.input :W_APPROVAL2 %>
    <%= f.input :W_APPROVAL3 %>
    <%= f.input :W_A_ADD_XFERS %>
    <%= f.input :W_A_IMPORT_PAYROLL %>
    <%= f.input :W_A_XFER_ACCT_BAL %>
    <%= f.input :W_A_TIME %>
    <%= f.input :W_A_GL_AUDITOR %>
    <%= f.input :W_A_CLOSE_YEAR %>
    <%= f.input :W_A_RECUR_JE %>
    <%= f.input :W_PO_SHOW_CL %>
    <%= f.input :W_A_GL_RECONCILE %>
    <%= f.input :W_A_ADD_COA %>
    <%= f.input :W_A_GL_BUDGETS %>
    <%= f.input :W_A_DELETE_OWN_PO %>
    <%= f.input :W_A_ADJ_JE %>
    <%= f.input :W_A_OVERHEAD_ALLOC %>
    <%= f.input :W_A_IMPORT_TIME %>
    <%= f.input :W_A_CLOSE_JOBS %>
    <%= f.input :W_AKA_PO %>
    <%= f.input :W_PO_APPROVAL1 %>
    <%= f.input :W_PO_APPROVAL2 %>
    <%= f.input :W_PO_APPROVAL3 %>
    <%= f.input :W_PO_FIELD1 %>
    <%= f.input :W_PO_FIELD2 %>
    <%= f.input :W_PO_FIELD3 %>
    <%= f.input :W_PO_FIELD4 %>
    <%= f.input :W_PO_FIELD5 %>
    <%= f.input :W_NEXT_JOB %>
    <%= f.input :W_EQUITY_NAME %>
    <%= f.input :W_INCOME_NAME %>
    <%= f.input :W_COSTS_NAME %>
    <%= f.input :W_OTHERINC_NAME %>
    <%= f.input :W_OTHEREXP_NAME %>
    <%= f.input :W_EXPENSES_NAME %>
    <%= f.input :W_USER_NAME %>
    <%= f.input :W_NEXT %>
    <%= f.input :W_NEXT_PO_NUM %>
    <%= f.input :W_A_CHANGE_GL %>
    <%= f.input :W_GL_ADV_BILL %>
    <%= f.input :W_LOGGED_IN %>
    <%= f.input :W_LOGGED_OUT %>
    <%= f.input :W_A_PO_MAX %>
    <%= f.input :W_A_GL_POST %>
    <%= f.input :W_AKA_POS %>
    <%= f.input :W_JOBS_POS %>
    <%= f.input :W_ESTIMATE_POS %>
    <%= f.input :W_SCHEDULE_POS %>
    <%= f.input :W_AR_POS %>
    <%= f.input :W_PO_POS %>
    <%= f.input :W_STATUS_POS %>
    <%= f.input :W_UPTRAFFIC_POS %>
    <%= f.input :W_TRAFFIC_POS %>
    <%= f.input :W_MEDIA_POS %>
    <%= f.input :W_JOBSPECS_POS %>
    <%= f.input :W_TIME_POS %>
    <%= f.input :W_A_POST_ONLY %>
    <%= f.input :W_GL_AR_DISC %>
    <%= f.input :W_GL_AP_DISC %>
    <%= f.input :W_A_JOBS %>
    <%= f.input :W_A_CLIENTS %>
    <%= f.input :W_A_VENDORS %>
    <%= f.input :W_A_STAFF %>
    <%= f.input :W_A_AP %>
    <%= f.input :W_A_CHECKS %>
    <%= f.input :W_A_EXPENSES %>
    <%= f.input :W_A_AR %>
    <%= f.input :W_A_MANAGER %>
    <%= f.input :W_A_PREFS %>
    <%= f.input :W_A_COA %>
    <%= f.input :W_A_TASK_TABLE %>
    <%= f.input :W_A_FINANCIALS %>
    <%= f.input :W_A_COSTS %>
    <%= f.input :W_A_SEE_COSTS %>
    <%= f.input :W_A_ADHOC %>
    <%= f.input :W_A_GL %>
    <%= f.input :W_A_CLIENT_PMTS %>
    <%= f.input :W_A_CLIENT_AGING %>
    <%= f.input :W_A_VENDOR_AGING %>
    <%= f.input :W_A_WIP %>
    <%= f.input :W_A_PROFITABILITY %>
    <%= f.input :W_A_PRODUCTIVITY %>
    <%= f.input :W_A_CASH_FLOW %>
    <%= f.input :W_A_MEDIA %>
    <%= f.input :W_A_XFERS %>
    <%= f.input :W_STATUS_BILLED %>
    <%= f.input :W_STATUS_AR_PAID %>
    <%= f.input :W_A_PO_AMT %>
    <%= f.input :W_GL_MEDIA_WIP %>
    <%= f.input :W_GL_MEDIA_COSTS %>
    <%= f.input :W_A_EMPL_ADV %>
    <%= f.input :W_A_TIME_VIEW_DAYS %>
    <%= f.input :W_A_HIDE_JOB_AMTS %>
    <%= f.input :W_A_APPROVE_PO %>
    <%= f.input :W_A_STAFF_ONLY %>
    <%= f.input :W_A_CONFID_GL %>
    <%= f.input :W_NUM11 %>
    <%= f.input :W_NUM12 %>
    <%= f.input :W_BUD_ALERT_C1 %>
    <%= f.input :W_BUD_ALERT_C2 %>
    <%= f.input :W_BUD_ALERT_L1 %>
    <%= f.input :W_BUD_ALERT_L2 %>
    <%= f.input :W_BUD_ALERT_PO1 %>
    <%= f.input :W_BUD_ALERT_PO2 %>
    <%= f.input :W_JOB_COLUMN1 %>
    <%= f.input :W_JOB_COLUMN2 %>
    <%= f.input :W_JOB_COLUMN3 %>
    <%= f.input :W_AKA %>
    <%= f.input :W_SEP %>
    <%= f.input :W_AKA_PROJECT %>
    <%= f.input :W_FORCE_QUIT %>
    <%= f.input :W_FORCE_TIME %>
    <%= f.input :W_INFO_CTR_MSG %>
    <%= f.input :W_CON_NOTE %>
    <%= f.input :W_CON_PC %>
    <%= f.input :W_UNIQ_JNUM %>
    <%= f.input :W_JOBS_FROM %>
    <%= f.input :W_JOBS_TO %>
    <%= f.input :W_AKA_CLIENT_PO %>
    <%= f.input :W_J_TO1 %>
    <%= f.input :W_J_TO2 %>
    <%= f.input :W_J_TO3 %>
    <%= f.input :W_J_TO4 %>
    <%= f.input :W_J_TO5 %>
    <%= f.input :W_CHAR20 %>
    <%= f.input :W_VERSION_A %>
    <%= f.input :W_VERSION_B %>
    <%= f.input :W_VERSION_C %>
    <%= f.input :W_VERSION_KIND %>
    <%= f.input :W_USER_FIELD3 %>
    <%= f.input :W_USER_FIELD4 %>
    <%= f.input :W_USER_FIELD5 %>
    <%= f.input :W_USER_FIELD6 %>
    <%= f.input :W_PO_TOTAL_LABEL %>
    <%= f.input :W_AKA_PC %>
    <%= f.input :W_AKA_PCS %>
    <%= f.input :W_A_SALES_TAX %>
    <%= f.input :W_A_SPELL %>
    <%= f.input :W_A_IO_MAX %>
    <%= f.input :W_A_APPROVE_AR %>
    <%= f.input :W_A_DBA %>
    <%= f.input :W_JOB_COL1 %>
    <%= f.input :W_JOB_COL2 %>
    <%= f.input :W_JOB_COL3 %>
    <%= f.input :W_JOB_COL4 %>
    <%= f.input :W_JOB_COL5 %>
    <%= f.input :W_JOB_COL6 %>
    <%= f.input :W_A_OK_REQUESTS %>
    <%= f.input :W_A_APPROVE_TIME %>
    <%= f.input :W_A_APPROVE_EXP %>
    <%= f.input :W_A_CHANGE_PRIORITY %>
    <%= f.input :W_A_MEDIA_SNAPS %>
    <%= f.input :W_A_CLIENT_ADD %>
    <%= f.input :W_A_WEB_ACCESS %>
    <%= f.input :W_A_CUST_REPORTS %>
    <%= f.input :W_A_COLLECT_MGR %>
    <%= f.input :W_A_EMAIL %>
    <%= f.input :W_A_APPROVE_AP %>
    <%= f.input :W_A_APPROVE_JOBS %>
    <%= f.input :W_A_APPROVE_SCH %>
    <%= f.input :W_A_APPROVE_MO %>
    <%= f.input :W_A_APPROVE_MESTS %>
    <%= f.input :W_A_APPROVE_MPLANS %>
    <%= f.input :W_A_APPROVE_MBRIEFS %>
    <%= f.input :W_A_INT_CHARGES %>
    <%= f.input :W_A_COMMISSIONS %>
    <%= f.input :W_A_PRINT_SPECS %>
    <%= f.input :W_A_APPROVE_PRINTSPECS %>
    <%= f.input :W_A_RENUMBER %>
    <%= f.input :W_A_VERIFY_RECOVER %>
    <%= f.input :W_A_SEE_LABOR_NET %>
    <%= f.input :W_A_HIDE_TOOLTIPS %>
    <%= f.input :W_TCP_ADDRESS %>
    <%= f.input :W_LAST_WORK_TIME %>
    <%= f.input :W_LAST_WORK %>
    <%= f.input :W_LOG_OFF_NOW %>
    <%= f.input :W_A_JOB_SNAPSHOT %>
    <%= f.input :W_GL_INT_BILL %>
    <%= f.input :W_A_HIDE_RATES_BILL %>
    <%= f.input :W_POS_CLIP_NOTE %>
    <%= f.input :W_STATUS_NEW_B %>
    <%= f.input :W_STATUS_CLOSED_B %>
    <%= f.input :W_STATUS_REOPEN_B %>
    <%= f.input :W_STATUS_BILLED_B %>
    <%= f.input :W_STATUS_AR_PAID_B %>
    <%= f.input :W_PRINT_STATUS_FROM %>
    <%= f.input :W_PRINT_STATUS_TO %>
    <%= f.input :W_WEB_ACCESS %>
    <%= f.input :W_A_INST_JOBS %>
    <%= f.input :W_PC %>
    <%= f.input :W_TAX_RATE3 %>
    <%= f.input :W_TAX_DESC3 %>
    <%= f.input :W_TAX_GL3 %>
    <%= f.input :W_DASHBOARD %>
    <%= f.input :W_A_JOB_BILL_WKST %>
    <%= f.input :W_A_TIME_CARD %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
