<h1>Listing workings</h1>

<table>
  <thead>
    <tr>
      <th>Primarykey</th>
      <th>W work</th>
      <th>W org</th>
      <th>W database</th>
      <th>W phone</th>
      <th>W expires</th>
      <th>W where</th>
      <th>W in out</th>
      <th>W bill rate</th>
      <th>W finance chg</th>
      <th>W dept</th>
      <th>W a add tasks</th>
      <th>W po numbering</th>
      <th>W year</th>
      <th>W ck stock</th>
      <th>W demo</th>
      <th>W a edit jobs</th>
      <th>W group limit</th>
      <th>W a ar edit</th>
      <th>W a production</th>
      <th>W note status change</th>
      <th>W a reopen jobs</th>
      <th>W a time closed jobs</th>
      <th>W a utilities</th>
      <th>W a job wip</th>
      <th>W a unpost</th>
      <th>W password exp</th>
      <th>W terms</th>
      <th>W status new</th>
      <th>W status reopen</th>
      <th>W status closed</th>
      <th>W ae team</th>
      <th>W aka client</th>
      <th>W aka clients</th>
      <th>W aka job</th>
      <th>W aka jobs</th>
      <th>W aka task</th>
      <th>W aka tasks</th>
      <th>W aka vendor</th>
      <th>W aka vendors</th>
      <th>W aka ar</th>
      <th>W aka ars</th>
      <th>W a open jobs</th>
      <th>W a delete jobs</th>
      <th>W a remove tasks</th>
      <th>W a edit est</th>
      <th>W a chg orders</th>
      <th>W a up prod status</th>
      <th>W a up bill status</th>
      <th>W po disclaimer</th>
      <th>W tax desc1</th>
      <th>W tax desc2</th>
      <th>W tax rate1</th>
      <th>W tax rate2</th>
      <th>W tax gl1</th>
      <th>W tax gl2</th>
      <th>W date format</th>
      <th>W alert po</th>
      <th>W alert po pc</th>
      <th>W alert cost</th>
      <th>W alert cost pc</th>
      <th>W alert time</th>
      <th>W alert time pc</th>
      <th>W a status table</th>
      <th>W a up traffic</th>
      <th>W a up schedules</th>
      <th>W a cant chg po</th>
      <th>W a hide rates</th>
      <th>W info ctr</th>
      <th>W a cost checks</th>
      <th>W a hide time</th>
      <th>W po to1</th>
      <th>W po to2</th>
      <th>W po to3</th>
      <th>W po to4</th>
      <th>W po to5</th>
      <th>W job numbering</th>
      <th>W a status cat</th>
      <th>W logo estimate</th>
      <th>W logo ar</th>
      <th>W logo po</th>
      <th>W est disclaimr</th>
      <th>W stmt note</th>
      <th>W ar note</th>
      <th>W po note</th>
      <th>W gl cash</th>
      <th>W gl ar</th>
      <th>W gl ap</th>
      <th>W gl retainer</th>
      <th>W gl sales</th>
      <th>W gl overhead</th>
      <th>W gl cost</th>
      <th>W gl re</th>
      <th>W period</th>
      <th>W date1</th>
      <th>W gl empl adv</th>
      <th>W print to</th>
      <th>W a est ok</th>
      <th>W a look clients</th>
      <th>W a look jobs</th>
      <th>W a look staff</th>
      <th>W a look coa</th>
      <th>W a look pc</th>
      <th>W a look dept</th>
      <th>W a look po</th>
      <th>W a look proj</th>
      <th>W a look types</th>
      <th>W a look vendors</th>
      <th>W est heading</th>
      <th>W inv heading</th>
      <th>W approval1</th>
      <th>W approval2</th>
      <th>W approval3</th>
      <th>W a add xfers</th>
      <th>W a import payroll</th>
      <th>W a xfer acct bal</th>
      <th>W a time</th>
      <th>W a gl auditor</th>
      <th>W a close year</th>
      <th>W a recur je</th>
      <th>W po show cl</th>
      <th>W a gl reconcile</th>
      <th>W a add coa</th>
      <th>W a gl budgets</th>
      <th>W a delete own po</th>
      <th>W a adj je</th>
      <th>W a overhead alloc</th>
      <th>W a import time</th>
      <th>W a close jobs</th>
      <th>W aka po</th>
      <th>W po approval1</th>
      <th>W po approval2</th>
      <th>W po approval3</th>
      <th>W po field1</th>
      <th>W po field2</th>
      <th>W po field3</th>
      <th>W po field4</th>
      <th>W po field5</th>
      <th>W next job</th>
      <th>W equity name</th>
      <th>W income name</th>
      <th>W costs name</th>
      <th>W otherinc name</th>
      <th>W otherexp name</th>
      <th>W expenses name</th>
      <th>W user name</th>
      <th>W next</th>
      <th>W next po num</th>
      <th>W a change gl</th>
      <th>W gl adv bill</th>
      <th>W logged in</th>
      <th>W logged out</th>
      <th>W a po max</th>
      <th>W a gl post</th>
      <th>W aka pos</th>
      <th>W jobs pos</th>
      <th>W estimate pos</th>
      <th>W schedule pos</th>
      <th>W ar pos</th>
      <th>W po pos</th>
      <th>W status pos</th>
      <th>W uptraffic pos</th>
      <th>W traffic pos</th>
      <th>W media pos</th>
      <th>W jobspecs pos</th>
      <th>W time pos</th>
      <th>W a post only</th>
      <th>W gl ar disc</th>
      <th>W gl ap disc</th>
      <th>W a jobs</th>
      <th>W a clients</th>
      <th>W a vendors</th>
      <th>W a staff</th>
      <th>W a ap</th>
      <th>W a checks</th>
      <th>W a expenses</th>
      <th>W a ar</th>
      <th>W a manager</th>
      <th>W a prefs</th>
      <th>W a coa</th>
      <th>W a task table</th>
      <th>W a financials</th>
      <th>W a costs</th>
      <th>W a see costs</th>
      <th>W a adhoc</th>
      <th>W a gl</th>
      <th>W a client pmts</th>
      <th>W a client aging</th>
      <th>W a vendor aging</th>
      <th>W a wip</th>
      <th>W a profitability</th>
      <th>W a productivity</th>
      <th>W a cash flow</th>
      <th>W a media</th>
      <th>W a xfers</th>
      <th>W status billed</th>
      <th>W status ar paid</th>
      <th>W a po amt</th>
      <th>W gl media wip</th>
      <th>W gl media costs</th>
      <th>W a empl adv</th>
      <th>W a time view days</th>
      <th>W a hide job amts</th>
      <th>W a approve po</th>
      <th>W a staff only</th>
      <th>W a confid gl</th>
      <th>W num11</th>
      <th>W num12</th>
      <th>W bud alert c1</th>
      <th>W bud alert c2</th>
      <th>W bud alert l1</th>
      <th>W bud alert l2</th>
      <th>W bud alert po1</th>
      <th>W bud alert po2</th>
      <th>W job column1</th>
      <th>W job column2</th>
      <th>W job column3</th>
      <th>W aka</th>
      <th>W sep</th>
      <th>W aka project</th>
      <th>W force quit</th>
      <th>W force time</th>
      <th>W info ctr msg</th>
      <th>W con note</th>
      <th>W con pc</th>
      <th>W uniq jnum</th>
      <th>W jobs from</th>
      <th>W jobs to</th>
      <th>W aka client po</th>
      <th>W j to1</th>
      <th>W j to2</th>
      <th>W j to3</th>
      <th>W j to4</th>
      <th>W j to5</th>
      <th>W char20</th>
      <th>W version a</th>
      <th>W version b</th>
      <th>W version c</th>
      <th>W version kind</th>
      <th>W user field3</th>
      <th>W user field4</th>
      <th>W user field5</th>
      <th>W user field6</th>
      <th>W po total label</th>
      <th>W aka pc</th>
      <th>W aka pcs</th>
      <th>W a sales tax</th>
      <th>W a spell</th>
      <th>W a io max</th>
      <th>W a approve ar</th>
      <th>W a dba</th>
      <th>W job col1</th>
      <th>W job col2</th>
      <th>W job col3</th>
      <th>W job col4</th>
      <th>W job col5</th>
      <th>W job col6</th>
      <th>W a ok requests</th>
      <th>W a approve time</th>
      <th>W a approve exp</th>
      <th>W a change priority</th>
      <th>W a media snaps</th>
      <th>W a client add</th>
      <th>W a web access</th>
      <th>W a cust reports</th>
      <th>W a collect mgr</th>
      <th>W a email</th>
      <th>W a approve ap</th>
      <th>W a approve jobs</th>
      <th>W a approve sch</th>
      <th>W a approve mo</th>
      <th>W a approve mests</th>
      <th>W a approve mplans</th>
      <th>W a approve mbriefs</th>
      <th>W a int charges</th>
      <th>W a commissions</th>
      <th>W a print specs</th>
      <th>W a approve printspecs</th>
      <th>W a renumber</th>
      <th>W a verify recover</th>
      <th>W a see labor net</th>
      <th>W a hide tooltips</th>
      <th>W tcp address</th>
      <th>W last work time</th>
      <th>W last work</th>
      <th>W log off now</th>
      <th>W a job snapshot</th>
      <th>W gl int bill</th>
      <th>W a hide rates bill</th>
      <th>W pos clip note</th>
      <th>W status new b</th>
      <th>W status closed b</th>
      <th>W status reopen b</th>
      <th>W status billed b</th>
      <th>W status ar paid b</th>
      <th>W print status from</th>
      <th>W print status to</th>
      <th>W web access</th>
      <th>W a inst jobs</th>
      <th>W pc</th>
      <th>W tax rate3</th>
      <th>W tax desc3</th>
      <th>W tax gl3</th>
      <th>W dashboard</th>
      <th>W a job bill wkst</th>
      <th>W a time card</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @workings.each do |working| %>
      <tr>
        <td><%= working.primaryKey %></td>
        <td><%= working.W_WORK %></td>
        <td><%= working.W_ORG %></td>
        <td><%= working.W_DATABASE %></td>
        <td><%= working.W_PHONE %></td>
        <td><%= working.W_EXPIRES %></td>
        <td><%= working.W_WHERE %></td>
        <td><%= working.W_IN_OUT %></td>
        <td><%= working.W_BILL_RATE %></td>
        <td><%= working.W_FINANCE_CHG %></td>
        <td><%= working.W_DEPT %></td>
        <td><%= working.W_A_ADD_TASKS %></td>
        <td><%= working.W_PO_NUMBERING %></td>
        <td><%= working.W_YEAR %></td>
        <td><%= working.W_CK_STOCK %></td>
        <td><%= working.W_DEMO %></td>
        <td><%= working.W_A_EDIT_JOBS %></td>
        <td><%= working.W_GROUP_LIMIT %></td>
        <td><%= working.W_A_AR_EDIT %></td>
        <td><%= working.W_A_PRODUCTION %></td>
        <td><%= working.W_NOTE_STATUS_CHANGE %></td>
        <td><%= working.W_A_REOPEN_JOBS %></td>
        <td><%= working.W_A_TIME_CLOSED_JOBS %></td>
        <td><%= working.W_A_UTILITIES %></td>
        <td><%= working.W_A_JOB_WIP %></td>
        <td><%= working.W_A_UNPOST %></td>
        <td><%= working.W_PASSWORD_EXP %></td>
        <td><%= working.W_TERMS %></td>
        <td><%= working.W_STATUS_NEW %></td>
        <td><%= working.W_STATUS_REOPEN %></td>
        <td><%= working.W_STATUS_CLOSED %></td>
        <td><%= working.W_AE_TEAM %></td>
        <td><%= working.W_AKA_CLIENT %></td>
        <td><%= working.W_AKA_CLIENTS %></td>
        <td><%= working.W_AKA_JOB %></td>
        <td><%= working.W_AKA_JOBS %></td>
        <td><%= working.W_AKA_TASK %></td>
        <td><%= working.W_AKA_TASKS %></td>
        <td><%= working.W_AKA_VENDOR %></td>
        <td><%= working.W_AKA_VENDORS %></td>
        <td><%= working.W_AKA_AR %></td>
        <td><%= working.W_AKA_ARS %></td>
        <td><%= working.W_A_OPEN_JOBS %></td>
        <td><%= working.W_A_DELETE_JOBS %></td>
        <td><%= working.W_A_REMOVE_TASKS %></td>
        <td><%= working.W_A_EDIT_EST %></td>
        <td><%= working.W_A_CHG_ORDERS %></td>
        <td><%= working.W_A_UP_PROD_STATUS %></td>
        <td><%= working.W_A_UP_BILL_STATUS %></td>
        <td><%= working.W_PO_DISCLAIMER %></td>
        <td><%= working.W_TAX_DESC1 %></td>
        <td><%= working.W_TAX_DESC2 %></td>
        <td><%= working.W_TAX_RATE1 %></td>
        <td><%= working.W_TAX_RATE2 %></td>
        <td><%= working.W_TAX_GL1 %></td>
        <td><%= working.W_TAX_GL2 %></td>
        <td><%= working.W_DATE_FORMAT %></td>
        <td><%= working.W_ALERT_PO %></td>
        <td><%= working.W_ALERT_PO_PC %></td>
        <td><%= working.W_ALERT_COST %></td>
        <td><%= working.W_ALERT_COST_PC %></td>
        <td><%= working.W_ALERT_TIME %></td>
        <td><%= working.W_ALERT_TIME_PC %></td>
        <td><%= working.W_A_STATUS_TABLE %></td>
        <td><%= working.W_A_UP_TRAFFIC %></td>
        <td><%= working.W_A_UP_SCHEDULES %></td>
        <td><%= working.W_A_CANT_CHG_PO %></td>
        <td><%= working.W_A_HIDE_RATES %></td>
        <td><%= working.W_INFO_CTR %></td>
        <td><%= working.W_A_COST_CHECKS %></td>
        <td><%= working.W_A_HIDE_TIME %></td>
        <td><%= working.W_PO_TO1 %></td>
        <td><%= working.W_PO_TO2 %></td>
        <td><%= working.W_PO_TO3 %></td>
        <td><%= working.W_PO_TO4 %></td>
        <td><%= working.W_PO_TO5 %></td>
        <td><%= working.W_JOB_NUMBERING %></td>
        <td><%= working.W_A_STATUS_CAT %></td>
        <td><%= working.W_LOGO_ESTIMATE %></td>
        <td><%= working.W_LOGO_AR %></td>
        <td><%= working.W_LOGO_PO %></td>
        <td><%= working.W_EST_DISCLAIMR %></td>
        <td><%= working.W_STMT_NOTE %></td>
        <td><%= working.W_AR_NOTE %></td>
        <td><%= working.W_PO_NOTE %></td>
        <td><%= working.W_GL_CASH %></td>
        <td><%= working.W_GL_AR %></td>
        <td><%= working.W_GL_AP %></td>
        <td><%= working.W_GL_RETAINER %></td>
        <td><%= working.W_GL_SALES %></td>
        <td><%= working.W_GL_OVERHEAD %></td>
        <td><%= working.W_GL_COST %></td>
        <td><%= working.W_GL_RE %></td>
        <td><%= working.W_PERIOD %></td>
        <td><%= working.W_DATE1 %></td>
        <td><%= working.W_GL_EMPL_ADV %></td>
        <td><%= working.W_PRINT_TO %></td>
        <td><%= working.W_A_EST_OK %></td>
        <td><%= working.W_A_LOOK_CLIENTS %></td>
        <td><%= working.W_A_LOOK_JOBS %></td>
        <td><%= working.W_A_LOOK_STAFF %></td>
        <td><%= working.W_A_LOOK_COA %></td>
        <td><%= working.W_A_LOOK_PC %></td>
        <td><%= working.W_A_LOOK_DEPT %></td>
        <td><%= working.W_A_LOOK_PO %></td>
        <td><%= working.W_A_LOOK_PROJ %></td>
        <td><%= working.W_A_LOOK_TYPES %></td>
        <td><%= working.W_A_LOOK_VENDORS %></td>
        <td><%= working.W_EST_HEADING %></td>
        <td><%= working.W_INV_HEADING %></td>
        <td><%= working.W_APPROVAL1 %></td>
        <td><%= working.W_APPROVAL2 %></td>
        <td><%= working.W_APPROVAL3 %></td>
        <td><%= working.W_A_ADD_XFERS %></td>
        <td><%= working.W_A_IMPORT_PAYROLL %></td>
        <td><%= working.W_A_XFER_ACCT_BAL %></td>
        <td><%= working.W_A_TIME %></td>
        <td><%= working.W_A_GL_AUDITOR %></td>
        <td><%= working.W_A_CLOSE_YEAR %></td>
        <td><%= working.W_A_RECUR_JE %></td>
        <td><%= working.W_PO_SHOW_CL %></td>
        <td><%= working.W_A_GL_RECONCILE %></td>
        <td><%= working.W_A_ADD_COA %></td>
        <td><%= working.W_A_GL_BUDGETS %></td>
        <td><%= working.W_A_DELETE_OWN_PO %></td>
        <td><%= working.W_A_ADJ_JE %></td>
        <td><%= working.W_A_OVERHEAD_ALLOC %></td>
        <td><%= working.W_A_IMPORT_TIME %></td>
        <td><%= working.W_A_CLOSE_JOBS %></td>
        <td><%= working.W_AKA_PO %></td>
        <td><%= working.W_PO_APPROVAL1 %></td>
        <td><%= working.W_PO_APPROVAL2 %></td>
        <td><%= working.W_PO_APPROVAL3 %></td>
        <td><%= working.W_PO_FIELD1 %></td>
        <td><%= working.W_PO_FIELD2 %></td>
        <td><%= working.W_PO_FIELD3 %></td>
        <td><%= working.W_PO_FIELD4 %></td>
        <td><%= working.W_PO_FIELD5 %></td>
        <td><%= working.W_NEXT_JOB %></td>
        <td><%= working.W_EQUITY_NAME %></td>
        <td><%= working.W_INCOME_NAME %></td>
        <td><%= working.W_COSTS_NAME %></td>
        <td><%= working.W_OTHERINC_NAME %></td>
        <td><%= working.W_OTHEREXP_NAME %></td>
        <td><%= working.W_EXPENSES_NAME %></td>
        <td><%= working.W_USER_NAME %></td>
        <td><%= working.W_NEXT %></td>
        <td><%= working.W_NEXT_PO_NUM %></td>
        <td><%= working.W_A_CHANGE_GL %></td>
        <td><%= working.W_GL_ADV_BILL %></td>
        <td><%= working.W_LOGGED_IN %></td>
        <td><%= working.W_LOGGED_OUT %></td>
        <td><%= working.W_A_PO_MAX %></td>
        <td><%= working.W_A_GL_POST %></td>
        <td><%= working.W_AKA_POS %></td>
        <td><%= working.W_JOBS_POS %></td>
        <td><%= working.W_ESTIMATE_POS %></td>
        <td><%= working.W_SCHEDULE_POS %></td>
        <td><%= working.W_AR_POS %></td>
        <td><%= working.W_PO_POS %></td>
        <td><%= working.W_STATUS_POS %></td>
        <td><%= working.W_UPTRAFFIC_POS %></td>
        <td><%= working.W_TRAFFIC_POS %></td>
        <td><%= working.W_MEDIA_POS %></td>
        <td><%= working.W_JOBSPECS_POS %></td>
        <td><%= working.W_TIME_POS %></td>
        <td><%= working.W_A_POST_ONLY %></td>
        <td><%= working.W_GL_AR_DISC %></td>
        <td><%= working.W_GL_AP_DISC %></td>
        <td><%= working.W_A_JOBS %></td>
        <td><%= working.W_A_CLIENTS %></td>
        <td><%= working.W_A_VENDORS %></td>
        <td><%= working.W_A_STAFF %></td>
        <td><%= working.W_A_AP %></td>
        <td><%= working.W_A_CHECKS %></td>
        <td><%= working.W_A_EXPENSES %></td>
        <td><%= working.W_A_AR %></td>
        <td><%= working.W_A_MANAGER %></td>
        <td><%= working.W_A_PREFS %></td>
        <td><%= working.W_A_COA %></td>
        <td><%= working.W_A_TASK_TABLE %></td>
        <td><%= working.W_A_FINANCIALS %></td>
        <td><%= working.W_A_COSTS %></td>
        <td><%= working.W_A_SEE_COSTS %></td>
        <td><%= working.W_A_ADHOC %></td>
        <td><%= working.W_A_GL %></td>
        <td><%= working.W_A_CLIENT_PMTS %></td>
        <td><%= working.W_A_CLIENT_AGING %></td>
        <td><%= working.W_A_VENDOR_AGING %></td>
        <td><%= working.W_A_WIP %></td>
        <td><%= working.W_A_PROFITABILITY %></td>
        <td><%= working.W_A_PRODUCTIVITY %></td>
        <td><%= working.W_A_CASH_FLOW %></td>
        <td><%= working.W_A_MEDIA %></td>
        <td><%= working.W_A_XFERS %></td>
        <td><%= working.W_STATUS_BILLED %></td>
        <td><%= working.W_STATUS_AR_PAID %></td>
        <td><%= working.W_A_PO_AMT %></td>
        <td><%= working.W_GL_MEDIA_WIP %></td>
        <td><%= working.W_GL_MEDIA_COSTS %></td>
        <td><%= working.W_A_EMPL_ADV %></td>
        <td><%= working.W_A_TIME_VIEW_DAYS %></td>
        <td><%= working.W_A_HIDE_JOB_AMTS %></td>
        <td><%= working.W_A_APPROVE_PO %></td>
        <td><%= working.W_A_STAFF_ONLY %></td>
        <td><%= working.W_A_CONFID_GL %></td>
        <td><%= working.W_NUM11 %></td>
        <td><%= working.W_NUM12 %></td>
        <td><%= working.W_BUD_ALERT_C1 %></td>
        <td><%= working.W_BUD_ALERT_C2 %></td>
        <td><%= working.W_BUD_ALERT_L1 %></td>
        <td><%= working.W_BUD_ALERT_L2 %></td>
        <td><%= working.W_BUD_ALERT_PO1 %></td>
        <td><%= working.W_BUD_ALERT_PO2 %></td>
        <td><%= working.W_JOB_COLUMN1 %></td>
        <td><%= working.W_JOB_COLUMN2 %></td>
        <td><%= working.W_JOB_COLUMN3 %></td>
        <td><%= working.W_AKA %></td>
        <td><%= working.W_SEP %></td>
        <td><%= working.W_AKA_PROJECT %></td>
        <td><%= working.W_FORCE_QUIT %></td>
        <td><%= working.W_FORCE_TIME %></td>
        <td><%= working.W_INFO_CTR_MSG %></td>
        <td><%= working.W_CON_NOTE %></td>
        <td><%= working.W_CON_PC %></td>
        <td><%= working.W_UNIQ_JNUM %></td>
        <td><%= working.W_JOBS_FROM %></td>
        <td><%= working.W_JOBS_TO %></td>
        <td><%= working.W_AKA_CLIENT_PO %></td>
        <td><%= working.W_J_TO1 %></td>
        <td><%= working.W_J_TO2 %></td>
        <td><%= working.W_J_TO3 %></td>
        <td><%= working.W_J_TO4 %></td>
        <td><%= working.W_J_TO5 %></td>
        <td><%= working.W_CHAR20 %></td>
        <td><%= working.W_VERSION_A %></td>
        <td><%= working.W_VERSION_B %></td>
        <td><%= working.W_VERSION_C %></td>
        <td><%= working.W_VERSION_KIND %></td>
        <td><%= working.W_USER_FIELD3 %></td>
        <td><%= working.W_USER_FIELD4 %></td>
        <td><%= working.W_USER_FIELD5 %></td>
        <td><%= working.W_USER_FIELD6 %></td>
        <td><%= working.W_PO_TOTAL_LABEL %></td>
        <td><%= working.W_AKA_PC %></td>
        <td><%= working.W_AKA_PCS %></td>
        <td><%= working.W_A_SALES_TAX %></td>
        <td><%= working.W_A_SPELL %></td>
        <td><%= working.W_A_IO_MAX %></td>
        <td><%= working.W_A_APPROVE_AR %></td>
        <td><%= working.W_A_DBA %></td>
        <td><%= working.W_JOB_COL1 %></td>
        <td><%= working.W_JOB_COL2 %></td>
        <td><%= working.W_JOB_COL3 %></td>
        <td><%= working.W_JOB_COL4 %></td>
        <td><%= working.W_JOB_COL5 %></td>
        <td><%= working.W_JOB_COL6 %></td>
        <td><%= working.W_A_OK_REQUESTS %></td>
        <td><%= working.W_A_APPROVE_TIME %></td>
        <td><%= working.W_A_APPROVE_EXP %></td>
        <td><%= working.W_A_CHANGE_PRIORITY %></td>
        <td><%= working.W_A_MEDIA_SNAPS %></td>
        <td><%= working.W_A_CLIENT_ADD %></td>
        <td><%= working.W_A_WEB_ACCESS %></td>
        <td><%= working.W_A_CUST_REPORTS %></td>
        <td><%= working.W_A_COLLECT_MGR %></td>
        <td><%= working.W_A_EMAIL %></td>
        <td><%= working.W_A_APPROVE_AP %></td>
        <td><%= working.W_A_APPROVE_JOBS %></td>
        <td><%= working.W_A_APPROVE_SCH %></td>
        <td><%= working.W_A_APPROVE_MO %></td>
        <td><%= working.W_A_APPROVE_MESTS %></td>
        <td><%= working.W_A_APPROVE_MPLANS %></td>
        <td><%= working.W_A_APPROVE_MBRIEFS %></td>
        <td><%= working.W_A_INT_CHARGES %></td>
        <td><%= working.W_A_COMMISSIONS %></td>
        <td><%= working.W_A_PRINT_SPECS %></td>
        <td><%= working.W_A_APPROVE_PRINTSPECS %></td>
        <td><%= working.W_A_RENUMBER %></td>
        <td><%= working.W_A_VERIFY_RECOVER %></td>
        <td><%= working.W_A_SEE_LABOR_NET %></td>
        <td><%= working.W_A_HIDE_TOOLTIPS %></td>
        <td><%= working.W_TCP_ADDRESS %></td>
        <td><%= working.W_LAST_WORK_TIME %></td>
        <td><%= working.W_LAST_WORK %></td>
        <td><%= working.W_LOG_OFF_NOW %></td>
        <td><%= working.W_A_JOB_SNAPSHOT %></td>
        <td><%= working.W_GL_INT_BILL %></td>
        <td><%= working.W_A_HIDE_RATES_BILL %></td>
        <td><%= working.W_POS_CLIP_NOTE %></td>
        <td><%= working.W_STATUS_NEW_B %></td>
        <td><%= working.W_STATUS_CLOSED_B %></td>
        <td><%= working.W_STATUS_REOPEN_B %></td>
        <td><%= working.W_STATUS_BILLED_B %></td>
        <td><%= working.W_STATUS_AR_PAID_B %></td>
        <td><%= working.W_PRINT_STATUS_FROM %></td>
        <td><%= working.W_PRINT_STATUS_TO %></td>
        <td><%= working.W_WEB_ACCESS %></td>
        <td><%= working.W_A_INST_JOBS %></td>
        <td><%= working.W_PC %></td>
        <td><%= working.W_TAX_RATE3 %></td>
        <td><%= working.W_TAX_DESC3 %></td>
        <td><%= working.W_TAX_GL3 %></td>
        <td><%= working.W_DASHBOARD %></td>
        <td><%= working.W_A_JOB_BILL_WKST %></td>
        <td><%= working.W_A_TIME_CARD %></td>
        <td><%= link_to 'Show', working %></td>
        <td><%= link_to 'Edit', edit_working_path(working) %></td>
        <td><%= link_to 'Destroy', working, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Working', new_working_path %>
