<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @working.primaryKey %>
</p>

<p>
  <strong>W work:</strong>
  <%= @working.W_WORK %>
</p>

<p>
  <strong>W org:</strong>
  <%= @working.W_ORG %>
</p>

<p>
  <strong>W database:</strong>
  <%= @working.W_DATABASE %>
</p>

<p>
  <strong>W phone:</strong>
  <%= @working.W_PHONE %>
</p>

<p>
  <strong>W expires:</strong>
  <%= @working.W_EXPIRES %>
</p>

<p>
  <strong>W where:</strong>
  <%= @working.W_WHERE %>
</p>

<p>
  <strong>W in out:</strong>
  <%= @working.W_IN_OUT %>
</p>

<p>
  <strong>W bill rate:</strong>
  <%= @working.W_BILL_RATE %>
</p>

<p>
  <strong>W finance chg:</strong>
  <%= @working.W_FINANCE_CHG %>
</p>

<p>
  <strong>W dept:</strong>
  <%= @working.W_DEPT %>
</p>

<p>
  <strong>W a add tasks:</strong>
  <%= @working.W_A_ADD_TASKS %>
</p>

<p>
  <strong>W po numbering:</strong>
  <%= @working.W_PO_NUMBERING %>
</p>

<p>
  <strong>W year:</strong>
  <%= @working.W_YEAR %>
</p>

<p>
  <strong>W ck stock:</strong>
  <%= @working.W_CK_STOCK %>
</p>

<p>
  <strong>W demo:</strong>
  <%= @working.W_DEMO %>
</p>

<p>
  <strong>W a edit jobs:</strong>
  <%= @working.W_A_EDIT_JOBS %>
</p>

<p>
  <strong>W group limit:</strong>
  <%= @working.W_GROUP_LIMIT %>
</p>

<p>
  <strong>W a ar edit:</strong>
  <%= @working.W_A_AR_EDIT %>
</p>

<p>
  <strong>W a production:</strong>
  <%= @working.W_A_PRODUCTION %>
</p>

<p>
  <strong>W note status change:</strong>
  <%= @working.W_NOTE_STATUS_CHANGE %>
</p>

<p>
  <strong>W a reopen jobs:</strong>
  <%= @working.W_A_REOPEN_JOBS %>
</p>

<p>
  <strong>W a time closed jobs:</strong>
  <%= @working.W_A_TIME_CLOSED_JOBS %>
</p>

<p>
  <strong>W a utilities:</strong>
  <%= @working.W_A_UTILITIES %>
</p>

<p>
  <strong>W a job wip:</strong>
  <%= @working.W_A_JOB_WIP %>
</p>

<p>
  <strong>W a unpost:</strong>
  <%= @working.W_A_UNPOST %>
</p>

<p>
  <strong>W password exp:</strong>
  <%= @working.W_PASSWORD_EXP %>
</p>

<p>
  <strong>W terms:</strong>
  <%= @working.W_TERMS %>
</p>

<p>
  <strong>W status new:</strong>
  <%= @working.W_STATUS_NEW %>
</p>

<p>
  <strong>W status reopen:</strong>
  <%= @working.W_STATUS_REOPEN %>
</p>

<p>
  <strong>W status closed:</strong>
  <%= @working.W_STATUS_CLOSED %>
</p>

<p>
  <strong>W ae team:</strong>
  <%= @working.W_AE_TEAM %>
</p>

<p>
  <strong>W aka client:</strong>
  <%= @working.W_AKA_CLIENT %>
</p>

<p>
  <strong>W aka clients:</strong>
  <%= @working.W_AKA_CLIENTS %>
</p>

<p>
  <strong>W aka job:</strong>
  <%= @working.W_AKA_JOB %>
</p>

<p>
  <strong>W aka jobs:</strong>
  <%= @working.W_AKA_JOBS %>
</p>

<p>
  <strong>W aka task:</strong>
  <%= @working.W_AKA_TASK %>
</p>

<p>
  <strong>W aka tasks:</strong>
  <%= @working.W_AKA_TASKS %>
</p>

<p>
  <strong>W aka vendor:</strong>
  <%= @working.W_AKA_VENDOR %>
</p>

<p>
  <strong>W aka vendors:</strong>
  <%= @working.W_AKA_VENDORS %>
</p>

<p>
  <strong>W aka ar:</strong>
  <%= @working.W_AKA_AR %>
</p>

<p>
  <strong>W aka ars:</strong>
  <%= @working.W_AKA_ARS %>
</p>

<p>
  <strong>W a open jobs:</strong>
  <%= @working.W_A_OPEN_JOBS %>
</p>

<p>
  <strong>W a delete jobs:</strong>
  <%= @working.W_A_DELETE_JOBS %>
</p>

<p>
  <strong>W a remove tasks:</strong>
  <%= @working.W_A_REMOVE_TASKS %>
</p>

<p>
  <strong>W a edit est:</strong>
  <%= @working.W_A_EDIT_EST %>
</p>

<p>
  <strong>W a chg orders:</strong>
  <%= @working.W_A_CHG_ORDERS %>
</p>

<p>
  <strong>W a up prod status:</strong>
  <%= @working.W_A_UP_PROD_STATUS %>
</p>

<p>
  <strong>W a up bill status:</strong>
  <%= @working.W_A_UP_BILL_STATUS %>
</p>

<p>
  <strong>W po disclaimer:</strong>
  <%= @working.W_PO_DISCLAIMER %>
</p>

<p>
  <strong>W tax desc1:</strong>
  <%= @working.W_TAX_DESC1 %>
</p>

<p>
  <strong>W tax desc2:</strong>
  <%= @working.W_TAX_DESC2 %>
</p>

<p>
  <strong>W tax rate1:</strong>
  <%= @working.W_TAX_RATE1 %>
</p>

<p>
  <strong>W tax rate2:</strong>
  <%= @working.W_TAX_RATE2 %>
</p>

<p>
  <strong>W tax gl1:</strong>
  <%= @working.W_TAX_GL1 %>
</p>

<p>
  <strong>W tax gl2:</strong>
  <%= @working.W_TAX_GL2 %>
</p>

<p>
  <strong>W date format:</strong>
  <%= @working.W_DATE_FORMAT %>
</p>

<p>
  <strong>W alert po:</strong>
  <%= @working.W_ALERT_PO %>
</p>

<p>
  <strong>W alert po pc:</strong>
  <%= @working.W_ALERT_PO_PC %>
</p>

<p>
  <strong>W alert cost:</strong>
  <%= @working.W_ALERT_COST %>
</p>

<p>
  <strong>W alert cost pc:</strong>
  <%= @working.W_ALERT_COST_PC %>
</p>

<p>
  <strong>W alert time:</strong>
  <%= @working.W_ALERT_TIME %>
</p>

<p>
  <strong>W alert time pc:</strong>
  <%= @working.W_ALERT_TIME_PC %>
</p>

<p>
  <strong>W a status table:</strong>
  <%= @working.W_A_STATUS_TABLE %>
</p>

<p>
  <strong>W a up traffic:</strong>
  <%= @working.W_A_UP_TRAFFIC %>
</p>

<p>
  <strong>W a up schedules:</strong>
  <%= @working.W_A_UP_SCHEDULES %>
</p>

<p>
  <strong>W a cant chg po:</strong>
  <%= @working.W_A_CANT_CHG_PO %>
</p>

<p>
  <strong>W a hide rates:</strong>
  <%= @working.W_A_HIDE_RATES %>
</p>

<p>
  <strong>W info ctr:</strong>
  <%= @working.W_INFO_CTR %>
</p>

<p>
  <strong>W a cost checks:</strong>
  <%= @working.W_A_COST_CHECKS %>
</p>

<p>
  <strong>W a hide time:</strong>
  <%= @working.W_A_HIDE_TIME %>
</p>

<p>
  <strong>W po to1:</strong>
  <%= @working.W_PO_TO1 %>
</p>

<p>
  <strong>W po to2:</strong>
  <%= @working.W_PO_TO2 %>
</p>

<p>
  <strong>W po to3:</strong>
  <%= @working.W_PO_TO3 %>
</p>

<p>
  <strong>W po to4:</strong>
  <%= @working.W_PO_TO4 %>
</p>

<p>
  <strong>W po to5:</strong>
  <%= @working.W_PO_TO5 %>
</p>

<p>
  <strong>W job numbering:</strong>
  <%= @working.W_JOB_NUMBERING %>
</p>

<p>
  <strong>W a status cat:</strong>
  <%= @working.W_A_STATUS_CAT %>
</p>

<p>
  <strong>W logo estimate:</strong>
  <%= @working.W_LOGO_ESTIMATE %>
</p>

<p>
  <strong>W logo ar:</strong>
  <%= @working.W_LOGO_AR %>
</p>

<p>
  <strong>W logo po:</strong>
  <%= @working.W_LOGO_PO %>
</p>

<p>
  <strong>W est disclaimr:</strong>
  <%= @working.W_EST_DISCLAIMR %>
</p>

<p>
  <strong>W stmt note:</strong>
  <%= @working.W_STMT_NOTE %>
</p>

<p>
  <strong>W ar note:</strong>
  <%= @working.W_AR_NOTE %>
</p>

<p>
  <strong>W po note:</strong>
  <%= @working.W_PO_NOTE %>
</p>

<p>
  <strong>W gl cash:</strong>
  <%= @working.W_GL_CASH %>
</p>

<p>
  <strong>W gl ar:</strong>
  <%= @working.W_GL_AR %>
</p>

<p>
  <strong>W gl ap:</strong>
  <%= @working.W_GL_AP %>
</p>

<p>
  <strong>W gl retainer:</strong>
  <%= @working.W_GL_RETAINER %>
</p>

<p>
  <strong>W gl sales:</strong>
  <%= @working.W_GL_SALES %>
</p>

<p>
  <strong>W gl overhead:</strong>
  <%= @working.W_GL_OVERHEAD %>
</p>

<p>
  <strong>W gl cost:</strong>
  <%= @working.W_GL_COST %>
</p>

<p>
  <strong>W gl re:</strong>
  <%= @working.W_GL_RE %>
</p>

<p>
  <strong>W period:</strong>
  <%= @working.W_PERIOD %>
</p>

<p>
  <strong>W date1:</strong>
  <%= @working.W_DATE1 %>
</p>

<p>
  <strong>W gl empl adv:</strong>
  <%= @working.W_GL_EMPL_ADV %>
</p>

<p>
  <strong>W print to:</strong>
  <%= @working.W_PRINT_TO %>
</p>

<p>
  <strong>W a est ok:</strong>
  <%= @working.W_A_EST_OK %>
</p>

<p>
  <strong>W a look clients:</strong>
  <%= @working.W_A_LOOK_CLIENTS %>
</p>

<p>
  <strong>W a look jobs:</strong>
  <%= @working.W_A_LOOK_JOBS %>
</p>

<p>
  <strong>W a look staff:</strong>
  <%= @working.W_A_LOOK_STAFF %>
</p>

<p>
  <strong>W a look coa:</strong>
  <%= @working.W_A_LOOK_COA %>
</p>

<p>
  <strong>W a look pc:</strong>
  <%= @working.W_A_LOOK_PC %>
</p>

<p>
  <strong>W a look dept:</strong>
  <%= @working.W_A_LOOK_DEPT %>
</p>

<p>
  <strong>W a look po:</strong>
  <%= @working.W_A_LOOK_PO %>
</p>

<p>
  <strong>W a look proj:</strong>
  <%= @working.W_A_LOOK_PROJ %>
</p>

<p>
  <strong>W a look types:</strong>
  <%= @working.W_A_LOOK_TYPES %>
</p>

<p>
  <strong>W a look vendors:</strong>
  <%= @working.W_A_LOOK_VENDORS %>
</p>

<p>
  <strong>W est heading:</strong>
  <%= @working.W_EST_HEADING %>
</p>

<p>
  <strong>W inv heading:</strong>
  <%= @working.W_INV_HEADING %>
</p>

<p>
  <strong>W approval1:</strong>
  <%= @working.W_APPROVAL1 %>
</p>

<p>
  <strong>W approval2:</strong>
  <%= @working.W_APPROVAL2 %>
</p>

<p>
  <strong>W approval3:</strong>
  <%= @working.W_APPROVAL3 %>
</p>

<p>
  <strong>W a add xfers:</strong>
  <%= @working.W_A_ADD_XFERS %>
</p>

<p>
  <strong>W a import payroll:</strong>
  <%= @working.W_A_IMPORT_PAYROLL %>
</p>

<p>
  <strong>W a xfer acct bal:</strong>
  <%= @working.W_A_XFER_ACCT_BAL %>
</p>

<p>
  <strong>W a time:</strong>
  <%= @working.W_A_TIME %>
</p>

<p>
  <strong>W a gl auditor:</strong>
  <%= @working.W_A_GL_AUDITOR %>
</p>

<p>
  <strong>W a close year:</strong>
  <%= @working.W_A_CLOSE_YEAR %>
</p>

<p>
  <strong>W a recur je:</strong>
  <%= @working.W_A_RECUR_JE %>
</p>

<p>
  <strong>W po show cl:</strong>
  <%= @working.W_PO_SHOW_CL %>
</p>

<p>
  <strong>W a gl reconcile:</strong>
  <%= @working.W_A_GL_RECONCILE %>
</p>

<p>
  <strong>W a add coa:</strong>
  <%= @working.W_A_ADD_COA %>
</p>

<p>
  <strong>W a gl budgets:</strong>
  <%= @working.W_A_GL_BUDGETS %>
</p>

<p>
  <strong>W a delete own po:</strong>
  <%= @working.W_A_DELETE_OWN_PO %>
</p>

<p>
  <strong>W a adj je:</strong>
  <%= @working.W_A_ADJ_JE %>
</p>

<p>
  <strong>W a overhead alloc:</strong>
  <%= @working.W_A_OVERHEAD_ALLOC %>
</p>

<p>
  <strong>W a import time:</strong>
  <%= @working.W_A_IMPORT_TIME %>
</p>

<p>
  <strong>W a close jobs:</strong>
  <%= @working.W_A_CLOSE_JOBS %>
</p>

<p>
  <strong>W aka po:</strong>
  <%= @working.W_AKA_PO %>
</p>

<p>
  <strong>W po approval1:</strong>
  <%= @working.W_PO_APPROVAL1 %>
</p>

<p>
  <strong>W po approval2:</strong>
  <%= @working.W_PO_APPROVAL2 %>
</p>

<p>
  <strong>W po approval3:</strong>
  <%= @working.W_PO_APPROVAL3 %>
</p>

<p>
  <strong>W po field1:</strong>
  <%= @working.W_PO_FIELD1 %>
</p>

<p>
  <strong>W po field2:</strong>
  <%= @working.W_PO_FIELD2 %>
</p>

<p>
  <strong>W po field3:</strong>
  <%= @working.W_PO_FIELD3 %>
</p>

<p>
  <strong>W po field4:</strong>
  <%= @working.W_PO_FIELD4 %>
</p>

<p>
  <strong>W po field5:</strong>
  <%= @working.W_PO_FIELD5 %>
</p>

<p>
  <strong>W next job:</strong>
  <%= @working.W_NEXT_JOB %>
</p>

<p>
  <strong>W equity name:</strong>
  <%= @working.W_EQUITY_NAME %>
</p>

<p>
  <strong>W income name:</strong>
  <%= @working.W_INCOME_NAME %>
</p>

<p>
  <strong>W costs name:</strong>
  <%= @working.W_COSTS_NAME %>
</p>

<p>
  <strong>W otherinc name:</strong>
  <%= @working.W_OTHERINC_NAME %>
</p>

<p>
  <strong>W otherexp name:</strong>
  <%= @working.W_OTHEREXP_NAME %>
</p>

<p>
  <strong>W expenses name:</strong>
  <%= @working.W_EXPENSES_NAME %>
</p>

<p>
  <strong>W user name:</strong>
  <%= @working.W_USER_NAME %>
</p>

<p>
  <strong>W next:</strong>
  <%= @working.W_NEXT %>
</p>

<p>
  <strong>W next po num:</strong>
  <%= @working.W_NEXT_PO_NUM %>
</p>

<p>
  <strong>W a change gl:</strong>
  <%= @working.W_A_CHANGE_GL %>
</p>

<p>
  <strong>W gl adv bill:</strong>
  <%= @working.W_GL_ADV_BILL %>
</p>

<p>
  <strong>W logged in:</strong>
  <%= @working.W_LOGGED_IN %>
</p>

<p>
  <strong>W logged out:</strong>
  <%= @working.W_LOGGED_OUT %>
</p>

<p>
  <strong>W a po max:</strong>
  <%= @working.W_A_PO_MAX %>
</p>

<p>
  <strong>W a gl post:</strong>
  <%= @working.W_A_GL_POST %>
</p>

<p>
  <strong>W aka pos:</strong>
  <%= @working.W_AKA_POS %>
</p>

<p>
  <strong>W jobs pos:</strong>
  <%= @working.W_JOBS_POS %>
</p>

<p>
  <strong>W estimate pos:</strong>
  <%= @working.W_ESTIMATE_POS %>
</p>

<p>
  <strong>W schedule pos:</strong>
  <%= @working.W_SCHEDULE_POS %>
</p>

<p>
  <strong>W ar pos:</strong>
  <%= @working.W_AR_POS %>
</p>

<p>
  <strong>W po pos:</strong>
  <%= @working.W_PO_POS %>
</p>

<p>
  <strong>W status pos:</strong>
  <%= @working.W_STATUS_POS %>
</p>

<p>
  <strong>W uptraffic pos:</strong>
  <%= @working.W_UPTRAFFIC_POS %>
</p>

<p>
  <strong>W traffic pos:</strong>
  <%= @working.W_TRAFFIC_POS %>
</p>

<p>
  <strong>W media pos:</strong>
  <%= @working.W_MEDIA_POS %>
</p>

<p>
  <strong>W jobspecs pos:</strong>
  <%= @working.W_JOBSPECS_POS %>
</p>

<p>
  <strong>W time pos:</strong>
  <%= @working.W_TIME_POS %>
</p>

<p>
  <strong>W a post only:</strong>
  <%= @working.W_A_POST_ONLY %>
</p>

<p>
  <strong>W gl ar disc:</strong>
  <%= @working.W_GL_AR_DISC %>
</p>

<p>
  <strong>W gl ap disc:</strong>
  <%= @working.W_GL_AP_DISC %>
</p>

<p>
  <strong>W a jobs:</strong>
  <%= @working.W_A_JOBS %>
</p>

<p>
  <strong>W a clients:</strong>
  <%= @working.W_A_CLIENTS %>
</p>

<p>
  <strong>W a vendors:</strong>
  <%= @working.W_A_VENDORS %>
</p>

<p>
  <strong>W a staff:</strong>
  <%= @working.W_A_STAFF %>
</p>

<p>
  <strong>W a ap:</strong>
  <%= @working.W_A_AP %>
</p>

<p>
  <strong>W a checks:</strong>
  <%= @working.W_A_CHECKS %>
</p>

<p>
  <strong>W a expenses:</strong>
  <%= @working.W_A_EXPENSES %>
</p>

<p>
  <strong>W a ar:</strong>
  <%= @working.W_A_AR %>
</p>

<p>
  <strong>W a manager:</strong>
  <%= @working.W_A_MANAGER %>
</p>

<p>
  <strong>W a prefs:</strong>
  <%= @working.W_A_PREFS %>
</p>

<p>
  <strong>W a coa:</strong>
  <%= @working.W_A_COA %>
</p>

<p>
  <strong>W a task table:</strong>
  <%= @working.W_A_TASK_TABLE %>
</p>

<p>
  <strong>W a financials:</strong>
  <%= @working.W_A_FINANCIALS %>
</p>

<p>
  <strong>W a costs:</strong>
  <%= @working.W_A_COSTS %>
</p>

<p>
  <strong>W a see costs:</strong>
  <%= @working.W_A_SEE_COSTS %>
</p>

<p>
  <strong>W a adhoc:</strong>
  <%= @working.W_A_ADHOC %>
</p>

<p>
  <strong>W a gl:</strong>
  <%= @working.W_A_GL %>
</p>

<p>
  <strong>W a client pmts:</strong>
  <%= @working.W_A_CLIENT_PMTS %>
</p>

<p>
  <strong>W a client aging:</strong>
  <%= @working.W_A_CLIENT_AGING %>
</p>

<p>
  <strong>W a vendor aging:</strong>
  <%= @working.W_A_VENDOR_AGING %>
</p>

<p>
  <strong>W a wip:</strong>
  <%= @working.W_A_WIP %>
</p>

<p>
  <strong>W a profitability:</strong>
  <%= @working.W_A_PROFITABILITY %>
</p>

<p>
  <strong>W a productivity:</strong>
  <%= @working.W_A_PRODUCTIVITY %>
</p>

<p>
  <strong>W a cash flow:</strong>
  <%= @working.W_A_CASH_FLOW %>
</p>

<p>
  <strong>W a media:</strong>
  <%= @working.W_A_MEDIA %>
</p>

<p>
  <strong>W a xfers:</strong>
  <%= @working.W_A_XFERS %>
</p>

<p>
  <strong>W status billed:</strong>
  <%= @working.W_STATUS_BILLED %>
</p>

<p>
  <strong>W status ar paid:</strong>
  <%= @working.W_STATUS_AR_PAID %>
</p>

<p>
  <strong>W a po amt:</strong>
  <%= @working.W_A_PO_AMT %>
</p>

<p>
  <strong>W gl media wip:</strong>
  <%= @working.W_GL_MEDIA_WIP %>
</p>

<p>
  <strong>W gl media costs:</strong>
  <%= @working.W_GL_MEDIA_COSTS %>
</p>

<p>
  <strong>W a empl adv:</strong>
  <%= @working.W_A_EMPL_ADV %>
</p>

<p>
  <strong>W a time view days:</strong>
  <%= @working.W_A_TIME_VIEW_DAYS %>
</p>

<p>
  <strong>W a hide job amts:</strong>
  <%= @working.W_A_HIDE_JOB_AMTS %>
</p>

<p>
  <strong>W a approve po:</strong>
  <%= @working.W_A_APPROVE_PO %>
</p>

<p>
  <strong>W a staff only:</strong>
  <%= @working.W_A_STAFF_ONLY %>
</p>

<p>
  <strong>W a confid gl:</strong>
  <%= @working.W_A_CONFID_GL %>
</p>

<p>
  <strong>W num11:</strong>
  <%= @working.W_NUM11 %>
</p>

<p>
  <strong>W num12:</strong>
  <%= @working.W_NUM12 %>
</p>

<p>
  <strong>W bud alert c1:</strong>
  <%= @working.W_BUD_ALERT_C1 %>
</p>

<p>
  <strong>W bud alert c2:</strong>
  <%= @working.W_BUD_ALERT_C2 %>
</p>

<p>
  <strong>W bud alert l1:</strong>
  <%= @working.W_BUD_ALERT_L1 %>
</p>

<p>
  <strong>W bud alert l2:</strong>
  <%= @working.W_BUD_ALERT_L2 %>
</p>

<p>
  <strong>W bud alert po1:</strong>
  <%= @working.W_BUD_ALERT_PO1 %>
</p>

<p>
  <strong>W bud alert po2:</strong>
  <%= @working.W_BUD_ALERT_PO2 %>
</p>

<p>
  <strong>W job column1:</strong>
  <%= @working.W_JOB_COLUMN1 %>
</p>

<p>
  <strong>W job column2:</strong>
  <%= @working.W_JOB_COLUMN2 %>
</p>

<p>
  <strong>W job column3:</strong>
  <%= @working.W_JOB_COLUMN3 %>
</p>

<p>
  <strong>W aka:</strong>
  <%= @working.W_AKA %>
</p>

<p>
  <strong>W sep:</strong>
  <%= @working.W_SEP %>
</p>

<p>
  <strong>W aka project:</strong>
  <%= @working.W_AKA_PROJECT %>
</p>

<p>
  <strong>W force quit:</strong>
  <%= @working.W_FORCE_QUIT %>
</p>

<p>
  <strong>W force time:</strong>
  <%= @working.W_FORCE_TIME %>
</p>

<p>
  <strong>W info ctr msg:</strong>
  <%= @working.W_INFO_CTR_MSG %>
</p>

<p>
  <strong>W con note:</strong>
  <%= @working.W_CON_NOTE %>
</p>

<p>
  <strong>W con pc:</strong>
  <%= @working.W_CON_PC %>
</p>

<p>
  <strong>W uniq jnum:</strong>
  <%= @working.W_UNIQ_JNUM %>
</p>

<p>
  <strong>W jobs from:</strong>
  <%= @working.W_JOBS_FROM %>
</p>

<p>
  <strong>W jobs to:</strong>
  <%= @working.W_JOBS_TO %>
</p>

<p>
  <strong>W aka client po:</strong>
  <%= @working.W_AKA_CLIENT_PO %>
</p>

<p>
  <strong>W j to1:</strong>
  <%= @working.W_J_TO1 %>
</p>

<p>
  <strong>W j to2:</strong>
  <%= @working.W_J_TO2 %>
</p>

<p>
  <strong>W j to3:</strong>
  <%= @working.W_J_TO3 %>
</p>

<p>
  <strong>W j to4:</strong>
  <%= @working.W_J_TO4 %>
</p>

<p>
  <strong>W j to5:</strong>
  <%= @working.W_J_TO5 %>
</p>

<p>
  <strong>W char20:</strong>
  <%= @working.W_CHAR20 %>
</p>

<p>
  <strong>W version a:</strong>
  <%= @working.W_VERSION_A %>
</p>

<p>
  <strong>W version b:</strong>
  <%= @working.W_VERSION_B %>
</p>

<p>
  <strong>W version c:</strong>
  <%= @working.W_VERSION_C %>
</p>

<p>
  <strong>W version kind:</strong>
  <%= @working.W_VERSION_KIND %>
</p>

<p>
  <strong>W user field3:</strong>
  <%= @working.W_USER_FIELD3 %>
</p>

<p>
  <strong>W user field4:</strong>
  <%= @working.W_USER_FIELD4 %>
</p>

<p>
  <strong>W user field5:</strong>
  <%= @working.W_USER_FIELD5 %>
</p>

<p>
  <strong>W user field6:</strong>
  <%= @working.W_USER_FIELD6 %>
</p>

<p>
  <strong>W po total label:</strong>
  <%= @working.W_PO_TOTAL_LABEL %>
</p>

<p>
  <strong>W aka pc:</strong>
  <%= @working.W_AKA_PC %>
</p>

<p>
  <strong>W aka pcs:</strong>
  <%= @working.W_AKA_PCS %>
</p>

<p>
  <strong>W a sales tax:</strong>
  <%= @working.W_A_SALES_TAX %>
</p>

<p>
  <strong>W a spell:</strong>
  <%= @working.W_A_SPELL %>
</p>

<p>
  <strong>W a io max:</strong>
  <%= @working.W_A_IO_MAX %>
</p>

<p>
  <strong>W a approve ar:</strong>
  <%= @working.W_A_APPROVE_AR %>
</p>

<p>
  <strong>W a dba:</strong>
  <%= @working.W_A_DBA %>
</p>

<p>
  <strong>W job col1:</strong>
  <%= @working.W_JOB_COL1 %>
</p>

<p>
  <strong>W job col2:</strong>
  <%= @working.W_JOB_COL2 %>
</p>

<p>
  <strong>W job col3:</strong>
  <%= @working.W_JOB_COL3 %>
</p>

<p>
  <strong>W job col4:</strong>
  <%= @working.W_JOB_COL4 %>
</p>

<p>
  <strong>W job col5:</strong>
  <%= @working.W_JOB_COL5 %>
</p>

<p>
  <strong>W job col6:</strong>
  <%= @working.W_JOB_COL6 %>
</p>

<p>
  <strong>W a ok requests:</strong>
  <%= @working.W_A_OK_REQUESTS %>
</p>

<p>
  <strong>W a approve time:</strong>
  <%= @working.W_A_APPROVE_TIME %>
</p>

<p>
  <strong>W a approve exp:</strong>
  <%= @working.W_A_APPROVE_EXP %>
</p>

<p>
  <strong>W a change priority:</strong>
  <%= @working.W_A_CHANGE_PRIORITY %>
</p>

<p>
  <strong>W a media snaps:</strong>
  <%= @working.W_A_MEDIA_SNAPS %>
</p>

<p>
  <strong>W a client add:</strong>
  <%= @working.W_A_CLIENT_ADD %>
</p>

<p>
  <strong>W a web access:</strong>
  <%= @working.W_A_WEB_ACCESS %>
</p>

<p>
  <strong>W a cust reports:</strong>
  <%= @working.W_A_CUST_REPORTS %>
</p>

<p>
  <strong>W a collect mgr:</strong>
  <%= @working.W_A_COLLECT_MGR %>
</p>

<p>
  <strong>W a email:</strong>
  <%= @working.W_A_EMAIL %>
</p>

<p>
  <strong>W a approve ap:</strong>
  <%= @working.W_A_APPROVE_AP %>
</p>

<p>
  <strong>W a approve jobs:</strong>
  <%= @working.W_A_APPROVE_JOBS %>
</p>

<p>
  <strong>W a approve sch:</strong>
  <%= @working.W_A_APPROVE_SCH %>
</p>

<p>
  <strong>W a approve mo:</strong>
  <%= @working.W_A_APPROVE_MO %>
</p>

<p>
  <strong>W a approve mests:</strong>
  <%= @working.W_A_APPROVE_MESTS %>
</p>

<p>
  <strong>W a approve mplans:</strong>
  <%= @working.W_A_APPROVE_MPLANS %>
</p>

<p>
  <strong>W a approve mbriefs:</strong>
  <%= @working.W_A_APPROVE_MBRIEFS %>
</p>

<p>
  <strong>W a int charges:</strong>
  <%= @working.W_A_INT_CHARGES %>
</p>

<p>
  <strong>W a commissions:</strong>
  <%= @working.W_A_COMMISSIONS %>
</p>

<p>
  <strong>W a print specs:</strong>
  <%= @working.W_A_PRINT_SPECS %>
</p>

<p>
  <strong>W a approve printspecs:</strong>
  <%= @working.W_A_APPROVE_PRINTSPECS %>
</p>

<p>
  <strong>W a renumber:</strong>
  <%= @working.W_A_RENUMBER %>
</p>

<p>
  <strong>W a verify recover:</strong>
  <%= @working.W_A_VERIFY_RECOVER %>
</p>

<p>
  <strong>W a see labor net:</strong>
  <%= @working.W_A_SEE_LABOR_NET %>
</p>

<p>
  <strong>W a hide tooltips:</strong>
  <%= @working.W_A_HIDE_TOOLTIPS %>
</p>

<p>
  <strong>W tcp address:</strong>
  <%= @working.W_TCP_ADDRESS %>
</p>

<p>
  <strong>W last work time:</strong>
  <%= @working.W_LAST_WORK_TIME %>
</p>

<p>
  <strong>W last work:</strong>
  <%= @working.W_LAST_WORK %>
</p>

<p>
  <strong>W log off now:</strong>
  <%= @working.W_LOG_OFF_NOW %>
</p>

<p>
  <strong>W a job snapshot:</strong>
  <%= @working.W_A_JOB_SNAPSHOT %>
</p>

<p>
  <strong>W gl int bill:</strong>
  <%= @working.W_GL_INT_BILL %>
</p>

<p>
  <strong>W a hide rates bill:</strong>
  <%= @working.W_A_HIDE_RATES_BILL %>
</p>

<p>
  <strong>W pos clip note:</strong>
  <%= @working.W_POS_CLIP_NOTE %>
</p>

<p>
  <strong>W status new b:</strong>
  <%= @working.W_STATUS_NEW_B %>
</p>

<p>
  <strong>W status closed b:</strong>
  <%= @working.W_STATUS_CLOSED_B %>
</p>

<p>
  <strong>W status reopen b:</strong>
  <%= @working.W_STATUS_REOPEN_B %>
</p>

<p>
  <strong>W status billed b:</strong>
  <%= @working.W_STATUS_BILLED_B %>
</p>

<p>
  <strong>W status ar paid b:</strong>
  <%= @working.W_STATUS_AR_PAID_B %>
</p>

<p>
  <strong>W print status from:</strong>
  <%= @working.W_PRINT_STATUS_FROM %>
</p>

<p>
  <strong>W print status to:</strong>
  <%= @working.W_PRINT_STATUS_TO %>
</p>

<p>
  <strong>W web access:</strong>
  <%= @working.W_WEB_ACCESS %>
</p>

<p>
  <strong>W a inst jobs:</strong>
  <%= @working.W_A_INST_JOBS %>
</p>

<p>
  <strong>W pc:</strong>
  <%= @working.W_PC %>
</p>

<p>
  <strong>W tax rate3:</strong>
  <%= @working.W_TAX_RATE3 %>
</p>

<p>
  <strong>W tax desc3:</strong>
  <%= @working.W_TAX_DESC3 %>
</p>

<p>
  <strong>W tax gl3:</strong>
  <%= @working.W_TAX_GL3 %>
</p>

<p>
  <strong>W dashboard:</strong>
  <%= @working.W_DASHBOARD %>
</p>

<p>
  <strong>W a job bill wkst:</strong>
  <%= @working.W_A_JOB_BILL_WKST %>
</p>

<p>
  <strong>W a time card:</strong>
  <%= @working.W_A_TIME_CARD %>
</p>

<%= link_to 'Edit', edit_working_path(@working) %> |
<%= link_to 'Back', workings_path %>
