<%= simple_form_for(@job_user_field) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :JU_FIELD %>
    <%= f.input :JU_VALUE %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
