<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @sales_action.primaryKey %>
</p>

<p>
  <strong>Sact kind:</strong>
  <%= @sales_action.SACT_KIND %>
</p>

<p>
  <strong>Sact date:</strong>
  <%= @sales_action.SACT_DATE %>
</p>

<p>
  <strong>Sact time:</strong>
  <%= @sales_action.SACT_TIME %>
</p>

<p>
  <strong>Sact length:</strong>
  <%= @sales_action.SACT_LENGTH %>
</p>

<p>
  <strong>Sact campaign:</strong>
  <%= @sales_action.SACT_CAMPAIGN %>
</p>

<p>
  <strong>Sact con  seq:</strong>
  <%= @sales_action.SACT_CON__SEQ %>
</p>

<p>
  <strong>Sact priority:</strong>
  <%= @sales_action.SACT_PRIORITY %>
</p>

<p>
  <strong>Sact sltr  seq:</strong>
  <%= @sales_action.SACT_SLTR__SEQ %>
</p>

<p>
  <strong>Sact from staff:</strong>
  <%= @sales_action.SACT_FROM_STAFF %>
</p>

<p>
  <strong>Sact printed:</strong>
  <%= @sales_action.SACT_PRINTED %>
</p>

<p>
  <strong>Sact printed by:</strong>
  <%= @sales_action.SACT_PRINTED_BY %>
</p>

<p>
  <strong>Sact client num:</strong>
  <%= @sales_action.SACT_CLIENT_NUM %>
</p>

<p>
  <strong>Sact added by:</strong>
  <%= @sales_action.SACT_ADDED_BY %>
</p>

<p>
  <strong>Sact subject:</strong>
  <%= @sales_action.SACT_SUBJECT %>
</p>

<p>
  <strong>Sact body:</strong>
  <%= @sales_action.SACT_BODY %>
</p>

<p>
  <strong>Sact ps:</strong>
  <%= @sales_action.SACT_PS %>
</p>

<p>
  <strong>Sact added when:</strong>
  <%= @sales_action.SACT_ADDED_WHEN %>
</p>

<p>
  <strong>Sact edited by:</strong>
  <%= @sales_action.SACT_EDITED_BY %>
</p>

<p>
  <strong>Sact edited when:</strong>
  <%= @sales_action.SACT_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_sales_action_path(@sales_action) %> |
<%= link_to 'Back', sales_actions_path %>
