<%= simple_form_for(@worksheet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :EST_KEY %>
    <%= f.input :EST_LINE1 %>
    <%= f.input :EST_LINE2 %>
    <%= f.input :EST_LINE3 %>
    <%= f.input :EST_LINE4 %>
    <%= f.input :EST_AMT1 %>
    <%= f.input :EST_AMT2 %>
    <%= f.input :EST_AMT3 %>
    <%= f.input :EST_AMT4 %>
    <%= f.input :EST_RESOURCE1 %>
    <%= f.input :EST_RESOURCE2 %>
    <%= f.input :EST_RESOURCE3 %>
    <%= f.input :EST_RESOURCE4 %>
    <%= f.input :EST_RATE1 %>
    <%= f.input :EST_RATE2 %>
    <%= f.input :EST_RATE3 %>
    <%= f.input :EST_RATE4 %>
    <%= f.input :EST_HRS1 %>
    <%= f.input :EST_HRS2 %>
    <%= f.input :EST_HRS3 %>
    <%= f.input :EST_HRS4 %>
    <%= f.input :EST_JOB_NUM %>
    <%= f.input :EST_COLUMN %>
    <%= f.input :EST_TASK %>
    <%= f.input :EST_MARKUP %>
    <%= f.input :EST_REV %>
    <%= f.input :EST_ADDED_BY %>
    <%= f.input :EST_ADDED_WHEN %>
    <%= f.input :EST_EDITED_BY %>
    <%= f.input :EST_EDITED_WHEN %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
