<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @worksheet.primaryKey %>
</p>

<p>
  <strong>Est key:</strong>
  <%= @worksheet.EST_KEY %>
</p>

<p>
  <strong>Est line1:</strong>
  <%= @worksheet.EST_LINE1 %>
</p>

<p>
  <strong>Est line2:</strong>
  <%= @worksheet.EST_LINE2 %>
</p>

<p>
  <strong>Est line3:</strong>
  <%= @worksheet.EST_LINE3 %>
</p>

<p>
  <strong>Est line4:</strong>
  <%= @worksheet.EST_LINE4 %>
</p>

<p>
  <strong>Est amt1:</strong>
  <%= @worksheet.EST_AMT1 %>
</p>

<p>
  <strong>Est amt2:</strong>
  <%= @worksheet.EST_AMT2 %>
</p>

<p>
  <strong>Est amt3:</strong>
  <%= @worksheet.EST_AMT3 %>
</p>

<p>
  <strong>Est amt4:</strong>
  <%= @worksheet.EST_AMT4 %>
</p>

<p>
  <strong>Est resource1:</strong>
  <%= @worksheet.EST_RESOURCE1 %>
</p>

<p>
  <strong>Est resource2:</strong>
  <%= @worksheet.EST_RESOURCE2 %>
</p>

<p>
  <strong>Est resource3:</strong>
  <%= @worksheet.EST_RESOURCE3 %>
</p>

<p>
  <strong>Est resource4:</strong>
  <%= @worksheet.EST_RESOURCE4 %>
</p>

<p>
  <strong>Est rate1:</strong>
  <%= @worksheet.EST_RATE1 %>
</p>

<p>
  <strong>Est rate2:</strong>
  <%= @worksheet.EST_RATE2 %>
</p>

<p>
  <strong>Est rate3:</strong>
  <%= @worksheet.EST_RATE3 %>
</p>

<p>
  <strong>Est rate4:</strong>
  <%= @worksheet.EST_RATE4 %>
</p>

<p>
  <strong>Est hrs1:</strong>
  <%= @worksheet.EST_HRS1 %>
</p>

<p>
  <strong>Est hrs2:</strong>
  <%= @worksheet.EST_HRS2 %>
</p>

<p>
  <strong>Est hrs3:</strong>
  <%= @worksheet.EST_HRS3 %>
</p>

<p>
  <strong>Est hrs4:</strong>
  <%= @worksheet.EST_HRS4 %>
</p>

<p>
  <strong>Est job num:</strong>
  <%= @worksheet.EST_JOB_NUM %>
</p>

<p>
  <strong>Est column:</strong>
  <%= @worksheet.EST_COLUMN %>
</p>

<p>
  <strong>Est task:</strong>
  <%= @worksheet.EST_TASK %>
</p>

<p>
  <strong>Est markup:</strong>
  <%= @worksheet.EST_MARKUP %>
</p>

<p>
  <strong>Est rev:</strong>
  <%= @worksheet.EST_REV %>
</p>

<p>
  <strong>Est added by:</strong>
  <%= @worksheet.EST_ADDED_BY %>
</p>

<p>
  <strong>Est added when:</strong>
  <%= @worksheet.EST_ADDED_WHEN %>
</p>

<p>
  <strong>Est edited by:</strong>
  <%= @worksheet.EST_EDITED_BY %>
</p>

<p>
  <strong>Est edited when:</strong>
  <%= @worksheet.EST_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_worksheet_path(@worksheet) %> |
<%= link_to 'Back', worksheets_path %>
