<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @change_item.primaryKey %>
</p>

<p>
  <strong>Chx job num:</strong>
  <%= @change_item.CHX_JOB_NUM %>
</p>

<p>
  <strong>Chx task:</strong>
  <%= @change_item.CHX_TASK %>
</p>

<p>
  <strong>Chx name:</strong>
  <%= @change_item.CHX_NAME %>
</p>

<p>
  <strong>Chx hours:</strong>
  <%= @change_item.CHX_HOURS %>
</p>

<p>
  <strong>Chx budget:</strong>
  <%= @change_item.CHX_BUDGET %>
</p>

<p>
  <strong>Chx estimate:</strong>
  <%= @change_item.CHX_ESTIMATE %>
</p>

<p>
  <strong>Chx notes:</strong>
  <%= @change_item.CHX_NOTES %>
</p>

<p>
  <strong>Chx num:</strong>
  <%= @change_item.CHX_NUM %>
</p>

<p>
  <strong>Chx taxable1:</strong>
  <%= @change_item.CHX_TAXABLE1 %>
</p>

<p>
  <strong>Chx taxable2:</strong>
  <%= @change_item.CHX_TAXABLE2 %>
</p>

<p>
  <strong>Chx rollup:</strong>
  <%= @change_item.CHX_ROLLUP %>
</p>

<p>
  <strong>Chx added by:</strong>
  <%= @change_item.CHX_ADDED_BY %>
</p>

<p>
  <strong>Chx added when:</strong>
  <%= @change_item.CHX_ADDED_WHEN %>
</p>

<p>
  <strong>Chx edited by:</strong>
  <%= @change_item.CHX_EDITED_BY %>
</p>

<p>
  <strong>Chx edited when:</strong>
  <%= @change_item.CHX_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_change_item_path(@change_item) %> |
<%= link_to 'Back', change_items_path %>
