<%= simple_form_for(@acct_period) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :PERIOD_ID %>
    <%= f.input :PERIOD_1 %>
    <%= f.input :PERIOD_2 %>
    <%= f.input :PERIOD_3 %>
    <%= f.input :PERIOD_4 %>
    <%= f.input :PERIOD_5 %>
    <%= f.input :PERIOD_6 %>
    <%= f.input :PERIOD_7 %>
    <%= f.input :PERIOD_8 %>
    <%= f.input :PERIOD_9 %>
    <%= f.input :PERIOD_10 %>
    <%= f.input :PERIOD_11 %>
    <%= f.input :PERIOD_12 %>
    <%= f.input :PERIOD_13 %>
    <%= f.input :PERIOD_14 %>
    <%= f.input :PERIOD_15 %>
    <%= f.input :PERIOD_16 %>
    <%= f.input :PERIOD_17 %>
    <%= f.input :PERIOD_18 %>
    <%= f.input :PERIOD_19 %>
    <%= f.input :PERIOD_20 %>
    <%= f.input :PERIOD_21 %>
    <%= f.input :PERIOD_22 %>
    <%= f.input :PERIOD_23 %>
    <%= f.input :PERIOD_24 %>
    <%= f.input :PERIOD_LOCK1 %>
    <%= f.input :PERIOD_LOCK2 %>
    <%= f.input :PERIOD_LOCK3 %>
    <%= f.input :PERIOD_LOCK4 %>
    <%= f.input :PERIOD_LOCK5 %>
    <%= f.input :PERIOD_LOCK6 %>
    <%= f.input :PERIOD_LOCK7 %>
    <%= f.input :PERIOD_LOCK8 %>
    <%= f.input :PERIOD_LOCK9 %>
    <%= f.input :PERIOD_LOCK10 %>
    <%= f.input :PERIOD_LOCK11 %>
    <%= f.input :PERIOD_LOCK12 %>
    <%= f.input :PERIOD_LOCK13 %>
    <%= f.input :PERIOD_LOCK14 %>
    <%= f.input :PERIOD_LOCK15 %>
    <%= f.input :PERIOD_LOCK16 %>
    <%= f.input :PERIOD_LOCK17 %>
    <%= f.input :PERIOD_LOCK18 %>
    <%= f.input :PERIOD_LOCK19 %>
    <%= f.input :PERIOD_LOCK20 %>
    <%= f.input :PERIOD_LOCK21 %>
    <%= f.input :PERIOD_LOCK22 %>
    <%= f.input :PERIOD_LOCK23 %>
    <%= f.input :PERIOD_LOCK24 %>
    <%= f.input :PERIOD_FIRST_DAY %>
    <%= f.input :PERIOD_CURR_PER %>
    <%= f.input :PERIOD_FY1_NAME %>
    <%= f.input :PERIOD_FY2_NAME %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
