<p id="notice"><%= notice %></p>

<p>
  <strong>Period id:</strong>
  <%= @acct_period.PERIOD_ID %>
</p>

<p>
  <strong>Period 1:</strong>
  <%= @acct_period.PERIOD_1 %>
</p>

<p>
  <strong>Period 2:</strong>
  <%= @acct_period.PERIOD_2 %>
</p>

<p>
  <strong>Period 3:</strong>
  <%= @acct_period.PERIOD_3 %>
</p>

<p>
  <strong>Period 4:</strong>
  <%= @acct_period.PERIOD_4 %>
</p>

<p>
  <strong>Period 5:</strong>
  <%= @acct_period.PERIOD_5 %>
</p>

<p>
  <strong>Period 6:</strong>
  <%= @acct_period.PERIOD_6 %>
</p>

<p>
  <strong>Period 7:</strong>
  <%= @acct_period.PERIOD_7 %>
</p>

<p>
  <strong>Period 8:</strong>
  <%= @acct_period.PERIOD_8 %>
</p>

<p>
  <strong>Period 9:</strong>
  <%= @acct_period.PERIOD_9 %>
</p>

<p>
  <strong>Period 10:</strong>
  <%= @acct_period.PERIOD_10 %>
</p>

<p>
  <strong>Period 11:</strong>
  <%= @acct_period.PERIOD_11 %>
</p>

<p>
  <strong>Period 12:</strong>
  <%= @acct_period.PERIOD_12 %>
</p>

<p>
  <strong>Period 13:</strong>
  <%= @acct_period.PERIOD_13 %>
</p>

<p>
  <strong>Period 14:</strong>
  <%= @acct_period.PERIOD_14 %>
</p>

<p>
  <strong>Period 15:</strong>
  <%= @acct_period.PERIOD_15 %>
</p>

<p>
  <strong>Period 16:</strong>
  <%= @acct_period.PERIOD_16 %>
</p>

<p>
  <strong>Period 17:</strong>
  <%= @acct_period.PERIOD_17 %>
</p>

<p>
  <strong>Period 18:</strong>
  <%= @acct_period.PERIOD_18 %>
</p>

<p>
  <strong>Period 19:</strong>
  <%= @acct_period.PERIOD_19 %>
</p>

<p>
  <strong>Period 20:</strong>
  <%= @acct_period.PERIOD_20 %>
</p>

<p>
  <strong>Period 21:</strong>
  <%= @acct_period.PERIOD_21 %>
</p>

<p>
  <strong>Period 22:</strong>
  <%= @acct_period.PERIOD_22 %>
</p>

<p>
  <strong>Period 23:</strong>
  <%= @acct_period.PERIOD_23 %>
</p>

<p>
  <strong>Period 24:</strong>
  <%= @acct_period.PERIOD_24 %>
</p>

<p>
  <strong>Period lock1:</strong>
  <%= @acct_period.PERIOD_LOCK1 %>
</p>

<p>
  <strong>Period lock2:</strong>
  <%= @acct_period.PERIOD_LOCK2 %>
</p>

<p>
  <strong>Period lock3:</strong>
  <%= @acct_period.PERIOD_LOCK3 %>
</p>

<p>
  <strong>Period lock4:</strong>
  <%= @acct_period.PERIOD_LOCK4 %>
</p>

<p>
  <strong>Period lock5:</strong>
  <%= @acct_period.PERIOD_LOCK5 %>
</p>

<p>
  <strong>Period lock6:</strong>
  <%= @acct_period.PERIOD_LOCK6 %>
</p>

<p>
  <strong>Period lock7:</strong>
  <%= @acct_period.PERIOD_LOCK7 %>
</p>

<p>
  <strong>Period lock8:</strong>
  <%= @acct_period.PERIOD_LOCK8 %>
</p>

<p>
  <strong>Period lock9:</strong>
  <%= @acct_period.PERIOD_LOCK9 %>
</p>

<p>
  <strong>Period lock10:</strong>
  <%= @acct_period.PERIOD_LOCK10 %>
</p>

<p>
  <strong>Period lock11:</strong>
  <%= @acct_period.PERIOD_LOCK11 %>
</p>

<p>
  <strong>Period lock12:</strong>
  <%= @acct_period.PERIOD_LOCK12 %>
</p>

<p>
  <strong>Period lock13:</strong>
  <%= @acct_period.PERIOD_LOCK13 %>
</p>

<p>
  <strong>Period lock14:</strong>
  <%= @acct_period.PERIOD_LOCK14 %>
</p>

<p>
  <strong>Period lock15:</strong>
  <%= @acct_period.PERIOD_LOCK15 %>
</p>

<p>
  <strong>Period lock16:</strong>
  <%= @acct_period.PERIOD_LOCK16 %>
</p>

<p>
  <strong>Period lock17:</strong>
  <%= @acct_period.PERIOD_LOCK17 %>
</p>

<p>
  <strong>Period lock18:</strong>
  <%= @acct_period.PERIOD_LOCK18 %>
</p>

<p>
  <strong>Period lock19:</strong>
  <%= @acct_period.PERIOD_LOCK19 %>
</p>

<p>
  <strong>Period lock20:</strong>
  <%= @acct_period.PERIOD_LOCK20 %>
</p>

<p>
  <strong>Period lock21:</strong>
  <%= @acct_period.PERIOD_LOCK21 %>
</p>

<p>
  <strong>Period lock22:</strong>
  <%= @acct_period.PERIOD_LOCK22 %>
</p>

<p>
  <strong>Period lock23:</strong>
  <%= @acct_period.PERIOD_LOCK23 %>
</p>

<p>
  <strong>Period lock24:</strong>
  <%= @acct_period.PERIOD_LOCK24 %>
</p>

<p>
  <strong>Period first day:</strong>
  <%= @acct_period.PERIOD_FIRST_DAY %>
</p>

<p>
  <strong>Period curr per:</strong>
  <%= @acct_period.PERIOD_CURR_PER %>
</p>

<p>
  <strong>Period fy1 name:</strong>
  <%= @acct_period.PERIOD_FY1_NAME %>
</p>

<p>
  <strong>Period fy2 name:</strong>
  <%= @acct_period.PERIOD_FY2_NAME %>
</p>

<%= link_to 'Edit', edit_acct_period_path(@acct_period) %> |
<%= link_to 'Back', acct_periods_path %>
