<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @sales_campaign.primaryKey %>
</p>

<p>
  <strong>Scam id:</strong>
  <%= @sales_campaign.SCAM_ID %>
</p>

<p>
  <strong>Scam desc:</strong>
  <%= @sales_campaign.SCAM_DESC %>
</p>

<p>
  <strong>Scam added by:</strong>
  <%= @sales_campaign.SCAM_ADDED_BY %>
</p>

<p>
  <strong>Scam start:</strong>
  <%= @sales_campaign.SCAM_START %>
</p>

<p>
  <strong>Scam end:</strong>
  <%= @sales_campaign.SCAM_END %>
</p>

<p>
  <strong>Scam action:</strong>
  <%= @sales_campaign.SCAM_ACTION %>
</p>

<p>
  <strong>Scam action1:</strong>
  <%= @sales_campaign.SCAM_ACTION1 %>
</p>

<p>
  <strong>Scam action1 days:</strong>
  <%= @sales_campaign.SCAM_ACTION1_DAYS %>
</p>

<p>
  <strong>Scam action2:</strong>
  <%= @sales_campaign.SCAM_ACTION2 %>
</p>

<p>
  <strong>Scam action2 days:</strong>
  <%= @sales_campaign.SCAM_ACTION2_DAYS %>
</p>

<p>
  <strong>Scam action3:</strong>
  <%= @sales_campaign.SCAM_ACTION3 %>
</p>

<p>
  <strong>Scam action3 days:</strong>
  <%= @sales_campaign.SCAM_ACTION3_DAYS %>
</p>

<p>
  <strong>Scam client num:</strong>
  <%= @sales_campaign.SCAM_CLIENT_NUM %>
</p>

<p>
  <strong>Scam ok:</strong>
  <%= @sales_campaign.SCAM_OK %>
</p>

<p>
  <strong>Scam ok by:</strong>
  <%= @sales_campaign.SCAM_OK_BY %>
</p>

<p>
  <strong>Scam added when:</strong>
  <%= @sales_campaign.SCAM_ADDED_WHEN %>
</p>

<p>
  <strong>Scam edited by:</strong>
  <%= @sales_campaign.SCAM_EDITED_BY %>
</p>

<p>
  <strong>Scam edited when:</strong>
  <%= @sales_campaign.SCAM_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_sales_campaign_path(@sales_campaign) %> |
<%= link_to 'Back', sales_campaigns_path %>
