<%= simple_form_for(@billing_info) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :B_JOB_NUM %>
    <%= f.input :B_COST_CTR1 %>
    <%= f.input :B_COST_CTR2 %>
    <%= f.input :B_COST_CTR3 %>
    <%= f.input :B_COST_CTR4 %>
    <%= f.input :B_COST_CTR5 %>
    <%= f.input :B_COST_CTR6 %>
    <%= f.input :B_COST_CTR7 %>
    <%= f.input :B_COST_CTR8 %>
    <%= f.input :B_COST_CTR9 %>
    <%= f.input :B_ACCT1 %>
    <%= f.input :B_ACCT2 %>
    <%= f.input :B_ACCT3 %>
    <%= f.input :B_ACCT4 %>
    <%= f.input :B_ACCT5 %>
    <%= f.input :B_ACCT6 %>
    <%= f.input :B_ACCT7 %>
    <%= f.input :B_ACCT8 %>
    <%= f.input :B_ACCT9 %>
    <%= f.input :B_PERCENT1 %>
    <%= f.input :B_PERCENT2 %>
    <%= f.input :B_PERCENT3 %>
    <%= f.input :B_PERCENT4 %>
    <%= f.input :B_PERCENT5 %>
    <%= f.input :B_PERCENT6 %>
    <%= f.input :B_PERCENT7 %>
    <%= f.input :B_PERCENT8 %>
    <%= f.input :B_PERCENT9 %>
    <%= f.input :B_EDITED_BY %>
    <%= f.input :B_EDITED_WHEN %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
