<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @billing_info.primaryKey %>
</p>

<p>
  <strong>B job num:</strong>
  <%= @billing_info.B_JOB_NUM %>
</p>

<p>
  <strong>B cost ctr1:</strong>
  <%= @billing_info.B_COST_CTR1 %>
</p>

<p>
  <strong>B cost ctr2:</strong>
  <%= @billing_info.B_COST_CTR2 %>
</p>

<p>
  <strong>B cost ctr3:</strong>
  <%= @billing_info.B_COST_CTR3 %>
</p>

<p>
  <strong>B cost ctr4:</strong>
  <%= @billing_info.B_COST_CTR4 %>
</p>

<p>
  <strong>B cost ctr5:</strong>
  <%= @billing_info.B_COST_CTR5 %>
</p>

<p>
  <strong>B cost ctr6:</strong>
  <%= @billing_info.B_COST_CTR6 %>
</p>

<p>
  <strong>B cost ctr7:</strong>
  <%= @billing_info.B_COST_CTR7 %>
</p>

<p>
  <strong>B cost ctr8:</strong>
  <%= @billing_info.B_COST_CTR8 %>
</p>

<p>
  <strong>B cost ctr9:</strong>
  <%= @billing_info.B_COST_CTR9 %>
</p>

<p>
  <strong>B acct1:</strong>
  <%= @billing_info.B_ACCT1 %>
</p>

<p>
  <strong>B acct2:</strong>
  <%= @billing_info.B_ACCT2 %>
</p>

<p>
  <strong>B acct3:</strong>
  <%= @billing_info.B_ACCT3 %>
</p>

<p>
  <strong>B acct4:</strong>
  <%= @billing_info.B_ACCT4 %>
</p>

<p>
  <strong>B acct5:</strong>
  <%= @billing_info.B_ACCT5 %>
</p>

<p>
  <strong>B acct6:</strong>
  <%= @billing_info.B_ACCT6 %>
</p>

<p>
  <strong>B acct7:</strong>
  <%= @billing_info.B_ACCT7 %>
</p>

<p>
  <strong>B acct8:</strong>
  <%= @billing_info.B_ACCT8 %>
</p>

<p>
  <strong>B acct9:</strong>
  <%= @billing_info.B_ACCT9 %>
</p>

<p>
  <strong>B percent1:</strong>
  <%= @billing_info.B_PERCENT1 %>
</p>

<p>
  <strong>B percent2:</strong>
  <%= @billing_info.B_PERCENT2 %>
</p>

<p>
  <strong>B percent3:</strong>
  <%= @billing_info.B_PERCENT3 %>
</p>

<p>
  <strong>B percent4:</strong>
  <%= @billing_info.B_PERCENT4 %>
</p>

<p>
  <strong>B percent5:</strong>
  <%= @billing_info.B_PERCENT5 %>
</p>

<p>
  <strong>B percent6:</strong>
  <%= @billing_info.B_PERCENT6 %>
</p>

<p>
  <strong>B percent7:</strong>
  <%= @billing_info.B_PERCENT7 %>
</p>

<p>
  <strong>B percent8:</strong>
  <%= @billing_info.B_PERCENT8 %>
</p>

<p>
  <strong>B percent9:</strong>
  <%= @billing_info.B_PERCENT9 %>
</p>

<p>
  <strong>B edited by:</strong>
  <%= @billing_info.B_EDITED_BY %>
</p>

<p>
  <strong>B edited when:</strong>
  <%= @billing_info.B_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_billing_info_path(@billing_info) %> |
<%= link_to 'Back', billing_infos_path %>
