<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @homebasis.primaryKey %>
</p>

<p>
  <strong>Home job num:</strong>
  <%= @homebasis.HOME_JOB_NUM %>
</p>

<p>
  <strong>Home task:</strong>
  <%= @homebasis.HOME_TASK %>
</p>

<p>
  <strong>Home status:</strong>
  <%= @homebasis.HOME_STATUS %>
</p>

<p>
  <strong>Home s initials:</strong>
  <%= @homebasis.HOME_S_INITIALS %>
</p>

<p>
  <strong>Home added by:</strong>
  <%= @homebasis.HOME_ADDED_BY %>
</p>

<p>
  <strong>Home date added:</strong>
  <%= @homebasis.HOME_DATE_ADDED %>
</p>

<p>
  <strong>Home due date:</strong>
  <%= @homebasis.HOME_DUE_DATE %>
</p>

<p>
  <strong>Home subject:</strong>
  <%= @homebasis.HOME_SUBJECT %>
</p>

<p>
  <strong>Home kind:</strong>
  <%= @homebasis.HOME_KIND %>
</p>

<p>
  <strong>Home reply:</strong>
  <%= @homebasis.HOME_REPLY %>
</p>

<p>
  <strong>Home private1:</strong>
  <%= @homebasis.HOME_PRIVATE1 %>
</p>

<p>
  <strong>Home private2:</strong>
  <%= @homebasis.HOME_PRIVATE2 %>
</p>

<p>
  <strong>Home priority:</strong>
  <%= @homebasis.HOME_PRIORITY %>
</p>

<p>
  <strong>Home sort:</strong>
  <%= @homebasis.HOME_SORT %>
</p>

<p>
  <strong>Home choice1:</strong>
  <%= @homebasis.HOME_CHOICE1 %>
</p>

<p>
  <strong>Home choice2:</strong>
  <%= @homebasis.HOME_CHOICE2 %>
</p>

<p>
  <strong>Home choice3:</strong>
  <%= @homebasis.HOME_CHOICE3 %>
</p>

<p>
  <strong>Home choice4:</strong>
  <%= @homebasis.HOME_CHOICE4 %>
</p>

<p>
  <strong>Home choice5:</strong>
  <%= @homebasis.HOME_CHOICE5 %>
</p>

<p>
  <strong>Home choice6:</strong>
  <%= @homebasis.HOME_CHOICE6 %>
</p>

<p>
  <strong>Home last reply:</strong>
  <%= @homebasis.HOME_LAST_REPLY %>
</p>

<p>
  <strong>Home message:</strong>
  <%= @homebasis.HOME_MESSAGE %>
</p>

<p>
  <strong>Home locked:</strong>
  <%= @homebasis.HOME_LOCKED %>
</p>

<p>
  <strong>Home added kind:</strong>
  <%= @homebasis.HOME_ADDED_KIND %>
</p>

<p>
  <strong>Home comment:</strong>
  <%= @homebasis.HOME_COMMENT %>
</p>

<p>
  <strong>Home rating:</strong>
  <%= @homebasis.HOME_RATING %>
</p>

<p>
  <strong>Home prod status:</strong>
  <%= @homebasis.HOME_PROD_STATUS %>
</p>

<p>
  <strong>Home orig  seq:</strong>
  <%= @homebasis.HOME_ORIG__SEQ %>
</p>

<p>
  <strong>Home file name:</strong>
  <%= @homebasis.HOME_FILE_NAME %>
</p>

<p>
  <strong>Home x phase:</strong>
  <%= @homebasis.HOME_X_PHASE %>
</p>

<p>
  <strong>Home avail creative:</strong>
  <%= @homebasis.HOME_AVAIL_CREATIVE %>
</p>

<p>
  <strong>Home avail prod:</strong>
  <%= @homebasis.HOME_AVAIL_PROD %>
</p>

<p>
  <strong>Home avail staff:</strong>
  <%= @homebasis.HOME_AVAIL_STAFF %>
</p>

<p>
  <strong>Home avail clients:</strong>
  <%= @homebasis.HOME_AVAIL_CLIENTS %>
</p>

<p>
  <strong>Home avail vendors:</strong>
  <%= @homebasis.HOME_AVAIL_VENDORS %>
</p>

<p>
  <strong>Home email it:</strong>
  <%= @homebasis.HOME_EMAIL_IT %>
</p>

<%= link_to 'Edit', edit_homebasis_path(@homebasis) %> |
<%= link_to 'Back', homebases_path %>
