<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @payment_item.primaryKey %>
</p>

<p>
  <strong>Px ar num:</strong>
  <%= @payment_item.PX_AR_NUM %>
</p>

<p>
  <strong>Px amt:</strong>
  <%= @payment_item.PX_AMT %>
</p>

<p>
  <strong>Px cgl:</strong>
  <%= @payment_item.PX_CGL %>
</p>

<p>
  <strong>Px posted:</strong>
  <%= @payment_item.PX_POSTED %>
</p>

<p>
  <strong>Px period:</strong>
  <%= @payment_item.PX_PERIOD %>
</p>

<p>
  <strong>Px check num:</strong>
  <%= @payment_item.PX_CHECK_NUM %>
</p>

<p>
  <strong>Px client num:</strong>
  <%= @payment_item.PX_CLIENT_NUM %>
</p>

<p>
  <strong>Px disc amt:</strong>
  <%= @payment_item.PX_DISC_AMT %>
</p>

<p>
  <strong>Px disc gl:</strong>
  <%= @payment_item.PX_DISC_GL %>
</p>

<p>
  <strong>Px added by:</strong>
  <%= @payment_item.PX_ADDED_BY %>
</p>

<p>
  <strong>Px added when:</strong>
  <%= @payment_item.PX_ADDED_WHEN %>
</p>

<p>
  <strong>Px edited by:</strong>
  <%= @payment_item.PX_EDITED_BY %>
</p>

<p>
  <strong>Px edited when:</strong>
  <%= @payment_item.PX_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_payment_item_path(@payment_item) %> |
<%= link_to 'Back', payment_items_path %>
