<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @job_order.primaryKey %>
</p>

<p>
  <strong>Cb job num:</strong>
  <%= @job_order.CB_JOB_NUM %>
</p>

<p>
  <strong>Cb client num:</strong>
  <%= @job_order.CB_CLIENT_NUM %>
</p>

<p>
  <strong>Cb 1 label:</strong>
  <%= @job_order.CB_1_LABEL %>
</p>

<p>
  <strong>Cb 1:</strong>
  <%= @job_order.CB_1 %>
</p>

<p>
  <strong>Cb 2 label:</strong>
  <%= @job_order.CB_2_LABEL %>
</p>

<p>
  <strong>Cb 2:</strong>
  <%= @job_order.CB_2 %>
</p>

<p>
  <strong>Cb 3 label:</strong>
  <%= @job_order.CB_3_LABEL %>
</p>

<p>
  <strong>Cb 3:</strong>
  <%= @job_order.CB_3 %>
</p>

<p>
  <strong>Cb 4 label:</strong>
  <%= @job_order.CB_4_LABEL %>
</p>

<p>
  <strong>Cb 4:</strong>
  <%= @job_order.CB_4 %>
</p>

<p>
  <strong>Cb 5 label:</strong>
  <%= @job_order.CB_5_LABEL %>
</p>

<p>
  <strong>Cb 5:</strong>
  <%= @job_order.CB_5 %>
</p>

<p>
  <strong>Cb 6 label:</strong>
  <%= @job_order.CB_6_LABEL %>
</p>

<p>
  <strong>Cb 6:</strong>
  <%= @job_order.CB_6 %>
</p>

<p>
  <strong>Cb 7 label:</strong>
  <%= @job_order.CB_7_LABEL %>
</p>

<p>
  <strong>Cb 7:</strong>
  <%= @job_order.CB_7 %>
</p>

<p>
  <strong>Cb 8 label:</strong>
  <%= @job_order.CB_8_LABEL %>
</p>

<p>
  <strong>Cb 8:</strong>
  <%= @job_order.CB_8 %>
</p>

<p>
  <strong>Cb rev:</strong>
  <%= @job_order.CB_REV %>
</p>

<p>
  <strong>Cb 9 label:</strong>
  <%= @job_order.CB_9_LABEL %>
</p>

<p>
  <strong>Cb 9:</strong>
  <%= @job_order.CB_9 %>
</p>

<p>
  <strong>Cb 10 label:</strong>
  <%= @job_order.CB_10_LABEL %>
</p>

<p>
  <strong>Cb 10:</strong>
  <%= @job_order.CB_10 %>
</p>

<p>
  <strong>Cb 11 label:</strong>
  <%= @job_order.CB_11_LABEL %>
</p>

<p>
  <strong>Cb 11:</strong>
  <%= @job_order.CB_11 %>
</p>

<p>
  <strong>Cb 12 label:</strong>
  <%= @job_order.CB_12_LABEL %>
</p>

<p>
  <strong>Cb 12:</strong>
  <%= @job_order.CB_12 %>
</p>

<p>
  <strong>Cb 13 label:</strong>
  <%= @job_order.CB_13_LABEL %>
</p>

<p>
  <strong>Cb 13:</strong>
  <%= @job_order.CB_13 %>
</p>

<p>
  <strong>Cb 14 label:</strong>
  <%= @job_order.CB_14_LABEL %>
</p>

<p>
  <strong>Cb 14:</strong>
  <%= @job_order.CB_14 %>
</p>

<p>
  <strong>Cb 15 label:</strong>
  <%= @job_order.CB_15_LABEL %>
</p>

<p>
  <strong>Cb 15:</strong>
  <%= @job_order.CB_15 %>
</p>

<p>
  <strong>Cb added by:</strong>
  <%= @job_order.CB_ADDED_BY %>
</p>

<p>
  <strong>Cb rev by:</strong>
  <%= @job_order.CB_REV_BY %>
</p>

<p>
  <strong>Cb rev date:</strong>
  <%= @job_order.CB_REV_DATE %>
</p>

<p>
  <strong>Cb ok:</strong>
  <%= @job_order.CB_OK %>
</p>

<p>
  <strong>Cb ok by:</strong>
  <%= @job_order.CB_OK_BY %>
</p>

<p>
  <strong>Cb ok date:</strong>
  <%= @job_order.CB_OK_DATE %>
</p>

<p>
  <strong>Cb approved:</strong>
  <%= @job_order.CB_APPROVED %>
</p>

<p>
  <strong>Cb approved date:</strong>
  <%= @job_order.CB_APPROVED_DATE %>
</p>

<p>
  <strong>Cb approved by:</strong>
  <%= @job_order.CB_APPROVED_BY %>
</p>

<p>
  <strong>Cb edited by:</strong>
  <%= @job_order.CB_EDITED_BY %>
</p>

<p>
  <strong>Cb edited when:</strong>
  <%= @job_order.CB_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_job_order_path(@job_order) %> |
<%= link_to 'Back', job_orders_path %>
