<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :J_NUM %>
    <%= f.input :J_START_DATE %>
    <%= f.input :J_NAME %>
    <%= f.input :J_CLIENT_NUM %>
    <%= f.input :J_CLOSED %>
    <%= f.input :J_DUE_DATE %>
    <%= f.input :J_USER_FIELD2 %>
    <%= f.input :J_CONT_AMT %>
    <%= f.input :J_REVISION %>
    <%= f.input :J_USER_FIELD1 %>
    <%= f.input :J_PROD_STATUS %>
    <%= f.input :J_DESC %>
    <%= f.input :J_WHO %>
    <%= f.input :J_CLIENT_CONTACT %>
    <%= f.input :J_AGENCY_CONTACT %>
    <%= f.input :J_AE_TEAM %>
    <%= f.input :J_TYPE %>
    <%= f.input :J_AMT1 %>
    <%= f.input :J_AMT2 %>
    <%= f.input :J_AMT3 %>
    <%= f.input :J_AMT4 %>
    <%= f.input :J_AMT5 %>
    <%= f.input :J_AMT6 %>
    <%= f.input :J_NEXT_STEPS %>
    <%= f.input :J_DATE_ADDED %>
    <%= f.input :J_PC %>
    <%= f.input :J_CONT_NOTE %>
    <%= f.input :J_BILL_STATUS %>
    <%= f.input :J_MILE1 %>
    <%= f.input :J_MILE2 %>
    <%= f.input :J_MILE3 %>
    <%= f.input :J_MILE4 %>
    <%= f.input :J_MILE5 %>
    <%= f.input :J_MILE6 %>
    <%= f.input :J_MILE7 %>
    <%= f.input :J_MILE8 %>
    <%= f.input :J_MILE9 %>
    <%= f.input :J_MILE10 %>
    <%= f.input :J_MILE11 %>
    <%= f.input :J_MILE12 %>
    <%= f.input :J_HISTORY_COUNT %>
    <%= f.input :J_CONTINGENCY %>
    <%= f.input :J_CONT_PC %>
    <%= f.input :J_EST_FORM %>
    <%= f.input :J_APPROVAL1 %>
    <%= f.input :J_APPROVAL2 %>
    <%= f.input :J_APPROVAL3 %>
    <%= f.input :J_SHOW_ZERO_AS %>
    <%= f.input :J_HEADING %>
    <%= f.input :J_SHOW_HOURS %>
    <%= f.input :J_SHOW_DATES %>
    <%= f.input :J_SHOW_TOTALS %>
    <%= f.input :J_DISCLAIMER %>
    <%= f.input :J_EST_CUSTOM %>
    <%= f.input :J_EST_COLUMN1 %>
    <%= f.input :J_EST_COLUMN2 %>
    <%= f.input :J_EST_COLUMN3 %>
    <%= f.input :J_FINAL_EST %>
    <%= f.input :J_TO1 %>
    <%= f.input :J_TO2 %>
    <%= f.input :J_TO3 %>
    <%= f.input :J_TO4 %>
    <%= f.input :J_TO5 %>
    <%= f.input :J_AE_TITLE %>
    <%= f.input :J_ADV_BILLED %>
    <%= f.input :J_EST_TO_GO %>
    <%= f.input :J_HOURS_TO_GO %>
    <%= f.input :J_SNAP_UPDATED %>
    <%= f.input :J_COSTS_TO_GO %>
    <%= f.input :J_NEXT_BILL_AMT %>
    <%= f.input :J_NEXT_BILL_DATE %>
    <%= f.input :J_HIDE_EST_TASKS %>
    <%= f.input :J_CLIENT_BILLED %>
    <%= f.input :J_CLIENT_PAID %>
    <%= f.input :J_UNBILLABLE %>
    <%= f.input :J_CLIENT_PHONE %>
    <%= f.input :J_CLIENT_TITLE %>
    <%= f.input :J_AE_PHONE %>
    <%= f.input :J_FIELD1_LABEL %>
    <%= f.input :J_FIELD2_LABEL %>
    <%= f.input :J_FIELD3_LABEL %>
    <%= f.input :J_USER_FIELD3 %>
    <%= f.input :J_CHARGE_NUM %>
    <%= f.input :J_FIELD4_LABEL %>
    <%= f.input :J_FIELD5_LABEL %>
    <%= f.input :J_FIELD6_LABEL %>
    <%= f.input :J_USER_FIELD4 %>
    <%= f.input :J_USER_FIELD5 %>
    <%= f.input :J_USER_FIELD6 %>
    <%= f.input :J_LAST_BILLED %>
    <%= f.input :J_DATE_CLOSED %>
    <%= f.input :J_DATE3 %>
    <%= f.input :J_STATUS_NOTE %>
    <%= f.input :J_RATE_KIND %>
    <%= f.input :J_WORK_ORDER %>
    <%= f.input :J_TRAF1 %>
    <%= f.input :J_TRAF2 %>
    <%= f.input :J_TRAF3 %>
    <%= f.input :J_TRAF4 %>
    <%= f.input :J_TRAF5 %>
    <%= f.input :J_TRAF6 %>
    <%= f.input :J_ADDRESS1 %>
    <%= f.input :J_ADDRESS2 %>
    <%= f.input :J_ADDRESS3 %>
    <%= f.input :J_ADDRESS4 %>
    <%= f.input :J_ADDRESS5 %>
    <%= f.input :J_ADDRESS6 %>
    <%= f.input :J_BUDGET %>
    <%= f.input :J_SHIP_TO1 %>
    <%= f.input :J_SHIP_TO2 %>
    <%= f.input :J_SHIP_TO3 %>
    <%= f.input :J_SHIP_TO4 %>
    <%= f.input :J_ARCHIVED_ON %>
    <%= f.input :J_BILL_TO %>
    <%= f.input :J_EST_OK %>
    <%= f.input :J_EST_OK_BY %>
    <%= f.input :J_EST_OK_WHEN %>
    <%= f.input :J_EXPORTED %>
    <%= f.input :J_CLOSED_BY %>
    <%= f.input :J_PRIORITY %>
    <%= f.input :J_ALL_REVS %>
    <%= f.input :J_SCHED_REVS %>
    <%= f.input :J_ALL_SCH_REVS %>
    <%= f.input :J_COMMISSIONABLE %>
    <%= f.input :J_BIZDEV_AE %>
    <%= f.input :J_SCHED_OK %>
    <%= f.input :J_SCHED_OK_BY %>
    <%= f.input :J_SCHED_OK_WHEN %>
    <%= f.input :J_EDITED_BY %>
    <%= f.input :J_EDITED_WHEN %>
    <%= f.input :J_ADR_NAME %>
    <%= f.input :J_PROJECT %>
    <%= f.input :J_TAGS %>
    <%= f.input :J_DISCUSSION_MEMBERS %>
    <%= f.input :J_CHECKLIST1 %>
    <%= f.input :J_CHECKLIST2 %>
    <%= f.input :J_CHECKLIST3 %>
    <%= f.input :J_CHECKLIST4 %>
    <%= f.input :J_CHECKLIST5 %>
    <%= f.input :J_CHECKLIST6 %>
    <%= f.input :J_CHECKLIST7 %>
    <%= f.input :J_CHECKLIST8 %>
    <%= f.input :J_USER_DATE1 %>
    <%= f.input :J_USER_DATE2 %>
    <%= f.input :J_HILITE %>
    <%= f.input :J_PO %>
    <%= f.input :J_FINISHED %>
    <%= f.input :J_FINISHED_DATE %>
    <%= f.input :J_FAST_SCORE_F %>
    <%= f.input :J_FAST_SCORE_A %>
    <%= f.input :J_FAST_SCORE_S %>
    <%= f.input :J_FAST_SCORE_T %>
    <%= f.input :J_FORECAST_JAN %>
    <%= f.input :J_FORECAST_FEB %>
    <%= f.input :J_FORECAST_MAR %>
    <%= f.input :J_FORECAST_APR %>
    <%= f.input :J_FORECAST_MAY %>
    <%= f.input :J_FORECAST_JUN %>
    <%= f.input :J_FORECAST_JUL %>
    <%= f.input :J_FORECAST_AUG %>
    <%= f.input :J_FORECAST_SEP %>
    <%= f.input :J_FORECAST_OCT %>
    <%= f.input :J_FORECAST_NOV %>
    <%= f.input :J_FORECAST_DEC %>
    <%= f.input :J_ADDED_HOW %>
    <%= f.input :J_OPTION1 %>
    <%= f.input :J_OPTION2 %>
    <%= f.input :J_OPTION3 %>
    <%= f.input :J_OPTION4 %>
    <%= f.input :J_OPTION5 %>
    <%= f.input :J_OPTION6 %>
    <%= f.input :J_OPTION7 %>
    <%= f.input :J_OPTION8 %>
    <%= f.input :J_BILLING_STEP1 %>
    <%= f.input :J_BILLING_STEP2 %>
    <%= f.input :J_BILLING_STEP3 %>
    <%= f.input :J_BILLING_STEP4 %>
    <%= f.input :J_BILLING_STEP5 %>
    <%= f.input :J_BILLING_STEP6 %>
    <%= f.input :J_BILLING_STEP7 %>
    <%= f.input :J_BILLING_STEP8 %>
    <%= f.input :J_CLIENT_RATING %>
    <%= f.input :J_EST_OK_CLIENT %>
    <%= f.input :J_EST_OK_CLIENT_BY %>
    <%= f.input :J_EST_OK_CLIENT_WHEN %>
    <%= f.input :J_SCHED_OK_CLIENT %>
    <%= f.input :J_SCHED_OK_CLIENT_BY %>
    <%= f.input :J_SCHED_OK_CLIENT_WHEN %>
    <%= f.input :J_AD_ID %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
