<h1>Listing jobs</h1>

<table>
  <thead>
    <tr>
      <th>Primarykey</th>
      <th>J num</th>
      <th>J start date</th>
      <th>J name</th>
      <th>J client num</th>
      <th>J closed</th>
      <th>J due date</th>
      <th>J user field2</th>
      <th>J cont amt</th>
      <th>J revision</th>
      <th>J user field1</th>
      <th>J prod status</th>
      <th>J desc</th>
      <th>J who</th>
      <th>J client contact</th>
      <th>J agency contact</th>
      <th>J ae team</th>
      <th>J type</th>
      <th>J amt1</th>
      <th>J amt2</th>
      <th>J amt3</th>
      <th>J amt4</th>
      <th>J amt5</th>
      <th>J amt6</th>
      <th>J next steps</th>
      <th>J date added</th>
      <th>J pc</th>
      <th>J cont note</th>
      <th>J bill status</th>
      <th>J mile1</th>
      <th>J mile2</th>
      <th>J mile3</th>
      <th>J mile4</th>
      <th>J mile5</th>
      <th>J mile6</th>
      <th>J mile7</th>
      <th>J mile8</th>
      <th>J mile9</th>
      <th>J mile10</th>
      <th>J mile11</th>
      <th>J mile12</th>
      <th>J history count</th>
      <th>J contingency</th>
      <th>J cont pc</th>
      <th>J est form</th>
      <th>J approval1</th>
      <th>J approval2</th>
      <th>J approval3</th>
      <th>J show zero as</th>
      <th>J heading</th>
      <th>J show hours</th>
      <th>J show dates</th>
      <th>J show totals</th>
      <th>J disclaimer</th>
      <th>J est custom</th>
      <th>J est column1</th>
      <th>J est column2</th>
      <th>J est column3</th>
      <th>J final est</th>
      <th>J to1</th>
      <th>J to2</th>
      <th>J to3</th>
      <th>J to4</th>
      <th>J to5</th>
      <th>J ae title</th>
      <th>J adv billed</th>
      <th>J est to go</th>
      <th>J hours to go</th>
      <th>J snap updated</th>
      <th>J costs to go</th>
      <th>J next bill amt</th>
      <th>J next bill date</th>
      <th>J hide est tasks</th>
      <th>J client billed</th>
      <th>J client paid</th>
      <th>J unbillable</th>
      <th>J client phone</th>
      <th>J client title</th>
      <th>J ae phone</th>
      <th>J field1 label</th>
      <th>J field2 label</th>
      <th>J field3 label</th>
      <th>J user field3</th>
      <th>J charge num</th>
      <th>J field4 label</th>
      <th>J field5 label</th>
      <th>J field6 label</th>
      <th>J user field4</th>
      <th>J user field5</th>
      <th>J user field6</th>
      <th>J last billed</th>
      <th>J date closed</th>
      <th>J date3</th>
      <th>J status note</th>
      <th>J rate kind</th>
      <th>J work order</th>
      <th>J traf1</th>
      <th>J traf2</th>
      <th>J traf3</th>
      <th>J traf4</th>
      <th>J traf5</th>
      <th>J traf6</th>
      <th>J address1</th>
      <th>J address2</th>
      <th>J address3</th>
      <th>J address4</th>
      <th>J address5</th>
      <th>J address6</th>
      <th>J budget</th>
      <th>J ship to1</th>
      <th>J ship to2</th>
      <th>J ship to3</th>
      <th>J ship to4</th>
      <th>J archived on</th>
      <th>J bill to</th>
      <th>J est ok</th>
      <th>J est ok by</th>
      <th>J est ok when</th>
      <th>J exported</th>
      <th>J closed by</th>
      <th>J priority</th>
      <th>J all revs</th>
      <th>J sched revs</th>
      <th>J all sch revs</th>
      <th>J commissionable</th>
      <th>J bizdev ae</th>
      <th>J sched ok</th>
      <th>J sched ok by</th>
      <th>J sched ok when</th>
      <th>J edited by</th>
      <th>J edited when</th>
      <th>J adr name</th>
      <th>J project</th>
      <th>J tags</th>
      <th>J discussion members</th>
      <th>J checklist1</th>
      <th>J checklist2</th>
      <th>J checklist3</th>
      <th>J checklist4</th>
      <th>J checklist5</th>
      <th>J checklist6</th>
      <th>J checklist7</th>
      <th>J checklist8</th>
      <th>J user date1</th>
      <th>J user date2</th>
      <th>J hilite</th>
      <th>J po</th>
      <th>J finished</th>
      <th>J finished date</th>
      <th>J fast score f</th>
      <th>J fast score a</th>
      <th>J fast score s</th>
      <th>J fast score t</th>
      <th>J forecast jan</th>
      <th>J forecast feb</th>
      <th>J forecast mar</th>
      <th>J forecast apr</th>
      <th>J forecast may</th>
      <th>J forecast jun</th>
      <th>J forecast jul</th>
      <th>J forecast aug</th>
      <th>J forecast sep</th>
      <th>J forecast oct</th>
      <th>J forecast nov</th>
      <th>J forecast dec</th>
      <th>J added how</th>
      <th>J option1</th>
      <th>J option2</th>
      <th>J option3</th>
      <th>J option4</th>
      <th>J option5</th>
      <th>J option6</th>
      <th>J option7</th>
      <th>J option8</th>
      <th>J billing step1</th>
      <th>J billing step2</th>
      <th>J billing step3</th>
      <th>J billing step4</th>
      <th>J billing step5</th>
      <th>J billing step6</th>
      <th>J billing step7</th>
      <th>J billing step8</th>
      <th>J client rating</th>
      <th>J est ok client</th>
      <th>J est ok client by</th>
      <th>J est ok client when</th>
      <th>J sched ok client</th>
      <th>J sched ok client by</th>
      <th>J sched ok client when</th>
      <th>J ad id</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.primaryKey %></td>
        <td><%= job.J_NUM %></td>
        <td><%= job.J_START_DATE %></td>
        <td><%= job.J_NAME %></td>
        <td><%= job.J_CLIENT_NUM %></td>
        <td><%= job.J_CLOSED %></td>
        <td><%= job.J_DUE_DATE %></td>
        <td><%= job.J_USER_FIELD2 %></td>
        <td><%= job.J_CONT_AMT %></td>
        <td><%= job.J_REVISION %></td>
        <td><%= job.J_USER_FIELD1 %></td>
        <td><%= job.J_PROD_STATUS %></td>
        <td><%= job.J_DESC %></td>
        <td><%= job.J_WHO %></td>
        <td><%= job.J_CLIENT_CONTACT %></td>
        <td><%= job.J_AGENCY_CONTACT %></td>
        <td><%= job.J_AE_TEAM %></td>
        <td><%= job.J_TYPE %></td>
        <td><%= job.J_AMT1 %></td>
        <td><%= job.J_AMT2 %></td>
        <td><%= job.J_AMT3 %></td>
        <td><%= job.J_AMT4 %></td>
        <td><%= job.J_AMT5 %></td>
        <td><%= job.J_AMT6 %></td>
        <td><%= job.J_NEXT_STEPS %></td>
        <td><%= job.J_DATE_ADDED %></td>
        <td><%= job.J_PC %></td>
        <td><%= job.J_CONT_NOTE %></td>
        <td><%= job.J_BILL_STATUS %></td>
        <td><%= job.J_MILE1 %></td>
        <td><%= job.J_MILE2 %></td>
        <td><%= job.J_MILE3 %></td>
        <td><%= job.J_MILE4 %></td>
        <td><%= job.J_MILE5 %></td>
        <td><%= job.J_MILE6 %></td>
        <td><%= job.J_MILE7 %></td>
        <td><%= job.J_MILE8 %></td>
        <td><%= job.J_MILE9 %></td>
        <td><%= job.J_MILE10 %></td>
        <td><%= job.J_MILE11 %></td>
        <td><%= job.J_MILE12 %></td>
        <td><%= job.J_HISTORY_COUNT %></td>
        <td><%= job.J_CONTINGENCY %></td>
        <td><%= job.J_CONT_PC %></td>
        <td><%= job.J_EST_FORM %></td>
        <td><%= job.J_APPROVAL1 %></td>
        <td><%= job.J_APPROVAL2 %></td>
        <td><%= job.J_APPROVAL3 %></td>
        <td><%= job.J_SHOW_ZERO_AS %></td>
        <td><%= job.J_HEADING %></td>
        <td><%= job.J_SHOW_HOURS %></td>
        <td><%= job.J_SHOW_DATES %></td>
        <td><%= job.J_SHOW_TOTALS %></td>
        <td><%= job.J_DISCLAIMER %></td>
        <td><%= job.J_EST_CUSTOM %></td>
        <td><%= job.J_EST_COLUMN1 %></td>
        <td><%= job.J_EST_COLUMN2 %></td>
        <td><%= job.J_EST_COLUMN3 %></td>
        <td><%= job.J_FINAL_EST %></td>
        <td><%= job.J_TO1 %></td>
        <td><%= job.J_TO2 %></td>
        <td><%= job.J_TO3 %></td>
        <td><%= job.J_TO4 %></td>
        <td><%= job.J_TO5 %></td>
        <td><%= job.J_AE_TITLE %></td>
        <td><%= job.J_ADV_BILLED %></td>
        <td><%= job.J_EST_TO_GO %></td>
        <td><%= job.J_HOURS_TO_GO %></td>
        <td><%= job.J_SNAP_UPDATED %></td>
        <td><%= job.J_COSTS_TO_GO %></td>
        <td><%= job.J_NEXT_BILL_AMT %></td>
        <td><%= job.J_NEXT_BILL_DATE %></td>
        <td><%= job.J_HIDE_EST_TASKS %></td>
        <td><%= job.J_CLIENT_BILLED %></td>
        <td><%= job.J_CLIENT_PAID %></td>
        <td><%= job.J_UNBILLABLE %></td>
        <td><%= job.J_CLIENT_PHONE %></td>
        <td><%= job.J_CLIENT_TITLE %></td>
        <td><%= job.J_AE_PHONE %></td>
        <td><%= job.J_FIELD1_LABEL %></td>
        <td><%= job.J_FIELD2_LABEL %></td>
        <td><%= job.J_FIELD3_LABEL %></td>
        <td><%= job.J_USER_FIELD3 %></td>
        <td><%= job.J_CHARGE_NUM %></td>
        <td><%= job.J_FIELD4_LABEL %></td>
        <td><%= job.J_FIELD5_LABEL %></td>
        <td><%= job.J_FIELD6_LABEL %></td>
        <td><%= job.J_USER_FIELD4 %></td>
        <td><%= job.J_USER_FIELD5 %></td>
        <td><%= job.J_USER_FIELD6 %></td>
        <td><%= job.J_LAST_BILLED %></td>
        <td><%= job.J_DATE_CLOSED %></td>
        <td><%= job.J_DATE3 %></td>
        <td><%= job.J_STATUS_NOTE %></td>
        <td><%= job.J_RATE_KIND %></td>
        <td><%= job.J_WORK_ORDER %></td>
        <td><%= job.J_TRAF1 %></td>
        <td><%= job.J_TRAF2 %></td>
        <td><%= job.J_TRAF3 %></td>
        <td><%= job.J_TRAF4 %></td>
        <td><%= job.J_TRAF5 %></td>
        <td><%= job.J_TRAF6 %></td>
        <td><%= job.J_ADDRESS1 %></td>
        <td><%= job.J_ADDRESS2 %></td>
        <td><%= job.J_ADDRESS3 %></td>
        <td><%= job.J_ADDRESS4 %></td>
        <td><%= job.J_ADDRESS5 %></td>
        <td><%= job.J_ADDRESS6 %></td>
        <td><%= job.J_BUDGET %></td>
        <td><%= job.J_SHIP_TO1 %></td>
        <td><%= job.J_SHIP_TO2 %></td>
        <td><%= job.J_SHIP_TO3 %></td>
        <td><%= job.J_SHIP_TO4 %></td>
        <td><%= job.J_ARCHIVED_ON %></td>
        <td><%= job.J_BILL_TO %></td>
        <td><%= job.J_EST_OK %></td>
        <td><%= job.J_EST_OK_BY %></td>
        <td><%= job.J_EST_OK_WHEN %></td>
        <td><%= job.J_EXPORTED %></td>
        <td><%= job.J_CLOSED_BY %></td>
        <td><%= job.J_PRIORITY %></td>
        <td><%= job.J_ALL_REVS %></td>
        <td><%= job.J_SCHED_REVS %></td>
        <td><%= job.J_ALL_SCH_REVS %></td>
        <td><%= job.J_COMMISSIONABLE %></td>
        <td><%= job.J_BIZDEV_AE %></td>
        <td><%= job.J_SCHED_OK %></td>
        <td><%= job.J_SCHED_OK_BY %></td>
        <td><%= job.J_SCHED_OK_WHEN %></td>
        <td><%= job.J_EDITED_BY %></td>
        <td><%= job.J_EDITED_WHEN %></td>
        <td><%= job.J_ADR_NAME %></td>
        <td><%= job.J_PROJECT %></td>
        <td><%= job.J_TAGS %></td>
        <td><%= job.J_DISCUSSION_MEMBERS %></td>
        <td><%= job.J_CHECKLIST1 %></td>
        <td><%= job.J_CHECKLIST2 %></td>
        <td><%= job.J_CHECKLIST3 %></td>
        <td><%= job.J_CHECKLIST4 %></td>
        <td><%= job.J_CHECKLIST5 %></td>
        <td><%= job.J_CHECKLIST6 %></td>
        <td><%= job.J_CHECKLIST7 %></td>
        <td><%= job.J_CHECKLIST8 %></td>
        <td><%= job.J_USER_DATE1 %></td>
        <td><%= job.J_USER_DATE2 %></td>
        <td><%= job.J_HILITE %></td>
        <td><%= job.J_PO %></td>
        <td><%= job.J_FINISHED %></td>
        <td><%= job.J_FINISHED_DATE %></td>
        <td><%= job.J_FAST_SCORE_F %></td>
        <td><%= job.J_FAST_SCORE_A %></td>
        <td><%= job.J_FAST_SCORE_S %></td>
        <td><%= job.J_FAST_SCORE_T %></td>
        <td><%= job.J_FORECAST_JAN %></td>
        <td><%= job.J_FORECAST_FEB %></td>
        <td><%= job.J_FORECAST_MAR %></td>
        <td><%= job.J_FORECAST_APR %></td>
        <td><%= job.J_FORECAST_MAY %></td>
        <td><%= job.J_FORECAST_JUN %></td>
        <td><%= job.J_FORECAST_JUL %></td>
        <td><%= job.J_FORECAST_AUG %></td>
        <td><%= job.J_FORECAST_SEP %></td>
        <td><%= job.J_FORECAST_OCT %></td>
        <td><%= job.J_FORECAST_NOV %></td>
        <td><%= job.J_FORECAST_DEC %></td>
        <td><%= job.J_ADDED_HOW %></td>
        <td><%= job.J_OPTION1 %></td>
        <td><%= job.J_OPTION2 %></td>
        <td><%= job.J_OPTION3 %></td>
        <td><%= job.J_OPTION4 %></td>
        <td><%= job.J_OPTION5 %></td>
        <td><%= job.J_OPTION6 %></td>
        <td><%= job.J_OPTION7 %></td>
        <td><%= job.J_OPTION8 %></td>
        <td><%= job.J_BILLING_STEP1 %></td>
        <td><%= job.J_BILLING_STEP2 %></td>
        <td><%= job.J_BILLING_STEP3 %></td>
        <td><%= job.J_BILLING_STEP4 %></td>
        <td><%= job.J_BILLING_STEP5 %></td>
        <td><%= job.J_BILLING_STEP6 %></td>
        <td><%= job.J_BILLING_STEP7 %></td>
        <td><%= job.J_BILLING_STEP8 %></td>
        <td><%= job.J_CLIENT_RATING %></td>
        <td><%= job.J_EST_OK_CLIENT %></td>
        <td><%= job.J_EST_OK_CLIENT_BY %></td>
        <td><%= job.J_EST_OK_CLIENT_WHEN %></td>
        <td><%= job.J_SCHED_OK_CLIENT %></td>
        <td><%= job.J_SCHED_OK_CLIENT_BY %></td>
        <td><%= job.J_SCHED_OK_CLIENT_WHEN %></td>
        <td><%= job.J_AD_ID %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
