<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @job.primaryKey %>
</p>

<p>
  <strong>J num:</strong>
  <%= @job.J_NUM %>
</p>

<p>
  <strong>J start date:</strong>
  <%= @job.J_START_DATE %>
</p>

<p>
  <strong>J name:</strong>
  <%= @job.J_NAME %>
</p>

<p>
  <strong>J client num:</strong>
  <%= @job.J_CLIENT_NUM %>
</p>

<p>
  <strong>J closed:</strong>
  <%= @job.J_CLOSED %>
</p>

<p>
  <strong>J due date:</strong>
  <%= @job.J_DUE_DATE %>
</p>

<p>
  <strong>J user field2:</strong>
  <%= @job.J_USER_FIELD2 %>
</p>

<p>
  <strong>J cont amt:</strong>
  <%= @job.J_CONT_AMT %>
</p>

<p>
  <strong>J revision:</strong>
  <%= @job.J_REVISION %>
</p>

<p>
  <strong>J user field1:</strong>
  <%= @job.J_USER_FIELD1 %>
</p>

<p>
  <strong>J prod status:</strong>
  <%= @job.J_PROD_STATUS %>
</p>

<p>
  <strong>J desc:</strong>
  <%= @job.J_DESC %>
</p>

<p>
  <strong>J who:</strong>
  <%= @job.J_WHO %>
</p>

<p>
  <strong>J client contact:</strong>
  <%= @job.J_CLIENT_CONTACT %>
</p>

<p>
  <strong>J agency contact:</strong>
  <%= @job.J_AGENCY_CONTACT %>
</p>

<p>
  <strong>J ae team:</strong>
  <%= @job.J_AE_TEAM %>
</p>

<p>
  <strong>J type:</strong>
  <%= @job.J_TYPE %>
</p>

<p>
  <strong>J amt1:</strong>
  <%= @job.J_AMT1 %>
</p>

<p>
  <strong>J amt2:</strong>
  <%= @job.J_AMT2 %>
</p>

<p>
  <strong>J amt3:</strong>
  <%= @job.J_AMT3 %>
</p>

<p>
  <strong>J amt4:</strong>
  <%= @job.J_AMT4 %>
</p>

<p>
  <strong>J amt5:</strong>
  <%= @job.J_AMT5 %>
</p>

<p>
  <strong>J amt6:</strong>
  <%= @job.J_AMT6 %>
</p>

<p>
  <strong>J next steps:</strong>
  <%= @job.J_NEXT_STEPS %>
</p>

<p>
  <strong>J date added:</strong>
  <%= @job.J_DATE_ADDED %>
</p>

<p>
  <strong>J pc:</strong>
  <%= @job.J_PC %>
</p>

<p>
  <strong>J cont note:</strong>
  <%= @job.J_CONT_NOTE %>
</p>

<p>
  <strong>J bill status:</strong>
  <%= @job.J_BILL_STATUS %>
</p>

<p>
  <strong>J mile1:</strong>
  <%= @job.J_MILE1 %>
</p>

<p>
  <strong>J mile2:</strong>
  <%= @job.J_MILE2 %>
</p>

<p>
  <strong>J mile3:</strong>
  <%= @job.J_MILE3 %>
</p>

<p>
  <strong>J mile4:</strong>
  <%= @job.J_MILE4 %>
</p>

<p>
  <strong>J mile5:</strong>
  <%= @job.J_MILE5 %>
</p>

<p>
  <strong>J mile6:</strong>
  <%= @job.J_MILE6 %>
</p>

<p>
  <strong>J mile7:</strong>
  <%= @job.J_MILE7 %>
</p>

<p>
  <strong>J mile8:</strong>
  <%= @job.J_MILE8 %>
</p>

<p>
  <strong>J mile9:</strong>
  <%= @job.J_MILE9 %>
</p>

<p>
  <strong>J mile10:</strong>
  <%= @job.J_MILE10 %>
</p>

<p>
  <strong>J mile11:</strong>
  <%= @job.J_MILE11 %>
</p>

<p>
  <strong>J mile12:</strong>
  <%= @job.J_MILE12 %>
</p>

<p>
  <strong>J history count:</strong>
  <%= @job.J_HISTORY_COUNT %>
</p>

<p>
  <strong>J contingency:</strong>
  <%= @job.J_CONTINGENCY %>
</p>

<p>
  <strong>J cont pc:</strong>
  <%= @job.J_CONT_PC %>
</p>

<p>
  <strong>J est form:</strong>
  <%= @job.J_EST_FORM %>
</p>

<p>
  <strong>J approval1:</strong>
  <%= @job.J_APPROVAL1 %>
</p>

<p>
  <strong>J approval2:</strong>
  <%= @job.J_APPROVAL2 %>
</p>

<p>
  <strong>J approval3:</strong>
  <%= @job.J_APPROVAL3 %>
</p>

<p>
  <strong>J show zero as:</strong>
  <%= @job.J_SHOW_ZERO_AS %>
</p>

<p>
  <strong>J heading:</strong>
  <%= @job.J_HEADING %>
</p>

<p>
  <strong>J show hours:</strong>
  <%= @job.J_SHOW_HOURS %>
</p>

<p>
  <strong>J show dates:</strong>
  <%= @job.J_SHOW_DATES %>
</p>

<p>
  <strong>J show totals:</strong>
  <%= @job.J_SHOW_TOTALS %>
</p>

<p>
  <strong>J disclaimer:</strong>
  <%= @job.J_DISCLAIMER %>
</p>

<p>
  <strong>J est custom:</strong>
  <%= @job.J_EST_CUSTOM %>
</p>

<p>
  <strong>J est column1:</strong>
  <%= @job.J_EST_COLUMN1 %>
</p>

<p>
  <strong>J est column2:</strong>
  <%= @job.J_EST_COLUMN2 %>
</p>

<p>
  <strong>J est column3:</strong>
  <%= @job.J_EST_COLUMN3 %>
</p>

<p>
  <strong>J final est:</strong>
  <%= @job.J_FINAL_EST %>
</p>

<p>
  <strong>J to1:</strong>
  <%= @job.J_TO1 %>
</p>

<p>
  <strong>J to2:</strong>
  <%= @job.J_TO2 %>
</p>

<p>
  <strong>J to3:</strong>
  <%= @job.J_TO3 %>
</p>

<p>
  <strong>J to4:</strong>
  <%= @job.J_TO4 %>
</p>

<p>
  <strong>J to5:</strong>
  <%= @job.J_TO5 %>
</p>

<p>
  <strong>J ae title:</strong>
  <%= @job.J_AE_TITLE %>
</p>

<p>
  <strong>J adv billed:</strong>
  <%= @job.J_ADV_BILLED %>
</p>

<p>
  <strong>J est to go:</strong>
  <%= @job.J_EST_TO_GO %>
</p>

<p>
  <strong>J hours to go:</strong>
  <%= @job.J_HOURS_TO_GO %>
</p>

<p>
  <strong>J snap updated:</strong>
  <%= @job.J_SNAP_UPDATED %>
</p>

<p>
  <strong>J costs to go:</strong>
  <%= @job.J_COSTS_TO_GO %>
</p>

<p>
  <strong>J next bill amt:</strong>
  <%= @job.J_NEXT_BILL_AMT %>
</p>

<p>
  <strong>J next bill date:</strong>
  <%= @job.J_NEXT_BILL_DATE %>
</p>

<p>
  <strong>J hide est tasks:</strong>
  <%= @job.J_HIDE_EST_TASKS %>
</p>

<p>
  <strong>J client billed:</strong>
  <%= @job.J_CLIENT_BILLED %>
</p>

<p>
  <strong>J client paid:</strong>
  <%= @job.J_CLIENT_PAID %>
</p>

<p>
  <strong>J unbillable:</strong>
  <%= @job.J_UNBILLABLE %>
</p>

<p>
  <strong>J client phone:</strong>
  <%= @job.J_CLIENT_PHONE %>
</p>

<p>
  <strong>J client title:</strong>
  <%= @job.J_CLIENT_TITLE %>
</p>

<p>
  <strong>J ae phone:</strong>
  <%= @job.J_AE_PHONE %>
</p>

<p>
  <strong>J field1 label:</strong>
  <%= @job.J_FIELD1_LABEL %>
</p>

<p>
  <strong>J field2 label:</strong>
  <%= @job.J_FIELD2_LABEL %>
</p>

<p>
  <strong>J field3 label:</strong>
  <%= @job.J_FIELD3_LABEL %>
</p>

<p>
  <strong>J user field3:</strong>
  <%= @job.J_USER_FIELD3 %>
</p>

<p>
  <strong>J charge num:</strong>
  <%= @job.J_CHARGE_NUM %>
</p>

<p>
  <strong>J field4 label:</strong>
  <%= @job.J_FIELD4_LABEL %>
</p>

<p>
  <strong>J field5 label:</strong>
  <%= @job.J_FIELD5_LABEL %>
</p>

<p>
  <strong>J field6 label:</strong>
  <%= @job.J_FIELD6_LABEL %>
</p>

<p>
  <strong>J user field4:</strong>
  <%= @job.J_USER_FIELD4 %>
</p>

<p>
  <strong>J user field5:</strong>
  <%= @job.J_USER_FIELD5 %>
</p>

<p>
  <strong>J user field6:</strong>
  <%= @job.J_USER_FIELD6 %>
</p>

<p>
  <strong>J last billed:</strong>
  <%= @job.J_LAST_BILLED %>
</p>

<p>
  <strong>J date closed:</strong>
  <%= @job.J_DATE_CLOSED %>
</p>

<p>
  <strong>J date3:</strong>
  <%= @job.J_DATE3 %>
</p>

<p>
  <strong>J status note:</strong>
  <%= @job.J_STATUS_NOTE %>
</p>

<p>
  <strong>J rate kind:</strong>
  <%= @job.J_RATE_KIND %>
</p>

<p>
  <strong>J work order:</strong>
  <%= @job.J_WORK_ORDER %>
</p>

<p>
  <strong>J traf1:</strong>
  <%= @job.J_TRAF1 %>
</p>

<p>
  <strong>J traf2:</strong>
  <%= @job.J_TRAF2 %>
</p>

<p>
  <strong>J traf3:</strong>
  <%= @job.J_TRAF3 %>
</p>

<p>
  <strong>J traf4:</strong>
  <%= @job.J_TRAF4 %>
</p>

<p>
  <strong>J traf5:</strong>
  <%= @job.J_TRAF5 %>
</p>

<p>
  <strong>J traf6:</strong>
  <%= @job.J_TRAF6 %>
</p>

<p>
  <strong>J address1:</strong>
  <%= @job.J_ADDRESS1 %>
</p>

<p>
  <strong>J address2:</strong>
  <%= @job.J_ADDRESS2 %>
</p>

<p>
  <strong>J address3:</strong>
  <%= @job.J_ADDRESS3 %>
</p>

<p>
  <strong>J address4:</strong>
  <%= @job.J_ADDRESS4 %>
</p>

<p>
  <strong>J address5:</strong>
  <%= @job.J_ADDRESS5 %>
</p>

<p>
  <strong>J address6:</strong>
  <%= @job.J_ADDRESS6 %>
</p>

<p>
  <strong>J budget:</strong>
  <%= @job.J_BUDGET %>
</p>

<p>
  <strong>J ship to1:</strong>
  <%= @job.J_SHIP_TO1 %>
</p>

<p>
  <strong>J ship to2:</strong>
  <%= @job.J_SHIP_TO2 %>
</p>

<p>
  <strong>J ship to3:</strong>
  <%= @job.J_SHIP_TO3 %>
</p>

<p>
  <strong>J ship to4:</strong>
  <%= @job.J_SHIP_TO4 %>
</p>

<p>
  <strong>J archived on:</strong>
  <%= @job.J_ARCHIVED_ON %>
</p>

<p>
  <strong>J bill to:</strong>
  <%= @job.J_BILL_TO %>
</p>

<p>
  <strong>J est ok:</strong>
  <%= @job.J_EST_OK %>
</p>

<p>
  <strong>J est ok by:</strong>
  <%= @job.J_EST_OK_BY %>
</p>

<p>
  <strong>J est ok when:</strong>
  <%= @job.J_EST_OK_WHEN %>
</p>

<p>
  <strong>J exported:</strong>
  <%= @job.J_EXPORTED %>
</p>

<p>
  <strong>J closed by:</strong>
  <%= @job.J_CLOSED_BY %>
</p>

<p>
  <strong>J priority:</strong>
  <%= @job.J_PRIORITY %>
</p>

<p>
  <strong>J all revs:</strong>
  <%= @job.J_ALL_REVS %>
</p>

<p>
  <strong>J sched revs:</strong>
  <%= @job.J_SCHED_REVS %>
</p>

<p>
  <strong>J all sch revs:</strong>
  <%= @job.J_ALL_SCH_REVS %>
</p>

<p>
  <strong>J commissionable:</strong>
  <%= @job.J_COMMISSIONABLE %>
</p>

<p>
  <strong>J bizdev ae:</strong>
  <%= @job.J_BIZDEV_AE %>
</p>

<p>
  <strong>J sched ok:</strong>
  <%= @job.J_SCHED_OK %>
</p>

<p>
  <strong>J sched ok by:</strong>
  <%= @job.J_SCHED_OK_BY %>
</p>

<p>
  <strong>J sched ok when:</strong>
  <%= @job.J_SCHED_OK_WHEN %>
</p>

<p>
  <strong>J edited by:</strong>
  <%= @job.J_EDITED_BY %>
</p>

<p>
  <strong>J edited when:</strong>
  <%= @job.J_EDITED_WHEN %>
</p>

<p>
  <strong>J adr name:</strong>
  <%= @job.J_ADR_NAME %>
</p>

<p>
  <strong>J project:</strong>
  <%= @job.J_PROJECT %>
</p>

<p>
  <strong>J tags:</strong>
  <%= @job.J_TAGS %>
</p>

<p>
  <strong>J discussion members:</strong>
  <%= @job.J_DISCUSSION_MEMBERS %>
</p>

<p>
  <strong>J checklist1:</strong>
  <%= @job.J_CHECKLIST1 %>
</p>

<p>
  <strong>J checklist2:</strong>
  <%= @job.J_CHECKLIST2 %>
</p>

<p>
  <strong>J checklist3:</strong>
  <%= @job.J_CHECKLIST3 %>
</p>

<p>
  <strong>J checklist4:</strong>
  <%= @job.J_CHECKLIST4 %>
</p>

<p>
  <strong>J checklist5:</strong>
  <%= @job.J_CHECKLIST5 %>
</p>

<p>
  <strong>J checklist6:</strong>
  <%= @job.J_CHECKLIST6 %>
</p>

<p>
  <strong>J checklist7:</strong>
  <%= @job.J_CHECKLIST7 %>
</p>

<p>
  <strong>J checklist8:</strong>
  <%= @job.J_CHECKLIST8 %>
</p>

<p>
  <strong>J user date1:</strong>
  <%= @job.J_USER_DATE1 %>
</p>

<p>
  <strong>J user date2:</strong>
  <%= @job.J_USER_DATE2 %>
</p>

<p>
  <strong>J hilite:</strong>
  <%= @job.J_HILITE %>
</p>

<p>
  <strong>J po:</strong>
  <%= @job.J_PO %>
</p>

<p>
  <strong>J finished:</strong>
  <%= @job.J_FINISHED %>
</p>

<p>
  <strong>J finished date:</strong>
  <%= @job.J_FINISHED_DATE %>
</p>

<p>
  <strong>J fast score f:</strong>
  <%= @job.J_FAST_SCORE_F %>
</p>

<p>
  <strong>J fast score a:</strong>
  <%= @job.J_FAST_SCORE_A %>
</p>

<p>
  <strong>J fast score s:</strong>
  <%= @job.J_FAST_SCORE_S %>
</p>

<p>
  <strong>J fast score t:</strong>
  <%= @job.J_FAST_SCORE_T %>
</p>

<p>
  <strong>J forecast jan:</strong>
  <%= @job.J_FORECAST_JAN %>
</p>

<p>
  <strong>J forecast feb:</strong>
  <%= @job.J_FORECAST_FEB %>
</p>

<p>
  <strong>J forecast mar:</strong>
  <%= @job.J_FORECAST_MAR %>
</p>

<p>
  <strong>J forecast apr:</strong>
  <%= @job.J_FORECAST_APR %>
</p>

<p>
  <strong>J forecast may:</strong>
  <%= @job.J_FORECAST_MAY %>
</p>

<p>
  <strong>J forecast jun:</strong>
  <%= @job.J_FORECAST_JUN %>
</p>

<p>
  <strong>J forecast jul:</strong>
  <%= @job.J_FORECAST_JUL %>
</p>

<p>
  <strong>J forecast aug:</strong>
  <%= @job.J_FORECAST_AUG %>
</p>

<p>
  <strong>J forecast sep:</strong>
  <%= @job.J_FORECAST_SEP %>
</p>

<p>
  <strong>J forecast oct:</strong>
  <%= @job.J_FORECAST_OCT %>
</p>

<p>
  <strong>J forecast nov:</strong>
  <%= @job.J_FORECAST_NOV %>
</p>

<p>
  <strong>J forecast dec:</strong>
  <%= @job.J_FORECAST_DEC %>
</p>

<p>
  <strong>J added how:</strong>
  <%= @job.J_ADDED_HOW %>
</p>

<p>
  <strong>J option1:</strong>
  <%= @job.J_OPTION1 %>
</p>

<p>
  <strong>J option2:</strong>
  <%= @job.J_OPTION2 %>
</p>

<p>
  <strong>J option3:</strong>
  <%= @job.J_OPTION3 %>
</p>

<p>
  <strong>J option4:</strong>
  <%= @job.J_OPTION4 %>
</p>

<p>
  <strong>J option5:</strong>
  <%= @job.J_OPTION5 %>
</p>

<p>
  <strong>J option6:</strong>
  <%= @job.J_OPTION6 %>
</p>

<p>
  <strong>J option7:</strong>
  <%= @job.J_OPTION7 %>
</p>

<p>
  <strong>J option8:</strong>
  <%= @job.J_OPTION8 %>
</p>

<p>
  <strong>J billing step1:</strong>
  <%= @job.J_BILLING_STEP1 %>
</p>

<p>
  <strong>J billing step2:</strong>
  <%= @job.J_BILLING_STEP2 %>
</p>

<p>
  <strong>J billing step3:</strong>
  <%= @job.J_BILLING_STEP3 %>
</p>

<p>
  <strong>J billing step4:</strong>
  <%= @job.J_BILLING_STEP4 %>
</p>

<p>
  <strong>J billing step5:</strong>
  <%= @job.J_BILLING_STEP5 %>
</p>

<p>
  <strong>J billing step6:</strong>
  <%= @job.J_BILLING_STEP6 %>
</p>

<p>
  <strong>J billing step7:</strong>
  <%= @job.J_BILLING_STEP7 %>
</p>

<p>
  <strong>J billing step8:</strong>
  <%= @job.J_BILLING_STEP8 %>
</p>

<p>
  <strong>J client rating:</strong>
  <%= @job.J_CLIENT_RATING %>
</p>

<p>
  <strong>J est ok client:</strong>
  <%= @job.J_EST_OK_CLIENT %>
</p>

<p>
  <strong>J est ok client by:</strong>
  <%= @job.J_EST_OK_CLIENT_BY %>
</p>

<p>
  <strong>J est ok client when:</strong>
  <%= @job.J_EST_OK_CLIENT_WHEN %>
</p>

<p>
  <strong>J sched ok client:</strong>
  <%= @job.J_SCHED_OK_CLIENT %>
</p>

<p>
  <strong>J sched ok client by:</strong>
  <%= @job.J_SCHED_OK_CLIENT_BY %>
</p>

<p>
  <strong>J sched ok client when:</strong>
  <%= @job.J_SCHED_OK_CLIENT_WHEN %>
</p>

<p>
  <strong>J ad id:</strong>
  <%= @job.J_AD_ID %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
