<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @program.primaryKey %>
</p>

<p>
  <strong>Pgm code:</strong>
  <%= @program.PGM_CODE %>
</p>

<p>
  <strong>Pgm time pgm:</strong>
  <%= @program.PGM_TIME_PGM %>
</p>

<p>
  <strong>Pgm rating ea:</strong>
  <%= @program.PGM_RATING_EA %>
</p>

<p>
  <strong>Pgm cost ea:</strong>
  <%= @program.PGM_COST_EA %>
</p>

<p>
  <strong>Pgm group:</strong>
  <%= @program.PGM_GROUP %>
</p>

<p>
  <strong>Pgm note:</strong>
  <%= @program.PGM_NOTE %>
</p>

<p>
  <strong>Pgm type:</strong>
  <%= @program.PGM_TYPE %>
</p>

<p>
  <strong>Ad name:</strong>
  <%= @program.AD_NAME %>
</p>

<p>
  <strong>Ad position:</strong>
  <%= @program.AD_POSITION %>
</p>

<p>
  <strong>Ad notes:</strong>
  <%= @program.AD_NOTES %>
</p>

<p>
  <strong>Ad gross amt:</strong>
  <%= @program.AD_GROSS_AMT %>
</p>

<p>
  <strong>Ad comm:</strong>
  <%= @program.AD_COMM %>
</p>

<p>
  <strong>Ad net amt:</strong>
  <%= @program.AD_NET_AMT %>
</p>

<p>
  <strong>Ad extra amt:</strong>
  <%= @program.AD_EXTRA_AMT %>
</p>

<p>
  <strong>Ad bill net:</strong>
  <%= @program.AD_BILL_NET %>
</p>

<p>
  <strong>Ad issue date:</strong>
  <%= @program.AD_ISSUE_DATE %>
</p>

<p>
  <strong>Ad space close:</strong>
  <%= @program.AD_SPACE_CLOSE %>
</p>

<p>
  <strong>Ad mat close:</strong>
  <%= @program.AD_MAT_CLOSE %>
</p>

<p>
  <strong>Pgm key:</strong>
  <%= @program.PGM_KEY %>
</p>

<p>
  <strong>Pgm client num:</strong>
  <%= @program.PGM_CLIENT_NUM %>
</p>

<p>
  <strong>Ad rate basis:</strong>
  <%= @program.AD_RATE_BASIS %>
</p>

<p>
  <strong>Pgm added by:</strong>
  <%= @program.PGM_ADDED_BY %>
</p>

<p>
  <strong>Pgm added when:</strong>
  <%= @program.PGM_ADDED_WHEN %>
</p>

<p>
  <strong>Pgm edited by:</strong>
  <%= @program.PGM_EDITED_BY %>
</p>

<p>
  <strong>Pgm edited when:</strong>
  <%= @program.PGM_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
