<%= simple_form_for(@job_task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :X_JOB_NUM %>
    <%= f.input :X_TASK %>
    <%= f.input :X_DESC %>
    <%= f.input :X_ESTIMATE %>
    <%= f.input :X_BUDGET %>
    <%= f.input :X_HOURS_EST %>
    <%= f.input :X_HOURS_ACT %>
    <%= f.input :X_LABOR %>
    <%= f.input :X_COST %>
    <%= f.input :X_EXPENSES %>
    <%= f.input :X_PO_NET %>
    <%= f.input :X_PO_GROSS %>
    <%= f.input :X_UNBILLED %>
    <%= f.input :X_BILL_RATE %>
    <%= f.input :X_MARKUP %>
    <%= f.input :X_STATUS %>
    <%= f.input :X_NOTE %>
    <%= f.input :X_TAXABLE1 %>
    <%= f.input :X_TAXABLE2 %>
    <%= f.input :X_FINISHED %>
    <%= f.input :X_DUE_DATE %>
    <%= f.input :X_START_DATE %>
    <%= f.input :X_KIND %>
    <%= f.input :X_RESOURCE %>
    <%= f.input :X_LEAD_TIME %>
    <%= f.input :X_KEY %>
    <%= f.input :X_SORT %>
    <%= f.input :X_GROUP %>
    <%= f.input :X_CGL %>
    <%= f.input :X_DGL %>
    <%= f.input :X_LAST_WORK %>
    <%= f.input :X_SHOW_DESC %>
    <%= f.input :X_PC %>
    <%= f.input :X_NAME %>
    <%= f.input :X_TAX1_RATE %>
    <%= f.input :X_TAX2_RATE %>
    <%= f.input :X_EST1 %>
    <%= f.input :X_EST2 %>
    <%= f.input :X_EST3 %>
    <%= f.input :X_BILLED %>
    <%= f.input :X_ROLL_UP %>
    <%= f.input :X_CHANGE_AMT %>
    <%= f.input :X_CHAR30 %>
    <%= f.input :X_CHAR20 %>
    <%= f.input :X_MEDIA_COMM %>
    <%= f.input :X_CHANGE_HRS %>
    <%= f.input :X_CHANGE_BUDGET %>
    <%= f.input :X_AMT4 %>
    <%= f.input :X_KEY_RESOURCE %>
    <%= f.input :X_GROUP_PROD %>
    <%= f.input :X_CHAR10_2 %>
    <%= f.input :X_CHAR10_3 %>
    <%= f.input :X_SORT_PROD %>
    <%= f.input :X_RATE_KIND %>
    <%= f.input :X_SUB_EST_HRS %>
    <%= f.input :X_SUB_ACT_HRS %>
    <%= f.input :X_NUM2D_5 %>
    <%= f.input :X_NUM2D_6 %>
    <%= f.input :X_NUM2D_7 %>
    <%= f.input :X_HRS_UNBILLED %>
    <%= f.input :X_UNBILLABLE %>
    <%= f.input :X_GROSS_COSTS %>
    <%= f.input :X_GROSS_LABOR %>
    <%= f.input :X_GROSS_EXP %>
    <%= f.input :X_MU_AMT %>
    <%= f.input :X_SPECS %>
    <%= f.input :X_DATE_FINISHED %>
    <%= f.input :X_DUE_WHEN %>
    <%= f.input :X_HOURS_BILLED %>
    <%= f.input :X_EST_HRS1 %>
    <%= f.input :X_EST_HRS2 %>
    <%= f.input :X_EST_HRS3 %>
    <%= f.input :X_COMMISSIONABLE %>
    <%= f.input :X_ADDED_BY %>
    <%= f.input :X_ADDED_WHEN %>
    <%= f.input :X_EDITED_BY %>
    <%= f.input :X_EDITED_WHEN %>
    <%= f.input :X_TAGS %>
    <%= f.input :X_COMPLETED %>
    <%= f.input :X_RELATION %>
    <%= f.input :X_RELATION_TYPE %>
    <%= f.input :X_COLOR %>
    <%= f.input :X_CLIENT_SCHED %>
    <%= f.input :X_PHASE %>
    <%= f.input :X_HOURS_WK1_1 %>
    <%= f.input :X_HOURS_WK1_2 %>
    <%= f.input :X_HOURS_WK1_3 %>
    <%= f.input :X_HOURS_WK1_4 %>
    <%= f.input :X_HOURS_WK1_5 %>
    <%= f.input :X_HOURS_WK2_1 %>
    <%= f.input :X_HOURS_WK2_2 %>
    <%= f.input :X_HOURS_WK2_3 %>
    <%= f.input :X_HOURS_WK2_4 %>
    <%= f.input :X_HOURS_WK2_5 %>
    <%= f.input :X_TAXABLE3 %>
    <%= f.input :X_TAX3_RATE %>
    <%= f.input :X_NEXT_BILL_AMT %>
    <%= f.input :X_NEXT_BILL_HRS %>
    <%= f.input :X_NEXT_BILL_DATE %>
    <%= f.input :X_NO_TIME %>
    <%= f.input :X_MILESTONE %>
    <%= f.input :X_REQ_APPROVAL %>
    <%= f.input :X_REQ_APPROVED_DATE %>
    <%= f.input :X_PRIORITY %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
