<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @job_task.primaryKey %>
</p>

<p>
  <strong>X job num:</strong>
  <%= @job_task.X_JOB_NUM %>
</p>

<p>
  <strong>X task:</strong>
  <%= @job_task.X_TASK %>
</p>

<p>
  <strong>X desc:</strong>
  <%= @job_task.X_DESC %>
</p>

<p>
  <strong>X estimate:</strong>
  <%= @job_task.X_ESTIMATE %>
</p>

<p>
  <strong>X budget:</strong>
  <%= @job_task.X_BUDGET %>
</p>

<p>
  <strong>X hours est:</strong>
  <%= @job_task.X_HOURS_EST %>
</p>

<p>
  <strong>X hours act:</strong>
  <%= @job_task.X_HOURS_ACT %>
</p>

<p>
  <strong>X labor:</strong>
  <%= @job_task.X_LABOR %>
</p>

<p>
  <strong>X cost:</strong>
  <%= @job_task.X_COST %>
</p>

<p>
  <strong>X expenses:</strong>
  <%= @job_task.X_EXPENSES %>
</p>

<p>
  <strong>X po net:</strong>
  <%= @job_task.X_PO_NET %>
</p>

<p>
  <strong>X po gross:</strong>
  <%= @job_task.X_PO_GROSS %>
</p>

<p>
  <strong>X unbilled:</strong>
  <%= @job_task.X_UNBILLED %>
</p>

<p>
  <strong>X bill rate:</strong>
  <%= @job_task.X_BILL_RATE %>
</p>

<p>
  <strong>X markup:</strong>
  <%= @job_task.X_MARKUP %>
</p>

<p>
  <strong>X status:</strong>
  <%= @job_task.X_STATUS %>
</p>

<p>
  <strong>X note:</strong>
  <%= @job_task.X_NOTE %>
</p>

<p>
  <strong>X taxable1:</strong>
  <%= @job_task.X_TAXABLE1 %>
</p>

<p>
  <strong>X taxable2:</strong>
  <%= @job_task.X_TAXABLE2 %>
</p>

<p>
  <strong>X finished:</strong>
  <%= @job_task.X_FINISHED %>
</p>

<p>
  <strong>X due date:</strong>
  <%= @job_task.X_DUE_DATE %>
</p>

<p>
  <strong>X start date:</strong>
  <%= @job_task.X_START_DATE %>
</p>

<p>
  <strong>X kind:</strong>
  <%= @job_task.X_KIND %>
</p>

<p>
  <strong>X resource:</strong>
  <%= @job_task.X_RESOURCE %>
</p>

<p>
  <strong>X lead time:</strong>
  <%= @job_task.X_LEAD_TIME %>
</p>

<p>
  <strong>X key:</strong>
  <%= @job_task.X_KEY %>
</p>

<p>
  <strong>X sort:</strong>
  <%= @job_task.X_SORT %>
</p>

<p>
  <strong>X group:</strong>
  <%= @job_task.X_GROUP %>
</p>

<p>
  <strong>X cgl:</strong>
  <%= @job_task.X_CGL %>
</p>

<p>
  <strong>X dgl:</strong>
  <%= @job_task.X_DGL %>
</p>

<p>
  <strong>X last work:</strong>
  <%= @job_task.X_LAST_WORK %>
</p>

<p>
  <strong>X show desc:</strong>
  <%= @job_task.X_SHOW_DESC %>
</p>

<p>
  <strong>X pc:</strong>
  <%= @job_task.X_PC %>
</p>

<p>
  <strong>X name:</strong>
  <%= @job_task.X_NAME %>
</p>

<p>
  <strong>X tax1 rate:</strong>
  <%= @job_task.X_TAX1_RATE %>
</p>

<p>
  <strong>X tax2 rate:</strong>
  <%= @job_task.X_TAX2_RATE %>
</p>

<p>
  <strong>X est1:</strong>
  <%= @job_task.X_EST1 %>
</p>

<p>
  <strong>X est2:</strong>
  <%= @job_task.X_EST2 %>
</p>

<p>
  <strong>X est3:</strong>
  <%= @job_task.X_EST3 %>
</p>

<p>
  <strong>X billed:</strong>
  <%= @job_task.X_BILLED %>
</p>

<p>
  <strong>X roll up:</strong>
  <%= @job_task.X_ROLL_UP %>
</p>

<p>
  <strong>X change amt:</strong>
  <%= @job_task.X_CHANGE_AMT %>
</p>

<p>
  <strong>X char30:</strong>
  <%= @job_task.X_CHAR30 %>
</p>

<p>
  <strong>X char20:</strong>
  <%= @job_task.X_CHAR20 %>
</p>

<p>
  <strong>X media comm:</strong>
  <%= @job_task.X_MEDIA_COMM %>
</p>

<p>
  <strong>X change hrs:</strong>
  <%= @job_task.X_CHANGE_HRS %>
</p>

<p>
  <strong>X change budget:</strong>
  <%= @job_task.X_CHANGE_BUDGET %>
</p>

<p>
  <strong>X amt4:</strong>
  <%= @job_task.X_AMT4 %>
</p>

<p>
  <strong>X key resource:</strong>
  <%= @job_task.X_KEY_RESOURCE %>
</p>

<p>
  <strong>X group prod:</strong>
  <%= @job_task.X_GROUP_PROD %>
</p>

<p>
  <strong>X char10 2:</strong>
  <%= @job_task.X_CHAR10_2 %>
</p>

<p>
  <strong>X char10 3:</strong>
  <%= @job_task.X_CHAR10_3 %>
</p>

<p>
  <strong>X sort prod:</strong>
  <%= @job_task.X_SORT_PROD %>
</p>

<p>
  <strong>X rate kind:</strong>
  <%= @job_task.X_RATE_KIND %>
</p>

<p>
  <strong>X sub est hrs:</strong>
  <%= @job_task.X_SUB_EST_HRS %>
</p>

<p>
  <strong>X sub act hrs:</strong>
  <%= @job_task.X_SUB_ACT_HRS %>
</p>

<p>
  <strong>X num2d 5:</strong>
  <%= @job_task.X_NUM2D_5 %>
</p>

<p>
  <strong>X num2d 6:</strong>
  <%= @job_task.X_NUM2D_6 %>
</p>

<p>
  <strong>X num2d 7:</strong>
  <%= @job_task.X_NUM2D_7 %>
</p>

<p>
  <strong>X hrs unbilled:</strong>
  <%= @job_task.X_HRS_UNBILLED %>
</p>

<p>
  <strong>X unbillable:</strong>
  <%= @job_task.X_UNBILLABLE %>
</p>

<p>
  <strong>X gross costs:</strong>
  <%= @job_task.X_GROSS_COSTS %>
</p>

<p>
  <strong>X gross labor:</strong>
  <%= @job_task.X_GROSS_LABOR %>
</p>

<p>
  <strong>X gross exp:</strong>
  <%= @job_task.X_GROSS_EXP %>
</p>

<p>
  <strong>X mu amt:</strong>
  <%= @job_task.X_MU_AMT %>
</p>

<p>
  <strong>X specs:</strong>
  <%= @job_task.X_SPECS %>
</p>

<p>
  <strong>X date finished:</strong>
  <%= @job_task.X_DATE_FINISHED %>
</p>

<p>
  <strong>X due when:</strong>
  <%= @job_task.X_DUE_WHEN %>
</p>

<p>
  <strong>X hours billed:</strong>
  <%= @job_task.X_HOURS_BILLED %>
</p>

<p>
  <strong>X est hrs1:</strong>
  <%= @job_task.X_EST_HRS1 %>
</p>

<p>
  <strong>X est hrs2:</strong>
  <%= @job_task.X_EST_HRS2 %>
</p>

<p>
  <strong>X est hrs3:</strong>
  <%= @job_task.X_EST_HRS3 %>
</p>

<p>
  <strong>X commissionable:</strong>
  <%= @job_task.X_COMMISSIONABLE %>
</p>

<p>
  <strong>X added by:</strong>
  <%= @job_task.X_ADDED_BY %>
</p>

<p>
  <strong>X added when:</strong>
  <%= @job_task.X_ADDED_WHEN %>
</p>

<p>
  <strong>X edited by:</strong>
  <%= @job_task.X_EDITED_BY %>
</p>

<p>
  <strong>X edited when:</strong>
  <%= @job_task.X_EDITED_WHEN %>
</p>

<p>
  <strong>X tags:</strong>
  <%= @job_task.X_TAGS %>
</p>

<p>
  <strong>X completed:</strong>
  <%= @job_task.X_COMPLETED %>
</p>

<p>
  <strong>X relation:</strong>
  <%= @job_task.X_RELATION %>
</p>

<p>
  <strong>X relation type:</strong>
  <%= @job_task.X_RELATION_TYPE %>
</p>

<p>
  <strong>X color:</strong>
  <%= @job_task.X_COLOR %>
</p>

<p>
  <strong>X client sched:</strong>
  <%= @job_task.X_CLIENT_SCHED %>
</p>

<p>
  <strong>X phase:</strong>
  <%= @job_task.X_PHASE %>
</p>

<p>
  <strong>X hours wk1 1:</strong>
  <%= @job_task.X_HOURS_WK1_1 %>
</p>

<p>
  <strong>X hours wk1 2:</strong>
  <%= @job_task.X_HOURS_WK1_2 %>
</p>

<p>
  <strong>X hours wk1 3:</strong>
  <%= @job_task.X_HOURS_WK1_3 %>
</p>

<p>
  <strong>X hours wk1 4:</strong>
  <%= @job_task.X_HOURS_WK1_4 %>
</p>

<p>
  <strong>X hours wk1 5:</strong>
  <%= @job_task.X_HOURS_WK1_5 %>
</p>

<p>
  <strong>X hours wk2 1:</strong>
  <%= @job_task.X_HOURS_WK2_1 %>
</p>

<p>
  <strong>X hours wk2 2:</strong>
  <%= @job_task.X_HOURS_WK2_2 %>
</p>

<p>
  <strong>X hours wk2 3:</strong>
  <%= @job_task.X_HOURS_WK2_3 %>
</p>

<p>
  <strong>X hours wk2 4:</strong>
  <%= @job_task.X_HOURS_WK2_4 %>
</p>

<p>
  <strong>X hours wk2 5:</strong>
  <%= @job_task.X_HOURS_WK2_5 %>
</p>

<p>
  <strong>X taxable3:</strong>
  <%= @job_task.X_TAXABLE3 %>
</p>

<p>
  <strong>X tax3 rate:</strong>
  <%= @job_task.X_TAX3_RATE %>
</p>

<p>
  <strong>X next bill amt:</strong>
  <%= @job_task.X_NEXT_BILL_AMT %>
</p>

<p>
  <strong>X next bill hrs:</strong>
  <%= @job_task.X_NEXT_BILL_HRS %>
</p>

<p>
  <strong>X next bill date:</strong>
  <%= @job_task.X_NEXT_BILL_DATE %>
</p>

<p>
  <strong>X no time:</strong>
  <%= @job_task.X_NO_TIME %>
</p>

<p>
  <strong>X milestone:</strong>
  <%= @job_task.X_MILESTONE %>
</p>

<p>
  <strong>X req approval:</strong>
  <%= @job_task.X_REQ_APPROVAL %>
</p>

<p>
  <strong>X req approved date:</strong>
  <%= @job_task.X_REQ_APPROVED_DATE %>
</p>

<p>
  <strong>X priority:</strong>
  <%= @job_task.X_PRIORITY %>
</p>

<%= link_to 'Edit', edit_job_task_path(@job_task) %> |
<%= link_to 'Back', job_tasks_path %>
