<%= simple_form_for(@web_pref) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :WP_BELL_ON_HITS %>
    <%= f.input :WP_CURRENT_EVENT %>
    <%= f.input :WP_DISABLE_LOG %>
    <%= f.input :WP_ALERT_PW %>
    <%= f.input :WP_WEBMASTER %>
    <%= f.input :WP_WEBMSTR_EMAIL %>
    <%= f.input :WP_ALERT_LOGON %>
    <%= f.input :WP_SMTP_SERVER %>
    <%= f.input :WP_AUTO_START %>
    <%= f.input :WP_ALERT_ID %>
    <%= f.input :WP_DATE %>
    <%= f.input :WP_USER %>
    <%= f.input :GREETING %>
    <%= f.input :DGL_NAME %>
    <%= f.input :CGL_NAME %>
    <%= f.input :KIND %>
    <%= f.input :TASK_KIND %>
    <%= f.input :TYPE %>
    <%= f.input :JOB_NAME %>
    <%= f.input :TASK_NAME %>
    <%= f.input :WP_ALERT_ERROR %>
    <%= f.input :EST_REVISION %>
    <%= f.input :FINAL_ESTIMATE %>
    <%= f.input :STATUS_DESC1 %>
    <%= f.input :STATUS_DESC2 %>
    <%= f.input :WP_REMOTE_ADMIN %>
    <%= f.input :WP_REMOTE_ADMIN_IP %>
    <%= f.input :LOOKUP6 %>
    <%= f.input :LOOKUP5 %>
    <%= f.input :LOOKUP4 %>
    <%= f.input :LOOKUP3 %>
    <%= f.input :LOOKUP2 %>
    <%= f.input :LOOKUP_JOBS %>
    <%= f.input :WP_DATETIME %>
    <%= f.input :HIT_DURATION %>
    <%= f.input :QUERY_DURATION %>
    <%= f.input :TRANSACTION_TYPE %>
    <%= f.input :BYTES_RECEIVED %>
    <%= f.input :BYTES_SENT %>
    <%= f.input :HEADER_LIST %>
    <%= f.input :WP_DISCONNECT %>
    <%= f.input :WP_SHOW_DATE %>
    <%= f.input :VER %>
    <%= f.input :ALT_SOCKET %>
    <%= f.input :MESSAGE_DATA %>
    <%= f.input :POSTED %>
    <%= f.input :WP_PORT_NUMBER %>
    <%= f.input :WP_BACKUP %>
    <%= f.input :WP_CLOSE_TIME %>
    <%= f.input :WP_OPEN_TIME %>
    <%= f.input :WP_FONT_OPEN %>
    <%= f.input :WP_FONT_CLOSE %>
    <%= f.input :WP_AUTO_ARCHIVE_LOG %>
    <%= f.input :WP_LOG_IP_ERRORS %>
    <%= f.input :WP_LAST_ARCHIVE %>
    <%= f.input :WP_DISABLE_BAD_LOGIN %>
    <%= f.input :WP_JS_SERVER %>
    <%= f.input :CAL_DAY %>
    <%= f.input :CAL_MONTH %>
    <%= f.input :CAL_YEAR %>
    <%= f.input :CAL_MODE %>
    <%= f.input :WP_LOGO_URL %>
    <%= f.input :WP_LOGO_LINK %>
    <%= f.input :WP_AUTO_START_MY %>
    <%= f.input :WP_EDITED_BY %>
    <%= f.input :WP_EDITED_WHEN %>
    <%= f.input :WP_BOXR_EMAIL %>
    <%= f.input :WP_BOXR_USERNAME %>
    <%= f.input :WP_BOXR_PW %>
    <%= f.input :WP_BOXR_SERVER %>
    <%= f.input :WP_SSL %>
    <%= f.input :WP_SMTP_AUTH_ID %>
    <%= f.input :WP_SMTP_AUTH_PW %>
    <%= f.input :WP_SMTP_PORT %>
    <%= f.input :WP_SMTP_SSL_TYPE %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
