<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @web_pref.primaryKey %>
</p>

<p>
  <strong>Wp bell on hits:</strong>
  <%= @web_pref.WP_BELL_ON_HITS %>
</p>

<p>
  <strong>Wp current event:</strong>
  <%= @web_pref.WP_CURRENT_EVENT %>
</p>

<p>
  <strong>Wp disable log:</strong>
  <%= @web_pref.WP_DISABLE_LOG %>
</p>

<p>
  <strong>Wp alert pw:</strong>
  <%= @web_pref.WP_ALERT_PW %>
</p>

<p>
  <strong>Wp webmaster:</strong>
  <%= @web_pref.WP_WEBMASTER %>
</p>

<p>
  <strong>Wp webmstr email:</strong>
  <%= @web_pref.WP_WEBMSTR_EMAIL %>
</p>

<p>
  <strong>Wp alert logon:</strong>
  <%= @web_pref.WP_ALERT_LOGON %>
</p>

<p>
  <strong>Wp smtp server:</strong>
  <%= @web_pref.WP_SMTP_SERVER %>
</p>

<p>
  <strong>Wp auto start:</strong>
  <%= @web_pref.WP_AUTO_START %>
</p>

<p>
  <strong>Wp alert id:</strong>
  <%= @web_pref.WP_ALERT_ID %>
</p>

<p>
  <strong>Wp date:</strong>
  <%= @web_pref.WP_DATE %>
</p>

<p>
  <strong>Wp user:</strong>
  <%= @web_pref.WP_USER %>
</p>

<p>
  <strong>Greeting:</strong>
  <%= @web_pref.GREETING %>
</p>

<p>
  <strong>Dgl name:</strong>
  <%= @web_pref.DGL_NAME %>
</p>

<p>
  <strong>Cgl name:</strong>
  <%= @web_pref.CGL_NAME %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @web_pref.KIND %>
</p>

<p>
  <strong>Task kind:</strong>
  <%= @web_pref.TASK_KIND %>
</p>

<p>
  <strong>Type:</strong>
  <%= @web_pref.TYPE %>
</p>

<p>
  <strong>Job name:</strong>
  <%= @web_pref.JOB_NAME %>
</p>

<p>
  <strong>Task name:</strong>
  <%= @web_pref.TASK_NAME %>
</p>

<p>
  <strong>Wp alert error:</strong>
  <%= @web_pref.WP_ALERT_ERROR %>
</p>

<p>
  <strong>Est revision:</strong>
  <%= @web_pref.EST_REVISION %>
</p>

<p>
  <strong>Final estimate:</strong>
  <%= @web_pref.FINAL_ESTIMATE %>
</p>

<p>
  <strong>Status desc1:</strong>
  <%= @web_pref.STATUS_DESC1 %>
</p>

<p>
  <strong>Status desc2:</strong>
  <%= @web_pref.STATUS_DESC2 %>
</p>

<p>
  <strong>Wp remote admin:</strong>
  <%= @web_pref.WP_REMOTE_ADMIN %>
</p>

<p>
  <strong>Wp remote admin ip:</strong>
  <%= @web_pref.WP_REMOTE_ADMIN_IP %>
</p>

<p>
  <strong>Lookup6:</strong>
  <%= @web_pref.LOOKUP6 %>
</p>

<p>
  <strong>Lookup5:</strong>
  <%= @web_pref.LOOKUP5 %>
</p>

<p>
  <strong>Lookup4:</strong>
  <%= @web_pref.LOOKUP4 %>
</p>

<p>
  <strong>Lookup3:</strong>
  <%= @web_pref.LOOKUP3 %>
</p>

<p>
  <strong>Lookup2:</strong>
  <%= @web_pref.LOOKUP2 %>
</p>

<p>
  <strong>Lookup jobs:</strong>
  <%= @web_pref.LOOKUP_JOBS %>
</p>

<p>
  <strong>Wp datetime:</strong>
  <%= @web_pref.WP_DATETIME %>
</p>

<p>
  <strong>Hit duration:</strong>
  <%= @web_pref.HIT_DURATION %>
</p>

<p>
  <strong>Query duration:</strong>
  <%= @web_pref.QUERY_DURATION %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @web_pref.TRANSACTION_TYPE %>
</p>

<p>
  <strong>Bytes received:</strong>
  <%= @web_pref.BYTES_RECEIVED %>
</p>

<p>
  <strong>Bytes sent:</strong>
  <%= @web_pref.BYTES_SENT %>
</p>

<p>
  <strong>Header list:</strong>
  <%= @web_pref.HEADER_LIST %>
</p>

<p>
  <strong>Wp disconnect:</strong>
  <%= @web_pref.WP_DISCONNECT %>
</p>

<p>
  <strong>Wp show date:</strong>
  <%= @web_pref.WP_SHOW_DATE %>
</p>

<p>
  <strong>Ver:</strong>
  <%= @web_pref.VER %>
</p>

<p>
  <strong>Alt socket:</strong>
  <%= @web_pref.ALT_SOCKET %>
</p>

<p>
  <strong>Message data:</strong>
  <%= @web_pref.MESSAGE_DATA %>
</p>

<p>
  <strong>Posted:</strong>
  <%= @web_pref.POSTED %>
</p>

<p>
  <strong>Wp port number:</strong>
  <%= @web_pref.WP_PORT_NUMBER %>
</p>

<p>
  <strong>Wp backup:</strong>
  <%= @web_pref.WP_BACKUP %>
</p>

<p>
  <strong>Wp close time:</strong>
  <%= @web_pref.WP_CLOSE_TIME %>
</p>

<p>
  <strong>Wp open time:</strong>
  <%= @web_pref.WP_OPEN_TIME %>
</p>

<p>
  <strong>Wp font open:</strong>
  <%= @web_pref.WP_FONT_OPEN %>
</p>

<p>
  <strong>Wp font close:</strong>
  <%= @web_pref.WP_FONT_CLOSE %>
</p>

<p>
  <strong>Wp auto archive log:</strong>
  <%= @web_pref.WP_AUTO_ARCHIVE_LOG %>
</p>

<p>
  <strong>Wp log ip errors:</strong>
  <%= @web_pref.WP_LOG_IP_ERRORS %>
</p>

<p>
  <strong>Wp last archive:</strong>
  <%= @web_pref.WP_LAST_ARCHIVE %>
</p>

<p>
  <strong>Wp disable bad login:</strong>
  <%= @web_pref.WP_DISABLE_BAD_LOGIN %>
</p>

<p>
  <strong>Wp js server:</strong>
  <%= @web_pref.WP_JS_SERVER %>
</p>

<p>
  <strong>Cal day:</strong>
  <%= @web_pref.CAL_DAY %>
</p>

<p>
  <strong>Cal month:</strong>
  <%= @web_pref.CAL_MONTH %>
</p>

<p>
  <strong>Cal year:</strong>
  <%= @web_pref.CAL_YEAR %>
</p>

<p>
  <strong>Cal mode:</strong>
  <%= @web_pref.CAL_MODE %>
</p>

<p>
  <strong>Wp logo url:</strong>
  <%= @web_pref.WP_LOGO_URL %>
</p>

<p>
  <strong>Wp logo link:</strong>
  <%= @web_pref.WP_LOGO_LINK %>
</p>

<p>
  <strong>Wp auto start my:</strong>
  <%= @web_pref.WP_AUTO_START_MY %>
</p>

<p>
  <strong>Wp edited by:</strong>
  <%= @web_pref.WP_EDITED_BY %>
</p>

<p>
  <strong>Wp edited when:</strong>
  <%= @web_pref.WP_EDITED_WHEN %>
</p>

<p>
  <strong>Wp boxr email:</strong>
  <%= @web_pref.WP_BOXR_EMAIL %>
</p>

<p>
  <strong>Wp boxr username:</strong>
  <%= @web_pref.WP_BOXR_USERNAME %>
</p>

<p>
  <strong>Wp boxr pw:</strong>
  <%= @web_pref.WP_BOXR_PW %>
</p>

<p>
  <strong>Wp boxr server:</strong>
  <%= @web_pref.WP_BOXR_SERVER %>
</p>

<p>
  <strong>Wp ssl:</strong>
  <%= @web_pref.WP_SSL %>
</p>

<p>
  <strong>Wp smtp auth id:</strong>
  <%= @web_pref.WP_SMTP_AUTH_ID %>
</p>

<p>
  <strong>Wp smtp auth pw:</strong>
  <%= @web_pref.WP_SMTP_AUTH_PW %>
</p>

<p>
  <strong>Wp smtp port:</strong>
  <%= @web_pref.WP_SMTP_PORT %>
</p>

<p>
  <strong>Wp smtp ssl type:</strong>
  <%= @web_pref.WP_SMTP_SSL_TYPE %>
</p>

<%= link_to 'Edit', edit_web_pref_path(@web_pref) %> |
<%= link_to 'Back', web_prefs_path %>
