<h1>Listing assets_files</h1>

<table>
  <thead>
    <tr>
      <th>Primarykey</th>
      <th>Asf job num</th>
      <th>Asf file name</th>
      <th>Asf file kind</th>
      <th>Asf added by</th>
      <th>Asf date added</th>
      <th>Asf date acquired</th>
      <th>Asf desc</th>
      <th>Asf keyword1</th>
      <th>Asf keyword2</th>
      <th>Asf keyword3</th>
      <th>Asf source</th>
      <th>Asf field1 label</th>
      <th>Asf field2 label</th>
      <th>Asf field3 label</th>
      <th>Asf field4 label</th>
      <th>Asf field5 label</th>
      <th>Asf field1</th>
      <th>Asf field2</th>
      <th>Asf field3</th>
      <th>Asf field4</th>
      <th>Asf field5</th>
      <th>Asf ownership</th>
      <th>Asf author name</th>
      <th>Asf author phone</th>
      <th>Asf copyright</th>
      <th>Asf usage restriction</th>
      <th>Asf last mod date</th>
      <th>Asf last mod by</th>
      <th>Asf last mod desc</th>
      <th>Asf protected</th>
      <th>Asf edited by</th>
      <th>Asf edited when</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assets_files.each do |assets_file| %>
      <tr>
        <td><%= assets_file.primaryKey %></td>
        <td><%= assets_file.ASF_JOB_NUM %></td>
        <td><%= assets_file.ASF_FILE_NAME %></td>
        <td><%= assets_file.ASF_FILE_KIND %></td>
        <td><%= assets_file.ASF_ADDED_BY %></td>
        <td><%= assets_file.ASF_DATE_ADDED %></td>
        <td><%= assets_file.ASF_DATE_ACQUIRED %></td>
        <td><%= assets_file.ASF_DESC %></td>
        <td><%= assets_file.ASF_KEYWORD1 %></td>
        <td><%= assets_file.ASF_KEYWORD2 %></td>
        <td><%= assets_file.ASF_KEYWORD3 %></td>
        <td><%= assets_file.ASF_SOURCE %></td>
        <td><%= assets_file.ASF_FIELD1_LABEL %></td>
        <td><%= assets_file.ASF_FIELD2_LABEL %></td>
        <td><%= assets_file.ASF_FIELD3_LABEL %></td>
        <td><%= assets_file.ASF_FIELD4_LABEL %></td>
        <td><%= assets_file.ASF_FIELD5_LABEL %></td>
        <td><%= assets_file.ASF_FIELD1 %></td>
        <td><%= assets_file.ASF_FIELD2 %></td>
        <td><%= assets_file.ASF_FIELD3 %></td>
        <td><%= assets_file.ASF_FIELD4 %></td>
        <td><%= assets_file.ASF_FIELD5 %></td>
        <td><%= assets_file.ASF_OWNERSHIP %></td>
        <td><%= assets_file.ASF_AUTHOR_NAME %></td>
        <td><%= assets_file.ASF_AUTHOR_PHONE %></td>
        <td><%= assets_file.ASF_COPYRIGHT %></td>
        <td><%= assets_file.ASF_USAGE_RESTRICTION %></td>
        <td><%= assets_file.ASF_LAST_MOD_DATE %></td>
        <td><%= assets_file.ASF_LAST_MOD_BY %></td>
        <td><%= assets_file.ASF_LAST_MOD_DESC %></td>
        <td><%= assets_file.ASF_PROTECTED %></td>
        <td><%= assets_file.ASF_EDITED_BY %></td>
        <td><%= assets_file.ASF_EDITED_WHEN %></td>
        <td><%= link_to 'Show', assets_file %></td>
        <td><%= link_to 'Edit', edit_assets_file_path(assets_file) %></td>
        <td><%= link_to 'Destroy', assets_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assets file', new_assets_file_path %>
