<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @assets_file.primaryKey %>
</p>

<p>
  <strong>Asf job num:</strong>
  <%= @assets_file.ASF_JOB_NUM %>
</p>

<p>
  <strong>Asf file name:</strong>
  <%= @assets_file.ASF_FILE_NAME %>
</p>

<p>
  <strong>Asf file kind:</strong>
  <%= @assets_file.ASF_FILE_KIND %>
</p>

<p>
  <strong>Asf added by:</strong>
  <%= @assets_file.ASF_ADDED_BY %>
</p>

<p>
  <strong>Asf date added:</strong>
  <%= @assets_file.ASF_DATE_ADDED %>
</p>

<p>
  <strong>Asf date acquired:</strong>
  <%= @assets_file.ASF_DATE_ACQUIRED %>
</p>

<p>
  <strong>Asf desc:</strong>
  <%= @assets_file.ASF_DESC %>
</p>

<p>
  <strong>Asf keyword1:</strong>
  <%= @assets_file.ASF_KEYWORD1 %>
</p>

<p>
  <strong>Asf keyword2:</strong>
  <%= @assets_file.ASF_KEYWORD2 %>
</p>

<p>
  <strong>Asf keyword3:</strong>
  <%= @assets_file.ASF_KEYWORD3 %>
</p>

<p>
  <strong>Asf source:</strong>
  <%= @assets_file.ASF_SOURCE %>
</p>

<p>
  <strong>Asf field1 label:</strong>
  <%= @assets_file.ASF_FIELD1_LABEL %>
</p>

<p>
  <strong>Asf field2 label:</strong>
  <%= @assets_file.ASF_FIELD2_LABEL %>
</p>

<p>
  <strong>Asf field3 label:</strong>
  <%= @assets_file.ASF_FIELD3_LABEL %>
</p>

<p>
  <strong>Asf field4 label:</strong>
  <%= @assets_file.ASF_FIELD4_LABEL %>
</p>

<p>
  <strong>Asf field5 label:</strong>
  <%= @assets_file.ASF_FIELD5_LABEL %>
</p>

<p>
  <strong>Asf field1:</strong>
  <%= @assets_file.ASF_FIELD1 %>
</p>

<p>
  <strong>Asf field2:</strong>
  <%= @assets_file.ASF_FIELD2 %>
</p>

<p>
  <strong>Asf field3:</strong>
  <%= @assets_file.ASF_FIELD3 %>
</p>

<p>
  <strong>Asf field4:</strong>
  <%= @assets_file.ASF_FIELD4 %>
</p>

<p>
  <strong>Asf field5:</strong>
  <%= @assets_file.ASF_FIELD5 %>
</p>

<p>
  <strong>Asf ownership:</strong>
  <%= @assets_file.ASF_OWNERSHIP %>
</p>

<p>
  <strong>Asf author name:</strong>
  <%= @assets_file.ASF_AUTHOR_NAME %>
</p>

<p>
  <strong>Asf author phone:</strong>
  <%= @assets_file.ASF_AUTHOR_PHONE %>
</p>

<p>
  <strong>Asf copyright:</strong>
  <%= @assets_file.ASF_COPYRIGHT %>
</p>

<p>
  <strong>Asf usage restriction:</strong>
  <%= @assets_file.ASF_USAGE_RESTRICTION %>
</p>

<p>
  <strong>Asf last mod date:</strong>
  <%= @assets_file.ASF_LAST_MOD_DATE %>
</p>

<p>
  <strong>Asf last mod by:</strong>
  <%= @assets_file.ASF_LAST_MOD_BY %>
</p>

<p>
  <strong>Asf last mod desc:</strong>
  <%= @assets_file.ASF_LAST_MOD_DESC %>
</p>

<p>
  <strong>Asf protected:</strong>
  <%= @assets_file.ASF_PROTECTED %>
</p>

<p>
  <strong>Asf edited by:</strong>
  <%= @assets_file.ASF_EDITED_BY %>
</p>

<p>
  <strong>Asf edited when:</strong>
  <%= @assets_file.ASF_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_assets_file_path(@assets_file) %> |
<%= link_to 'Back', assets_files_path %>
