<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @rfq_item.primaryKey %>
</p>

<p>
  <strong>Rfqx line number:</strong>
  <%= @rfq_item.RFQX_LINE_NUMBER %>
</p>

<p>
  <strong>Rfqx num:</strong>
  <%= @rfq_item.RFQX_NUM %>
</p>

<p>
  <strong>Rfqx vendor2:</strong>
  <%= @rfq_item.RFQX_VENDOR2 %>
</p>

<p>
  <strong>Rfqx job num:</strong>
  <%= @rfq_item.RFQX_JOB_NUM %>
</p>

<p>
  <strong>Rfqx task:</strong>
  <%= @rfq_item.RFQX_TASK %>
</p>

<p>
  <strong>Rfqx name:</strong>
  <%= @rfq_item.RFQX_NAME %>
</p>

<p>
  <strong>Rfqx desc2:</strong>
  <%= @rfq_item.RFQX_DESC2 %>
</p>

<p>
  <strong>Rfqx qty:</strong>
  <%= @rfq_item.RFQX_QTY %>
</p>

<p>
  <strong>Rfqx unit cost:</strong>
  <%= @rfq_item.RFQX_UNIT_COST %>
</p>

<p>
  <strong>Rfqx cost:</strong>
  <%= @rfq_item.RFQX_COST %>
</p>

<p>
  <strong>Rfqx gross:</strong>
  <%= @rfq_item.RFQX_GROSS %>
</p>

<p>
  <strong>Rfqx markup:</strong>
  <%= @rfq_item.RFQX_MARKUP %>
</p>

<p>
  <strong>Rfqx po num:</strong>
  <%= @rfq_item.RFQX_PO_NUM %>
</p>

<p>
  <strong>Rfqx taxable1:</strong>
  <%= @rfq_item.RFQX_TAXABLE1 %>
</p>

<p>
  <strong>Rfqx taxable2:</strong>
  <%= @rfq_item.RFQX_TAXABLE2 %>
</p>

<p>
  <strong>Rfqx include:</strong>
  <%= @rfq_item.RFQX_INCLUDE %>
</p>

<p>
  <strong>Rfqx type:</strong>
  <%= @rfq_item.RFQX_TYPE %>
</p>

<%= link_to 'Edit', edit_rfq_item_path(@rfq_item) %> |
<%= link_to 'Back', rfq_items_path %>
