<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @temp_task.primaryKey %>
</p>

<p>
  <strong>Tt type:</strong>
  <%= @temp_task.TT_TYPE %>
</p>

<p>
  <strong>Tt task:</strong>
  <%= @temp_task.TT_TASK %>
</p>

<p>
  <strong>Tt est1:</strong>
  <%= @temp_task.TT_EST1 %>
</p>

<p>
  <strong>Tt lead1:</strong>
  <%= @temp_task.TT_LEAD1 %>
</p>

<p>
  <strong>Tt name:</strong>
  <%= @temp_task.TT_NAME %>
</p>

<p>
  <strong>Tt est2:</strong>
  <%= @temp_task.TT_EST2 %>
</p>

<p>
  <strong>Tt lead2:</strong>
  <%= @temp_task.TT_LEAD2 %>
</p>

<p>
  <strong>Tt est3:</strong>
  <%= @temp_task.TT_EST3 %>
</p>

<p>
  <strong>Tt lead3:</strong>
  <%= @temp_task.TT_LEAD3 %>
</p>

<p>
  <strong>Tt est hours:</strong>
  <%= @temp_task.TT_EST_HOURS %>
</p>

<p>
  <strong>Tt task desc:</strong>
  <%= @temp_task.TT_TASK_DESC %>
</p>

<p>
  <strong>Tt added by:</strong>
  <%= @temp_task.TT_ADDED_BY %>
</p>

<p>
  <strong>Tt added when:</strong>
  <%= @temp_task.TT_ADDED_WHEN %>
</p>

<p>
  <strong>Tt edited by:</strong>
  <%= @temp_task.TT_EDITED_BY %>
</p>

<p>
  <strong>Tt edited when:</strong>
  <%= @temp_task.TT_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_temp_task_path(@temp_task) %> |
<%= link_to 'Back', temp_tasks_path %>
