<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @sales_letter.primaryKey %>
</p>

<p>
  <strong>Sltr id:</strong>
  <%= @sales_letter.SLTR_ID %>
</p>

<p>
  <strong>Sltr kind:</strong>
  <%= @sales_letter.SLTR_KIND %>
</p>

<p>
  <strong>Sltr start:</strong>
  <%= @sales_letter.SLTR_START %>
</p>

<p>
  <strong>Sltr end:</strong>
  <%= @sales_letter.SLTR_END %>
</p>

<p>
  <strong>Sltr client num:</strong>
  <%= @sales_letter.SLTR_CLIENT_NUM %>
</p>

<p>
  <strong>Sltr desc:</strong>
  <%= @sales_letter.SLTR_DESC %>
</p>

<p>
  <strong>Sltr author:</strong>
  <%= @sales_letter.SLTR_AUTHOR %>
</p>

<p>
  <strong>Sltr ok:</strong>
  <%= @sales_letter.SLTR_OK %>
</p>

<p>
  <strong>Sltr ok by:</strong>
  <%= @sales_letter.SLTR_OK_BY %>
</p>

<p>
  <strong>Sltr subject:</strong>
  <%= @sales_letter.SLTR_SUBJECT %>
</p>

<p>
  <strong>Sltr body:</strong>
  <%= @sales_letter.SLTR_BODY %>
</p>

<p>
  <strong>Sltr ps:</strong>
  <%= @sales_letter.SLTR_PS %>
</p>

<p>
  <strong>Sltr count:</strong>
  <%= @sales_letter.SLTR_COUNT %>
</p>

<p>
  <strong>Sltr last use:</strong>
  <%= @sales_letter.SLTR_LAST_USE %>
</p>

<p>
  <strong>Sltr one time:</strong>
  <%= @sales_letter.SLTR_ONE_TIME %>
</p>

<p>
  <strong>Sltr added by:</strong>
  <%= @sales_letter.SLTR_ADDED_BY %>
</p>

<p>
  <strong>Sltr added when:</strong>
  <%= @sales_letter.SLTR_ADDED_WHEN %>
</p>

<p>
  <strong>Sltr edited by:</strong>
  <%= @sales_letter.SLTR_EDITED_BY %>
</p>

<p>
  <strong>Sltr edited when:</strong>
  <%= @sales_letter.SLTR_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_sales_letter_path(@sales_letter) %> |
<%= link_to 'Back', sales_letters_path %>
