<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @y1099.primaryKey %>
</p>

<p>
  <strong>Y name1:</strong>
  <%= @y1099.Y_NAME1 %>
</p>

<p>
  <strong>Y address1:</strong>
  <%= @y1099.Y_ADDRESS1 %>
</p>

<p>
  <strong>Y city state1:</strong>
  <%= @y1099.Y_CITY_STATE1 %>
</p>

<p>
  <strong>Y zip1:</strong>
  <%= @y1099.Y_ZIP1 %>
</p>

<p>
  <strong>Y tax1:</strong>
  <%= @y1099.Y_TAX1 %>
</p>

<p>
  <strong>Y amt1:</strong>
  <%= @y1099.Y_AMT1 %>
</p>

<p>
  <strong>Y name2:</strong>
  <%= @y1099.Y_NAME2 %>
</p>

<p>
  <strong>Y address2:</strong>
  <%= @y1099.Y_ADDRESS2 %>
</p>

<p>
  <strong>Y city state2:</strong>
  <%= @y1099.Y_CITY_STATE2 %>
</p>

<p>
  <strong>Y zip2:</strong>
  <%= @y1099.Y_ZIP2 %>
</p>

<p>
  <strong>Y tax2:</strong>
  <%= @y1099.Y_TAX2 %>
</p>

<p>
  <strong>Y amt2:</strong>
  <%= @y1099.Y_AMT2 %>
</p>

<p>
  <strong>Y name3:</strong>
  <%= @y1099.Y_NAME3 %>
</p>

<p>
  <strong>Y address3:</strong>
  <%= @y1099.Y_ADDRESS3 %>
</p>

<p>
  <strong>Y city state3:</strong>
  <%= @y1099.Y_CITY_STATE3 %>
</p>

<p>
  <strong>Y zip3:</strong>
  <%= @y1099.Y_ZIP3 %>
</p>

<p>
  <strong>Y amt3:</strong>
  <%= @y1099.Y_AMT3 %>
</p>

<p>
  <strong>Y tax3:</strong>
  <%= @y1099.Y_TAX3 %>
</p>

<p>
  <strong>Y dba:</strong>
  <%= @y1099.Y_DBA %>
</p>

<p>
  <strong>Y dba2:</strong>
  <%= @y1099.Y_DBA2 %>
</p>

<p>
  <strong>Y rent:</strong>
  <%= @y1099.Y_RENT %>
</p>

<p>
  <strong>Y rent2:</strong>
  <%= @y1099.Y_RENT2 %>
</p>

<%= link_to 'Edit', edit_y1099_path(@y1099) %> |
<%= link_to 'Back', y1099s_path %>
