<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @cost.primaryKey %>
</p>

<p>
  <strong>Cost num:</strong>
  <%= @cost.COST_NUM %>
</p>

<p>
  <strong>Cost job num:</strong>
  <%= @cost.COST_JOB_NUM %>
</p>

<p>
  <strong>Cost task:</strong>
  <%= @cost.COST_TASK %>
</p>

<p>
  <strong>Cost note:</strong>
  <%= @cost.COST_NOTE %>
</p>

<p>
  <strong>Cost net amt:</strong>
  <%= @cost.COST_NET_AMT %>
</p>

<p>
  <strong>Cost gross amt:</strong>
  <%= @cost.COST_GROSS_AMT %>
</p>

<p>
  <strong>Cost hours:</strong>
  <%= @cost.COST_HOURS %>
</p>

<p>
  <strong>Cost kind:</strong>
  <%= @cost.COST_KIND %>
</p>

<p>
  <strong>Cost date:</strong>
  <%= @cost.COST_DATE %>
</p>

<p>
  <strong>Cost bill rate:</strong>
  <%= @cost.COST_BILL_RATE %>
</p>

<p>
  <strong>Cost cost rate:</strong>
  <%= @cost.COST_COST_RATE %>
</p>

<p>
  <strong>Cost po num:</strong>
  <%= @cost.COST_PO_NUM %>
</p>

<p>
  <strong>Cost billable:</strong>
  <%= @cost.COST_BILLABLE %>
</p>

<p>
  <strong>Cost vendor:</strong>
  <%= @cost.COST_VENDOR %>
</p>

<p>
  <strong>Cost period:</strong>
  <%= @cost.COST_PERIOD %>
</p>

<p>
  <strong>Cost client num:</strong>
  <%= @cost.COST_CLIENT_NUM %>
</p>

<p>
  <strong>Cost dgl:</strong>
  <%= @cost.COST_DGL %>
</p>

<p>
  <strong>Cost posted:</strong>
  <%= @cost.COST_POSTED %>
</p>

<p>
  <strong>Cost key:</strong>
  <%= @cost.COST_KEY %>
</p>

<p>
  <strong>Cost finished:</strong>
  <%= @cost.COST_FINISHED %>
</p>

<p>
  <strong>Cost markup:</strong>
  <%= @cost.COST_MARKUP %>
</p>

<p>
  <strong>Cost bill amt:</strong>
  <%= @cost.COST_BILL_AMT %>
</p>

<p>
  <strong>Cost ar date:</strong>
  <%= @cost.COST_AR_DATE %>
</p>

<p>
  <strong>Cost ar num:</strong>
  <%= @cost.COST_AR_NUM %>
</p>

<p>
  <strong>Cost billed amt:</strong>
  <%= @cost.COST_BILLED_AMT %>
</p>

<p>
  <strong>Cost status:</strong>
  <%= @cost.COST_STATUS %>
</p>

<p>
  <strong>Cost ar paid:</strong>
  <%= @cost.COST_AR_PAID %>
</p>

<p>
  <strong>Cost ck num:</strong>
  <%= @cost.COST_CK_NUM %>
</p>

<p>
  <strong>Cost ref:</strong>
  <%= @cost.COST_REF %>
</p>

<p>
  <strong>Cost hours billed:</strong>
  <%= @cost.COST_HOURS_BILLED %>
</p>

<p>
  <strong>Cost ot:</strong>
  <%= @cost.COST_OT %>
</p>

<p>
  <strong>Cost pox line:</strong>
  <%= @cost.COST_POX_LINE %>
</p>

<p>
  <strong>Cost gl:</strong>
  <%= @cost.COST_GL %>
</p>

<p>
  <strong>Cost j prod status:</strong>
  <%= @cost.COST_J_PROD_STATUS %>
</p>

<p>
  <strong>Cost j bill status:</strong>
  <%= @cost.COST_J_BILL_STATUS %>
</p>

<p>
  <strong>Cost pc:</strong>
  <%= @cost.COST_PC %>
</p>

<p>
  <strong>Cost qty:</strong>
  <%= @cost.COST_QTY %>
</p>

<p>
  <strong>Cost days:</strong>
  <%= @cost.COST_DAYS %>
</p>

<p>
  <strong>Cost cost ea:</strong>
  <%= @cost.COST_COST_EA %>
</p>

<p>
  <strong>Cost size:</strong>
  <%= @cost.COST_SIZE %>
</p>

<p>
  <strong>Cost added by:</strong>
  <%= @cost.COST_ADDED_BY %>
</p>

<p>
  <strong>Cost gross ea:</strong>
  <%= @cost.COST_GROSS_EA %>
</p>

<p>
  <strong>Cost adv ck:</strong>
  <%= @cost.COST_ADV_CK %>
</p>

<p>
  <strong>Cost exported:</strong>
  <%= @cost.COST_EXPORTED %>
</p>

<p>
  <strong>Cost wip exported:</strong>
  <%= @cost.COST_WIP_EXPORTED %>
</p>

<p>
  <strong>Cost wip rev exported:</strong>
  <%= @cost.COST_WIP_REV_EXPORTED %>
</p>

<p>
  <strong>Cost sales tax:</strong>
  <%= @cost.COST_SALES_TAX %>
</p>

<p>
  <strong>Cost approved by:</strong>
  <%= @cost.COST_APPROVED_BY %>
</p>

<p>
  <strong>Cost approved date:</strong>
  <%= @cost.COST_APPROVED_DATE %>
</p>

<p>
  <strong>Cost reimburse ap num:</strong>
  <%= @cost.COST_REIMBURSE_AP_NUM %>
</p>

<p>
  <strong>Cost exp added by:</strong>
  <%= @cost.COST_EXP_ADDED_BY %>
</p>

<p>
  <strong>Cost edited by:</strong>
  <%= @cost.COST_EDITED_BY %>
</p>

<p>
  <strong>Cost edited when:</strong>
  <%= @cost.COST_EDITED_WHEN %>
</p>

<p>
  <strong>Cost posted by:</strong>
  <%= @cost.COST_POSTED_BY %>
</p>

<p>
  <strong>Cost posted when:</strong>
  <%= @cost.COST_POSTED_WHEN %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
