<%= simple_form_for(@client) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :C_NUM %>
    <%= f.input :C_ORG %>
    <%= f.input :C_ADDRESS1 %>
    <%= f.input :C_ADDRESS2 %>
    <%= f.input :C_ADDRESS3 %>
    <%= f.input :C_ADDRESS4 %>
    <%= f.input :C_CONTACT1 %>
    <%= f.input :C_CONTACT2 %>
    <%= f.input :C_CONTACT3 %>
    <%= f.input :C_CONTACT4 %>
    <%= f.input :C_PHONE1 %>
    <%= f.input :C_PHONE2 %>
    <%= f.input :C_PHONE3 %>
    <%= f.input :C_PHONE4 %>
    <%= f.input :C_TERMS %>
    <%= f.input :C_TYPE %>
    <%= f.input :C_JOB_NUM %>
    <%= f.input :C_NOTE %>
    <%= f.input :C1 %>
    <%= f.input :C2 %>
    <%= f.input :C3 %>
    <%= f.input :C4 %>
    <%= f.input :C5 %>
    <%= f.input :C6 %>
    <%= f.input :C7 %>
    <%= f.input :C8 %>
    <%= f.input :C9 %>
    <%= f.input :C10 %>
    <%= f.input :C11 %>
    <%= f.input :C12 %>
    <%= f.input :C_ADDRESS5 %>
    <%= f.input :C_ADDRESS6 %>
    <%= f.input :C_JOB_ALERT %>
    <%= f.input :C_AR_ALERT %>
    <%= f.input :C_PAY_ALERT %>
    <%= f.input :C_YTD %>
    <%= f.input :C_NOTES %>
    <%= f.input :C_CURR %>
    <%= f.input :C_30 %>
    <%= f.input :C_60 %>
    <%= f.input :C_90 %>
    <%= f.input :C_CREDIT_LIMIT %>
    <%= f.input :C_LAST_AGING %>
    <%= f.input :C_MARKUP %>
    <%= f.input :C_RETAINER_BAL %>
    <%= f.input :C_RETAINER_CGL %>
    <%= f.input :C_TAX_RATE1 %>
    <%= f.input :C_TAX_RATE2 %>
    <%= f.input :C_TAX_AREA %>
    <%= f.input :C_TAX_GL1 %>
    <%= f.input :C_TAX_GL2 %>
    <%= f.input :C_BUDGET_1 %>
    <%= f.input :C_BUDGET_2 %>
    <%= f.input :C_BUDGET_3 %>
    <%= f.input :C_BUDGET_4 %>
    <%= f.input :C_BUDGET_5 %>
    <%= f.input :C_BUDGET_6 %>
    <%= f.input :C_BUDGET_7 %>
    <%= f.input :C_BUDGET_8 %>
    <%= f.input :C_BUDGET_9 %>
    <%= f.input :C_BUDGET_10 %>
    <%= f.input :C_BUDGET_11 %>
    <%= f.input :C_BUDGET_12 %>
    <%= f.input :C_BUDGET_YTD %>
    <%= f.input :C_LAST_YEAR1 %>
    <%= f.input :C_LAST_YEAR2 %>
    <%= f.input :C_LAST_YEAR3 %>
    <%= f.input :C_LAST_YEAR4 %>
    <%= f.input :C_LAST_YEAR5 %>
    <%= f.input :C_LAST_YEAR6 %>
    <%= f.input :C_LAST_YEAR7 %>
    <%= f.input :C_LAST_YEAR8 %>
    <%= f.input :C_LAST_YEAR9 %>
    <%= f.input :C_LAST_YEAR10 %>
    <%= f.input :C_LAST_YEAR11 %>
    <%= f.input :C_LAST_YEAR12 %>
    <%= f.input :C_IN_HOUSE %>
    <%= f.input :C_AE %>
    <%= f.input :C_BALN %>
    <%= f.input :C_BILL_RATE %>
    <%= f.input :C_FINANCE_CHG %>
    <%= f.input :C_FAX %>
    <%= f.input :C_LOGO %>
    <%= f.input :C_DIVISION %>
    <%= f.input :C_TO1 %>
    <%= f.input :C_TO2 %>
    <%= f.input :C_TO3 %>
    <%= f.input :C_TO4 %>
    <%= f.input :C_TO5 %>
    <%= f.input :C_COST_CENTER %>
    <%= f.input :C_RETAINER_DGL %>
    <%= f.input :C_RETAINER_PMTS %>
    <%= f.input :C_MEDIA_PLAN %>
    <%= f.input :C_PO %>
    <%= f.input :C_BILL_ADDRESS1 %>
    <%= f.input :C_BILL_ADDRESS2 %>
    <%= f.input :C_BILL_ADDRESS3 %>
    <%= f.input :C_BILL_ADDRESS4 %>
    <%= f.input :C_BILL_ADDRESS5 %>
    <%= f.input :C_BILL_ADDRESS6 %>
    <%= f.input :C_ACTIVE %>
    <%= f.input :C_MEDIA_JNUM %>
    <%= f.input :C_MEDIA_TASK %>
    <%= f.input :C_MEDIA_COMM %>
    <%= f.input :C_MEDIA_EST_NUM %>
    <%= f.input :C_TEAM_ACCESS %>
    <%= f.input :C_TEAM %>
    <%= f.input :C_MAIL_JOB_TO %>
    <%= f.input :C_MAIL_JOB_MSG %>
    <%= f.input :C_MAIL_JOB_CC %>
    <%= f.input :C_MAIL_JOB_BCC %>
    <%= f.input :C_MAIL_AR_TO %>
    <%= f.input :C_MAIL_AR_MSG %>
    <%= f.input :C_MAIL_AR_CC %>
    <%= f.input :C_MAIL_AR_BCC %>
    <%= f.input :C_MAIL_PMT_TO %>
    <%= f.input :C_MAIL_PMT_MSG %>
    <%= f.input :C_MAIL_PMT_CC %>
    <%= f.input :C_MAIL_PMT_BCC %>
    <%= f.input :C_UNBILLABLE %>
    <%= f.input :C_PC %>
    <%= f.input :C_OA_PERIOD %>
    <%= f.input :C_OA_MTD %>
    <%= f.input :C_OA_YTD %>
    <%= f.input :C_OA_LABOR %>
    <%= f.input :C_URL %>
    <%= f.input :C_EMAIL %>
    <%= f.input :C_MEDIA_DGL %>
    <%= f.input :C_MEDIA_DISC %>
    <%= f.input :C_SHIP_ADDRESS1 %>
    <%= f.input :C_SHIP_ADDRESS2 %>
    <%= f.input :C_SHIP_ADDRESS3 %>
    <%= f.input :C_SHIP_ADDRESS4 %>
    <%= f.input :C_SHIP_ADDRESS5 %>
    <%= f.input :C_SHIP_ADDRESS6 %>
    <%= f.input :C_CORP_ID %>
    <%= f.input :C_FIRST_CALL %>
    <%= f.input :C_LAST_CALL %>
    <%= f.input :C_CREDIT_HOLD %>
    <%= f.input :C_BIZDEV_AE %>
    <%= f.input :C_COMMISSIONABLE %>
    <%= f.input :C_SHOW_HOURS %>
    <%= f.input :C_EDITED_BY %>
    <%= f.input :C_EDITED_WHEN %>
    <%= f.input :C_TERMS1 %>
    <%= f.input :C_TERMS2 %>
    <%= f.input :C_TERMS3 %>
    <%= f.input :C_DGL %>
    <%= f.input :C_NCF_PREFIX %>
    <%= f.input :C_CTC_COL1 %>
    <%= f.input :C_CTC_COL2 %>
    <%= f.input :C_CTC_COL4 %>
    <%= f.input :C_CTC_COL6 %>
    <%= f.input :C_CTC_COL7 %>
    <%= f.input :C_CTC_COL8 %>
    <%= f.input :C_CTC_COL9 %>
    <%= f.input :C_FAST_FIN_GRADE_A %>
    <%= f.input :C_FAST_FIN_GRADE_B %>
    <%= f.input :C_FAST_FIN_GRADE_C %>
    <%= f.input :C_FAST_FIN_GRADE_D %>
    <%= f.input :C_FAST_TIME_GRADE_C %>
    <%= f.input :C_FAST_TIME_GRADE_D %>
    <%= f.input :C_TAX_RATE3 %>
    <%= f.input :C_TAX_GL3 %>
    <%= f.input :C_AR_SHOW_TOTALS %>
    <%= f.input :C_AR_ROLL_UP %>
    <%= f.input :C_AR_SHOW_SPECS %>
    <%= f.input :C_AR_SHOW_HOURS %>
    <%= f.input :C_AR_PRINT_EST %>
    <%= f.input :C_AR_ZERO_AS %>
    <%= f.input :C_OT_WEEKEND %>
    <%= f.input :C_OT_HOLIDAY %>
    <%= f.input :C_PIPELINE_COL1 %>
    <%= f.input :C_PIPELINE_COL2 %>
    <%= f.input :C_PIPELINE_COL3 %>
    <%= f.input :C_PIPELINE_COL4 %>
    <%= f.input :C_PIPELINE_COL5 %>
    <%= f.input :C_PIPELINE_COL6 %>
    <%= f.input :C_PIPELINE_COL7 %>
    <%= f.input :C_PIPELINE_COL8 %>
    <%= f.input :C_PIPELINE_COL9 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
