<h1>Listing clients</h1>

<table>
  <thead>
    <tr>
      <th>Primarykey</th>
      <th>C num</th>
      <th>C org</th>
      <th>C address1</th>
      <th>C address2</th>
      <th>C address3</th>
      <th>C address4</th>
      <th>C contact1</th>
      <th>C contact2</th>
      <th>C contact3</th>
      <th>C contact4</th>
      <th>C phone1</th>
      <th>C phone2</th>
      <th>C phone3</th>
      <th>C phone4</th>
      <th>C terms</th>
      <th>C type</th>
      <th>C job num</th>
      <th>C note</th>
      <th>C1</th>
      <th>C2</th>
      <th>C3</th>
      <th>C4</th>
      <th>C5</th>
      <th>C6</th>
      <th>C7</th>
      <th>C8</th>
      <th>C9</th>
      <th>C10</th>
      <th>C11</th>
      <th>C12</th>
      <th>C address5</th>
      <th>C address6</th>
      <th>C job alert</th>
      <th>C ar alert</th>
      <th>C pay alert</th>
      <th>C ytd</th>
      <th>C notes</th>
      <th>C curr</th>
      <th>C 30</th>
      <th>C 60</th>
      <th>C 90</th>
      <th>C credit limit</th>
      <th>C last aging</th>
      <th>C markup</th>
      <th>C retainer bal</th>
      <th>C retainer cgl</th>
      <th>C tax rate1</th>
      <th>C tax rate2</th>
      <th>C tax area</th>
      <th>C tax gl1</th>
      <th>C tax gl2</th>
      <th>C budget 1</th>
      <th>C budget 2</th>
      <th>C budget 3</th>
      <th>C budget 4</th>
      <th>C budget 5</th>
      <th>C budget 6</th>
      <th>C budget 7</th>
      <th>C budget 8</th>
      <th>C budget 9</th>
      <th>C budget 10</th>
      <th>C budget 11</th>
      <th>C budget 12</th>
      <th>C budget ytd</th>
      <th>C last year1</th>
      <th>C last year2</th>
      <th>C last year3</th>
      <th>C last year4</th>
      <th>C last year5</th>
      <th>C last year6</th>
      <th>C last year7</th>
      <th>C last year8</th>
      <th>C last year9</th>
      <th>C last year10</th>
      <th>C last year11</th>
      <th>C last year12</th>
      <th>C in house</th>
      <th>C ae</th>
      <th>C baln</th>
      <th>C bill rate</th>
      <th>C finance chg</th>
      <th>C fax</th>
      <th>C logo</th>
      <th>C division</th>
      <th>C to1</th>
      <th>C to2</th>
      <th>C to3</th>
      <th>C to4</th>
      <th>C to5</th>
      <th>C cost center</th>
      <th>C retainer dgl</th>
      <th>C retainer pmts</th>
      <th>C media plan</th>
      <th>C po</th>
      <th>C bill address1</th>
      <th>C bill address2</th>
      <th>C bill address3</th>
      <th>C bill address4</th>
      <th>C bill address5</th>
      <th>C bill address6</th>
      <th>C active</th>
      <th>C media jnum</th>
      <th>C media task</th>
      <th>C media comm</th>
      <th>C media est num</th>
      <th>C team access</th>
      <th>C team</th>
      <th>C mail job to</th>
      <th>C mail job msg</th>
      <th>C mail job cc</th>
      <th>C mail job bcc</th>
      <th>C mail ar to</th>
      <th>C mail ar msg</th>
      <th>C mail ar cc</th>
      <th>C mail ar bcc</th>
      <th>C mail pmt to</th>
      <th>C mail pmt msg</th>
      <th>C mail pmt cc</th>
      <th>C mail pmt bcc</th>
      <th>C unbillable</th>
      <th>C pc</th>
      <th>C oa period</th>
      <th>C oa mtd</th>
      <th>C oa ytd</th>
      <th>C oa labor</th>
      <th>C url</th>
      <th>C email</th>
      <th>C media dgl</th>
      <th>C media disc</th>
      <th>C ship address1</th>
      <th>C ship address2</th>
      <th>C ship address3</th>
      <th>C ship address4</th>
      <th>C ship address5</th>
      <th>C ship address6</th>
      <th>C corp id</th>
      <th>C first call</th>
      <th>C last call</th>
      <th>C credit hold</th>
      <th>C bizdev ae</th>
      <th>C commissionable</th>
      <th>C show hours</th>
      <th>C edited by</th>
      <th>C edited when</th>
      <th>C terms1</th>
      <th>C terms2</th>
      <th>C terms3</th>
      <th>C dgl</th>
      <th>C ncf prefix</th>
      <th>C ctc col1</th>
      <th>C ctc col2</th>
      <th>C ctc col4</th>
      <th>C ctc col6</th>
      <th>C ctc col7</th>
      <th>C ctc col8</th>
      <th>C ctc col9</th>
      <th>C fast fin grade a</th>
      <th>C fast fin grade b</th>
      <th>C fast fin grade c</th>
      <th>C fast fin grade d</th>
      <th>C fast time grade c</th>
      <th>C fast time grade d</th>
      <th>C tax rate3</th>
      <th>C tax gl3</th>
      <th>C ar show totals</th>
      <th>C ar roll up</th>
      <th>C ar show specs</th>
      <th>C ar show hours</th>
      <th>C ar print est</th>
      <th>C ar zero as</th>
      <th>C ot weekend</th>
      <th>C ot holiday</th>
      <th>C pipeline col1</th>
      <th>C pipeline col2</th>
      <th>C pipeline col3</th>
      <th>C pipeline col4</th>
      <th>C pipeline col5</th>
      <th>C pipeline col6</th>
      <th>C pipeline col7</th>
      <th>C pipeline col8</th>
      <th>C pipeline col9</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.primaryKey %></td>
        <td><%= client.C_NUM %></td>
        <td><%= client.C_ORG %></td>
        <td><%= client.C_ADDRESS1 %></td>
        <td><%= client.C_ADDRESS2 %></td>
        <td><%= client.C_ADDRESS3 %></td>
        <td><%= client.C_ADDRESS4 %></td>
        <td><%= client.C_CONTACT1 %></td>
        <td><%= client.C_CONTACT2 %></td>
        <td><%= client.C_CONTACT3 %></td>
        <td><%= client.C_CONTACT4 %></td>
        <td><%= client.C_PHONE1 %></td>
        <td><%= client.C_PHONE2 %></td>
        <td><%= client.C_PHONE3 %></td>
        <td><%= client.C_PHONE4 %></td>
        <td><%= client.C_TERMS %></td>
        <td><%= client.C_TYPE %></td>
        <td><%= client.C_JOB_NUM %></td>
        <td><%= client.C_NOTE %></td>
        <td><%= client.C1 %></td>
        <td><%= client.C2 %></td>
        <td><%= client.C3 %></td>
        <td><%= client.C4 %></td>
        <td><%= client.C5 %></td>
        <td><%= client.C6 %></td>
        <td><%= client.C7 %></td>
        <td><%= client.C8 %></td>
        <td><%= client.C9 %></td>
        <td><%= client.C10 %></td>
        <td><%= client.C11 %></td>
        <td><%= client.C12 %></td>
        <td><%= client.C_ADDRESS5 %></td>
        <td><%= client.C_ADDRESS6 %></td>
        <td><%= client.C_JOB_ALERT %></td>
        <td><%= client.C_AR_ALERT %></td>
        <td><%= client.C_PAY_ALERT %></td>
        <td><%= client.C_YTD %></td>
        <td><%= client.C_NOTES %></td>
        <td><%= client.C_CURR %></td>
        <td><%= client.C_30 %></td>
        <td><%= client.C_60 %></td>
        <td><%= client.C_90 %></td>
        <td><%= client.C_CREDIT_LIMIT %></td>
        <td><%= client.C_LAST_AGING %></td>
        <td><%= client.C_MARKUP %></td>
        <td><%= client.C_RETAINER_BAL %></td>
        <td><%= client.C_RETAINER_CGL %></td>
        <td><%= client.C_TAX_RATE1 %></td>
        <td><%= client.C_TAX_RATE2 %></td>
        <td><%= client.C_TAX_AREA %></td>
        <td><%= client.C_TAX_GL1 %></td>
        <td><%= client.C_TAX_GL2 %></td>
        <td><%= client.C_BUDGET_1 %></td>
        <td><%= client.C_BUDGET_2 %></td>
        <td><%= client.C_BUDGET_3 %></td>
        <td><%= client.C_BUDGET_4 %></td>
        <td><%= client.C_BUDGET_5 %></td>
        <td><%= client.C_BUDGET_6 %></td>
        <td><%= client.C_BUDGET_7 %></td>
        <td><%= client.C_BUDGET_8 %></td>
        <td><%= client.C_BUDGET_9 %></td>
        <td><%= client.C_BUDGET_10 %></td>
        <td><%= client.C_BUDGET_11 %></td>
        <td><%= client.C_BUDGET_12 %></td>
        <td><%= client.C_BUDGET_YTD %></td>
        <td><%= client.C_LAST_YEAR1 %></td>
        <td><%= client.C_LAST_YEAR2 %></td>
        <td><%= client.C_LAST_YEAR3 %></td>
        <td><%= client.C_LAST_YEAR4 %></td>
        <td><%= client.C_LAST_YEAR5 %></td>
        <td><%= client.C_LAST_YEAR6 %></td>
        <td><%= client.C_LAST_YEAR7 %></td>
        <td><%= client.C_LAST_YEAR8 %></td>
        <td><%= client.C_LAST_YEAR9 %></td>
        <td><%= client.C_LAST_YEAR10 %></td>
        <td><%= client.C_LAST_YEAR11 %></td>
        <td><%= client.C_LAST_YEAR12 %></td>
        <td><%= client.C_IN_HOUSE %></td>
        <td><%= client.C_AE %></td>
        <td><%= client.C_BALN %></td>
        <td><%= client.C_BILL_RATE %></td>
        <td><%= client.C_FINANCE_CHG %></td>
        <td><%= client.C_FAX %></td>
        <td><%= client.C_LOGO %></td>
        <td><%= client.C_DIVISION %></td>
        <td><%= client.C_TO1 %></td>
        <td><%= client.C_TO2 %></td>
        <td><%= client.C_TO3 %></td>
        <td><%= client.C_TO4 %></td>
        <td><%= client.C_TO5 %></td>
        <td><%= client.C_COST_CENTER %></td>
        <td><%= client.C_RETAINER_DGL %></td>
        <td><%= client.C_RETAINER_PMTS %></td>
        <td><%= client.C_MEDIA_PLAN %></td>
        <td><%= client.C_PO %></td>
        <td><%= client.C_BILL_ADDRESS1 %></td>
        <td><%= client.C_BILL_ADDRESS2 %></td>
        <td><%= client.C_BILL_ADDRESS3 %></td>
        <td><%= client.C_BILL_ADDRESS4 %></td>
        <td><%= client.C_BILL_ADDRESS5 %></td>
        <td><%= client.C_BILL_ADDRESS6 %></td>
        <td><%= client.C_ACTIVE %></td>
        <td><%= client.C_MEDIA_JNUM %></td>
        <td><%= client.C_MEDIA_TASK %></td>
        <td><%= client.C_MEDIA_COMM %></td>
        <td><%= client.C_MEDIA_EST_NUM %></td>
        <td><%= client.C_TEAM_ACCESS %></td>
        <td><%= client.C_TEAM %></td>
        <td><%= client.C_MAIL_JOB_TO %></td>
        <td><%= client.C_MAIL_JOB_MSG %></td>
        <td><%= client.C_MAIL_JOB_CC %></td>
        <td><%= client.C_MAIL_JOB_BCC %></td>
        <td><%= client.C_MAIL_AR_TO %></td>
        <td><%= client.C_MAIL_AR_MSG %></td>
        <td><%= client.C_MAIL_AR_CC %></td>
        <td><%= client.C_MAIL_AR_BCC %></td>
        <td><%= client.C_MAIL_PMT_TO %></td>
        <td><%= client.C_MAIL_PMT_MSG %></td>
        <td><%= client.C_MAIL_PMT_CC %></td>
        <td><%= client.C_MAIL_PMT_BCC %></td>
        <td><%= client.C_UNBILLABLE %></td>
        <td><%= client.C_PC %></td>
        <td><%= client.C_OA_PERIOD %></td>
        <td><%= client.C_OA_MTD %></td>
        <td><%= client.C_OA_YTD %></td>
        <td><%= client.C_OA_LABOR %></td>
        <td><%= client.C_URL %></td>
        <td><%= client.C_EMAIL %></td>
        <td><%= client.C_MEDIA_DGL %></td>
        <td><%= client.C_MEDIA_DISC %></td>
        <td><%= client.C_SHIP_ADDRESS1 %></td>
        <td><%= client.C_SHIP_ADDRESS2 %></td>
        <td><%= client.C_SHIP_ADDRESS3 %></td>
        <td><%= client.C_SHIP_ADDRESS4 %></td>
        <td><%= client.C_SHIP_ADDRESS5 %></td>
        <td><%= client.C_SHIP_ADDRESS6 %></td>
        <td><%= client.C_CORP_ID %></td>
        <td><%= client.C_FIRST_CALL %></td>
        <td><%= client.C_LAST_CALL %></td>
        <td><%= client.C_CREDIT_HOLD %></td>
        <td><%= client.C_BIZDEV_AE %></td>
        <td><%= client.C_COMMISSIONABLE %></td>
        <td><%= client.C_SHOW_HOURS %></td>
        <td><%= client.C_EDITED_BY %></td>
        <td><%= client.C_EDITED_WHEN %></td>
        <td><%= client.C_TERMS1 %></td>
        <td><%= client.C_TERMS2 %></td>
        <td><%= client.C_TERMS3 %></td>
        <td><%= client.C_DGL %></td>
        <td><%= client.C_NCF_PREFIX %></td>
        <td><%= client.C_CTC_COL1 %></td>
        <td><%= client.C_CTC_COL2 %></td>
        <td><%= client.C_CTC_COL4 %></td>
        <td><%= client.C_CTC_COL6 %></td>
        <td><%= client.C_CTC_COL7 %></td>
        <td><%= client.C_CTC_COL8 %></td>
        <td><%= client.C_CTC_COL9 %></td>
        <td><%= client.C_FAST_FIN_GRADE_A %></td>
        <td><%= client.C_FAST_FIN_GRADE_B %></td>
        <td><%= client.C_FAST_FIN_GRADE_C %></td>
        <td><%= client.C_FAST_FIN_GRADE_D %></td>
        <td><%= client.C_FAST_TIME_GRADE_C %></td>
        <td><%= client.C_FAST_TIME_GRADE_D %></td>
        <td><%= client.C_TAX_RATE3 %></td>
        <td><%= client.C_TAX_GL3 %></td>
        <td><%= client.C_AR_SHOW_TOTALS %></td>
        <td><%= client.C_AR_ROLL_UP %></td>
        <td><%= client.C_AR_SHOW_SPECS %></td>
        <td><%= client.C_AR_SHOW_HOURS %></td>
        <td><%= client.C_AR_PRINT_EST %></td>
        <td><%= client.C_AR_ZERO_AS %></td>
        <td><%= client.C_OT_WEEKEND %></td>
        <td><%= client.C_OT_HOLIDAY %></td>
        <td><%= client.C_PIPELINE_COL1 %></td>
        <td><%= client.C_PIPELINE_COL2 %></td>
        <td><%= client.C_PIPELINE_COL3 %></td>
        <td><%= client.C_PIPELINE_COL4 %></td>
        <td><%= client.C_PIPELINE_COL5 %></td>
        <td><%= client.C_PIPELINE_COL6 %></td>
        <td><%= client.C_PIPELINE_COL7 %></td>
        <td><%= client.C_PIPELINE_COL8 %></td>
        <td><%= client.C_PIPELINE_COL9 %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
