<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @client.primaryKey %>
</p>

<p>
  <strong>C num:</strong>
  <%= @client.C_NUM %>
</p>

<p>
  <strong>C org:</strong>
  <%= @client.C_ORG %>
</p>

<p>
  <strong>C address1:</strong>
  <%= @client.C_ADDRESS1 %>
</p>

<p>
  <strong>C address2:</strong>
  <%= @client.C_ADDRESS2 %>
</p>

<p>
  <strong>C address3:</strong>
  <%= @client.C_ADDRESS3 %>
</p>

<p>
  <strong>C address4:</strong>
  <%= @client.C_ADDRESS4 %>
</p>

<p>
  <strong>C contact1:</strong>
  <%= @client.C_CONTACT1 %>
</p>

<p>
  <strong>C contact2:</strong>
  <%= @client.C_CONTACT2 %>
</p>

<p>
  <strong>C contact3:</strong>
  <%= @client.C_CONTACT3 %>
</p>

<p>
  <strong>C contact4:</strong>
  <%= @client.C_CONTACT4 %>
</p>

<p>
  <strong>C phone1:</strong>
  <%= @client.C_PHONE1 %>
</p>

<p>
  <strong>C phone2:</strong>
  <%= @client.C_PHONE2 %>
</p>

<p>
  <strong>C phone3:</strong>
  <%= @client.C_PHONE3 %>
</p>

<p>
  <strong>C phone4:</strong>
  <%= @client.C_PHONE4 %>
</p>

<p>
  <strong>C terms:</strong>
  <%= @client.C_TERMS %>
</p>

<p>
  <strong>C type:</strong>
  <%= @client.C_TYPE %>
</p>

<p>
  <strong>C job num:</strong>
  <%= @client.C_JOB_NUM %>
</p>

<p>
  <strong>C note:</strong>
  <%= @client.C_NOTE %>
</p>

<p>
  <strong>C1:</strong>
  <%= @client.C1 %>
</p>

<p>
  <strong>C2:</strong>
  <%= @client.C2 %>
</p>

<p>
  <strong>C3:</strong>
  <%= @client.C3 %>
</p>

<p>
  <strong>C4:</strong>
  <%= @client.C4 %>
</p>

<p>
  <strong>C5:</strong>
  <%= @client.C5 %>
</p>

<p>
  <strong>C6:</strong>
  <%= @client.C6 %>
</p>

<p>
  <strong>C7:</strong>
  <%= @client.C7 %>
</p>

<p>
  <strong>C8:</strong>
  <%= @client.C8 %>
</p>

<p>
  <strong>C9:</strong>
  <%= @client.C9 %>
</p>

<p>
  <strong>C10:</strong>
  <%= @client.C10 %>
</p>

<p>
  <strong>C11:</strong>
  <%= @client.C11 %>
</p>

<p>
  <strong>C12:</strong>
  <%= @client.C12 %>
</p>

<p>
  <strong>C address5:</strong>
  <%= @client.C_ADDRESS5 %>
</p>

<p>
  <strong>C address6:</strong>
  <%= @client.C_ADDRESS6 %>
</p>

<p>
  <strong>C job alert:</strong>
  <%= @client.C_JOB_ALERT %>
</p>

<p>
  <strong>C ar alert:</strong>
  <%= @client.C_AR_ALERT %>
</p>

<p>
  <strong>C pay alert:</strong>
  <%= @client.C_PAY_ALERT %>
</p>

<p>
  <strong>C ytd:</strong>
  <%= @client.C_YTD %>
</p>

<p>
  <strong>C notes:</strong>
  <%= @client.C_NOTES %>
</p>

<p>
  <strong>C curr:</strong>
  <%= @client.C_CURR %>
</p>

<p>
  <strong>C 30:</strong>
  <%= @client.C_30 %>
</p>

<p>
  <strong>C 60:</strong>
  <%= @client.C_60 %>
</p>

<p>
  <strong>C 90:</strong>
  <%= @client.C_90 %>
</p>

<p>
  <strong>C credit limit:</strong>
  <%= @client.C_CREDIT_LIMIT %>
</p>

<p>
  <strong>C last aging:</strong>
  <%= @client.C_LAST_AGING %>
</p>

<p>
  <strong>C markup:</strong>
  <%= @client.C_MARKUP %>
</p>

<p>
  <strong>C retainer bal:</strong>
  <%= @client.C_RETAINER_BAL %>
</p>

<p>
  <strong>C retainer cgl:</strong>
  <%= @client.C_RETAINER_CGL %>
</p>

<p>
  <strong>C tax rate1:</strong>
  <%= @client.C_TAX_RATE1 %>
</p>

<p>
  <strong>C tax rate2:</strong>
  <%= @client.C_TAX_RATE2 %>
</p>

<p>
  <strong>C tax area:</strong>
  <%= @client.C_TAX_AREA %>
</p>

<p>
  <strong>C tax gl1:</strong>
  <%= @client.C_TAX_GL1 %>
</p>

<p>
  <strong>C tax gl2:</strong>
  <%= @client.C_TAX_GL2 %>
</p>

<p>
  <strong>C budget 1:</strong>
  <%= @client.C_BUDGET_1 %>
</p>

<p>
  <strong>C budget 2:</strong>
  <%= @client.C_BUDGET_2 %>
</p>

<p>
  <strong>C budget 3:</strong>
  <%= @client.C_BUDGET_3 %>
</p>

<p>
  <strong>C budget 4:</strong>
  <%= @client.C_BUDGET_4 %>
</p>

<p>
  <strong>C budget 5:</strong>
  <%= @client.C_BUDGET_5 %>
</p>

<p>
  <strong>C budget 6:</strong>
  <%= @client.C_BUDGET_6 %>
</p>

<p>
  <strong>C budget 7:</strong>
  <%= @client.C_BUDGET_7 %>
</p>

<p>
  <strong>C budget 8:</strong>
  <%= @client.C_BUDGET_8 %>
</p>

<p>
  <strong>C budget 9:</strong>
  <%= @client.C_BUDGET_9 %>
</p>

<p>
  <strong>C budget 10:</strong>
  <%= @client.C_BUDGET_10 %>
</p>

<p>
  <strong>C budget 11:</strong>
  <%= @client.C_BUDGET_11 %>
</p>

<p>
  <strong>C budget 12:</strong>
  <%= @client.C_BUDGET_12 %>
</p>

<p>
  <strong>C budget ytd:</strong>
  <%= @client.C_BUDGET_YTD %>
</p>

<p>
  <strong>C last year1:</strong>
  <%= @client.C_LAST_YEAR1 %>
</p>

<p>
  <strong>C last year2:</strong>
  <%= @client.C_LAST_YEAR2 %>
</p>

<p>
  <strong>C last year3:</strong>
  <%= @client.C_LAST_YEAR3 %>
</p>

<p>
  <strong>C last year4:</strong>
  <%= @client.C_LAST_YEAR4 %>
</p>

<p>
  <strong>C last year5:</strong>
  <%= @client.C_LAST_YEAR5 %>
</p>

<p>
  <strong>C last year6:</strong>
  <%= @client.C_LAST_YEAR6 %>
</p>

<p>
  <strong>C last year7:</strong>
  <%= @client.C_LAST_YEAR7 %>
</p>

<p>
  <strong>C last year8:</strong>
  <%= @client.C_LAST_YEAR8 %>
</p>

<p>
  <strong>C last year9:</strong>
  <%= @client.C_LAST_YEAR9 %>
</p>

<p>
  <strong>C last year10:</strong>
  <%= @client.C_LAST_YEAR10 %>
</p>

<p>
  <strong>C last year11:</strong>
  <%= @client.C_LAST_YEAR11 %>
</p>

<p>
  <strong>C last year12:</strong>
  <%= @client.C_LAST_YEAR12 %>
</p>

<p>
  <strong>C in house:</strong>
  <%= @client.C_IN_HOUSE %>
</p>

<p>
  <strong>C ae:</strong>
  <%= @client.C_AE %>
</p>

<p>
  <strong>C baln:</strong>
  <%= @client.C_BALN %>
</p>

<p>
  <strong>C bill rate:</strong>
  <%= @client.C_BILL_RATE %>
</p>

<p>
  <strong>C finance chg:</strong>
  <%= @client.C_FINANCE_CHG %>
</p>

<p>
  <strong>C fax:</strong>
  <%= @client.C_FAX %>
</p>

<p>
  <strong>C logo:</strong>
  <%= @client.C_LOGO %>
</p>

<p>
  <strong>C division:</strong>
  <%= @client.C_DIVISION %>
</p>

<p>
  <strong>C to1:</strong>
  <%= @client.C_TO1 %>
</p>

<p>
  <strong>C to2:</strong>
  <%= @client.C_TO2 %>
</p>

<p>
  <strong>C to3:</strong>
  <%= @client.C_TO3 %>
</p>

<p>
  <strong>C to4:</strong>
  <%= @client.C_TO4 %>
</p>

<p>
  <strong>C to5:</strong>
  <%= @client.C_TO5 %>
</p>

<p>
  <strong>C cost center:</strong>
  <%= @client.C_COST_CENTER %>
</p>

<p>
  <strong>C retainer dgl:</strong>
  <%= @client.C_RETAINER_DGL %>
</p>

<p>
  <strong>C retainer pmts:</strong>
  <%= @client.C_RETAINER_PMTS %>
</p>

<p>
  <strong>C media plan:</strong>
  <%= @client.C_MEDIA_PLAN %>
</p>

<p>
  <strong>C po:</strong>
  <%= @client.C_PO %>
</p>

<p>
  <strong>C bill address1:</strong>
  <%= @client.C_BILL_ADDRESS1 %>
</p>

<p>
  <strong>C bill address2:</strong>
  <%= @client.C_BILL_ADDRESS2 %>
</p>

<p>
  <strong>C bill address3:</strong>
  <%= @client.C_BILL_ADDRESS3 %>
</p>

<p>
  <strong>C bill address4:</strong>
  <%= @client.C_BILL_ADDRESS4 %>
</p>

<p>
  <strong>C bill address5:</strong>
  <%= @client.C_BILL_ADDRESS5 %>
</p>

<p>
  <strong>C bill address6:</strong>
  <%= @client.C_BILL_ADDRESS6 %>
</p>

<p>
  <strong>C active:</strong>
  <%= @client.C_ACTIVE %>
</p>

<p>
  <strong>C media jnum:</strong>
  <%= @client.C_MEDIA_JNUM %>
</p>

<p>
  <strong>C media task:</strong>
  <%= @client.C_MEDIA_TASK %>
</p>

<p>
  <strong>C media comm:</strong>
  <%= @client.C_MEDIA_COMM %>
</p>

<p>
  <strong>C media est num:</strong>
  <%= @client.C_MEDIA_EST_NUM %>
</p>

<p>
  <strong>C team access:</strong>
  <%= @client.C_TEAM_ACCESS %>
</p>

<p>
  <strong>C team:</strong>
  <%= @client.C_TEAM %>
</p>

<p>
  <strong>C mail job to:</strong>
  <%= @client.C_MAIL_JOB_TO %>
</p>

<p>
  <strong>C mail job msg:</strong>
  <%= @client.C_MAIL_JOB_MSG %>
</p>

<p>
  <strong>C mail job cc:</strong>
  <%= @client.C_MAIL_JOB_CC %>
</p>

<p>
  <strong>C mail job bcc:</strong>
  <%= @client.C_MAIL_JOB_BCC %>
</p>

<p>
  <strong>C mail ar to:</strong>
  <%= @client.C_MAIL_AR_TO %>
</p>

<p>
  <strong>C mail ar msg:</strong>
  <%= @client.C_MAIL_AR_MSG %>
</p>

<p>
  <strong>C mail ar cc:</strong>
  <%= @client.C_MAIL_AR_CC %>
</p>

<p>
  <strong>C mail ar bcc:</strong>
  <%= @client.C_MAIL_AR_BCC %>
</p>

<p>
  <strong>C mail pmt to:</strong>
  <%= @client.C_MAIL_PMT_TO %>
</p>

<p>
  <strong>C mail pmt msg:</strong>
  <%= @client.C_MAIL_PMT_MSG %>
</p>

<p>
  <strong>C mail pmt cc:</strong>
  <%= @client.C_MAIL_PMT_CC %>
</p>

<p>
  <strong>C mail pmt bcc:</strong>
  <%= @client.C_MAIL_PMT_BCC %>
</p>

<p>
  <strong>C unbillable:</strong>
  <%= @client.C_UNBILLABLE %>
</p>

<p>
  <strong>C pc:</strong>
  <%= @client.C_PC %>
</p>

<p>
  <strong>C oa period:</strong>
  <%= @client.C_OA_PERIOD %>
</p>

<p>
  <strong>C oa mtd:</strong>
  <%= @client.C_OA_MTD %>
</p>

<p>
  <strong>C oa ytd:</strong>
  <%= @client.C_OA_YTD %>
</p>

<p>
  <strong>C oa labor:</strong>
  <%= @client.C_OA_LABOR %>
</p>

<p>
  <strong>C url:</strong>
  <%= @client.C_URL %>
</p>

<p>
  <strong>C email:</strong>
  <%= @client.C_EMAIL %>
</p>

<p>
  <strong>C media dgl:</strong>
  <%= @client.C_MEDIA_DGL %>
</p>

<p>
  <strong>C media disc:</strong>
  <%= @client.C_MEDIA_DISC %>
</p>

<p>
  <strong>C ship address1:</strong>
  <%= @client.C_SHIP_ADDRESS1 %>
</p>

<p>
  <strong>C ship address2:</strong>
  <%= @client.C_SHIP_ADDRESS2 %>
</p>

<p>
  <strong>C ship address3:</strong>
  <%= @client.C_SHIP_ADDRESS3 %>
</p>

<p>
  <strong>C ship address4:</strong>
  <%= @client.C_SHIP_ADDRESS4 %>
</p>

<p>
  <strong>C ship address5:</strong>
  <%= @client.C_SHIP_ADDRESS5 %>
</p>

<p>
  <strong>C ship address6:</strong>
  <%= @client.C_SHIP_ADDRESS6 %>
</p>

<p>
  <strong>C corp id:</strong>
  <%= @client.C_CORP_ID %>
</p>

<p>
  <strong>C first call:</strong>
  <%= @client.C_FIRST_CALL %>
</p>

<p>
  <strong>C last call:</strong>
  <%= @client.C_LAST_CALL %>
</p>

<p>
  <strong>C credit hold:</strong>
  <%= @client.C_CREDIT_HOLD %>
</p>

<p>
  <strong>C bizdev ae:</strong>
  <%= @client.C_BIZDEV_AE %>
</p>

<p>
  <strong>C commissionable:</strong>
  <%= @client.C_COMMISSIONABLE %>
</p>

<p>
  <strong>C show hours:</strong>
  <%= @client.C_SHOW_HOURS %>
</p>

<p>
  <strong>C edited by:</strong>
  <%= @client.C_EDITED_BY %>
</p>

<p>
  <strong>C edited when:</strong>
  <%= @client.C_EDITED_WHEN %>
</p>

<p>
  <strong>C terms1:</strong>
  <%= @client.C_TERMS1 %>
</p>

<p>
  <strong>C terms2:</strong>
  <%= @client.C_TERMS2 %>
</p>

<p>
  <strong>C terms3:</strong>
  <%= @client.C_TERMS3 %>
</p>

<p>
  <strong>C dgl:</strong>
  <%= @client.C_DGL %>
</p>

<p>
  <strong>C ncf prefix:</strong>
  <%= @client.C_NCF_PREFIX %>
</p>

<p>
  <strong>C ctc col1:</strong>
  <%= @client.C_CTC_COL1 %>
</p>

<p>
  <strong>C ctc col2:</strong>
  <%= @client.C_CTC_COL2 %>
</p>

<p>
  <strong>C ctc col4:</strong>
  <%= @client.C_CTC_COL4 %>
</p>

<p>
  <strong>C ctc col6:</strong>
  <%= @client.C_CTC_COL6 %>
</p>

<p>
  <strong>C ctc col7:</strong>
  <%= @client.C_CTC_COL7 %>
</p>

<p>
  <strong>C ctc col8:</strong>
  <%= @client.C_CTC_COL8 %>
</p>

<p>
  <strong>C ctc col9:</strong>
  <%= @client.C_CTC_COL9 %>
</p>

<p>
  <strong>C fast fin grade a:</strong>
  <%= @client.C_FAST_FIN_GRADE_A %>
</p>

<p>
  <strong>C fast fin grade b:</strong>
  <%= @client.C_FAST_FIN_GRADE_B %>
</p>

<p>
  <strong>C fast fin grade c:</strong>
  <%= @client.C_FAST_FIN_GRADE_C %>
</p>

<p>
  <strong>C fast fin grade d:</strong>
  <%= @client.C_FAST_FIN_GRADE_D %>
</p>

<p>
  <strong>C fast time grade c:</strong>
  <%= @client.C_FAST_TIME_GRADE_C %>
</p>

<p>
  <strong>C fast time grade d:</strong>
  <%= @client.C_FAST_TIME_GRADE_D %>
</p>

<p>
  <strong>C tax rate3:</strong>
  <%= @client.C_TAX_RATE3 %>
</p>

<p>
  <strong>C tax gl3:</strong>
  <%= @client.C_TAX_GL3 %>
</p>

<p>
  <strong>C ar show totals:</strong>
  <%= @client.C_AR_SHOW_TOTALS %>
</p>

<p>
  <strong>C ar roll up:</strong>
  <%= @client.C_AR_ROLL_UP %>
</p>

<p>
  <strong>C ar show specs:</strong>
  <%= @client.C_AR_SHOW_SPECS %>
</p>

<p>
  <strong>C ar show hours:</strong>
  <%= @client.C_AR_SHOW_HOURS %>
</p>

<p>
  <strong>C ar print est:</strong>
  <%= @client.C_AR_PRINT_EST %>
</p>

<p>
  <strong>C ar zero as:</strong>
  <%= @client.C_AR_ZERO_AS %>
</p>

<p>
  <strong>C ot weekend:</strong>
  <%= @client.C_OT_WEEKEND %>
</p>

<p>
  <strong>C ot holiday:</strong>
  <%= @client.C_OT_HOLIDAY %>
</p>

<p>
  <strong>C pipeline col1:</strong>
  <%= @client.C_PIPELINE_COL1 %>
</p>

<p>
  <strong>C pipeline col2:</strong>
  <%= @client.C_PIPELINE_COL2 %>
</p>

<p>
  <strong>C pipeline col3:</strong>
  <%= @client.C_PIPELINE_COL3 %>
</p>

<p>
  <strong>C pipeline col4:</strong>
  <%= @client.C_PIPELINE_COL4 %>
</p>

<p>
  <strong>C pipeline col5:</strong>
  <%= @client.C_PIPELINE_COL5 %>
</p>

<p>
  <strong>C pipeline col6:</strong>
  <%= @client.C_PIPELINE_COL6 %>
</p>

<p>
  <strong>C pipeline col7:</strong>
  <%= @client.C_PIPELINE_COL7 %>
</p>

<p>
  <strong>C pipeline col8:</strong>
  <%= @client.C_PIPELINE_COL8 %>
</p>

<p>
  <strong>C pipeline col9:</strong>
  <%= @client.C_PIPELINE_COL9 %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
