<%= simple_form_for(@po_template) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :PT_TEMPLATE %>
    <%= f.input :PT_JOB_NUM %>
    <%= f.input :PT_TASK %>
    <%= f.input :PT_DESC_LABEL %>
    <%= f.input :PT_DESC %>
    <%= f.input :PT_VENDOR_NUM %>
    <%= f.input :PT_COST %>
    <%= f.input :PT_MARKUP %>
    <%= f.input :PT_TAX %>
    <%= f.input :PT_GROSS %>
    <%= f.input :PT_TYPE %>
    <%= f.input :PT_SHIP_NOTE %>
    <%= f.input :PT_SHIP1 %>
    <%= f.input :PT_SHIP2 %>
    <%= f.input :PT_SHIP3 %>
    <%= f.input :PT_SHIP4 %>
    <%= f.input :PT_QTY_LABEL %>
    <%= f.input :PT_QTY %>
    <%= f.input :PT_APPROVAL1 %>
    <%= f.input :PT_APPROVAL2 %>
    <%= f.input :PT_APPROVAL3 %>
    <%= f.input :PT_TERMS1 %>
    <%= f.input :PT_TERMS2 %>
    <%= f.input :PT_TERMS3 %>
    <%= f.input :PT_PC %>
    <%= f.input :PT_TO1 %>
    <%= f.input :PT_TO2 %>
    <%= f.input :PT_TO3 %>
    <%= f.input :PT_TO4 %>
    <%= f.input :PT_TO5 %>
    <%= f.input :PT_VENDOR1 %>
    <%= f.input :PT_VENDOR2 %>
    <%= f.input :PT_VENDOR3 %>
    <%= f.input :PT_VENDOR4 %>
    <%= f.input :PT_VENDOR5 %>
    <%= f.input :PT_FIELD_LABEL1 %>
    <%= f.input :PT_FIELD_LABEL2 %>
    <%= f.input :PT_FIELD_LABEL3 %>
    <%= f.input :PT_FIELD_LABEL4 %>
    <%= f.input :PT_FIELD_LABEL5 %>
    <%= f.input :PT_FIELD1 %>
    <%= f.input :PT_FIELD2 %>
    <%= f.input :PT_FIELD3 %>
    <%= f.input :PT_FIELD4 %>
    <%= f.input :PT_FIELD5 %>
    <%= f.input :PT_TAX_EXEMPT %>
    <%= f.input :PT_DISCLAIMER %>
    <%= f.input :PT_ITEM_DESC %>
    <%= f.input :PT_KIND %>
    <%= f.input :PT_ADDED_BY %>
    <%= f.input :PT_ADDED_WHEN %>
    <%= f.input :PT_EDITED_BY %>
    <%= f.input :PT_EDITED_WHEN %>
    <%= f.input :PT_TERMS_CONDITIONS %>
    <%= f.input :PT_TERMS_HEADER %>
    <%= f.input :PT_TERMS_PRINT1 %>
    <%= f.input :PT_TERMS_PRINT2 %>
    <%= f.input :PT_TERMS_PRINT3 %>
    <%= f.input :PT_TERMS_PRINT4 %>
    <%= f.input :PT_TERMS_PRINT5 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
