<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @po_template.primaryKey %>
</p>

<p>
  <strong>Pt template:</strong>
  <%= @po_template.PT_TEMPLATE %>
</p>

<p>
  <strong>Pt job num:</strong>
  <%= @po_template.PT_JOB_NUM %>
</p>

<p>
  <strong>Pt task:</strong>
  <%= @po_template.PT_TASK %>
</p>

<p>
  <strong>Pt desc label:</strong>
  <%= @po_template.PT_DESC_LABEL %>
</p>

<p>
  <strong>Pt desc:</strong>
  <%= @po_template.PT_DESC %>
</p>

<p>
  <strong>Pt vendor num:</strong>
  <%= @po_template.PT_VENDOR_NUM %>
</p>

<p>
  <strong>Pt cost:</strong>
  <%= @po_template.PT_COST %>
</p>

<p>
  <strong>Pt markup:</strong>
  <%= @po_template.PT_MARKUP %>
</p>

<p>
  <strong>Pt tax:</strong>
  <%= @po_template.PT_TAX %>
</p>

<p>
  <strong>Pt gross:</strong>
  <%= @po_template.PT_GROSS %>
</p>

<p>
  <strong>Pt type:</strong>
  <%= @po_template.PT_TYPE %>
</p>

<p>
  <strong>Pt ship note:</strong>
  <%= @po_template.PT_SHIP_NOTE %>
</p>

<p>
  <strong>Pt ship1:</strong>
  <%= @po_template.PT_SHIP1 %>
</p>

<p>
  <strong>Pt ship2:</strong>
  <%= @po_template.PT_SHIP2 %>
</p>

<p>
  <strong>Pt ship3:</strong>
  <%= @po_template.PT_SHIP3 %>
</p>

<p>
  <strong>Pt ship4:</strong>
  <%= @po_template.PT_SHIP4 %>
</p>

<p>
  <strong>Pt qty label:</strong>
  <%= @po_template.PT_QTY_LABEL %>
</p>

<p>
  <strong>Pt qty:</strong>
  <%= @po_template.PT_QTY %>
</p>

<p>
  <strong>Pt approval1:</strong>
  <%= @po_template.PT_APPROVAL1 %>
</p>

<p>
  <strong>Pt approval2:</strong>
  <%= @po_template.PT_APPROVAL2 %>
</p>

<p>
  <strong>Pt approval3:</strong>
  <%= @po_template.PT_APPROVAL3 %>
</p>

<p>
  <strong>Pt terms1:</strong>
  <%= @po_template.PT_TERMS1 %>
</p>

<p>
  <strong>Pt terms2:</strong>
  <%= @po_template.PT_TERMS2 %>
</p>

<p>
  <strong>Pt terms3:</strong>
  <%= @po_template.PT_TERMS3 %>
</p>

<p>
  <strong>Pt pc:</strong>
  <%= @po_template.PT_PC %>
</p>

<p>
  <strong>Pt to1:</strong>
  <%= @po_template.PT_TO1 %>
</p>

<p>
  <strong>Pt to2:</strong>
  <%= @po_template.PT_TO2 %>
</p>

<p>
  <strong>Pt to3:</strong>
  <%= @po_template.PT_TO3 %>
</p>

<p>
  <strong>Pt to4:</strong>
  <%= @po_template.PT_TO4 %>
</p>

<p>
  <strong>Pt to5:</strong>
  <%= @po_template.PT_TO5 %>
</p>

<p>
  <strong>Pt vendor1:</strong>
  <%= @po_template.PT_VENDOR1 %>
</p>

<p>
  <strong>Pt vendor2:</strong>
  <%= @po_template.PT_VENDOR2 %>
</p>

<p>
  <strong>Pt vendor3:</strong>
  <%= @po_template.PT_VENDOR3 %>
</p>

<p>
  <strong>Pt vendor4:</strong>
  <%= @po_template.PT_VENDOR4 %>
</p>

<p>
  <strong>Pt vendor5:</strong>
  <%= @po_template.PT_VENDOR5 %>
</p>

<p>
  <strong>Pt field label1:</strong>
  <%= @po_template.PT_FIELD_LABEL1 %>
</p>

<p>
  <strong>Pt field label2:</strong>
  <%= @po_template.PT_FIELD_LABEL2 %>
</p>

<p>
  <strong>Pt field label3:</strong>
  <%= @po_template.PT_FIELD_LABEL3 %>
</p>

<p>
  <strong>Pt field label4:</strong>
  <%= @po_template.PT_FIELD_LABEL4 %>
</p>

<p>
  <strong>Pt field label5:</strong>
  <%= @po_template.PT_FIELD_LABEL5 %>
</p>

<p>
  <strong>Pt field1:</strong>
  <%= @po_template.PT_FIELD1 %>
</p>

<p>
  <strong>Pt field2:</strong>
  <%= @po_template.PT_FIELD2 %>
</p>

<p>
  <strong>Pt field3:</strong>
  <%= @po_template.PT_FIELD3 %>
</p>

<p>
  <strong>Pt field4:</strong>
  <%= @po_template.PT_FIELD4 %>
</p>

<p>
  <strong>Pt field5:</strong>
  <%= @po_template.PT_FIELD5 %>
</p>

<p>
  <strong>Pt tax exempt:</strong>
  <%= @po_template.PT_TAX_EXEMPT %>
</p>

<p>
  <strong>Pt disclaimer:</strong>
  <%= @po_template.PT_DISCLAIMER %>
</p>

<p>
  <strong>Pt item desc:</strong>
  <%= @po_template.PT_ITEM_DESC %>
</p>

<p>
  <strong>Pt kind:</strong>
  <%= @po_template.PT_KIND %>
</p>

<p>
  <strong>Pt added by:</strong>
  <%= @po_template.PT_ADDED_BY %>
</p>

<p>
  <strong>Pt added when:</strong>
  <%= @po_template.PT_ADDED_WHEN %>
</p>

<p>
  <strong>Pt edited by:</strong>
  <%= @po_template.PT_EDITED_BY %>
</p>

<p>
  <strong>Pt edited when:</strong>
  <%= @po_template.PT_EDITED_WHEN %>
</p>

<p>
  <strong>Pt terms conditions:</strong>
  <%= @po_template.PT_TERMS_CONDITIONS %>
</p>

<p>
  <strong>Pt terms header:</strong>
  <%= @po_template.PT_TERMS_HEADER %>
</p>

<p>
  <strong>Pt terms print1:</strong>
  <%= @po_template.PT_TERMS_PRINT1 %>
</p>

<p>
  <strong>Pt terms print2:</strong>
  <%= @po_template.PT_TERMS_PRINT2 %>
</p>

<p>
  <strong>Pt terms print3:</strong>
  <%= @po_template.PT_TERMS_PRINT3 %>
</p>

<p>
  <strong>Pt terms print4:</strong>
  <%= @po_template.PT_TERMS_PRINT4 %>
</p>

<p>
  <strong>Pt terms print5:</strong>
  <%= @po_template.PT_TERMS_PRINT5 %>
</p>

<%= link_to 'Edit', edit_po_template_path(@po_template) %> |
<%= link_to 'Back', po_templates_path %>
