<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @sched_rev.primaryKey %>
</p>

<p>
  <strong>Scv job num:</strong>
  <%= @sched_rev.SCV_JOB_NUM %>
</p>

<p>
  <strong>Scv task:</strong>
  <%= @sched_rev.SCV_TASK %>
</p>

<p>
  <strong>Scv sort:</strong>
  <%= @sched_rev.SCV_SORT %>
</p>

<p>
  <strong>Scv task name:</strong>
  <%= @sched_rev.SCV_TASK_NAME %>
</p>

<p>
  <strong>Scv task specs:</strong>
  <%= @sched_rev.SCV_TASK_SPECS %>
</p>

<p>
  <strong>Scv due date:</strong>
  <%= @sched_rev.SCV_DUE_DATE %>
</p>

<p>
  <strong>Scv due when:</strong>
  <%= @sched_rev.SCV_DUE_WHEN %>
</p>

<p>
  <strong>Scv resource:</strong>
  <%= @sched_rev.SCV_RESOURCE %>
</p>

<p>
  <strong>Scv lead time:</strong>
  <%= @sched_rev.SCV_LEAD_TIME %>
</p>

<p>
  <strong>Scv start date:</strong>
  <%= @sched_rev.SCV_START_DATE %>
</p>

<p>
  <strong>Scv date finished:</strong>
  <%= @sched_rev.SCV_DATE_FINISHED %>
</p>

<p>
  <strong>Scv finished:</strong>
  <%= @sched_rev.SCV_FINISHED %>
</p>

<p>
  <strong>Scv final:</strong>
  <%= @sched_rev.SCV_FINAL %>
</p>

<p>
  <strong>Scv revision:</strong>
  <%= @sched_rev.SCV_REVISION %>
</p>

<p>
  <strong>Scv j due date:</strong>
  <%= @sched_rev.SCV_J_DUE_DATE %>
</p>

<p>
  <strong>Scv j start date:</strong>
  <%= @sched_rev.SCV_J_START_DATE %>
</p>

<p>
  <strong>Scv revised by:</strong>
  <%= @sched_rev.SCV_REVISED_BY %>
</p>

<p>
  <strong>Scv revision date:</strong>
  <%= @sched_rev.SCV_REVISION_DATE %>
</p>

<p>
  <strong>Scv revision notes:</strong>
  <%= @sched_rev.SCV_REVISION_NOTES %>
</p>

<p>
  <strong>Scv reason:</strong>
  <%= @sched_rev.SCV_REASON %>
</p>

<p>
  <strong>Scv rev okd by:</strong>
  <%= @sched_rev.SCV_REV_OKD_BY %>
</p>

<p>
  <strong>Scv rev okd date:</strong>
  <%= @sched_rev.SCV_REV_OKD_DATE %>
</p>

<p>
  <strong>Scv kind:</strong>
  <%= @sched_rev.SCV_KIND %>
</p>

<p>
  <strong>Scv added by:</strong>
  <%= @sched_rev.SCV_ADDED_BY %>
</p>

<p>
  <strong>Scv added when:</strong>
  <%= @sched_rev.SCV_ADDED_WHEN %>
</p>

<p>
  <strong>Scv edited by:</strong>
  <%= @sched_rev.SCV_EDITED_BY %>
</p>

<p>
  <strong>Scv edited when:</strong>
  <%= @sched_rev.SCV_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_sched_rev_path(@sched_rev) %> |
<%= link_to 'Back', sched_revs_path %>
