<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @recur_ap.primaryKey %>
</p>

<p>
  <strong>Rap vendor:</strong>
  <%= @recur_ap.RAP_VENDOR %>
</p>

<p>
  <strong>Rap date:</strong>
  <%= @recur_ap.RAP_DATE %>
</p>

<p>
  <strong>Rap amt1:</strong>
  <%= @recur_ap.RAP_AMT1 %>
</p>

<p>
  <strong>Rap desc:</strong>
  <%= @recur_ap.RAP_DESC %>
</p>

<p>
  <strong>Rap cgl:</strong>
  <%= @recur_ap.RAP_CGL %>
</p>

<p>
  <strong>Rap dgl1:</strong>
  <%= @recur_ap.RAP_DGL1 %>
</p>

<p>
  <strong>Rap added by:</strong>
  <%= @recur_ap.RAP_ADDED_BY %>
</p>

<p>
  <strong>Rap inv num:</strong>
  <%= @recur_ap.RAP_INV_NUM %>
</p>

<p>
  <strong>Rap period:</strong>
  <%= @recur_ap.RAP_PERIOD %>
</p>

<p>
  <strong>Rap inv date:</strong>
  <%= @recur_ap.RAP_INV_DATE %>
</p>

<p>
  <strong>Rap dgl2:</strong>
  <%= @recur_ap.RAP_DGL2 %>
</p>

<p>
  <strong>Rap dgl3:</strong>
  <%= @recur_ap.RAP_DGL3 %>
</p>

<p>
  <strong>Rap dgl4:</strong>
  <%= @recur_ap.RAP_DGL4 %>
</p>

<p>
  <strong>Rap dgl5:</strong>
  <%= @recur_ap.RAP_DGL5 %>
</p>

<p>
  <strong>Rap dgl6:</strong>
  <%= @recur_ap.RAP_DGL6 %>
</p>

<p>
  <strong>Rap amt2:</strong>
  <%= @recur_ap.RAP_AMT2 %>
</p>

<p>
  <strong>Rap amt3:</strong>
  <%= @recur_ap.RAP_AMT3 %>
</p>

<p>
  <strong>Rap amt4:</strong>
  <%= @recur_ap.RAP_AMT4 %>
</p>

<p>
  <strong>Rap amt5:</strong>
  <%= @recur_ap.RAP_AMT5 %>
</p>

<p>
  <strong>Rap amt6:</strong>
  <%= @recur_ap.RAP_AMT6 %>
</p>

<p>
  <strong>Rap added when:</strong>
  <%= @recur_ap.RAP_ADDED_WHEN %>
</p>

<p>
  <strong>Rap edited by:</strong>
  <%= @recur_ap.RAP_EDITED_BY %>
</p>

<p>
  <strong>Rap edited when:</strong>
  <%= @recur_ap.RAP_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_recur_ap_path(@recur_ap) %> |
<%= link_to 'Back', recur_aps_path %>
