<%= simple_form_for(@cal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :CL_MONTH %>
    <%= f.input :CL_YEAR %>
    <%= f.input :CL_DAY01 %>
    <%= f.input :CL_DAY02 %>
    <%= f.input :CL_DAY03 %>
    <%= f.input :CL_DAY04 %>
    <%= f.input :CL_DAY05 %>
    <%= f.input :CL_DAY06 %>
    <%= f.input :CL_DAY07 %>
    <%= f.input :CL_DAY08 %>
    <%= f.input :CL_DAY09 %>
    <%= f.input :CL_DAY10 %>
    <%= f.input :CL_DAY11 %>
    <%= f.input :CL_DAY12 %>
    <%= f.input :CL_DAY13 %>
    <%= f.input :CL_DAY14 %>
    <%= f.input :CL_DAY15 %>
    <%= f.input :CL_DAY16 %>
    <%= f.input :CL_DAY17 %>
    <%= f.input :CL_DAY18 %>
    <%= f.input :CL_DAY19 %>
    <%= f.input :CL_DAY20 %>
    <%= f.input :CL_DAY21 %>
    <%= f.input :CL_DAY22 %>
    <%= f.input :CL_DAY23 %>
    <%= f.input :CL_DAY24 %>
    <%= f.input :CL_DAY25 %>
    <%= f.input :CL_DAY26 %>
    <%= f.input :CL_DAY27 %>
    <%= f.input :CL_DAY28 %>
    <%= f.input :CL_DAY29 %>
    <%= f.input :CL_DAY30 %>
    <%= f.input :CL_DAY31 %>
    <%= f.input :CL_DAY32 %>
    <%= f.input :CL_DAY33 %>
    <%= f.input :CL_DAY34 %>
    <%= f.input :CL_DAY35 %>
    <%= f.input :CL_DAY36 %>
    <%= f.input :CL_DAY37 %>
    <%= f.input :CL_DAY38 %>
    <%= f.input :CL_DAY39 %>
    <%= f.input :CL_DAY40 %>
    <%= f.input :CL_DAY41 %>
    <%= f.input :CL_DAY42 %>
    <%= f.input :CL_CAL01 %>
    <%= f.input :CL_CAL02 %>
    <%= f.input :CL_CAL03 %>
    <%= f.input :CL_CAL04 %>
    <%= f.input :CL_CAL05 %>
    <%= f.input :CL_CAL06 %>
    <%= f.input :CL_CAL07 %>
    <%= f.input :CL_CAL08 %>
    <%= f.input :CL_CAL09 %>
    <%= f.input :CL_CAL10 %>
    <%= f.input :CL_CAL11 %>
    <%= f.input :CL_CAL12 %>
    <%= f.input :CL_CAL13 %>
    <%= f.input :CL_CAL14 %>
    <%= f.input :CL_CAL15 %>
    <%= f.input :CL_CAL16 %>
    <%= f.input :CL_CAL17 %>
    <%= f.input :CL_CAL18 %>
    <%= f.input :CL_CAL19 %>
    <%= f.input :CL_CAL20 %>
    <%= f.input :CL_CAL21 %>
    <%= f.input :CL_CAL22 %>
    <%= f.input :CL_CAL23 %>
    <%= f.input :CL_CAL24 %>
    <%= f.input :CL_CAL25 %>
    <%= f.input :CL_CAL26 %>
    <%= f.input :CL_CAL27 %>
    <%= f.input :CL_CAL28 %>
    <%= f.input :CL_CAL29 %>
    <%= f.input :CL_CAL30 %>
    <%= f.input :CL_CAL31 %>
    <%= f.input :CL_CAL32 %>
    <%= f.input :CL_CAL33 %>
    <%= f.input :CL_CAL34 %>
    <%= f.input :CL_CAL35 %>
    <%= f.input :CL_CAL36 %>
    <%= f.input :CL_CAL37 %>
    <%= f.input :CL_CAL38 %>
    <%= f.input :CL_CAL39 %>
    <%= f.input :CL_CAL40 %>
    <%= f.input :CL_CAL41 %>
    <%= f.input :CL_CAL42 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
