<h1>Listing cals</h1>

<table>
  <thead>
    <tr>
      <th>Primarykey</th>
      <th>Cl month</th>
      <th>Cl year</th>
      <th>Cl day01</th>
      <th>Cl day02</th>
      <th>Cl day03</th>
      <th>Cl day04</th>
      <th>Cl day05</th>
      <th>Cl day06</th>
      <th>Cl day07</th>
      <th>Cl day08</th>
      <th>Cl day09</th>
      <th>Cl day10</th>
      <th>Cl day11</th>
      <th>Cl day12</th>
      <th>Cl day13</th>
      <th>Cl day14</th>
      <th>Cl day15</th>
      <th>Cl day16</th>
      <th>Cl day17</th>
      <th>Cl day18</th>
      <th>Cl day19</th>
      <th>Cl day20</th>
      <th>Cl day21</th>
      <th>Cl day22</th>
      <th>Cl day23</th>
      <th>Cl day24</th>
      <th>Cl day25</th>
      <th>Cl day26</th>
      <th>Cl day27</th>
      <th>Cl day28</th>
      <th>Cl day29</th>
      <th>Cl day30</th>
      <th>Cl day31</th>
      <th>Cl day32</th>
      <th>Cl day33</th>
      <th>Cl day34</th>
      <th>Cl day35</th>
      <th>Cl day36</th>
      <th>Cl day37</th>
      <th>Cl day38</th>
      <th>Cl day39</th>
      <th>Cl day40</th>
      <th>Cl day41</th>
      <th>Cl day42</th>
      <th>Cl cal01</th>
      <th>Cl cal02</th>
      <th>Cl cal03</th>
      <th>Cl cal04</th>
      <th>Cl cal05</th>
      <th>Cl cal06</th>
      <th>Cl cal07</th>
      <th>Cl cal08</th>
      <th>Cl cal09</th>
      <th>Cl cal10</th>
      <th>Cl cal11</th>
      <th>Cl cal12</th>
      <th>Cl cal13</th>
      <th>Cl cal14</th>
      <th>Cl cal15</th>
      <th>Cl cal16</th>
      <th>Cl cal17</th>
      <th>Cl cal18</th>
      <th>Cl cal19</th>
      <th>Cl cal20</th>
      <th>Cl cal21</th>
      <th>Cl cal22</th>
      <th>Cl cal23</th>
      <th>Cl cal24</th>
      <th>Cl cal25</th>
      <th>Cl cal26</th>
      <th>Cl cal27</th>
      <th>Cl cal28</th>
      <th>Cl cal29</th>
      <th>Cl cal30</th>
      <th>Cl cal31</th>
      <th>Cl cal32</th>
      <th>Cl cal33</th>
      <th>Cl cal34</th>
      <th>Cl cal35</th>
      <th>Cl cal36</th>
      <th>Cl cal37</th>
      <th>Cl cal38</th>
      <th>Cl cal39</th>
      <th>Cl cal40</th>
      <th>Cl cal41</th>
      <th>Cl cal42</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cals.each do |cal| %>
      <tr>
        <td><%= cal.primaryKey %></td>
        <td><%= cal.CL_MONTH %></td>
        <td><%= cal.CL_YEAR %></td>
        <td><%= cal.CL_DAY01 %></td>
        <td><%= cal.CL_DAY02 %></td>
        <td><%= cal.CL_DAY03 %></td>
        <td><%= cal.CL_DAY04 %></td>
        <td><%= cal.CL_DAY05 %></td>
        <td><%= cal.CL_DAY06 %></td>
        <td><%= cal.CL_DAY07 %></td>
        <td><%= cal.CL_DAY08 %></td>
        <td><%= cal.CL_DAY09 %></td>
        <td><%= cal.CL_DAY10 %></td>
        <td><%= cal.CL_DAY11 %></td>
        <td><%= cal.CL_DAY12 %></td>
        <td><%= cal.CL_DAY13 %></td>
        <td><%= cal.CL_DAY14 %></td>
        <td><%= cal.CL_DAY15 %></td>
        <td><%= cal.CL_DAY16 %></td>
        <td><%= cal.CL_DAY17 %></td>
        <td><%= cal.CL_DAY18 %></td>
        <td><%= cal.CL_DAY19 %></td>
        <td><%= cal.CL_DAY20 %></td>
        <td><%= cal.CL_DAY21 %></td>
        <td><%= cal.CL_DAY22 %></td>
        <td><%= cal.CL_DAY23 %></td>
        <td><%= cal.CL_DAY24 %></td>
        <td><%= cal.CL_DAY25 %></td>
        <td><%= cal.CL_DAY26 %></td>
        <td><%= cal.CL_DAY27 %></td>
        <td><%= cal.CL_DAY28 %></td>
        <td><%= cal.CL_DAY29 %></td>
        <td><%= cal.CL_DAY30 %></td>
        <td><%= cal.CL_DAY31 %></td>
        <td><%= cal.CL_DAY32 %></td>
        <td><%= cal.CL_DAY33 %></td>
        <td><%= cal.CL_DAY34 %></td>
        <td><%= cal.CL_DAY35 %></td>
        <td><%= cal.CL_DAY36 %></td>
        <td><%= cal.CL_DAY37 %></td>
        <td><%= cal.CL_DAY38 %></td>
        <td><%= cal.CL_DAY39 %></td>
        <td><%= cal.CL_DAY40 %></td>
        <td><%= cal.CL_DAY41 %></td>
        <td><%= cal.CL_DAY42 %></td>
        <td><%= cal.CL_CAL01 %></td>
        <td><%= cal.CL_CAL02 %></td>
        <td><%= cal.CL_CAL03 %></td>
        <td><%= cal.CL_CAL04 %></td>
        <td><%= cal.CL_CAL05 %></td>
        <td><%= cal.CL_CAL06 %></td>
        <td><%= cal.CL_CAL07 %></td>
        <td><%= cal.CL_CAL08 %></td>
        <td><%= cal.CL_CAL09 %></td>
        <td><%= cal.CL_CAL10 %></td>
        <td><%= cal.CL_CAL11 %></td>
        <td><%= cal.CL_CAL12 %></td>
        <td><%= cal.CL_CAL13 %></td>
        <td><%= cal.CL_CAL14 %></td>
        <td><%= cal.CL_CAL15 %></td>
        <td><%= cal.CL_CAL16 %></td>
        <td><%= cal.CL_CAL17 %></td>
        <td><%= cal.CL_CAL18 %></td>
        <td><%= cal.CL_CAL19 %></td>
        <td><%= cal.CL_CAL20 %></td>
        <td><%= cal.CL_CAL21 %></td>
        <td><%= cal.CL_CAL22 %></td>
        <td><%= cal.CL_CAL23 %></td>
        <td><%= cal.CL_CAL24 %></td>
        <td><%= cal.CL_CAL25 %></td>
        <td><%= cal.CL_CAL26 %></td>
        <td><%= cal.CL_CAL27 %></td>
        <td><%= cal.CL_CAL28 %></td>
        <td><%= cal.CL_CAL29 %></td>
        <td><%= cal.CL_CAL30 %></td>
        <td><%= cal.CL_CAL31 %></td>
        <td><%= cal.CL_CAL32 %></td>
        <td><%= cal.CL_CAL33 %></td>
        <td><%= cal.CL_CAL34 %></td>
        <td><%= cal.CL_CAL35 %></td>
        <td><%= cal.CL_CAL36 %></td>
        <td><%= cal.CL_CAL37 %></td>
        <td><%= cal.CL_CAL38 %></td>
        <td><%= cal.CL_CAL39 %></td>
        <td><%= cal.CL_CAL40 %></td>
        <td><%= cal.CL_CAL41 %></td>
        <td><%= cal.CL_CAL42 %></td>
        <td><%= link_to 'Show', cal %></td>
        <td><%= link_to 'Edit', edit_cal_path(cal) %></td>
        <td><%= link_to 'Destroy', cal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cal', new_cal_path %>
