<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @cal.primaryKey %>
</p>

<p>
  <strong>Cl month:</strong>
  <%= @cal.CL_MONTH %>
</p>

<p>
  <strong>Cl year:</strong>
  <%= @cal.CL_YEAR %>
</p>

<p>
  <strong>Cl day01:</strong>
  <%= @cal.CL_DAY01 %>
</p>

<p>
  <strong>Cl day02:</strong>
  <%= @cal.CL_DAY02 %>
</p>

<p>
  <strong>Cl day03:</strong>
  <%= @cal.CL_DAY03 %>
</p>

<p>
  <strong>Cl day04:</strong>
  <%= @cal.CL_DAY04 %>
</p>

<p>
  <strong>Cl day05:</strong>
  <%= @cal.CL_DAY05 %>
</p>

<p>
  <strong>Cl day06:</strong>
  <%= @cal.CL_DAY06 %>
</p>

<p>
  <strong>Cl day07:</strong>
  <%= @cal.CL_DAY07 %>
</p>

<p>
  <strong>Cl day08:</strong>
  <%= @cal.CL_DAY08 %>
</p>

<p>
  <strong>Cl day09:</strong>
  <%= @cal.CL_DAY09 %>
</p>

<p>
  <strong>Cl day10:</strong>
  <%= @cal.CL_DAY10 %>
</p>

<p>
  <strong>Cl day11:</strong>
  <%= @cal.CL_DAY11 %>
</p>

<p>
  <strong>Cl day12:</strong>
  <%= @cal.CL_DAY12 %>
</p>

<p>
  <strong>Cl day13:</strong>
  <%= @cal.CL_DAY13 %>
</p>

<p>
  <strong>Cl day14:</strong>
  <%= @cal.CL_DAY14 %>
</p>

<p>
  <strong>Cl day15:</strong>
  <%= @cal.CL_DAY15 %>
</p>

<p>
  <strong>Cl day16:</strong>
  <%= @cal.CL_DAY16 %>
</p>

<p>
  <strong>Cl day17:</strong>
  <%= @cal.CL_DAY17 %>
</p>

<p>
  <strong>Cl day18:</strong>
  <%= @cal.CL_DAY18 %>
</p>

<p>
  <strong>Cl day19:</strong>
  <%= @cal.CL_DAY19 %>
</p>

<p>
  <strong>Cl day20:</strong>
  <%= @cal.CL_DAY20 %>
</p>

<p>
  <strong>Cl day21:</strong>
  <%= @cal.CL_DAY21 %>
</p>

<p>
  <strong>Cl day22:</strong>
  <%= @cal.CL_DAY22 %>
</p>

<p>
  <strong>Cl day23:</strong>
  <%= @cal.CL_DAY23 %>
</p>

<p>
  <strong>Cl day24:</strong>
  <%= @cal.CL_DAY24 %>
</p>

<p>
  <strong>Cl day25:</strong>
  <%= @cal.CL_DAY25 %>
</p>

<p>
  <strong>Cl day26:</strong>
  <%= @cal.CL_DAY26 %>
</p>

<p>
  <strong>Cl day27:</strong>
  <%= @cal.CL_DAY27 %>
</p>

<p>
  <strong>Cl day28:</strong>
  <%= @cal.CL_DAY28 %>
</p>

<p>
  <strong>Cl day29:</strong>
  <%= @cal.CL_DAY29 %>
</p>

<p>
  <strong>Cl day30:</strong>
  <%= @cal.CL_DAY30 %>
</p>

<p>
  <strong>Cl day31:</strong>
  <%= @cal.CL_DAY31 %>
</p>

<p>
  <strong>Cl day32:</strong>
  <%= @cal.CL_DAY32 %>
</p>

<p>
  <strong>Cl day33:</strong>
  <%= @cal.CL_DAY33 %>
</p>

<p>
  <strong>Cl day34:</strong>
  <%= @cal.CL_DAY34 %>
</p>

<p>
  <strong>Cl day35:</strong>
  <%= @cal.CL_DAY35 %>
</p>

<p>
  <strong>Cl day36:</strong>
  <%= @cal.CL_DAY36 %>
</p>

<p>
  <strong>Cl day37:</strong>
  <%= @cal.CL_DAY37 %>
</p>

<p>
  <strong>Cl day38:</strong>
  <%= @cal.CL_DAY38 %>
</p>

<p>
  <strong>Cl day39:</strong>
  <%= @cal.CL_DAY39 %>
</p>

<p>
  <strong>Cl day40:</strong>
  <%= @cal.CL_DAY40 %>
</p>

<p>
  <strong>Cl day41:</strong>
  <%= @cal.CL_DAY41 %>
</p>

<p>
  <strong>Cl day42:</strong>
  <%= @cal.CL_DAY42 %>
</p>

<p>
  <strong>Cl cal01:</strong>
  <%= @cal.CL_CAL01 %>
</p>

<p>
  <strong>Cl cal02:</strong>
  <%= @cal.CL_CAL02 %>
</p>

<p>
  <strong>Cl cal03:</strong>
  <%= @cal.CL_CAL03 %>
</p>

<p>
  <strong>Cl cal04:</strong>
  <%= @cal.CL_CAL04 %>
</p>

<p>
  <strong>Cl cal05:</strong>
  <%= @cal.CL_CAL05 %>
</p>

<p>
  <strong>Cl cal06:</strong>
  <%= @cal.CL_CAL06 %>
</p>

<p>
  <strong>Cl cal07:</strong>
  <%= @cal.CL_CAL07 %>
</p>

<p>
  <strong>Cl cal08:</strong>
  <%= @cal.CL_CAL08 %>
</p>

<p>
  <strong>Cl cal09:</strong>
  <%= @cal.CL_CAL09 %>
</p>

<p>
  <strong>Cl cal10:</strong>
  <%= @cal.CL_CAL10 %>
</p>

<p>
  <strong>Cl cal11:</strong>
  <%= @cal.CL_CAL11 %>
</p>

<p>
  <strong>Cl cal12:</strong>
  <%= @cal.CL_CAL12 %>
</p>

<p>
  <strong>Cl cal13:</strong>
  <%= @cal.CL_CAL13 %>
</p>

<p>
  <strong>Cl cal14:</strong>
  <%= @cal.CL_CAL14 %>
</p>

<p>
  <strong>Cl cal15:</strong>
  <%= @cal.CL_CAL15 %>
</p>

<p>
  <strong>Cl cal16:</strong>
  <%= @cal.CL_CAL16 %>
</p>

<p>
  <strong>Cl cal17:</strong>
  <%= @cal.CL_CAL17 %>
</p>

<p>
  <strong>Cl cal18:</strong>
  <%= @cal.CL_CAL18 %>
</p>

<p>
  <strong>Cl cal19:</strong>
  <%= @cal.CL_CAL19 %>
</p>

<p>
  <strong>Cl cal20:</strong>
  <%= @cal.CL_CAL20 %>
</p>

<p>
  <strong>Cl cal21:</strong>
  <%= @cal.CL_CAL21 %>
</p>

<p>
  <strong>Cl cal22:</strong>
  <%= @cal.CL_CAL22 %>
</p>

<p>
  <strong>Cl cal23:</strong>
  <%= @cal.CL_CAL23 %>
</p>

<p>
  <strong>Cl cal24:</strong>
  <%= @cal.CL_CAL24 %>
</p>

<p>
  <strong>Cl cal25:</strong>
  <%= @cal.CL_CAL25 %>
</p>

<p>
  <strong>Cl cal26:</strong>
  <%= @cal.CL_CAL26 %>
</p>

<p>
  <strong>Cl cal27:</strong>
  <%= @cal.CL_CAL27 %>
</p>

<p>
  <strong>Cl cal28:</strong>
  <%= @cal.CL_CAL28 %>
</p>

<p>
  <strong>Cl cal29:</strong>
  <%= @cal.CL_CAL29 %>
</p>

<p>
  <strong>Cl cal30:</strong>
  <%= @cal.CL_CAL30 %>
</p>

<p>
  <strong>Cl cal31:</strong>
  <%= @cal.CL_CAL31 %>
</p>

<p>
  <strong>Cl cal32:</strong>
  <%= @cal.CL_CAL32 %>
</p>

<p>
  <strong>Cl cal33:</strong>
  <%= @cal.CL_CAL33 %>
</p>

<p>
  <strong>Cl cal34:</strong>
  <%= @cal.CL_CAL34 %>
</p>

<p>
  <strong>Cl cal35:</strong>
  <%= @cal.CL_CAL35 %>
</p>

<p>
  <strong>Cl cal36:</strong>
  <%= @cal.CL_CAL36 %>
</p>

<p>
  <strong>Cl cal37:</strong>
  <%= @cal.CL_CAL37 %>
</p>

<p>
  <strong>Cl cal38:</strong>
  <%= @cal.CL_CAL38 %>
</p>

<p>
  <strong>Cl cal39:</strong>
  <%= @cal.CL_CAL39 %>
</p>

<p>
  <strong>Cl cal40:</strong>
  <%= @cal.CL_CAL40 %>
</p>

<p>
  <strong>Cl cal41:</strong>
  <%= @cal.CL_CAL41 %>
</p>

<p>
  <strong>Cl cal42:</strong>
  <%= @cal.CL_CAL42 %>
</p>

<%= link_to 'Edit', edit_cal_path(@cal) %> |
<%= link_to 'Back', cals_path %>
