<%= simple_form_for(@dept) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :DEPT_OFFICE %>
    <%= f.input :DEPT_NAME %>
    <%= f.input :DEPT_DESC %>
    <%= f.input :DEPT_MGR %>
    <%= f.input :DEPT_NUM %>
    <%= f.input :DEPT_ADDED_BY %>
    <%= f.input :DEPT_ADDED_WHEN %>
    <%= f.input :DEPT_EDITED_BY %>
    <%= f.input :DEPT_EDITED_WHEN %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
