<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @je2.primaryKey %>
</p>

<p>
  <strong>Je2 date:</strong>
  <%= @je2.JE2_DATE %>
</p>

<p>
  <strong>Je2 ref:</strong>
  <%= @je2.JE2_REF %>
</p>

<p>
  <strong>Je2 posted:</strong>
  <%= @je2.JE2_POSTED %>
</p>

<p>
  <strong>Je2 desc:</strong>
  <%= @je2.JE2_DESC %>
</p>

<p>
  <strong>Je2 debit:</strong>
  <%= @je2.JE2_DEBIT %>
</p>

<p>
  <strong>Je2 credit:</strong>
  <%= @je2.JE2_CREDIT %>
</p>

<p>
  <strong>Je2 ac num:</strong>
  <%= @je2.JE2_AC_NUM %>
</p>

<p>
  <strong>Je2 period:</strong>
  <%= @je2.JE2_PERIOD %>
</p>

<p>
  <strong>Je2 job num:</strong>
  <%= @je2.JE2_JOB_NUM %>
</p>

<p>
  <strong>Je2 client num:</strong>
  <%= @je2.JE2_CLIENT_NUM %>
</p>

<p>
  <strong>Je2 reconcile:</strong>
  <%= @je2.JE2_RECONCILE %>
</p>

<p>
  <strong>Je2 source:</strong>
  <%= @je2.JE2_SOURCE %>
</p>

<p>
  <strong>Je2 added by:</strong>
  <%= @je2.JE2_ADDED_BY %>
</p>

<p>
  <strong>Je2 added when:</strong>
  <%= @je2.JE2_ADDED_WHEN %>
</p>

<p>
  <strong>Je2 vendor num:</strong>
  <%= @je2.JE2_VENDOR_NUM %>
</p>

<p>
  <strong>Je2 auto rev:</strong>
  <%= @je2.JE2_AUTO_REV %>
</p>

<p>
  <strong>Je2 auto acc:</strong>
  <%= @je2.JE2_AUTO_ACC %>
</p>

<p>
  <strong>Je2 temp rec:</strong>
  <%= @je2.JE2_TEMP_REC %>
</p>

<p>
  <strong>Je2 kind:</strong>
  <%= @je2.JE2_KIND %>
</p>

<p>
  <strong>Je2 pay batch:</strong>
  <%= @je2.JE2_PAY_BATCH %>
</p>

<p>
  <strong>Je2 gl rec:</strong>
  <%= @je2.JE2_GL_REC %>
</p>

<p>
  <strong>Je2 exported:</strong>
  <%= @je2.JE2_EXPORTED %>
</p>

<p>
  <strong>Je2 edited by:</strong>
  <%= @je2.JE2_EDITED_BY %>
</p>

<p>
  <strong>Je2 edited when:</strong>
  <%= @je2.JE2_EDITED_WHEN %>
</p>

<p>
  <strong>Je2 posted by:</strong>
  <%= @je2.JE2_POSTED_BY %>
</p>

<p>
  <strong>Je2 posted when:</strong>
  <%= @je2.JE2_POSTED_WHEN %>
</p>

<p>
  <strong>Je2 fiscal year:</strong>
  <%= @je2.JE2_FISCAL_YEAR %>
</p>

<p>
  <strong>Je2 period first day:</strong>
  <%= @je2.JE2_PERIOD_FIRST_DAY %>
</p>

<%= link_to 'Edit', edit_je2_path(@je2) %> |
<%= link_to 'Back', je2s_path %>
