<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @history.primaryKey %>
</p>

<p>
  <strong>H job num:</strong>
  <%= @history.H_JOB_NUM %>
</p>

<p>
  <strong>H num:</strong>
  <%= @history.H_NUM %>
</p>

<p>
  <strong>H who:</strong>
  <%= @history.H_WHO %>
</p>

<p>
  <strong>H date:</strong>
  <%= @history.H_DATE %>
</p>

<p>
  <strong>H desc:</strong>
  <%= @history.H_DESC %>
</p>

<p>
  <strong>H resolved:</strong>
  <%= @history.H_RESOLVED %>
</p>

<p>
  <strong>H for:</strong>
  <%= @history.H_FOR %>
</p>

<p>
  <strong>H user note:</strong>
  <%= @history.H_USER_NOTE %>
</p>

<p>
  <strong>H mail to:</strong>
  <%= @history.H_MAIL_TO %>
</p>

<p>
  <strong>H manual:</strong>
  <%= @history.H_MANUAL %>
</p>

<p>
  <strong>H added by:</strong>
  <%= @history.H_ADDED_BY %>
</p>

<p>
  <strong>H added when:</strong>
  <%= @history.H_ADDED_WHEN %>
</p>

<p>
  <strong>H edited by:</strong>
  <%= @history.H_EDITED_BY %>
</p>

<p>
  <strong>H edited when:</strong>
  <%= @history.H_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
