<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @check_item.primaryKey %>
</p>

<p>
  <strong>Cx ck date:</strong>
  <%= @check_item.CX_CK_DATE %>
</p>

<p>
  <strong>Cx net amt:</strong>
  <%= @check_item.CX_NET_AMT %>
</p>

<p>
  <strong>Cx dgl:</strong>
  <%= @check_item.CX_DGL %>
</p>

<p>
  <strong>Cx ap num:</strong>
  <%= @check_item.CX_AP_NUM %>
</p>

<p>
  <strong>Cx vendor num:</strong>
  <%= @check_item.CX_VENDOR_NUM %>
</p>

<p>
  <strong>Cx job num:</strong>
  <%= @check_item.CX_JOB_NUM %>
</p>

<p>
  <strong>Cx task:</strong>
  <%= @check_item.CX_TASK %>
</p>

<p>
  <strong>Cx posted:</strong>
  <%= @check_item.CX_POSTED %>
</p>

<p>
  <strong>Cx gross amt:</strong>
  <%= @check_item.CX_GROSS_AMT %>
</p>

<p>
  <strong>Cx ck num:</strong>
  <%= @check_item.CX_CK_NUM %>
</p>

<p>
  <strong>Cx comm amt:</strong>
  <%= @check_item.CX_COMM_AMT %>
</p>

<p>
  <strong>Cx markup pc:</strong>
  <%= @check_item.CX_MARKUP_PC %>
</p>

<p>
  <strong>Cx disc amt:</strong>
  <%= @check_item.CX_DISC_AMT %>
</p>

<p>
  <strong>Cx period:</strong>
  <%= @check_item.CX_PERIOD %>
</p>

<p>
  <strong>Cx cost  seq:</strong>
  <%= @check_item.CX_COST__SEQ %>
</p>

<p>
  <strong>Cx disc dgl:</strong>
  <%= @check_item.CX_DISC_DGL %>
</p>

<p>
  <strong>Cx billable:</strong>
  <%= @check_item.CX_BILLABLE %>
</p>

<p>
  <strong>Cx note:</strong>
  <%= @check_item.CX_NOTE %>
</p>

<p>
  <strong>Cx added by:</strong>
  <%= @check_item.CX_ADDED_BY %>
</p>

<p>
  <strong>Cx added when:</strong>
  <%= @check_item.CX_ADDED_WHEN %>
</p>

<p>
  <strong>Cx edited by:</strong>
  <%= @check_item.CX_EDITED_BY %>
</p>

<p>
  <strong>Cx edited when:</strong>
  <%= @check_item.CX_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_check_item_path(@check_item) %> |
<%= link_to 'Back', check_items_path %>
