<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @je.primaryKey %>
</p>

<p>
  <strong>Je date:</strong>
  <%= @je.JE_DATE %>
</p>

<p>
  <strong>Je ref:</strong>
  <%= @je.JE_REF %>
</p>

<p>
  <strong>Je posted:</strong>
  <%= @je.JE_POSTED %>
</p>

<p>
  <strong>Je desc:</strong>
  <%= @je.JE_DESC %>
</p>

<p>
  <strong>Je debit:</strong>
  <%= @je.JE_DEBIT %>
</p>

<p>
  <strong>Je credit:</strong>
  <%= @je.JE_CREDIT %>
</p>

<p>
  <strong>Je ac num:</strong>
  <%= @je.JE_AC_NUM %>
</p>

<p>
  <strong>Je period:</strong>
  <%= @je.JE_PERIOD %>
</p>

<p>
  <strong>Je job num:</strong>
  <%= @je.JE_JOB_NUM %>
</p>

<p>
  <strong>Je client num:</strong>
  <%= @je.JE_CLIENT_NUM %>
</p>

<p>
  <strong>Je reconcile:</strong>
  <%= @je.JE_RECONCILE %>
</p>

<p>
  <strong>Je source:</strong>
  <%= @je.JE_SOURCE %>
</p>

<p>
  <strong>Je added by:</strong>
  <%= @je.JE_ADDED_BY %>
</p>

<p>
  <strong>Je added when:</strong>
  <%= @je.JE_ADDED_WHEN %>
</p>

<p>
  <strong>Je vendor num:</strong>
  <%= @je.JE_VENDOR_NUM %>
</p>

<p>
  <strong>Je auto rev:</strong>
  <%= @je.JE_AUTO_REV %>
</p>

<p>
  <strong>Je auto acc:</strong>
  <%= @je.JE_AUTO_ACC %>
</p>

<p>
  <strong>Je temp rec:</strong>
  <%= @je.JE_TEMP_REC %>
</p>

<p>
  <strong>Je kind:</strong>
  <%= @je.JE_KIND %>
</p>

<p>
  <strong>Je pay batch:</strong>
  <%= @je.JE_PAY_BATCH %>
</p>

<p>
  <strong>Je gl rec:</strong>
  <%= @je.JE_GL_REC %>
</p>

<p>
  <strong>Je exported:</strong>
  <%= @je.JE_EXPORTED %>
</p>

<p>
  <strong>Je edited by:</strong>
  <%= @je.JE_EDITED_BY %>
</p>

<p>
  <strong>Je edited when:</strong>
  <%= @je.JE_EDITED_WHEN %>
</p>

<p>
  <strong>Je posted by:</strong>
  <%= @je.JE_POSTED_BY %>
</p>

<p>
  <strong>Je posted when:</strong>
  <%= @je.JE_POSTED_WHEN %>
</p>

<%= link_to 'Edit', edit_je_path(@je) %> |
<%= link_to 'Back', jes_path %>
