<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @ap.primaryKey %>
</p>

<p>
  <strong>Ap num:</strong>
  <%= @ap.AP_NUM %>
</p>

<p>
  <strong>Ap vendor num:</strong>
  <%= @ap.AP_VENDOR_NUM %>
</p>

<p>
  <strong>Ap date:</strong>
  <%= @ap.AP_DATE %>
</p>

<p>
  <strong>Ap key:</strong>
  <%= @ap.AP_KEY %>
</p>

<p>
  <strong>Ap desc:</strong>
  <%= @ap.AP_DESC %>
</p>

<p>
  <strong>Ap cgl:</strong>
  <%= @ap.AP_CGL %>
</p>

<p>
  <strong>Ap net amt:</strong>
  <%= @ap.AP_NET_AMT %>
</p>

<p>
  <strong>Ap comm net:</strong>
  <%= @ap.AP_COMM_NET %>
</p>

<p>
  <strong>Ap markup pc:</strong>
  <%= @ap.AP_MARKUP_PC %>
</p>

<p>
  <strong>Ap tax amt:</strong>
  <%= @ap.AP_TAX_AMT %>
</p>

<p>
  <strong>Ap gross amt:</strong>
  <%= @ap.AP_GROSS_AMT %>
</p>

<p>
  <strong>Ap posted:</strong>
  <%= @ap.AP_POSTED %>
</p>

<p>
  <strong>Ap total amt:</strong>
  <%= @ap.AP_TOTAL_AMT %>
</p>

<p>
  <strong>Ap disc date:</strong>
  <%= @ap.AP_DISC_DATE %>
</p>

<p>
  <strong>Ap jumpstart:</strong>
  <%= @ap.AP_JUMPSTART %>
</p>

<p>
  <strong>Ap added by:</strong>
  <%= @ap.AP_ADDED_BY %>
</p>

<p>
  <strong>Ap added when:</strong>
  <%= @ap.AP_ADDED_WHEN %>
</p>

<p>
  <strong>Ap voucher:</strong>
  <%= @ap.AP_VOUCHER %>
</p>

<p>
  <strong>Ap terms1:</strong>
  <%= @ap.AP_TERMS1 %>
</p>

<p>
  <strong>Ap terms2:</strong>
  <%= @ap.AP_TERMS2 %>
</p>

<p>
  <strong>Ap terms3:</strong>
  <%= @ap.AP_TERMS3 %>
</p>

<p>
  <strong>Ap pay date:</strong>
  <%= @ap.AP_PAY_DATE %>
</p>

<p>
  <strong>Ap period:</strong>
  <%= @ap.AP_PERIOD %>
</p>

<p>
  <strong>Ap current:</strong>
  <%= @ap.AP_CURRENT %>
</p>

<p>
  <strong>Ap 30:</strong>
  <%= @ap.AP_30 %>
</p>

<p>
  <strong>Ap 60:</strong>
  <%= @ap.AP_60 %>
</p>

<p>
  <strong>Ap 90:</strong>
  <%= @ap.AP_90 %>
</p>

<p>
  <strong>Ap auto pay:</strong>
  <%= @ap.AP_AUTO_PAY %>
</p>

<p>
  <strong>Ap gst gl:</strong>
  <%= @ap.AP_GST_GL %>
</p>

<p>
  <strong>Ap gst1:</strong>
  <%= @ap.AP_GST1 %>
</p>

<p>
  <strong>Ap gst2:</strong>
  <%= @ap.AP_GST2 %>
</p>

<p>
  <strong>Ap amt paid:</strong>
  <%= @ap.AP_AMT_PAID %>
</p>

<p>
  <strong>Ap client paid:</strong>
  <%= @ap.AP_CLIENT_PAID %>
</p>

<p>
  <strong>Ap close po:</strong>
  <%= @ap.AP_CLOSE_PO %>
</p>

<p>
  <strong>Ap unpaid:</strong>
  <%= @ap.AP_UNPAID %>
</p>

<p>
  <strong>Ap kind:</strong>
  <%= @ap.AP_KIND %>
</p>

<p>
  <strong>Ap disc taken:</strong>
  <%= @ap.AP_DISC_TAKEN %>
</p>

<p>
  <strong>Ap exported:</strong>
  <%= @ap.AP_EXPORTED %>
</p>

<p>
  <strong>Ap approved:</strong>
  <%= @ap.AP_APPROVED %>
</p>

<p>
  <strong>Ap approved by:</strong>
  <%= @ap.AP_APPROVED_BY %>
</p>

<p>
  <strong>Ap approved date:</strong>
  <%= @ap.AP_APPROVED_DATE %>
</p>

<p>
  <strong>Ap edited by:</strong>
  <%= @ap.AP_EDITED_BY %>
</p>

<p>
  <strong>Ap edited when:</strong>
  <%= @ap.AP_EDITED_WHEN %>
</p>

<p>
  <strong>Ap posted by:</strong>
  <%= @ap.AP_POSTED_BY %>
</p>

<p>
  <strong>Ap posted when:</strong>
  <%= @ap.AP_POSTED_WHEN %>
</p>

<p>
  <strong>Ap paid cc:</strong>
  <%= @ap.AP_PAID_CC %>
</p>

<p>
  <strong>Ap date paid:</strong>
  <%= @ap.AP_DATE_PAID %>
</p>

<p>
  <strong>Ap paid cc inv num:</strong>
  <%= @ap.AP_PAID_CC_INV_NUM %>
</p>

<p>
  <strong>Ap paid online:</strong>
  <%= @ap.AP_PAID_ONLINE %>
</p>

<%= link_to 'Edit', edit_ap_path(@ap) %> |
<%= link_to 'Back', aps_path %>
