<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @history_client.primaryKey %>
</p>

<p>
  <strong>Hc client num:</strong>
  <%= @history_client.HC_CLIENT_NUM %>
</p>

<p>
  <strong>Hc num:</strong>
  <%= @history_client.HC_NUM %>
</p>

<p>
  <strong>Hc added by:</strong>
  <%= @history_client.HC_ADDED_BY %>
</p>

<p>
  <strong>Hc date:</strong>
  <%= @history_client.HC_DATE %>
</p>

<p>
  <strong>Hc subject:</strong>
  <%= @history_client.HC_SUBJECT %>
</p>

<p>
  <strong>Hc ok:</strong>
  <%= @history_client.HC_OK %>
</p>

<p>
  <strong>Hc for:</strong>
  <%= @history_client.HC_FOR %>
</p>

<p>
  <strong>Hc desc:</strong>
  <%= @history_client.HC_DESC %>
</p>

<p>
  <strong>Hc mail to:</strong>
  <%= @history_client.HC_MAIL_TO %>
</p>

<p>
  <strong>Hc cc:</strong>
  <%= @history_client.HC_CC %>
</p>

<p>
  <strong>Hc bcc:</strong>
  <%= @history_client.HC_BCC %>
</p>

<p>
  <strong>Hc notified:</strong>
  <%= @history_client.HC_NOTIFIED %>
</p>

<p>
  <strong>Hc inv num:</strong>
  <%= @history_client.HC_INV_NUM %>
</p>

<p>
  <strong>Hc kind:</strong>
  <%= @history_client.HC_KIND %>
</p>

<p>
  <strong>Hc auto diary:</strong>
  <%= @history_client.HC_AUTO_DIARY %>
</p>

<p>
  <strong>Hc edited by:</strong>
  <%= @history_client.HC_EDITED_BY %>
</p>

<p>
  <strong>Hc edited when:</strong>
  <%= @history_client.HC_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_history_client_path(@history_client) %> |
<%= link_to 'Back', history_clients_path %>
