<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @media_est_item.primaryKey %>
</p>

<p>
  <strong>Mi me num:</strong>
  <%= @media_est_item.MI_ME_NUM %>
</p>

<p>
  <strong>Mi pub:</strong>
  <%= @media_est_item.MI_PUB %>
</p>

<p>
  <strong>Mi issue date:</strong>
  <%= @media_est_item.MI_ISSUE_DATE %>
</p>

<p>
  <strong>Mi close date:</strong>
  <%= @media_est_item.MI_CLOSE_DATE %>
</p>

<p>
  <strong>Mi ad name:</strong>
  <%= @media_est_item.MI_AD_NAME %>
</p>

<p>
  <strong>Mi ad size:</strong>
  <%= @media_est_item.MI_AD_SIZE %>
</p>

<p>
  <strong>Mi gross:</strong>
  <%= @media_est_item.MI_GROSS %>
</p>

<p>
  <strong>Mi cost:</strong>
  <%= @media_est_item.MI_COST %>
</p>

<p>
  <strong>Mi comm:</strong>
  <%= @media_est_item.MI_COMM %>
</p>

<p>
  <strong>Mi vendor num:</strong>
  <%= @media_est_item.MI_VENDOR_NUM %>
</p>

<p>
  <strong>Mi po num:</strong>
  <%= @media_est_item.MI_PO_NUM %>
</p>

<p>
  <strong>Mi po amt:</strong>
  <%= @media_est_item.MI_PO_AMT %>
</p>

<p>
  <strong>Mi po date:</strong>
  <%= @media_est_item.MI_PO_DATE %>
</p>

<p>
  <strong>Mi job num:</strong>
  <%= @media_est_item.MI_JOB_NUM %>
</p>

<p>
  <strong>Mi task:</strong>
  <%= @media_est_item.MI_TASK %>
</p>

<p>
  <strong>Mi status:</strong>
  <%= @media_est_item.MI_STATUS %>
</p>

<p>
  <strong>Mi notes:</strong>
  <%= @media_est_item.MI_NOTES %>
</p>

<p>
  <strong>Mi show notes:</strong>
  <%= @media_est_item.MI_SHOW_NOTES %>
</p>

<p>
  <strong>Mi materials due:</strong>
  <%= @media_est_item.MI_MATERIALS_DUE %>
</p>

<p>
  <strong>Mi period:</strong>
  <%= @media_est_item.MI_PERIOD %>
</p>

<p>
  <strong>Mi bill net:</strong>
  <%= @media_est_item.MI_BILL_NET %>
</p>

<p>
  <strong>Mi run date:</strong>
  <%= @media_est_item.MI_RUN_DATE %>
</p>

<p>
  <strong>Mi added by:</strong>
  <%= @media_est_item.MI_ADDED_BY %>
</p>

<p>
  <strong>Mi added when:</strong>
  <%= @media_est_item.MI_ADDED_WHEN %>
</p>

<p>
  <strong>Mi edited by:</strong>
  <%= @media_est_item.MI_EDITED_BY %>
</p>

<p>
  <strong>Mi edited when:</strong>
  <%= @media_est_item.MI_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_media_est_item_path(@media_est_item) %> |
<%= link_to 'Back', media_est_items_path %>
