<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @pc.primaryKey %>
</p>

<p>
  <strong>Pc num:</strong>
  <%= @pc.PC_NUM %>
</p>

<p>
  <strong>Pc name:</strong>
  <%= @pc.PC_NAME %>
</p>

<p>
  <strong>Pc desc:</strong>
  <%= @pc.PC_DESC %>
</p>

<p>
  <strong>Pc corp id:</strong>
  <%= @pc.PC_CORP_ID %>
</p>

<p>
  <strong>Pc added by:</strong>
  <%= @pc.PC_ADDED_BY %>
</p>

<p>
  <strong>Pc added when:</strong>
  <%= @pc.PC_ADDED_WHEN %>
</p>

<p>
  <strong>Pc edited by:</strong>
  <%= @pc.PC_EDITED_BY %>
</p>

<p>
  <strong>Pc edited when:</strong>
  <%= @pc.PC_EDITED_WHEN %>
</p>

<p>
  <strong>Pc bus unit:</strong>
  <%= @pc.PC_BUS_UNIT %>
</p>

<p>
  <strong>Pc outdated:</strong>
  <%= @pc.PC_OUTDATED %>
</p>

<p>
  <strong>Pc ar show:</strong>
  <%= @pc.PC_AR_SHOW %>
</p>

<p>
  <strong>Pc bill org:</strong>
  <%= @pc.PC_BILL_ORG %>
</p>

<p>
  <strong>Pc bill address1:</strong>
  <%= @pc.PC_BILL_ADDRESS1 %>
</p>

<p>
  <strong>Pc bill address2:</strong>
  <%= @pc.PC_BILL_ADDRESS2 %>
</p>

<p>
  <strong>Pc bill address3:</strong>
  <%= @pc.PC_BILL_ADDRESS3 %>
</p>

<%= link_to 'Edit', edit_pc_path(@pc) %> |
<%= link_to 'Back', pcs_path %>
