<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @contact.primaryKey %>
</p>

<p>
  <strong>Con c num:</strong>
  <%= @contact.CON_C_NUM %>
</p>

<p>
  <strong>Con v num:</strong>
  <%= @contact.CON_V_NUM %>
</p>

<p>
  <strong>Con kind:</strong>
  <%= @contact.CON_KIND %>
</p>

<p>
  <strong>Con first name:</strong>
  <%= @contact.CON_FIRST_NAME %>
</p>

<p>
  <strong>Con last name:</strong>
  <%= @contact.CON_LAST_NAME %>
</p>

<p>
  <strong>Con mid initial:</strong>
  <%= @contact.CON_MID_INITIAL %>
</p>

<p>
  <strong>Con sal:</strong>
  <%= @contact.CON_SAL %>
</p>

<p>
  <strong>Con title:</strong>
  <%= @contact.CON_TITLE %>
</p>

<p>
  <strong>Con decision maker:</strong>
  <%= @contact.CON_DECISION_MAKER %>
</p>

<p>
  <strong>Con phone work:</strong>
  <%= @contact.CON_PHONE_WORK %>
</p>

<p>
  <strong>Con phone home:</strong>
  <%= @contact.CON_PHONE_HOME %>
</p>

<p>
  <strong>Con phone mobile:</strong>
  <%= @contact.CON_PHONE_MOBILE %>
</p>

<p>
  <strong>Con fax work:</strong>
  <%= @contact.CON_FAX_WORK %>
</p>

<p>
  <strong>Con pager:</strong>
  <%= @contact.CON_PAGER %>
</p>

<p>
  <strong>Con note:</strong>
  <%= @contact.CON_NOTE %>
</p>

<p>
  <strong>Con email work:</strong>
  <%= @contact.CON_EMAIL_WORK %>
</p>

<p>
  <strong>Con email home:</strong>
  <%= @contact.CON_EMAIL_HOME %>
</p>

<p>
  <strong>Con date added:</strong>
  <%= @contact.CON_DATE_ADDED %>
</p>

<p>
  <strong>Con added by:</strong>
  <%= @contact.CON_ADDED_BY %>
</p>

<p>
  <strong>Con last call:</strong>
  <%= @contact.CON_LAST_CALL %>
</p>

<p>
  <strong>Con last by:</strong>
  <%= @contact.CON_LAST_BY %>
</p>

<p>
  <strong>Con fax home:</strong>
  <%= @contact.CON_FAX_HOME %>
</p>

<p>
  <strong>Con sales email:</strong>
  <%= @contact.CON_SALES_EMAIL %>
</p>

<p>
  <strong>Con org:</strong>
  <%= @contact.CON_ORG %>
</p>

<p>
  <strong>Con full name:</strong>
  <%= @contact.CON_FULL_NAME %>
</p>

<p>
  <strong>Con address1:</strong>
  <%= @contact.CON_ADDRESS1 %>
</p>

<p>
  <strong>Con address2:</strong>
  <%= @contact.CON_ADDRESS2 %>
</p>

<p>
  <strong>Con address3:</strong>
  <%= @contact.CON_ADDRESS3 %>
</p>

<p>
  <strong>Con address4:</strong>
  <%= @contact.CON_ADDRESS4 %>
</p>

<p>
  <strong>Con address5:</strong>
  <%= @contact.CON_ADDRESS5 %>
</p>

<p>
  <strong>Con address6:</strong>
  <%= @contact.CON_ADDRESS6 %>
</p>

<p>
  <strong>Con approve jobs:</strong>
  <%= @contact.CON_APPROVE_JOBS %>
</p>

<p>
  <strong>Con edited by:</strong>
  <%= @contact.CON_EDITED_BY %>
</p>

<p>
  <strong>Con edited when:</strong>
  <%= @contact.CON_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
