<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @project.primaryKey %>
</p>

<p>
  <strong>Proj client num:</strong>
  <%= @project.PROJ_CLIENT_NUM %>
</p>

<p>
  <strong>Proj name:</strong>
  <%= @project.PROJ_NAME %>
</p>

<p>
  <strong>Proj desc:</strong>
  <%= @project.PROJ_DESC %>
</p>

<p>
  <strong>Proj budget:</strong>
  <%= @project.PROJ_BUDGET %>
</p>

<p>
  <strong>Proj num1:</strong>
  <%= @project.PROJ_NUM1 %>
</p>

<p>
  <strong>Proj num2:</strong>
  <%= @project.PROJ_NUM2 %>
</p>

<p>
  <strong>Proj num3:</strong>
  <%= @project.PROJ_NUM3 %>
</p>

<p>
  <strong>Proj num4:</strong>
  <%= @project.PROJ_NUM4 %>
</p>

<p>
  <strong>Proj num5:</strong>
  <%= @project.PROJ_NUM5 %>
</p>

<p>
  <strong>Proj num6:</strong>
  <%= @project.PROJ_NUM6 %>
</p>

<p>
  <strong>Proj num7:</strong>
  <%= @project.PROJ_NUM7 %>
</p>

<p>
  <strong>Proj num8:</strong>
  <%= @project.PROJ_NUM8 %>
</p>

<p>
  <strong>Proj num9:</strong>
  <%= @project.PROJ_NUM9 %>
</p>

<p>
  <strong>Proj num10:</strong>
  <%= @project.PROJ_NUM10 %>
</p>

<p>
  <strong>Proj num11:</strong>
  <%= @project.PROJ_NUM11 %>
</p>

<p>
  <strong>Proj num12:</strong>
  <%= @project.PROJ_NUM12 %>
</p>

<p>
  <strong>Proj status:</strong>
  <%= @project.PROJ_STATUS %>
</p>

<p>
  <strong>Proj added by:</strong>
  <%= @project.PROJ_ADDED_BY %>
</p>

<p>
  <strong>Proj added when:</strong>
  <%= @project.PROJ_ADDED_WHEN %>
</p>

<p>
  <strong>Proj edited by:</strong>
  <%= @project.PROJ_EDITED_BY %>
</p>

<p>
  <strong>Proj edited when:</strong>
  <%= @project.PROJ_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
