<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @user_info_ctr.primaryKey %>
</p>

<p>
  <strong>Ui work:</strong>
  <%= @user_info_ctr.UI_WORK %>
</p>

<p>
  <strong>Ui proc1:</strong>
  <%= @user_info_ctr.UI_PROC1 %>
</p>

<p>
  <strong>Ui proc2:</strong>
  <%= @user_info_ctr.UI_PROC2 %>
</p>

<p>
  <strong>Ui proc3:</strong>
  <%= @user_info_ctr.UI_PROC3 %>
</p>

<p>
  <strong>Ui proc4:</strong>
  <%= @user_info_ctr.UI_PROC4 %>
</p>

<p>
  <strong>Ui proc5:</strong>
  <%= @user_info_ctr.UI_PROC5 %>
</p>

<p>
  <strong>Ui proc6:</strong>
  <%= @user_info_ctr.UI_PROC6 %>
</p>

<p>
  <strong>Ui label1:</strong>
  <%= @user_info_ctr.UI_LABEL1 %>
</p>

<p>
  <strong>Ui label2:</strong>
  <%= @user_info_ctr.UI_LABEL2 %>
</p>

<p>
  <strong>Ui label3:</strong>
  <%= @user_info_ctr.UI_LABEL3 %>
</p>

<p>
  <strong>Ui label4:</strong>
  <%= @user_info_ctr.UI_LABEL4 %>
</p>

<p>
  <strong>Ui label5:</strong>
  <%= @user_info_ctr.UI_LABEL5 %>
</p>

<p>
  <strong>Ui label6:</strong>
  <%= @user_info_ctr.UI_LABEL6 %>
</p>

<%= link_to 'Edit', edit_user_info_ctr_path(@user_info_ctr) %> |
<%= link_to 'Back', user_info_ctrs_path %>
