<%= simple_form_for(@retainer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :RET_CLIENT_NUM %>
    <%= f.input :RET_AMT1 %>
    <%= f.input :RET_AMT2 %>
    <%= f.input :RET_AMT3 %>
    <%= f.input :RET_AMT4 %>
    <%= f.input :RET_AMT5 %>
    <%= f.input :RET_AMT6 %>
    <%= f.input :RET_AMT7 %>
    <%= f.input :RET_AMT8 %>
    <%= f.input :RET_AMT9 %>
    <%= f.input :RET_AMT10 %>
    <%= f.input :RET_AMT11 %>
    <%= f.input :RET_AMT12 %>
    <%= f.input :RET_1 %>
    <%= f.input :RET_2 %>
    <%= f.input :RET_3 %>
    <%= f.input :RET_4 %>
    <%= f.input :RET_5 %>
    <%= f.input :RET_6 %>
    <%= f.input :RET_7 %>
    <%= f.input :RET_8 %>
    <%= f.input :RET_9 %>
    <%= f.input :RET_10 %>
    <%= f.input :RET_11 %>
    <%= f.input :RET_12 %>
    <%= f.input :RET_1_OK %>
    <%= f.input :RET_2_OK %>
    <%= f.input :RET_3_OK %>
    <%= f.input :RET_4_OK %>
    <%= f.input :RET_5_OK %>
    <%= f.input :RET_6_OK %>
    <%= f.input :RET_7_OK %>
    <%= f.input :RET_8_OK %>
    <%= f.input :RET_9_OK %>
    <%= f.input :RET_10_OK %>
    <%= f.input :RET_11_OK %>
    <%= f.input :RET_12_OK %>
    <%= f.input :RET_DATE1 %>
    <%= f.input :RET_DATE2 %>
    <%= f.input :RET_DATE3 %>
    <%= f.input :RET_DATE4 %>
    <%= f.input :RET_DATE5 %>
    <%= f.input :RET_DATE6 %>
    <%= f.input :RET_DATE7 %>
    <%= f.input :RET_DATE8 %>
    <%= f.input :RET_DATE9 %>
    <%= f.input :RET_DATE10 %>
    <%= f.input :RET_DATE11 %>
    <%= f.input :RET_DATE12 %>
    <%= f.input :RET_AR_NUM1 %>
    <%= f.input :RET_AR_NUM2 %>
    <%= f.input :RET_AR_NUM3 %>
    <%= f.input :RET_AR_NUM4 %>
    <%= f.input :RET_AR_NUM5 %>
    <%= f.input :RET_AR_NUM6 %>
    <%= f.input :RET_AR_NUM7 %>
    <%= f.input :RET_AR_NUM8 %>
    <%= f.input :RET_AR_NUM9 %>
    <%= f.input :RET_AR_NUM10 %>
    <%= f.input :RET_AR_NUM11 %>
    <%= f.input :RET_AR_NUM12 %>
    <%= f.input :RET_ADDED_BY %>
    <%= f.input :RET_ADDED_WHEN %>
    <%= f.input :RET_EDITED_BY %>
    <%= f.input :RET_EDITED_WHEN %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
