<p id="notice"><%= notice %></p>

<p>
  <strong>Ret client num:</strong>
  <%= @retainer.RET_CLIENT_NUM %>
</p>

<p>
  <strong>Ret amt1:</strong>
  <%= @retainer.RET_AMT1 %>
</p>

<p>
  <strong>Ret amt2:</strong>
  <%= @retainer.RET_AMT2 %>
</p>

<p>
  <strong>Ret amt3:</strong>
  <%= @retainer.RET_AMT3 %>
</p>

<p>
  <strong>Ret amt4:</strong>
  <%= @retainer.RET_AMT4 %>
</p>

<p>
  <strong>Ret amt5:</strong>
  <%= @retainer.RET_AMT5 %>
</p>

<p>
  <strong>Ret amt6:</strong>
  <%= @retainer.RET_AMT6 %>
</p>

<p>
  <strong>Ret amt7:</strong>
  <%= @retainer.RET_AMT7 %>
</p>

<p>
  <strong>Ret amt8:</strong>
  <%= @retainer.RET_AMT8 %>
</p>

<p>
  <strong>Ret amt9:</strong>
  <%= @retainer.RET_AMT9 %>
</p>

<p>
  <strong>Ret amt10:</strong>
  <%= @retainer.RET_AMT10 %>
</p>

<p>
  <strong>Ret amt11:</strong>
  <%= @retainer.RET_AMT11 %>
</p>

<p>
  <strong>Ret amt12:</strong>
  <%= @retainer.RET_AMT12 %>
</p>

<p>
  <strong>Ret 1:</strong>
  <%= @retainer.RET_1 %>
</p>

<p>
  <strong>Ret 2:</strong>
  <%= @retainer.RET_2 %>
</p>

<p>
  <strong>Ret 3:</strong>
  <%= @retainer.RET_3 %>
</p>

<p>
  <strong>Ret 4:</strong>
  <%= @retainer.RET_4 %>
</p>

<p>
  <strong>Ret 5:</strong>
  <%= @retainer.RET_5 %>
</p>

<p>
  <strong>Ret 6:</strong>
  <%= @retainer.RET_6 %>
</p>

<p>
  <strong>Ret 7:</strong>
  <%= @retainer.RET_7 %>
</p>

<p>
  <strong>Ret 8:</strong>
  <%= @retainer.RET_8 %>
</p>

<p>
  <strong>Ret 9:</strong>
  <%= @retainer.RET_9 %>
</p>

<p>
  <strong>Ret 10:</strong>
  <%= @retainer.RET_10 %>
</p>

<p>
  <strong>Ret 11:</strong>
  <%= @retainer.RET_11 %>
</p>

<p>
  <strong>Ret 12:</strong>
  <%= @retainer.RET_12 %>
</p>

<p>
  <strong>Ret 1 ok:</strong>
  <%= @retainer.RET_1_OK %>
</p>

<p>
  <strong>Ret 2 ok:</strong>
  <%= @retainer.RET_2_OK %>
</p>

<p>
  <strong>Ret 3 ok:</strong>
  <%= @retainer.RET_3_OK %>
</p>

<p>
  <strong>Ret 4 ok:</strong>
  <%= @retainer.RET_4_OK %>
</p>

<p>
  <strong>Ret 5 ok:</strong>
  <%= @retainer.RET_5_OK %>
</p>

<p>
  <strong>Ret 6 ok:</strong>
  <%= @retainer.RET_6_OK %>
</p>

<p>
  <strong>Ret 7 ok:</strong>
  <%= @retainer.RET_7_OK %>
</p>

<p>
  <strong>Ret 8 ok:</strong>
  <%= @retainer.RET_8_OK %>
</p>

<p>
  <strong>Ret 9 ok:</strong>
  <%= @retainer.RET_9_OK %>
</p>

<p>
  <strong>Ret 10 ok:</strong>
  <%= @retainer.RET_10_OK %>
</p>

<p>
  <strong>Ret 11 ok:</strong>
  <%= @retainer.RET_11_OK %>
</p>

<p>
  <strong>Ret 12 ok:</strong>
  <%= @retainer.RET_12_OK %>
</p>

<p>
  <strong>Ret date1:</strong>
  <%= @retainer.RET_DATE1 %>
</p>

<p>
  <strong>Ret date2:</strong>
  <%= @retainer.RET_DATE2 %>
</p>

<p>
  <strong>Ret date3:</strong>
  <%= @retainer.RET_DATE3 %>
</p>

<p>
  <strong>Ret date4:</strong>
  <%= @retainer.RET_DATE4 %>
</p>

<p>
  <strong>Ret date5:</strong>
  <%= @retainer.RET_DATE5 %>
</p>

<p>
  <strong>Ret date6:</strong>
  <%= @retainer.RET_DATE6 %>
</p>

<p>
  <strong>Ret date7:</strong>
  <%= @retainer.RET_DATE7 %>
</p>

<p>
  <strong>Ret date8:</strong>
  <%= @retainer.RET_DATE8 %>
</p>

<p>
  <strong>Ret date9:</strong>
  <%= @retainer.RET_DATE9 %>
</p>

<p>
  <strong>Ret date10:</strong>
  <%= @retainer.RET_DATE10 %>
</p>

<p>
  <strong>Ret date11:</strong>
  <%= @retainer.RET_DATE11 %>
</p>

<p>
  <strong>Ret date12:</strong>
  <%= @retainer.RET_DATE12 %>
</p>

<p>
  <strong>Ret ar num1:</strong>
  <%= @retainer.RET_AR_NUM1 %>
</p>

<p>
  <strong>Ret ar num2:</strong>
  <%= @retainer.RET_AR_NUM2 %>
</p>

<p>
  <strong>Ret ar num3:</strong>
  <%= @retainer.RET_AR_NUM3 %>
</p>

<p>
  <strong>Ret ar num4:</strong>
  <%= @retainer.RET_AR_NUM4 %>
</p>

<p>
  <strong>Ret ar num5:</strong>
  <%= @retainer.RET_AR_NUM5 %>
</p>

<p>
  <strong>Ret ar num6:</strong>
  <%= @retainer.RET_AR_NUM6 %>
</p>

<p>
  <strong>Ret ar num7:</strong>
  <%= @retainer.RET_AR_NUM7 %>
</p>

<p>
  <strong>Ret ar num8:</strong>
  <%= @retainer.RET_AR_NUM8 %>
</p>

<p>
  <strong>Ret ar num9:</strong>
  <%= @retainer.RET_AR_NUM9 %>
</p>

<p>
  <strong>Ret ar num10:</strong>
  <%= @retainer.RET_AR_NUM10 %>
</p>

<p>
  <strong>Ret ar num11:</strong>
  <%= @retainer.RET_AR_NUM11 %>
</p>

<p>
  <strong>Ret ar num12:</strong>
  <%= @retainer.RET_AR_NUM12 %>
</p>

<p>
  <strong>Ret added by:</strong>
  <%= @retainer.RET_ADDED_BY %>
</p>

<p>
  <strong>Ret added when:</strong>
  <%= @retainer.RET_ADDED_WHEN %>
</p>

<p>
  <strong>Ret edited by:</strong>
  <%= @retainer.RET_EDITED_BY %>
</p>

<p>
  <strong>Ret edited when:</strong>
  <%= @retainer.RET_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_retainer_path(@retainer) %> |
<%= link_to 'Back', retainers_path %>
