<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @media_brief.primaryKey %>
</p>

<p>
  <strong>Br campaign:</strong>
  <%= @media_brief.BR_CAMPAIGN %>
</p>

<p>
  <strong>Br name:</strong>
  <%= @media_brief.BR_NAME %>
</p>

<p>
  <strong>Br desc:</strong>
  <%= @media_brief.BR_DESC %>
</p>

<p>
  <strong>Br budget amt:</strong>
  <%= @media_brief.BR_BUDGET_AMT %>
</p>

<p>
  <strong>Br cost amt:</strong>
  <%= @media_brief.BR_COST_AMT %>
</p>

<p>
  <strong>Br camp start:</strong>
  <%= @media_brief.BR_CAMP_START %>
</p>

<p>
  <strong>Br camp end:</strong>
  <%= @media_brief.BR_CAMP_END %>
</p>

<p>
  <strong>Br spots:</strong>
  <%= @media_brief.BR_SPOTS %>
</p>

<p>
  <strong>Br ratings:</strong>
  <%= @media_brief.BR_RATINGS %>
</p>

<p>
  <strong>Br cost:</strong>
  <%= @media_brief.BR_COST %>
</p>

<p>
  <strong>Br cpp:</strong>
  <%= @media_brief.BR_CPP %>
</p>

<p>
  <strong>Br cps:</strong>
  <%= @media_brief.BR_CPS %>
</p>

<p>
  <strong>Br rf:</strong>
  <%= @media_brief.BR_RF %>
</p>

<p>
  <strong>Br client num:</strong>
  <%= @media_brief.BR_CLIENT_NUM %>
</p>

<p>
  <strong>Br due date:</strong>
  <%= @media_brief.BR_DUE_DATE %>
</p>

<p>
  <strong>Br objective:</strong>
  <%= @media_brief.BR_OBJECTIVE %>
</p>

<p>
  <strong>Br target age:</strong>
  <%= @media_brief.BR_TARGET_AGE %>
</p>

<p>
  <strong>Br target gender:</strong>
  <%= @media_brief.BR_TARGET_GENDER %>
</p>

<p>
  <strong>Br target occupation:</strong>
  <%= @media_brief.BR_TARGET_OCCUPATION %>
</p>

<p>
  <strong>Br target lifestyle:</strong>
  <%= @media_brief.BR_TARGET_LIFESTYLE %>
</p>

<p>
  <strong>Br media rec:</strong>
  <%= @media_brief.BR_MEDIA_REC %>
</p>

<p>
  <strong>Br media sched:</strong>
  <%= @media_brief.BR_MEDIA_SCHED %>
</p>

<p>
  <strong>Br exhibits:</strong>
  <%= @media_brief.BR_EXHIBITS %>
</p>

<p>
  <strong>Br bud bcast:</strong>
  <%= @media_brief.BR_BUD_BCAST %>
</p>

<p>
  <strong>Br bud cable:</strong>
  <%= @media_brief.BR_BUD_CABLE %>
</p>

<p>
  <strong>Br bud radio:</strong>
  <%= @media_brief.BR_BUD_RADIO %>
</p>

<p>
  <strong>Br bud news:</strong>
  <%= @media_brief.BR_BUD_NEWS %>
</p>

<p>
  <strong>Br bud mag:</strong>
  <%= @media_brief.BR_BUD_MAG %>
</p>

<p>
  <strong>Br bud out:</strong>
  <%= @media_brief.BR_BUD_OUT %>
</p>

<p>
  <strong>Br bud inter:</strong>
  <%= @media_brief.BR_BUD_INTER %>
</p>

<p>
  <strong>Br bud other:</strong>
  <%= @media_brief.BR_BUD_OTHER %>
</p>

<p>
  <strong>Br added by:</strong>
  <%= @media_brief.BR_ADDED_BY %>
</p>

<p>
  <strong>Br ae:</strong>
  <%= @media_brief.BR_AE %>
</p>

<p>
  <strong>Br rep:</strong>
  <%= @media_brief.BR_REP %>
</p>

<p>
  <strong>Br status:</strong>
  <%= @media_brief.BR_STATUS %>
</p>

<p>
  <strong>Br status num:</strong>
  <%= @media_brief.BR_STATUS_NUM %>
</p>

<p>
  <strong>Br edited by:</strong>
  <%= @media_brief.BR_EDITED_BY %>
</p>

<p>
  <strong>Br edited when:</strong>
  <%= @media_brief.BR_EDITED_WHEN %>
</p>

<p>
  <strong>Br approved:</strong>
  <%= @media_brief.BR_APPROVED %>
</p>

<p>
  <strong>Br approved by:</strong>
  <%= @media_brief.BR_APPROVED_BY %>
</p>

<p>
  <strong>Br approved date:</strong>
  <%= @media_brief.BR_APPROVED_DATE %>
</p>

<%= link_to 'Edit', edit_media_brief_path(@media_brief) %> |
<%= link_to 'Back', media_briefs_path %>
