<%= simple_form_for(@time_card) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :TIME_START1 %>
    <%= f.input :TIME_START2 %>
    <%= f.input :TIME_START3 %>
    <%= f.input :TIME_START4 %>
    <%= f.input :TIME_START5 %>
    <%= f.input :TIME_START6 %>
    <%= f.input :TIME_START7 %>
    <%= f.input :TIME_START8 %>
    <%= f.input :TIME_START9 %>
    <%= f.input :TIME_START10 %>
    <%= f.input :TIME_START11 %>
    <%= f.input :TIME_START12 %>
    <%= f.input :TIME_START13 %>
    <%= f.input :TIME_START14 %>
    <%= f.input :TIME_START15 %>
    <%= f.input :TIME_START16 %>
    <%= f.input :TIME_START17 %>
    <%= f.input :TIME_START18 %>
    <%= f.input :TIME_START19 %>
    <%= f.input :TIME_START20 %>
    <%= f.input :TIME_END1 %>
    <%= f.input :TIME_END2 %>
    <%= f.input :TIME_END3 %>
    <%= f.input :TIME_END4 %>
    <%= f.input :TIME_END5 %>
    <%= f.input :TIME_END6 %>
    <%= f.input :TIME_END7 %>
    <%= f.input :TIME_END8 %>
    <%= f.input :TIME_END9 %>
    <%= f.input :TIME_END10 %>
    <%= f.input :TIME_END11 %>
    <%= f.input :TIME_END12 %>
    <%= f.input :TIME_END13 %>
    <%= f.input :TIME_END14 %>
    <%= f.input :TIME_END15 %>
    <%= f.input :TIME_END16 %>
    <%= f.input :TIME_END17 %>
    <%= f.input :TIME_END18 %>
    <%= f.input :TIME_END19 %>
    <%= f.input :TIME_END20 %>
    <%= f.input :TIME_JOB1 %>
    <%= f.input :TIME_JOB2 %>
    <%= f.input :TIME_JOB3 %>
    <%= f.input :TIME_JOB4 %>
    <%= f.input :TIME_JOB5 %>
    <%= f.input :TIME_JOB6 %>
    <%= f.input :TIME_JOB7 %>
    <%= f.input :TIME_JOB8 %>
    <%= f.input :TIME_JOB9 %>
    <%= f.input :TIME_JOB10 %>
    <%= f.input :TIME_JOB11 %>
    <%= f.input :TIME_JOB12 %>
    <%= f.input :TIME_JOB13 %>
    <%= f.input :TIME_JOB14 %>
    <%= f.input :TIME_JOB15 %>
    <%= f.input :TIME_JOB16 %>
    <%= f.input :TIME_JOB17 %>
    <%= f.input :TIME_JOB18 %>
    <%= f.input :TIME_JOB19 %>
    <%= f.input :TIME_JOB20 %>
    <%= f.input :TIME_TASK1 %>
    <%= f.input :TIME_TASK2 %>
    <%= f.input :TIME_TASK3 %>
    <%= f.input :TIME_TASK4 %>
    <%= f.input :TIME_TASK5 %>
    <%= f.input :TIME_TASK6 %>
    <%= f.input :TIME_TASK7 %>
    <%= f.input :TIME_TASK8 %>
    <%= f.input :TIME_TASK9 %>
    <%= f.input :TIME_TASK10 %>
    <%= f.input :TIME_TASK11 %>
    <%= f.input :TIME_TASK12 %>
    <%= f.input :TIME_TASK13 %>
    <%= f.input :TIME_TASK14 %>
    <%= f.input :TIME_TASK15 %>
    <%= f.input :TIME_TASK16 %>
    <%= f.input :TIME_TASK17 %>
    <%= f.input :TIME_TASK18 %>
    <%= f.input :TIME_TASK19 %>
    <%= f.input :TIME_TASK20 %>
    <%= f.input :TIME_HOURS1 %>
    <%= f.input :TIME_HOURS2 %>
    <%= f.input :TIME_HOURS3 %>
    <%= f.input :TIME_HOURS4 %>
    <%= f.input :TIME_HOURS5 %>
    <%= f.input :TIME_HOURS6 %>
    <%= f.input :TIME_HOURS7 %>
    <%= f.input :TIME_HOURS8 %>
    <%= f.input :TIME_HOURS9 %>
    <%= f.input :TIME_HOURS10 %>
    <%= f.input :TIME_HOURS11 %>
    <%= f.input :TIME_HOURS12 %>
    <%= f.input :TIME_HOURS13 %>
    <%= f.input :TIME_HOURS14 %>
    <%= f.input :TIME_HOURS15 %>
    <%= f.input :TIME_HOURS16 %>
    <%= f.input :TIME_HOURS17 %>
    <%= f.input :TIME_HOURS18 %>
    <%= f.input :TIME_HOURS19 %>
    <%= f.input :TIME_HOURS20 %>
    <%= f.input :TIME_DESC1 %>
    <%= f.input :TIME_DESC2 %>
    <%= f.input :TIME_DESC3 %>
    <%= f.input :TIME_DESC4 %>
    <%= f.input :TIME_DESC5 %>
    <%= f.input :TIME_DESC6 %>
    <%= f.input :TIME_DESC7 %>
    <%= f.input :TIME_DESC8 %>
    <%= f.input :TIME_DESC9 %>
    <%= f.input :TIME_DESC10 %>
    <%= f.input :TIME_DESC11 %>
    <%= f.input :TIME_DESC12 %>
    <%= f.input :TIME_DESC13 %>
    <%= f.input :TIME_DESC14 %>
    <%= f.input :TIME_DESC15 %>
    <%= f.input :TIME_DESC16 %>
    <%= f.input :TIME_DESC17 %>
    <%= f.input :TIME_DESC18 %>
    <%= f.input :TIME_DESC19 %>
    <%= f.input :TIME_DESC20 %>
    <%= f.input :TIME_BILLABLE1 %>
    <%= f.input :TIME_BILLABLE2 %>
    <%= f.input :TIME_BILLABLE3 %>
    <%= f.input :TIME_BILLABLE4 %>
    <%= f.input :TIME_BILLABLE5 %>
    <%= f.input :TIME_BILLABLE6 %>
    <%= f.input :TIME_BILLABLE7 %>
    <%= f.input :TIME_BILLABLE8 %>
    <%= f.input :TIME_BILLABLE9 %>
    <%= f.input :TIME_BILLABLE10 %>
    <%= f.input :TIME_BILLABLE11 %>
    <%= f.input :TIME_BILLABLE12 %>
    <%= f.input :TIME_BILLABLE13 %>
    <%= f.input :TIME_BILLABLE14 %>
    <%= f.input :TIME_BILLABLE15 %>
    <%= f.input :TIME_BILLABLE16 %>
    <%= f.input :TIME_BILLABLE17 %>
    <%= f.input :TIME_BILLABLE18 %>
    <%= f.input :TIME_BILLABLE19 %>
    <%= f.input :TIME_BILLABLE20 %>
    <%= f.input :TIME_STAFF %>
    <%= f.input :TIME_DATE %>
    <%= f.input :TIME_KEY %>
    <%= f.input :TIME_POSTED %>
    <%= f.input :TIME_OT1 %>
    <%= f.input :TIME_OT2 %>
    <%= f.input :TIME_OT3 %>
    <%= f.input :TIME_OT4 %>
    <%= f.input :TIME_OT5 %>
    <%= f.input :TIME_OT6 %>
    <%= f.input :TIME_OT7 %>
    <%= f.input :TIME_OT8 %>
    <%= f.input :TIME_OT9 %>
    <%= f.input :TIME_OT10 %>
    <%= f.input :TIME_OT11 %>
    <%= f.input :TIME_OT12 %>
    <%= f.input :TIME_OT13 %>
    <%= f.input :TIME_OT14 %>
    <%= f.input :TIME_OT15 %>
    <%= f.input :TIME_OT16 %>
    <%= f.input :TIME_OT17 %>
    <%= f.input :TIME_OT18 %>
    <%= f.input :TIME_OT19 %>
    <%= f.input :TIME_OT20 %>
    <%= f.input :TIME_CARD_LIST %>
    <%= f.input :TIME_NEW %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
