<h1>Listing time_cards</h1>

<table>
  <thead>
    <tr>
      <th>Primarykey</th>
      <th>Time start1</th>
      <th>Time start2</th>
      <th>Time start3</th>
      <th>Time start4</th>
      <th>Time start5</th>
      <th>Time start6</th>
      <th>Time start7</th>
      <th>Time start8</th>
      <th>Time start9</th>
      <th>Time start10</th>
      <th>Time start11</th>
      <th>Time start12</th>
      <th>Time start13</th>
      <th>Time start14</th>
      <th>Time start15</th>
      <th>Time start16</th>
      <th>Time start17</th>
      <th>Time start18</th>
      <th>Time start19</th>
      <th>Time start20</th>
      <th>Time end1</th>
      <th>Time end2</th>
      <th>Time end3</th>
      <th>Time end4</th>
      <th>Time end5</th>
      <th>Time end6</th>
      <th>Time end7</th>
      <th>Time end8</th>
      <th>Time end9</th>
      <th>Time end10</th>
      <th>Time end11</th>
      <th>Time end12</th>
      <th>Time end13</th>
      <th>Time end14</th>
      <th>Time end15</th>
      <th>Time end16</th>
      <th>Time end17</th>
      <th>Time end18</th>
      <th>Time end19</th>
      <th>Time end20</th>
      <th>Time job1</th>
      <th>Time job2</th>
      <th>Time job3</th>
      <th>Time job4</th>
      <th>Time job5</th>
      <th>Time job6</th>
      <th>Time job7</th>
      <th>Time job8</th>
      <th>Time job9</th>
      <th>Time job10</th>
      <th>Time job11</th>
      <th>Time job12</th>
      <th>Time job13</th>
      <th>Time job14</th>
      <th>Time job15</th>
      <th>Time job16</th>
      <th>Time job17</th>
      <th>Time job18</th>
      <th>Time job19</th>
      <th>Time job20</th>
      <th>Time task1</th>
      <th>Time task2</th>
      <th>Time task3</th>
      <th>Time task4</th>
      <th>Time task5</th>
      <th>Time task6</th>
      <th>Time task7</th>
      <th>Time task8</th>
      <th>Time task9</th>
      <th>Time task10</th>
      <th>Time task11</th>
      <th>Time task12</th>
      <th>Time task13</th>
      <th>Time task14</th>
      <th>Time task15</th>
      <th>Time task16</th>
      <th>Time task17</th>
      <th>Time task18</th>
      <th>Time task19</th>
      <th>Time task20</th>
      <th>Time hours1</th>
      <th>Time hours2</th>
      <th>Time hours3</th>
      <th>Time hours4</th>
      <th>Time hours5</th>
      <th>Time hours6</th>
      <th>Time hours7</th>
      <th>Time hours8</th>
      <th>Time hours9</th>
      <th>Time hours10</th>
      <th>Time hours11</th>
      <th>Time hours12</th>
      <th>Time hours13</th>
      <th>Time hours14</th>
      <th>Time hours15</th>
      <th>Time hours16</th>
      <th>Time hours17</th>
      <th>Time hours18</th>
      <th>Time hours19</th>
      <th>Time hours20</th>
      <th>Time desc1</th>
      <th>Time desc2</th>
      <th>Time desc3</th>
      <th>Time desc4</th>
      <th>Time desc5</th>
      <th>Time desc6</th>
      <th>Time desc7</th>
      <th>Time desc8</th>
      <th>Time desc9</th>
      <th>Time desc10</th>
      <th>Time desc11</th>
      <th>Time desc12</th>
      <th>Time desc13</th>
      <th>Time desc14</th>
      <th>Time desc15</th>
      <th>Time desc16</th>
      <th>Time desc17</th>
      <th>Time desc18</th>
      <th>Time desc19</th>
      <th>Time desc20</th>
      <th>Time billable1</th>
      <th>Time billable2</th>
      <th>Time billable3</th>
      <th>Time billable4</th>
      <th>Time billable5</th>
      <th>Time billable6</th>
      <th>Time billable7</th>
      <th>Time billable8</th>
      <th>Time billable9</th>
      <th>Time billable10</th>
      <th>Time billable11</th>
      <th>Time billable12</th>
      <th>Time billable13</th>
      <th>Time billable14</th>
      <th>Time billable15</th>
      <th>Time billable16</th>
      <th>Time billable17</th>
      <th>Time billable18</th>
      <th>Time billable19</th>
      <th>Time billable20</th>
      <th>Time staff</th>
      <th>Time date</th>
      <th>Time key</th>
      <th>Time posted</th>
      <th>Time ot1</th>
      <th>Time ot2</th>
      <th>Time ot3</th>
      <th>Time ot4</th>
      <th>Time ot5</th>
      <th>Time ot6</th>
      <th>Time ot7</th>
      <th>Time ot8</th>
      <th>Time ot9</th>
      <th>Time ot10</th>
      <th>Time ot11</th>
      <th>Time ot12</th>
      <th>Time ot13</th>
      <th>Time ot14</th>
      <th>Time ot15</th>
      <th>Time ot16</th>
      <th>Time ot17</th>
      <th>Time ot18</th>
      <th>Time ot19</th>
      <th>Time ot20</th>
      <th>Time card list</th>
      <th>Time new</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @time_cards.each do |time_card| %>
      <tr>
        <td><%= time_card.primaryKey %></td>
        <td><%= time_card.TIME_START1 %></td>
        <td><%= time_card.TIME_START2 %></td>
        <td><%= time_card.TIME_START3 %></td>
        <td><%= time_card.TIME_START4 %></td>
        <td><%= time_card.TIME_START5 %></td>
        <td><%= time_card.TIME_START6 %></td>
        <td><%= time_card.TIME_START7 %></td>
        <td><%= time_card.TIME_START8 %></td>
        <td><%= time_card.TIME_START9 %></td>
        <td><%= time_card.TIME_START10 %></td>
        <td><%= time_card.TIME_START11 %></td>
        <td><%= time_card.TIME_START12 %></td>
        <td><%= time_card.TIME_START13 %></td>
        <td><%= time_card.TIME_START14 %></td>
        <td><%= time_card.TIME_START15 %></td>
        <td><%= time_card.TIME_START16 %></td>
        <td><%= time_card.TIME_START17 %></td>
        <td><%= time_card.TIME_START18 %></td>
        <td><%= time_card.TIME_START19 %></td>
        <td><%= time_card.TIME_START20 %></td>
        <td><%= time_card.TIME_END1 %></td>
        <td><%= time_card.TIME_END2 %></td>
        <td><%= time_card.TIME_END3 %></td>
        <td><%= time_card.TIME_END4 %></td>
        <td><%= time_card.TIME_END5 %></td>
        <td><%= time_card.TIME_END6 %></td>
        <td><%= time_card.TIME_END7 %></td>
        <td><%= time_card.TIME_END8 %></td>
        <td><%= time_card.TIME_END9 %></td>
        <td><%= time_card.TIME_END10 %></td>
        <td><%= time_card.TIME_END11 %></td>
        <td><%= time_card.TIME_END12 %></td>
        <td><%= time_card.TIME_END13 %></td>
        <td><%= time_card.TIME_END14 %></td>
        <td><%= time_card.TIME_END15 %></td>
        <td><%= time_card.TIME_END16 %></td>
        <td><%= time_card.TIME_END17 %></td>
        <td><%= time_card.TIME_END18 %></td>
        <td><%= time_card.TIME_END19 %></td>
        <td><%= time_card.TIME_END20 %></td>
        <td><%= time_card.TIME_JOB1 %></td>
        <td><%= time_card.TIME_JOB2 %></td>
        <td><%= time_card.TIME_JOB3 %></td>
        <td><%= time_card.TIME_JOB4 %></td>
        <td><%= time_card.TIME_JOB5 %></td>
        <td><%= time_card.TIME_JOB6 %></td>
        <td><%= time_card.TIME_JOB7 %></td>
        <td><%= time_card.TIME_JOB8 %></td>
        <td><%= time_card.TIME_JOB9 %></td>
        <td><%= time_card.TIME_JOB10 %></td>
        <td><%= time_card.TIME_JOB11 %></td>
        <td><%= time_card.TIME_JOB12 %></td>
        <td><%= time_card.TIME_JOB13 %></td>
        <td><%= time_card.TIME_JOB14 %></td>
        <td><%= time_card.TIME_JOB15 %></td>
        <td><%= time_card.TIME_JOB16 %></td>
        <td><%= time_card.TIME_JOB17 %></td>
        <td><%= time_card.TIME_JOB18 %></td>
        <td><%= time_card.TIME_JOB19 %></td>
        <td><%= time_card.TIME_JOB20 %></td>
        <td><%= time_card.TIME_TASK1 %></td>
        <td><%= time_card.TIME_TASK2 %></td>
        <td><%= time_card.TIME_TASK3 %></td>
        <td><%= time_card.TIME_TASK4 %></td>
        <td><%= time_card.TIME_TASK5 %></td>
        <td><%= time_card.TIME_TASK6 %></td>
        <td><%= time_card.TIME_TASK7 %></td>
        <td><%= time_card.TIME_TASK8 %></td>
        <td><%= time_card.TIME_TASK9 %></td>
        <td><%= time_card.TIME_TASK10 %></td>
        <td><%= time_card.TIME_TASK11 %></td>
        <td><%= time_card.TIME_TASK12 %></td>
        <td><%= time_card.TIME_TASK13 %></td>
        <td><%= time_card.TIME_TASK14 %></td>
        <td><%= time_card.TIME_TASK15 %></td>
        <td><%= time_card.TIME_TASK16 %></td>
        <td><%= time_card.TIME_TASK17 %></td>
        <td><%= time_card.TIME_TASK18 %></td>
        <td><%= time_card.TIME_TASK19 %></td>
        <td><%= time_card.TIME_TASK20 %></td>
        <td><%= time_card.TIME_HOURS1 %></td>
        <td><%= time_card.TIME_HOURS2 %></td>
        <td><%= time_card.TIME_HOURS3 %></td>
        <td><%= time_card.TIME_HOURS4 %></td>
        <td><%= time_card.TIME_HOURS5 %></td>
        <td><%= time_card.TIME_HOURS6 %></td>
        <td><%= time_card.TIME_HOURS7 %></td>
        <td><%= time_card.TIME_HOURS8 %></td>
        <td><%= time_card.TIME_HOURS9 %></td>
        <td><%= time_card.TIME_HOURS10 %></td>
        <td><%= time_card.TIME_HOURS11 %></td>
        <td><%= time_card.TIME_HOURS12 %></td>
        <td><%= time_card.TIME_HOURS13 %></td>
        <td><%= time_card.TIME_HOURS14 %></td>
        <td><%= time_card.TIME_HOURS15 %></td>
        <td><%= time_card.TIME_HOURS16 %></td>
        <td><%= time_card.TIME_HOURS17 %></td>
        <td><%= time_card.TIME_HOURS18 %></td>
        <td><%= time_card.TIME_HOURS19 %></td>
        <td><%= time_card.TIME_HOURS20 %></td>
        <td><%= time_card.TIME_DESC1 %></td>
        <td><%= time_card.TIME_DESC2 %></td>
        <td><%= time_card.TIME_DESC3 %></td>
        <td><%= time_card.TIME_DESC4 %></td>
        <td><%= time_card.TIME_DESC5 %></td>
        <td><%= time_card.TIME_DESC6 %></td>
        <td><%= time_card.TIME_DESC7 %></td>
        <td><%= time_card.TIME_DESC8 %></td>
        <td><%= time_card.TIME_DESC9 %></td>
        <td><%= time_card.TIME_DESC10 %></td>
        <td><%= time_card.TIME_DESC11 %></td>
        <td><%= time_card.TIME_DESC12 %></td>
        <td><%= time_card.TIME_DESC13 %></td>
        <td><%= time_card.TIME_DESC14 %></td>
        <td><%= time_card.TIME_DESC15 %></td>
        <td><%= time_card.TIME_DESC16 %></td>
        <td><%= time_card.TIME_DESC17 %></td>
        <td><%= time_card.TIME_DESC18 %></td>
        <td><%= time_card.TIME_DESC19 %></td>
        <td><%= time_card.TIME_DESC20 %></td>
        <td><%= time_card.TIME_BILLABLE1 %></td>
        <td><%= time_card.TIME_BILLABLE2 %></td>
        <td><%= time_card.TIME_BILLABLE3 %></td>
        <td><%= time_card.TIME_BILLABLE4 %></td>
        <td><%= time_card.TIME_BILLABLE5 %></td>
        <td><%= time_card.TIME_BILLABLE6 %></td>
        <td><%= time_card.TIME_BILLABLE7 %></td>
        <td><%= time_card.TIME_BILLABLE8 %></td>
        <td><%= time_card.TIME_BILLABLE9 %></td>
        <td><%= time_card.TIME_BILLABLE10 %></td>
        <td><%= time_card.TIME_BILLABLE11 %></td>
        <td><%= time_card.TIME_BILLABLE12 %></td>
        <td><%= time_card.TIME_BILLABLE13 %></td>
        <td><%= time_card.TIME_BILLABLE14 %></td>
        <td><%= time_card.TIME_BILLABLE15 %></td>
        <td><%= time_card.TIME_BILLABLE16 %></td>
        <td><%= time_card.TIME_BILLABLE17 %></td>
        <td><%= time_card.TIME_BILLABLE18 %></td>
        <td><%= time_card.TIME_BILLABLE19 %></td>
        <td><%= time_card.TIME_BILLABLE20 %></td>
        <td><%= time_card.TIME_STAFF %></td>
        <td><%= time_card.TIME_DATE %></td>
        <td><%= time_card.TIME_KEY %></td>
        <td><%= time_card.TIME_POSTED %></td>
        <td><%= time_card.TIME_OT1 %></td>
        <td><%= time_card.TIME_OT2 %></td>
        <td><%= time_card.TIME_OT3 %></td>
        <td><%= time_card.TIME_OT4 %></td>
        <td><%= time_card.TIME_OT5 %></td>
        <td><%= time_card.TIME_OT6 %></td>
        <td><%= time_card.TIME_OT7 %></td>
        <td><%= time_card.TIME_OT8 %></td>
        <td><%= time_card.TIME_OT9 %></td>
        <td><%= time_card.TIME_OT10 %></td>
        <td><%= time_card.TIME_OT11 %></td>
        <td><%= time_card.TIME_OT12 %></td>
        <td><%= time_card.TIME_OT13 %></td>
        <td><%= time_card.TIME_OT14 %></td>
        <td><%= time_card.TIME_OT15 %></td>
        <td><%= time_card.TIME_OT16 %></td>
        <td><%= time_card.TIME_OT17 %></td>
        <td><%= time_card.TIME_OT18 %></td>
        <td><%= time_card.TIME_OT19 %></td>
        <td><%= time_card.TIME_OT20 %></td>
        <td><%= time_card.TIME_CARD_LIST %></td>
        <td><%= time_card.TIME_NEW %></td>
        <td><%= link_to 'Show', time_card %></td>
        <td><%= link_to 'Edit', edit_time_card_path(time_card) %></td>
        <td><%= link_to 'Destroy', time_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time card', new_time_card_path %>
