<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @time_card.primaryKey %>
</p>

<p>
  <strong>Time start1:</strong>
  <%= @time_card.TIME_START1 %>
</p>

<p>
  <strong>Time start2:</strong>
  <%= @time_card.TIME_START2 %>
</p>

<p>
  <strong>Time start3:</strong>
  <%= @time_card.TIME_START3 %>
</p>

<p>
  <strong>Time start4:</strong>
  <%= @time_card.TIME_START4 %>
</p>

<p>
  <strong>Time start5:</strong>
  <%= @time_card.TIME_START5 %>
</p>

<p>
  <strong>Time start6:</strong>
  <%= @time_card.TIME_START6 %>
</p>

<p>
  <strong>Time start7:</strong>
  <%= @time_card.TIME_START7 %>
</p>

<p>
  <strong>Time start8:</strong>
  <%= @time_card.TIME_START8 %>
</p>

<p>
  <strong>Time start9:</strong>
  <%= @time_card.TIME_START9 %>
</p>

<p>
  <strong>Time start10:</strong>
  <%= @time_card.TIME_START10 %>
</p>

<p>
  <strong>Time start11:</strong>
  <%= @time_card.TIME_START11 %>
</p>

<p>
  <strong>Time start12:</strong>
  <%= @time_card.TIME_START12 %>
</p>

<p>
  <strong>Time start13:</strong>
  <%= @time_card.TIME_START13 %>
</p>

<p>
  <strong>Time start14:</strong>
  <%= @time_card.TIME_START14 %>
</p>

<p>
  <strong>Time start15:</strong>
  <%= @time_card.TIME_START15 %>
</p>

<p>
  <strong>Time start16:</strong>
  <%= @time_card.TIME_START16 %>
</p>

<p>
  <strong>Time start17:</strong>
  <%= @time_card.TIME_START17 %>
</p>

<p>
  <strong>Time start18:</strong>
  <%= @time_card.TIME_START18 %>
</p>

<p>
  <strong>Time start19:</strong>
  <%= @time_card.TIME_START19 %>
</p>

<p>
  <strong>Time start20:</strong>
  <%= @time_card.TIME_START20 %>
</p>

<p>
  <strong>Time end1:</strong>
  <%= @time_card.TIME_END1 %>
</p>

<p>
  <strong>Time end2:</strong>
  <%= @time_card.TIME_END2 %>
</p>

<p>
  <strong>Time end3:</strong>
  <%= @time_card.TIME_END3 %>
</p>

<p>
  <strong>Time end4:</strong>
  <%= @time_card.TIME_END4 %>
</p>

<p>
  <strong>Time end5:</strong>
  <%= @time_card.TIME_END5 %>
</p>

<p>
  <strong>Time end6:</strong>
  <%= @time_card.TIME_END6 %>
</p>

<p>
  <strong>Time end7:</strong>
  <%= @time_card.TIME_END7 %>
</p>

<p>
  <strong>Time end8:</strong>
  <%= @time_card.TIME_END8 %>
</p>

<p>
  <strong>Time end9:</strong>
  <%= @time_card.TIME_END9 %>
</p>

<p>
  <strong>Time end10:</strong>
  <%= @time_card.TIME_END10 %>
</p>

<p>
  <strong>Time end11:</strong>
  <%= @time_card.TIME_END11 %>
</p>

<p>
  <strong>Time end12:</strong>
  <%= @time_card.TIME_END12 %>
</p>

<p>
  <strong>Time end13:</strong>
  <%= @time_card.TIME_END13 %>
</p>

<p>
  <strong>Time end14:</strong>
  <%= @time_card.TIME_END14 %>
</p>

<p>
  <strong>Time end15:</strong>
  <%= @time_card.TIME_END15 %>
</p>

<p>
  <strong>Time end16:</strong>
  <%= @time_card.TIME_END16 %>
</p>

<p>
  <strong>Time end17:</strong>
  <%= @time_card.TIME_END17 %>
</p>

<p>
  <strong>Time end18:</strong>
  <%= @time_card.TIME_END18 %>
</p>

<p>
  <strong>Time end19:</strong>
  <%= @time_card.TIME_END19 %>
</p>

<p>
  <strong>Time end20:</strong>
  <%= @time_card.TIME_END20 %>
</p>

<p>
  <strong>Time job1:</strong>
  <%= @time_card.TIME_JOB1 %>
</p>

<p>
  <strong>Time job2:</strong>
  <%= @time_card.TIME_JOB2 %>
</p>

<p>
  <strong>Time job3:</strong>
  <%= @time_card.TIME_JOB3 %>
</p>

<p>
  <strong>Time job4:</strong>
  <%= @time_card.TIME_JOB4 %>
</p>

<p>
  <strong>Time job5:</strong>
  <%= @time_card.TIME_JOB5 %>
</p>

<p>
  <strong>Time job6:</strong>
  <%= @time_card.TIME_JOB6 %>
</p>

<p>
  <strong>Time job7:</strong>
  <%= @time_card.TIME_JOB7 %>
</p>

<p>
  <strong>Time job8:</strong>
  <%= @time_card.TIME_JOB8 %>
</p>

<p>
  <strong>Time job9:</strong>
  <%= @time_card.TIME_JOB9 %>
</p>

<p>
  <strong>Time job10:</strong>
  <%= @time_card.TIME_JOB10 %>
</p>

<p>
  <strong>Time job11:</strong>
  <%= @time_card.TIME_JOB11 %>
</p>

<p>
  <strong>Time job12:</strong>
  <%= @time_card.TIME_JOB12 %>
</p>

<p>
  <strong>Time job13:</strong>
  <%= @time_card.TIME_JOB13 %>
</p>

<p>
  <strong>Time job14:</strong>
  <%= @time_card.TIME_JOB14 %>
</p>

<p>
  <strong>Time job15:</strong>
  <%= @time_card.TIME_JOB15 %>
</p>

<p>
  <strong>Time job16:</strong>
  <%= @time_card.TIME_JOB16 %>
</p>

<p>
  <strong>Time job17:</strong>
  <%= @time_card.TIME_JOB17 %>
</p>

<p>
  <strong>Time job18:</strong>
  <%= @time_card.TIME_JOB18 %>
</p>

<p>
  <strong>Time job19:</strong>
  <%= @time_card.TIME_JOB19 %>
</p>

<p>
  <strong>Time job20:</strong>
  <%= @time_card.TIME_JOB20 %>
</p>

<p>
  <strong>Time task1:</strong>
  <%= @time_card.TIME_TASK1 %>
</p>

<p>
  <strong>Time task2:</strong>
  <%= @time_card.TIME_TASK2 %>
</p>

<p>
  <strong>Time task3:</strong>
  <%= @time_card.TIME_TASK3 %>
</p>

<p>
  <strong>Time task4:</strong>
  <%= @time_card.TIME_TASK4 %>
</p>

<p>
  <strong>Time task5:</strong>
  <%= @time_card.TIME_TASK5 %>
</p>

<p>
  <strong>Time task6:</strong>
  <%= @time_card.TIME_TASK6 %>
</p>

<p>
  <strong>Time task7:</strong>
  <%= @time_card.TIME_TASK7 %>
</p>

<p>
  <strong>Time task8:</strong>
  <%= @time_card.TIME_TASK8 %>
</p>

<p>
  <strong>Time task9:</strong>
  <%= @time_card.TIME_TASK9 %>
</p>

<p>
  <strong>Time task10:</strong>
  <%= @time_card.TIME_TASK10 %>
</p>

<p>
  <strong>Time task11:</strong>
  <%= @time_card.TIME_TASK11 %>
</p>

<p>
  <strong>Time task12:</strong>
  <%= @time_card.TIME_TASK12 %>
</p>

<p>
  <strong>Time task13:</strong>
  <%= @time_card.TIME_TASK13 %>
</p>

<p>
  <strong>Time task14:</strong>
  <%= @time_card.TIME_TASK14 %>
</p>

<p>
  <strong>Time task15:</strong>
  <%= @time_card.TIME_TASK15 %>
</p>

<p>
  <strong>Time task16:</strong>
  <%= @time_card.TIME_TASK16 %>
</p>

<p>
  <strong>Time task17:</strong>
  <%= @time_card.TIME_TASK17 %>
</p>

<p>
  <strong>Time task18:</strong>
  <%= @time_card.TIME_TASK18 %>
</p>

<p>
  <strong>Time task19:</strong>
  <%= @time_card.TIME_TASK19 %>
</p>

<p>
  <strong>Time task20:</strong>
  <%= @time_card.TIME_TASK20 %>
</p>

<p>
  <strong>Time hours1:</strong>
  <%= @time_card.TIME_HOURS1 %>
</p>

<p>
  <strong>Time hours2:</strong>
  <%= @time_card.TIME_HOURS2 %>
</p>

<p>
  <strong>Time hours3:</strong>
  <%= @time_card.TIME_HOURS3 %>
</p>

<p>
  <strong>Time hours4:</strong>
  <%= @time_card.TIME_HOURS4 %>
</p>

<p>
  <strong>Time hours5:</strong>
  <%= @time_card.TIME_HOURS5 %>
</p>

<p>
  <strong>Time hours6:</strong>
  <%= @time_card.TIME_HOURS6 %>
</p>

<p>
  <strong>Time hours7:</strong>
  <%= @time_card.TIME_HOURS7 %>
</p>

<p>
  <strong>Time hours8:</strong>
  <%= @time_card.TIME_HOURS8 %>
</p>

<p>
  <strong>Time hours9:</strong>
  <%= @time_card.TIME_HOURS9 %>
</p>

<p>
  <strong>Time hours10:</strong>
  <%= @time_card.TIME_HOURS10 %>
</p>

<p>
  <strong>Time hours11:</strong>
  <%= @time_card.TIME_HOURS11 %>
</p>

<p>
  <strong>Time hours12:</strong>
  <%= @time_card.TIME_HOURS12 %>
</p>

<p>
  <strong>Time hours13:</strong>
  <%= @time_card.TIME_HOURS13 %>
</p>

<p>
  <strong>Time hours14:</strong>
  <%= @time_card.TIME_HOURS14 %>
</p>

<p>
  <strong>Time hours15:</strong>
  <%= @time_card.TIME_HOURS15 %>
</p>

<p>
  <strong>Time hours16:</strong>
  <%= @time_card.TIME_HOURS16 %>
</p>

<p>
  <strong>Time hours17:</strong>
  <%= @time_card.TIME_HOURS17 %>
</p>

<p>
  <strong>Time hours18:</strong>
  <%= @time_card.TIME_HOURS18 %>
</p>

<p>
  <strong>Time hours19:</strong>
  <%= @time_card.TIME_HOURS19 %>
</p>

<p>
  <strong>Time hours20:</strong>
  <%= @time_card.TIME_HOURS20 %>
</p>

<p>
  <strong>Time desc1:</strong>
  <%= @time_card.TIME_DESC1 %>
</p>

<p>
  <strong>Time desc2:</strong>
  <%= @time_card.TIME_DESC2 %>
</p>

<p>
  <strong>Time desc3:</strong>
  <%= @time_card.TIME_DESC3 %>
</p>

<p>
  <strong>Time desc4:</strong>
  <%= @time_card.TIME_DESC4 %>
</p>

<p>
  <strong>Time desc5:</strong>
  <%= @time_card.TIME_DESC5 %>
</p>

<p>
  <strong>Time desc6:</strong>
  <%= @time_card.TIME_DESC6 %>
</p>

<p>
  <strong>Time desc7:</strong>
  <%= @time_card.TIME_DESC7 %>
</p>

<p>
  <strong>Time desc8:</strong>
  <%= @time_card.TIME_DESC8 %>
</p>

<p>
  <strong>Time desc9:</strong>
  <%= @time_card.TIME_DESC9 %>
</p>

<p>
  <strong>Time desc10:</strong>
  <%= @time_card.TIME_DESC10 %>
</p>

<p>
  <strong>Time desc11:</strong>
  <%= @time_card.TIME_DESC11 %>
</p>

<p>
  <strong>Time desc12:</strong>
  <%= @time_card.TIME_DESC12 %>
</p>

<p>
  <strong>Time desc13:</strong>
  <%= @time_card.TIME_DESC13 %>
</p>

<p>
  <strong>Time desc14:</strong>
  <%= @time_card.TIME_DESC14 %>
</p>

<p>
  <strong>Time desc15:</strong>
  <%= @time_card.TIME_DESC15 %>
</p>

<p>
  <strong>Time desc16:</strong>
  <%= @time_card.TIME_DESC16 %>
</p>

<p>
  <strong>Time desc17:</strong>
  <%= @time_card.TIME_DESC17 %>
</p>

<p>
  <strong>Time desc18:</strong>
  <%= @time_card.TIME_DESC18 %>
</p>

<p>
  <strong>Time desc19:</strong>
  <%= @time_card.TIME_DESC19 %>
</p>

<p>
  <strong>Time desc20:</strong>
  <%= @time_card.TIME_DESC20 %>
</p>

<p>
  <strong>Time billable1:</strong>
  <%= @time_card.TIME_BILLABLE1 %>
</p>

<p>
  <strong>Time billable2:</strong>
  <%= @time_card.TIME_BILLABLE2 %>
</p>

<p>
  <strong>Time billable3:</strong>
  <%= @time_card.TIME_BILLABLE3 %>
</p>

<p>
  <strong>Time billable4:</strong>
  <%= @time_card.TIME_BILLABLE4 %>
</p>

<p>
  <strong>Time billable5:</strong>
  <%= @time_card.TIME_BILLABLE5 %>
</p>

<p>
  <strong>Time billable6:</strong>
  <%= @time_card.TIME_BILLABLE6 %>
</p>

<p>
  <strong>Time billable7:</strong>
  <%= @time_card.TIME_BILLABLE7 %>
</p>

<p>
  <strong>Time billable8:</strong>
  <%= @time_card.TIME_BILLABLE8 %>
</p>

<p>
  <strong>Time billable9:</strong>
  <%= @time_card.TIME_BILLABLE9 %>
</p>

<p>
  <strong>Time billable10:</strong>
  <%= @time_card.TIME_BILLABLE10 %>
</p>

<p>
  <strong>Time billable11:</strong>
  <%= @time_card.TIME_BILLABLE11 %>
</p>

<p>
  <strong>Time billable12:</strong>
  <%= @time_card.TIME_BILLABLE12 %>
</p>

<p>
  <strong>Time billable13:</strong>
  <%= @time_card.TIME_BILLABLE13 %>
</p>

<p>
  <strong>Time billable14:</strong>
  <%= @time_card.TIME_BILLABLE14 %>
</p>

<p>
  <strong>Time billable15:</strong>
  <%= @time_card.TIME_BILLABLE15 %>
</p>

<p>
  <strong>Time billable16:</strong>
  <%= @time_card.TIME_BILLABLE16 %>
</p>

<p>
  <strong>Time billable17:</strong>
  <%= @time_card.TIME_BILLABLE17 %>
</p>

<p>
  <strong>Time billable18:</strong>
  <%= @time_card.TIME_BILLABLE18 %>
</p>

<p>
  <strong>Time billable19:</strong>
  <%= @time_card.TIME_BILLABLE19 %>
</p>

<p>
  <strong>Time billable20:</strong>
  <%= @time_card.TIME_BILLABLE20 %>
</p>

<p>
  <strong>Time staff:</strong>
  <%= @time_card.TIME_STAFF %>
</p>

<p>
  <strong>Time date:</strong>
  <%= @time_card.TIME_DATE %>
</p>

<p>
  <strong>Time key:</strong>
  <%= @time_card.TIME_KEY %>
</p>

<p>
  <strong>Time posted:</strong>
  <%= @time_card.TIME_POSTED %>
</p>

<p>
  <strong>Time ot1:</strong>
  <%= @time_card.TIME_OT1 %>
</p>

<p>
  <strong>Time ot2:</strong>
  <%= @time_card.TIME_OT2 %>
</p>

<p>
  <strong>Time ot3:</strong>
  <%= @time_card.TIME_OT3 %>
</p>

<p>
  <strong>Time ot4:</strong>
  <%= @time_card.TIME_OT4 %>
</p>

<p>
  <strong>Time ot5:</strong>
  <%= @time_card.TIME_OT5 %>
</p>

<p>
  <strong>Time ot6:</strong>
  <%= @time_card.TIME_OT6 %>
</p>

<p>
  <strong>Time ot7:</strong>
  <%= @time_card.TIME_OT7 %>
</p>

<p>
  <strong>Time ot8:</strong>
  <%= @time_card.TIME_OT8 %>
</p>

<p>
  <strong>Time ot9:</strong>
  <%= @time_card.TIME_OT9 %>
</p>

<p>
  <strong>Time ot10:</strong>
  <%= @time_card.TIME_OT10 %>
</p>

<p>
  <strong>Time ot11:</strong>
  <%= @time_card.TIME_OT11 %>
</p>

<p>
  <strong>Time ot12:</strong>
  <%= @time_card.TIME_OT12 %>
</p>

<p>
  <strong>Time ot13:</strong>
  <%= @time_card.TIME_OT13 %>
</p>

<p>
  <strong>Time ot14:</strong>
  <%= @time_card.TIME_OT14 %>
</p>

<p>
  <strong>Time ot15:</strong>
  <%= @time_card.TIME_OT15 %>
</p>

<p>
  <strong>Time ot16:</strong>
  <%= @time_card.TIME_OT16 %>
</p>

<p>
  <strong>Time ot17:</strong>
  <%= @time_card.TIME_OT17 %>
</p>

<p>
  <strong>Time ot18:</strong>
  <%= @time_card.TIME_OT18 %>
</p>

<p>
  <strong>Time ot19:</strong>
  <%= @time_card.TIME_OT19 %>
</p>

<p>
  <strong>Time ot20:</strong>
  <%= @time_card.TIME_OT20 %>
</p>

<p>
  <strong>Time card list:</strong>
  <%= @time_card.TIME_CARD_LIST %>
</p>

<p>
  <strong>Time new:</strong>
  <%= @time_card.TIME_NEW %>
</p>

<%= link_to 'Edit', edit_time_card_path(@time_card) %> |
<%= link_to 'Back', time_cards_path %>
