<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @calendar.primaryKey %>
</p>

<p>
  <strong>Cal kind:</strong>
  <%= @calendar.CAL_KIND %>
</p>

<p>
  <strong>Cal date:</strong>
  <%= @calendar.CAL_DATE %>
</p>

<p>
  <strong>Cal to from:</strong>
  <%= @calendar.CAL_TO_FROM %>
</p>

<p>
  <strong>Cal amt:</strong>
  <%= @calendar.CAL_AMT %>
</p>

<p>
  <strong>Cal added by:</strong>
  <%= @calendar.CAL_ADDED_BY %>
</p>

<p>
  <strong>Cal desc:</strong>
  <%= @calendar.CAL_DESC %>
</p>

<p>
  <strong>Cal mail to:</strong>
  <%= @calendar.CAL_MAIL_TO %>
</p>

<p>
  <strong>Cal notified:</strong>
  <%= @calendar.CAL_NOTIFIED %>
</p>

<p>
  <strong>Cal time:</strong>
  <%= @calendar.CAL_TIME %>
</p>

<p>
  <strong>Cal priority:</strong>
  <%= @calendar.CAL_PRIORITY %>
</p>

<p>
  <strong>Cal status:</strong>
  <%= @calendar.CAL_STATUS %>
</p>

<p>
  <strong>Cal id:</strong>
  <%= @calendar.CAL_ID %>
</p>

<p>
  <strong>Cal client num:</strong>
  <%= @calendar.CAL_CLIENT_NUM %>
</p>

<p>
  <strong>Cal subject:</strong>
  <%= @calendar.CAL_SUBJECT %>
</p>

<p>
  <strong>Cal notify days:</strong>
  <%= @calendar.CAL_NOTIFY_DAYS %>
</p>

<p>
  <strong>Cal location:</strong>
  <%= @calendar.CAL_LOCATION %>
</p>

<p>
  <strong>Cal job num:</strong>
  <%= @calendar.CAL_JOB_NUM %>
</p>

<p>
  <strong>Cal task:</strong>
  <%= @calendar.CAL_TASK %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
