<%= simple_form_for(@pref) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :PREF_GL %>
    <%= f.input :PREF_AP_AGING %>
    <%= f.input :PREF_AR_AGING %>
    <%= f.input :PREF_DIARY %>
    <%= f.input :PREF_CHARGE_NUM %>
    <%= f.input :PREF_JOB_TYPE %>
    <%= f.input :PREF_CLOSE_JOB_COSTS %>
    <%= f.input :PREF_RATE_KIND %>
    <%= f.input :PREF_SHARED_PICTS %>
    <%= f.input :PREF_DATES %>
    <%= f.input :PREF_FIND_TIME %>
    <%= f.input :PREF_MAIL %>
    <%= f.input :PREF_CK_COPIES %>
    <%= f.input :PREF_WIP %>
    <%= f.input :PREF_PROOF_PRINTER %>
    <%= f.input :PREF_CLOSE_JOB_TASKS %>
    <%= f.input :PREF_OVERDUE_EMAIL %>
    <%= f.input :PREF_CODE %>
    <%= f.input :PREF_TRAFFIC1 %>
    <%= f.input :PREF_TRAFFIC2 %>
    <%= f.input :PREF_TRAFFIC3 %>
    <%= f.input :PREF_TRAFFIC4 %>
    <%= f.input :PREF_TRAFFIC5 %>
    <%= f.input :PREF_TRAFFIC6 %>
    <%= f.input :PREF_TRAF1_INIT %>
    <%= f.input :PREF_TRAF2_INIT %>
    <%= f.input :PREF_TRAF3_INIT %>
    <%= f.input :PREF_TRAF4_INIT %>
    <%= f.input :PREF_TRAF5_INIT %>
    <%= f.input :PREF_TRAF6_INIT %>
    <%= f.input :PREF_TAX_ID1 %>
    <%= f.input :PREF_TAX_ID2 %>
    <%= f.input :PREF_ADDRESS1 %>
    <%= f.input :PREF_ADDRESS2 %>
    <%= f.input :PREF_ADDRESS3 %>
    <%= f.input :PREF_BILL_ORG %>
    <%= f.input :PREF_BILL_ADDRESS1 %>
    <%= f.input :PREF_BILL_ADDRESS2 %>
    <%= f.input :PREF_BILL_ADDRESS3 %>
    <%= f.input :PREF_ORG %>
    <%= f.input :PREF_CURRENCY %>
    <%= f.input :PREF_STD_MARKUP %>
    <%= f.input :PREF_SYS_MGR %>
    <%= f.input :PREF_DATE_STARTED %>
    <%= f.input :PREF_SMTP_SERVER %>
    <%= f.input :PREF_SYS_MGR_EMAIL %>
    <%= f.input :PREF_JE_REF %>
    <%= f.input :PREF_AR_NUM %>
    <%= f.input :PREF_OFFICE_NUM %>
    <%= f.input :PREF_HELP_SYS_TEXT %>
    <%= f.input :PREF_TIME_CHECKED %>
    <%= f.input :PREF_TIME_MSG %>
    <%= f.input :PREF_EST_T_MARGIN %>
    <%= f.input :PREF_EST_B_MARGIN %>
    <%= f.input :PREF_EST_L_MARGIN %>
    <%= f.input :PREF_INV_T_MARGIN %>
    <%= f.input :PREF_INV_B_MARGIN %>
    <%= f.input :PREF_INV_L_MARGIN %>
    <%= f.input :PREF_PO_T_MARGIN %>
    <%= f.input :PREF_PO_B_MARGIN %>
    <%= f.input :PREF_PO_L_MARGIN %>
    <%= f.input :PREF_STMT_T_MARGIN %>
    <%= f.input :PREF_STMT_B_MARGIN %>
    <%= f.input :PREF_STMT_L_MARGIN %>
    <%= f.input :PREF_AR_SHOW_ADDR %>
    <%= f.input :PREF_BILL1 %>
    <%= f.input :PREF_BILL2 %>
    <%= f.input :PREF_BILL3 %>
    <%= f.input :PREF_BILL4 %>
    <%= f.input :PREF_BILL5 %>
    <%= f.input :PREF_BILL6 %>
    <%= f.input :PREF_BILL7 %>
    <%= f.input :PREF_BILL8 %>
    <%= f.input :PREF_OVERBUDGET_EMAIL %>
    <%= f.input :PREF_CLOSE_WRITE_OFF %>
    <%= f.input :PREF_SPELL %>
    <%= f.input :PREF_CURR_NAME %>
    <%= f.input :PREF_APPROVE_AR %>
    <%= f.input :PREF_AR_APPROVAL1 %>
    <%= f.input :PREF_AR_APPROVAL2 %>
    <%= f.input :PREF_AR_APPROVAL3 %>
    <%= f.input :PREF_AR_SHOW_EST %>
    <%= f.input :PREF_AR_SHOW_JOB %>
    <%= f.input :PREF_BILL_INSTRUCTIONS %>
    <%= f.input :PREF_AR_RETURN_DAYS %>
    <%= f.input :PREF_HELP_EMAIL %>
    <%= f.input :PREF_WISH_EMAIL %>
    <%= f.input :PREF_USER_FIELD1 %>
    <%= f.input :PREF_USER_FIELD2 %>
    <%= f.input :PREF_USER_FIELD3 %>
    <%= f.input :PREF_USER_FIELD4 %>
    <%= f.input :PREF_USER_FIELD5 %>
    <%= f.input :PREF_USER_FIELD6 %>
    <%= f.input :PREF_PC %>
    <%= f.input :PREF_BILL_EMAIL %>
    <%= f.input :PREF_BILL_EMAIL_AE %>
    <%= f.input :PREF_BILL_EMAIL_TRAF1 %>
    <%= f.input :PREF_BILL_EMAIL_TRAF2 %>
    <%= f.input :PREF_BILL_EMAIL_TRAF3 %>
    <%= f.input :PREF_BILL_EMAIL_TRAF4 %>
    <%= f.input :PREF_BILL_EMAIL_TRAF5 %>
    <%= f.input :PREF_BILL_EMAIL_TRAF6 %>
    <%= f.input :PREF_PING_SERVER %>
    <%= f.input :PREF_EXPORT_FORMAT %>
    <%= f.input :PREF_JOB_COMPLETE %>
    <%= f.input :PREF_STATUS_AMIN %>
    <%= f.input :PREF_CLIENT_KIND1 %>
    <%= f.input :PREF_CLIENT_KIND2 %>
    <%= f.input :PREF_CLIENT_KIND3 %>
    <%= f.input :PREF_CLIENT_KIND4 %>
    <%= f.input :PREF_CLIENT_KIND5 %>
    <%= f.input :PREF_CLIENT_KIND6 %>
    <%= f.input :PREF_PDF_DRIVER %>
    <%= f.input :PREF_USER_GUIDE %>
    <%= f.input :PREF_EMAIL_BODY_INV %>
    <%= f.input :PREF_EMAIL_BODY_EST %>
    <%= f.input :PREF_PRIORITY1 %>
    <%= f.input :PREF_PRIORITY2 %>
    <%= f.input :PREF_PRIORITY3 %>
    <%= f.input :PREF_PRIORITY4 %>
    <%= f.input :PREF_PRIORITY5 %>
    <%= f.input :PREF_PRIORITY6 %>
    <%= f.input :PREF_TIME_APPROVE %>
    <%= f.input :PREF_VERIFY %>
    <%= f.input :PREF_NO_MERCHANT_IMP %>
    <%= f.input :PREF_NO_GRAPHS_JOBS %>
    <%= f.input :PREF_NO_GRAPHS_CLIENTS %>
    <%= f.input :PREF_LNUM %>
    <%= f.input :PREF_LSERIAL %>
    <%= f.input :PREF_LAST_UPDATE %>
    <%= f.input :PREF_WEB_RUNNING %>
    <%= f.input :PREF_APPR_FTP_PATH %>
    <%= f.input :PREF_APPR_FTP_LOGIN %>
    <%= f.input :PREF_APPR_FTP_PW %>
    <%= f.input :PREF_APPR_EXPIRES %>
    <%= f.input :PREF_APPR_HEADER %>
    <%= f.input :PREF_SUPPORT_EXP %>
    <%= f.input :PREF_REQ_J_FIELD1 %>
    <%= f.input :PREF_REQ_J_FIELD2 %>
    <%= f.input :PREF_REQ_J_FIELD3 %>
    <%= f.input :PREF_REQ_J_FIELD4 %>
    <%= f.input :PREF_REQ_J_FIELD5 %>
    <%= f.input :PREF_REQ_J_FIELD6 %>
    <%= f.input :PREF_J_FIELD1_LABEL %>
    <%= f.input :PREF_J_FIELD2_LABEL %>
    <%= f.input :PREF_J_FIELD3_LABEL %>
    <%= f.input :PREF_J_FIELD4_LABEL %>
    <%= f.input :PREF_J_FIELD5_LABEL %>
    <%= f.input :PREF_J_FIELD6_LABEL %>
    <%= f.input :PREF_PSX_STD_TERMS %>
    <%= f.input :PREF_PSX_WIN_EMAIL %>
    <%= f.input :PREF_PSX_LOSER_EMAIL %>
    <%= f.input :PREF_PSX_NOTIFY_WINNER %>
    <%= f.input :PREF_PSX_NOTIFY_LOSERS %>
    <%= f.input :PREF_REQ_APPR_PROPS %>
    <%= f.input :PREF_REQ_APPR_CB %>
    <%= f.input :PREF_REQ_APPR_EST %>
    <%= f.input :PREF_REQ_APPR_SCHED %>
    <%= f.input :PREF_REQ_APPR_JOB %>
    <%= f.input :PREF_REQ_APPR_PO %>
    <%= f.input :PREF_REQ_APPR_AP %>
    <%= f.input :PREF_REQ_APPR_AR %>
    <%= f.input :PREF_REQ_APPR_MO %>
    <%= f.input :PREF_REQ_APPR_MEDIA %>
    <%= f.input :PREF_APPR_EMAIL %>
    <%= f.input :PREF_APPR_ONLINE_OKS %>
    <%= f.input :PREF_REQ_CB_BY %>
    <%= f.input :PREF_REQ_PROPS_BY %>
    <%= f.input :PREF_REQ_EST_BY %>
    <%= f.input :PREF_REQ_SCHED_BY %>
    <%= f.input :PREF_REQ_JOB_BY %>
    <%= f.input :PREF_REQ_PO_BY %>
    <%= f.input :PREF_REQ_AP_BY %>
    <%= f.input :PREF_REQ_AR_BY %>
    <%= f.input :PREF_REQ_MO_BY %>
    <%= f.input :PREF_REQ_MEDIA_BY %>
    <%= f.input :PREF_OVERHOURS_EMAIL %>
    <%= f.input :PREF_HIDE_TAX_ON_ESTS %>
    <%= f.input :PREF_APPR_SERVER_URL %>
    <%= f.input :PREF_APPR_MYX_URL %>
    <%= f.input :PREF_DISABLE_BAD_LOGIN %>
    <%= f.input :PREF_SKIP_SAT %>
    <%= f.input :PREF_SKIP_SUN %>
    <%= f.input :PREF_SKIP_HOLIDAYS %>
    <%= f.input :PREF_EDITED_BY %>
    <%= f.input :PREF_EDITED_WHEN %>
    <%= f.input :PREF_COUNTRY %>
    <%= f.input :PREF_HOURS_OVERTIME %>
    <%= f.input :PREF_PAPER_SIZE %>
    <%= f.input :PREF_AR_NUMBERING %>
    <%= f.input :PREF_SHARE_PROJ_NUM %>
    <%= f.input :PREF_OUTBOX %>
    <%= f.input :PREF_OWRITE_STYLES %>
    <%= f.input :PREF_DB_NICKNAME %>
    <%= f.input :PREF_DISABLE_SW_UPDATE %>
    <%= f.input :PREF_FAST_F_SCORE %>
    <%= f.input :PREF_FAST_A_SCORE %>
    <%= f.input :PREF_FAST_S_SCORE %>
    <%= f.input :PREF_FAST_T_SCORE %>
    <%= f.input :PREF_GRADE_A %>
    <%= f.input :PREF_GRADE_B %>
    <%= f.input :PREF_GRADE_C %>
    <%= f.input :PREF_GRADE_D %>
    <%= f.input :PREF_GRADE_F %>
    <%= f.input :PREF_LANGUAGE %>
    <%= f.input :PREF_WINNERS_DO_TIME %>
    <%= f.input :PREF_WINNERS_NOTIFY_EMAIL %>
    <%= f.input :PREF_WINNERS_CHECKED %>
    <%= f.input :PREF_JOB_USER_DATE1 %>
    <%= f.input :PREF_JOB_USER_DATE2 %>
    <%= f.input :PREF_ICAL_SYNC %>
    <%= f.input :PREF_TAX3_OPTION1 %>
    <%= f.input :PREF_TAX3_OPTION2 %>
    <%= f.input :PREF_TAX3_PERCENT %>
    <%= f.input :PREF_HOMEBASE_DROPBOX %>
    <%= f.input :PREF_HOMEBASE_PW %>
    <%= f.input :PREF_JOB_COMPLETE_PC %>
    <%= f.input :PREF_RUSH_CHG1 %>
    <%= f.input :PREF_RUSH_CHG2 %>
    <%= f.input :PREF_RUSH_CHG3 %>
    <%= f.input :PREF_EMAIL_PW %>
    <%= f.input :PREF_STRONG_PW %>
    <%= f.input :PREF_TIME_POINT1 %>
    <%= f.input :PREF_TIME_POINT2 %>
    <%= f.input :PREF_TIME_POINT3 %>
    <%= f.input :PREF_WINDOW_LOGO %>
    <%= f.input :PREF_JOB_REQ_USER_FIELDS %>
    <%= f.input :PREF_EXPIRE_PW %>
    <%= f.input :PREF_REQ_PC_TASKS %>
    <%= f.input :PREF_PRJ_INVITE %>
    <%= f.input :PREF_SMTP_PORT %>
    <%= f.input :PREF_SMTP_SSL %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
