<h1>Listing prefs</h1>

<table>
  <thead>
    <tr>
      <th>Primarykey</th>
      <th>Pref gl</th>
      <th>Pref ap aging</th>
      <th>Pref ar aging</th>
      <th>Pref diary</th>
      <th>Pref charge num</th>
      <th>Pref job type</th>
      <th>Pref close job costs</th>
      <th>Pref rate kind</th>
      <th>Pref shared picts</th>
      <th>Pref dates</th>
      <th>Pref find time</th>
      <th>Pref mail</th>
      <th>Pref ck copies</th>
      <th>Pref wip</th>
      <th>Pref proof printer</th>
      <th>Pref close job tasks</th>
      <th>Pref overdue email</th>
      <th>Pref code</th>
      <th>Pref traffic1</th>
      <th>Pref traffic2</th>
      <th>Pref traffic3</th>
      <th>Pref traffic4</th>
      <th>Pref traffic5</th>
      <th>Pref traffic6</th>
      <th>Pref traf1 init</th>
      <th>Pref traf2 init</th>
      <th>Pref traf3 init</th>
      <th>Pref traf4 init</th>
      <th>Pref traf5 init</th>
      <th>Pref traf6 init</th>
      <th>Pref tax id1</th>
      <th>Pref tax id2</th>
      <th>Pref address1</th>
      <th>Pref address2</th>
      <th>Pref address3</th>
      <th>Pref bill org</th>
      <th>Pref bill address1</th>
      <th>Pref bill address2</th>
      <th>Pref bill address3</th>
      <th>Pref org</th>
      <th>Pref currency</th>
      <th>Pref std markup</th>
      <th>Pref sys mgr</th>
      <th>Pref date started</th>
      <th>Pref smtp server</th>
      <th>Pref sys mgr email</th>
      <th>Pref je ref</th>
      <th>Pref ar num</th>
      <th>Pref office num</th>
      <th>Pref help sys text</th>
      <th>Pref time checked</th>
      <th>Pref time msg</th>
      <th>Pref est t margin</th>
      <th>Pref est b margin</th>
      <th>Pref est l margin</th>
      <th>Pref inv t margin</th>
      <th>Pref inv b margin</th>
      <th>Pref inv l margin</th>
      <th>Pref po t margin</th>
      <th>Pref po b margin</th>
      <th>Pref po l margin</th>
      <th>Pref stmt t margin</th>
      <th>Pref stmt b margin</th>
      <th>Pref stmt l margin</th>
      <th>Pref ar show addr</th>
      <th>Pref bill1</th>
      <th>Pref bill2</th>
      <th>Pref bill3</th>
      <th>Pref bill4</th>
      <th>Pref bill5</th>
      <th>Pref bill6</th>
      <th>Pref bill7</th>
      <th>Pref bill8</th>
      <th>Pref overbudget email</th>
      <th>Pref close write off</th>
      <th>Pref spell</th>
      <th>Pref curr name</th>
      <th>Pref approve ar</th>
      <th>Pref ar approval1</th>
      <th>Pref ar approval2</th>
      <th>Pref ar approval3</th>
      <th>Pref ar show est</th>
      <th>Pref ar show job</th>
      <th>Pref bill instructions</th>
      <th>Pref ar return days</th>
      <th>Pref help email</th>
      <th>Pref wish email</th>
      <th>Pref user field1</th>
      <th>Pref user field2</th>
      <th>Pref user field3</th>
      <th>Pref user field4</th>
      <th>Pref user field5</th>
      <th>Pref user field6</th>
      <th>Pref pc</th>
      <th>Pref bill email</th>
      <th>Pref bill email ae</th>
      <th>Pref bill email traf1</th>
      <th>Pref bill email traf2</th>
      <th>Pref bill email traf3</th>
      <th>Pref bill email traf4</th>
      <th>Pref bill email traf5</th>
      <th>Pref bill email traf6</th>
      <th>Pref ping server</th>
      <th>Pref export format</th>
      <th>Pref job complete</th>
      <th>Pref status amin</th>
      <th>Pref client kind1</th>
      <th>Pref client kind2</th>
      <th>Pref client kind3</th>
      <th>Pref client kind4</th>
      <th>Pref client kind5</th>
      <th>Pref client kind6</th>
      <th>Pref pdf driver</th>
      <th>Pref user guide</th>
      <th>Pref email body inv</th>
      <th>Pref email body est</th>
      <th>Pref priority1</th>
      <th>Pref priority2</th>
      <th>Pref priority3</th>
      <th>Pref priority4</th>
      <th>Pref priority5</th>
      <th>Pref priority6</th>
      <th>Pref time approve</th>
      <th>Pref verify</th>
      <th>Pref no merchant imp</th>
      <th>Pref no graphs jobs</th>
      <th>Pref no graphs clients</th>
      <th>Pref lnum</th>
      <th>Pref lserial</th>
      <th>Pref last update</th>
      <th>Pref web running</th>
      <th>Pref appr ftp path</th>
      <th>Pref appr ftp login</th>
      <th>Pref appr ftp pw</th>
      <th>Pref appr expires</th>
      <th>Pref appr header</th>
      <th>Pref support exp</th>
      <th>Pref req j field1</th>
      <th>Pref req j field2</th>
      <th>Pref req j field3</th>
      <th>Pref req j field4</th>
      <th>Pref req j field5</th>
      <th>Pref req j field6</th>
      <th>Pref j field1 label</th>
      <th>Pref j field2 label</th>
      <th>Pref j field3 label</th>
      <th>Pref j field4 label</th>
      <th>Pref j field5 label</th>
      <th>Pref j field6 label</th>
      <th>Pref psx std terms</th>
      <th>Pref psx win email</th>
      <th>Pref psx loser email</th>
      <th>Pref psx notify winner</th>
      <th>Pref psx notify losers</th>
      <th>Pref req appr props</th>
      <th>Pref req appr cb</th>
      <th>Pref req appr est</th>
      <th>Pref req appr sched</th>
      <th>Pref req appr job</th>
      <th>Pref req appr po</th>
      <th>Pref req appr ap</th>
      <th>Pref req appr ar</th>
      <th>Pref req appr mo</th>
      <th>Pref req appr media</th>
      <th>Pref appr email</th>
      <th>Pref appr online oks</th>
      <th>Pref req cb by</th>
      <th>Pref req props by</th>
      <th>Pref req est by</th>
      <th>Pref req sched by</th>
      <th>Pref req job by</th>
      <th>Pref req po by</th>
      <th>Pref req ap by</th>
      <th>Pref req ar by</th>
      <th>Pref req mo by</th>
      <th>Pref req media by</th>
      <th>Pref overhours email</th>
      <th>Pref hide tax on ests</th>
      <th>Pref appr server url</th>
      <th>Pref appr myx url</th>
      <th>Pref disable bad login</th>
      <th>Pref skip sat</th>
      <th>Pref skip sun</th>
      <th>Pref skip holidays</th>
      <th>Pref edited by</th>
      <th>Pref edited when</th>
      <th>Pref country</th>
      <th>Pref hours overtime</th>
      <th>Pref paper size</th>
      <th>Pref ar numbering</th>
      <th>Pref share proj num</th>
      <th>Pref outbox</th>
      <th>Pref owrite styles</th>
      <th>Pref db nickname</th>
      <th>Pref disable sw update</th>
      <th>Pref fast f score</th>
      <th>Pref fast a score</th>
      <th>Pref fast s score</th>
      <th>Pref fast t score</th>
      <th>Pref grade a</th>
      <th>Pref grade b</th>
      <th>Pref grade c</th>
      <th>Pref grade d</th>
      <th>Pref grade f</th>
      <th>Pref language</th>
      <th>Pref winners do time</th>
      <th>Pref winners notify email</th>
      <th>Pref winners checked</th>
      <th>Pref job user date1</th>
      <th>Pref job user date2</th>
      <th>Pref ical sync</th>
      <th>Pref tax3 option1</th>
      <th>Pref tax3 option2</th>
      <th>Pref tax3 percent</th>
      <th>Pref homebase dropbox</th>
      <th>Pref homebase pw</th>
      <th>Pref job complete pc</th>
      <th>Pref rush chg1</th>
      <th>Pref rush chg2</th>
      <th>Pref rush chg3</th>
      <th>Pref email pw</th>
      <th>Pref strong pw</th>
      <th>Pref time point1</th>
      <th>Pref time point2</th>
      <th>Pref time point3</th>
      <th>Pref window logo</th>
      <th>Pref job req user fields</th>
      <th>Pref expire pw</th>
      <th>Pref req pc tasks</th>
      <th>Pref prj invite</th>
      <th>Pref smtp port</th>
      <th>Pref smtp ssl</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @prefs.each do |pref| %>
      <tr>
        <td><%= pref.primaryKey %></td>
        <td><%= pref.PREF_GL %></td>
        <td><%= pref.PREF_AP_AGING %></td>
        <td><%= pref.PREF_AR_AGING %></td>
        <td><%= pref.PREF_DIARY %></td>
        <td><%= pref.PREF_CHARGE_NUM %></td>
        <td><%= pref.PREF_JOB_TYPE %></td>
        <td><%= pref.PREF_CLOSE_JOB_COSTS %></td>
        <td><%= pref.PREF_RATE_KIND %></td>
        <td><%= pref.PREF_SHARED_PICTS %></td>
        <td><%= pref.PREF_DATES %></td>
        <td><%= pref.PREF_FIND_TIME %></td>
        <td><%= pref.PREF_MAIL %></td>
        <td><%= pref.PREF_CK_COPIES %></td>
        <td><%= pref.PREF_WIP %></td>
        <td><%= pref.PREF_PROOF_PRINTER %></td>
        <td><%= pref.PREF_CLOSE_JOB_TASKS %></td>
        <td><%= pref.PREF_OVERDUE_EMAIL %></td>
        <td><%= pref.PREF_CODE %></td>
        <td><%= pref.PREF_TRAFFIC1 %></td>
        <td><%= pref.PREF_TRAFFIC2 %></td>
        <td><%= pref.PREF_TRAFFIC3 %></td>
        <td><%= pref.PREF_TRAFFIC4 %></td>
        <td><%= pref.PREF_TRAFFIC5 %></td>
        <td><%= pref.PREF_TRAFFIC6 %></td>
        <td><%= pref.PREF_TRAF1_INIT %></td>
        <td><%= pref.PREF_TRAF2_INIT %></td>
        <td><%= pref.PREF_TRAF3_INIT %></td>
        <td><%= pref.PREF_TRAF4_INIT %></td>
        <td><%= pref.PREF_TRAF5_INIT %></td>
        <td><%= pref.PREF_TRAF6_INIT %></td>
        <td><%= pref.PREF_TAX_ID1 %></td>
        <td><%= pref.PREF_TAX_ID2 %></td>
        <td><%= pref.PREF_ADDRESS1 %></td>
        <td><%= pref.PREF_ADDRESS2 %></td>
        <td><%= pref.PREF_ADDRESS3 %></td>
        <td><%= pref.PREF_BILL_ORG %></td>
        <td><%= pref.PREF_BILL_ADDRESS1 %></td>
        <td><%= pref.PREF_BILL_ADDRESS2 %></td>
        <td><%= pref.PREF_BILL_ADDRESS3 %></td>
        <td><%= pref.PREF_ORG %></td>
        <td><%= pref.PREF_CURRENCY %></td>
        <td><%= pref.PREF_STD_MARKUP %></td>
        <td><%= pref.PREF_SYS_MGR %></td>
        <td><%= pref.PREF_DATE_STARTED %></td>
        <td><%= pref.PREF_SMTP_SERVER %></td>
        <td><%= pref.PREF_SYS_MGR_EMAIL %></td>
        <td><%= pref.PREF_JE_REF %></td>
        <td><%= pref.PREF_AR_NUM %></td>
        <td><%= pref.PREF_OFFICE_NUM %></td>
        <td><%= pref.PREF_HELP_SYS_TEXT %></td>
        <td><%= pref.PREF_TIME_CHECKED %></td>
        <td><%= pref.PREF_TIME_MSG %></td>
        <td><%= pref.PREF_EST_T_MARGIN %></td>
        <td><%= pref.PREF_EST_B_MARGIN %></td>
        <td><%= pref.PREF_EST_L_MARGIN %></td>
        <td><%= pref.PREF_INV_T_MARGIN %></td>
        <td><%= pref.PREF_INV_B_MARGIN %></td>
        <td><%= pref.PREF_INV_L_MARGIN %></td>
        <td><%= pref.PREF_PO_T_MARGIN %></td>
        <td><%= pref.PREF_PO_B_MARGIN %></td>
        <td><%= pref.PREF_PO_L_MARGIN %></td>
        <td><%= pref.PREF_STMT_T_MARGIN %></td>
        <td><%= pref.PREF_STMT_B_MARGIN %></td>
        <td><%= pref.PREF_STMT_L_MARGIN %></td>
        <td><%= pref.PREF_AR_SHOW_ADDR %></td>
        <td><%= pref.PREF_BILL1 %></td>
        <td><%= pref.PREF_BILL2 %></td>
        <td><%= pref.PREF_BILL3 %></td>
        <td><%= pref.PREF_BILL4 %></td>
        <td><%= pref.PREF_BILL5 %></td>
        <td><%= pref.PREF_BILL6 %></td>
        <td><%= pref.PREF_BILL7 %></td>
        <td><%= pref.PREF_BILL8 %></td>
        <td><%= pref.PREF_OVERBUDGET_EMAIL %></td>
        <td><%= pref.PREF_CLOSE_WRITE_OFF %></td>
        <td><%= pref.PREF_SPELL %></td>
        <td><%= pref.PREF_CURR_NAME %></td>
        <td><%= pref.PREF_APPROVE_AR %></td>
        <td><%= pref.PREF_AR_APPROVAL1 %></td>
        <td><%= pref.PREF_AR_APPROVAL2 %></td>
        <td><%= pref.PREF_AR_APPROVAL3 %></td>
        <td><%= pref.PREF_AR_SHOW_EST %></td>
        <td><%= pref.PREF_AR_SHOW_JOB %></td>
        <td><%= pref.PREF_BILL_INSTRUCTIONS %></td>
        <td><%= pref.PREF_AR_RETURN_DAYS %></td>
        <td><%= pref.PREF_HELP_EMAIL %></td>
        <td><%= pref.PREF_WISH_EMAIL %></td>
        <td><%= pref.PREF_USER_FIELD1 %></td>
        <td><%= pref.PREF_USER_FIELD2 %></td>
        <td><%= pref.PREF_USER_FIELD3 %></td>
        <td><%= pref.PREF_USER_FIELD4 %></td>
        <td><%= pref.PREF_USER_FIELD5 %></td>
        <td><%= pref.PREF_USER_FIELD6 %></td>
        <td><%= pref.PREF_PC %></td>
        <td><%= pref.PREF_BILL_EMAIL %></td>
        <td><%= pref.PREF_BILL_EMAIL_AE %></td>
        <td><%= pref.PREF_BILL_EMAIL_TRAF1 %></td>
        <td><%= pref.PREF_BILL_EMAIL_TRAF2 %></td>
        <td><%= pref.PREF_BILL_EMAIL_TRAF3 %></td>
        <td><%= pref.PREF_BILL_EMAIL_TRAF4 %></td>
        <td><%= pref.PREF_BILL_EMAIL_TRAF5 %></td>
        <td><%= pref.PREF_BILL_EMAIL_TRAF6 %></td>
        <td><%= pref.PREF_PING_SERVER %></td>
        <td><%= pref.PREF_EXPORT_FORMAT %></td>
        <td><%= pref.PREF_JOB_COMPLETE %></td>
        <td><%= pref.PREF_STATUS_AMIN %></td>
        <td><%= pref.PREF_CLIENT_KIND1 %></td>
        <td><%= pref.PREF_CLIENT_KIND2 %></td>
        <td><%= pref.PREF_CLIENT_KIND3 %></td>
        <td><%= pref.PREF_CLIENT_KIND4 %></td>
        <td><%= pref.PREF_CLIENT_KIND5 %></td>
        <td><%= pref.PREF_CLIENT_KIND6 %></td>
        <td><%= pref.PREF_PDF_DRIVER %></td>
        <td><%= pref.PREF_USER_GUIDE %></td>
        <td><%= pref.PREF_EMAIL_BODY_INV %></td>
        <td><%= pref.PREF_EMAIL_BODY_EST %></td>
        <td><%= pref.PREF_PRIORITY1 %></td>
        <td><%= pref.PREF_PRIORITY2 %></td>
        <td><%= pref.PREF_PRIORITY3 %></td>
        <td><%= pref.PREF_PRIORITY4 %></td>
        <td><%= pref.PREF_PRIORITY5 %></td>
        <td><%= pref.PREF_PRIORITY6 %></td>
        <td><%= pref.PREF_TIME_APPROVE %></td>
        <td><%= pref.PREF_VERIFY %></td>
        <td><%= pref.PREF_NO_MERCHANT_IMP %></td>
        <td><%= pref.PREF_NO_GRAPHS_JOBS %></td>
        <td><%= pref.PREF_NO_GRAPHS_CLIENTS %></td>
        <td><%= pref.PREF_LNUM %></td>
        <td><%= pref.PREF_LSERIAL %></td>
        <td><%= pref.PREF_LAST_UPDATE %></td>
        <td><%= pref.PREF_WEB_RUNNING %></td>
        <td><%= pref.PREF_APPR_FTP_PATH %></td>
        <td><%= pref.PREF_APPR_FTP_LOGIN %></td>
        <td><%= pref.PREF_APPR_FTP_PW %></td>
        <td><%= pref.PREF_APPR_EXPIRES %></td>
        <td><%= pref.PREF_APPR_HEADER %></td>
        <td><%= pref.PREF_SUPPORT_EXP %></td>
        <td><%= pref.PREF_REQ_J_FIELD1 %></td>
        <td><%= pref.PREF_REQ_J_FIELD2 %></td>
        <td><%= pref.PREF_REQ_J_FIELD3 %></td>
        <td><%= pref.PREF_REQ_J_FIELD4 %></td>
        <td><%= pref.PREF_REQ_J_FIELD5 %></td>
        <td><%= pref.PREF_REQ_J_FIELD6 %></td>
        <td><%= pref.PREF_J_FIELD1_LABEL %></td>
        <td><%= pref.PREF_J_FIELD2_LABEL %></td>
        <td><%= pref.PREF_J_FIELD3_LABEL %></td>
        <td><%= pref.PREF_J_FIELD4_LABEL %></td>
        <td><%= pref.PREF_J_FIELD5_LABEL %></td>
        <td><%= pref.PREF_J_FIELD6_LABEL %></td>
        <td><%= pref.PREF_PSX_STD_TERMS %></td>
        <td><%= pref.PREF_PSX_WIN_EMAIL %></td>
        <td><%= pref.PREF_PSX_LOSER_EMAIL %></td>
        <td><%= pref.PREF_PSX_NOTIFY_WINNER %></td>
        <td><%= pref.PREF_PSX_NOTIFY_LOSERS %></td>
        <td><%= pref.PREF_REQ_APPR_PROPS %></td>
        <td><%= pref.PREF_REQ_APPR_CB %></td>
        <td><%= pref.PREF_REQ_APPR_EST %></td>
        <td><%= pref.PREF_REQ_APPR_SCHED %></td>
        <td><%= pref.PREF_REQ_APPR_JOB %></td>
        <td><%= pref.PREF_REQ_APPR_PO %></td>
        <td><%= pref.PREF_REQ_APPR_AP %></td>
        <td><%= pref.PREF_REQ_APPR_AR %></td>
        <td><%= pref.PREF_REQ_APPR_MO %></td>
        <td><%= pref.PREF_REQ_APPR_MEDIA %></td>
        <td><%= pref.PREF_APPR_EMAIL %></td>
        <td><%= pref.PREF_APPR_ONLINE_OKS %></td>
        <td><%= pref.PREF_REQ_CB_BY %></td>
        <td><%= pref.PREF_REQ_PROPS_BY %></td>
        <td><%= pref.PREF_REQ_EST_BY %></td>
        <td><%= pref.PREF_REQ_SCHED_BY %></td>
        <td><%= pref.PREF_REQ_JOB_BY %></td>
        <td><%= pref.PREF_REQ_PO_BY %></td>
        <td><%= pref.PREF_REQ_AP_BY %></td>
        <td><%= pref.PREF_REQ_AR_BY %></td>
        <td><%= pref.PREF_REQ_MO_BY %></td>
        <td><%= pref.PREF_REQ_MEDIA_BY %></td>
        <td><%= pref.PREF_OVERHOURS_EMAIL %></td>
        <td><%= pref.PREF_HIDE_TAX_ON_ESTS %></td>
        <td><%= pref.PREF_APPR_SERVER_URL %></td>
        <td><%= pref.PREF_APPR_MYX_URL %></td>
        <td><%= pref.PREF_DISABLE_BAD_LOGIN %></td>
        <td><%= pref.PREF_SKIP_SAT %></td>
        <td><%= pref.PREF_SKIP_SUN %></td>
        <td><%= pref.PREF_SKIP_HOLIDAYS %></td>
        <td><%= pref.PREF_EDITED_BY %></td>
        <td><%= pref.PREF_EDITED_WHEN %></td>
        <td><%= pref.PREF_COUNTRY %></td>
        <td><%= pref.PREF_HOURS_OVERTIME %></td>
        <td><%= pref.PREF_PAPER_SIZE %></td>
        <td><%= pref.PREF_AR_NUMBERING %></td>
        <td><%= pref.PREF_SHARE_PROJ_NUM %></td>
        <td><%= pref.PREF_OUTBOX %></td>
        <td><%= pref.PREF_OWRITE_STYLES %></td>
        <td><%= pref.PREF_DB_NICKNAME %></td>
        <td><%= pref.PREF_DISABLE_SW_UPDATE %></td>
        <td><%= pref.PREF_FAST_F_SCORE %></td>
        <td><%= pref.PREF_FAST_A_SCORE %></td>
        <td><%= pref.PREF_FAST_S_SCORE %></td>
        <td><%= pref.PREF_FAST_T_SCORE %></td>
        <td><%= pref.PREF_GRADE_A %></td>
        <td><%= pref.PREF_GRADE_B %></td>
        <td><%= pref.PREF_GRADE_C %></td>
        <td><%= pref.PREF_GRADE_D %></td>
        <td><%= pref.PREF_GRADE_F %></td>
        <td><%= pref.PREF_LANGUAGE %></td>
        <td><%= pref.PREF_WINNERS_DO_TIME %></td>
        <td><%= pref.PREF_WINNERS_NOTIFY_EMAIL %></td>
        <td><%= pref.PREF_WINNERS_CHECKED %></td>
        <td><%= pref.PREF_JOB_USER_DATE1 %></td>
        <td><%= pref.PREF_JOB_USER_DATE2 %></td>
        <td><%= pref.PREF_ICAL_SYNC %></td>
        <td><%= pref.PREF_TAX3_OPTION1 %></td>
        <td><%= pref.PREF_TAX3_OPTION2 %></td>
        <td><%= pref.PREF_TAX3_PERCENT %></td>
        <td><%= pref.PREF_HOMEBASE_DROPBOX %></td>
        <td><%= pref.PREF_HOMEBASE_PW %></td>
        <td><%= pref.PREF_JOB_COMPLETE_PC %></td>
        <td><%= pref.PREF_RUSH_CHG1 %></td>
        <td><%= pref.PREF_RUSH_CHG2 %></td>
        <td><%= pref.PREF_RUSH_CHG3 %></td>
        <td><%= pref.PREF_EMAIL_PW %></td>
        <td><%= pref.PREF_STRONG_PW %></td>
        <td><%= pref.PREF_TIME_POINT1 %></td>
        <td><%= pref.PREF_TIME_POINT2 %></td>
        <td><%= pref.PREF_TIME_POINT3 %></td>
        <td><%= pref.PREF_WINDOW_LOGO %></td>
        <td><%= pref.PREF_JOB_REQ_USER_FIELDS %></td>
        <td><%= pref.PREF_EXPIRE_PW %></td>
        <td><%= pref.PREF_REQ_PC_TASKS %></td>
        <td><%= pref.PREF_PRJ_INVITE %></td>
        <td><%= pref.PREF_SMTP_PORT %></td>
        <td><%= pref.PREF_SMTP_SSL %></td>
        <td><%= link_to 'Show', pref %></td>
        <td><%= link_to 'Edit', edit_pref_path(pref) %></td>
        <td><%= link_to 'Destroy', pref, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pref', new_pref_path %>
