<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @pref.primaryKey %>
</p>

<p>
  <strong>Pref gl:</strong>
  <%= @pref.PREF_GL %>
</p>

<p>
  <strong>Pref ap aging:</strong>
  <%= @pref.PREF_AP_AGING %>
</p>

<p>
  <strong>Pref ar aging:</strong>
  <%= @pref.PREF_AR_AGING %>
</p>

<p>
  <strong>Pref diary:</strong>
  <%= @pref.PREF_DIARY %>
</p>

<p>
  <strong>Pref charge num:</strong>
  <%= @pref.PREF_CHARGE_NUM %>
</p>

<p>
  <strong>Pref job type:</strong>
  <%= @pref.PREF_JOB_TYPE %>
</p>

<p>
  <strong>Pref close job costs:</strong>
  <%= @pref.PREF_CLOSE_JOB_COSTS %>
</p>

<p>
  <strong>Pref rate kind:</strong>
  <%= @pref.PREF_RATE_KIND %>
</p>

<p>
  <strong>Pref shared picts:</strong>
  <%= @pref.PREF_SHARED_PICTS %>
</p>

<p>
  <strong>Pref dates:</strong>
  <%= @pref.PREF_DATES %>
</p>

<p>
  <strong>Pref find time:</strong>
  <%= @pref.PREF_FIND_TIME %>
</p>

<p>
  <strong>Pref mail:</strong>
  <%= @pref.PREF_MAIL %>
</p>

<p>
  <strong>Pref ck copies:</strong>
  <%= @pref.PREF_CK_COPIES %>
</p>

<p>
  <strong>Pref wip:</strong>
  <%= @pref.PREF_WIP %>
</p>

<p>
  <strong>Pref proof printer:</strong>
  <%= @pref.PREF_PROOF_PRINTER %>
</p>

<p>
  <strong>Pref close job tasks:</strong>
  <%= @pref.PREF_CLOSE_JOB_TASKS %>
</p>

<p>
  <strong>Pref overdue email:</strong>
  <%= @pref.PREF_OVERDUE_EMAIL %>
</p>

<p>
  <strong>Pref code:</strong>
  <%= @pref.PREF_CODE %>
</p>

<p>
  <strong>Pref traffic1:</strong>
  <%= @pref.PREF_TRAFFIC1 %>
</p>

<p>
  <strong>Pref traffic2:</strong>
  <%= @pref.PREF_TRAFFIC2 %>
</p>

<p>
  <strong>Pref traffic3:</strong>
  <%= @pref.PREF_TRAFFIC3 %>
</p>

<p>
  <strong>Pref traffic4:</strong>
  <%= @pref.PREF_TRAFFIC4 %>
</p>

<p>
  <strong>Pref traffic5:</strong>
  <%= @pref.PREF_TRAFFIC5 %>
</p>

<p>
  <strong>Pref traffic6:</strong>
  <%= @pref.PREF_TRAFFIC6 %>
</p>

<p>
  <strong>Pref traf1 init:</strong>
  <%= @pref.PREF_TRAF1_INIT %>
</p>

<p>
  <strong>Pref traf2 init:</strong>
  <%= @pref.PREF_TRAF2_INIT %>
</p>

<p>
  <strong>Pref traf3 init:</strong>
  <%= @pref.PREF_TRAF3_INIT %>
</p>

<p>
  <strong>Pref traf4 init:</strong>
  <%= @pref.PREF_TRAF4_INIT %>
</p>

<p>
  <strong>Pref traf5 init:</strong>
  <%= @pref.PREF_TRAF5_INIT %>
</p>

<p>
  <strong>Pref traf6 init:</strong>
  <%= @pref.PREF_TRAF6_INIT %>
</p>

<p>
  <strong>Pref tax id1:</strong>
  <%= @pref.PREF_TAX_ID1 %>
</p>

<p>
  <strong>Pref tax id2:</strong>
  <%= @pref.PREF_TAX_ID2 %>
</p>

<p>
  <strong>Pref address1:</strong>
  <%= @pref.PREF_ADDRESS1 %>
</p>

<p>
  <strong>Pref address2:</strong>
  <%= @pref.PREF_ADDRESS2 %>
</p>

<p>
  <strong>Pref address3:</strong>
  <%= @pref.PREF_ADDRESS3 %>
</p>

<p>
  <strong>Pref bill org:</strong>
  <%= @pref.PREF_BILL_ORG %>
</p>

<p>
  <strong>Pref bill address1:</strong>
  <%= @pref.PREF_BILL_ADDRESS1 %>
</p>

<p>
  <strong>Pref bill address2:</strong>
  <%= @pref.PREF_BILL_ADDRESS2 %>
</p>

<p>
  <strong>Pref bill address3:</strong>
  <%= @pref.PREF_BILL_ADDRESS3 %>
</p>

<p>
  <strong>Pref org:</strong>
  <%= @pref.PREF_ORG %>
</p>

<p>
  <strong>Pref currency:</strong>
  <%= @pref.PREF_CURRENCY %>
</p>

<p>
  <strong>Pref std markup:</strong>
  <%= @pref.PREF_STD_MARKUP %>
</p>

<p>
  <strong>Pref sys mgr:</strong>
  <%= @pref.PREF_SYS_MGR %>
</p>

<p>
  <strong>Pref date started:</strong>
  <%= @pref.PREF_DATE_STARTED %>
</p>

<p>
  <strong>Pref smtp server:</strong>
  <%= @pref.PREF_SMTP_SERVER %>
</p>

<p>
  <strong>Pref sys mgr email:</strong>
  <%= @pref.PREF_SYS_MGR_EMAIL %>
</p>

<p>
  <strong>Pref je ref:</strong>
  <%= @pref.PREF_JE_REF %>
</p>

<p>
  <strong>Pref ar num:</strong>
  <%= @pref.PREF_AR_NUM %>
</p>

<p>
  <strong>Pref office num:</strong>
  <%= @pref.PREF_OFFICE_NUM %>
</p>

<p>
  <strong>Pref help sys text:</strong>
  <%= @pref.PREF_HELP_SYS_TEXT %>
</p>

<p>
  <strong>Pref time checked:</strong>
  <%= @pref.PREF_TIME_CHECKED %>
</p>

<p>
  <strong>Pref time msg:</strong>
  <%= @pref.PREF_TIME_MSG %>
</p>

<p>
  <strong>Pref est t margin:</strong>
  <%= @pref.PREF_EST_T_MARGIN %>
</p>

<p>
  <strong>Pref est b margin:</strong>
  <%= @pref.PREF_EST_B_MARGIN %>
</p>

<p>
  <strong>Pref est l margin:</strong>
  <%= @pref.PREF_EST_L_MARGIN %>
</p>

<p>
  <strong>Pref inv t margin:</strong>
  <%= @pref.PREF_INV_T_MARGIN %>
</p>

<p>
  <strong>Pref inv b margin:</strong>
  <%= @pref.PREF_INV_B_MARGIN %>
</p>

<p>
  <strong>Pref inv l margin:</strong>
  <%= @pref.PREF_INV_L_MARGIN %>
</p>

<p>
  <strong>Pref po t margin:</strong>
  <%= @pref.PREF_PO_T_MARGIN %>
</p>

<p>
  <strong>Pref po b margin:</strong>
  <%= @pref.PREF_PO_B_MARGIN %>
</p>

<p>
  <strong>Pref po l margin:</strong>
  <%= @pref.PREF_PO_L_MARGIN %>
</p>

<p>
  <strong>Pref stmt t margin:</strong>
  <%= @pref.PREF_STMT_T_MARGIN %>
</p>

<p>
  <strong>Pref stmt b margin:</strong>
  <%= @pref.PREF_STMT_B_MARGIN %>
</p>

<p>
  <strong>Pref stmt l margin:</strong>
  <%= @pref.PREF_STMT_L_MARGIN %>
</p>

<p>
  <strong>Pref ar show addr:</strong>
  <%= @pref.PREF_AR_SHOW_ADDR %>
</p>

<p>
  <strong>Pref bill1:</strong>
  <%= @pref.PREF_BILL1 %>
</p>

<p>
  <strong>Pref bill2:</strong>
  <%= @pref.PREF_BILL2 %>
</p>

<p>
  <strong>Pref bill3:</strong>
  <%= @pref.PREF_BILL3 %>
</p>

<p>
  <strong>Pref bill4:</strong>
  <%= @pref.PREF_BILL4 %>
</p>

<p>
  <strong>Pref bill5:</strong>
  <%= @pref.PREF_BILL5 %>
</p>

<p>
  <strong>Pref bill6:</strong>
  <%= @pref.PREF_BILL6 %>
</p>

<p>
  <strong>Pref bill7:</strong>
  <%= @pref.PREF_BILL7 %>
</p>

<p>
  <strong>Pref bill8:</strong>
  <%= @pref.PREF_BILL8 %>
</p>

<p>
  <strong>Pref overbudget email:</strong>
  <%= @pref.PREF_OVERBUDGET_EMAIL %>
</p>

<p>
  <strong>Pref close write off:</strong>
  <%= @pref.PREF_CLOSE_WRITE_OFF %>
</p>

<p>
  <strong>Pref spell:</strong>
  <%= @pref.PREF_SPELL %>
</p>

<p>
  <strong>Pref curr name:</strong>
  <%= @pref.PREF_CURR_NAME %>
</p>

<p>
  <strong>Pref approve ar:</strong>
  <%= @pref.PREF_APPROVE_AR %>
</p>

<p>
  <strong>Pref ar approval1:</strong>
  <%= @pref.PREF_AR_APPROVAL1 %>
</p>

<p>
  <strong>Pref ar approval2:</strong>
  <%= @pref.PREF_AR_APPROVAL2 %>
</p>

<p>
  <strong>Pref ar approval3:</strong>
  <%= @pref.PREF_AR_APPROVAL3 %>
</p>

<p>
  <strong>Pref ar show est:</strong>
  <%= @pref.PREF_AR_SHOW_EST %>
</p>

<p>
  <strong>Pref ar show job:</strong>
  <%= @pref.PREF_AR_SHOW_JOB %>
</p>

<p>
  <strong>Pref bill instructions:</strong>
  <%= @pref.PREF_BILL_INSTRUCTIONS %>
</p>

<p>
  <strong>Pref ar return days:</strong>
  <%= @pref.PREF_AR_RETURN_DAYS %>
</p>

<p>
  <strong>Pref help email:</strong>
  <%= @pref.PREF_HELP_EMAIL %>
</p>

<p>
  <strong>Pref wish email:</strong>
  <%= @pref.PREF_WISH_EMAIL %>
</p>

<p>
  <strong>Pref user field1:</strong>
  <%= @pref.PREF_USER_FIELD1 %>
</p>

<p>
  <strong>Pref user field2:</strong>
  <%= @pref.PREF_USER_FIELD2 %>
</p>

<p>
  <strong>Pref user field3:</strong>
  <%= @pref.PREF_USER_FIELD3 %>
</p>

<p>
  <strong>Pref user field4:</strong>
  <%= @pref.PREF_USER_FIELD4 %>
</p>

<p>
  <strong>Pref user field5:</strong>
  <%= @pref.PREF_USER_FIELD5 %>
</p>

<p>
  <strong>Pref user field6:</strong>
  <%= @pref.PREF_USER_FIELD6 %>
</p>

<p>
  <strong>Pref pc:</strong>
  <%= @pref.PREF_PC %>
</p>

<p>
  <strong>Pref bill email:</strong>
  <%= @pref.PREF_BILL_EMAIL %>
</p>

<p>
  <strong>Pref bill email ae:</strong>
  <%= @pref.PREF_BILL_EMAIL_AE %>
</p>

<p>
  <strong>Pref bill email traf1:</strong>
  <%= @pref.PREF_BILL_EMAIL_TRAF1 %>
</p>

<p>
  <strong>Pref bill email traf2:</strong>
  <%= @pref.PREF_BILL_EMAIL_TRAF2 %>
</p>

<p>
  <strong>Pref bill email traf3:</strong>
  <%= @pref.PREF_BILL_EMAIL_TRAF3 %>
</p>

<p>
  <strong>Pref bill email traf4:</strong>
  <%= @pref.PREF_BILL_EMAIL_TRAF4 %>
</p>

<p>
  <strong>Pref bill email traf5:</strong>
  <%= @pref.PREF_BILL_EMAIL_TRAF5 %>
</p>

<p>
  <strong>Pref bill email traf6:</strong>
  <%= @pref.PREF_BILL_EMAIL_TRAF6 %>
</p>

<p>
  <strong>Pref ping server:</strong>
  <%= @pref.PREF_PING_SERVER %>
</p>

<p>
  <strong>Pref export format:</strong>
  <%= @pref.PREF_EXPORT_FORMAT %>
</p>

<p>
  <strong>Pref job complete:</strong>
  <%= @pref.PREF_JOB_COMPLETE %>
</p>

<p>
  <strong>Pref status amin:</strong>
  <%= @pref.PREF_STATUS_AMIN %>
</p>

<p>
  <strong>Pref client kind1:</strong>
  <%= @pref.PREF_CLIENT_KIND1 %>
</p>

<p>
  <strong>Pref client kind2:</strong>
  <%= @pref.PREF_CLIENT_KIND2 %>
</p>

<p>
  <strong>Pref client kind3:</strong>
  <%= @pref.PREF_CLIENT_KIND3 %>
</p>

<p>
  <strong>Pref client kind4:</strong>
  <%= @pref.PREF_CLIENT_KIND4 %>
</p>

<p>
  <strong>Pref client kind5:</strong>
  <%= @pref.PREF_CLIENT_KIND5 %>
</p>

<p>
  <strong>Pref client kind6:</strong>
  <%= @pref.PREF_CLIENT_KIND6 %>
</p>

<p>
  <strong>Pref pdf driver:</strong>
  <%= @pref.PREF_PDF_DRIVER %>
</p>

<p>
  <strong>Pref user guide:</strong>
  <%= @pref.PREF_USER_GUIDE %>
</p>

<p>
  <strong>Pref email body inv:</strong>
  <%= @pref.PREF_EMAIL_BODY_INV %>
</p>

<p>
  <strong>Pref email body est:</strong>
  <%= @pref.PREF_EMAIL_BODY_EST %>
</p>

<p>
  <strong>Pref priority1:</strong>
  <%= @pref.PREF_PRIORITY1 %>
</p>

<p>
  <strong>Pref priority2:</strong>
  <%= @pref.PREF_PRIORITY2 %>
</p>

<p>
  <strong>Pref priority3:</strong>
  <%= @pref.PREF_PRIORITY3 %>
</p>

<p>
  <strong>Pref priority4:</strong>
  <%= @pref.PREF_PRIORITY4 %>
</p>

<p>
  <strong>Pref priority5:</strong>
  <%= @pref.PREF_PRIORITY5 %>
</p>

<p>
  <strong>Pref priority6:</strong>
  <%= @pref.PREF_PRIORITY6 %>
</p>

<p>
  <strong>Pref time approve:</strong>
  <%= @pref.PREF_TIME_APPROVE %>
</p>

<p>
  <strong>Pref verify:</strong>
  <%= @pref.PREF_VERIFY %>
</p>

<p>
  <strong>Pref no merchant imp:</strong>
  <%= @pref.PREF_NO_MERCHANT_IMP %>
</p>

<p>
  <strong>Pref no graphs jobs:</strong>
  <%= @pref.PREF_NO_GRAPHS_JOBS %>
</p>

<p>
  <strong>Pref no graphs clients:</strong>
  <%= @pref.PREF_NO_GRAPHS_CLIENTS %>
</p>

<p>
  <strong>Pref lnum:</strong>
  <%= @pref.PREF_LNUM %>
</p>

<p>
  <strong>Pref lserial:</strong>
  <%= @pref.PREF_LSERIAL %>
</p>

<p>
  <strong>Pref last update:</strong>
  <%= @pref.PREF_LAST_UPDATE %>
</p>

<p>
  <strong>Pref web running:</strong>
  <%= @pref.PREF_WEB_RUNNING %>
</p>

<p>
  <strong>Pref appr ftp path:</strong>
  <%= @pref.PREF_APPR_FTP_PATH %>
</p>

<p>
  <strong>Pref appr ftp login:</strong>
  <%= @pref.PREF_APPR_FTP_LOGIN %>
</p>

<p>
  <strong>Pref appr ftp pw:</strong>
  <%= @pref.PREF_APPR_FTP_PW %>
</p>

<p>
  <strong>Pref appr expires:</strong>
  <%= @pref.PREF_APPR_EXPIRES %>
</p>

<p>
  <strong>Pref appr header:</strong>
  <%= @pref.PREF_APPR_HEADER %>
</p>

<p>
  <strong>Pref support exp:</strong>
  <%= @pref.PREF_SUPPORT_EXP %>
</p>

<p>
  <strong>Pref req j field1:</strong>
  <%= @pref.PREF_REQ_J_FIELD1 %>
</p>

<p>
  <strong>Pref req j field2:</strong>
  <%= @pref.PREF_REQ_J_FIELD2 %>
</p>

<p>
  <strong>Pref req j field3:</strong>
  <%= @pref.PREF_REQ_J_FIELD3 %>
</p>

<p>
  <strong>Pref req j field4:</strong>
  <%= @pref.PREF_REQ_J_FIELD4 %>
</p>

<p>
  <strong>Pref req j field5:</strong>
  <%= @pref.PREF_REQ_J_FIELD5 %>
</p>

<p>
  <strong>Pref req j field6:</strong>
  <%= @pref.PREF_REQ_J_FIELD6 %>
</p>

<p>
  <strong>Pref j field1 label:</strong>
  <%= @pref.PREF_J_FIELD1_LABEL %>
</p>

<p>
  <strong>Pref j field2 label:</strong>
  <%= @pref.PREF_J_FIELD2_LABEL %>
</p>

<p>
  <strong>Pref j field3 label:</strong>
  <%= @pref.PREF_J_FIELD3_LABEL %>
</p>

<p>
  <strong>Pref j field4 label:</strong>
  <%= @pref.PREF_J_FIELD4_LABEL %>
</p>

<p>
  <strong>Pref j field5 label:</strong>
  <%= @pref.PREF_J_FIELD5_LABEL %>
</p>

<p>
  <strong>Pref j field6 label:</strong>
  <%= @pref.PREF_J_FIELD6_LABEL %>
</p>

<p>
  <strong>Pref psx std terms:</strong>
  <%= @pref.PREF_PSX_STD_TERMS %>
</p>

<p>
  <strong>Pref psx win email:</strong>
  <%= @pref.PREF_PSX_WIN_EMAIL %>
</p>

<p>
  <strong>Pref psx loser email:</strong>
  <%= @pref.PREF_PSX_LOSER_EMAIL %>
</p>

<p>
  <strong>Pref psx notify winner:</strong>
  <%= @pref.PREF_PSX_NOTIFY_WINNER %>
</p>

<p>
  <strong>Pref psx notify losers:</strong>
  <%= @pref.PREF_PSX_NOTIFY_LOSERS %>
</p>

<p>
  <strong>Pref req appr props:</strong>
  <%= @pref.PREF_REQ_APPR_PROPS %>
</p>

<p>
  <strong>Pref req appr cb:</strong>
  <%= @pref.PREF_REQ_APPR_CB %>
</p>

<p>
  <strong>Pref req appr est:</strong>
  <%= @pref.PREF_REQ_APPR_EST %>
</p>

<p>
  <strong>Pref req appr sched:</strong>
  <%= @pref.PREF_REQ_APPR_SCHED %>
</p>

<p>
  <strong>Pref req appr job:</strong>
  <%= @pref.PREF_REQ_APPR_JOB %>
</p>

<p>
  <strong>Pref req appr po:</strong>
  <%= @pref.PREF_REQ_APPR_PO %>
</p>

<p>
  <strong>Pref req appr ap:</strong>
  <%= @pref.PREF_REQ_APPR_AP %>
</p>

<p>
  <strong>Pref req appr ar:</strong>
  <%= @pref.PREF_REQ_APPR_AR %>
</p>

<p>
  <strong>Pref req appr mo:</strong>
  <%= @pref.PREF_REQ_APPR_MO %>
</p>

<p>
  <strong>Pref req appr media:</strong>
  <%= @pref.PREF_REQ_APPR_MEDIA %>
</p>

<p>
  <strong>Pref appr email:</strong>
  <%= @pref.PREF_APPR_EMAIL %>
</p>

<p>
  <strong>Pref appr online oks:</strong>
  <%= @pref.PREF_APPR_ONLINE_OKS %>
</p>

<p>
  <strong>Pref req cb by:</strong>
  <%= @pref.PREF_REQ_CB_BY %>
</p>

<p>
  <strong>Pref req props by:</strong>
  <%= @pref.PREF_REQ_PROPS_BY %>
</p>

<p>
  <strong>Pref req est by:</strong>
  <%= @pref.PREF_REQ_EST_BY %>
</p>

<p>
  <strong>Pref req sched by:</strong>
  <%= @pref.PREF_REQ_SCHED_BY %>
</p>

<p>
  <strong>Pref req job by:</strong>
  <%= @pref.PREF_REQ_JOB_BY %>
</p>

<p>
  <strong>Pref req po by:</strong>
  <%= @pref.PREF_REQ_PO_BY %>
</p>

<p>
  <strong>Pref req ap by:</strong>
  <%= @pref.PREF_REQ_AP_BY %>
</p>

<p>
  <strong>Pref req ar by:</strong>
  <%= @pref.PREF_REQ_AR_BY %>
</p>

<p>
  <strong>Pref req mo by:</strong>
  <%= @pref.PREF_REQ_MO_BY %>
</p>

<p>
  <strong>Pref req media by:</strong>
  <%= @pref.PREF_REQ_MEDIA_BY %>
</p>

<p>
  <strong>Pref overhours email:</strong>
  <%= @pref.PREF_OVERHOURS_EMAIL %>
</p>

<p>
  <strong>Pref hide tax on ests:</strong>
  <%= @pref.PREF_HIDE_TAX_ON_ESTS %>
</p>

<p>
  <strong>Pref appr server url:</strong>
  <%= @pref.PREF_APPR_SERVER_URL %>
</p>

<p>
  <strong>Pref appr myx url:</strong>
  <%= @pref.PREF_APPR_MYX_URL %>
</p>

<p>
  <strong>Pref disable bad login:</strong>
  <%= @pref.PREF_DISABLE_BAD_LOGIN %>
</p>

<p>
  <strong>Pref skip sat:</strong>
  <%= @pref.PREF_SKIP_SAT %>
</p>

<p>
  <strong>Pref skip sun:</strong>
  <%= @pref.PREF_SKIP_SUN %>
</p>

<p>
  <strong>Pref skip holidays:</strong>
  <%= @pref.PREF_SKIP_HOLIDAYS %>
</p>

<p>
  <strong>Pref edited by:</strong>
  <%= @pref.PREF_EDITED_BY %>
</p>

<p>
  <strong>Pref edited when:</strong>
  <%= @pref.PREF_EDITED_WHEN %>
</p>

<p>
  <strong>Pref country:</strong>
  <%= @pref.PREF_COUNTRY %>
</p>

<p>
  <strong>Pref hours overtime:</strong>
  <%= @pref.PREF_HOURS_OVERTIME %>
</p>

<p>
  <strong>Pref paper size:</strong>
  <%= @pref.PREF_PAPER_SIZE %>
</p>

<p>
  <strong>Pref ar numbering:</strong>
  <%= @pref.PREF_AR_NUMBERING %>
</p>

<p>
  <strong>Pref share proj num:</strong>
  <%= @pref.PREF_SHARE_PROJ_NUM %>
</p>

<p>
  <strong>Pref outbox:</strong>
  <%= @pref.PREF_OUTBOX %>
</p>

<p>
  <strong>Pref owrite styles:</strong>
  <%= @pref.PREF_OWRITE_STYLES %>
</p>

<p>
  <strong>Pref db nickname:</strong>
  <%= @pref.PREF_DB_NICKNAME %>
</p>

<p>
  <strong>Pref disable sw update:</strong>
  <%= @pref.PREF_DISABLE_SW_UPDATE %>
</p>

<p>
  <strong>Pref fast f score:</strong>
  <%= @pref.PREF_FAST_F_SCORE %>
</p>

<p>
  <strong>Pref fast a score:</strong>
  <%= @pref.PREF_FAST_A_SCORE %>
</p>

<p>
  <strong>Pref fast s score:</strong>
  <%= @pref.PREF_FAST_S_SCORE %>
</p>

<p>
  <strong>Pref fast t score:</strong>
  <%= @pref.PREF_FAST_T_SCORE %>
</p>

<p>
  <strong>Pref grade a:</strong>
  <%= @pref.PREF_GRADE_A %>
</p>

<p>
  <strong>Pref grade b:</strong>
  <%= @pref.PREF_GRADE_B %>
</p>

<p>
  <strong>Pref grade c:</strong>
  <%= @pref.PREF_GRADE_C %>
</p>

<p>
  <strong>Pref grade d:</strong>
  <%= @pref.PREF_GRADE_D %>
</p>

<p>
  <strong>Pref grade f:</strong>
  <%= @pref.PREF_GRADE_F %>
</p>

<p>
  <strong>Pref language:</strong>
  <%= @pref.PREF_LANGUAGE %>
</p>

<p>
  <strong>Pref winners do time:</strong>
  <%= @pref.PREF_WINNERS_DO_TIME %>
</p>

<p>
  <strong>Pref winners notify email:</strong>
  <%= @pref.PREF_WINNERS_NOTIFY_EMAIL %>
</p>

<p>
  <strong>Pref winners checked:</strong>
  <%= @pref.PREF_WINNERS_CHECKED %>
</p>

<p>
  <strong>Pref job user date1:</strong>
  <%= @pref.PREF_JOB_USER_DATE1 %>
</p>

<p>
  <strong>Pref job user date2:</strong>
  <%= @pref.PREF_JOB_USER_DATE2 %>
</p>

<p>
  <strong>Pref ical sync:</strong>
  <%= @pref.PREF_ICAL_SYNC %>
</p>

<p>
  <strong>Pref tax3 option1:</strong>
  <%= @pref.PREF_TAX3_OPTION1 %>
</p>

<p>
  <strong>Pref tax3 option2:</strong>
  <%= @pref.PREF_TAX3_OPTION2 %>
</p>

<p>
  <strong>Pref tax3 percent:</strong>
  <%= @pref.PREF_TAX3_PERCENT %>
</p>

<p>
  <strong>Pref homebase dropbox:</strong>
  <%= @pref.PREF_HOMEBASE_DROPBOX %>
</p>

<p>
  <strong>Pref homebase pw:</strong>
  <%= @pref.PREF_HOMEBASE_PW %>
</p>

<p>
  <strong>Pref job complete pc:</strong>
  <%= @pref.PREF_JOB_COMPLETE_PC %>
</p>

<p>
  <strong>Pref rush chg1:</strong>
  <%= @pref.PREF_RUSH_CHG1 %>
</p>

<p>
  <strong>Pref rush chg2:</strong>
  <%= @pref.PREF_RUSH_CHG2 %>
</p>

<p>
  <strong>Pref rush chg3:</strong>
  <%= @pref.PREF_RUSH_CHG3 %>
</p>

<p>
  <strong>Pref email pw:</strong>
  <%= @pref.PREF_EMAIL_PW %>
</p>

<p>
  <strong>Pref strong pw:</strong>
  <%= @pref.PREF_STRONG_PW %>
</p>

<p>
  <strong>Pref time point1:</strong>
  <%= @pref.PREF_TIME_POINT1 %>
</p>

<p>
  <strong>Pref time point2:</strong>
  <%= @pref.PREF_TIME_POINT2 %>
</p>

<p>
  <strong>Pref time point3:</strong>
  <%= @pref.PREF_TIME_POINT3 %>
</p>

<p>
  <strong>Pref window logo:</strong>
  <%= @pref.PREF_WINDOW_LOGO %>
</p>

<p>
  <strong>Pref job req user fields:</strong>
  <%= @pref.PREF_JOB_REQ_USER_FIELDS %>
</p>

<p>
  <strong>Pref expire pw:</strong>
  <%= @pref.PREF_EXPIRE_PW %>
</p>

<p>
  <strong>Pref req pc tasks:</strong>
  <%= @pref.PREF_REQ_PC_TASKS %>
</p>

<p>
  <strong>Pref prj invite:</strong>
  <%= @pref.PREF_PRJ_INVITE %>
</p>

<p>
  <strong>Pref smtp port:</strong>
  <%= @pref.PREF_SMTP_PORT %>
</p>

<p>
  <strong>Pref smtp ssl:</strong>
  <%= @pref.PREF_SMTP_SSL %>
</p>

<%= link_to 'Edit', edit_pref_path(@pref) %> |
<%= link_to 'Back', prefs_path %>
