<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @rfq_vendor.primaryKey %>
</p>

<p>
  <strong>Rfqv num:</strong>
  <%= @rfq_vendor.RFQV_NUM %>
</p>

<p>
  <strong>Rfqv vendor num:</strong>
  <%= @rfq_vendor.RFQV_VENDOR_NUM %>
</p>

<p>
  <strong>Rfqv contact:</strong>
  <%= @rfq_vendor.RFQV_CONTACT %>
</p>

<p>
  <strong>Rfqv phone:</strong>
  <%= @rfq_vendor.RFQV_PHONE %>
</p>

<p>
  <strong>Rfqv fax:</strong>
  <%= @rfq_vendor.RFQV_FAX %>
</p>

<p>
  <strong>Rfqv winner:</strong>
  <%= @rfq_vendor.RFQV_WINNER %>
</p>

<p>
  <strong>Rfqv vorg:</strong>
  <%= @rfq_vendor.RFQV_VORG %>
</p>

<p>
  <strong>Rfqv type:</strong>
  <%= @rfq_vendor.RFQV_TYPE %>
</p>

<%= link_to 'Edit', edit_rfq_vendor_path(@rfq_vendor) %> |
<%= link_to 'Back', rfq_vendors_path %>
