<%= simple_form_for(@version) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :VER_PROGRAM %>
    <%= f.input :VER_NAME %>
    <%= f.input :VER_A %>
    <%= f.input :VER_B %>
    <%= f.input :VER_C %>
    <%= f.input :VER_BETA_NUM %>
    <%= f.input :VER_DEMO %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
