<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @task_table.primaryKey %>
</p>

<p>
  <strong>T task:</strong>
  <%= @task_table.T_TASK %>
</p>

<p>
  <strong>T name:</strong>
  <%= @task_table.T_NAME %>
</p>

<p>
  <strong>T tax1:</strong>
  <%= @task_table.T_TAX1 %>
</p>

<p>
  <strong>T tax2:</strong>
  <%= @task_table.T_TAX2 %>
</p>

<p>
  <strong>T markup:</strong>
  <%= @task_table.T_MARKUP %>
</p>

<p>
  <strong>T bill rate:</strong>
  <%= @task_table.T_BILL_RATE %>
</p>

<p>
  <strong>T dgl:</strong>
  <%= @task_table.T_DGL %>
</p>

<p>
  <strong>T cgl:</strong>
  <%= @task_table.T_CGL %>
</p>

<p>
  <strong>T group:</strong>
  <%= @task_table.T_GROUP %>
</p>

<p>
  <strong>T sort:</strong>
  <%= @task_table.T_SORT %>
</p>

<p>
  <strong>T lead time:</strong>
  <%= @task_table.T_LEAD_TIME %>
</p>

<p>
  <strong>T kind:</strong>
  <%= @task_table.T_KIND %>
</p>

<p>
  <strong>T hours:</strong>
  <%= @task_table.T_HOURS %>
</p>

<p>
  <strong>T cost:</strong>
  <%= @task_table.T_COST %>
</p>

<p>
  <strong>T pc:</strong>
  <%= @task_table.T_PC %>
</p>

<p>
  <strong>T desc:</strong>
  <%= @task_table.T_DESC %>
</p>

<p>
  <strong>T char2:</strong>
  <%= @task_table.T_CHAR2 %>
</p>

<p>
  <strong>T char3:</strong>
  <%= @task_table.T_CHAR3 %>
</p>

<p>
  <strong>T char4:</strong>
  <%= @task_table.T_CHAR4 %>
</p>

<p>
  <strong>T char5:</strong>
  <%= @task_table.T_CHAR5 %>
</p>

<p>
  <strong>T char6:</strong>
  <%= @task_table.T_CHAR6 %>
</p>

<p>
  <strong>T char7:</strong>
  <%= @task_table.T_CHAR7 %>
</p>

<p>
  <strong>T unbillable:</strong>
  <%= @task_table.T_UNBILLABLE %>
</p>

<p>
  <strong>T sort prod:</strong>
  <%= @task_table.T_SORT_PROD %>
</p>

<p>
  <strong>T pref3:</strong>
  <%= @task_table.T_PREF3 %>
</p>

<p>
  <strong>T pref4:</strong>
  <%= @task_table.T_PREF4 %>
</p>

<p>
  <strong>T amt1:</strong>
  <%= @task_table.T_AMT1 %>
</p>

<p>
  <strong>T amt2:</strong>
  <%= @task_table.T_AMT2 %>
</p>

<p>
  <strong>T icon:</strong>
  <%= @task_table.T_ICON %>
</p>

<p>
  <strong>T roll up:</strong>
  <%= @task_table.T_ROLL_UP %>
</p>

<p>
  <strong>T active:</strong>
  <%= @task_table.T_ACTIVE %>
</p>

<p>
  <strong>T commissionable:</strong>
  <%= @task_table.T_COMMISSIONABLE %>
</p>

<p>
  <strong>T comm rate ae:</strong>
  <%= @task_table.T_COMM_RATE_AE %>
</p>

<p>
  <strong>T comm rate biz:</strong>
  <%= @task_table.T_COMM_RATE_BIZ %>
</p>

<p>
  <strong>T req approval:</strong>
  <%= @task_table.T_REQ_APPROVAL %>
</p>

<p>
  <strong>T req approval by:</strong>
  <%= @task_table.T_REQ_APPROVAL_BY %>
</p>

<p>
  <strong>T added by:</strong>
  <%= @task_table.T_ADDED_BY %>
</p>

<p>
  <strong>T added when:</strong>
  <%= @task_table.T_ADDED_WHEN %>
</p>

<p>
  <strong>T edited by:</strong>
  <%= @task_table.T_EDITED_BY %>
</p>

<p>
  <strong>T edited when:</strong>
  <%= @task_table.T_EDITED_WHEN %>
</p>

<p>
  <strong>T payroll:</strong>
  <%= @task_table.T_PAYROLL %>
</p>

<p>
  <strong>T util cat:</strong>
  <%= @task_table.T_UTIL_CAT %>
</p>

<p>
  <strong>T tags:</strong>
  <%= @task_table.T_TAGS %>
</p>

<p>
  <strong>T client sched:</strong>
  <%= @task_table.T_CLIENT_SCHED %>
</p>

<p>
  <strong>T milestone:</strong>
  <%= @task_table.T_MILESTONE %>
</p>

<p>
  <strong>T tax3:</strong>
  <%= @task_table.T_TAX3 %>
</p>

<p>
  <strong>T small icon:</strong>
  <%= @task_table.T_SMALL_ICON %>
</p>

<p>
  <strong>T always discuss:</strong>
  <%= @task_table.T_ALWAYS_DISCUSS %>
</p>

<p>
  <strong>T no time:</strong>
  <%= @task_table.T_NO_TIME %>
</p>

<p>
  <strong>T status finished:</strong>
  <%= @task_table.T_STATUS_FINISHED %>
</p>

<%= link_to 'Edit', edit_task_table_path(@task_table) %> |
<%= link_to 'Back', task_tables_path %>
