<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @rfq_sku.primaryKey %>
</p>

<p>
  <strong>Rfqsku part num:</strong>
  <%= @rfq_sku.RFQSKU_PART_NUM %>
</p>

<p>
  <strong>Rfqsku name:</strong>
  <%= @rfq_sku.RFQSKU_NAME %>
</p>

<p>
  <strong>Rfqsku desc:</strong>
  <%= @rfq_sku.RFQSKU_DESC %>
</p>

<p>
  <strong>Rfqsku type:</strong>
  <%= @rfq_sku.RFQSKU_TYPE %>
</p>

<p>
  <strong>Rfqsku markup:</strong>
  <%= @rfq_sku.RFQSKU_MARKUP %>
</p>

<p>
  <strong>Rfqsku unit cost:</strong>
  <%= @rfq_sku.RFQSKU_UNIT_COST %>
</p>

<p>
  <strong>Rfqsku vendor num:</strong>
  <%= @rfq_sku.RFQSKU_VENDOR_NUM %>
</p>

<p>
  <strong>Rfqsku task:</strong>
  <%= @rfq_sku.RFQSKU_TASK %>
</p>

<p>
  <strong>Rfqsku job type:</strong>
  <%= @rfq_sku.RFQSKU_JOB_TYPE %>
</p>

<%= link_to 'Edit', edit_rfq_sku_path(@rfq_sku) %> |
<%= link_to 'Back', rfq_skus_path %>
