<%= simple_form_for(@media_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :MX_CAMPAIGN_NUM %>
    <%= f.input :MX_DATE %>
    <%= f.input :MX_STATION %>
    <%= f.input :MX_GROUP %>
    <%= f.input :MX_TIME_PGM %>
    <%= f.input :MX_GROSS_EA %>
    <%= f.input :MX_F1 %>
    <%= f.input :MX_SA1 %>
    <%= f.input :MX_SU1 %>
    <%= f.input :MX_M1 %>
    <%= f.input :MX_T1 %>
    <%= f.input :MX_W1 %>
    <%= f.input :MX_TH1 %>
    <%= f.input :MX_F2 %>
    <%= f.input :MX_SA2 %>
    <%= f.input :MX_SU2 %>
    <%= f.input :MX_M2 %>
    <%= f.input :MX_T2 %>
    <%= f.input :MX_W2 %>
    <%= f.input :MX_TH2 %>
    <%= f.input :MX_F3 %>
    <%= f.input :MX_RATING_EA %>
    <%= f.input :MX_RATING %>
    <%= f.input :MX_GROSS_AMT %>
    <%= f.input :MX_SPOTS %>
    <%= f.input :MX_WEEK1_1 %>
    <%= f.input :MX_WEEK1_2 %>
    <%= f.input :MX_WEEK1_COST %>
    <%= f.input :MX_WEEK2_1 %>
    <%= f.input :MX_WEEK2_2 %>
    <%= f.input :MX_WEEK2_COST %>
    <%= f.input :MX_WEEK3_1 %>
    <%= f.input :MX_WEEK3_2 %>
    <%= f.input :MX_WEEK3_COST %>
    <%= f.input :MX_WEEK4_1 %>
    <%= f.input :MX_WEEK4_2 %>
    <%= f.input :MX_WEEK4_COST %>
    <%= f.input :MX_WEEK5_1 %>
    <%= f.input :MX_WEEK5_2 %>
    <%= f.input :MX_WEEK5_COST %>
    <%= f.input :MX_NOTES %>
    <%= f.input :MX_M_NUM %>
    <%= f.input :MX_MEDIA1 %>
    <%= f.input :MX_MEDIA2 %>
    <%= f.input :MX_MEDIA3 %>
    <%= f.input :MX_PO_NUM %>
    <%= f.input :MX_DATE_ORDERED %>
    <%= f.input :MX_ORDERED %>
    <%= f.input :MX_WEEK6_1 %>
    <%= f.input :MX_WEEK6_2 %>
    <%= f.input :MX_WEEK6_COST %>
    <%= f.input :MX_WEEK7_1 %>
    <%= f.input :MX_WEEK7_2 %>
    <%= f.input :MX_WEEK7_COST %>
    <%= f.input :MX_WEEK8_1 %>
    <%= f.input :MX_WEEK8_2 %>
    <%= f.input :MX_WEEK8_COST %>
    <%= f.input :MX_WEEK9_1 %>
    <%= f.input :MX_WEEK9_2 %>
    <%= f.input :MX_WEEK9_COST %>
    <%= f.input :MX_WEEK10_1 %>
    <%= f.input :MX_WEEK10_2 %>
    <%= f.input :MX_WEEK10_COST %>
    <%= f.input :MX_WEEK11_1 %>
    <%= f.input :MX_WEEK11_2 %>
    <%= f.input :MX_WEEK11_COST %>
    <%= f.input :MX_WEEK12_1 %>
    <%= f.input :MX_WEEK12_2 %>
    <%= f.input :MX_WEEK12_COST %>
    <%= f.input :MX_AMT_ORDERED %>
    <%= f.input :MX_WEEK1_PO %>
    <%= f.input :MX_WEEK2_PO %>
    <%= f.input :MX_WEEK3_PO %>
    <%= f.input :MX_WEEK4_PO %>
    <%= f.input :MX_WEEK5_PO %>
    <%= f.input :MX_WEEK6_PO %>
    <%= f.input :MX_WEEK7_PO %>
    <%= f.input :MX_WEEK8_PO %>
    <%= f.input :MX_WEEK9_PO %>
    <%= f.input :MX_WEEK10_PO %>
    <%= f.input :MX_WEEK11_PO %>
    <%= f.input :MX_WEEK12_PO %>
    <%= f.input :MX_AD_CAPTION %>
    <%= f.input :MX_WEEK1_3 %>
    <%= f.input :MX_WEEK2_3 %>
    <%= f.input :MX_WEEK3_3 %>
    <%= f.input :MX_WEEK4_3 %>
    <%= f.input :MX_WEEK5_3 %>
    <%= f.input :MX_WEEK6_3 %>
    <%= f.input :MX_WEEK7_3 %>
    <%= f.input :MX_WEEK8_3 %>
    <%= f.input :MX_WEEK9_3 %>
    <%= f.input :MX_WEEK10_3 %>
    <%= f.input :MX_WEEK11_3 %>
    <%= f.input :MX_WEEK12_3 %>
    <%= f.input :MX_RATE_BASIS %>
    <%= f.input :MX_SPACE_CLOSE1 %>
    <%= f.input :MX_SPACE_CLOSE2 %>
    <%= f.input :MX_SPACE_CLOSE3 %>
    <%= f.input :MX_SPACE_CLOSE4 %>
    <%= f.input :MX_SPACE_CLOSE5 %>
    <%= f.input :MX_SPACE_CLOSE6 %>
    <%= f.input :MX_SPACE_CLOSE7 %>
    <%= f.input :MX_SPACE_CLOSE8 %>
    <%= f.input :MX_SPACE_CLOSE9 %>
    <%= f.input :MX_SPACE_CLOSE10 %>
    <%= f.input :MX_SPACE_CLOSE11 %>
    <%= f.input :MX_SPACE_CLOSE12 %>
    <%= f.input :MX_MAT_DUE1 %>
    <%= f.input :MX_MAT_DUE2 %>
    <%= f.input :MX_MAT_DUE3 %>
    <%= f.input :MX_MAT_DUE4 %>
    <%= f.input :MX_MAT_DUE5 %>
    <%= f.input :MX_MAT_DUE6 %>
    <%= f.input :MX_MAT_DUE7 %>
    <%= f.input :MX_MAT_DUE8 %>
    <%= f.input :MX_MAT_DUE9 %>
    <%= f.input :MX_MAT_DUE10 %>
    <%= f.input :MX_MAT_DUE11 %>
    <%= f.input :MX_MAT_DUE12 %>
    <%= f.input :MX_LENGTH %>
    <%= f.input :MX_DAY %>
    <%= f.input :MX_DATES %>
    <%= f.input :MX_TIME %>
    <%= f.input :MX_QTY %>
    <%= f.input :MX_START_DATE %>
    <%= f.input :MX_RUN_DATE1 %>
    <%= f.input :MX_RUN_DATE2 %>
    <%= f.input :MX_RUN_DATE3 %>
    <%= f.input :MX_RUN_DATE4 %>
    <%= f.input :MX_RUN_DATE5 %>
    <%= f.input :MX_RUN_DATE6 %>
    <%= f.input :MX_RUN_DATE7 %>
    <%= f.input :MX_RUN_DATE8 %>
    <%= f.input :MX_RUN_DATE9 %>
    <%= f.input :MX_RUN_DATE10 %>
    <%= f.input :MX_RUN_DATE11 %>
    <%= f.input :MX_RUN_DATE12 %>
    <%= f.input :MX_ADDED_BY %>
    <%= f.input :MX_ADDED_WHEN %>
    <%= f.input :MX_EDITED_BY %>
    <%= f.input :MX_EDITED_WHEN %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
