<h1>Listing media_items</h1>

<table>
  <thead>
    <tr>
      <th>Primarykey</th>
      <th>Mx campaign num</th>
      <th>Mx date</th>
      <th>Mx station</th>
      <th>Mx group</th>
      <th>Mx time pgm</th>
      <th>Mx gross ea</th>
      <th>Mx f1</th>
      <th>Mx sa1</th>
      <th>Mx su1</th>
      <th>Mx m1</th>
      <th>Mx t1</th>
      <th>Mx w1</th>
      <th>Mx th1</th>
      <th>Mx f2</th>
      <th>Mx sa2</th>
      <th>Mx su2</th>
      <th>Mx m2</th>
      <th>Mx t2</th>
      <th>Mx w2</th>
      <th>Mx th2</th>
      <th>Mx f3</th>
      <th>Mx rating ea</th>
      <th>Mx rating</th>
      <th>Mx gross amt</th>
      <th>Mx spots</th>
      <th>Mx week1 1</th>
      <th>Mx week1 2</th>
      <th>Mx week1 cost</th>
      <th>Mx week2 1</th>
      <th>Mx week2 2</th>
      <th>Mx week2 cost</th>
      <th>Mx week3 1</th>
      <th>Mx week3 2</th>
      <th>Mx week3 cost</th>
      <th>Mx week4 1</th>
      <th>Mx week4 2</th>
      <th>Mx week4 cost</th>
      <th>Mx week5 1</th>
      <th>Mx week5 2</th>
      <th>Mx week5 cost</th>
      <th>Mx notes</th>
      <th>Mx m num</th>
      <th>Mx media1</th>
      <th>Mx media2</th>
      <th>Mx media3</th>
      <th>Mx po num</th>
      <th>Mx date ordered</th>
      <th>Mx ordered</th>
      <th>Mx week6 1</th>
      <th>Mx week6 2</th>
      <th>Mx week6 cost</th>
      <th>Mx week7 1</th>
      <th>Mx week7 2</th>
      <th>Mx week7 cost</th>
      <th>Mx week8 1</th>
      <th>Mx week8 2</th>
      <th>Mx week8 cost</th>
      <th>Mx week9 1</th>
      <th>Mx week9 2</th>
      <th>Mx week9 cost</th>
      <th>Mx week10 1</th>
      <th>Mx week10 2</th>
      <th>Mx week10 cost</th>
      <th>Mx week11 1</th>
      <th>Mx week11 2</th>
      <th>Mx week11 cost</th>
      <th>Mx week12 1</th>
      <th>Mx week12 2</th>
      <th>Mx week12 cost</th>
      <th>Mx amt ordered</th>
      <th>Mx week1 po</th>
      <th>Mx week2 po</th>
      <th>Mx week3 po</th>
      <th>Mx week4 po</th>
      <th>Mx week5 po</th>
      <th>Mx week6 po</th>
      <th>Mx week7 po</th>
      <th>Mx week8 po</th>
      <th>Mx week9 po</th>
      <th>Mx week10 po</th>
      <th>Mx week11 po</th>
      <th>Mx week12 po</th>
      <th>Mx ad caption</th>
      <th>Mx week1 3</th>
      <th>Mx week2 3</th>
      <th>Mx week3 3</th>
      <th>Mx week4 3</th>
      <th>Mx week5 3</th>
      <th>Mx week6 3</th>
      <th>Mx week7 3</th>
      <th>Mx week8 3</th>
      <th>Mx week9 3</th>
      <th>Mx week10 3</th>
      <th>Mx week11 3</th>
      <th>Mx week12 3</th>
      <th>Mx rate basis</th>
      <th>Mx space close1</th>
      <th>Mx space close2</th>
      <th>Mx space close3</th>
      <th>Mx space close4</th>
      <th>Mx space close5</th>
      <th>Mx space close6</th>
      <th>Mx space close7</th>
      <th>Mx space close8</th>
      <th>Mx space close9</th>
      <th>Mx space close10</th>
      <th>Mx space close11</th>
      <th>Mx space close12</th>
      <th>Mx mat due1</th>
      <th>Mx mat due2</th>
      <th>Mx mat due3</th>
      <th>Mx mat due4</th>
      <th>Mx mat due5</th>
      <th>Mx mat due6</th>
      <th>Mx mat due7</th>
      <th>Mx mat due8</th>
      <th>Mx mat due9</th>
      <th>Mx mat due10</th>
      <th>Mx mat due11</th>
      <th>Mx mat due12</th>
      <th>Mx length</th>
      <th>Mx day</th>
      <th>Mx dates</th>
      <th>Mx time</th>
      <th>Mx qty</th>
      <th>Mx start date</th>
      <th>Mx run date1</th>
      <th>Mx run date2</th>
      <th>Mx run date3</th>
      <th>Mx run date4</th>
      <th>Mx run date5</th>
      <th>Mx run date6</th>
      <th>Mx run date7</th>
      <th>Mx run date8</th>
      <th>Mx run date9</th>
      <th>Mx run date10</th>
      <th>Mx run date11</th>
      <th>Mx run date12</th>
      <th>Mx added by</th>
      <th>Mx added when</th>
      <th>Mx edited by</th>
      <th>Mx edited when</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @media_items.each do |media_item| %>
      <tr>
        <td><%= media_item.primaryKey %></td>
        <td><%= media_item.MX_CAMPAIGN_NUM %></td>
        <td><%= media_item.MX_DATE %></td>
        <td><%= media_item.MX_STATION %></td>
        <td><%= media_item.MX_GROUP %></td>
        <td><%= media_item.MX_TIME_PGM %></td>
        <td><%= media_item.MX_GROSS_EA %></td>
        <td><%= media_item.MX_F1 %></td>
        <td><%= media_item.MX_SA1 %></td>
        <td><%= media_item.MX_SU1 %></td>
        <td><%= media_item.MX_M1 %></td>
        <td><%= media_item.MX_T1 %></td>
        <td><%= media_item.MX_W1 %></td>
        <td><%= media_item.MX_TH1 %></td>
        <td><%= media_item.MX_F2 %></td>
        <td><%= media_item.MX_SA2 %></td>
        <td><%= media_item.MX_SU2 %></td>
        <td><%= media_item.MX_M2 %></td>
        <td><%= media_item.MX_T2 %></td>
        <td><%= media_item.MX_W2 %></td>
        <td><%= media_item.MX_TH2 %></td>
        <td><%= media_item.MX_F3 %></td>
        <td><%= media_item.MX_RATING_EA %></td>
        <td><%= media_item.MX_RATING %></td>
        <td><%= media_item.MX_GROSS_AMT %></td>
        <td><%= media_item.MX_SPOTS %></td>
        <td><%= media_item.MX_WEEK1_1 %></td>
        <td><%= media_item.MX_WEEK1_2 %></td>
        <td><%= media_item.MX_WEEK1_COST %></td>
        <td><%= media_item.MX_WEEK2_1 %></td>
        <td><%= media_item.MX_WEEK2_2 %></td>
        <td><%= media_item.MX_WEEK2_COST %></td>
        <td><%= media_item.MX_WEEK3_1 %></td>
        <td><%= media_item.MX_WEEK3_2 %></td>
        <td><%= media_item.MX_WEEK3_COST %></td>
        <td><%= media_item.MX_WEEK4_1 %></td>
        <td><%= media_item.MX_WEEK4_2 %></td>
        <td><%= media_item.MX_WEEK4_COST %></td>
        <td><%= media_item.MX_WEEK5_1 %></td>
        <td><%= media_item.MX_WEEK5_2 %></td>
        <td><%= media_item.MX_WEEK5_COST %></td>
        <td><%= media_item.MX_NOTES %></td>
        <td><%= media_item.MX_M_NUM %></td>
        <td><%= media_item.MX_MEDIA1 %></td>
        <td><%= media_item.MX_MEDIA2 %></td>
        <td><%= media_item.MX_MEDIA3 %></td>
        <td><%= media_item.MX_PO_NUM %></td>
        <td><%= media_item.MX_DATE_ORDERED %></td>
        <td><%= media_item.MX_ORDERED %></td>
        <td><%= media_item.MX_WEEK6_1 %></td>
        <td><%= media_item.MX_WEEK6_2 %></td>
        <td><%= media_item.MX_WEEK6_COST %></td>
        <td><%= media_item.MX_WEEK7_1 %></td>
        <td><%= media_item.MX_WEEK7_2 %></td>
        <td><%= media_item.MX_WEEK7_COST %></td>
        <td><%= media_item.MX_WEEK8_1 %></td>
        <td><%= media_item.MX_WEEK8_2 %></td>
        <td><%= media_item.MX_WEEK8_COST %></td>
        <td><%= media_item.MX_WEEK9_1 %></td>
        <td><%= media_item.MX_WEEK9_2 %></td>
        <td><%= media_item.MX_WEEK9_COST %></td>
        <td><%= media_item.MX_WEEK10_1 %></td>
        <td><%= media_item.MX_WEEK10_2 %></td>
        <td><%= media_item.MX_WEEK10_COST %></td>
        <td><%= media_item.MX_WEEK11_1 %></td>
        <td><%= media_item.MX_WEEK11_2 %></td>
        <td><%= media_item.MX_WEEK11_COST %></td>
        <td><%= media_item.MX_WEEK12_1 %></td>
        <td><%= media_item.MX_WEEK12_2 %></td>
        <td><%= media_item.MX_WEEK12_COST %></td>
        <td><%= media_item.MX_AMT_ORDERED %></td>
        <td><%= media_item.MX_WEEK1_PO %></td>
        <td><%= media_item.MX_WEEK2_PO %></td>
        <td><%= media_item.MX_WEEK3_PO %></td>
        <td><%= media_item.MX_WEEK4_PO %></td>
        <td><%= media_item.MX_WEEK5_PO %></td>
        <td><%= media_item.MX_WEEK6_PO %></td>
        <td><%= media_item.MX_WEEK7_PO %></td>
        <td><%= media_item.MX_WEEK8_PO %></td>
        <td><%= media_item.MX_WEEK9_PO %></td>
        <td><%= media_item.MX_WEEK10_PO %></td>
        <td><%= media_item.MX_WEEK11_PO %></td>
        <td><%= media_item.MX_WEEK12_PO %></td>
        <td><%= media_item.MX_AD_CAPTION %></td>
        <td><%= media_item.MX_WEEK1_3 %></td>
        <td><%= media_item.MX_WEEK2_3 %></td>
        <td><%= media_item.MX_WEEK3_3 %></td>
        <td><%= media_item.MX_WEEK4_3 %></td>
        <td><%= media_item.MX_WEEK5_3 %></td>
        <td><%= media_item.MX_WEEK6_3 %></td>
        <td><%= media_item.MX_WEEK7_3 %></td>
        <td><%= media_item.MX_WEEK8_3 %></td>
        <td><%= media_item.MX_WEEK9_3 %></td>
        <td><%= media_item.MX_WEEK10_3 %></td>
        <td><%= media_item.MX_WEEK11_3 %></td>
        <td><%= media_item.MX_WEEK12_3 %></td>
        <td><%= media_item.MX_RATE_BASIS %></td>
        <td><%= media_item.MX_SPACE_CLOSE1 %></td>
        <td><%= media_item.MX_SPACE_CLOSE2 %></td>
        <td><%= media_item.MX_SPACE_CLOSE3 %></td>
        <td><%= media_item.MX_SPACE_CLOSE4 %></td>
        <td><%= media_item.MX_SPACE_CLOSE5 %></td>
        <td><%= media_item.MX_SPACE_CLOSE6 %></td>
        <td><%= media_item.MX_SPACE_CLOSE7 %></td>
        <td><%= media_item.MX_SPACE_CLOSE8 %></td>
        <td><%= media_item.MX_SPACE_CLOSE9 %></td>
        <td><%= media_item.MX_SPACE_CLOSE10 %></td>
        <td><%= media_item.MX_SPACE_CLOSE11 %></td>
        <td><%= media_item.MX_SPACE_CLOSE12 %></td>
        <td><%= media_item.MX_MAT_DUE1 %></td>
        <td><%= media_item.MX_MAT_DUE2 %></td>
        <td><%= media_item.MX_MAT_DUE3 %></td>
        <td><%= media_item.MX_MAT_DUE4 %></td>
        <td><%= media_item.MX_MAT_DUE5 %></td>
        <td><%= media_item.MX_MAT_DUE6 %></td>
        <td><%= media_item.MX_MAT_DUE7 %></td>
        <td><%= media_item.MX_MAT_DUE8 %></td>
        <td><%= media_item.MX_MAT_DUE9 %></td>
        <td><%= media_item.MX_MAT_DUE10 %></td>
        <td><%= media_item.MX_MAT_DUE11 %></td>
        <td><%= media_item.MX_MAT_DUE12 %></td>
        <td><%= media_item.MX_LENGTH %></td>
        <td><%= media_item.MX_DAY %></td>
        <td><%= media_item.MX_DATES %></td>
        <td><%= media_item.MX_TIME %></td>
        <td><%= media_item.MX_QTY %></td>
        <td><%= media_item.MX_START_DATE %></td>
        <td><%= media_item.MX_RUN_DATE1 %></td>
        <td><%= media_item.MX_RUN_DATE2 %></td>
        <td><%= media_item.MX_RUN_DATE3 %></td>
        <td><%= media_item.MX_RUN_DATE4 %></td>
        <td><%= media_item.MX_RUN_DATE5 %></td>
        <td><%= media_item.MX_RUN_DATE6 %></td>
        <td><%= media_item.MX_RUN_DATE7 %></td>
        <td><%= media_item.MX_RUN_DATE8 %></td>
        <td><%= media_item.MX_RUN_DATE9 %></td>
        <td><%= media_item.MX_RUN_DATE10 %></td>
        <td><%= media_item.MX_RUN_DATE11 %></td>
        <td><%= media_item.MX_RUN_DATE12 %></td>
        <td><%= media_item.MX_ADDED_BY %></td>
        <td><%= media_item.MX_ADDED_WHEN %></td>
        <td><%= media_item.MX_EDITED_BY %></td>
        <td><%= media_item.MX_EDITED_WHEN %></td>
        <td><%= link_to 'Show', media_item %></td>
        <td><%= link_to 'Edit', edit_media_item_path(media_item) %></td>
        <td><%= link_to 'Destroy', media_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Media item', new_media_item_path %>
