<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @media_item.primaryKey %>
</p>

<p>
  <strong>Mx campaign num:</strong>
  <%= @media_item.MX_CAMPAIGN_NUM %>
</p>

<p>
  <strong>Mx date:</strong>
  <%= @media_item.MX_DATE %>
</p>

<p>
  <strong>Mx station:</strong>
  <%= @media_item.MX_STATION %>
</p>

<p>
  <strong>Mx group:</strong>
  <%= @media_item.MX_GROUP %>
</p>

<p>
  <strong>Mx time pgm:</strong>
  <%= @media_item.MX_TIME_PGM %>
</p>

<p>
  <strong>Mx gross ea:</strong>
  <%= @media_item.MX_GROSS_EA %>
</p>

<p>
  <strong>Mx f1:</strong>
  <%= @media_item.MX_F1 %>
</p>

<p>
  <strong>Mx sa1:</strong>
  <%= @media_item.MX_SA1 %>
</p>

<p>
  <strong>Mx su1:</strong>
  <%= @media_item.MX_SU1 %>
</p>

<p>
  <strong>Mx m1:</strong>
  <%= @media_item.MX_M1 %>
</p>

<p>
  <strong>Mx t1:</strong>
  <%= @media_item.MX_T1 %>
</p>

<p>
  <strong>Mx w1:</strong>
  <%= @media_item.MX_W1 %>
</p>

<p>
  <strong>Mx th1:</strong>
  <%= @media_item.MX_TH1 %>
</p>

<p>
  <strong>Mx f2:</strong>
  <%= @media_item.MX_F2 %>
</p>

<p>
  <strong>Mx sa2:</strong>
  <%= @media_item.MX_SA2 %>
</p>

<p>
  <strong>Mx su2:</strong>
  <%= @media_item.MX_SU2 %>
</p>

<p>
  <strong>Mx m2:</strong>
  <%= @media_item.MX_M2 %>
</p>

<p>
  <strong>Mx t2:</strong>
  <%= @media_item.MX_T2 %>
</p>

<p>
  <strong>Mx w2:</strong>
  <%= @media_item.MX_W2 %>
</p>

<p>
  <strong>Mx th2:</strong>
  <%= @media_item.MX_TH2 %>
</p>

<p>
  <strong>Mx f3:</strong>
  <%= @media_item.MX_F3 %>
</p>

<p>
  <strong>Mx rating ea:</strong>
  <%= @media_item.MX_RATING_EA %>
</p>

<p>
  <strong>Mx rating:</strong>
  <%= @media_item.MX_RATING %>
</p>

<p>
  <strong>Mx gross amt:</strong>
  <%= @media_item.MX_GROSS_AMT %>
</p>

<p>
  <strong>Mx spots:</strong>
  <%= @media_item.MX_SPOTS %>
</p>

<p>
  <strong>Mx week1 1:</strong>
  <%= @media_item.MX_WEEK1_1 %>
</p>

<p>
  <strong>Mx week1 2:</strong>
  <%= @media_item.MX_WEEK1_2 %>
</p>

<p>
  <strong>Mx week1 cost:</strong>
  <%= @media_item.MX_WEEK1_COST %>
</p>

<p>
  <strong>Mx week2 1:</strong>
  <%= @media_item.MX_WEEK2_1 %>
</p>

<p>
  <strong>Mx week2 2:</strong>
  <%= @media_item.MX_WEEK2_2 %>
</p>

<p>
  <strong>Mx week2 cost:</strong>
  <%= @media_item.MX_WEEK2_COST %>
</p>

<p>
  <strong>Mx week3 1:</strong>
  <%= @media_item.MX_WEEK3_1 %>
</p>

<p>
  <strong>Mx week3 2:</strong>
  <%= @media_item.MX_WEEK3_2 %>
</p>

<p>
  <strong>Mx week3 cost:</strong>
  <%= @media_item.MX_WEEK3_COST %>
</p>

<p>
  <strong>Mx week4 1:</strong>
  <%= @media_item.MX_WEEK4_1 %>
</p>

<p>
  <strong>Mx week4 2:</strong>
  <%= @media_item.MX_WEEK4_2 %>
</p>

<p>
  <strong>Mx week4 cost:</strong>
  <%= @media_item.MX_WEEK4_COST %>
</p>

<p>
  <strong>Mx week5 1:</strong>
  <%= @media_item.MX_WEEK5_1 %>
</p>

<p>
  <strong>Mx week5 2:</strong>
  <%= @media_item.MX_WEEK5_2 %>
</p>

<p>
  <strong>Mx week5 cost:</strong>
  <%= @media_item.MX_WEEK5_COST %>
</p>

<p>
  <strong>Mx notes:</strong>
  <%= @media_item.MX_NOTES %>
</p>

<p>
  <strong>Mx m num:</strong>
  <%= @media_item.MX_M_NUM %>
</p>

<p>
  <strong>Mx media1:</strong>
  <%= @media_item.MX_MEDIA1 %>
</p>

<p>
  <strong>Mx media2:</strong>
  <%= @media_item.MX_MEDIA2 %>
</p>

<p>
  <strong>Mx media3:</strong>
  <%= @media_item.MX_MEDIA3 %>
</p>

<p>
  <strong>Mx po num:</strong>
  <%= @media_item.MX_PO_NUM %>
</p>

<p>
  <strong>Mx date ordered:</strong>
  <%= @media_item.MX_DATE_ORDERED %>
</p>

<p>
  <strong>Mx ordered:</strong>
  <%= @media_item.MX_ORDERED %>
</p>

<p>
  <strong>Mx week6 1:</strong>
  <%= @media_item.MX_WEEK6_1 %>
</p>

<p>
  <strong>Mx week6 2:</strong>
  <%= @media_item.MX_WEEK6_2 %>
</p>

<p>
  <strong>Mx week6 cost:</strong>
  <%= @media_item.MX_WEEK6_COST %>
</p>

<p>
  <strong>Mx week7 1:</strong>
  <%= @media_item.MX_WEEK7_1 %>
</p>

<p>
  <strong>Mx week7 2:</strong>
  <%= @media_item.MX_WEEK7_2 %>
</p>

<p>
  <strong>Mx week7 cost:</strong>
  <%= @media_item.MX_WEEK7_COST %>
</p>

<p>
  <strong>Mx week8 1:</strong>
  <%= @media_item.MX_WEEK8_1 %>
</p>

<p>
  <strong>Mx week8 2:</strong>
  <%= @media_item.MX_WEEK8_2 %>
</p>

<p>
  <strong>Mx week8 cost:</strong>
  <%= @media_item.MX_WEEK8_COST %>
</p>

<p>
  <strong>Mx week9 1:</strong>
  <%= @media_item.MX_WEEK9_1 %>
</p>

<p>
  <strong>Mx week9 2:</strong>
  <%= @media_item.MX_WEEK9_2 %>
</p>

<p>
  <strong>Mx week9 cost:</strong>
  <%= @media_item.MX_WEEK9_COST %>
</p>

<p>
  <strong>Mx week10 1:</strong>
  <%= @media_item.MX_WEEK10_1 %>
</p>

<p>
  <strong>Mx week10 2:</strong>
  <%= @media_item.MX_WEEK10_2 %>
</p>

<p>
  <strong>Mx week10 cost:</strong>
  <%= @media_item.MX_WEEK10_COST %>
</p>

<p>
  <strong>Mx week11 1:</strong>
  <%= @media_item.MX_WEEK11_1 %>
</p>

<p>
  <strong>Mx week11 2:</strong>
  <%= @media_item.MX_WEEK11_2 %>
</p>

<p>
  <strong>Mx week11 cost:</strong>
  <%= @media_item.MX_WEEK11_COST %>
</p>

<p>
  <strong>Mx week12 1:</strong>
  <%= @media_item.MX_WEEK12_1 %>
</p>

<p>
  <strong>Mx week12 2:</strong>
  <%= @media_item.MX_WEEK12_2 %>
</p>

<p>
  <strong>Mx week12 cost:</strong>
  <%= @media_item.MX_WEEK12_COST %>
</p>

<p>
  <strong>Mx amt ordered:</strong>
  <%= @media_item.MX_AMT_ORDERED %>
</p>

<p>
  <strong>Mx week1 po:</strong>
  <%= @media_item.MX_WEEK1_PO %>
</p>

<p>
  <strong>Mx week2 po:</strong>
  <%= @media_item.MX_WEEK2_PO %>
</p>

<p>
  <strong>Mx week3 po:</strong>
  <%= @media_item.MX_WEEK3_PO %>
</p>

<p>
  <strong>Mx week4 po:</strong>
  <%= @media_item.MX_WEEK4_PO %>
</p>

<p>
  <strong>Mx week5 po:</strong>
  <%= @media_item.MX_WEEK5_PO %>
</p>

<p>
  <strong>Mx week6 po:</strong>
  <%= @media_item.MX_WEEK6_PO %>
</p>

<p>
  <strong>Mx week7 po:</strong>
  <%= @media_item.MX_WEEK7_PO %>
</p>

<p>
  <strong>Mx week8 po:</strong>
  <%= @media_item.MX_WEEK8_PO %>
</p>

<p>
  <strong>Mx week9 po:</strong>
  <%= @media_item.MX_WEEK9_PO %>
</p>

<p>
  <strong>Mx week10 po:</strong>
  <%= @media_item.MX_WEEK10_PO %>
</p>

<p>
  <strong>Mx week11 po:</strong>
  <%= @media_item.MX_WEEK11_PO %>
</p>

<p>
  <strong>Mx week12 po:</strong>
  <%= @media_item.MX_WEEK12_PO %>
</p>

<p>
  <strong>Mx ad caption:</strong>
  <%= @media_item.MX_AD_CAPTION %>
</p>

<p>
  <strong>Mx week1 3:</strong>
  <%= @media_item.MX_WEEK1_3 %>
</p>

<p>
  <strong>Mx week2 3:</strong>
  <%= @media_item.MX_WEEK2_3 %>
</p>

<p>
  <strong>Mx week3 3:</strong>
  <%= @media_item.MX_WEEK3_3 %>
</p>

<p>
  <strong>Mx week4 3:</strong>
  <%= @media_item.MX_WEEK4_3 %>
</p>

<p>
  <strong>Mx week5 3:</strong>
  <%= @media_item.MX_WEEK5_3 %>
</p>

<p>
  <strong>Mx week6 3:</strong>
  <%= @media_item.MX_WEEK6_3 %>
</p>

<p>
  <strong>Mx week7 3:</strong>
  <%= @media_item.MX_WEEK7_3 %>
</p>

<p>
  <strong>Mx week8 3:</strong>
  <%= @media_item.MX_WEEK8_3 %>
</p>

<p>
  <strong>Mx week9 3:</strong>
  <%= @media_item.MX_WEEK9_3 %>
</p>

<p>
  <strong>Mx week10 3:</strong>
  <%= @media_item.MX_WEEK10_3 %>
</p>

<p>
  <strong>Mx week11 3:</strong>
  <%= @media_item.MX_WEEK11_3 %>
</p>

<p>
  <strong>Mx week12 3:</strong>
  <%= @media_item.MX_WEEK12_3 %>
</p>

<p>
  <strong>Mx rate basis:</strong>
  <%= @media_item.MX_RATE_BASIS %>
</p>

<p>
  <strong>Mx space close1:</strong>
  <%= @media_item.MX_SPACE_CLOSE1 %>
</p>

<p>
  <strong>Mx space close2:</strong>
  <%= @media_item.MX_SPACE_CLOSE2 %>
</p>

<p>
  <strong>Mx space close3:</strong>
  <%= @media_item.MX_SPACE_CLOSE3 %>
</p>

<p>
  <strong>Mx space close4:</strong>
  <%= @media_item.MX_SPACE_CLOSE4 %>
</p>

<p>
  <strong>Mx space close5:</strong>
  <%= @media_item.MX_SPACE_CLOSE5 %>
</p>

<p>
  <strong>Mx space close6:</strong>
  <%= @media_item.MX_SPACE_CLOSE6 %>
</p>

<p>
  <strong>Mx space close7:</strong>
  <%= @media_item.MX_SPACE_CLOSE7 %>
</p>

<p>
  <strong>Mx space close8:</strong>
  <%= @media_item.MX_SPACE_CLOSE8 %>
</p>

<p>
  <strong>Mx space close9:</strong>
  <%= @media_item.MX_SPACE_CLOSE9 %>
</p>

<p>
  <strong>Mx space close10:</strong>
  <%= @media_item.MX_SPACE_CLOSE10 %>
</p>

<p>
  <strong>Mx space close11:</strong>
  <%= @media_item.MX_SPACE_CLOSE11 %>
</p>

<p>
  <strong>Mx space close12:</strong>
  <%= @media_item.MX_SPACE_CLOSE12 %>
</p>

<p>
  <strong>Mx mat due1:</strong>
  <%= @media_item.MX_MAT_DUE1 %>
</p>

<p>
  <strong>Mx mat due2:</strong>
  <%= @media_item.MX_MAT_DUE2 %>
</p>

<p>
  <strong>Mx mat due3:</strong>
  <%= @media_item.MX_MAT_DUE3 %>
</p>

<p>
  <strong>Mx mat due4:</strong>
  <%= @media_item.MX_MAT_DUE4 %>
</p>

<p>
  <strong>Mx mat due5:</strong>
  <%= @media_item.MX_MAT_DUE5 %>
</p>

<p>
  <strong>Mx mat due6:</strong>
  <%= @media_item.MX_MAT_DUE6 %>
</p>

<p>
  <strong>Mx mat due7:</strong>
  <%= @media_item.MX_MAT_DUE7 %>
</p>

<p>
  <strong>Mx mat due8:</strong>
  <%= @media_item.MX_MAT_DUE8 %>
</p>

<p>
  <strong>Mx mat due9:</strong>
  <%= @media_item.MX_MAT_DUE9 %>
</p>

<p>
  <strong>Mx mat due10:</strong>
  <%= @media_item.MX_MAT_DUE10 %>
</p>

<p>
  <strong>Mx mat due11:</strong>
  <%= @media_item.MX_MAT_DUE11 %>
</p>

<p>
  <strong>Mx mat due12:</strong>
  <%= @media_item.MX_MAT_DUE12 %>
</p>

<p>
  <strong>Mx length:</strong>
  <%= @media_item.MX_LENGTH %>
</p>

<p>
  <strong>Mx day:</strong>
  <%= @media_item.MX_DAY %>
</p>

<p>
  <strong>Mx dates:</strong>
  <%= @media_item.MX_DATES %>
</p>

<p>
  <strong>Mx time:</strong>
  <%= @media_item.MX_TIME %>
</p>

<p>
  <strong>Mx qty:</strong>
  <%= @media_item.MX_QTY %>
</p>

<p>
  <strong>Mx start date:</strong>
  <%= @media_item.MX_START_DATE %>
</p>

<p>
  <strong>Mx run date1:</strong>
  <%= @media_item.MX_RUN_DATE1 %>
</p>

<p>
  <strong>Mx run date2:</strong>
  <%= @media_item.MX_RUN_DATE2 %>
</p>

<p>
  <strong>Mx run date3:</strong>
  <%= @media_item.MX_RUN_DATE3 %>
</p>

<p>
  <strong>Mx run date4:</strong>
  <%= @media_item.MX_RUN_DATE4 %>
</p>

<p>
  <strong>Mx run date5:</strong>
  <%= @media_item.MX_RUN_DATE5 %>
</p>

<p>
  <strong>Mx run date6:</strong>
  <%= @media_item.MX_RUN_DATE6 %>
</p>

<p>
  <strong>Mx run date7:</strong>
  <%= @media_item.MX_RUN_DATE7 %>
</p>

<p>
  <strong>Mx run date8:</strong>
  <%= @media_item.MX_RUN_DATE8 %>
</p>

<p>
  <strong>Mx run date9:</strong>
  <%= @media_item.MX_RUN_DATE9 %>
</p>

<p>
  <strong>Mx run date10:</strong>
  <%= @media_item.MX_RUN_DATE10 %>
</p>

<p>
  <strong>Mx run date11:</strong>
  <%= @media_item.MX_RUN_DATE11 %>
</p>

<p>
  <strong>Mx run date12:</strong>
  <%= @media_item.MX_RUN_DATE12 %>
</p>

<p>
  <strong>Mx added by:</strong>
  <%= @media_item.MX_ADDED_BY %>
</p>

<p>
  <strong>Mx added when:</strong>
  <%= @media_item.MX_ADDED_WHEN %>
</p>

<p>
  <strong>Mx edited by:</strong>
  <%= @media_item.MX_EDITED_BY %>
</p>

<p>
  <strong>Mx edited when:</strong>
  <%= @media_item.MX_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_media_item_path(@media_item) %> |
<%= link_to 'Back', media_items_path %>
