<%= simple_form_for(@vendor) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :V_NUM %>
    <%= f.input :V_ORG %>
    <%= f.input :V_NOTE1 %>
    <%= f.input :V_STREET %>
    <%= f.input :V_CITY %>
    <%= f.input :V_NOTE2 %>
    <%= f.input :V_ZIP %>
    <%= f.input :V_CONTACT %>
    <%= f.input :V_PHONE %>
    <%= f.input :V_YTD %>
    <%= f.input :V_MARKUP %>
    <%= f.input :V_NOTE3 %>
    <%= f.input :V_TASK %>
    <%= f.input :V_TYPE %>
    <%= f.input :V_OPEN %>
    <%= f.input :V_ALLOCATE %>
    <%= f.input :V_TAX_ID %>
    <%= f.input :V_ACCT_NUM %>
    <%= f.input :V_CURRN %>
    <%= f.input :V_30DAY %>
    <%= f.input :V_60DAY %>
    <%= f.input :V_90DAY %>
    <%= f.input :V_BALN %>
    <%= f.input :V_LAST_AP %>
    <%= f.input :V_ADDED_BY %>
    <%= f.input :V_ADDED_WHEN %>
    <%= f.input :V_TIME %>
    <%= f.input :V_1 %>
    <%= f.input :V_2 %>
    <%= f.input :V_3 %>
    <%= f.input :V_4 %>
    <%= f.input :V_5 %>
    <%= f.input :V_6 %>
    <%= f.input :V_7 %>
    <%= f.input :V_8 %>
    <%= f.input :V_9 %>
    <%= f.input :V_10 %>
    <%= f.input :V_11 %>
    <%= f.input :V_12 %>
    <%= f.input :V_L1 %>
    <%= f.input :V_L2 %>
    <%= f.input :V_L3 %>
    <%= f.input :V_L4 %>
    <%= f.input :V_L5 %>
    <%= f.input :V_L6 %>
    <%= f.input :V_L7 %>
    <%= f.input :V_L8 %>
    <%= f.input :V_L9 %>
    <%= f.input :V_L10 %>
    <%= f.input :V_L11 %>
    <%= f.input :V_L12 %>
    <%= f.input :V_TERMS1 %>
    <%= f.input :V_TERMS2 %>
    <%= f.input :V_TERMS3 %>
    <%= f.input :V_CGL %>
    <%= f.input :V_DGL %>
    <%= f.input :V_CK_MEMO %>
    <%= f.input :V_NOTES %>
    <%= f.input :V_FAX %>
    <%= f.input :V_DISC_DGL %>
    <%= f.input :V_NAME1 %>
    <%= f.input :V_PHONE1 %>
    <%= f.input :V_FAX1 %>
    <%= f.input :V_PAGER1 %>
    <%= f.input :V_CAR_PHONE1 %>
    <%= f.input :V_NAME2 %>
    <%= f.input :V_PHONE2 %>
    <%= f.input :V_FAX2 %>
    <%= f.input :V_CAR_PHONE2 %>
    <%= f.input :V_PAGER2 %>
    <%= f.input :V_NAME3 %>
    <%= f.input :V_PHONE3 %>
    <%= f.input :V_FAX3 %>
    <%= f.input :V_PAGER3 %>
    <%= f.input :V_CAR_PHONE3 %>
    <%= f.input :V_HOME_PHONE1 %>
    <%= f.input :V_HOME_PHONE2 %>
    <%= f.input :V_HOME_PHONE3 %>
    <%= f.input :V_ACTIVE %>
    <%= f.input :V_1099 %>
    <%= f.input :V_MEDIA_VNUM %>
    <%= f.input :V_ADDRESS2_1 %>
    <%= f.input :V_ADDRESS2_2 %>
    <%= f.input :V_ADDRESS2_3 %>
    <%= f.input :V_ADDRESS2_4 %>
    <%= f.input :V_ADDRESS3_1 %>
    <%= f.input :V_ADDRESS3_2 %>
    <%= f.input :V_ADDRESS3_3 %>
    <%= f.input :V_ADDRESS3_4 %>
    <%= f.input :V_COMM %>
    <%= f.input :V_HOLD %>
    <%= f.input :V_HOLD_WHY %>
    <%= f.input :V_MEDIA_KIND %>
    <%= f.input :V_WEB_URL %>
    <%= f.input :V_EMAIL %>
    <%= f.input :V_CORP_ID %>
    <%= f.input :V_MARKET %>
    <%= f.input :V_CHANGED_BY %>
    <%= f.input :V_CHANGED_WHEN %>
    <%= f.input :V_NO_RFQ %>
    <%= f.input :V_DBA %>
    <%= f.input :V_1099_RENT %>
    <%= f.input :V_EDITED_BY %>
    <%= f.input :V_EDITED_WHEN %>
    <%= f.input :V_PAID_ONLINE %>
    <%= f.input :V_NCF_PREFIX1 %>
    <%= f.input :V_RFQ_TYPE %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
