<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @vendor.primaryKey %>
</p>

<p>
  <strong>V num:</strong>
  <%= @vendor.V_NUM %>
</p>

<p>
  <strong>V org:</strong>
  <%= @vendor.V_ORG %>
</p>

<p>
  <strong>V note1:</strong>
  <%= @vendor.V_NOTE1 %>
</p>

<p>
  <strong>V street:</strong>
  <%= @vendor.V_STREET %>
</p>

<p>
  <strong>V city:</strong>
  <%= @vendor.V_CITY %>
</p>

<p>
  <strong>V note2:</strong>
  <%= @vendor.V_NOTE2 %>
</p>

<p>
  <strong>V zip:</strong>
  <%= @vendor.V_ZIP %>
</p>

<p>
  <strong>V contact:</strong>
  <%= @vendor.V_CONTACT %>
</p>

<p>
  <strong>V phone:</strong>
  <%= @vendor.V_PHONE %>
</p>

<p>
  <strong>V ytd:</strong>
  <%= @vendor.V_YTD %>
</p>

<p>
  <strong>V markup:</strong>
  <%= @vendor.V_MARKUP %>
</p>

<p>
  <strong>V note3:</strong>
  <%= @vendor.V_NOTE3 %>
</p>

<p>
  <strong>V task:</strong>
  <%= @vendor.V_TASK %>
</p>

<p>
  <strong>V type:</strong>
  <%= @vendor.V_TYPE %>
</p>

<p>
  <strong>V open:</strong>
  <%= @vendor.V_OPEN %>
</p>

<p>
  <strong>V allocate:</strong>
  <%= @vendor.V_ALLOCATE %>
</p>

<p>
  <strong>V tax id:</strong>
  <%= @vendor.V_TAX_ID %>
</p>

<p>
  <strong>V acct num:</strong>
  <%= @vendor.V_ACCT_NUM %>
</p>

<p>
  <strong>V currn:</strong>
  <%= @vendor.V_CURRN %>
</p>

<p>
  <strong>V 30day:</strong>
  <%= @vendor.V_30DAY %>
</p>

<p>
  <strong>V 60day:</strong>
  <%= @vendor.V_60DAY %>
</p>

<p>
  <strong>V 90day:</strong>
  <%= @vendor.V_90DAY %>
</p>

<p>
  <strong>V baln:</strong>
  <%= @vendor.V_BALN %>
</p>

<p>
  <strong>V last ap:</strong>
  <%= @vendor.V_LAST_AP %>
</p>

<p>
  <strong>V added by:</strong>
  <%= @vendor.V_ADDED_BY %>
</p>

<p>
  <strong>V added when:</strong>
  <%= @vendor.V_ADDED_WHEN %>
</p>

<p>
  <strong>V time:</strong>
  <%= @vendor.V_TIME %>
</p>

<p>
  <strong>V 1:</strong>
  <%= @vendor.V_1 %>
</p>

<p>
  <strong>V 2:</strong>
  <%= @vendor.V_2 %>
</p>

<p>
  <strong>V 3:</strong>
  <%= @vendor.V_3 %>
</p>

<p>
  <strong>V 4:</strong>
  <%= @vendor.V_4 %>
</p>

<p>
  <strong>V 5:</strong>
  <%= @vendor.V_5 %>
</p>

<p>
  <strong>V 6:</strong>
  <%= @vendor.V_6 %>
</p>

<p>
  <strong>V 7:</strong>
  <%= @vendor.V_7 %>
</p>

<p>
  <strong>V 8:</strong>
  <%= @vendor.V_8 %>
</p>

<p>
  <strong>V 9:</strong>
  <%= @vendor.V_9 %>
</p>

<p>
  <strong>V 10:</strong>
  <%= @vendor.V_10 %>
</p>

<p>
  <strong>V 11:</strong>
  <%= @vendor.V_11 %>
</p>

<p>
  <strong>V 12:</strong>
  <%= @vendor.V_12 %>
</p>

<p>
  <strong>V l1:</strong>
  <%= @vendor.V_L1 %>
</p>

<p>
  <strong>V l2:</strong>
  <%= @vendor.V_L2 %>
</p>

<p>
  <strong>V l3:</strong>
  <%= @vendor.V_L3 %>
</p>

<p>
  <strong>V l4:</strong>
  <%= @vendor.V_L4 %>
</p>

<p>
  <strong>V l5:</strong>
  <%= @vendor.V_L5 %>
</p>

<p>
  <strong>V l6:</strong>
  <%= @vendor.V_L6 %>
</p>

<p>
  <strong>V l7:</strong>
  <%= @vendor.V_L7 %>
</p>

<p>
  <strong>V l8:</strong>
  <%= @vendor.V_L8 %>
</p>

<p>
  <strong>V l9:</strong>
  <%= @vendor.V_L9 %>
</p>

<p>
  <strong>V l10:</strong>
  <%= @vendor.V_L10 %>
</p>

<p>
  <strong>V l11:</strong>
  <%= @vendor.V_L11 %>
</p>

<p>
  <strong>V l12:</strong>
  <%= @vendor.V_L12 %>
</p>

<p>
  <strong>V terms1:</strong>
  <%= @vendor.V_TERMS1 %>
</p>

<p>
  <strong>V terms2:</strong>
  <%= @vendor.V_TERMS2 %>
</p>

<p>
  <strong>V terms3:</strong>
  <%= @vendor.V_TERMS3 %>
</p>

<p>
  <strong>V cgl:</strong>
  <%= @vendor.V_CGL %>
</p>

<p>
  <strong>V dgl:</strong>
  <%= @vendor.V_DGL %>
</p>

<p>
  <strong>V ck memo:</strong>
  <%= @vendor.V_CK_MEMO %>
</p>

<p>
  <strong>V notes:</strong>
  <%= @vendor.V_NOTES %>
</p>

<p>
  <strong>V fax:</strong>
  <%= @vendor.V_FAX %>
</p>

<p>
  <strong>V disc dgl:</strong>
  <%= @vendor.V_DISC_DGL %>
</p>

<p>
  <strong>V name1:</strong>
  <%= @vendor.V_NAME1 %>
</p>

<p>
  <strong>V phone1:</strong>
  <%= @vendor.V_PHONE1 %>
</p>

<p>
  <strong>V fax1:</strong>
  <%= @vendor.V_FAX1 %>
</p>

<p>
  <strong>V pager1:</strong>
  <%= @vendor.V_PAGER1 %>
</p>

<p>
  <strong>V car phone1:</strong>
  <%= @vendor.V_CAR_PHONE1 %>
</p>

<p>
  <strong>V name2:</strong>
  <%= @vendor.V_NAME2 %>
</p>

<p>
  <strong>V phone2:</strong>
  <%= @vendor.V_PHONE2 %>
</p>

<p>
  <strong>V fax2:</strong>
  <%= @vendor.V_FAX2 %>
</p>

<p>
  <strong>V car phone2:</strong>
  <%= @vendor.V_CAR_PHONE2 %>
</p>

<p>
  <strong>V pager2:</strong>
  <%= @vendor.V_PAGER2 %>
</p>

<p>
  <strong>V name3:</strong>
  <%= @vendor.V_NAME3 %>
</p>

<p>
  <strong>V phone3:</strong>
  <%= @vendor.V_PHONE3 %>
</p>

<p>
  <strong>V fax3:</strong>
  <%= @vendor.V_FAX3 %>
</p>

<p>
  <strong>V pager3:</strong>
  <%= @vendor.V_PAGER3 %>
</p>

<p>
  <strong>V car phone3:</strong>
  <%= @vendor.V_CAR_PHONE3 %>
</p>

<p>
  <strong>V home phone1:</strong>
  <%= @vendor.V_HOME_PHONE1 %>
</p>

<p>
  <strong>V home phone2:</strong>
  <%= @vendor.V_HOME_PHONE2 %>
</p>

<p>
  <strong>V home phone3:</strong>
  <%= @vendor.V_HOME_PHONE3 %>
</p>

<p>
  <strong>V active:</strong>
  <%= @vendor.V_ACTIVE %>
</p>

<p>
  <strong>V 1099:</strong>
  <%= @vendor.V_1099 %>
</p>

<p>
  <strong>V media vnum:</strong>
  <%= @vendor.V_MEDIA_VNUM %>
</p>

<p>
  <strong>V address2 1:</strong>
  <%= @vendor.V_ADDRESS2_1 %>
</p>

<p>
  <strong>V address2 2:</strong>
  <%= @vendor.V_ADDRESS2_2 %>
</p>

<p>
  <strong>V address2 3:</strong>
  <%= @vendor.V_ADDRESS2_3 %>
</p>

<p>
  <strong>V address2 4:</strong>
  <%= @vendor.V_ADDRESS2_4 %>
</p>

<p>
  <strong>V address3 1:</strong>
  <%= @vendor.V_ADDRESS3_1 %>
</p>

<p>
  <strong>V address3 2:</strong>
  <%= @vendor.V_ADDRESS3_2 %>
</p>

<p>
  <strong>V address3 3:</strong>
  <%= @vendor.V_ADDRESS3_3 %>
</p>

<p>
  <strong>V address3 4:</strong>
  <%= @vendor.V_ADDRESS3_4 %>
</p>

<p>
  <strong>V comm:</strong>
  <%= @vendor.V_COMM %>
</p>

<p>
  <strong>V hold:</strong>
  <%= @vendor.V_HOLD %>
</p>

<p>
  <strong>V hold why:</strong>
  <%= @vendor.V_HOLD_WHY %>
</p>

<p>
  <strong>V media kind:</strong>
  <%= @vendor.V_MEDIA_KIND %>
</p>

<p>
  <strong>V web url:</strong>
  <%= @vendor.V_WEB_URL %>
</p>

<p>
  <strong>V email:</strong>
  <%= @vendor.V_EMAIL %>
</p>

<p>
  <strong>V corp id:</strong>
  <%= @vendor.V_CORP_ID %>
</p>

<p>
  <strong>V market:</strong>
  <%= @vendor.V_MARKET %>
</p>

<p>
  <strong>V changed by:</strong>
  <%= @vendor.V_CHANGED_BY %>
</p>

<p>
  <strong>V changed when:</strong>
  <%= @vendor.V_CHANGED_WHEN %>
</p>

<p>
  <strong>V no rfq:</strong>
  <%= @vendor.V_NO_RFQ %>
</p>

<p>
  <strong>V dba:</strong>
  <%= @vendor.V_DBA %>
</p>

<p>
  <strong>V 1099 rent:</strong>
  <%= @vendor.V_1099_RENT %>
</p>

<p>
  <strong>V edited by:</strong>
  <%= @vendor.V_EDITED_BY %>
</p>

<p>
  <strong>V edited when:</strong>
  <%= @vendor.V_EDITED_WHEN %>
</p>

<p>
  <strong>V paid online:</strong>
  <%= @vendor.V_PAID_ONLINE %>
</p>

<p>
  <strong>V ncf prefix1:</strong>
  <%= @vendor.V_NCF_PREFIX1 %>
</p>

<p>
  <strong>V rfq type:</strong>
  <%= @vendor.V_RFQ_TYPE %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
