<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @int_item.primaryKey %>
</p>

<p>
  <strong>Int item:</strong>
  <%= @int_item.INT_ITEM %>
</p>

<p>
  <strong>Int size:</strong>
  <%= @int_item.INT_SIZE %>
</p>

<p>
  <strong>Int key:</strong>
  <%= @int_item.INT_KEY %>
</p>

<p>
  <strong>Int desc:</strong>
  <%= @int_item.INT_DESC %>
</p>

<p>
  <strong>Int task:</strong>
  <%= @int_item.INT_TASK %>
</p>

<p>
  <strong>Int cost ea:</strong>
  <%= @int_item.INT_COST_EA %>
</p>

<p>
  <strong>Int unit:</strong>
  <%= @int_item.INT_UNIT %>
</p>

<p>
  <strong>Int gross ea:</strong>
  <%= @int_item.INT_GROSS_EA %>
</p>

<p>
  <strong>Int added by:</strong>
  <%= @int_item.INT_ADDED_BY %>
</p>

<p>
  <strong>Int added when:</strong>
  <%= @int_item.INT_ADDED_WHEN %>
</p>

<p>
  <strong>Int edited by:</strong>
  <%= @int_item.INT_EDITED_BY %>
</p>

<p>
  <strong>Int edited when:</strong>
  <%= @int_item.INT_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_int_item_path(@int_item) %> |
<%= link_to 'Back', int_items_path %>
