<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @po_item.primaryKey %>
</p>

<p>
  <strong>Pox line number:</strong>
  <%= @po_item.POX_LINE_NUMBER %>
</p>

<p>
  <strong>Pox job num:</strong>
  <%= @po_item.POX_JOB_NUM %>
</p>

<p>
  <strong>Pox task:</strong>
  <%= @po_item.POX_TASK %>
</p>

<p>
  <strong>Pox desc:</strong>
  <%= @po_item.POX_DESC %>
</p>

<p>
  <strong>Pox program:</strong>
  <%= @po_item.POX_PROGRAM %>
</p>

<p>
  <strong>Pox qty:</strong>
  <%= @po_item.POX_QTY %>
</p>

<p>
  <strong>Pox cost each:</strong>
  <%= @po_item.POX_COST_EACH %>
</p>

<p>
  <strong>Pox cost:</strong>
  <%= @po_item.POX_COST %>
</p>

<p>
  <strong>Pox markup:</strong>
  <%= @po_item.POX_MARKUP %>
</p>

<p>
  <strong>Pox gross:</strong>
  <%= @po_item.POX_GROSS %>
</p>

<p>
  <strong>Pox cost paid:</strong>
  <%= @po_item.POX_COST_PAID %>
</p>

<p>
  <strong>Pox gross paid:</strong>
  <%= @po_item.POX_GROSS_PAID %>
</p>

<p>
  <strong>Pox po num:</strong>
  <%= @po_item.POX_PO_NUM %>
</p>

<p>
  <strong>Pox billable:</strong>
  <%= @po_item.POX_BILLABLE %>
</p>

<p>
  <strong>Pox unit:</strong>
  <%= @po_item.POX_UNIT %>
</p>

<p>
  <strong>Pox name:</strong>
  <%= @po_item.POX_NAME %>
</p>

<p>
  <strong>Pox key:</strong>
  <%= @po_item.POX_KEY %>
</p>

<p>
  <strong>Pox buydetid:</strong>
  <%= @po_item.POX_BUYDETID %>
</p>

<p>
  <strong>Pox due date:</strong>
  <%= @po_item.POX_DUE_DATE %>
</p>

<p>
  <strong>Pox due date2:</strong>
  <%= @po_item.POX_DUE_DATE2 %>
</p>

<p>
  <strong>Pox issue date:</strong>
  <%= @po_item.POX_ISSUE_DATE %>
</p>

<p>
  <strong>Pox revision:</strong>
  <%= @po_item.POX_REVISION %>
</p>

<p>
  <strong>Pox ap ok:</strong>
  <%= @po_item.POX_AP_OK %>
</p>

<p>
  <strong>Pox ad size:</strong>
  <%= @po_item.POX_AD_SIZE %>
</p>

<p>
  <strong>Pox ad name:</strong>
  <%= @po_item.POX_AD_NAME %>
</p>

<p>
  <strong>Pox ar num:</strong>
  <%= @po_item.POX_AR_NUM %>
</p>

<p>
  <strong>Pox pub:</strong>
  <%= @po_item.POX_PUB %>
</p>

<p>
  <strong>Pox client num:</strong>
  <%= @po_item.POX_CLIENT_NUM %>
</p>

<p>
  <strong>Pox bill net:</strong>
  <%= @po_item.POX_BILL_NET %>
</p>

<p>
  <strong>Pox type:</strong>
  <%= @po_item.POX_TYPE %>
</p>

<p>
  <strong>Pox rating:</strong>
  <%= @po_item.POX_RATING %>
</p>

<p>
  <strong>Pox cpp:</strong>
  <%= @po_item.POX_CPP %>
</p>

<p>
  <strong>Pox cpm:</strong>
  <%= @po_item.POX_CPM %>
</p>

<p>
  <strong>Pox makegood:</strong>
  <%= @po_item.POX_MAKEGOOD %>
</p>

<p>
  <strong>Pox ar amt:</strong>
  <%= @po_item.POX_AR_AMT %>
</p>

<p>
  <strong>Pox cost num:</strong>
  <%= @po_item.POX_COST_NUM %>
</p>

<p>
  <strong>Pox bill date:</strong>
  <%= @po_item.POX_BILL_DATE %>
</p>

<p>
  <strong>Pox sales tax:</strong>
  <%= @po_item.POX_SALES_TAX %>
</p>

<p>
  <strong>Pox issue date2:</strong>
  <%= @po_item.POX_ISSUE_DATE2 %>
</p>

<p>
  <strong>Pox trade:</strong>
  <%= @po_item.POX_TRADE %>
</p>

<p>
  <strong>Pox run date:</strong>
  <%= @po_item.POX_RUN_DATE %>
</p>

<p>
  <strong>Pox added by:</strong>
  <%= @po_item.POX_ADDED_BY %>
</p>

<p>
  <strong>Pox added when:</strong>
  <%= @po_item.POX_ADDED_WHEN %>
</p>

<p>
  <strong>Pox edited by:</strong>
  <%= @po_item.POX_EDITED_BY %>
</p>

<p>
  <strong>Pox edited when:</strong>
  <%= @po_item.POX_EDITED_WHEN %>
</p>

<p>
  <strong>Pox taxable1:</strong>
  <%= @po_item.POX_TAXABLE1 %>
</p>

<p>
  <strong>Pox taxable2:</strong>
  <%= @po_item.POX_TAXABLE2 %>
</p>

<%= link_to 'Edit', edit_po_item_path(@po_item) %> |
<%= link_to 'Back', po_items_path %>
