<%= simple_form_for(@recur_ar) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :RAR_CLIENT_NUM %>
    <%= f.input :RAR_DATE %>
    <%= f.input :RAR_AMT1 %>
    <%= f.input :RAR_DESC %>
    <%= f.input :RAR_DGL %>
    <%= f.input :RAR_ADDED_BY %>
    <%= f.input :RAR_INV_NUM %>
    <%= f.input :RAR_PERIOD %>
    <%= f.input :RAR_JOB_NUM %>
    <%= f.input :RAR_INV_DATE %>
    <%= f.input :RAR_AX_TASK1 %>
    <%= f.input :RAR_AX_NAME1 %>
    <%= f.input :RAR_AX_HOURS1 %>
    <%= f.input :RAR_AX_AMT1 %>
    <%= f.input :RAR_AX_TASK2 %>
    <%= f.input :RAR_AX_NAME2 %>
    <%= f.input :RAR_AX_HOURS2 %>
    <%= f.input :RAR_AX_AMT2 %>
    <%= f.input :RAR_AX_TASK3 %>
    <%= f.input :RAR_AX_NAME3 %>
    <%= f.input :RAR_AX_HOURS3 %>
    <%= f.input :RAR_AX_AMT3 %>
    <%= f.input :RAR_AX_TASK4 %>
    <%= f.input :RAR_AX_NAME4 %>
    <%= f.input :RAR_AX_HOURS4 %>
    <%= f.input :RAR_AX_AMT4 %>
    <%= f.input :RAR_AX_TASK5 %>
    <%= f.input :RAR_AX_NAME5 %>
    <%= f.input :RAR_AX_HOURS5 %>
    <%= f.input :RAR_AX_AMT5 %>
    <%= f.input :RAR_AX_TASK6 %>
    <%= f.input :RAR_AX_NAME6 %>
    <%= f.input :RAR_AX_HOURS6 %>
    <%= f.input :RAR_AX_AMT6 %>
    <%= f.input :RAR_AX_CGL1 %>
    <%= f.input :RAR_AX_CGL2 %>
    <%= f.input :RAR_AX_CGL3 %>
    <%= f.input :RAR_AX_CGL4 %>
    <%= f.input :RAR_AX_CGL5 %>
    <%= f.input :RAR_AX_CGL6 %>
    <%= f.input :RAR_OPTION1 %>
    <%= f.input :RAR_OPTION2 %>
    <%= f.input :RAR_OPTION3 %>
    <%= f.input :RAR_ADDED_WHEN %>
    <%= f.input :RAR_EDITED_BY %>
    <%= f.input :RAR_EDITED_WHEN %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
