<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @recur_ar.primaryKey %>
</p>

<p>
  <strong>Rar client num:</strong>
  <%= @recur_ar.RAR_CLIENT_NUM %>
</p>

<p>
  <strong>Rar date:</strong>
  <%= @recur_ar.RAR_DATE %>
</p>

<p>
  <strong>Rar amt1:</strong>
  <%= @recur_ar.RAR_AMT1 %>
</p>

<p>
  <strong>Rar desc:</strong>
  <%= @recur_ar.RAR_DESC %>
</p>

<p>
  <strong>Rar dgl:</strong>
  <%= @recur_ar.RAR_DGL %>
</p>

<p>
  <strong>Rar added by:</strong>
  <%= @recur_ar.RAR_ADDED_BY %>
</p>

<p>
  <strong>Rar inv num:</strong>
  <%= @recur_ar.RAR_INV_NUM %>
</p>

<p>
  <strong>Rar period:</strong>
  <%= @recur_ar.RAR_PERIOD %>
</p>

<p>
  <strong>Rar job num:</strong>
  <%= @recur_ar.RAR_JOB_NUM %>
</p>

<p>
  <strong>Rar inv date:</strong>
  <%= @recur_ar.RAR_INV_DATE %>
</p>

<p>
  <strong>Rar ax task1:</strong>
  <%= @recur_ar.RAR_AX_TASK1 %>
</p>

<p>
  <strong>Rar ax name1:</strong>
  <%= @recur_ar.RAR_AX_NAME1 %>
</p>

<p>
  <strong>Rar ax hours1:</strong>
  <%= @recur_ar.RAR_AX_HOURS1 %>
</p>

<p>
  <strong>Rar ax amt1:</strong>
  <%= @recur_ar.RAR_AX_AMT1 %>
</p>

<p>
  <strong>Rar ax task2:</strong>
  <%= @recur_ar.RAR_AX_TASK2 %>
</p>

<p>
  <strong>Rar ax name2:</strong>
  <%= @recur_ar.RAR_AX_NAME2 %>
</p>

<p>
  <strong>Rar ax hours2:</strong>
  <%= @recur_ar.RAR_AX_HOURS2 %>
</p>

<p>
  <strong>Rar ax amt2:</strong>
  <%= @recur_ar.RAR_AX_AMT2 %>
</p>

<p>
  <strong>Rar ax task3:</strong>
  <%= @recur_ar.RAR_AX_TASK3 %>
</p>

<p>
  <strong>Rar ax name3:</strong>
  <%= @recur_ar.RAR_AX_NAME3 %>
</p>

<p>
  <strong>Rar ax hours3:</strong>
  <%= @recur_ar.RAR_AX_HOURS3 %>
</p>

<p>
  <strong>Rar ax amt3:</strong>
  <%= @recur_ar.RAR_AX_AMT3 %>
</p>

<p>
  <strong>Rar ax task4:</strong>
  <%= @recur_ar.RAR_AX_TASK4 %>
</p>

<p>
  <strong>Rar ax name4:</strong>
  <%= @recur_ar.RAR_AX_NAME4 %>
</p>

<p>
  <strong>Rar ax hours4:</strong>
  <%= @recur_ar.RAR_AX_HOURS4 %>
</p>

<p>
  <strong>Rar ax amt4:</strong>
  <%= @recur_ar.RAR_AX_AMT4 %>
</p>

<p>
  <strong>Rar ax task5:</strong>
  <%= @recur_ar.RAR_AX_TASK5 %>
</p>

<p>
  <strong>Rar ax name5:</strong>
  <%= @recur_ar.RAR_AX_NAME5 %>
</p>

<p>
  <strong>Rar ax hours5:</strong>
  <%= @recur_ar.RAR_AX_HOURS5 %>
</p>

<p>
  <strong>Rar ax amt5:</strong>
  <%= @recur_ar.RAR_AX_AMT5 %>
</p>

<p>
  <strong>Rar ax task6:</strong>
  <%= @recur_ar.RAR_AX_TASK6 %>
</p>

<p>
  <strong>Rar ax name6:</strong>
  <%= @recur_ar.RAR_AX_NAME6 %>
</p>

<p>
  <strong>Rar ax hours6:</strong>
  <%= @recur_ar.RAR_AX_HOURS6 %>
</p>

<p>
  <strong>Rar ax amt6:</strong>
  <%= @recur_ar.RAR_AX_AMT6 %>
</p>

<p>
  <strong>Rar ax cgl1:</strong>
  <%= @recur_ar.RAR_AX_CGL1 %>
</p>

<p>
  <strong>Rar ax cgl2:</strong>
  <%= @recur_ar.RAR_AX_CGL2 %>
</p>

<p>
  <strong>Rar ax cgl3:</strong>
  <%= @recur_ar.RAR_AX_CGL3 %>
</p>

<p>
  <strong>Rar ax cgl4:</strong>
  <%= @recur_ar.RAR_AX_CGL4 %>
</p>

<p>
  <strong>Rar ax cgl5:</strong>
  <%= @recur_ar.RAR_AX_CGL5 %>
</p>

<p>
  <strong>Rar ax cgl6:</strong>
  <%= @recur_ar.RAR_AX_CGL6 %>
</p>

<p>
  <strong>Rar option1:</strong>
  <%= @recur_ar.RAR_OPTION1 %>
</p>

<p>
  <strong>Rar option2:</strong>
  <%= @recur_ar.RAR_OPTION2 %>
</p>

<p>
  <strong>Rar option3:</strong>
  <%= @recur_ar.RAR_OPTION3 %>
</p>

<p>
  <strong>Rar added when:</strong>
  <%= @recur_ar.RAR_ADDED_WHEN %>
</p>

<p>
  <strong>Rar edited by:</strong>
  <%= @recur_ar.RAR_EDITED_BY %>
</p>

<p>
  <strong>Rar edited when:</strong>
  <%= @recur_ar.RAR_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_recur_ar_path(@recur_ar) %> |
<%= link_to 'Back', recur_ars_path %>
