<%= simple_form_for(@media_pref) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :MPF_NUM %>
    <%= f.input :MPF_PREFIX %>
    <%= f.input :MPF_DISCLAIMER %>
    <%= f.input :MPF_ORG %>
    <%= f.input :MPF_ADDRESS1 %>
    <%= f.input :MPF_ADDRESS2 %>
    <%= f.input :MPF_ADDRESS3 %>
    <%= f.input :MPF_PHONE %>
    <%= f.input :MPF_COMM %>
    <%= f.input :MPF_TO1 %>
    <%= f.input :MPF_TO2 %>
    <%= f.input :MPF_TO3 %>
    <%= f.input :MPF_TO4 %>
    <%= f.input :MPF_TO5 %>
    <%= f.input :MPF_TO6 %>
    <%= f.input :MPF_FIELD1 %>
    <%= f.input :MPF_FIELD2 %>
    <%= f.input :MPF_FIELD3 %>
    <%= f.input :MPF_FIELD4 %>
    <%= f.input :MPF_FIELD5 %>
    <%= f.input :MPF_AUTO_NUM %>
    <%= f.input :MPF_LOGO %>
    <%= f.input :MPF_SHOW_CL %>
    <%= f.input :MPF_RADIO_1Q %>
    <%= f.input :MPF_RADIO_2Q %>
    <%= f.input :MPF_RADIO_3Q %>
    <%= f.input :MPF_RADIO_4Q %>
    <%= f.input :MPF_TV_1Q %>
    <%= f.input :MPF_TV_2Q %>
    <%= f.input :MPF_TV_3Q %>
    <%= f.input :MPF_TV_4Q %>
    <%= f.input :MPF_CABLE_1Q %>
    <%= f.input :MPF_CABLE_2Q %>
    <%= f.input :MPF_CABLE_3Q %>
    <%= f.input :MPF_CABLE_4Q %>
    <%= f.input :MPF_NEWS_1Q %>
    <%= f.input :MPF_NEWS_2Q %>
    <%= f.input :MPF_NEWS_3Q %>
    <%= f.input :MPF_NEWS_4Q %>
    <%= f.input :MPF_MAG_1Q %>
    <%= f.input :MPF_MAG_2Q %>
    <%= f.input :MPF_MAG_3Q %>
    <%= f.input :MPF_MAG_4Q %>
    <%= f.input :MPF_OUT_1Q %>
    <%= f.input :MPF_OUT_2Q %>
    <%= f.input :MPF_OUT_3Q %>
    <%= f.input :MPF_OUT_4Q %>
    <%= f.input :MPF_INT_1Q %>
    <%= f.input :MPF_INT_2Q %>
    <%= f.input :MPF_INT_3Q %>
    <%= f.input :MPF_INT_4Q %>
    <%= f.input :MPF_OTHER_1Q %>
    <%= f.input :MPF_OTHER_2Q %>
    <%= f.input :MPF_OTHER_3Q %>
    <%= f.input :MPF_OTHER_4Q %>
    <%= f.input :MPF_KIND %>
    <%= f.input :MPF_EDITED_BY %>
    <%= f.input :MPF_EDITED_WHEN %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
