<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @media_pref.primaryKey %>
</p>

<p>
  <strong>Mpf num:</strong>
  <%= @media_pref.MPF_NUM %>
</p>

<p>
  <strong>Mpf prefix:</strong>
  <%= @media_pref.MPF_PREFIX %>
</p>

<p>
  <strong>Mpf disclaimer:</strong>
  <%= @media_pref.MPF_DISCLAIMER %>
</p>

<p>
  <strong>Mpf org:</strong>
  <%= @media_pref.MPF_ORG %>
</p>

<p>
  <strong>Mpf address1:</strong>
  <%= @media_pref.MPF_ADDRESS1 %>
</p>

<p>
  <strong>Mpf address2:</strong>
  <%= @media_pref.MPF_ADDRESS2 %>
</p>

<p>
  <strong>Mpf address3:</strong>
  <%= @media_pref.MPF_ADDRESS3 %>
</p>

<p>
  <strong>Mpf phone:</strong>
  <%= @media_pref.MPF_PHONE %>
</p>

<p>
  <strong>Mpf comm:</strong>
  <%= @media_pref.MPF_COMM %>
</p>

<p>
  <strong>Mpf to1:</strong>
  <%= @media_pref.MPF_TO1 %>
</p>

<p>
  <strong>Mpf to2:</strong>
  <%= @media_pref.MPF_TO2 %>
</p>

<p>
  <strong>Mpf to3:</strong>
  <%= @media_pref.MPF_TO3 %>
</p>

<p>
  <strong>Mpf to4:</strong>
  <%= @media_pref.MPF_TO4 %>
</p>

<p>
  <strong>Mpf to5:</strong>
  <%= @media_pref.MPF_TO5 %>
</p>

<p>
  <strong>Mpf to6:</strong>
  <%= @media_pref.MPF_TO6 %>
</p>

<p>
  <strong>Mpf field1:</strong>
  <%= @media_pref.MPF_FIELD1 %>
</p>

<p>
  <strong>Mpf field2:</strong>
  <%= @media_pref.MPF_FIELD2 %>
</p>

<p>
  <strong>Mpf field3:</strong>
  <%= @media_pref.MPF_FIELD3 %>
</p>

<p>
  <strong>Mpf field4:</strong>
  <%= @media_pref.MPF_FIELD4 %>
</p>

<p>
  <strong>Mpf field5:</strong>
  <%= @media_pref.MPF_FIELD5 %>
</p>

<p>
  <strong>Mpf auto num:</strong>
  <%= @media_pref.MPF_AUTO_NUM %>
</p>

<p>
  <strong>Mpf logo:</strong>
  <%= @media_pref.MPF_LOGO %>
</p>

<p>
  <strong>Mpf show cl:</strong>
  <%= @media_pref.MPF_SHOW_CL %>
</p>

<p>
  <strong>Mpf radio 1q:</strong>
  <%= @media_pref.MPF_RADIO_1Q %>
</p>

<p>
  <strong>Mpf radio 2q:</strong>
  <%= @media_pref.MPF_RADIO_2Q %>
</p>

<p>
  <strong>Mpf radio 3q:</strong>
  <%= @media_pref.MPF_RADIO_3Q %>
</p>

<p>
  <strong>Mpf radio 4q:</strong>
  <%= @media_pref.MPF_RADIO_4Q %>
</p>

<p>
  <strong>Mpf tv 1q:</strong>
  <%= @media_pref.MPF_TV_1Q %>
</p>

<p>
  <strong>Mpf tv 2q:</strong>
  <%= @media_pref.MPF_TV_2Q %>
</p>

<p>
  <strong>Mpf tv 3q:</strong>
  <%= @media_pref.MPF_TV_3Q %>
</p>

<p>
  <strong>Mpf tv 4q:</strong>
  <%= @media_pref.MPF_TV_4Q %>
</p>

<p>
  <strong>Mpf cable 1q:</strong>
  <%= @media_pref.MPF_CABLE_1Q %>
</p>

<p>
  <strong>Mpf cable 2q:</strong>
  <%= @media_pref.MPF_CABLE_2Q %>
</p>

<p>
  <strong>Mpf cable 3q:</strong>
  <%= @media_pref.MPF_CABLE_3Q %>
</p>

<p>
  <strong>Mpf cable 4q:</strong>
  <%= @media_pref.MPF_CABLE_4Q %>
</p>

<p>
  <strong>Mpf news 1q:</strong>
  <%= @media_pref.MPF_NEWS_1Q %>
</p>

<p>
  <strong>Mpf news 2q:</strong>
  <%= @media_pref.MPF_NEWS_2Q %>
</p>

<p>
  <strong>Mpf news 3q:</strong>
  <%= @media_pref.MPF_NEWS_3Q %>
</p>

<p>
  <strong>Mpf news 4q:</strong>
  <%= @media_pref.MPF_NEWS_4Q %>
</p>

<p>
  <strong>Mpf mag 1q:</strong>
  <%= @media_pref.MPF_MAG_1Q %>
</p>

<p>
  <strong>Mpf mag 2q:</strong>
  <%= @media_pref.MPF_MAG_2Q %>
</p>

<p>
  <strong>Mpf mag 3q:</strong>
  <%= @media_pref.MPF_MAG_3Q %>
</p>

<p>
  <strong>Mpf mag 4q:</strong>
  <%= @media_pref.MPF_MAG_4Q %>
</p>

<p>
  <strong>Mpf out 1q:</strong>
  <%= @media_pref.MPF_OUT_1Q %>
</p>

<p>
  <strong>Mpf out 2q:</strong>
  <%= @media_pref.MPF_OUT_2Q %>
</p>

<p>
  <strong>Mpf out 3q:</strong>
  <%= @media_pref.MPF_OUT_3Q %>
</p>

<p>
  <strong>Mpf out 4q:</strong>
  <%= @media_pref.MPF_OUT_4Q %>
</p>

<p>
  <strong>Mpf int 1q:</strong>
  <%= @media_pref.MPF_INT_1Q %>
</p>

<p>
  <strong>Mpf int 2q:</strong>
  <%= @media_pref.MPF_INT_2Q %>
</p>

<p>
  <strong>Mpf int 3q:</strong>
  <%= @media_pref.MPF_INT_3Q %>
</p>

<p>
  <strong>Mpf int 4q:</strong>
  <%= @media_pref.MPF_INT_4Q %>
</p>

<p>
  <strong>Mpf other 1q:</strong>
  <%= @media_pref.MPF_OTHER_1Q %>
</p>

<p>
  <strong>Mpf other 2q:</strong>
  <%= @media_pref.MPF_OTHER_2Q %>
</p>

<p>
  <strong>Mpf other 3q:</strong>
  <%= @media_pref.MPF_OTHER_3Q %>
</p>

<p>
  <strong>Mpf other 4q:</strong>
  <%= @media_pref.MPF_OTHER_4Q %>
</p>

<p>
  <strong>Mpf kind:</strong>
  <%= @media_pref.MPF_KIND %>
</p>

<p>
  <strong>Mpf edited by:</strong>
  <%= @media_pref.MPF_EDITED_BY %>
</p>

<p>
  <strong>Mpf edited when:</strong>
  <%= @media_pref.MPF_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_media_pref_path(@media_pref) %> |
<%= link_to 'Back', media_prefs_path %>
