<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @time_import.primaryKey %>
</p>

<p>
  <strong>Tm date:</strong>
  <%= @time_import.TM_DATE %>
</p>

<p>
  <strong>Tm job num:</strong>
  <%= @time_import.TM_JOB_NUM %>
</p>

<p>
  <strong>Tm task:</strong>
  <%= @time_import.TM_TASK %>
</p>

<p>
  <strong>Tm hours:</strong>
  <%= @time_import.TM_HOURS %>
</p>

<p>
  <strong>Tm staff:</strong>
  <%= @time_import.TM_STAFF %>
</p>

<p>
  <strong>Tm desc:</strong>
  <%= @time_import.TM_DESC %>
</p>

<p>
  <strong>Tm bad:</strong>
  <%= @time_import.TM_BAD %>
</p>

<p>
  <strong>Tm cost rate:</strong>
  <%= @time_import.TM_COST_RATE %>
</p>

<p>
  <strong>Tm bill rate:</strong>
  <%= @time_import.TM_BILL_RATE %>
</p>

<p>
  <strong>Tm client num:</strong>
  <%= @time_import.TM_CLIENT_NUM %>
</p>

<p>
  <strong>Tm billable:</strong>
  <%= @time_import.TM_BILLABLE %>
</p>

<p>
  <strong>Tm period:</strong>
  <%= @time_import.TM_PERIOD %>
</p>

<p>
  <strong>Tm palm id:</strong>
  <%= @time_import.TM_PALM_ID %>
</p>

<p>
  <strong>Tm palm category:</strong>
  <%= @time_import.TM_PALM_CATEGORY %>
</p>

<p>
  <strong>Tm palm attribs:</strong>
  <%= @time_import.TM_PALM_ATTRIBS %>
</p>

<p>
  <strong>Tm ot:</strong>
  <%= @time_import.TM_OT %>
</p>

<%= link_to 'Edit', edit_time_import_path(@time_import) %> |
<%= link_to 'Back', time_imports_path %>
