<%= simple_form_for(@ar) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :AR_NUM %>
    <%= f.input :AR_JOB_NUM %>
    <%= f.input :AR_CLIENT_NUM %>
    <%= f.input :AR_DATE %>
    <%= f.input :AR_POSTED %>
    <%= f.input :AR_AE %>
    <%= f.input :AR_TERMS %>
    <%= f.input :AR_PERIOD %>
    <%= f.input :AR_PO %>
    <%= f.input :AR_DESC %>
    <%= f.input :AR_DUE_DATE %>
    <%= f.input :AR_COUNT %>
    <%= f.input :AR_DISC_DUE %>
    <%= f.input :AR_DISC_AMT %>
    <%= f.input :AR_AMT_PAID %>
    <%= f.input :AR_TOTAL %>
    <%= f.input :AR_DAYS %>
    <%= f.input :AR_TAX_AMT1 %>
    <%= f.input :AR_TAX_AMT2 %>
    <%= f.input :AR_TAXABLE1 %>
    <%= f.input :AR_TAXABLE2 %>
    <%= f.input :AR_TAX_RATE1 %>
    <%= f.input :AR_TAX_RATE2 %>
    <%= f.input :AR_TAX_CGL1 %>
    <%= f.input :AR_TAX_CGL2 %>
    <%= f.input :AR_STATUS %>
    <%= f.input :AR_OPEN %>
    <%= f.input :AR_JUMP %>
    <%= f.input :AR_DGL %>
    <%= f.input :AR_CURR %>
    <%= f.input :AR_30 %>
    <%= f.input :AR_60 %>
    <%= f.input :AR_90 %>
    <%= f.input :AR_120 %>
    <%= f.input :AR_ADDED_BY %>
    <%= f.input :AR_ADDED_WHEN %>
    <%= f.input :AR_CLIENT_CONTACT %>
    <%= f.input :AR_AGENCY_CONTACT %>
    <%= f.input :AR_SHOW_SPECS %>
    <%= f.input :AR_RETAINR_NOTE %>
    <%= f.input :AR_RETAINER_AMT %>
    <%= f.input :AR_RETAINER_GL %>
    <%= f.input :AR_BILLING_TYPE %>
    <%= f.input :AR_COMM_AMT %>
    <%= f.input :AR_COMM_GL %>
    <%= f.input :AR_COMM_DESC %>
    <%= f.input :AR_MISC_AMT1 %>
    <%= f.input :AR_MISC_GL1 %>
    <%= f.input :AR_MISC_DESC1 %>
    <%= f.input :AR_MISC_AMT2 %>
    <%= f.input :AR_MISC_GL2 %>
    <%= f.input :AR_MISC_DESC2 %>
    <%= f.input :AR_ADDRESS1 %>
    <%= f.input :AR_ADDRESS2 %>
    <%= f.input :AR_ADDRESS3 %>
    <%= f.input :AR_ADDRESS4 %>
    <%= f.input :AR_ADDRESS5 %>
    <%= f.input :AR_TO1 %>
    <%= f.input :AR_TO2 %>
    <%= f.input :AR_TO3 %>
    <%= f.input :AR_TO4 %>
    <%= f.input :AR_TO5 %>
    <%= f.input :AR_ADDRESS6 %>
    <%= f.input :AR_ZERO_AS %>
    <%= f.input :AR_FINANCE_CHG %>
    <%= f.input :AR_FINANCE_AMT %>
    <%= f.input :AR_FINANCE_CGL %>
    <%= f.input :AR_ROLL_UP %>
    <%= f.input :AR_SHOW_TOTALS %>
    <%= f.input :AR_ADV_PMT %>
    <%= f.input :AR_ADV_PMT_GL %>
    <%= f.input :AR_CHARGE_NUM %>
    <%= f.input :AR_PRINT_EST %>
    <%= f.input :AR_SHOW_HOURS %>
    <%= f.input :AR_UNPAID %>
    <%= f.input :AR_KIND %>
    <%= f.input :AR_KEY %>
    <%= f.input :AR_SHIP_ADDRESS1 %>
    <%= f.input :AR_SHIP_ADDRESS2 %>
    <%= f.input :AR_SHIP_ADDRESS3 %>
    <%= f.input :AR_SHIP_ADDRESS4 %>
    <%= f.input :AR_SHIP_ADDRESS5 %>
    <%= f.input :AR_SHIP_ADDRESS6 %>
    <%= f.input :AR_PC %>
    <%= f.input :AR_APPROVED %>
    <%= f.input :AR_APPROVED_BY %>
    <%= f.input :AR_APPROVED_DATE %>
    <%= f.input :AR_APPROVAL1 %>
    <%= f.input :AR_APPROVAL2 %>
    <%= f.input :AR_APPROVAL3 %>
    <%= f.input :AR_RETURN_DATE %>
    <%= f.input :AR_BILL_INSTRUCTIONS %>
    <%= f.input :AR_EXPORTED %>
    <%= f.input :AR_PMT_STATUS %>
    <%= f.input :AR_PMT_STATUS_NOTE %>
    <%= f.input :AR_PMT_NEXT_DATE %>
    <%= f.input :AR_PMT_NEXT_ACTION %>
    <%= f.input :AR_PMT_NEXT_WHO %>
    <%= f.input :AR_PMT_NEXT_NOTE %>
    <%= f.input :AR_PMT_NEXT_NUM %>
    <%= f.input :AR_BIZDEV_AE %>
    <%= f.input :AR_COMMISSIONABLE_AMT %>
    <%= f.input :AR_COMM_RATE_AE %>
    <%= f.input :AR_COMM_RATE_BIZ %>
    <%= f.input :AR_DATE_PAID %>
    <%= f.input :AR_EDITED_BY %>
    <%= f.input :AR_EDITED_WHEN %>
    <%= f.input :AR_POSTED_BY %>
    <%= f.input :AR_POSTED_WHEN %>
    <%= f.input :AR_TERMS1 %>
    <%= f.input :AR_TERMS2 %>
    <%= f.input :AR_TERMS3 %>
    <%= f.input :AR_TAX_AREA %>
    <%= f.input :AR_SHIP_ORG %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
