<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @ar.primaryKey %>
</p>

<p>
  <strong>Ar num:</strong>
  <%= @ar.AR_NUM %>
</p>

<p>
  <strong>Ar job num:</strong>
  <%= @ar.AR_JOB_NUM %>
</p>

<p>
  <strong>Ar client num:</strong>
  <%= @ar.AR_CLIENT_NUM %>
</p>

<p>
  <strong>Ar date:</strong>
  <%= @ar.AR_DATE %>
</p>

<p>
  <strong>Ar posted:</strong>
  <%= @ar.AR_POSTED %>
</p>

<p>
  <strong>Ar ae:</strong>
  <%= @ar.AR_AE %>
</p>

<p>
  <strong>Ar terms:</strong>
  <%= @ar.AR_TERMS %>
</p>

<p>
  <strong>Ar period:</strong>
  <%= @ar.AR_PERIOD %>
</p>

<p>
  <strong>Ar po:</strong>
  <%= @ar.AR_PO %>
</p>

<p>
  <strong>Ar desc:</strong>
  <%= @ar.AR_DESC %>
</p>

<p>
  <strong>Ar due date:</strong>
  <%= @ar.AR_DUE_DATE %>
</p>

<p>
  <strong>Ar count:</strong>
  <%= @ar.AR_COUNT %>
</p>

<p>
  <strong>Ar disc due:</strong>
  <%= @ar.AR_DISC_DUE %>
</p>

<p>
  <strong>Ar disc amt:</strong>
  <%= @ar.AR_DISC_AMT %>
</p>

<p>
  <strong>Ar amt paid:</strong>
  <%= @ar.AR_AMT_PAID %>
</p>

<p>
  <strong>Ar total:</strong>
  <%= @ar.AR_TOTAL %>
</p>

<p>
  <strong>Ar days:</strong>
  <%= @ar.AR_DAYS %>
</p>

<p>
  <strong>Ar tax amt1:</strong>
  <%= @ar.AR_TAX_AMT1 %>
</p>

<p>
  <strong>Ar tax amt2:</strong>
  <%= @ar.AR_TAX_AMT2 %>
</p>

<p>
  <strong>Ar taxable1:</strong>
  <%= @ar.AR_TAXABLE1 %>
</p>

<p>
  <strong>Ar taxable2:</strong>
  <%= @ar.AR_TAXABLE2 %>
</p>

<p>
  <strong>Ar tax rate1:</strong>
  <%= @ar.AR_TAX_RATE1 %>
</p>

<p>
  <strong>Ar tax rate2:</strong>
  <%= @ar.AR_TAX_RATE2 %>
</p>

<p>
  <strong>Ar tax cgl1:</strong>
  <%= @ar.AR_TAX_CGL1 %>
</p>

<p>
  <strong>Ar tax cgl2:</strong>
  <%= @ar.AR_TAX_CGL2 %>
</p>

<p>
  <strong>Ar status:</strong>
  <%= @ar.AR_STATUS %>
</p>

<p>
  <strong>Ar open:</strong>
  <%= @ar.AR_OPEN %>
</p>

<p>
  <strong>Ar jump:</strong>
  <%= @ar.AR_JUMP %>
</p>

<p>
  <strong>Ar dgl:</strong>
  <%= @ar.AR_DGL %>
</p>

<p>
  <strong>Ar curr:</strong>
  <%= @ar.AR_CURR %>
</p>

<p>
  <strong>Ar 30:</strong>
  <%= @ar.AR_30 %>
</p>

<p>
  <strong>Ar 60:</strong>
  <%= @ar.AR_60 %>
</p>

<p>
  <strong>Ar 90:</strong>
  <%= @ar.AR_90 %>
</p>

<p>
  <strong>Ar 120:</strong>
  <%= @ar.AR_120 %>
</p>

<p>
  <strong>Ar added by:</strong>
  <%= @ar.AR_ADDED_BY %>
</p>

<p>
  <strong>Ar added when:</strong>
  <%= @ar.AR_ADDED_WHEN %>
</p>

<p>
  <strong>Ar client contact:</strong>
  <%= @ar.AR_CLIENT_CONTACT %>
</p>

<p>
  <strong>Ar agency contact:</strong>
  <%= @ar.AR_AGENCY_CONTACT %>
</p>

<p>
  <strong>Ar show specs:</strong>
  <%= @ar.AR_SHOW_SPECS %>
</p>

<p>
  <strong>Ar retainr note:</strong>
  <%= @ar.AR_RETAINR_NOTE %>
</p>

<p>
  <strong>Ar retainer amt:</strong>
  <%= @ar.AR_RETAINER_AMT %>
</p>

<p>
  <strong>Ar retainer gl:</strong>
  <%= @ar.AR_RETAINER_GL %>
</p>

<p>
  <strong>Ar billing type:</strong>
  <%= @ar.AR_BILLING_TYPE %>
</p>

<p>
  <strong>Ar comm amt:</strong>
  <%= @ar.AR_COMM_AMT %>
</p>

<p>
  <strong>Ar comm gl:</strong>
  <%= @ar.AR_COMM_GL %>
</p>

<p>
  <strong>Ar comm desc:</strong>
  <%= @ar.AR_COMM_DESC %>
</p>

<p>
  <strong>Ar misc amt1:</strong>
  <%= @ar.AR_MISC_AMT1 %>
</p>

<p>
  <strong>Ar misc gl1:</strong>
  <%= @ar.AR_MISC_GL1 %>
</p>

<p>
  <strong>Ar misc desc1:</strong>
  <%= @ar.AR_MISC_DESC1 %>
</p>

<p>
  <strong>Ar misc amt2:</strong>
  <%= @ar.AR_MISC_AMT2 %>
</p>

<p>
  <strong>Ar misc gl2:</strong>
  <%= @ar.AR_MISC_GL2 %>
</p>

<p>
  <strong>Ar misc desc2:</strong>
  <%= @ar.AR_MISC_DESC2 %>
</p>

<p>
  <strong>Ar address1:</strong>
  <%= @ar.AR_ADDRESS1 %>
</p>

<p>
  <strong>Ar address2:</strong>
  <%= @ar.AR_ADDRESS2 %>
</p>

<p>
  <strong>Ar address3:</strong>
  <%= @ar.AR_ADDRESS3 %>
</p>

<p>
  <strong>Ar address4:</strong>
  <%= @ar.AR_ADDRESS4 %>
</p>

<p>
  <strong>Ar address5:</strong>
  <%= @ar.AR_ADDRESS5 %>
</p>

<p>
  <strong>Ar to1:</strong>
  <%= @ar.AR_TO1 %>
</p>

<p>
  <strong>Ar to2:</strong>
  <%= @ar.AR_TO2 %>
</p>

<p>
  <strong>Ar to3:</strong>
  <%= @ar.AR_TO3 %>
</p>

<p>
  <strong>Ar to4:</strong>
  <%= @ar.AR_TO4 %>
</p>

<p>
  <strong>Ar to5:</strong>
  <%= @ar.AR_TO5 %>
</p>

<p>
  <strong>Ar address6:</strong>
  <%= @ar.AR_ADDRESS6 %>
</p>

<p>
  <strong>Ar zero as:</strong>
  <%= @ar.AR_ZERO_AS %>
</p>

<p>
  <strong>Ar finance chg:</strong>
  <%= @ar.AR_FINANCE_CHG %>
</p>

<p>
  <strong>Ar finance amt:</strong>
  <%= @ar.AR_FINANCE_AMT %>
</p>

<p>
  <strong>Ar finance cgl:</strong>
  <%= @ar.AR_FINANCE_CGL %>
</p>

<p>
  <strong>Ar roll up:</strong>
  <%= @ar.AR_ROLL_UP %>
</p>

<p>
  <strong>Ar show totals:</strong>
  <%= @ar.AR_SHOW_TOTALS %>
</p>

<p>
  <strong>Ar adv pmt:</strong>
  <%= @ar.AR_ADV_PMT %>
</p>

<p>
  <strong>Ar adv pmt gl:</strong>
  <%= @ar.AR_ADV_PMT_GL %>
</p>

<p>
  <strong>Ar charge num:</strong>
  <%= @ar.AR_CHARGE_NUM %>
</p>

<p>
  <strong>Ar print est:</strong>
  <%= @ar.AR_PRINT_EST %>
</p>

<p>
  <strong>Ar show hours:</strong>
  <%= @ar.AR_SHOW_HOURS %>
</p>

<p>
  <strong>Ar unpaid:</strong>
  <%= @ar.AR_UNPAID %>
</p>

<p>
  <strong>Ar kind:</strong>
  <%= @ar.AR_KIND %>
</p>

<p>
  <strong>Ar key:</strong>
  <%= @ar.AR_KEY %>
</p>

<p>
  <strong>Ar ship address1:</strong>
  <%= @ar.AR_SHIP_ADDRESS1 %>
</p>

<p>
  <strong>Ar ship address2:</strong>
  <%= @ar.AR_SHIP_ADDRESS2 %>
</p>

<p>
  <strong>Ar ship address3:</strong>
  <%= @ar.AR_SHIP_ADDRESS3 %>
</p>

<p>
  <strong>Ar ship address4:</strong>
  <%= @ar.AR_SHIP_ADDRESS4 %>
</p>

<p>
  <strong>Ar ship address5:</strong>
  <%= @ar.AR_SHIP_ADDRESS5 %>
</p>

<p>
  <strong>Ar ship address6:</strong>
  <%= @ar.AR_SHIP_ADDRESS6 %>
</p>

<p>
  <strong>Ar pc:</strong>
  <%= @ar.AR_PC %>
</p>

<p>
  <strong>Ar approved:</strong>
  <%= @ar.AR_APPROVED %>
</p>

<p>
  <strong>Ar approved by:</strong>
  <%= @ar.AR_APPROVED_BY %>
</p>

<p>
  <strong>Ar approved date:</strong>
  <%= @ar.AR_APPROVED_DATE %>
</p>

<p>
  <strong>Ar approval1:</strong>
  <%= @ar.AR_APPROVAL1 %>
</p>

<p>
  <strong>Ar approval2:</strong>
  <%= @ar.AR_APPROVAL2 %>
</p>

<p>
  <strong>Ar approval3:</strong>
  <%= @ar.AR_APPROVAL3 %>
</p>

<p>
  <strong>Ar return date:</strong>
  <%= @ar.AR_RETURN_DATE %>
</p>

<p>
  <strong>Ar bill instructions:</strong>
  <%= @ar.AR_BILL_INSTRUCTIONS %>
</p>

<p>
  <strong>Ar exported:</strong>
  <%= @ar.AR_EXPORTED %>
</p>

<p>
  <strong>Ar pmt status:</strong>
  <%= @ar.AR_PMT_STATUS %>
</p>

<p>
  <strong>Ar pmt status note:</strong>
  <%= @ar.AR_PMT_STATUS_NOTE %>
</p>

<p>
  <strong>Ar pmt next date:</strong>
  <%= @ar.AR_PMT_NEXT_DATE %>
</p>

<p>
  <strong>Ar pmt next action:</strong>
  <%= @ar.AR_PMT_NEXT_ACTION %>
</p>

<p>
  <strong>Ar pmt next who:</strong>
  <%= @ar.AR_PMT_NEXT_WHO %>
</p>

<p>
  <strong>Ar pmt next note:</strong>
  <%= @ar.AR_PMT_NEXT_NOTE %>
</p>

<p>
  <strong>Ar pmt next num:</strong>
  <%= @ar.AR_PMT_NEXT_NUM %>
</p>

<p>
  <strong>Ar bizdev ae:</strong>
  <%= @ar.AR_BIZDEV_AE %>
</p>

<p>
  <strong>Ar commissionable amt:</strong>
  <%= @ar.AR_COMMISSIONABLE_AMT %>
</p>

<p>
  <strong>Ar comm rate ae:</strong>
  <%= @ar.AR_COMM_RATE_AE %>
</p>

<p>
  <strong>Ar comm rate biz:</strong>
  <%= @ar.AR_COMM_RATE_BIZ %>
</p>

<p>
  <strong>Ar date paid:</strong>
  <%= @ar.AR_DATE_PAID %>
</p>

<p>
  <strong>Ar edited by:</strong>
  <%= @ar.AR_EDITED_BY %>
</p>

<p>
  <strong>Ar edited when:</strong>
  <%= @ar.AR_EDITED_WHEN %>
</p>

<p>
  <strong>Ar posted by:</strong>
  <%= @ar.AR_POSTED_BY %>
</p>

<p>
  <strong>Ar posted when:</strong>
  <%= @ar.AR_POSTED_WHEN %>
</p>

<p>
  <strong>Ar terms1:</strong>
  <%= @ar.AR_TERMS1 %>
</p>

<p>
  <strong>Ar terms2:</strong>
  <%= @ar.AR_TERMS2 %>
</p>

<p>
  <strong>Ar terms3:</strong>
  <%= @ar.AR_TERMS3 %>
</p>

<p>
  <strong>Ar tax area:</strong>
  <%= @ar.AR_TAX_AREA %>
</p>

<p>
  <strong>Ar ship org:</strong>
  <%= @ar.AR_SHIP_ORG %>
</p>

<%= link_to 'Edit', edit_ar_path(@ar) %> |
<%= link_to 'Back', ars_path %>
