<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @est_rev.primaryKey %>
</p>

<p>
  <strong>Rv job num:</strong>
  <%= @est_rev.RV_JOB_NUM %>
</p>

<p>
  <strong>Rv task:</strong>
  <%= @est_rev.RV_TASK %>
</p>

<p>
  <strong>Rv est1:</strong>
  <%= @est_rev.RV_EST1 %>
</p>

<p>
  <strong>Rv est2:</strong>
  <%= @est_rev.RV_EST2 %>
</p>

<p>
  <strong>Rv est3:</strong>
  <%= @est_rev.RV_EST3 %>
</p>

<p>
  <strong>Rv name:</strong>
  <%= @est_rev.RV_NAME %>
</p>

<p>
  <strong>Rv group:</strong>
  <%= @est_rev.RV_GROUP %>
</p>

<p>
  <strong>Rv sort:</strong>
  <%= @est_rev.RV_SORT %>
</p>

<p>
  <strong>Rv final:</strong>
  <%= @est_rev.RV_FINAL %>
</p>

<p>
  <strong>Rv revision:</strong>
  <%= @est_rev.RV_REVISION %>
</p>

<p>
  <strong>Rv est head1:</strong>
  <%= @est_rev.RV_EST_HEAD1 %>
</p>

<p>
  <strong>Rv est head2:</strong>
  <%= @est_rev.RV_EST_HEAD2 %>
</p>

<p>
  <strong>Rv est head3:</strong>
  <%= @est_rev.RV_EST_HEAD3 %>
</p>

<p>
  <strong>Rv est hrs1:</strong>
  <%= @est_rev.RV_EST_HRS1 %>
</p>

<p>
  <strong>Rv est hrs2:</strong>
  <%= @est_rev.RV_EST_HRS2 %>
</p>

<p>
  <strong>Rv est hrs3:</strong>
  <%= @est_rev.RV_EST_HRS3 %>
</p>

<p>
  <strong>Rv budget:</strong>
  <%= @est_rev.RV_BUDGET %>
</p>

<p>
  <strong>Rv revised by:</strong>
  <%= @est_rev.RV_REVISED_BY %>
</p>

<p>
  <strong>Rv revision date:</strong>
  <%= @est_rev.RV_REVISION_DATE %>
</p>

<p>
  <strong>Rv revision notes:</strong>
  <%= @est_rev.RV_REVISION_NOTES %>
</p>

<p>
  <strong>Rv reason:</strong>
  <%= @est_rev.RV_REASON %>
</p>

<p>
  <strong>Rv rev okd by:</strong>
  <%= @est_rev.RV_REV_OKD_BY %>
</p>

<p>
  <strong>Rv rev okd date:</strong>
  <%= @est_rev.RV_REV_OKD_DATE %>
</p>

<p>
  <strong>Rv added by:</strong>
  <%= @est_rev.RV_ADDED_BY %>
</p>

<p>
  <strong>Rv added when:</strong>
  <%= @est_rev.RV_ADDED_WHEN %>
</p>

<p>
  <strong>Rv edited by:</strong>
  <%= @est_rev.RV_EDITED_BY %>
</p>

<p>
  <strong>Rv edited when:</strong>
  <%= @est_rev.RV_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_est_rev_path(@est_rev) %> |
<%= link_to 'Back', est_revs_path %>
