<%= simple_form_for(@picture) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :PICTURE_NUM %>
    <%= f.input :PICTURE_PHOTO %>
    <%= f.input :PICTURE_TEXT %>
    <%= f.input :PICTURE_ADDED_BY %>
    <%= f.input :PICTURE_ADDED_WHEN %>
    <%= f.input :PICTURE_EDITED_BY %>
    <%= f.input :PICTURE_EDITED_WHEN %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
