<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @payment.primaryKey %>
</p>

<p>
  <strong>Pay client num:</strong>
  <%= @payment.PAY_CLIENT_NUM %>
</p>

<p>
  <strong>Pay check num:</strong>
  <%= @payment.PAY_CHECK_NUM %>
</p>

<p>
  <strong>Pay amt:</strong>
  <%= @payment.PAY_AMT %>
</p>

<p>
  <strong>Pay check date:</strong>
  <%= @payment.PAY_CHECK_DATE %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @payment.PAY_TYPE %>
</p>

<p>
  <strong>Pay date:</strong>
  <%= @payment.PAY_DATE %>
</p>

<p>
  <strong>Pay desc:</strong>
  <%= @payment.PAY_DESC %>
</p>

<p>
  <strong>Pay dgl:</strong>
  <%= @payment.PAY_DGL %>
</p>

<p>
  <strong>Pay boolean:</strong>
  <%= @payment.PAY_BOOLEAN %>
</p>

<p>
  <strong>Pay posted:</strong>
  <%= @payment.PAY_POSTED %>
</p>

<p>
  <strong>Pay added by:</strong>
  <%= @payment.PAY_ADDED_BY %>
</p>

<p>
  <strong>Pay added when:</strong>
  <%= @payment.PAY_ADDED_WHEN %>
</p>

<p>
  <strong>Pay ok:</strong>
  <%= @payment.PAY_OK %>
</p>

<p>
  <strong>Pay period:</strong>
  <%= @payment.PAY_PERIOD %>
</p>

<p>
  <strong>Pay bank:</strong>
  <%= @payment.PAY_BANK %>
</p>

<p>
  <strong>Pay kind:</strong>
  <%= @payment.PAY_KIND %>
</p>

<p>
  <strong>Pay batch:</strong>
  <%= @payment.PAY_BATCH %>
</p>

<p>
  <strong>Pay bank id:</strong>
  <%= @payment.PAY_BANK_ID %>
</p>

<p>
  <strong>Pay edited by:</strong>
  <%= @payment.PAY_EDITED_BY %>
</p>

<p>
  <strong>Pay edited when:</strong>
  <%= @payment.PAY_EDITED_WHEN %>
</p>

<p>
  <strong>Pay posted by:</strong>
  <%= @payment.PAY_POSTED_BY %>
</p>

<p>
  <strong>Pay posted when:</strong>
  <%= @payment.PAY_POSTED_WHEN %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
