<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @address.primaryKey %>
</p>

<p>
  <strong>Adr client num:</strong>
  <%= @address.ADR_CLIENT_NUM %>
</p>

<p>
  <strong>Adr name:</strong>
  <%= @address.ADR_NAME %>
</p>

<p>
  <strong>Adr address1:</strong>
  <%= @address.ADR_ADDRESS1 %>
</p>

<p>
  <strong>Adr address2:</strong>
  <%= @address.ADR_ADDRESS2 %>
</p>

<p>
  <strong>Adr address3:</strong>
  <%= @address.ADR_ADDRESS3 %>
</p>

<p>
  <strong>Adr address4:</strong>
  <%= @address.ADR_ADDRESS4 %>
</p>

<p>
  <strong>Adr address5:</strong>
  <%= @address.ADR_ADDRESS5 %>
</p>

<p>
  <strong>Adr address6:</strong>
  <%= @address.ADR_ADDRESS6 %>
</p>

<p>
  <strong>Adr kind:</strong>
  <%= @address.ADR_KIND %>
</p>

<p>
  <strong>Adr org:</strong>
  <%= @address.ADR_ORG %>
</p>

<p>
  <strong>Adr tax area:</strong>
  <%= @address.ADR_TAX_AREA %>
</p>

<p>
  <strong>Adr tax rate1:</strong>
  <%= @address.ADR_TAX_RATE1 %>
</p>

<p>
  <strong>Adr tax rate2:</strong>
  <%= @address.ADR_TAX_RATE2 %>
</p>

<p>
  <strong>Adr tax gl1:</strong>
  <%= @address.ADR_TAX_GL1 %>
</p>

<p>
  <strong>Adr tax gl2:</strong>
  <%= @address.ADR_TAX_GL2 %>
</p>

<p>
  <strong>Adr added by:</strong>
  <%= @address.ADR_ADDED_BY %>
</p>

<p>
  <strong>Adr added when:</strong>
  <%= @address.ADR_ADDED_WHEN %>
</p>

<p>
  <strong>Adr edited by:</strong>
  <%= @address.ADR_EDITED_BY %>
</p>

<p>
  <strong>Adr edited when:</strong>
  <%= @address.ADR_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
