<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @proposal.primaryKey %>
</p>

<p>
  <strong>Props client num:</strong>
  <%= @proposal.PROPS_CLIENT_NUM %>
</p>

<p>
  <strong>Props date added:</strong>
  <%= @proposal.PROPS_DATE_ADDED %>
</p>

<p>
  <strong>Props requestor:</strong>
  <%= @proposal.PROPS_REQUESTOR %>
</p>

<p>
  <strong>Props type:</strong>
  <%= @proposal.PROPS_TYPE %>
</p>

<p>
  <strong>Props budget:</strong>
  <%= @proposal.PROPS_BUDGET %>
</p>

<p>
  <strong>Props start date:</strong>
  <%= @proposal.PROPS_START_DATE %>
</p>

<p>
  <strong>Props due date:</strong>
  <%= @proposal.PROPS_DUE_DATE %>
</p>

<p>
  <strong>Props ok by:</strong>
  <%= @proposal.PROPS_OK_BY %>
</p>

<p>
  <strong>Props cb1:</strong>
  <%= @proposal.PROPS_CB1 %>
</p>

<p>
  <strong>Props cb2:</strong>
  <%= @proposal.PROPS_CB2 %>
</p>

<p>
  <strong>Props cb3:</strong>
  <%= @proposal.PROPS_CB3 %>
</p>

<p>
  <strong>Props cb4:</strong>
  <%= @proposal.PROPS_CB4 %>
</p>

<p>
  <strong>Props cb5:</strong>
  <%= @proposal.PROPS_CB5 %>
</p>

<p>
  <strong>Props cb6:</strong>
  <%= @proposal.PROPS_CB6 %>
</p>

<p>
  <strong>Props cb7:</strong>
  <%= @proposal.PROPS_CB7 %>
</p>

<p>
  <strong>Props cb8:</strong>
  <%= @proposal.PROPS_CB8 %>
</p>

<p>
  <strong>Props cb9:</strong>
  <%= @proposal.PROPS_CB9 %>
</p>

<p>
  <strong>Props cb10:</strong>
  <%= @proposal.PROPS_CB10 %>
</p>

<p>
  <strong>Props cb11:</strong>
  <%= @proposal.PROPS_CB11 %>
</p>

<p>
  <strong>Props cb12:</strong>
  <%= @proposal.PROPS_CB12 %>
</p>

<p>
  <strong>Props cb13:</strong>
  <%= @proposal.PROPS_CB13 %>
</p>

<p>
  <strong>Props cb14:</strong>
  <%= @proposal.PROPS_CB14 %>
</p>

<p>
  <strong>Props cb15:</strong>
  <%= @proposal.PROPS_CB15 %>
</p>

<p>
  <strong>Props name:</strong>
  <%= @proposal.PROPS_NAME %>
</p>

<p>
  <strong>Props ok date:</strong>
  <%= @proposal.PROPS_OK_DATE %>
</p>

<p>
  <strong>Props desc:</strong>
  <%= @proposal.PROPS_DESC %>
</p>

<p>
  <strong>Props charge num:</strong>
  <%= @proposal.PROPS_CHARGE_NUM %>
</p>

<p>
  <strong>Props status desc:</strong>
  <%= @proposal.PROPS_STATUS_DESC %>
</p>

<p>
  <strong>Props status:</strong>
  <%= @proposal.PROPS_STATUS %>
</p>

<p>
  <strong>Props added by:</strong>
  <%= @proposal.PROPS_ADDED_BY %>
</p>

<p>
  <strong>Props approved:</strong>
  <%= @proposal.PROPS_APPROVED %>
</p>

<p>
  <strong>Props approved by:</strong>
  <%= @proposal.PROPS_APPROVED_BY %>
</p>

<p>
  <strong>Props approved date:</strong>
  <%= @proposal.PROPS_APPROVED_DATE %>
</p>

<p>
  <strong>Props edited by:</strong>
  <%= @proposal.PROPS_EDITED_BY %>
</p>

<p>
  <strong>Props edited when:</strong>
  <%= @proposal.PROPS_EDITED_WHEN %>
</p>

<p>
  <strong>Props reviewer:</strong>
  <%= @proposal.PROPS_REVIEWER %>
</p>

<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
