<%= simple_form_for(@media_plan) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :M_CAMPAIGN %>
    <%= f.input :M_NAME %>
    <%= f.input :M_DESC %>
    <%= f.input :M_BUDGET %>
    <%= f.input :M_COST %>
    <%= f.input :M_START_DATE %>
    <%= f.input :M_END_START %>
    <%= f.input :M_SPOTS_TOTAL %>
    <%= f.input :M_RATING_TOTAL %>
    <%= f.input :M_COST_TOTAL %>
    <%= f.input :M_CPP_TOTAL %>
    <%= f.input :M_CPS_TOTAL %>
    <%= f.input :M_RF_TOTAL %>
    <%= f.input :M_CLIENT_NUM %>
    <%= f.input :M_DATE_ADDED %>
    <%= f.input :M_ADDED_BY %>
    <%= f.input :M_REVISION %>
    <%= f.input :M_REV_NOTE %>
    <%= f.input :M_STATUS_NOTE %>
    <%= f.input :M_PO_COST %>
    <%= f.input :M_PO_GROSS %>
    <%= f.input :M_BILLED %>
    <%= f.input :M_PERIOD1 %>
    <%= f.input :M_PERIOD2 %>
    <%= f.input :M_PERIOD3 %>
    <%= f.input :M_PERIOD4 %>
    <%= f.input :M_PERIOD5 %>
    <%= f.input :M_TYPE %>
    <%= f.input :M_MEMO %>
    <%= f.input :M_NUM %>
    <%= f.input :M_FIELD_LABEL1 %>
    <%= f.input :M_FIELD_LABEL2 %>
    <%= f.input :M_FIELD_LABEL3 %>
    <%= f.input :M_FIELD_LABEL4 %>
    <%= f.input :M_FIELD_LABEL5 %>
    <%= f.input :M_FIELD_LABEL6 %>
    <%= f.input :M_FIELD1 %>
    <%= f.input :M_FIELD2 %>
    <%= f.input :M_FIELD3 %>
    <%= f.input :M_FIELD4 %>
    <%= f.input :M_FIELD5 %>
    <%= f.input :M_FIELD6 %>
    <%= f.input :M_AE_TEAM %>
    <%= f.input :M_CLIENT_CONT %>
    <%= f.input :M_CLIENT_PHONE %>
    <%= f.input :M_F1 %>
    <%= f.input :M_SA1 %>
    <%= f.input :M_SU1 %>
    <%= f.input :M_M1 %>
    <%= f.input :M_TU1 %>
    <%= f.input :M_W1 %>
    <%= f.input :M_TH1 %>
    <%= f.input :M_F2 %>
    <%= f.input :M_SA2 %>
    <%= f.input :M_SU2 %>
    <%= f.input :M_M2 %>
    <%= f.input :M_TU2 %>
    <%= f.input :M_W2 %>
    <%= f.input :M_TH2 %>
    <%= f.input :M_F3 %>
    <%= f.input :M_PER_LABEL1 %>
    <%= f.input :M_PER_LABEL2 %>
    <%= f.input :M_PER_LABEL3 %>
    <%= f.input :M_PER_LABEL4 %>
    <%= f.input :M_PER_LABEL5 %>
    <%= f.input :M_PER_LABEL6 %>
    <%= f.input :M_PER_LABEL7 %>
    <%= f.input :M_PER_LABEL8 %>
    <%= f.input :M_PER_LABEL9 %>
    <%= f.input :M_PER_LABEL10 %>
    <%= f.input :M_PER_LABEL11 %>
    <%= f.input :M_PER_LABEL12 %>
    <%= f.input :M_PERIOD6 %>
    <%= f.input :M_PERIOD7 %>
    <%= f.input :M_PERIOD8 %>
    <%= f.input :M_PERIOD9 %>
    <%= f.input :M_PERIOD10 %>
    <%= f.input :M_PERIOD11 %>
    <%= f.input :M_PERIOD12 %>
    <%= f.input :M_JOB_NUM %>
    <%= f.input :M_TASK %>
    <%= f.input :M_APPROVAL1 %>
    <%= f.input :M_APPROVAL2 %>
    <%= f.input :M_APPROVAL3 %>
    <%= f.input :M_FLIGHT %>
    <%= f.input :M_KIND %>
    <%= f.input :M_COMMISSION %>
    <%= f.input :M_STATUS %>
    <%= f.input :M_BRAND %>
    <%= f.input :M_CLOSED %>
    <%= f.input :M_INACTIVE %>
    <%= f.input :M_APPROVED %>
    <%= f.input :M_APPROVED_BY %>
    <%= f.input :M_APPROVED_DATE %>
    <%= f.input :M_EDITED_BY %>
    <%= f.input :M_EDITED_WHEN %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
