<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @media_plan.primaryKey %>
</p>

<p>
  <strong>M campaign:</strong>
  <%= @media_plan.M_CAMPAIGN %>
</p>

<p>
  <strong>M name:</strong>
  <%= @media_plan.M_NAME %>
</p>

<p>
  <strong>M desc:</strong>
  <%= @media_plan.M_DESC %>
</p>

<p>
  <strong>M budget:</strong>
  <%= @media_plan.M_BUDGET %>
</p>

<p>
  <strong>M cost:</strong>
  <%= @media_plan.M_COST %>
</p>

<p>
  <strong>M start date:</strong>
  <%= @media_plan.M_START_DATE %>
</p>

<p>
  <strong>M end start:</strong>
  <%= @media_plan.M_END_START %>
</p>

<p>
  <strong>M spots total:</strong>
  <%= @media_plan.M_SPOTS_TOTAL %>
</p>

<p>
  <strong>M rating total:</strong>
  <%= @media_plan.M_RATING_TOTAL %>
</p>

<p>
  <strong>M cost total:</strong>
  <%= @media_plan.M_COST_TOTAL %>
</p>

<p>
  <strong>M cpp total:</strong>
  <%= @media_plan.M_CPP_TOTAL %>
</p>

<p>
  <strong>M cps total:</strong>
  <%= @media_plan.M_CPS_TOTAL %>
</p>

<p>
  <strong>M rf total:</strong>
  <%= @media_plan.M_RF_TOTAL %>
</p>

<p>
  <strong>M client num:</strong>
  <%= @media_plan.M_CLIENT_NUM %>
</p>

<p>
  <strong>M date added:</strong>
  <%= @media_plan.M_DATE_ADDED %>
</p>

<p>
  <strong>M added by:</strong>
  <%= @media_plan.M_ADDED_BY %>
</p>

<p>
  <strong>M revision:</strong>
  <%= @media_plan.M_REVISION %>
</p>

<p>
  <strong>M rev note:</strong>
  <%= @media_plan.M_REV_NOTE %>
</p>

<p>
  <strong>M status note:</strong>
  <%= @media_plan.M_STATUS_NOTE %>
</p>

<p>
  <strong>M po cost:</strong>
  <%= @media_plan.M_PO_COST %>
</p>

<p>
  <strong>M po gross:</strong>
  <%= @media_plan.M_PO_GROSS %>
</p>

<p>
  <strong>M billed:</strong>
  <%= @media_plan.M_BILLED %>
</p>

<p>
  <strong>M period1:</strong>
  <%= @media_plan.M_PERIOD1 %>
</p>

<p>
  <strong>M period2:</strong>
  <%= @media_plan.M_PERIOD2 %>
</p>

<p>
  <strong>M period3:</strong>
  <%= @media_plan.M_PERIOD3 %>
</p>

<p>
  <strong>M period4:</strong>
  <%= @media_plan.M_PERIOD4 %>
</p>

<p>
  <strong>M period5:</strong>
  <%= @media_plan.M_PERIOD5 %>
</p>

<p>
  <strong>M type:</strong>
  <%= @media_plan.M_TYPE %>
</p>

<p>
  <strong>M memo:</strong>
  <%= @media_plan.M_MEMO %>
</p>

<p>
  <strong>M num:</strong>
  <%= @media_plan.M_NUM %>
</p>

<p>
  <strong>M field label1:</strong>
  <%= @media_plan.M_FIELD_LABEL1 %>
</p>

<p>
  <strong>M field label2:</strong>
  <%= @media_plan.M_FIELD_LABEL2 %>
</p>

<p>
  <strong>M field label3:</strong>
  <%= @media_plan.M_FIELD_LABEL3 %>
</p>

<p>
  <strong>M field label4:</strong>
  <%= @media_plan.M_FIELD_LABEL4 %>
</p>

<p>
  <strong>M field label5:</strong>
  <%= @media_plan.M_FIELD_LABEL5 %>
</p>

<p>
  <strong>M field label6:</strong>
  <%= @media_plan.M_FIELD_LABEL6 %>
</p>

<p>
  <strong>M field1:</strong>
  <%= @media_plan.M_FIELD1 %>
</p>

<p>
  <strong>M field2:</strong>
  <%= @media_plan.M_FIELD2 %>
</p>

<p>
  <strong>M field3:</strong>
  <%= @media_plan.M_FIELD3 %>
</p>

<p>
  <strong>M field4:</strong>
  <%= @media_plan.M_FIELD4 %>
</p>

<p>
  <strong>M field5:</strong>
  <%= @media_plan.M_FIELD5 %>
</p>

<p>
  <strong>M field6:</strong>
  <%= @media_plan.M_FIELD6 %>
</p>

<p>
  <strong>M ae team:</strong>
  <%= @media_plan.M_AE_TEAM %>
</p>

<p>
  <strong>M client cont:</strong>
  <%= @media_plan.M_CLIENT_CONT %>
</p>

<p>
  <strong>M client phone:</strong>
  <%= @media_plan.M_CLIENT_PHONE %>
</p>

<p>
  <strong>M f1:</strong>
  <%= @media_plan.M_F1 %>
</p>

<p>
  <strong>M sa1:</strong>
  <%= @media_plan.M_SA1 %>
</p>

<p>
  <strong>M su1:</strong>
  <%= @media_plan.M_SU1 %>
</p>

<p>
  <strong>M m1:</strong>
  <%= @media_plan.M_M1 %>
</p>

<p>
  <strong>M tu1:</strong>
  <%= @media_plan.M_TU1 %>
</p>

<p>
  <strong>M w1:</strong>
  <%= @media_plan.M_W1 %>
</p>

<p>
  <strong>M th1:</strong>
  <%= @media_plan.M_TH1 %>
</p>

<p>
  <strong>M f2:</strong>
  <%= @media_plan.M_F2 %>
</p>

<p>
  <strong>M sa2:</strong>
  <%= @media_plan.M_SA2 %>
</p>

<p>
  <strong>M su2:</strong>
  <%= @media_plan.M_SU2 %>
</p>

<p>
  <strong>M m2:</strong>
  <%= @media_plan.M_M2 %>
</p>

<p>
  <strong>M tu2:</strong>
  <%= @media_plan.M_TU2 %>
</p>

<p>
  <strong>M w2:</strong>
  <%= @media_plan.M_W2 %>
</p>

<p>
  <strong>M th2:</strong>
  <%= @media_plan.M_TH2 %>
</p>

<p>
  <strong>M f3:</strong>
  <%= @media_plan.M_F3 %>
</p>

<p>
  <strong>M per label1:</strong>
  <%= @media_plan.M_PER_LABEL1 %>
</p>

<p>
  <strong>M per label2:</strong>
  <%= @media_plan.M_PER_LABEL2 %>
</p>

<p>
  <strong>M per label3:</strong>
  <%= @media_plan.M_PER_LABEL3 %>
</p>

<p>
  <strong>M per label4:</strong>
  <%= @media_plan.M_PER_LABEL4 %>
</p>

<p>
  <strong>M per label5:</strong>
  <%= @media_plan.M_PER_LABEL5 %>
</p>

<p>
  <strong>M per label6:</strong>
  <%= @media_plan.M_PER_LABEL6 %>
</p>

<p>
  <strong>M per label7:</strong>
  <%= @media_plan.M_PER_LABEL7 %>
</p>

<p>
  <strong>M per label8:</strong>
  <%= @media_plan.M_PER_LABEL8 %>
</p>

<p>
  <strong>M per label9:</strong>
  <%= @media_plan.M_PER_LABEL9 %>
</p>

<p>
  <strong>M per label10:</strong>
  <%= @media_plan.M_PER_LABEL10 %>
</p>

<p>
  <strong>M per label11:</strong>
  <%= @media_plan.M_PER_LABEL11 %>
</p>

<p>
  <strong>M per label12:</strong>
  <%= @media_plan.M_PER_LABEL12 %>
</p>

<p>
  <strong>M period6:</strong>
  <%= @media_plan.M_PERIOD6 %>
</p>

<p>
  <strong>M period7:</strong>
  <%= @media_plan.M_PERIOD7 %>
</p>

<p>
  <strong>M period8:</strong>
  <%= @media_plan.M_PERIOD8 %>
</p>

<p>
  <strong>M period9:</strong>
  <%= @media_plan.M_PERIOD9 %>
</p>

<p>
  <strong>M period10:</strong>
  <%= @media_plan.M_PERIOD10 %>
</p>

<p>
  <strong>M period11:</strong>
  <%= @media_plan.M_PERIOD11 %>
</p>

<p>
  <strong>M period12:</strong>
  <%= @media_plan.M_PERIOD12 %>
</p>

<p>
  <strong>M job num:</strong>
  <%= @media_plan.M_JOB_NUM %>
</p>

<p>
  <strong>M task:</strong>
  <%= @media_plan.M_TASK %>
</p>

<p>
  <strong>M approval1:</strong>
  <%= @media_plan.M_APPROVAL1 %>
</p>

<p>
  <strong>M approval2:</strong>
  <%= @media_plan.M_APPROVAL2 %>
</p>

<p>
  <strong>M approval3:</strong>
  <%= @media_plan.M_APPROVAL3 %>
</p>

<p>
  <strong>M flight:</strong>
  <%= @media_plan.M_FLIGHT %>
</p>

<p>
  <strong>M kind:</strong>
  <%= @media_plan.M_KIND %>
</p>

<p>
  <strong>M commission:</strong>
  <%= @media_plan.M_COMMISSION %>
</p>

<p>
  <strong>M status:</strong>
  <%= @media_plan.M_STATUS %>
</p>

<p>
  <strong>M brand:</strong>
  <%= @media_plan.M_BRAND %>
</p>

<p>
  <strong>M closed:</strong>
  <%= @media_plan.M_CLOSED %>
</p>

<p>
  <strong>M inactive:</strong>
  <%= @media_plan.M_INACTIVE %>
</p>

<p>
  <strong>M approved:</strong>
  <%= @media_plan.M_APPROVED %>
</p>

<p>
  <strong>M approved by:</strong>
  <%= @media_plan.M_APPROVED_BY %>
</p>

<p>
  <strong>M approved date:</strong>
  <%= @media_plan.M_APPROVED_DATE %>
</p>

<p>
  <strong>M edited by:</strong>
  <%= @media_plan.M_EDITED_BY %>
</p>

<p>
  <strong>M edited when:</strong>
  <%= @media_plan.M_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_media_plan_path(@media_plan) %> |
<%= link_to 'Back', media_plans_path %>
