<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @f_preference.primaryKey %>
</p>

<p>
  <strong>Prsqlconvflag:</strong>
  <%= @f_preference.prSQLConvFlag %>
</p>

<%= link_to 'Edit', edit_f_preference_path(@f_preference) %> |
<%= link_to 'Back', f_preferences_path %>
