<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @home_comment.primaryKey %>
</p>

<p>
  <strong>Comment home  seq:</strong>
  <%= @home_comment.COMMENT_HOME__SEQ %>
</p>

<p>
  <strong>Comment job num:</strong>
  <%= @home_comment.COMMENT_JOB_NUM %>
</p>

<p>
  <strong>Comment task:</strong>
  <%= @home_comment.COMMENT_TASK %>
</p>

<p>
  <strong>Comment added by:</strong>
  <%= @home_comment.COMMENT_ADDED_BY %>
</p>

<p>
  <strong>Comment date added:</strong>
  <%= @home_comment.COMMENT_DATE_ADDED %>
</p>

<p>
  <strong>Comment kind:</strong>
  <%= @home_comment.COMMENT_KIND %>
</p>

<p>
  <strong>Comment reply:</strong>
  <%= @home_comment.COMMENT_REPLY %>
</p>

<p>
  <strong>Comment private1:</strong>
  <%= @home_comment.COMMENT_PRIVATE1 %>
</p>

<p>
  <strong>Comment private2:</strong>
  <%= @home_comment.COMMENT_PRIVATE2 %>
</p>

<p>
  <strong>Comment priority:</strong>
  <%= @home_comment.COMMENT_PRIORITY %>
</p>

<p>
  <strong>Comment sort:</strong>
  <%= @home_comment.COMMENT_SORT %>
</p>

<p>
  <strong>Comment choice:</strong>
  <%= @home_comment.COMMENT_CHOICE %>
</p>

<p>
  <strong>Comment message:</strong>
  <%= @home_comment.COMMENT_MESSAGE %>
</p>

<p>
  <strong>Comment locked:</strong>
  <%= @home_comment.COMMENT_LOCKED %>
</p>

<p>
  <strong>Comment added kind:</strong>
  <%= @home_comment.COMMENT_ADDED_KIND %>
</p>

<p>
  <strong>Comment rating:</strong>
  <%= @home_comment.COMMENT_RATING %>
</p>

<p>
  <strong>Comment prod status:</strong>
  <%= @home_comment.COMMENT_PROD_STATUS %>
</p>

<p>
  <strong>Comment file name:</strong>
  <%= @home_comment.COMMENT_FILE_NAME %>
</p>

<p>
  <strong>Comment x phase:</strong>
  <%= @home_comment.COMMENT_X_PHASE %>
</p>

<p>
  <strong>Comment ping:</strong>
  <%= @home_comment.COMMENT_PING %>
</p>

<p>
  <strong>Comment final:</strong>
  <%= @home_comment.COMMENT_FINAL %>
</p>

<p>
  <strong>Comment star:</strong>
  <%= @home_comment.COMMENT_STAR %>
</p>

<%= link_to 'Edit', edit_home_comment_path(@home_comment) %> |
<%= link_to 'Back', home_comments_path %>
