<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @check.primaryKey %>
</p>

<p>
  <strong>Ck num:</strong>
  <%= @check.CK_NUM %>
</p>

<p>
  <strong>Ck vendor num:</strong>
  <%= @check.CK_VENDOR_NUM %>
</p>

<p>
  <strong>Ck payee:</strong>
  <%= @check.CK_PAYEE %>
</p>

<p>
  <strong>Ck address1:</strong>
  <%= @check.CK_ADDRESS1 %>
</p>

<p>
  <strong>Ck address2:</strong>
  <%= @check.CK_ADDRESS2 %>
</p>

<p>
  <strong>Ck address3:</strong>
  <%= @check.CK_ADDRESS3 %>
</p>

<p>
  <strong>Ck date:</strong>
  <%= @check.CK_DATE %>
</p>

<p>
  <strong>Ck posted:</strong>
  <%= @check.CK_POSTED %>
</p>

<p>
  <strong>Ck memo:</strong>
  <%= @check.CK_MEMO %>
</p>

<p>
  <strong>Ck net amt:</strong>
  <%= @check.CK_NET_AMT %>
</p>

<p>
  <strong>Ck cgl:</strong>
  <%= @check.CK_CGL %>
</p>

<p>
  <strong>Ck pay:</strong>
  <%= @check.CK_PAY %>
</p>

<p>
  <strong>Ck added by:</strong>
  <%= @check.CK_ADDED_BY %>
</p>

<p>
  <strong>Ck added when:</strong>
  <%= @check.CK_ADDED_WHEN %>
</p>

<p>
  <strong>Ck cleared:</strong>
  <%= @check.CK_CLEARED %>
</p>

<p>
  <strong>Ck dont print:</strong>
  <%= @check.CK_DONT_PRINT %>
</p>

<p>
  <strong>Ck amount:</strong>
  <%= @check.CK_AMOUNT %>
</p>

<p>
  <strong>Ck type:</strong>
  <%= @check.CK_TYPE %>
</p>

<p>
  <strong>Ck gross:</strong>
  <%= @check.CK_GROSS %>
</p>

<p>
  <strong>Ck disc amt:</strong>
  <%= @check.CK_DISC_AMT %>
</p>

<p>
  <strong>Ck disc gl:</strong>
  <%= @check.CK_DISC_GL %>
</p>

<p>
  <strong>Ck ok:</strong>
  <%= @check.CK_OK %>
</p>

<p>
  <strong>Ck period:</strong>
  <%= @check.CK_PERIOD %>
</p>

<p>
  <strong>Ck 1099:</strong>
  <%= @check.CK_1099 %>
</p>

<p>
  <strong>Ck tax id:</strong>
  <%= @check.CK_TAX_ID %>
</p>

<p>
  <strong>Ck emp adv exp:</strong>
  <%= @check.CK_EMP_ADV_EXP %>
</p>

<p>
  <strong>Ck empl adv ck:</strong>
  <%= @check.CK_EMPL_ADV_CK %>
</p>

<p>
  <strong>Ck edited by:</strong>
  <%= @check.CK_EDITED_BY %>
</p>

<p>
  <strong>Ck edited when:</strong>
  <%= @check.CK_EDITED_WHEN %>
</p>

<p>
  <strong>Ck posted by:</strong>
  <%= @check.CK_POSTED_BY %>
</p>

<p>
  <strong>Ck posted when:</strong>
  <%= @check.CK_POSTED_WHEN %>
</p>

<p>
  <strong>Ck online pmt confirm num:</strong>
  <%= @check.CK_ONLINE_PMT_CONFIRM_NUM %>
</p>

<%= link_to 'Edit', edit_check_path(@check) %> |
<%= link_to 'Back', checks_path %>
