<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @work_order.primaryKey %>
</p>

<p>
  <strong>Wo job num:</strong>
  <%= @work_order.WO_JOB_NUM %>
</p>

<p>
  <strong>Wo client num:</strong>
  <%= @work_order.WO_CLIENT_NUM %>
</p>

<p>
  <strong>Wo 1 label:</strong>
  <%= @work_order.WO_1_LABEL %>
</p>

<p>
  <strong>Wo 2 label:</strong>
  <%= @work_order.WO_2_LABEL %>
</p>

<p>
  <strong>Wo 3 label:</strong>
  <%= @work_order.WO_3_LABEL %>
</p>

<p>
  <strong>Wo 4 label:</strong>
  <%= @work_order.WO_4_LABEL %>
</p>

<p>
  <strong>Wo 5 label:</strong>
  <%= @work_order.WO_5_LABEL %>
</p>

<p>
  <strong>Wo 6 label:</strong>
  <%= @work_order.WO_6_LABEL %>
</p>

<p>
  <strong>Wo 7 label:</strong>
  <%= @work_order.WO_7_LABEL %>
</p>

<p>
  <strong>Wo 8 label:</strong>
  <%= @work_order.WO_8_LABEL %>
</p>

<p>
  <strong>Wo 9 label:</strong>
  <%= @work_order.WO_9_LABEL %>
</p>

<p>
  <strong>Wo 10 label:</strong>
  <%= @work_order.WO_10_LABEL %>
</p>

<p>
  <strong>Wo 11 label:</strong>
  <%= @work_order.WO_11_LABEL %>
</p>

<p>
  <strong>Wo 12 label:</strong>
  <%= @work_order.WO_12_LABEL %>
</p>

<p>
  <strong>Wo 13 label:</strong>
  <%= @work_order.WO_13_LABEL %>
</p>

<p>
  <strong>Wo 14 label:</strong>
  <%= @work_order.WO_14_LABEL %>
</p>

<p>
  <strong>Wo 15 label:</strong>
  <%= @work_order.WO_15_LABEL %>
</p>

<p>
  <strong>Wo 1:</strong>
  <%= @work_order.WO_1 %>
</p>

<p>
  <strong>Wo 2:</strong>
  <%= @work_order.WO_2 %>
</p>

<p>
  <strong>Wo 3:</strong>
  <%= @work_order.WO_3 %>
</p>

<p>
  <strong>Wo 4:</strong>
  <%= @work_order.WO_4 %>
</p>

<p>
  <strong>Wo 5:</strong>
  <%= @work_order.WO_5 %>
</p>

<p>
  <strong>Wo 6:</strong>
  <%= @work_order.WO_6 %>
</p>

<p>
  <strong>Wo 7:</strong>
  <%= @work_order.WO_7 %>
</p>

<p>
  <strong>Wo 8:</strong>
  <%= @work_order.WO_8 %>
</p>

<p>
  <strong>Wo 9:</strong>
  <%= @work_order.WO_9 %>
</p>

<p>
  <strong>Wo 10:</strong>
  <%= @work_order.WO_10 %>
</p>

<p>
  <strong>Wo 11:</strong>
  <%= @work_order.WO_11 %>
</p>

<p>
  <strong>Wo 12:</strong>
  <%= @work_order.WO_12 %>
</p>

<p>
  <strong>Wo 13:</strong>
  <%= @work_order.WO_13 %>
</p>

<p>
  <strong>Wo 14:</strong>
  <%= @work_order.WO_14 %>
</p>

<p>
  <strong>Wo 15:</strong>
  <%= @work_order.WO_15 %>
</p>

<p>
  <strong>Wo added by:</strong>
  <%= @work_order.WO_ADDED_BY %>
</p>

<p>
  <strong>Wo rev by:</strong>
  <%= @work_order.WO_REV_BY %>
</p>

<p>
  <strong>Wo ok:</strong>
  <%= @work_order.WO_OK %>
</p>

<p>
  <strong>Wo ok by:</strong>
  <%= @work_order.WO_OK_BY %>
</p>

<p>
  <strong>Wo ok date:</strong>
  <%= @work_order.WO_OK_DATE %>
</p>

<p>
  <strong>Wo approved:</strong>
  <%= @work_order.WO_APPROVED %>
</p>

<p>
  <strong>Wo approved date:</strong>
  <%= @work_order.WO_APPROVED_DATE %>
</p>

<p>
  <strong>Wo approved by:</strong>
  <%= @work_order.WO_APPROVED_BY %>
</p>

<p>
  <strong>Wo adr name:</strong>
  <%= @work_order.WO_ADR_NAME %>
</p>

<%= link_to 'Edit', edit_work_order_path(@work_order) %> |
<%= link_to 'Back', work_orders_path %>
