<h1>Listing palm_cats</h1>

<table>
  <thead>
    <tr>
      <th>Primarykey</th>
      <th>Palm cat name</th>
      <th>Palm cat id</th>
      <th>Palm cat user</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @palm_cats.each do |palm_cat| %>
      <tr>
        <td><%= palm_cat.primaryKey %></td>
        <td><%= palm_cat.PALM_CAT_NAME %></td>
        <td><%= palm_cat.PALM_CAT_ID %></td>
        <td><%= palm_cat.PALM_CAT_USER %></td>
        <td><%= link_to 'Show', palm_cat %></td>
        <td><%= link_to 'Edit', edit_palm_cat_path(palm_cat) %></td>
        <td><%= link_to 'Destroy', palm_cat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Palm cat', new_palm_cat_path %>
