<%= simple_form_for(@media_est) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :ME_NUM %>
    <%= f.input :ME_CLIENT_NUM %>
    <%= f.input :ME_CAMPAIGN %>
    <%= f.input :ME_DATE %>
    <%= f.input :ME_DESC %>
    <%= f.input :ME_BUYER %>
    <%= f.input :ME_GROSS %>
    <%= f.input :ME_LABEL1 %>
    <%= f.input :ME_LABEL2 %>
    <%= f.input :ME_LABEL3 %>
    <%= f.input :ME_LABEL4 %>
    <%= f.input :ME_LABEL5 %>
    <%= f.input :ME_STATUS %>
    <%= f.input :ME_COST %>
    <%= f.input :ME_CLOSED %>
    <%= f.input :ME_SHOW_DESC %>
    <%= f.input :ME_DISCLAIMER %>
    <%= f.input :ME_APPROVAL1 %>
    <%= f.input :ME_APPROVAL2 %>
    <%= f.input :ME_APPROVAL3 %>
    <%= f.input :ME_COMM %>
    <%= f.input :ME_JOB_NUM %>
    <%= f.input :ME_TASK %>
    <%= f.input :ME_BRAND %>
    <%= f.input :ME_INACTIVE %>
    <%= f.input :ME_TYPE %>
    <%= f.input :ME_APPROVED %>
    <%= f.input :ME_APPROVED_BY %>
    <%= f.input :ME_APPROVED_DATE %>
    <%= f.input :ME_EDITED_BY %>
    <%= f.input :ME_EDITED_WHEN %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
