<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @media_est.primaryKey %>
</p>

<p>
  <strong>Me num:</strong>
  <%= @media_est.ME_NUM %>
</p>

<p>
  <strong>Me client num:</strong>
  <%= @media_est.ME_CLIENT_NUM %>
</p>

<p>
  <strong>Me campaign:</strong>
  <%= @media_est.ME_CAMPAIGN %>
</p>

<p>
  <strong>Me date:</strong>
  <%= @media_est.ME_DATE %>
</p>

<p>
  <strong>Me desc:</strong>
  <%= @media_est.ME_DESC %>
</p>

<p>
  <strong>Me buyer:</strong>
  <%= @media_est.ME_BUYER %>
</p>

<p>
  <strong>Me gross:</strong>
  <%= @media_est.ME_GROSS %>
</p>

<p>
  <strong>Me label1:</strong>
  <%= @media_est.ME_LABEL1 %>
</p>

<p>
  <strong>Me label2:</strong>
  <%= @media_est.ME_LABEL2 %>
</p>

<p>
  <strong>Me label3:</strong>
  <%= @media_est.ME_LABEL3 %>
</p>

<p>
  <strong>Me label4:</strong>
  <%= @media_est.ME_LABEL4 %>
</p>

<p>
  <strong>Me label5:</strong>
  <%= @media_est.ME_LABEL5 %>
</p>

<p>
  <strong>Me status:</strong>
  <%= @media_est.ME_STATUS %>
</p>

<p>
  <strong>Me cost:</strong>
  <%= @media_est.ME_COST %>
</p>

<p>
  <strong>Me closed:</strong>
  <%= @media_est.ME_CLOSED %>
</p>

<p>
  <strong>Me show desc:</strong>
  <%= @media_est.ME_SHOW_DESC %>
</p>

<p>
  <strong>Me disclaimer:</strong>
  <%= @media_est.ME_DISCLAIMER %>
</p>

<p>
  <strong>Me approval1:</strong>
  <%= @media_est.ME_APPROVAL1 %>
</p>

<p>
  <strong>Me approval2:</strong>
  <%= @media_est.ME_APPROVAL2 %>
</p>

<p>
  <strong>Me approval3:</strong>
  <%= @media_est.ME_APPROVAL3 %>
</p>

<p>
  <strong>Me comm:</strong>
  <%= @media_est.ME_COMM %>
</p>

<p>
  <strong>Me job num:</strong>
  <%= @media_est.ME_JOB_NUM %>
</p>

<p>
  <strong>Me task:</strong>
  <%= @media_est.ME_TASK %>
</p>

<p>
  <strong>Me brand:</strong>
  <%= @media_est.ME_BRAND %>
</p>

<p>
  <strong>Me inactive:</strong>
  <%= @media_est.ME_INACTIVE %>
</p>

<p>
  <strong>Me type:</strong>
  <%= @media_est.ME_TYPE %>
</p>

<p>
  <strong>Me approved:</strong>
  <%= @media_est.ME_APPROVED %>
</p>

<p>
  <strong>Me approved by:</strong>
  <%= @media_est.ME_APPROVED_BY %>
</p>

<p>
  <strong>Me approved date:</strong>
  <%= @media_est.ME_APPROVED_DATE %>
</p>

<p>
  <strong>Me edited by:</strong>
  <%= @media_est.ME_EDITED_BY %>
</p>

<p>
  <strong>Me edited when:</strong>
  <%= @media_est.ME_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_media_est_path(@media_est) %> |
<%= link_to 'Back', media_ests_path %>
