<%= simple_form_for(@user_window) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :UW_WORK %>
    <%= f.input :UW_wPopAR %>
    <%= f.input :UW_wPopCalendar %>
    <%= f.input :UW_wPopCampaigns %>
    <%= f.input :UW_wPopChargeItems %>
    <%= f.input :UW_wPopClients %>
    <%= f.input :UW_wPopCOA %>
    <%= f.input :UW_wPopContacts %>
    <%= f.input :UW_wPopDept %>
    <%= f.input :UW_wPopGroups %>
    <%= f.input :UW_wPopJobs %>
    <%= f.input :UW_wPopJobTasks %>
    <%= f.input :UW_wPopPC %>
    <%= f.input :UW_wPopPOs %>
    <%= f.input :UW_wPopProjects %>
    <%= f.input :UW_wPopStaff %>
    <%= f.input :UW_wPopStatus %>
    <%= f.input :UW_wPopTaskTable %>
    <%= f.input :UW_wPopTraffic %>
    <%= f.input :UW_wPopVendors %>
    <%= f.input :UW_wPopSpecSheets %>
    <%= f.input :UW_wInOutBoard %>
    <%= f.input :UW_wSmartTimer %>
    <%= f.input :UW_wTimeCard %>
    <%= f.input :UW_wTimeCardWeek %>
    <%= f.input :UW_wUpdateTraffic %>
    <%= f.input :UW_wWorkToDo %>
    <%= f.input :UW_wDailyJobStatus %>
    <%= f.input :UW_wProdPlanner %>
    <%= f.input :UW_wWeeklyTraffic %>
    <%= f.input :UW_wTaskMaster %>
    <%= f.input :UW_wJobs %>
    <%= f.input :UW_wJobSchedule %>
    <%= f.input :UW_shortcut1 %>
    <%= f.input :UW_shortcut2 %>
    <%= f.input :UW_shortcut3 %>
    <%= f.input :UW_shortcut4 %>
    <%= f.input :UW_shortcut5 %>
    <%= f.input :UW_shortcut6 %>
    <%= f.input :UW_shortcut7 %>
    <%= f.input :UW_shortcut8 %>
    <%= f.input :UW_shortcut9 %>
    <%= f.input :UW_shortcut10 %>
    <%= f.input :UW_shortcut11 %>
    <%= f.input :UW_shortcut12 %>
    <%= f.input :UW_wClientTrafficController %>
    <%= f.input :UW_wJobDiary %>
    <%= f.input :UW_wAR %>
    <%= f.input :UW_wCheckbook %>
    <%= f.input :UW_wGL %>
    <%= f.input :UW_wPO %>
    <%= f.input :UW_wMO %>
    <%= f.input :UW_wTimeSheets %>
    <%= f.input :UW_wPayments %>
    <%= f.input :UW_wCalendar %>
    <%= f.input :UW_wCollectionMgr %>
    <%= f.input :UW_wProjectManager %>
    <%= f.input :UW_wTimeCardClick %>
    <%= f.input :UW_wCreativeDashboard %>
    <%= f.input :UW_wAEDashboard %>
    <%= f.input :UW_wAcctDashboard %>
    <%= f.input :UW_wExecDashboard %>
    <%= f.input :UW_wBillingHotSheet %>
    <%= f.input :UW_wTimeCardGlance %>
    <%= f.input :UW_wProductionCalendar %>
    <%= f.input :UW_wProdCalendar %>
    <%= f.input :UW_wMediaCalendar %>
    <%= f.input :UW_wExpenseReport %>
    <%= f.input :UW_wJobEstimate %>
    <%= f.input :UW_wTimeCardHourly %>
    <%= f.input :UW_wJobCreativeBrief %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
