<h1>Listing user_windows</h1>

<table>
  <thead>
    <tr>
      <th>Primarykey</th>
      <th>Uw work</th>
      <th>Uw wpopar</th>
      <th>Uw wpopcalendar</th>
      <th>Uw wpopcampaigns</th>
      <th>Uw wpopchargeitems</th>
      <th>Uw wpopclients</th>
      <th>Uw wpopcoa</th>
      <th>Uw wpopcontacts</th>
      <th>Uw wpopdept</th>
      <th>Uw wpopgroups</th>
      <th>Uw wpopjobs</th>
      <th>Uw wpopjobtasks</th>
      <th>Uw wpoppc</th>
      <th>Uw wpoppos</th>
      <th>Uw wpopprojects</th>
      <th>Uw wpopstaff</th>
      <th>Uw wpopstatus</th>
      <th>Uw wpoptasktable</th>
      <th>Uw wpoptraffic</th>
      <th>Uw wpopvendors</th>
      <th>Uw wpopspecsheets</th>
      <th>Uw winoutboard</th>
      <th>Uw wsmarttimer</th>
      <th>Uw wtimecard</th>
      <th>Uw wtimecardweek</th>
      <th>Uw wupdatetraffic</th>
      <th>Uw wworktodo</th>
      <th>Uw wdailyjobstatus</th>
      <th>Uw wprodplanner</th>
      <th>Uw wweeklytraffic</th>
      <th>Uw wtaskmaster</th>
      <th>Uw wjobs</th>
      <th>Uw wjobschedule</th>
      <th>Uw shortcut1</th>
      <th>Uw shortcut2</th>
      <th>Uw shortcut3</th>
      <th>Uw shortcut4</th>
      <th>Uw shortcut5</th>
      <th>Uw shortcut6</th>
      <th>Uw shortcut7</th>
      <th>Uw shortcut8</th>
      <th>Uw shortcut9</th>
      <th>Uw shortcut10</th>
      <th>Uw shortcut11</th>
      <th>Uw shortcut12</th>
      <th>Uw wclienttrafficcontroller</th>
      <th>Uw wjobdiary</th>
      <th>Uw war</th>
      <th>Uw wcheckbook</th>
      <th>Uw wgl</th>
      <th>Uw wpo</th>
      <th>Uw wmo</th>
      <th>Uw wtimesheets</th>
      <th>Uw wpayments</th>
      <th>Uw wcalendar</th>
      <th>Uw wcollectionmgr</th>
      <th>Uw wprojectmanager</th>
      <th>Uw wtimecardclick</th>
      <th>Uw wcreativedashboard</th>
      <th>Uw waedashboard</th>
      <th>Uw wacctdashboard</th>
      <th>Uw wexecdashboard</th>
      <th>Uw wbillinghotsheet</th>
      <th>Uw wtimecardglance</th>
      <th>Uw wproductioncalendar</th>
      <th>Uw wprodcalendar</th>
      <th>Uw wmediacalendar</th>
      <th>Uw wexpensereport</th>
      <th>Uw wjobestimate</th>
      <th>Uw wtimecardhourly</th>
      <th>Uw wjobcreativebrief</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_windows.each do |user_window| %>
      <tr>
        <td><%= user_window.primaryKey %></td>
        <td><%= user_window.UW_WORK %></td>
        <td><%= user_window.UW_wPopAR %></td>
        <td><%= user_window.UW_wPopCalendar %></td>
        <td><%= user_window.UW_wPopCampaigns %></td>
        <td><%= user_window.UW_wPopChargeItems %></td>
        <td><%= user_window.UW_wPopClients %></td>
        <td><%= user_window.UW_wPopCOA %></td>
        <td><%= user_window.UW_wPopContacts %></td>
        <td><%= user_window.UW_wPopDept %></td>
        <td><%= user_window.UW_wPopGroups %></td>
        <td><%= user_window.UW_wPopJobs %></td>
        <td><%= user_window.UW_wPopJobTasks %></td>
        <td><%= user_window.UW_wPopPC %></td>
        <td><%= user_window.UW_wPopPOs %></td>
        <td><%= user_window.UW_wPopProjects %></td>
        <td><%= user_window.UW_wPopStaff %></td>
        <td><%= user_window.UW_wPopStatus %></td>
        <td><%= user_window.UW_wPopTaskTable %></td>
        <td><%= user_window.UW_wPopTraffic %></td>
        <td><%= user_window.UW_wPopVendors %></td>
        <td><%= user_window.UW_wPopSpecSheets %></td>
        <td><%= user_window.UW_wInOutBoard %></td>
        <td><%= user_window.UW_wSmartTimer %></td>
        <td><%= user_window.UW_wTimeCard %></td>
        <td><%= user_window.UW_wTimeCardWeek %></td>
        <td><%= user_window.UW_wUpdateTraffic %></td>
        <td><%= user_window.UW_wWorkToDo %></td>
        <td><%= user_window.UW_wDailyJobStatus %></td>
        <td><%= user_window.UW_wProdPlanner %></td>
        <td><%= user_window.UW_wWeeklyTraffic %></td>
        <td><%= user_window.UW_wTaskMaster %></td>
        <td><%= user_window.UW_wJobs %></td>
        <td><%= user_window.UW_wJobSchedule %></td>
        <td><%= user_window.UW_shortcut1 %></td>
        <td><%= user_window.UW_shortcut2 %></td>
        <td><%= user_window.UW_shortcut3 %></td>
        <td><%= user_window.UW_shortcut4 %></td>
        <td><%= user_window.UW_shortcut5 %></td>
        <td><%= user_window.UW_shortcut6 %></td>
        <td><%= user_window.UW_shortcut7 %></td>
        <td><%= user_window.UW_shortcut8 %></td>
        <td><%= user_window.UW_shortcut9 %></td>
        <td><%= user_window.UW_shortcut10 %></td>
        <td><%= user_window.UW_shortcut11 %></td>
        <td><%= user_window.UW_shortcut12 %></td>
        <td><%= user_window.UW_wClientTrafficController %></td>
        <td><%= user_window.UW_wJobDiary %></td>
        <td><%= user_window.UW_wAR %></td>
        <td><%= user_window.UW_wCheckbook %></td>
        <td><%= user_window.UW_wGL %></td>
        <td><%= user_window.UW_wPO %></td>
        <td><%= user_window.UW_wMO %></td>
        <td><%= user_window.UW_wTimeSheets %></td>
        <td><%= user_window.UW_wPayments %></td>
        <td><%= user_window.UW_wCalendar %></td>
        <td><%= user_window.UW_wCollectionMgr %></td>
        <td><%= user_window.UW_wProjectManager %></td>
        <td><%= user_window.UW_wTimeCardClick %></td>
        <td><%= user_window.UW_wCreativeDashboard %></td>
        <td><%= user_window.UW_wAEDashboard %></td>
        <td><%= user_window.UW_wAcctDashboard %></td>
        <td><%= user_window.UW_wExecDashboard %></td>
        <td><%= user_window.UW_wBillingHotSheet %></td>
        <td><%= user_window.UW_wTimeCardGlance %></td>
        <td><%= user_window.UW_wProductionCalendar %></td>
        <td><%= user_window.UW_wProdCalendar %></td>
        <td><%= user_window.UW_wMediaCalendar %></td>
        <td><%= user_window.UW_wExpenseReport %></td>
        <td><%= user_window.UW_wJobEstimate %></td>
        <td><%= user_window.UW_wTimeCardHourly %></td>
        <td><%= user_window.UW_wJobCreativeBrief %></td>
        <td><%= link_to 'Show', user_window %></td>
        <td><%= link_to 'Edit', edit_user_window_path(user_window) %></td>
        <td><%= link_to 'Destroy', user_window, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User window', new_user_window_path %>
