<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @user_window.primaryKey %>
</p>

<p>
  <strong>Uw work:</strong>
  <%= @user_window.UW_WORK %>
</p>

<p>
  <strong>Uw wpopar:</strong>
  <%= @user_window.UW_wPopAR %>
</p>

<p>
  <strong>Uw wpopcalendar:</strong>
  <%= @user_window.UW_wPopCalendar %>
</p>

<p>
  <strong>Uw wpopcampaigns:</strong>
  <%= @user_window.UW_wPopCampaigns %>
</p>

<p>
  <strong>Uw wpopchargeitems:</strong>
  <%= @user_window.UW_wPopChargeItems %>
</p>

<p>
  <strong>Uw wpopclients:</strong>
  <%= @user_window.UW_wPopClients %>
</p>

<p>
  <strong>Uw wpopcoa:</strong>
  <%= @user_window.UW_wPopCOA %>
</p>

<p>
  <strong>Uw wpopcontacts:</strong>
  <%= @user_window.UW_wPopContacts %>
</p>

<p>
  <strong>Uw wpopdept:</strong>
  <%= @user_window.UW_wPopDept %>
</p>

<p>
  <strong>Uw wpopgroups:</strong>
  <%= @user_window.UW_wPopGroups %>
</p>

<p>
  <strong>Uw wpopjobs:</strong>
  <%= @user_window.UW_wPopJobs %>
</p>

<p>
  <strong>Uw wpopjobtasks:</strong>
  <%= @user_window.UW_wPopJobTasks %>
</p>

<p>
  <strong>Uw wpoppc:</strong>
  <%= @user_window.UW_wPopPC %>
</p>

<p>
  <strong>Uw wpoppos:</strong>
  <%= @user_window.UW_wPopPOs %>
</p>

<p>
  <strong>Uw wpopprojects:</strong>
  <%= @user_window.UW_wPopProjects %>
</p>

<p>
  <strong>Uw wpopstaff:</strong>
  <%= @user_window.UW_wPopStaff %>
</p>

<p>
  <strong>Uw wpopstatus:</strong>
  <%= @user_window.UW_wPopStatus %>
</p>

<p>
  <strong>Uw wpoptasktable:</strong>
  <%= @user_window.UW_wPopTaskTable %>
</p>

<p>
  <strong>Uw wpoptraffic:</strong>
  <%= @user_window.UW_wPopTraffic %>
</p>

<p>
  <strong>Uw wpopvendors:</strong>
  <%= @user_window.UW_wPopVendors %>
</p>

<p>
  <strong>Uw wpopspecsheets:</strong>
  <%= @user_window.UW_wPopSpecSheets %>
</p>

<p>
  <strong>Uw winoutboard:</strong>
  <%= @user_window.UW_wInOutBoard %>
</p>

<p>
  <strong>Uw wsmarttimer:</strong>
  <%= @user_window.UW_wSmartTimer %>
</p>

<p>
  <strong>Uw wtimecard:</strong>
  <%= @user_window.UW_wTimeCard %>
</p>

<p>
  <strong>Uw wtimecardweek:</strong>
  <%= @user_window.UW_wTimeCardWeek %>
</p>

<p>
  <strong>Uw wupdatetraffic:</strong>
  <%= @user_window.UW_wUpdateTraffic %>
</p>

<p>
  <strong>Uw wworktodo:</strong>
  <%= @user_window.UW_wWorkToDo %>
</p>

<p>
  <strong>Uw wdailyjobstatus:</strong>
  <%= @user_window.UW_wDailyJobStatus %>
</p>

<p>
  <strong>Uw wprodplanner:</strong>
  <%= @user_window.UW_wProdPlanner %>
</p>

<p>
  <strong>Uw wweeklytraffic:</strong>
  <%= @user_window.UW_wWeeklyTraffic %>
</p>

<p>
  <strong>Uw wtaskmaster:</strong>
  <%= @user_window.UW_wTaskMaster %>
</p>

<p>
  <strong>Uw wjobs:</strong>
  <%= @user_window.UW_wJobs %>
</p>

<p>
  <strong>Uw wjobschedule:</strong>
  <%= @user_window.UW_wJobSchedule %>
</p>

<p>
  <strong>Uw shortcut1:</strong>
  <%= @user_window.UW_shortcut1 %>
</p>

<p>
  <strong>Uw shortcut2:</strong>
  <%= @user_window.UW_shortcut2 %>
</p>

<p>
  <strong>Uw shortcut3:</strong>
  <%= @user_window.UW_shortcut3 %>
</p>

<p>
  <strong>Uw shortcut4:</strong>
  <%= @user_window.UW_shortcut4 %>
</p>

<p>
  <strong>Uw shortcut5:</strong>
  <%= @user_window.UW_shortcut5 %>
</p>

<p>
  <strong>Uw shortcut6:</strong>
  <%= @user_window.UW_shortcut6 %>
</p>

<p>
  <strong>Uw shortcut7:</strong>
  <%= @user_window.UW_shortcut7 %>
</p>

<p>
  <strong>Uw shortcut8:</strong>
  <%= @user_window.UW_shortcut8 %>
</p>

<p>
  <strong>Uw shortcut9:</strong>
  <%= @user_window.UW_shortcut9 %>
</p>

<p>
  <strong>Uw shortcut10:</strong>
  <%= @user_window.UW_shortcut10 %>
</p>

<p>
  <strong>Uw shortcut11:</strong>
  <%= @user_window.UW_shortcut11 %>
</p>

<p>
  <strong>Uw shortcut12:</strong>
  <%= @user_window.UW_shortcut12 %>
</p>

<p>
  <strong>Uw wclienttrafficcontroller:</strong>
  <%= @user_window.UW_wClientTrafficController %>
</p>

<p>
  <strong>Uw wjobdiary:</strong>
  <%= @user_window.UW_wJobDiary %>
</p>

<p>
  <strong>Uw war:</strong>
  <%= @user_window.UW_wAR %>
</p>

<p>
  <strong>Uw wcheckbook:</strong>
  <%= @user_window.UW_wCheckbook %>
</p>

<p>
  <strong>Uw wgl:</strong>
  <%= @user_window.UW_wGL %>
</p>

<p>
  <strong>Uw wpo:</strong>
  <%= @user_window.UW_wPO %>
</p>

<p>
  <strong>Uw wmo:</strong>
  <%= @user_window.UW_wMO %>
</p>

<p>
  <strong>Uw wtimesheets:</strong>
  <%= @user_window.UW_wTimeSheets %>
</p>

<p>
  <strong>Uw wpayments:</strong>
  <%= @user_window.UW_wPayments %>
</p>

<p>
  <strong>Uw wcalendar:</strong>
  <%= @user_window.UW_wCalendar %>
</p>

<p>
  <strong>Uw wcollectionmgr:</strong>
  <%= @user_window.UW_wCollectionMgr %>
</p>

<p>
  <strong>Uw wprojectmanager:</strong>
  <%= @user_window.UW_wProjectManager %>
</p>

<p>
  <strong>Uw wtimecardclick:</strong>
  <%= @user_window.UW_wTimeCardClick %>
</p>

<p>
  <strong>Uw wcreativedashboard:</strong>
  <%= @user_window.UW_wCreativeDashboard %>
</p>

<p>
  <strong>Uw waedashboard:</strong>
  <%= @user_window.UW_wAEDashboard %>
</p>

<p>
  <strong>Uw wacctdashboard:</strong>
  <%= @user_window.UW_wAcctDashboard %>
</p>

<p>
  <strong>Uw wexecdashboard:</strong>
  <%= @user_window.UW_wExecDashboard %>
</p>

<p>
  <strong>Uw wbillinghotsheet:</strong>
  <%= @user_window.UW_wBillingHotSheet %>
</p>

<p>
  <strong>Uw wtimecardglance:</strong>
  <%= @user_window.UW_wTimeCardGlance %>
</p>

<p>
  <strong>Uw wproductioncalendar:</strong>
  <%= @user_window.UW_wProductionCalendar %>
</p>

<p>
  <strong>Uw wprodcalendar:</strong>
  <%= @user_window.UW_wProdCalendar %>
</p>

<p>
  <strong>Uw wmediacalendar:</strong>
  <%= @user_window.UW_wMediaCalendar %>
</p>

<p>
  <strong>Uw wexpensereport:</strong>
  <%= @user_window.UW_wExpenseReport %>
</p>

<p>
  <strong>Uw wjobestimate:</strong>
  <%= @user_window.UW_wJobEstimate %>
</p>

<p>
  <strong>Uw wtimecardhourly:</strong>
  <%= @user_window.UW_wTimeCardHourly %>
</p>

<p>
  <strong>Uw wjobcreativebrief:</strong>
  <%= @user_window.UW_wJobCreativeBrief %>
</p>

<%= link_to 'Edit', edit_user_window_path(@user_window) %> |
<%= link_to 'Back', user_windows_path %>
