<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @history_vendor.primaryKey %>
</p>

<p>
  <strong>Hv vendor num:</strong>
  <%= @history_vendor.HV_VENDOR_NUM %>
</p>

<p>
  <strong>Hv num:</strong>
  <%= @history_vendor.HV_NUM %>
</p>

<p>
  <strong>Hv added by:</strong>
  <%= @history_vendor.HV_ADDED_BY %>
</p>

<p>
  <strong>Hv date:</strong>
  <%= @history_vendor.HV_DATE %>
</p>

<p>
  <strong>Hv subject:</strong>
  <%= @history_vendor.HV_SUBJECT %>
</p>

<p>
  <strong>Hv ok:</strong>
  <%= @history_vendor.HV_OK %>
</p>

<p>
  <strong>Hv for:</strong>
  <%= @history_vendor.HV_FOR %>
</p>

<p>
  <strong>Hv desc:</strong>
  <%= @history_vendor.HV_DESC %>
</p>

<p>
  <strong>Hv mail to:</strong>
  <%= @history_vendor.HV_MAIL_TO %>
</p>

<p>
  <strong>Hv cc:</strong>
  <%= @history_vendor.HV_CC %>
</p>

<p>
  <strong>Hv bcc:</strong>
  <%= @history_vendor.HV_BCC %>
</p>

<p>
  <strong>Hv notified:</strong>
  <%= @history_vendor.HV_NOTIFIED %>
</p>

<p>
  <strong>Hv inv num:</strong>
  <%= @history_vendor.HV_INV_NUM %>
</p>

<p>
  <strong>Hv edited by:</strong>
  <%= @history_vendor.HV_EDITED_BY %>
</p>

<p>
  <strong>Hv edited when:</strong>
  <%= @history_vendor.HV_EDITED_WHEN %>
</p>

<%= link_to 'Edit', edit_history_vendor_path(@history_vendor) %> |
<%= link_to 'Back', history_vendors_path %>
