<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :AC_NUM %>
    <%= f.input :AC_NAME %>
    <%= f.input :AC_CLASS %>
    <%= f.input :AC_SUB_CLASS %>
    <%= f.input :AC_CONFIDENTIAL %>
    <%= f.input :AC_ROLLUP_ONLY %>
    <%= f.input :AC_CK_NUM %>
    <%= f.input :AC_PC %>
    <%= f.input :AC_1 %>
    <%= f.input :AC_2 %>
    <%= f.input :AC_3 %>
    <%= f.input :AC_4 %>
    <%= f.input :AC_5 %>
    <%= f.input :AC_6 %>
    <%= f.input :AC_7 %>
    <%= f.input :AC_8 %>
    <%= f.input :AC_9 %>
    <%= f.input :AC_10 %>
    <%= f.input :AC_11 %>
    <%= f.input :AC_12 %>
    <%= f.input :AC_BEG_BALN %>
    <%= f.input :AC_BUDGET1 %>
    <%= f.input :AC_BUDGET2 %>
    <%= f.input :AC_BUDGET3 %>
    <%= f.input :AC_BUDGET4 %>
    <%= f.input :AC_BUDGET5 %>
    <%= f.input :AC_BUDGET6 %>
    <%= f.input :AC_BUDGET7 %>
    <%= f.input :AC_BUDGET8 %>
    <%= f.input :AC_BUDGET9 %>
    <%= f.input :AC_BUDGET10 %>
    <%= f.input :AC_BUDGET11 %>
    <%= f.input :AC_BUDGET12 %>
    <%= f.input :AC_B13 %>
    <%= f.input :AC_L1 %>
    <%= f.input :AC_L2 %>
    <%= f.input :AC_L3 %>
    <%= f.input :AC_L4 %>
    <%= f.input :AC_L5 %>
    <%= f.input :AC_L6 %>
    <%= f.input :AC_L7 %>
    <%= f.input :AC_L8 %>
    <%= f.input :AC_L9 %>
    <%= f.input :AC_L10 %>
    <%= f.input :AC_L11 %>
    <%= f.input :AC_L12 %>
    <%= f.input :AC_L_BEG_BALN %>
    <%= f.input :AC_GROUP %>
    <%= f.input :AC_CATEGORY %>
    <%= f.input :AC_YTD %>
    <%= f.input :AC_ROLL_UP %>
    <%= f.input :AC_ACTIVE %>
    <%= f.input :AC_CK_ACCT %>
    <%= f.input :AC_DESC %>
    <%= f.input :AC_13 %>
    <%= f.input :AC_14 %>
    <%= f.input :AC_15 %>
    <%= f.input :AC_16 %>
    <%= f.input :AC_17 %>
    <%= f.input :AC_18 %>
    <%= f.input :AC_19 %>
    <%= f.input :AC_20 %>
    <%= f.input :AC_21 %>
    <%= f.input :AC_22 %>
    <%= f.input :AC_23 %>
    <%= f.input :AC_24 %>
    <%= f.input :AC_YTD2 %>
    <%= f.input :AC_CF %>
    <%= f.input :AC_RATIO %>
    <%= f.input :AC_AR_CONTROL %>
    <%= f.input :AC_AP_CONTROL %>
    <%= f.input :AC_AR_LOCK %>
    <%= f.input :AC_AP_LOCK %>
    <%= f.input :AC_DEPT %>
    <%= f.input :AC_BUDGET13 %>
    <%= f.input :AC_BUDGET14 %>
    <%= f.input :AC_BUDGET15 %>
    <%= f.input :AC_BUDGET16 %>
    <%= f.input :AC_BUDGET17 %>
    <%= f.input :AC_BUDGET18 %>
    <%= f.input :AC_BUDGET19 %>
    <%= f.input :AC_BUDGET20 %>
    <%= f.input :AC_BUDGET21 %>
    <%= f.input :AC_BUDGET22 %>
    <%= f.input :AC_BUDGET23 %>
    <%= f.input :AC_BUDGET24 %>
    <%= f.input :AC_CORP_ID %>
    <%= f.input :AC_ADDED_BY %>
    <%= f.input :AC_ADDED_WHEN %>
    <%= f.input :AC_EDITED_BY %>
    <%= f.input :AC_EDITED_WHEN %>
    <%= f.input :AC_BANK_ROUTING %>
    <%= f.input :AC_BANK_ACCT_NUM %>
    <%= f.input :AC_BANK_NAME %>
    <%= f.input :AC_BANK_LOCATION %>
    <%= f.input :AC_BANK_NUM %>
    <%= f.input :AC_ONLINE_PMT_NUM %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
