<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @account.primaryKey %>
</p>

<p>
  <strong>Ac num:</strong>
  <%= @account.AC_NUM %>
</p>

<p>
  <strong>Ac name:</strong>
  <%= @account.AC_NAME %>
</p>

<p>
  <strong>Ac class:</strong>
  <%= @account.AC_CLASS %>
</p>

<p>
  <strong>Ac sub class:</strong>
  <%= @account.AC_SUB_CLASS %>
</p>

<p>
  <strong>Ac confidential:</strong>
  <%= @account.AC_CONFIDENTIAL %>
</p>

<p>
  <strong>Ac rollup only:</strong>
  <%= @account.AC_ROLLUP_ONLY %>
</p>

<p>
  <strong>Ac ck num:</strong>
  <%= @account.AC_CK_NUM %>
</p>

<p>
  <strong>Ac pc:</strong>
  <%= @account.AC_PC %>
</p>

<p>
  <strong>Ac 1:</strong>
  <%= @account.AC_1 %>
</p>

<p>
  <strong>Ac 2:</strong>
  <%= @account.AC_2 %>
</p>

<p>
  <strong>Ac 3:</strong>
  <%= @account.AC_3 %>
</p>

<p>
  <strong>Ac 4:</strong>
  <%= @account.AC_4 %>
</p>

<p>
  <strong>Ac 5:</strong>
  <%= @account.AC_5 %>
</p>

<p>
  <strong>Ac 6:</strong>
  <%= @account.AC_6 %>
</p>

<p>
  <strong>Ac 7:</strong>
  <%= @account.AC_7 %>
</p>

<p>
  <strong>Ac 8:</strong>
  <%= @account.AC_8 %>
</p>

<p>
  <strong>Ac 9:</strong>
  <%= @account.AC_9 %>
</p>

<p>
  <strong>Ac 10:</strong>
  <%= @account.AC_10 %>
</p>

<p>
  <strong>Ac 11:</strong>
  <%= @account.AC_11 %>
</p>

<p>
  <strong>Ac 12:</strong>
  <%= @account.AC_12 %>
</p>

<p>
  <strong>Ac beg baln:</strong>
  <%= @account.AC_BEG_BALN %>
</p>

<p>
  <strong>Ac budget1:</strong>
  <%= @account.AC_BUDGET1 %>
</p>

<p>
  <strong>Ac budget2:</strong>
  <%= @account.AC_BUDGET2 %>
</p>

<p>
  <strong>Ac budget3:</strong>
  <%= @account.AC_BUDGET3 %>
</p>

<p>
  <strong>Ac budget4:</strong>
  <%= @account.AC_BUDGET4 %>
</p>

<p>
  <strong>Ac budget5:</strong>
  <%= @account.AC_BUDGET5 %>
</p>

<p>
  <strong>Ac budget6:</strong>
  <%= @account.AC_BUDGET6 %>
</p>

<p>
  <strong>Ac budget7:</strong>
  <%= @account.AC_BUDGET7 %>
</p>

<p>
  <strong>Ac budget8:</strong>
  <%= @account.AC_BUDGET8 %>
</p>

<p>
  <strong>Ac budget9:</strong>
  <%= @account.AC_BUDGET9 %>
</p>

<p>
  <strong>Ac budget10:</strong>
  <%= @account.AC_BUDGET10 %>
</p>

<p>
  <strong>Ac budget11:</strong>
  <%= @account.AC_BUDGET11 %>
</p>

<p>
  <strong>Ac budget12:</strong>
  <%= @account.AC_BUDGET12 %>
</p>

<p>
  <strong>Ac b13:</strong>
  <%= @account.AC_B13 %>
</p>

<p>
  <strong>Ac l1:</strong>
  <%= @account.AC_L1 %>
</p>

<p>
  <strong>Ac l2:</strong>
  <%= @account.AC_L2 %>
</p>

<p>
  <strong>Ac l3:</strong>
  <%= @account.AC_L3 %>
</p>

<p>
  <strong>Ac l4:</strong>
  <%= @account.AC_L4 %>
</p>

<p>
  <strong>Ac l5:</strong>
  <%= @account.AC_L5 %>
</p>

<p>
  <strong>Ac l6:</strong>
  <%= @account.AC_L6 %>
</p>

<p>
  <strong>Ac l7:</strong>
  <%= @account.AC_L7 %>
</p>

<p>
  <strong>Ac l8:</strong>
  <%= @account.AC_L8 %>
</p>

<p>
  <strong>Ac l9:</strong>
  <%= @account.AC_L9 %>
</p>

<p>
  <strong>Ac l10:</strong>
  <%= @account.AC_L10 %>
</p>

<p>
  <strong>Ac l11:</strong>
  <%= @account.AC_L11 %>
</p>

<p>
  <strong>Ac l12:</strong>
  <%= @account.AC_L12 %>
</p>

<p>
  <strong>Ac l beg baln:</strong>
  <%= @account.AC_L_BEG_BALN %>
</p>

<p>
  <strong>Ac group:</strong>
  <%= @account.AC_GROUP %>
</p>

<p>
  <strong>Ac category:</strong>
  <%= @account.AC_CATEGORY %>
</p>

<p>
  <strong>Ac ytd:</strong>
  <%= @account.AC_YTD %>
</p>

<p>
  <strong>Ac roll up:</strong>
  <%= @account.AC_ROLL_UP %>
</p>

<p>
  <strong>Ac active:</strong>
  <%= @account.AC_ACTIVE %>
</p>

<p>
  <strong>Ac ck acct:</strong>
  <%= @account.AC_CK_ACCT %>
</p>

<p>
  <strong>Ac desc:</strong>
  <%= @account.AC_DESC %>
</p>

<p>
  <strong>Ac 13:</strong>
  <%= @account.AC_13 %>
</p>

<p>
  <strong>Ac 14:</strong>
  <%= @account.AC_14 %>
</p>

<p>
  <strong>Ac 15:</strong>
  <%= @account.AC_15 %>
</p>

<p>
  <strong>Ac 16:</strong>
  <%= @account.AC_16 %>
</p>

<p>
  <strong>Ac 17:</strong>
  <%= @account.AC_17 %>
</p>

<p>
  <strong>Ac 18:</strong>
  <%= @account.AC_18 %>
</p>

<p>
  <strong>Ac 19:</strong>
  <%= @account.AC_19 %>
</p>

<p>
  <strong>Ac 20:</strong>
  <%= @account.AC_20 %>
</p>

<p>
  <strong>Ac 21:</strong>
  <%= @account.AC_21 %>
</p>

<p>
  <strong>Ac 22:</strong>
  <%= @account.AC_22 %>
</p>

<p>
  <strong>Ac 23:</strong>
  <%= @account.AC_23 %>
</p>

<p>
  <strong>Ac 24:</strong>
  <%= @account.AC_24 %>
</p>

<p>
  <strong>Ac ytd2:</strong>
  <%= @account.AC_YTD2 %>
</p>

<p>
  <strong>Ac cf:</strong>
  <%= @account.AC_CF %>
</p>

<p>
  <strong>Ac ratio:</strong>
  <%= @account.AC_RATIO %>
</p>

<p>
  <strong>Ac ar control:</strong>
  <%= @account.AC_AR_CONTROL %>
</p>

<p>
  <strong>Ac ap control:</strong>
  <%= @account.AC_AP_CONTROL %>
</p>

<p>
  <strong>Ac ar lock:</strong>
  <%= @account.AC_AR_LOCK %>
</p>

<p>
  <strong>Ac ap lock:</strong>
  <%= @account.AC_AP_LOCK %>
</p>

<p>
  <strong>Ac dept:</strong>
  <%= @account.AC_DEPT %>
</p>

<p>
  <strong>Ac budget13:</strong>
  <%= @account.AC_BUDGET13 %>
</p>

<p>
  <strong>Ac budget14:</strong>
  <%= @account.AC_BUDGET14 %>
</p>

<p>
  <strong>Ac budget15:</strong>
  <%= @account.AC_BUDGET15 %>
</p>

<p>
  <strong>Ac budget16:</strong>
  <%= @account.AC_BUDGET16 %>
</p>

<p>
  <strong>Ac budget17:</strong>
  <%= @account.AC_BUDGET17 %>
</p>

<p>
  <strong>Ac budget18:</strong>
  <%= @account.AC_BUDGET18 %>
</p>

<p>
  <strong>Ac budget19:</strong>
  <%= @account.AC_BUDGET19 %>
</p>

<p>
  <strong>Ac budget20:</strong>
  <%= @account.AC_BUDGET20 %>
</p>

<p>
  <strong>Ac budget21:</strong>
  <%= @account.AC_BUDGET21 %>
</p>

<p>
  <strong>Ac budget22:</strong>
  <%= @account.AC_BUDGET22 %>
</p>

<p>
  <strong>Ac budget23:</strong>
  <%= @account.AC_BUDGET23 %>
</p>

<p>
  <strong>Ac budget24:</strong>
  <%= @account.AC_BUDGET24 %>
</p>

<p>
  <strong>Ac corp id:</strong>
  <%= @account.AC_CORP_ID %>
</p>

<p>
  <strong>Ac added by:</strong>
  <%= @account.AC_ADDED_BY %>
</p>

<p>
  <strong>Ac added when:</strong>
  <%= @account.AC_ADDED_WHEN %>
</p>

<p>
  <strong>Ac edited by:</strong>
  <%= @account.AC_EDITED_BY %>
</p>

<p>
  <strong>Ac edited when:</strong>
  <%= @account.AC_EDITED_WHEN %>
</p>

<p>
  <strong>Ac bank routing:</strong>
  <%= @account.AC_BANK_ROUTING %>
</p>

<p>
  <strong>Ac bank acct num:</strong>
  <%= @account.AC_BANK_ACCT_NUM %>
</p>

<p>
  <strong>Ac bank name:</strong>
  <%= @account.AC_BANK_NAME %>
</p>

<p>
  <strong>Ac bank location:</strong>
  <%= @account.AC_BANK_LOCATION %>
</p>

<p>
  <strong>Ac bank num:</strong>
  <%= @account.AC_BANK_NUM %>
</p>

<p>
  <strong>Ac online pmt num:</strong>
  <%= @account.AC_ONLINE_PMT_NUM %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
