<%= simple_form_for(@schedule_chart) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primaryKey %>
    <%= f.input :SC_J_NUM %>
    <%= f.input :SC_1 %>
    <%= f.input :SC_2 %>
    <%= f.input :SC_3 %>
    <%= f.input :SC_4 %>
    <%= f.input :SC_5 %>
    <%= f.input :SC_6 %>
    <%= f.input :SC_7 %>
    <%= f.input :SC_8 %>
    <%= f.input :SC_9 %>
    <%= f.input :SC_10 %>
    <%= f.input :SC_11 %>
    <%= f.input :SC_12 %>
    <%= f.input :SC_CLIENT_NUM %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
