<p id="notice"><%= notice %></p>

<p>
  <strong>Primarykey:</strong>
  <%= @schedule_chart.primaryKey %>
</p>

<p>
  <strong>Sc j num:</strong>
  <%= @schedule_chart.SC_J_NUM %>
</p>

<p>
  <strong>Sc 1:</strong>
  <%= @schedule_chart.SC_1 %>
</p>

<p>
  <strong>Sc 2:</strong>
  <%= @schedule_chart.SC_2 %>
</p>

<p>
  <strong>Sc 3:</strong>
  <%= @schedule_chart.SC_3 %>
</p>

<p>
  <strong>Sc 4:</strong>
  <%= @schedule_chart.SC_4 %>
</p>

<p>
  <strong>Sc 5:</strong>
  <%= @schedule_chart.SC_5 %>
</p>

<p>
  <strong>Sc 6:</strong>
  <%= @schedule_chart.SC_6 %>
</p>

<p>
  <strong>Sc 7:</strong>
  <%= @schedule_chart.SC_7 %>
</p>

<p>
  <strong>Sc 8:</strong>
  <%= @schedule_chart.SC_8 %>
</p>

<p>
  <strong>Sc 9:</strong>
  <%= @schedule_chart.SC_9 %>
</p>

<p>
  <strong>Sc 10:</strong>
  <%= @schedule_chart.SC_10 %>
</p>

<p>
  <strong>Sc 11:</strong>
  <%= @schedule_chart.SC_11 %>
</p>

<p>
  <strong>Sc 12:</strong>
  <%= @schedule_chart.SC_12 %>
</p>

<p>
  <strong>Sc client num:</strong>
  <%= @schedule_chart.SC_CLIENT_NUM %>
</p>

<%= link_to 'Edit', edit_schedule_chart_path(@schedule_chart) %> |
<%= link_to 'Back', schedule_charts_path %>
